Repository operator-framework/community-operators, pull requests merged in 2019-10, with the labels that each got.

#721 Bugfix release for dynatrace oneagent v0.4.2
  upstream-community-operators/oneagent/dynatrace-monitoring.v0.4.2.clusterserviceversion.yaml
  upstream-community-operators/oneagent/dynatrace.package.yaml
Labels: kubernetes-operator, size/S

#725 Adding new 0.8.2 kn kafka operator
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.v0.8.2.clusterserviceversion-v0.8.2.yaml
Labels: openshift-operator, size/L

#713 Adding new 0.8.0 kn eventing operator
  community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
  community-operators/knative-eventing-operator/knative-eventing-operator.v0.8.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#729 MongoDB Enterprise Operator 1.2.4
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.v1.2.4.clusterserviceversion.yaml
Labels: kubernetes-operator, needs-ok-to-test, size/XL

#727 Update Appsody Operator to release 0.2.0
  upstream-community-operators/appsody-operator/appsody-operator.package.yaml
  upstream-community-operators/appsody-operator/appsody-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/appsody-operator/appsody_v1beta1_appsodyapplication_crd.yaml
Labels: kubernetes-operator, size/L

#726 Bump Quay version v0.0.7
  community-operators/quay/quay.package.yaml
  community-operators/quay/quay.v0.0.7.clusterserviceversion-v0.0.7.yaml
Labels: openshift-operator, size/L

#731 Rename clickhouse-operator into clickhouse. Step 1. Delete clickhouse…
  upstream-community-operators/clickhouse-operator/clickhouse-operator.package.yaml
  upstream-community-operators/clickhouse-operator/clickhouse-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse-operator/clickhouseinstallation.crd.yaml
  upstream-community-operators/clickhouse-operator/clickhouseinstallationtemplate.crd.yaml
Labels: kubernetes-operator, needs-ok-to-test, size/XXL

#732 Rename clickhouse-operator into clickhouse. Step 2. Add clickhouse fo…
  upstream-community-operators/clickhouse/clickhouse-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/clickhouse-operator.v0.6.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
  upstream-community-operators/clickhouse/clickhouseinstallation.crd.yaml
  upstream-community-operators/clickhouse/clickhouseinstallationtemplate.crd.yaml
  upstream-community-operators/clickhouse/clickhouseoperatorconfiguration.crd.yaml
Labels: kubernetes-operator, needs-ok-to-test, size/XXL

#659 noobaa v1.1.0 - fix require CRDs from lib-bucket-provisioner
  upstream-community-operators/noobaa/noobaa-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/noobaa/objectbucket_v1alpha1_ob_crd.yaml
  upstream-community-operators/noobaa/objectbucket_v1alpha1_obc_crd.yaml
Labels: kubernetes-operator, size/M

#714 Infinispan upstream 1.0.0.alpha4
  upstream-community-operators/infinispan/infinispan-operator.v1.0.0.Alpha4.clusterserviceversion.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator, size/L

#650 Add EnMasse 0.29.1 for OpenShift
  community-operators/enmasse/enmasse.0.29.1.clusterserviceversion.yaml
  community-operators/enmasse/enmasse.package.yaml
Labels: openshift-operator, size/XXL

#738 Synopsys Operator 2019.8.4 made and tested
  upstream-community-operators/synopsys/synopsys-operator.2019.8.4.clusterserviceversion.yaml
  upstream-community-operators/synopsys/synopsys-operator.package.yaml
Labels: kubernetes-operator, size/XL

#745 fix KUBECONFIG
  Makefile
  docs/using-scripts.md
  scripts/ci/check-kubeconfig
Labels: size/S

#741 Updated for 0.14.0 version
  upstream-community-operators/strimzi-kafka-operator/kafkabridges.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkaconnects.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkaconnects2is.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkamirrormakers.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkatopics.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkausers.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.14.0.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#751 Fix capabilities
  upstream-community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.14.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#750 Bump Kiali capabilities to Deep Insights
  community-operators/kiali/1.4.2/kiali.v1.4.2.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#753 Add Cassandra operator
  upstream-community-operators/cassandra/cassandra-operator.package.yaml
  upstream-community-operators/cassandra/cassandra-operator.v2.0.0.clusterserviceversion.yaml
  upstream-community-operators/cassandra/cassandraoperator_v1alpha1_cassandrabackup_crd.yaml
  upstream-community-operators/cassandra/cassandraoperator_v1alpha1_cassandracluster_crd.yaml
  upstream-community-operators/cassandra/cassandraoperator_v1alpha1_cassandradatacenter_crd.yaml
Labels: kubernetes-operator, size/L

#746 Avoid docker pull -q
  Makefile
Labels: size/XS

#744 Upgrade Knative Camel to 0.8.2
  community-operators/knative-camel-operator/camelsource.crd.yaml
  community-operators/knative-camel-operator/knative-camel-operator.package.yaml
  community-operators/knative-camel-operator/knative-camel-operator.v0.8.2.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#734 Update capabilities to Deep Insights
  community-operators/3scale-community-operator/3scale-community-operator.v0.3.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#754 Update Cassandra operator maintainers list
  upstream-community-operators/cassandra/cassandra-operator.v2.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#755 Bump halkyon to version 0.1.8 - k8s
  upstream-community-operators/halkyon/halkyon.package.yaml
  upstream-community-operators/halkyon/halkyon.v0.1.8.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#758 improve start minikube nad fix kubeconfig problem
  Makefile
  scripts/ci/check-kubeconfig
  scripts/ci/start-minikube
Labels: size/M

#752 Update StorageOS Operator to version 1.4.1
  upstream-community-operators/storageos/storageos.package.yaml
  upstream-community-operators/storageos/storageos.v1.4.1.clusterserviceversion.yaml
  upstream-community-operators/storageos/storageoscluster.crd.yaml
  upstream-community-operators/storageos/storageosjob.crd.yaml
  upstream-community-operators/storageos/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/storageosupgrade.crd.yaml
Labels: kubernetes-operator, size/XL

#759 fix package name
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: kubernetes-operator, size/XS

#760 Add Camel K v1.0.0-M2 to community operators
  community-operators/camel-k/camel-k.package.yaml
  community-operators/camel-k/camel-k.v1.0.0-M2-clusterserviceversion.yaml
  community-operators/camel-k/crd-integration.yaml
Labels: openshift-operator, size/L

#761 Add Camel K v1.0.0-M2 to upstream community operators
  upstream-community-operators/camel-k/camel-k.package.yaml
  upstream-community-operators/camel-k/camel-k.v1.0.0-M2-clusterserviceversion.yaml
  upstream-community-operators/camel-k/crd-integration.yaml
Labels: kubernetes-operator, size/L

#769 Bump halkyon to version 0.1.9 for openshift
  community-operators/halkyon/halkyon.package.yaml
  community-operators/halkyon/halkyon.v0.1.9.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#748 Bump kiali capabilities to Deep Insights
  upstream-community-operators/kiali/kiali.v1.4.2.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#775 [kiali] [upstream] re-organize the files to use nested format.
  upstream-community-operators/kiali/0.18.1/kiali.crd.yaml
  upstream-community-operators/kiali/0.18.1/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/0.18.1/kiali.v0.18.1.clusterserviceversion.yaml
  upstream-community-operators/kiali/1.1.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.1.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.1.0/kiali.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/1.3.1/kiali.crd.yaml
  upstream-community-operators/kiali/1.3.1/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.3.1/kiali.v1.3.1.clusterserviceversion.yaml
  upstream-community-operators/kiali/1.4.2/kiali.crd.yaml
  upstream-community-operators/kiali/1.4.2/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.4.2/kiali.v1.4.2.clusterserviceversion.yaml
  upstream-community-operators/kiali/1.6.1/kiali.crd.yaml
  upstream-community-operators/kiali/1.6.1/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.6.1/kiali.v1.6.1.clusterserviceversion.yaml
  upstream-community-operators/kiali/1.7.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.7.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.7.0/kiali.v1.7.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#777 Updating Kogito Cloud Operator to 0.5.0
  community-operators/kogito-cloud-operator/kogito-cloud-operator.package.yaml
  community-operators/kogito-cloud-operator/kogito-cloud-operator.v0.5.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#773 Operator install and cleanup
  Makefile
  scripts/ci/check-kubeconfig
  scripts/ci/cleanup
  scripts/ci/install-olm
  scripts/ci/make-tmp
  scripts/ci/run-wrapper
  scripts/ci/testscript-wrapper
  scripts/lib-python/files/create_operator_group_file.py
  scripts/lib/file
  scripts/utils/Makefile
Labels: size/M

#740 Updated for 0.14.0 version
  community-operators/strimzi-kafka-operator/kafkabridges.crd.yaml
  community-operators/strimzi-kafka-operator/kafkaconnects.crd.yaml
  community-operators/strimzi-kafka-operator/kafkaconnects2is.crd.yaml
  community-operators/strimzi-kafka-operator/kafkamirrormakers.crd.yaml
  community-operators/strimzi-kafka-operator/kafkatopics.crd.yaml
  community-operators/strimzi-kafka-operator/kafkausers.crd.yaml
  community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.14.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: openshift-operator, size/XXL

#776 Update contribution guide with Bundle editor entry
  docs/contributing.md
Labels: size/XS

#756 Update OpenShift Pipelines to 0.7
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.v0.7.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#724 Updating Portworx operator to 1.0.6
  upstream-community-operators/portworx/portworxoperator.package.yaml
  upstream-community-operators/portworx/portworxoperator.v1.0.6.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#784 Cleanmode fix
  Makefile
  scripts/ci/scorecard
  scripts/lib/cluster
Labels: size/XS

#789 operator-install fix
  scripts/ci/testscript-wrapper
Labels: size/XS

#785 Update instana agent operator
  upstream-community-operators/instana-agent/instana-agent.crd.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
  upstream-community-operators/instana-agent/instana-agent.v0.0.2.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.v0.0.3.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.v0.0.4.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.v0.0.5.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.v0.1.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#792 Update capabilities to Deep Insights
  upstream-community-operators/spark-gcp/sparkoperator.2.4.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#793 Update eclipse-che operator for kubernetes to release 7.3.0
  upstream-community-operators/eclipse-che/eclipse-che.crd.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
  upstream-community-operators/eclipse-che/eclipse-che.v7.3.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XL

#794 Update eclipse-che operator for openshift to release 7.3.0
  community-operators/eclipse-che/eclipse-che.crd.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
  community-operators/eclipse-che/eclipse-che.v7.3.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XL

#788 OpenShift Pipelines: fix rbac issues
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.v0.7.0.clusterserviceversion.yaml
Labels: openshift-operator, size/M

#598 Removed vscode excluded files
  .gitignore
Labels: size/XS

#798 Docu changes
  docs/pull_request_template.md
  docs/testing-operators.md
Labels: size/L

#801 Update Federator.ai operator to v4.2.301 for upstream-community-operators
  upstream-community-operators/federatorai/federatorai.package.yaml
  upstream-community-operators/federatorai/federatorai.v4.2.301.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XL

#780 Update Banzai Cloud kafka operator to 0.6.1
  upstream-community-operators/banzaicloud-kafka-operator/banzaicloud-kafka-operator.0.6.1.clusterserviceversion.yaml
  upstream-community-operators/banzaicloud-kafka-operator/banzaicloud-kafka-operator.package.yaml
  upstream-community-operators/banzaicloud-kafka-operator/kafkacluster.crd.yaml
  upstream-community-operators/banzaicloud-kafka-operator/kafkatopic.crd.yaml
  upstream-community-operators/banzaicloud-kafka-operator/kafkauser.crd.yaml
Labels: kubernetes-operator, size/XXL

#717 Add lightbend console operator to community
  community-operators/lightbend-console-operator/consoles.app.lightbend.com.crd.yaml
  community-operators/lightbend-console-operator/lightbend-console-operator.package.yaml
  community-operators/lightbend-console-operator/lightbend-console-operator.v0.0.1.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#802 (litmus)(csv): add csv for litmus 0.7.0
  upstream-community-operators/litmus/chaosoperator.crd.yaml
  upstream-community-operators/litmus/chaosoperator.package.yaml
  upstream-community-operators/litmus/chaosoperator.v0.7.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#805 Change deployment name to fix upgrade failure on OCP 4.1
  community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.14.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#806 Changed deployment name to fix upgrade failure on OCP 4.1
  upstream-community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.14.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#795 Update capabilities to Deep Insights
  community-operators/syndesis/syndesisoperator.1.7.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#791 Update capabilities to Deep Insights
  community-operators/spark-gcp/sparkoperator.2.4.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#797 Adds service binding operator to community-operators
  community-operators/service-binding-operator/0.0.20/service-binding-operator.v0.0.20.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.0.20/servicebindingrequests.apps.openshift.io.crd.yaml
  community-operators/service-binding-operator/service-binding-operator.package.yaml
Labels: openshift-operator, size/L

#807 correctly determine kube master
  scripts/ci/check-kubeconfig
Labels: size/M

#803 Testing with op ver fix
  scripts/ci/cleanup
  scripts/ci/env
  scripts/ci/make-tmp
  scripts/ci/run-wrapper
  scripts/ci/start-minikube
  scripts/ci/test-operator
  scripts/lib-python/cluster/get_operator_channel.py
Labels: size/L

#810 fixed mismatch in CRD version and csv definition of owned crd
  upstream-community-operators/banzaicloud-kafka-operator/0.3.1/kafkaclusters.kafka.banzaicloud.io.crd.yaml
Labels: kubernetes-operator, size/XXL

#796 Add a package for the Submariner operator
  community-operators/submariner/0.0.1/clusters.submariner.io.crd.yaml
  community-operators/submariner/0.0.1/endpoints.submariner.io.crd.yaml
  community-operators/submariner/0.0.1/submariner-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/submariner/0.0.1/submariners.submariner.io.crd.yaml
  community-operators/submariner/submariner-operator.package.yaml
Labels: openshift-operator, size/XL

#814 fixing slight typos
  docs/contributing.md
Labels: size/XS

#815 fix problem with travis ci
  scripts/ci/test-operator
Labels: size/XS

#818 Add MongoDB Enterprise 1.3.0 manifest
  upstream-community-operators/mongodb-enterprise/1.3.0/mongodb-enterprise.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.3.0/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.3.0/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.3.0/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator, size/XL

#816 Add MinIO Operator to OperatorHub.io
  upstream-community-operators/minio-operator/1.0.3/minio-operator.v1.0.3.clusterserviceversion.yaml
  upstream-community-operators/minio-operator/1.0.3/minioinstances.miniocontroller.min.io.crd.yaml
  upstream-community-operators/minio-operator/minio-operator.package.yaml
Labels: kubernetes-operator, size/L

#820 Rqlite operator
  upstream-community-operators/rqlite-operator/0.0.1/rqcluster.example.com_rqclusters_crd.yaml
  upstream-community-operators/rqlite-operator/0.0.1/rqlite-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/rqlite-operator/rqlite-operator.package.yaml
Labels: kubernetes-operator, size/L

#826 Fix formatting in docs testing operator operator courier push
  docs/testing-operators.md
Labels: size/XS

#827 Update Federator.ai operator to v4.2.301 for community-operators
  community-operators/federatorai/4.2.301/alamedaservices.federatorai.containers.ai.crd.yaml
  community-operators/federatorai/4.2.301/federatorai.v4.2.301.clusterserviceversion.yaml
  community-operators/federatorai/federatorai.package.yaml
Labels: openshift-operator, size/XL

#828 suppress the operator-courier nest warning
  scripts/ci/env
  scripts/ci/test-operator
Labels: size/XS

#832 namespace-configuration-operator new version
  community-operators/namespace-configuration-operator/0.0.1/namespace-configuration-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.0.1/redhatcop_v1alpha1_namespaceconfig_crd.yaml
  community-operators/namespace-configuration-operator/0.0.2/namespace-configuration-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.0.2/redhatcop_v1alpha1_namespaceconfig_crd.yaml
  community-operators/namespace-configuration-operator/0.1.0/namespace-configuration-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.1.0/redhatcop_v1alpha1_namespaceconfig_crd.yaml
  community-operators/namespace-configuration-operator/namespace-configuration-operator.package.yaml
Labels: openshift-operator, size/XL

#823 WIP: Adding 0.9.0 Knative Eventing Kafka operator
  community-operators/knative-kafka-operator/0.9.0/knative-kafka-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.9.0/knativeeventingkafkas.eventing.knative.dev.crd.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
Labels: do-not-merge/work-in-progress, size/L

#835 Update Appsody Operator to release 0.2.1
  upstream-community-operators/appsody-operator/0.2.1/appsody-operator.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/appsody-operator/0.2.1/appsodyapplications.appsody.dev.crd.yaml
  upstream-community-operators/appsody-operator/appsody-operator.package.yaml
Labels: kubernetes-operator, size/XL

#825 [community] Updated Infinispan Operator to 1.0.1
  community-operators/infinispan/1.0.1/infinispan-operator.v1.0.1.clusterserviceversion.yaml
  community-operators/infinispan/1.0.1/infinispans.infinispan.org.crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: openshift-operator, size/L

#838 Remove Appsody community operator (duplicate)
  community-operators/appsody-community-operator/0.1.0/appsody-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/appsody-community-operator/0.1.0/appsodyapplications.appsody.dev.crd.yaml
  community-operators/appsody-community-operator/appsody-community-operator.package.yaml
Labels: openshift-operator, size/L
