Repository operator-framework/community-operators, pull requests merged in 2019-06, with the labels that each got.

#310 Add opendatahub-operator to the community-operators
  community-operators/opendatahub-operator/opendatahub-operator.package.yaml
  community-operators/opendatahub-operator/opendatahub-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/opendatahub-operator/opendatahub_v1alpha1_opendatahub.crd.yaml
Labels: size/XL

#401 Revamp testing docs
  docs/ci.md
  docs/images/my-operator-in-hub.png
  docs/images/my-operator-install.png
  docs/images/my-operator-installed.png
  docs/images/my-operator-subscribed.png
  docs/images/my-operator-subscription.png
  docs/testing-operators.md
Labels: size/L

#210 [upstream] Add Postgres-Operator from Zalando
  upstream-community-operators/postgres-operator/postgres-operator.crd.yaml
  upstream-community-operators/postgres-operator/postgres-operator.package.yaml
  upstream-community-operators/postgres-operator/postgres-operator.v1.2.0.clusterserviceversion.yaml
Labels: manual-test-needed, needs-ok-to-test, size/L

#409 contribution documentation
  README.md
  docs/contributing.md
  docs/pull_request_template.md
  docs/testing-operators.md
Labels: lgtm, size/L

#300 Add ffdl operator
  upstream-community-operators/ffdl/ffdl-operator.package.yaml
  upstream-community-operators/ffdl/ffdl-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/ffdl/openaihub_v1alpha1_ffdl_crd.yaml
Labels: lgtm, size/L

#382 CRW-288 update CRW operator for v1.2 release...
  redhat-operators/codeready-workspaces/codeready-workspaces.1.2.0.clusterserviceversion.yaml
  redhat-operators/codeready-workspaces/codeready-workspaces.package.yaml
Labels: needs-ok-to-test, size/S

#414 Revert "CRW-288 update CRW operator for v1.2 release..."
  redhat-operators/codeready-workspaces/codeready-workspaces.1.1.0.clusterserviceversion.yaml
  redhat-operators/codeready-workspaces/codeready-workspaces.package.yaml
Labels: size/S

#384 Add community Eclipse Che operator (for downstream operators)
  community-operators/eclipse-che/eclipse-che.7.0.0-beta-5.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.crd.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: size/L

#415 Correcting provider name for knative operators
  community-operators/knative-eventing-operator/knative-eventing-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/knative-serving-operator/knative-serving-operator.v0.6.0.clusterserviceversion.yaml
Labels: size/XS

#412 Fix configuration for Zalando Postgres-Operator
  upstream-community-operators/postgres-operator/operatorconfiguration.crd.yaml
  upstream-community-operators/postgres-operator/postgres-operator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/postgres-operator/postgresql.crd.yaml
Labels: lgtm, needs-ok-to-test, size/L

#400 cert-util-operator
  community-operators/cert-utils-operator/cert-utils-operator.package.yaml
  community-operators/cert-utils-operator/cert-utils-operator.v0.0.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#419 Knative Serving: fix example CR and support only AllNamespaces installmode
  community-operators/knative-serving-operator/knative-serving-operator.v0.6.0.clusterserviceversion.yaml
Labels: size/M

#370 Add EnMasse - Operator for self-service messaging on OpenShift
  community-operators/enmasse/addressplans.crd.yaml
  community-operators/enmasse/addressspaceplans.crd.yaml
  community-operators/enmasse/authenticationservices.crd.yaml
  community-operators/enmasse/brokeredinfraconfigs.crd.yaml
  community-operators/enmasse/consoleservices.crd.yaml
  community-operators/enmasse/enmasse.0.28.0.clusterserviceversion.yaml
  community-operators/enmasse/enmasse.package.yaml
  community-operators/enmasse/iotconfigs.crd.yaml
  community-operators/enmasse/standardinfraconfigs.crd.yaml
Labels: ok-to-test, size/XXL

#421 Add AtlasMap operator to community-operators
  community-operators/atlasmap-operator/atlasmap-operator.crd.yaml
  community-operators/atlasmap-operator/atlasmap-operator.package.yaml
  community-operators/atlasmap-operator/atlasmap-operator.v0.1.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#424 First release of knative-camel operator
  community-operators/knative-camel-operator/camelsource.crd.yaml
  community-operators/knative-camel-operator/knative-camel-operator.package.yaml
  community-operators/knative-camel-operator/knative-camel-operator.v0.6.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#373 Add apicurito operator to community
  community-operators/apicurito/apicurito.crd.yaml
  community-operators/apicurito/apicurito.package.yaml
  community-operators/apicurito/apicuritooperator.v0.1.0.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/L

#430 Add AtlasMap operator to upstream-community-operators
  upstream-community-operators/atlasmap-operator/atlasmap-operator.crd.yaml
  upstream-community-operators/atlasmap-operator/atlasmap-operator.package.yaml
  upstream-community-operators/atlasmap-operator/atlasmap-operator.v0.1.0.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#422 Reflecting install changes for autoinstall of eventing
  community-operators/knative-eventing-operator/knative-eventing-operator.v0.6.0.clusterserviceversion.yaml
Labels: size/XS

#255 Initial TriggerMesh operator submission
  community-operators/triggermesh/triggermesh.package.yaml
  community-operators/triggermesh/triggermesh.v0.0.1.clusterserviceversion.yaml
  community-operators/triggermesh/triggermesh_crd.yaml
Labels: manual-test-needed, needs-ok-to-test, size/L

#403 added microsegmentation operator
  community-operators/microsegmentation-operator/microsegmentation-operator.package.yaml
  community-operators/microsegmentation-operator/microsegmentation-operator.v0.0.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#404 added namespace configuration operator
  community-operators/namespace-configuration-operator/namespace-configuration-operator.package.yaml
  community-operators/namespace-configuration-operator/namespace-configuration-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/redhatcop_v1alpha1_namespaceconfig_crd.yaml
Labels: needs-ok-to-test, size/L

#431 Add Sematext operator to upstream-community-operators
  upstream-community-operators/sematext/sematext-operator.v1.0.8.clusterserviceversion.yaml
  upstream-community-operators/sematext/sematext.package.yaml
  upstream-community-operators/sematext/sematext.sematextagent.crd.yaml
Labels: needs-ok-to-test, size/L

#446 Add TiDB Operator to upstream-community-operators
  upstream-community-operators/tidb-operator/tidb-operator.1.0.0-beta1.clusterserviceversion.yaml
  upstream-community-operators/tidb-operator/tidb-operator.crd.yaml
  upstream-community-operators/tidb-operator/tidb-operator.package.yaml
Labels: needs-ok-to-test, size/L

#441 Elastic Cloud on k8s 0.8.0: list all CRDs owned by the operator
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.v0.8.0.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/M

#434 Add Camel K v0.3.4 to community operators
  community-operators/camel-k/camel-k.package.yaml
  community-operators/camel-k/camel-k.v0.3.4.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#435 Add syndesis manifest files for community operators
  community-operators/syndesis/syndesis.crd.yaml
  community-operators/syndesis/syndesis.package.yaml
  community-operators/syndesis/syndesisoperator.1.7.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#433 Add Camel K v0.3.4 to upstream community operators
  upstream-community-operators/camel-k/camel-k.package.yaml
  upstream-community-operators/camel-k/camel-k.v0.3.4.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#439 Add Open Liberty operator to upstream kubernetes operators
  upstream-community-operators/open-liberty/open-liberty.0.0.1.clusterserviceversion.yaml
  upstream-community-operators/open-liberty/open-liberty.crd.yaml
  upstream-community-operators/open-liberty/open-liberty.package.yaml
Labels: needs-ok-to-test, size/XXL

#278 add Banzai Cloud hpa-operator
  upstream-community-operators/hpa-operator/hpa-operator.v0.1.6.clusterserviceversion.yaml
  upstream-community-operators/hpa-operator/hpa.package.yaml
Labels: lgtm, ok-to-test, size/L

#395 Adding Seldon Go Operator for machine learning orchestration
  upstream-community-operators/seldon-operator/seldonoperator.crd.yaml
  upstream-community-operators/seldon-operator/seldonoperator.package.yaml
  upstream-community-operators/seldon-operator/seldonoperator.v0.1.2.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#448 [upstream-community-operators/sematext] Update to new release
  upstream-community-operators/sematext/sematext-operator.v1.0.9.clusterserviceversion.yaml
  upstream-community-operators/sematext/sematext.package.yaml
Labels: needs-ok-to-test, size/L

#438 Upstream operators: updated KubeVirt to version 0.18.1
  upstream-community-operators/kubevirt/kubevirtoperator.package.yaml
  upstream-community-operators/kubevirt/kubevirtoperator.v0.18.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/XL

#417 Add openshift-pipelines-opeator v0.4.0 CSV
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.v0.3.1.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.v0.4.0.clusterserviceversion.yaml
Labels: size/L

#426 Add WildFly Operator 0.2.0
  upstream-community-operators/wildfly/wildfly-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/wildfly/wildfly.package.yaml
Labels: needs-ok-to-test, size/L

#423 Fixed links to CSV docs
  docs/contributing.md
Labels: lgtm, needs-ok-to-test, size/XS

#432 Bump Jaeger to 1.12.1 in community operators
  community-operators/jaeger/jaeger.package.yaml
  community-operators/jaeger/jaeger.v1.12.1.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#449 WildFly Operator 0.2.0
  upstream-community-operators/wildfly/wildfly-operator.v0.2.0.clusterserviceversion.yaml
Labels: ok-to-test, size/XS

#427 Bump Jaeger to 1.12.1 in upstream operators
  upstream-community-operators/jaeger/jaeger.package.yaml
  upstream-community-operators/jaeger/jaeger.v1.12.1.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#450 Updating the documentation link to docs.robin.io
  upstream-community-operators/robin-operator/robin-operator.v5.1.1.clusterserviceversion.yaml
Labels: ok-to-test, size/XS

#440 Initial commit of open liberty to community_operators
  community-operators/open-liberty/open-liberty.0.0.1.clusterserviceversion.yaml
  community-operators/open-liberty/open-liberty.crd.yaml
  community-operators/open-liberty/open-liberty.package.yaml
Labels: approved, ok-to-test, size/XXL

#420 Add Knative Eventing Kafka operator 0.6.0
  community-operators/knative-kafka-operator/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.v0.6.0.clusterserviceversion-v0.6.0.yaml
Labels: size/L

#452 Adding correct install modes
  community-operators/knative-kafka-operator/knative-kafka-operator.v0.6.0.clusterserviceversion-v0.6.0.yaml
Labels: size/XS
