Repository operator-framework/community-operators, pull requests merged in 2019-08, with the labels that each got.

#504 rename bundle dir to match package name
  community-operators/awss3-operator-registry/awss3operator.1.0.0.clusterserviceversion.yaml
  community-operators/awss3-operator-registry/awss3operator.1.0.1.clusterserviceversion.yaml
  community-operators/awss3-operator-registry/awss3operator.objectbucket.crd.yaml
  community-operators/awss3-operator-registry/awss3operator.objectbucketclaims.crd.yaml
  community-operators/awss3-operator-registry/awss3operator.package.yaml
Labels: size/XS

#570 add PR labels based on prow filters
  OWNERS
Labels: do-not-merge/invalid-owners-file, size/XS

#572 add approver
  OWNERS
Labels: size/XS

#578 Add seldon v0.1.4 to use updated controller image
  upstream-community-operators/seldon-operator/seldonoperator.package.yaml
  upstream-community-operators/seldon-operator/seldonoperator.v0.1.4.clusterserviceversion.yaml
Labels: kubernetes-operator, ok-to-test, size/L

#577 Add seldon v0.1.4 to use updated controller image
  community-operators/seldon-operator/seldonoperator.package.yaml
  community-operators/seldon-operator/seldonoperator.v0.1.4.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, size/L

#402 Add Banzai Cloud Kafka Operator to upstream-community-operators
  upstream-community-operators/banzaicloud-kafka-operator/banzaicloud-kafka-operator.0.3.1.clusterserviceversion.yaml
  upstream-community-operators/banzaicloud-kafka-operator/banzaicloud-kafka-operator.package.yaml
  upstream-community-operators/banzaicloud-kafka-operator/kafkacluster.crd.yaml
Labels: ok-to-test, size/XL

#568 [Upstream-community] PSMDB operator update to 1.1.0
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb.package.yaml
Labels: kubernetes-operator, ok-to-test, size/L

#567 [Upstream-community] Percona XtraDB Cluster operator update to 1.1.0
  upstream-community-operators/percona-xtradb-cluster/percona-xtradb-cluster-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/percona-xtradb-cluster/percona-xtradb-cluster.package.yaml
Labels: kubernetes-operator, ok-to-test, size/L

#581 Support cluster scoped deployments of kubefed-operator on Kube (operatorhub.io)
  upstream-community-operators/kubefed-operator/kubefed-operator.v0.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#582 add esindex-operator to community-operators
  community-operators/esindex-operator/ibmcloud_operator.package.yaml
  community-operators/esindex-operator/ibmcloud_operator.v0.1.0.clusterserviceversion.yaml
  community-operators/esindex-operator/ibmcloud_operator_v1alpha1_esindex.crd.yaml
Labels: openshift-operator, size/L

#579 Fixes operator installing old paylod bug
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.v0.5.2.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, size/S

#583 Updating Portworx operator to 1.0.5
  upstream-community-operators/portworx/core_v1alpha1_storagecluster_crd.yaml
  upstream-community-operators/portworx/core_v1alpha1_storagenodestatus_crd.yaml
  upstream-community-operators/portworx/portworxoperator.package.yaml
  upstream-community-operators/portworx/portworxoperator.v1.0.5.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#249 [community][upstream] Add IoT simulator operator
  community-operators/iot-simulator/iot-simulator-simulatorconsumers.crd.yaml
  community-operators/iot-simulator/iot-simulator-simulatorproducers.crd.yaml
  community-operators/iot-simulator/iot-simulator-simulators.crd.yaml
  community-operators/iot-simulator/iot-simulator.0.1.0.clusterserviceversion.yaml
  community-operators/iot-simulator/iot-simulator.package.yaml
Labels: manual-test-needed, ok-to-test, openshift-operator, size/L

#587 Update Elastic Cloud on Kubernetes operator logo
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.v0.8.0.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.v0.9.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#585 Update all github link to metering repo to use 4.1 release
  community-operators/metering/meteringoperator.v4.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/S

#588 add esindex-operator to upstream-community-operators
  upstream-community-operators/esindex-operator/ibmcloud_operator.package.yaml
  upstream-community-operators/esindex-operator/ibmcloud_operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/esindex-operator/ibmcloud_operator_v1alpha1_esindex.crd.yaml
Labels: kubernetes-operator, size/L

#363 turbonomic operator
  community-operators/t8c/t8c-operator.crd.yaml
  community-operators/t8c/t8c-operator.package.yaml
  community-operators/t8c/t8c-operator.v7.16.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, openshift-operator, size/L

#591 Fixed Travis build error for upstream operator with alpha numeric name
  scripts/ci/operators-env
Labels: lgtm, size/XS

#399 turbonomic operator upstream
  upstream-community-operators/t8c/t8c-operator.crd.yaml
  upstream-community-operators/t8c/t8c-operator.package.yaml
  upstream-community-operators/t8c/t8c-operator.v7.16.0.clusterserviceversion.yaml
Labels: kubernetes-operator, needs-ok-to-test, size/L

#594 turbonomic operator upstream 7.17 update
  upstream-community-operators/t8c/t8c-operator.package.yaml
  upstream-community-operators/t8c/t8c-operator.v7.17.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#593 turbomic operator update to 7.17
  community-operators/t8c/t8c-operator.package.yaml
  community-operators/t8c/t8c-operator.v7.17.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#408 Add awss3operator to upstream-community-operators
  upstream-community-operators/awss3operator/awss3operator.objectbucket.crd.yaml
  upstream-community-operators/awss3operator/awss3operator.objectbucketclaims.crd.yaml
  upstream-community-operators/awss3operator/awss3operator.package.yaml
  upstream-community-operators/awss3operator/awss3operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/awss3operator/awss3operator.v1.0.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XL

#530 Updated for upstream community operator Strimzi 0.12.2
  upstream-community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.12.2.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, size/XXL

#398 kubeturbo operator upstream
  upstream-community-operators/kubeturbo/kubeturbo-operator.crd.yaml
  upstream-community-operators/kubeturbo/kubeturbo-operator.package.yaml
  upstream-community-operators/kubeturbo/kubeturbo-operator.v6.3.0.clusterserviceversion.yaml
Labels: kubernetes-operator, ok-to-test, size/L

#364 kubeturbo operator
  community-operators/kubeturbo/kubeturbo-operator.crd.yaml
  community-operators/kubeturbo/kubeturbo-operator.package.yaml
  community-operators/kubeturbo/kubeturbo-operator.v6.3.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, openshift-operator, size/L

#599 Update the install process description for the upstream KubeFed operator
  upstream-community-operators/kubefed-operator/kubefed-operator.v0.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#600 [community] [kiali] add 1.3.1
  community-operators/kiali/1.3.1/kiali.crd.yaml
  community-operators/kiali/1.3.1/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.3.1/kiali.v1.3.1.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: openshift-operator, size/XL

#602 add csv 1.1.0 for openebs-operator
  community-operators/openebs/openebsoperator.v1.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#604 [Upstream-community] Percona XtraDB cluster doc broken links fix
  upstream-community-operators/percona-xtradb-cluster/percona-xtradb-cluster-operator.v1.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/S

#603 [Upstream-community] Percona server MongoDB operator doc links fix
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb-operator.v1.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/S

#605 Update eclipse-che operator for openshift to release 7.0.0
  community-operators/eclipse-che/eclipse-che.package.yaml
  community-operators/eclipse-che/eclipse-che.v7.0.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#608 Updating ripsaw to use 0.8.1 operator framework
  community-operators/ripsaw/ripsaw.v0.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#606 Update eclipse-che operator for kubernetes to release 7.0.0
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
  upstream-community-operators/eclipse-che/eclipse-che.v7.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#607 Updating ripsaw to use v0.8.1 of operator-framework
  upstream-community-operators/ripsaw/ripsaw.v0.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#586 Add event-streams-topic operator to community-operators
  community-operators/event-streams-topic-operator/event-streams-topic-v1alpha1.crd.yaml
  community-operators/event-streams-topic-operator/event-streams-topic.package.yaml
  community-operators/event-streams-topic-operator/event-streams-topic.v0.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#540 Updated MongoDB Operator to 1.1
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.v0.3.2.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/mongodb.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb.package.yaml
  upstream-community-operators/mongodb-enterprise/mongodbreplicaset.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodbshardedcluster.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodbstandalone.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodbusers.crd.yaml
Labels: kubernetes-operator, ok-to-test, size/XL

#592 Add Hawtio operator v0.1.0 to community operators
  community-operators/hawtio/crd-hawtio.yaml
  community-operators/hawtio/hawtio-operator.package.yaml
  community-operators/hawtio/hawtio-operator.v0.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#613 Add Altinity clickhouse-operator for ClickHouse database
  upstream-community-operators/clickhouse-operator/clickhouse-operator.package.yaml
  upstream-community-operators/clickhouse-operator/clickhouse-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse-operator/clickhouseinstallation.crd.yaml
  upstream-community-operators/clickhouse-operator/clickhouseinstallationtemplate.crd.yaml
Labels: kubernetes-operator, size/XXL

#601 [upstream] [kiali] add 1.3.1
  upstream-community-operators/kiali/kiali.package.yaml
  upstream-community-operators/kiali/kiali.v1.3.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XL

#615 fixed api version
  upstream-community-operators/banzaicloud-kafka-operator/banzaicloud-kafka-operator.0.3.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#611 Add aqua security operator new version
  upstream-community-operators/aqua/aqua-operator.package.yaml
  upstream-community-operators/aqua/aqua-operator.v0.0.2.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#610 Add aqua security operator new version
  community-operators/aqua/aqua-operator.package.yaml
  community-operators/aqua/aqua-operator.v0.0.2.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#618 Add seldon v0.1.5 to update images
  upstream-community-operators/seldon-operator/seldonoperator.package.yaml
  upstream-community-operators/seldon-operator/seldonoperator.v0.1.5.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#616 Add seldon v0.1.5 to use updated images
  community-operators/seldon-operator/seldonoperator.package.yaml
  community-operators/seldon-operator/seldonoperator.v0.1.5.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#620 Increase the capabilities of OneAgent
  upstream-community-operators/oneagent/dynatrace-monitoring.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/oneagent/dynatrace-monitoring.v0.3.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#612 ext-postgres-operator version 0.3.0
  upstream-community-operators/ext-postgres-operator/db_v1alpha1_postgres_crd.yaml
  upstream-community-operators/ext-postgres-operator/db_v1alpha1_postgresuser_crd.yaml
  upstream-community-operators/ext-postgres-operator/ext-postgres-operator.package.yaml
  upstream-community-operators/ext-postgres-operator/ext-postgres-operator.v0.3.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#624 Update to operator 4.0.1. Remove operator 3.5.0
  upstream-community-operators/postgresql/pgbackup.crd.yaml
  upstream-community-operators/postgresql/pgcluster.crd.yaml
  upstream-community-operators/postgresql/pgpolicy.crd.yaml
  upstream-community-operators/postgresql/pgreplica.crd.yaml
  upstream-community-operators/postgresql/pgtask.crd.yaml
  upstream-community-operators/postgresql/pgupgrade.crd.yaml
  upstream-community-operators/postgresql/postgres-operator.v3.5.0.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgres-operator.v4.0.1.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator, size/XXL

#621 Increase the capabilities of MongoDB Enterprise
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.v0.3.2.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.v1.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#614 Add IoT Simulator for Kubernetes
  upstream-community-operators/iot-simulator/iot-simulator-simulatorconsumers.crd.yaml
  upstream-community-operators/iot-simulator/iot-simulator-simulatorproducers.crd.yaml
  upstream-community-operators/iot-simulator/iot-simulator-simulators.crd.yaml
  upstream-community-operators/iot-simulator/iot-simulator.0.1.0.clusterserviceversion.yaml
  upstream-community-operators/iot-simulator/iot-simulator.package.yaml
Labels: kubernetes-operator, size/L

#596 Updated for upstream community operator Strimzi 0.13.0
  upstream-community-operators/strimzi-kafka-operator/kafkabridges.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkaconnects.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkaconnects2is.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkamirrormakers.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkas.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkausers.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.13.0.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#628 Update ripsaw upstream to add log container
  upstream-community-operators/ripsaw/ripsaw.v0.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/S

#629 Update ripsaw upstream to add log container
  community-operators/ripsaw/ripsaw.v0.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/S

#627 Increase capabilities for the StorageOS operator to Level 4.
  upstream-community-operators/storageos/storageos.v1.3.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#631 Minor changes in the CSV description for KubeFed operator
  upstream-community-operators/kubefed-operator/kubefed-operator.v0.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/S

#632 Increase capabilities for Percona Server MongoDB Operator to Level 4
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb-operator.v1.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#633 Increase capabilities for the Percona XtraDB Cluster Operator to Level 4
  upstream-community-operators/percona-xtradb-cluster/percona-xtradb-cluster-operator.v1.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#638 Add event-streams-topic-operator to upstream-community-operators
  upstream-community-operators/event-streams-topic-operator/event-streams-topic-v1alpha1.crd.yaml
  upstream-community-operators/event-streams-topic-operator/event-streams-topic.package.yaml
  upstream-community-operators/event-streams-topic-operator/event-streams-topic.v0.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#635 Add Appsody Operator to upstream-community-operators
  upstream-community-operators/appsody-operator/appsody-operator.package.yaml
  upstream-community-operators/appsody-operator/appsody-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/appsody-operator/appsody_v1beta1_appsodyapplication_crd.yaml
Labels: kubernetes-operator, size/L

#637 add IBM COS Bucket Operator to upstream community operators
  upstream-community-operators/cos-bucket-operator/ibmcloud_operator.package.yaml
  upstream-community-operators/cos-bucket-operator/ibmcloud_operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/cos-bucket-operator/ibmcloud_operator_v1alpha1_bucket.crd.yaml
Labels: kubernetes-operator, size/XL

#636 Add Appsody Operator to community-operators
  community-operators/appsody-community-operator/appsody-community-operator.package.yaml
  community-operators/appsody-community-operator/appsody-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/appsody-community-operator/appsody_v1beta1_appsodyapplication_crd.yaml
Labels: openshift-operator, size/L

#623 bump capabilities to Level 4
  upstream-community-operators/portworx/portworxoperator.v1.0.5.clusterserviceversion.yaml
Labels: kubernetes-operator

#645 Add the metering operator to the upstream-community-operators.
  upstream-community-operators/metering/4.2.0/hive.crd.yaml
  upstream-community-operators/metering/4.2.0/image-references
  upstream-community-operators/metering/4.2.0/meteringconfig.crd.yaml
  upstream-community-operators/metering/4.2.0/meteringoperator.v4.2.0.clusterserviceversion.yaml
  upstream-community-operators/metering/4.2.0/prestotable.crd.yaml
  upstream-community-operators/metering/4.2.0/report.crd.yaml
  upstream-community-operators/metering/4.2.0/reportdatasource.crd.yaml
  upstream-community-operators/metering/4.2.0/reportquery.crd.yaml
  upstream-community-operators/metering/4.2.0/storagelocation.crd.yaml
  upstream-community-operators/metering/metering.package.yaml
Labels: kubernetes-operator, size/XXL

#644 New operator - Halkyon
  upstream-community-operators/halkyon/capability.v1beta1.crd.yaml
  upstream-community-operators/halkyon/component.v1beta1.crd.yaml
  upstream-community-operators/halkyon/halkyon.package.yaml
  upstream-community-operators/halkyon/halkyon.v0.1.2.clusterserviceversion.yaml
  upstream-community-operators/halkyon/link_v1beta1.crd.yaml
Labels: kubernetes-operator, size/L

#630 Added maistra operator
  community-operators/maistra/1.0.0/maistraoperator.v1.0.0.clusterserviceversion.yaml
  community-operators/maistra/1.0.0/servicemeshcontrolplanes.crd.yaml
  community-operators/maistra/1.0.0/servicemeshmemberrolls.crd.yaml
  community-operators/maistra/maistra.package.yaml
Labels: openshift-operator, size/L

#625 noobaa v1.1.0
  upstream-community-operators/noobaa/noobaa-operator.package.yaml
  upstream-community-operators/noobaa/noobaa-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/noobaa/noobaa_v1alpha1_backingstore_crd.yaml
  upstream-community-operators/noobaa/noobaa_v1alpha1_bucketclass_crd.yaml
  upstream-community-operators/noobaa/noobaa_v1alpha1_noobaa_crd.yaml
  upstream-community-operators/noobaa/objectbucket_v1alpha1_ob_crd.yaml
  upstream-community-operators/noobaa/objectbucket_v1alpha1_obc_crd.yaml
Labels: kubernetes-operator, size/XL

#647 noobaa v1.1.0 (openshift)
  community-operators/noobaa/noobaa-operator.package.yaml
  community-operators/noobaa/noobaa-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/noobaa/noobaa_v1alpha1_backingstore_crd.yaml
  community-operators/noobaa/noobaa_v1alpha1_bucketclass_crd.yaml
  community-operators/noobaa/noobaa_v1alpha1_noobaa_crd.yaml
  community-operators/noobaa/objectbucket_v1alpha1_ob_crd.yaml
  community-operators/noobaa/objectbucket_v1alpha1_obc_crd.yaml
Labels: openshift-operator, size/XL

#642 Update upstream EnMasse operator CSV to 0.29.1
  upstream-community-operators/enmasse/enmasse.0.29.1.clusterserviceversion.yaml
  upstream-community-operators/enmasse/enmasse.package.yaml
Labels: kubernetes-operator, size/XXL

#649 MongoDB Enterprise Release 1.2.2
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.v1.2.2.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XL
