Repository operator-framework/community-operators, pull requests merged in 2019-04, with the labels that each got.

#248 Let descheduler run in a single namespace
  community-operators/descheduler/descheduler.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/XS

#158 Add StorageOS Operator
  upstream-community-operators/storageos/storageos.package.yaml
  upstream-community-operators/storageos/storageos.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/storageoscluster.crd.yaml
  upstream-community-operators/storageos/storageosjob.crd.yaml
  upstream-community-operators/storageos/storageosupgrade.crd.yaml
Labels: needs-ok-to-test, size/L

#190 Add Hazelcast Operator (Kubernetes and OpenShift)
  community-operators/hazelcast-enterprise/hazelcast-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/hazelcast-enterprise/hazelcast.package.yaml
  community-operators/hazelcast-enterprise/hazelcastcluster.crd.yaml
  upstream-community-operators/hazelcast-enterprise/hazelcast-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise/hazelcast.package.yaml
  upstream-community-operators/hazelcast-enterprise/hazelcastcluster.crd.yaml
Labels: lgtm, manual-test-needed, needs-ok-to-test, size/XL

#250 add Banzai Cloud istio-operator
  upstream-community-operators/istio/istio-operator.0.1.6.clusterserviceversion.yaml
  upstream-community-operators/istio/istio.crd.yaml
  upstream-community-operators/istio/istio.package.yaml
  upstream-community-operators/istio/remoteistio.crd.yaml
Labels: ok-to-test, size/XXL

#208 Updated MongoDB Enterprise Operator to 0.9.0
  certified-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
  certified-operators/mongodb-enterprise/mongodb-enterprise.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/mongodb.package.yaml
  upstream-community-operators/mongodb-enterprise/mongodb.v0.9.0.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/XL

#196 Update capability and name for the Crunchy PostgreSQL Operator.
  community-operators/postgresql/postgres-operator.v3.5.0.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgres-operator.v3.5.0.clusterserviceversion.yaml
Labels: lgtm, manual-test-needed, needs-ok-to-test, size/M

#243 Add operator for FederatorAI 0.0.1
  community-operators/federatorai/federatorai-AlamedaService.crd.yaml
  community-operators/federatorai/federatorai.package.yaml
  community-operators/federatorai/federatorai.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai-AlamedaService.crd.yaml
  upstream-community-operators/federatorai/federatorai.package.yaml
  upstream-community-operators/federatorai/federatorai.v0.0.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/XL

#164 Update Dynatrace logo
  upstream-community-operators/oneagent/dynatrace-monitoring.v0.2.0.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/XS

#199 [community] Set WATCH_NAMESPACE to OLM annotation
  community-operators/automationbroker/automationbrokeroperator.v0.2.0.clusterserviceversion.yaml
  community-operators/kiecloud-operator/kiecloud-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/node-problem-detector/node-problem-detector.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/XS

#170 [WIP] docs/testing-operators.md: add CI documentation
  docs/testing-operators.md
Labels: do-not-merge/work-in-progress, lgtm, size/M

#109 [community] Add spark-on-k8s operator
  community-operators/spark-gcp/scheduledsparkapplication.crd.yaml
  community-operators/spark-gcp/spark.package.yaml
  community-operators/spark-gcp/sparkapplication.crd.yaml
  community-operators/spark-gcp/sparkoperator.2.4.0.clusterserviceversion.yaml
  upstream-community-operators/spark-gcp/scheduledsparkapplication.crd.yaml
  upstream-community-operators/spark-gcp/spark.package.yaml
  upstream-community-operators/spark-gcp/sparkapplication.crd.yaml
  upstream-community-operators/spark-gcp/sparkoperator.2.4.0.clusterserviceversion.yaml
Labels: lgtm, size/XXL

#275 percona: Add maintainers field
  community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
  upstream-community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
Labels: size/XS

#277 percona: Add repository field
  community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
  upstream-community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
Labels: size/XS

#272 Spark: remove title in description markdown
  upstream-community-operators/spark-gcp/sparkoperator.2.4.0.clusterserviceversion.yaml
Labels: lgtm, size/XS

#273 modify federatorai-operator description and fix rbac
  community-operators/federatorai/federatorai.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/M

#282 Add maintainer info in CSV
  community-operators/node-network-operator/node-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/XS

#286 [docs] Update docs on new certified location
  README.md
  docs/using-scripts.md
Labels: lgtm, size/XS

#287 [certified] Remove certified-operators
  certified-operators/couchbase-enterprise/couchbase-cluster.crd.yaml
  certified-operators/couchbase-enterprise/couchbase-enterprise.package.yaml
  certified-operators/couchbase-enterprise/couchbase.1.0.0.clusterserviceversion.yaml
  certified-operators/couchbase-enterprise/couchbase.1.1.0.clusterserviceversion.yaml
  certified-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
  certified-operators/mongodb-enterprise/mongodb-enterprise.v0.3.2.clusterserviceversion.yaml
  certified-operators/mongodb-enterprise/mongodb-enterprise.v0.9.0.clusterserviceversion.yaml
  certified-operators/mongodb-enterprise/mongodb-replicasets.crd.yaml
  certified-operators/mongodb-enterprise/mongodb-shardedclusters.crd.yaml
  certified-operators/mongodb-enterprise/mongodb-standalones.crd.yaml
Labels: size/XXL

#235 Upload Aqua Operator Community Data
  community-operators/aqua/aqua-operator.package.yaml
  community-operators/aqua/aqua-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/aqua/aquacsps.operator.aquasec.com.crd.yaml
  community-operators/aqua/aquadatabases.operator.aquasec.com.crd.yaml
  community-operators/aqua/aquaenforcers.operator.aquasec.com.crd.yaml
  community-operators/aqua/aquagateways.operator.aquasec.com.crd.yaml
  community-operators/aqua/aquascanners.operator.aquasec.com.crd.yaml
  community-operators/aqua/aquaservers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aqua-operator.package.yaml
  upstream-community-operators/aqua/aqua-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/aqua/aquacsps.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aquadatabases.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aquaenforcers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aquagateways.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aquascanners.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aquaservers.operator.aquasec.com.crd.yaml
Labels: lgtm, ok-to-test, size/XXL

#254 Update Jaeger version to v1.11.1
  community-operators/jaeger/jaeger.package.yaml
  community-operators/jaeger/jaeger.v1.11.1.clusterserviceversion.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
  upstream-community-operators/jaeger/jaeger.v1.11.1.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/XL

#281 [community] delete kiecloud operator from community
  community-operators/kiecloud-operator/kieapp.crd.yaml
  community-operators/kiecloud-operator/kiecloud-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/kiecloud-operator/kiecloud.package.yaml
Labels: lgtm, size/XL

#288 Update Aqua Operator Docker Image To Company Repository
  community-operators/aqua/aqua-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/aqua/aqua-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/XS

#284 Bug fix for federation v2 controller manager can not start.
  community-operators/federation/federation.v0.0.8.clusterserviceversion.yaml
  upstream-community-operators/federation/federation.v0.0.8.clusterserviceversion.yaml
Labels: lgtm, size/XS

#261 [scripts] Clean up CI logs
  scripts/ci/install-deps
  scripts/ci/test-operator
  scripts/ci/verify-operator
  scripts/lib/cluster
Labels: lgtm, size/M

#290 Add Developer Tools category
  docs/required-fields.md
Labels: needs-ok-to-test, size/XS

#289 [docs] reconciling required fields of UIs
  docs/required-fields.md
Labels: lgtm, size/M

#253 [upstream][community] Add operator for Spinnaker
  community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.package.yaml
  community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.v1.13.1.clusterserviceversion.yaml
  community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator_crd.yaml
  upstream-community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.package.yaml
  upstream-community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.v1.13.1.clusterserviceversion.yaml
  upstream-community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator_crd.yaml
Labels: lgtm, needs-ok-to-test, size/L

#283 merge MyVirtualDirectory operator into operatorhubs
  community-operators/myvirtualdirectory/myvirtualdirectory.1.0.0.clusterserviceversion.yaml
  community-operators/myvirtualdirectory/myvirtualdirectory.crd.yaml
  community-operators/myvirtualdirectory/myvirtualdirectory.package.yaml
  upstream-community-operators/myvirtualdirectory/myvirtualdirectory.1.0.0.clusterserviceversion.yaml
  upstream-community-operators/myvirtualdirectory/myvirtualdirectory.crd.yaml
  upstream-community-operators/myvirtualdirectory/myvirtualdirectory.package.yaml
Labels: lgtm, needs-ok-to-test, size/XL

#222 Update AMQ streams from 1.0.0 to 1.1.0
  redhat-operators/amq-streams/amq-streams-kafka.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkaconnect.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkaconnects2i.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkamirrormaker.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkatopic.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkauser.crd.yaml
  redhat-operators/amq-streams/amq-streams.package.yaml
  redhat-operators/amq-streams/amq-streams.v1.1.0.clusterserviceversion.yaml
Labels: lgtm, ok-to-test, size/XXL

#292 Update StorageOS Operator to version 1.1.0
  upstream-community-operators/storageos/storageos.package.yaml
  upstream-community-operators/storageos/storageos.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/storageoscluster.crd.yaml
  upstream-community-operators/storageos/storageosjob.crd.yaml
  upstream-community-operators/storageos/storageosupgrade.crd.yaml
Labels: lgtm, ok-to-test, size/XL

#293 [docs] Update README
  README.md
Labels: size/S

#295 Update Aqua Operator Description By Technical Writer
  community-operators/aqua/aqua-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/aqua/aqua-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/L

#294 Update metering package
  community-operators/metering/metering.crd.yaml
  community-operators/metering/metering.package.yaml
  community-operators/metering/meteringoperator.v4.1.0.clusterserviceversion.yaml
  community-operators/metering/prestotable.crd.yaml
  community-operators/metering/report.crd.yaml
  community-operators/metering/reportdatasource.crd.yaml
  community-operators/metering/reportgenerationquery.crd.yaml
  community-operators/metering/reportprometheusquery.crd.yaml
  community-operators/metering/storagelocation.crd.yaml
Labels: lgtm, size/L

#193 Add CodeReady Workspaces Operator to OpenShift Marketplace RH Operators
  redhat-operators/codeready-workspaces/codeready-workspaces.1.1.0.clusterserviceversion.yaml
  redhat-operators/codeready-workspaces/codeready-workspaces.crd.yaml
  redhat-operators/codeready-workspaces/codeready-workspaces.package.yaml
Labels: lgtm, needs-ok-to-test, size/L

#173 [community] Add Sysdig operator
  upstream-community-operators/sysdig/sysdig-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/sysdig/sysdig.crd.yaml
  upstream-community-operators/sysdig/sysdig.package.yaml
Labels: lgtm, ok-to-test, size/L

#299 Update metering-operator image tag to 4.1
  community-operators/metering/meteringoperator.v4.1.0.clusterserviceversion.yaml
Labels: lgtm, size/XS

#302 [docs] Fixed broken link in README
  README.md
Labels: lgtm, size/XS

#303 WIP: updating to cockroachdb chart 2.1.1
  upstream-community-operators/cockroachdb/cockroachdb.package.yaml
  upstream-community-operators/cockroachdb/cockroachdb.v2.1.1.clusterserviceversion.yaml
Labels: do-not-merge/work-in-progress, size/L

#306 refine testing instructions, preview
  README.md
  docs/testing-operators.md
Labels: lgtm, size/M

#251 [community] Add Kiali operator
  upstream-community-operators/kiali/kiali.crd.yaml
  upstream-community-operators/kiali/kiali.package.yaml
  upstream-community-operators/kiali/kiali.v0.18.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/XL

#311 Remove OneAgent operator from community-operators
  community-operators/oneagent/dynatrace-monitoring.v0.2.0.clusterserviceversion.yaml
  community-operators/oneagent/dynatrace.crd.yaml
  community-operators/oneagent/dynatrace.package.yaml
Labels: lgtm, size/L

#304 cluster-logging.v4.1.0.clusterserviceversion.yaml
  community-operators/cluster-logging/cluster-logging.v4.1.0.clusterserviceversion.yaml
Labels: lgtm, size/XS

#315 [scripts] Fix bug for installPlan namespace
  scripts/lib/cluster
Labels: size/XS

#324 [scripts] Fix: Access correct installPlan for subscription
  scripts/lib/cluster
Labels: lgtm, size/XS

#309 [scripts] Update semver regex
  scripts/ci/operators-env
  scripts/ci/test-operator
  scripts/lib/file
Labels: lgtm, size/S

#317 Strimzi name
  community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.11.1.clusterserviceversion.yaml
  redhat-operators/amq-streams/amq-streams.v1.1.0.clusterserviceversion.yaml
Labels: lgtm, size/S
