Repository operator-framework/community-operators, pull requests merged in 2019-12, with the labels that each got.

#946 noobaa v2.0.9
  upstream-community-operators/noobaa/2.0.9/backingstores.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.0.9/bucketclasses.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.0.9/noobaa-operator.v2.0.9.clusterserviceversion.yaml
  upstream-community-operators/noobaa/2.0.9/noobaas.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/noobaa-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#909 OpenEBS operator 1.3.0
  community-operators/openebs/1.3.0/openebs_v1alpha1_openebsinstalltemplate_crd.yaml
  community-operators/openebs/1.3.0/openebsoperator.v1.3.0.clusterserviceversion.yaml
  community-operators/openebs/openebs.package.yaml
Labels: openshift-operator, size/XL

#937 Update the 3scale-community-operator to v0.4.0
  community-operators/3scale-community-operator/0.4.0/3scale-community-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/3scale-community-operator/0.4.0/apps_v1alpha1_apimanager_crd.yaml
  community-operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_api_crd.yaml
  community-operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_binding_crd.yaml
  community-operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_limit_crd.yaml
  community-operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_mappingrule_crd.yaml
  community-operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_metric_crd.yaml
  community-operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_plan_crd.yaml
  community-operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_tenant_crd.yaml
  community-operators/3scale-community-operator/3scale-community-operator.package.yaml
Labels: openshift-operator, size/XXL

#941 Add APIcast upstream community operator
  upstream-community-operators/apicast-community-operator/0.1.0/apicast-community-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/apicast-community-operator/0.1.0/apps_v1alpha1_apicast_crd.yaml
  upstream-community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: kubernetes-operator, size/L

#943 Hyperfoil Openshift Operator (v0.5.1)
  community-operators/hyperfoil/0.5.1/hyperfoil-operator.v0.5.1.clusterserviceversion.yaml
  community-operators/hyperfoil/0.5.1/hyperfoil.io_hyperfoils_crd.yaml
  community-operators/hyperfoil/hyperfoil-bundle.package.yaml
Labels: openshift-operator, size/L

#961 update descriptions and examples in CSV yaml file (no chnage to operator iamge)
  upstream-community-operators/esindex-operator/0.1.0/esindex-operator.v0.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/M

#958 Release Appsody Operator v0.3.0
  upstream-community-operators/appsody-operator/0.3.0/appsody-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/appsody-operator/0.3.0/appsodyapplications.appsody.dev.crd.yaml
Labels: kubernetes-operator, size/XXL

#957 Updated maistra operator metadata for the 1.0.2 release
  community-operators/maistra/1.0.1/maistraoperator.v1.0.1.clusterserviceversion.yaml
  community-operators/maistra/1.0.1/servicemeshcontrolplanes.crd.yaml
  community-operators/maistra/1.0.1/servicemeshmemberrolls.crd.yaml
  community-operators/maistra/1.0.2/maistraoperator.v1.0.2.clusterserviceversion.yaml
  community-operators/maistra/1.0.2/servicemeshcontrolplanes.crd.yaml
  community-operators/maistra/1.0.2/servicemeshmemberrolls.crd.yaml
  community-operators/maistra/maistra.package.yaml
Labels: openshift-operator, size/XL

#956 resource-locker-operator new version
  community-operators/resource-locker-operator/0.1.0/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.0/resource-locker-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/resource-locker-operator/0.1.1/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.1/resource-locker-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/resource-locker-operator/0.1.2/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.2/resource-locker-operator.v0.1.2.clusterserviceversion.yaml
  community-operators/resource-locker-operator/resource-locker-operator.package.yaml
Labels: openshift-operator, size/XXL

#955 Add Nexus Operator to OpenShift marketplace
  community-operators/nexus-operator/0.1.0/apps.m88i.io_nexus_crd.yaml
  community-operators/nexus-operator/0.1.0/nexus-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/nexus-operator/nexus-operator.package.yaml
Labels: openshift-operator, size/L

#949 Minor update for testing operators.
  docs/testing-operators.md
Labels: size/M

#939 (litmus) CSV: Add CSV for litmus 0.8.0
  upstream-community-operators/litmus/0.8.0/chaosengines.litmuschaos.io.crd.yaml
  upstream-community-operators/litmus/0.8.0/chaosoperator.v0.8.0.clusterserviceversion.yaml
  upstream-community-operators/litmus/litmuschaos.package.yaml
Labels: kubernetes-operator, size/L

#964 OpenEBS operator 1.3.0
  upstream-community-operators/openebs/1.3.0/openebs_v1alpha1_openebsinstalltemplate_crd.yaml
  upstream-community-operators/openebs/1.3.0/openebsoperator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/openebs/openebs.package.yaml
Labels: kubernetes-operator, size/XL

#967 Remove duplicate CRDs from opendatahub-operator
  community-operators/opendatahub-operator/0.2.0/opendatahubs.opendatahub.io.crd.yaml
  community-operators/opendatahub-operator/0.3.0/opendatahubs.opendatahub.io.crd.yaml
  community-operators/opendatahub-operator/0.4.0/opendatahubs.opendatahub.io.crd.yaml
Labels: openshift-operator, size/M

#968 Upgrade olm to 0.13.0
  docs/testing-operators.md
Labels: size/XS

#959 Instana Agent Operator 0.1.3
  upstream-community-operators/instana-agent/0.1.3/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.1.3/instana-agent-operator.v0.1.3.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator, size/L

#952 Adding Wavefront Operator
  upstream-community-operators/wavefront/0.1.0/wavefront-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/wavefront/0.1.0/wavefront_v1alpha1_wavefrontcollector_crd.yaml
  upstream-community-operators/wavefront/0.1.0/wavefront_v1alpha1_wavefrontproxy_crd.yaml
  upstream-community-operators/wavefront/wavefront-operator.package.yaml
Labels: kubernetes-operator, size/XL

#954 Adding IBM Spectrum Scale CSI Operator community-operators
  community-operators/ibm-spectrum-scale-csi-operator/1.0.0/ibm-spectrum-scale-csi-operator-crd.yaml
  community-operators/ibm-spectrum-scale-csi-operator/1.0.0/ibm-spectrum-scale-csi-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: openshift-operator, size/XL

#953 Adding IBM Spectrum Scale CSI Operator to upstream-community-operators
  upstream-community-operators/ibm-spectrum-scale-csi-operator/1.0.0/ibm-spectrum-scale-csi-operator-crd.yaml
  upstream-community-operators/ibm-spectrum-scale-csi-operator/1.0.0/ibm-spectrum-scale-csi-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: kubernetes-operator, size/XL

#972 Release Appsody Operator v0.3.0
  upstream-community-operators/appsody-operator/appsody-operator.package.yaml
Labels: kubernetes-operator, size/XS

#658 lib-bucket-provisioner CRD-only v1.0.0 (openshift)
  community-operators/lib-bucket-provisioner/1.0.0/lib-bucket-provisioner.v1.0.0.clusterserviceversion.yaml
  community-operators/lib-bucket-provisioner/1.0.0/objectbucketclaims.objectbucket.io.crd.yaml
  community-operators/lib-bucket-provisioner/1.0.0/objectbuckets.objectbucket.io.crd.yaml
  community-operators/lib-bucket-provisioner/lib-bucket-provisioner.package.yaml
Labels: openshift-operator, size/L

#980 Updating Kogito Operator to 0.6.0
  community-operators/kogito-cloud-operator/0.6.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-cloud-operator/0.6.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-cloud-operator/0.6.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-cloud-operator/0.6.0/kogito-cloud-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/kogito-cloud-operator/kogitocloud-operator.package.yaml
Labels: openshift-operator, size/XXL

#978 Update capabilities to Deep Insights
  upstream-community-operators/radanalytics-spark/1.0.2/sparkoperator.v1.0.2.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#969 Add openshift-pipelines-opeator v0.8.1 CSV
  community-operators/openshift-pipelines-operator/0.8.1/openshift-pipelines-operator.v0.8.1.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.8.1/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator, size/L

#982 Revert "Updating Kogito Operator to 0.6.0"
  community-operators/kogito-cloud-operator/0.6.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-cloud-operator/0.6.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-cloud-operator/0.6.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-cloud-operator/0.6.0/kogito-cloud-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/kogito-cloud-operator/kogitocloud-operator.package.yaml
Labels: openshift-operator, size/XXL

#983 Add argocd-operator v0.0.3
  upstream-community-operators/argocd-operator/0.0.2/argocd-operator-application.crd.yaml
  upstream-community-operators/argocd-operator/0.0.2/argocd-operator-appproject.crd.yaml
  upstream-community-operators/argocd-operator/0.0.2/argocd-operator-argocd.crd.yaml
  upstream-community-operators/argocd-operator/0.0.2/argocd-operator.v0.0.2.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/0.0.3/argocd-operator-application.crd.yaml
  upstream-community-operators/argocd-operator/0.0.3/argocd-operator-appproject.crd.yaml
  upstream-community-operators/argocd-operator/0.0.3/argocd-operator-argocd.crd.yaml
  upstream-community-operators/argocd-operator/0.0.3/argocd-operator.v0.0.3.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/argocd-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#985 Fixing Error in CR for IBM Spectrum Scale CSI Operator - Community Operator
  community-operators/ibm-spectrum-scale-csi-operator/1.0.0/ibm-spectrum-scale-csi-operator.v1.0.0.clusterserviceversion.yaml
Labels: openshift-operator, size/S

#987 Removing kogito-cloud-operator
  community-operators/kogito-cloud-operator/0.4.0/kogito-cloud-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/kogito-cloud-operator/0.4.0/kogitoapps.app.kiegroup.org.crd.yaml
  community-operators/kogito-cloud-operator/0.4.0/kogitodataindices.app.kiegroup.org.crd.yaml
  community-operators/kogito-cloud-operator/0.5.0/kogito-cloud-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/kogito-cloud-operator/0.5.0/kogitoapps.app.kiegroup.org.crd.yaml
  community-operators/kogito-cloud-operator/0.5.0/kogitodataindices.app.kiegroup.org.crd.yaml
  community-operators/kogito-cloud-operator/kogitocloud-operator.package.yaml
Labels: openshift-operator, size/XXL

#986 Fixing Error in CR for IBM Spectrum Scale CSI Operator - Upstream Community Operator
  upstream-community-operators/ibm-spectrum-scale-csi-operator/1.0.0/ibm-spectrum-scale-csi-operator.v1.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/S

#989 MongoDB Enterprise Operator Release 1.4.0
  upstream-community-operators/mongodb-enterprise/1.4.0/mongodb-enterprise.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.4.0/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.0/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.0/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator, size/XL

#990 Update eclipse-che operator for kubernetes to release 7.5.1
  upstream-community-operators/eclipse-che/7.5.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.5.1/eclipse-che.v7.5.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator, size/XL

#991 Update eclipse-che operator for openshift to release 7.5.1
  community-operators/eclipse-che/7.5.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.5.1/eclipse-che.v7.5.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator, size/XL

#940 Added OpsMx Spinnaker 1.17.2 version Operator
  community-operators/opsmx-spinnaker-operator/1.17.2/opsmx-spinnaker-operator.v1.17.2.clusterserviceversion.yaml
  community-operators/opsmx-spinnaker-operator/1.17.2/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.package.yaml
Labels: openshift-operator, size/L

#981 Jenkins Operator for Openshift
  community-operators/jenkins-operator/0.2.2/jenkins-operator.v0.2.2.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.2.2/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: openshift-operator, size/L

#995 Adds openshift-pipelines-operator-v0.8.2
  community-operators/openshift-pipelines-operator/0.8.2/openshift-pipelines-operator.v0.8.2.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.8.2/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator, size/L

#984 Renaming and updating Kogito Operator 0.6.0
  community-operators/kogito-operator/0.6.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.6.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.6.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.6.0/kogito-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator, size/XXL

#965 resource-locker-operator new version
  community-operators/resource-locker-operator/0.1.2/resource-locker-operator.v0.1.2.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#999 Fixing minor typo
  docs/contributing.md
Labels: size/XS

#996 Add codeready-toolchain-operator to release 0.1.0
  community-operators/codeready-toolchain-operator/0.1.0/codeready-toolchain-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/codeready-toolchain-operator/0.1.0/toolchain.openshift.dev_cheinstallations.yaml
  community-operators/codeready-toolchain-operator/0.1.0/toolchain.openshift.dev_tektoninstallations.yaml
  community-operators/codeready-toolchain-operator/codeready-toolchain-operator.package.yaml
Labels: openshift-operator, size/L

#994 Container Security Operator v1.0.1
  upstream-community-operators/container-security-operator/1.0.1/container-security-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.1/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/container-security-operator.package.yaml
Labels: kubernetes-operator, size/L

#1001 [kiali] community operator update
  community-operators/kiali/1.10.0/kiali.crd.yaml
  community-operators/kiali/1.10.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.10.0/kiali.v1.10.0.clusterserviceversion.yaml
  community-operators/kiali/1.11.0/kiali.crd.yaml
  community-operators/kiali/1.11.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.11.0/kiali.v1.11.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: openshift-operator, size/XXL

#1000 [kiali] upstream operator update
  upstream-community-operators/kiali/1.10.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.10.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.10.0/kiali.v1.10.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/1.11.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.11.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.11.0/kiali.v1.11.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator, size/XXL

#1002 Add WildFly Operator 0.3.0
  upstream-community-operators/wildfly/0.3.0/wildfly-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/wildfly/0.3.0/wildflyservers.wildfly.org.crd.yaml
  upstream-community-operators/wildfly/wildfly.package.yaml
Labels: kubernetes-operator, size/XL

#962 Adding 0.10.0 version for eventing
  community-operators/knative-eventing-operator/0.10.0/knative-eventing-operator.v0.10.0.clusterserviceversion-v0.10.0.yaml
  community-operators/knative-eventing-operator/0.10.0/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
Labels: openshift-operator, size/L

#963 Adding 0.10.0 version for eventing kafka
  community-operators/knative-kafka-operator/0.10.0/knative-kafka-operator.v0.10.0.clusterserviceversion-v0.10.0.yaml
  community-operators/knative-kafka-operator/0.10.0/knativeeventingkafkas.eventing.knative.dev.crd.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
Labels: openshift-operator, size/L

#1003 Instana Agent 0.1.4: Add documentation for OpenShift
  upstream-community-operators/instana-agent/0.1.4/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.1.4/instana-agent-operator.v0.1.4.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator, size/L

#1005 update anchore-engine operator to v0.1.3
  upstream-community-operators/anchore-engine/0.1.3/anchore-engine-operator.v0.1.3.clusterserviceversion.yaml
  upstream-community-operators/anchore-engine/0.1.3/anchore_v1alpha1_anchoreengine_crd.yaml
  upstream-community-operators/anchore-engine/anchore-engine.package.yaml
Labels: kubernetes-operator, size/XL

#1006 Update codeready-toolchain-operator to 0.1.1
  community-operators/codeready-toolchain-operator/0.1.1/codeready-toolchain-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/codeready-toolchain-operator/0.1.1/toolchain.openshift.dev_cheinstallations.yaml
  community-operators/codeready-toolchain-operator/0.1.1/toolchain.openshift.dev_tektoninstallations.yaml
  community-operators/codeready-toolchain-operator/codeready-toolchain-operator.package.yaml
Labels: openshift-operator, size/XL

#1009 Container Security Operator
  community-operators/container-security-operator/1.0.0/container-security-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.0/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/1.0.1/container-security-operator.v1.0.1.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.1/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/container-security-operator.package.yaml
Labels: openshift-operator, size/XL

#1007 Instana Agent Operator 0.1.5: Fix broken link for OperatorHub description
  upstream-community-operators/instana-agent/0.1.5/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.1.5/instana-agent-operator.v0.1.5.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator, size/L

#1011 update meta maintainer
  upstream-community-operators/awss3operator/1.0.1/awss3operator.v1.0.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#1012 Update community-operator opendatahub-operator to v0.5.0
  community-operators/opendatahub-operator/0.5.0/opendatahub-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/opendatahub-operator/0.5.0/opendatahub_v1alpha1_opendatahub_crd.yaml
  community-operators/opendatahub-operator/opendatahub-operator.package.yaml
Labels: openshift-operator, size/XL

#1013 Adding API Operator to community operators
  community-operators/api-operator/1.0.1/api-operator.v1.0.1.clusterserviceversion.yaml
  community-operators/api-operator/1.0.1/apis.wso2.com.crd.yaml
  community-operators/api-operator/1.0.1/ratelimitings.wso2.com.crd.yaml
  community-operators/api-operator/1.0.1/securities.wso2.com.crd.yaml
  community-operators/api-operator/1.0.1/targetendpoints.wso2.com.crd.yaml
  community-operators/api-operator/api-operator.package.yaml
Labels: openshift-operator, size/XL

#1019 Update StorageOS Operator to version 1.5.2
  upstream-community-operators/storageos/1.5.2/storageos.v1.5.2.clusterserviceversion.yaml
  upstream-community-operators/storageos/1.5.2/storageoscluster.crd.yaml
  upstream-community-operators/storageos/1.5.2/storageosjob.crd.yaml
  upstream-community-operators/storageos/1.5.2/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/1.5.2/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: kubernetes-operator, size/XXL

#1021 Remove apim operator from upstream (to be added with a different name "api-operator" later)
  upstream-community-operators/apim-operator/1.0.1/apim-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/apim-operator/1.0.1/apis.wso2.com.crd.yaml
  upstream-community-operators/apim-operator/1.0.1/ratelimitings.wso2.com.crd.yaml
  upstream-community-operators/apim-operator/1.0.1/securities.wso2.com.crd.yaml
  upstream-community-operators/apim-operator/1.0.1/targetendpoints.wso2.com.crd.yaml
  upstream-community-operators/apim-operator/apim-operator.package.yaml
Labels: kubernetes-operator, size/XL

#1022 Adding the API Operator with new name to upstream
  upstream-community-operators/api-operator/1.0.1/api-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/api-operator/1.0.1/apis.wso2.com.crd.yaml
  upstream-community-operators/api-operator/1.0.1/ratelimitings.wso2.com.crd.yaml
  upstream-community-operators/api-operator/1.0.1/securities.wso2.com.crd.yaml
  upstream-community-operators/api-operator/1.0.1/targetendpoints.wso2.com.crd.yaml
  upstream-community-operators/api-operator/api-operator.package.yaml
Labels: kubernetes-operator, size/XL

#1023 Upgrade Knative Camel Operator to 0.10.0
  community-operators/knative-camel-operator/0.10.0/camelsources.sources.eventing.knative.dev.crd.yaml
  community-operators/knative-camel-operator/0.10.0/knative-camel-operator.v0.10.0.clusterserviceversion.yaml
  community-operators/knative-camel-operator/knative-camel-operator.package.yaml
Labels: openshift-operator, size/L

#974 Upstream community: Add YugabyteDB operator
  upstream-community-operators/yugabytedb-operator/0.0.1/ybclusters.yugabyte.com.crd.yaml
  upstream-community-operators/yugabytedb-operator/0.0.1/yugabytedb-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/yugabytedb-operator/yugabytedb-operator.package.yaml
Labels: kubernetes-operator, size/XL

#942 Add APIcast community operator
  community-operators/apicast-community-operator/0.1.0/apicast-community-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/apicast-community-operator/0.1.0/apps_v1alpha1_apicast_crd.yaml
  community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: openshift-operator, size/L

#928 Updating Nuodb operator to v2.0.3
  upstream-community-operators/nuodb/2.0.3/nuodb-operator.v2.0.3.clusterserviceversion.yaml
  upstream-community-operators/nuodb/2.0.3/nuodb_v2alpha1_nuodb.crd.yaml
  upstream-community-operators/nuodb/2.0.3/nuodb_v2alpha1_nuodbinsightsserver_crd.yaml
  upstream-community-operators/nuodb/2.0.3/nuodb_v2alpha1_nuodbycsbwl_crd.yaml
  upstream-community-operators/nuodb/nuodb.package.yaml
Labels: kubernetes-operator, size/XL

#1024 Add OpenShift-Pipelines-Operator v0.9.0 CSV
  community-operators/openshift-pipelines-operator/0.9.0/openshift-pipelines-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.9.0/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator, size/L

#1028 Updates MongoDB Operator to 1.4.1
  upstream-community-operators/mongodb-enterprise/1.4.1/mongodb-enterprise.v1.4.1.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.4.1/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.1/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.1/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator, size/XL

#1029 Update eclipse-che operator for kubernetes to release 7.6.0
  upstream-community-operators/eclipse-che/7.6.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.6.0/eclipse-che.v7.6.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator, size/XL

#1030 Update eclipse-che operator for openshift to release 7.6.0
  community-operators/eclipse-che/7.6.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.6.0/eclipse-che.v7.6.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator, size/XL

#1031 update ibm cloud operator to v0.1.3 on community operators
  community-operators/ibmcloud-operator/0.1.3/ibmcloud_operator.v0.1.3.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/0.1.3/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/0.1.3/ibmcloud_operator_v1alpha1_service.crd.yaml
  community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: openshift-operator, size/XL

#1032 update ibm cloud operator to v0.1.3 on upstream community operators
  upstream-community-operators/ibmcloud-operator/0.1.3/ibmcloud_operator.v0.1.3.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/0.1.3/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.3/ibmcloud_operator_v1alpha1_service.crd.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: kubernetes-operator, size/XL

#1033 Spinnaker Operator - 1.17.4
  community-operators/spinnaker-operator/1.17.4/spinnaker-operator.v1.17.4.clusterserviceversion.yaml
  community-operators/spinnaker-operator/1.17.4/spinnakeroperators.charts.helm.k8s.io.crd.yaml
  community-operators/spinnaker-operator/spinnaker-operator.package.yaml
Labels: openshift-operator, size/L

#1045 Jenkins operator - 0.3.0
  upstream-community-operators/jenkins-operator/0.3.0/jenkins-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/jenkins-operator/0.3.0/jenkins_v1alpha2_jenkins_crd.yaml
  upstream-community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: kubernetes-operator, size/L

#1047 v1.0.1 release of Quay operator
  community-operators/quay/1.0.1/quay.v1.0.1.clusterserviceversion.yaml
  community-operators/quay/1.0.1/redhatcop.redhat.io_quayecosystems_crd.yaml
  community-operators/quay/quay.package.yaml
Labels: openshift-operator, size/XXL

#1054 Added OpsMx-Spinnaker-Operator-V.1.17.4
  community-operators/opsmx-spinnaker-operator/1.17.4/opsmx-spinnaker-operator.v1.17.4.clusterserviceversion.yaml
  community-operators/opsmx-spinnaker-operator/1.17.4/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.package.yaml
Labels: openshift-operator, size/L

#1025 OpenEBS operator 1.4.0
  community-operators/openebs/1.4.0/openebs_v1alpha1_openebsinstalltemplate_crd.yaml
  community-operators/openebs/1.4.0/openebsoperator.v1.4.0.clusterserviceversion.yaml
  community-operators/openebs/openebs.package.yaml
Labels: openshift-operator, size/XL

#1004 must-gather-operator initial commit
  community-operators/must-gather-operator/0.1.0/must-gather-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/must-gather-operator/0.1.0/redhatcop.redhat.io_mustgathers_crd.yaml
  community-operators/must-gather-operator/0.1.1/must-gather-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/must-gather-operator/0.1.1/redhatcop.redhat.io_mustgathers_crd.yaml
  community-operators/must-gather-operator/must-gather-operator.package.yaml
Labels: openshift-operator, size/XL

#1060 OpenEBS operator 1.4.0
  upstream-community-operators/openebs/1.4.0/openebs_v1alpha1_openebsinstalltemplate_crd.yaml
  upstream-community-operators/openebs/1.4.0/openebsoperator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/openebs/openebs.package.yaml
Labels: kubernetes-operator, size/XL

#1059 operator-labs-postgresql
  upstream-community-operators/operator-labs-postgresql/0.0.1/postgresql-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/operator-labs-postgresql/0.0.1/postgresqls.postgresql.example.com.crd.yaml
  upstream-community-operators/operator-labs-postgresql/postgresql-operator.package.yaml
Labels: kubernetes-operator, size/L

#1058 Add OpenShift-Pipelines-Operator v0.9.1 CSV
  community-operators/openshift-pipelines-operator/0.9.1/openshift-pipelines-operator.v0.9.1.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.9.1/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator, size/L
