Repository operator-framework/community-operators, pull requests merged in 2019-05, with the labels that each got.

#326 Change kiali operator displayName to Kiali Operator
  upstream-community-operators/kiali/kiali.v0.18.1.clusterserviceversion.yaml
Labels: lgtm, size/XS

#179 Infinispan upstream community operator
  community-operators/infinispan/infinispan-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/infinispan/infinispan.crd.yaml
  community-operators/infinispan/infinispan.package.yaml
  upstream-community-operators/infinispan/infinispan-operator.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/infinispan/infinispan.crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: lgtm, needs-ok-to-test, size/L

#313 Add spinnaker operator for upstream and community
  community-operators/spinnaker-operator/spinnaker-operator.package.yaml
  community-operators/spinnaker-operator/spinnaker-operator.v1.13.1.clusterserviceversion.yaml
  community-operators/spinnaker-operator/spinnaker-operator_crd.yaml
  upstream-community-operators/spinnaker-operator/spinnaker-operator.package.yaml
  upstream-community-operators/spinnaker-operator/spinnaker-operator.v1.13.1.clusterserviceversion.yaml
  upstream-community-operators/spinnaker-operator/spinnaker-operator_crd.yaml
Labels: lgtm, size/L

#316 add federatorai.v0.1.0
  community-operators/federatorai/federatorai.package.yaml
  community-operators/federatorai/federatorai.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.package.yaml
  upstream-community-operators/federatorai/federatorai.v0.1.0.clusterserviceversion.yaml
Labels: lgtm, size/XL

#319 add Instana agent operator
  upstream-community-operators/instana-agent/electedleader.crd.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
  upstream-community-operators/instana-agent/instana-agent.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/L

#327 Updating: removing h1 title from istio description since not needed
  upstream-community-operators/istio/istio-operator.0.1.6.clusterserviceversion.yaml
Labels: lgtm, size/XS

#325 Add Twistlock k8s operator
  community-operators/twistlock/charts_v1alpha1_twistlockconsole_crd.yaml
  community-operators/twistlock/twistlock-console-operator.package.yaml
  community-operators/twistlock/twistlock-console-operator.v0.0.9.clusterserviceversion.yaml
  upstream-community-operators/twistlock/charts_v1alpha1_twistlockconsole_crd.yaml
  upstream-community-operators/twistlock/twistlock-console-operator.package.yaml
  upstream-community-operators/twistlock/twistlock-console-operator.v0.0.9.clusterserviceversion.yaml
Labels: lgtm, size/XL

#240 [scripts] Add additional logs to Travis output
  scripts/ci/test-operator
  scripts/lib/cluster
Labels: size/M

#330 set defaultChannel for etcd
  community-operators/etcd/etcd.package.yaml
  upstream-community-operators/etcd/etcd.package.yaml
Labels: size/XS

#335 Removing Automation Broker and Template Service Broker
  community-operators/automationbroker/automationbroker.crd.yaml
  community-operators/automationbroker/automationbroker.package.yaml
  community-operators/automationbroker/automationbrokeroperator.v0.2.0.clusterserviceversion.yaml
  community-operators/automationbroker/bundle.crd.yaml
  community-operators/automationbroker/bundlebindings.crd.yaml
  community-operators/automationbroker/bundleinstances.crd.yaml
  community-operators/templateservicebroker/templateservicebroker.crd.yaml
  community-operators/templateservicebroker/templateservicebroker.package.yaml
  community-operators/templateservicebroker/templateservicebrokeroperator.v0.2.0.clusterserviceversion.yaml
Labels: size/XL

#334 Fix typo for OneAgent CSV file name
  upstream-community-operators/oneagent/dynatrace-monitoring.v0.3.1.clusterserviceversion.yaml
Labels: size/XS

#314 Adding kubevirt to upstream community operator
  upstream-community-operators/kubevirt/kubevirtoperator.0.17.0-alpha.0.csv.yaml
  upstream-community-operators/kubevirt/kubevirtoperator.crd.yaml
  upstream-community-operators/kubevirt/kubevirtoperator.package.yaml
Labels: size/XL

#174 [community] Add Falco operator
  upstream-community-operators/falco/falco-operator.v0.5.6.clusterserviceversion.yaml
  upstream-community-operators/falco/falco.crd.yaml
  upstream-community-operators/falco/falco.package.yaml
Labels: lgtm, needs-ok-to-test, size/L

#333 Robin Storage Operator on Operatorhub.io. Support for Advanced Storage Capabilities from Robin
  upstream-community-operators/robin-operator/robin-operator.v5.1.1.clusterserviceversion.yaml
  upstream-community-operators/robin-operator/robin.package.yaml
  upstream-community-operators/robin-operator/robin_v1alpha1_robincluster_crd.yaml
Labels: size/L

#346 Adding additional properties to the CRD
  upstream-community-operators/robin-operator/robin_v1alpha1_robincluster_crd.yaml
Labels: lgtm, needs-ok-to-test, size/XS

#187 Initial Synopsys Operator commit
  upstream-community-operators/synopsys/alerts.crd.yaml
  upstream-community-operators/synopsys/blackducks.crd.yaml
  upstream-community-operators/synopsys/opssights.crd.yaml
  upstream-community-operators/synopsys/synopsys-operator.2019.4.0.clusterserviceversion.yaml
  upstream-community-operators/synopsys/synopsys-operator.package.yaml
Labels: lgtm, needs-ok-to-test, size/XL

#344 update instana-agent crd
  upstream-community-operators/instana-agent/electedleader.crd.yaml
  upstream-community-operators/instana-agent/instana-agent.crd.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
  upstream-community-operators/instana-agent/instana-agent.v0.0.2.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/M

#341 Applied Apache brand
  upstream-community-operators/strimzi-kafka-operator/strimzi-cluster-operator.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.11.1.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/S

#342 remove clusterlogging from community operators
  community-operators/cluster-logging/cluster-logging.package.yaml
  community-operators/cluster-logging/cluster-logging.v4.1.0.clusterserviceversion.yaml
  community-operators/cluster-logging/cluster-loggings.crd.yaml
  community-operators/elasticsearch-operator/elasticsearch-operator.package.yaml
  community-operators/elasticsearch-operator/elasticsearch-operator.v4.1.0.clusterserviceversion.yaml
  community-operators/elasticsearch-operator/elasticsearches.crd.yaml
Labels: do-not-merge/hold, lgtm, size/XL

#340 change display name of FederatorAI to Federator.ai
  community-operators/federatorai/federatorai.v0.0.1.clusterserviceversion.yaml
  community-operators/federatorai/federatorai.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.v0.1.0.clusterserviceversion.yaml
Labels: do-not-merge/hold, lgtm, needs-ok-to-test, size/M

#305 add Kong operator
  upstream-community-operators/kong/kong.crd.yaml
  upstream-community-operators/kong/kong.package.yaml
  upstream-community-operators/kong/kong.v0.1.0.clusterserviceversion.yaml
Labels: lgtm, size/L

#332 Add Knative Serving to community operators
  community-operators/knative-serving-operator/knative-serving-operator.package.yaml
  community-operators/knative-serving-operator/knative-serving-operator.v0.5.2.clusterserviceversion.yaml
  community-operators/knative-serving-operator/serving_v1alpha1_install_crd.yaml
Labels: size/L

#338 Federation 0.0.10
  community-operators/federation/federation-core-FederatedCluster.crd.yaml
  community-operators/federation/federation-core-FederationConfig.crd.yaml
  community-operators/federation/federation-core-ServiceDNSRecord.crd.yaml
  community-operators/federation/federation.package.yaml
  community-operators/federation/federation.v0.0.10.clusterserviceversion.yaml
  upstream-community-operators/federation/federation-core-FederatedCluster.crd.yaml
  upstream-community-operators/federation/federation-core-FederationConfig.crd.yaml
  upstream-community-operators/federation/federation-core-ServiceDNSRecord.crd.yaml
  upstream-community-operators/federation/federation.package.yaml
  upstream-community-operators/federation/federation.v0.0.10.clusterserviceversion.yaml
Labels: lgtm, size/L

#353 Erroneous replaces field
  community-operators/knative-serving-operator/knative-serving-operator.v0.5.2.clusterserviceversion.yaml
Labels: size/XS

#357 Set Infinispan example size to 1 pod
  community-operators/infinispan/infinispan-operator.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/infinispan/infinispan-operator.v0.2.1.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/XS

#336 Add Camel K to upstream community operators
  upstream-community-operators/camel-k/camel-k.package.yaml
  upstream-community-operators/camel-k/camel-k.v0.3.3.clusterserviceversion.yaml
  upstream-community-operators/camel-k/crd-build.yaml
  upstream-community-operators/camel-k/crd-camel-catalog.yaml
  upstream-community-operators/camel-k/crd-integration-context.yaml
  upstream-community-operators/camel-k/crd-integration-platform.yaml
  upstream-community-operators/camel-k/crd-integration.yaml
Labels: lgtm, size/L

#362 Add openshift-pipelines-operator to community-operators
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator-tekton_v1alpha1_install_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.v0.3.1.clusterserviceversion.yaml
Labels: lgtm, size/L

#348 kubernetes upstream: add rook operator
  upstream-community-operators/rook-ceph/ceph_crd.yaml
  upstream-community-operators/rook-ceph/rook-ceph.package.yaml
  upstream-community-operators/rook-ceph/rook-ceph.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/rook-ceph/rookcephblockpools.crd.yaml
  upstream-community-operators/rook-ceph/rookcephobjectstores.crd.yaml
  upstream-community-operators/rook-ceph/rookcephobjectstoreusers.crd.yaml
Labels: lgtm, size/XL

#360 [redhat] Remove redhat-operators
  README.md
  docs/using-scripts.md
  redhat-operators/amq-streams/amq-streams-kafka.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkaconnect.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkaconnects2i.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkamirrormaker.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkatopic.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkauser.crd.yaml
  redhat-operators/amq-streams/amq-streams.package.yaml
  redhat-operators/amq-streams/amq-streams.v1.0.0.clusterserviceversion.yaml
  redhat-operators/amq-streams/amq-streams.v1.1.0.clusterserviceversion.yaml
  redhat-operators/codeready-workspaces/codeready-workspaces.1.1.0.clusterserviceversion.yaml
  redhat-operators/codeready-workspaces/codeready-workspaces.crd.yaml
  redhat-operators/codeready-workspaces/codeready-workspaces.package.yaml
Labels: size/XXL

#350 Updating the description and making the node selector an optional
  upstream-community-operators/robin-operator/robin-operator.v5.1.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/XS

#356 [community] Upgrade Falco operator
  upstream-community-operators/falco/falco-operator.v0.7.6.clusterserviceversion.yaml
  upstream-community-operators/falco/falco.package.yaml
Labels: lgtm, needs-ok-to-test, size/L

#358 Warn about Istio and fix Red Hat links
  community-operators/knative-serving-operator/knative-serving-operator.v0.5.2.clusterserviceversion.yaml
Labels: lgtm, size/XS

#365 Rook-Ceph CSV update
  upstream-community-operators/rook-ceph/rook-ceph.package.yaml
  upstream-community-operators/rook-ceph/rook-ceph.v1.0.1.clusterserviceversion.yaml
Labels: size/L

#355 Add openshift-pipelines-operator to upstream-community-operators
  upstream-community-operators/openshift-pipelines-operator/openshift-pipelines-operator-tekton_v1alpha1_install_crd.yaml
  upstream-community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
  upstream-community-operators/openshift-pipelines-operator/openshift-pipelines-operator.v0.3.1.clusterserviceversion.yaml
Labels: lgtm, size/L

#372 metering: Fix CSV deployment's chart path
  community-operators/metering/meteringoperator.v4.1.0.clusterserviceversion.yaml
Labels: size/XS

#328 [wip] Add Elastic Cloud operator
  upstream-community-operators/elastic-cloud/apm_v1alpha1_apmserver.yaml
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.package.yaml
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.v0.8.0.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud/elasticsearch_v1alpha1_clusterlicense.yaml
  upstream-community-operators/elastic-cloud/elasticsearch_v1alpha1_elasticsearch.yaml
  upstream-community-operators/elastic-cloud/elasticsearch_v1alpha1_enterpriselicense.yaml
  upstream-community-operators/elastic-cloud/elasticsearch_v1alpha1_remotecluster.yaml
  upstream-community-operators/elastic-cloud/elasticsearch_v1alpha1_trustrelationship.yaml
  upstream-community-operators/elastic-cloud/elasticsearch_v1alpha1_user.yaml
  upstream-community-operators/elastic-cloud/kibana_v1alpha1_kibana.yaml
Labels: do-not-merge/work-in-progress, size/XXL

#374 Elastic Cloud operator: broken readme links
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.v0.8.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/XS

#377 delete openshift pipelines operator for now
  upstream-community-operators/openshift-pipelines-operator/openshift-pipelines-operator-tekton_v1alpha1_install_crd.yaml
  upstream-community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
  upstream-community-operators/openshift-pipelines-operator/openshift-pipelines-operator.v0.3.1.clusterserviceversion.yaml
Labels: size/L

#378 Change Owners and Approvers
  OWNERS
Labels: size/XS

#381 Add "Application Runtime" as a valid category
  docs/required-fields.md
Labels: lgtm, needs-ok-to-test, size/XS

#386 Make the CSI provisioner tag optional, this will prevent user errors.
  upstream-community-operators/robin-operator/robin-operator.v5.1.1.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/XS

#337 [Community] Update the Percona XtraDB Cluster Operator
  community-operators/percona-xtradb-cluster/percona-xtradb-cluster-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/percona-xtradb-cluster/percona-xtradb-cluster.package.yaml
  community-operators/percona-xtradb-cluster/perconaxtradbbackups.crd.yaml
  community-operators/percona-xtradb-cluster/perconaxtradbclusterbackups.crd.yaml
  community-operators/percona-xtradb-cluster/perconaxtradbclusterrestores.crd.yaml
  community-operators/percona-xtradb-cluster/perconaxtradbclusters.crd.yaml
  community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
  community-operators/percona/percona.package.yaml
  community-operators/percona/perconaxtradbclusters.crd.yaml
Labels: size/XL

#394 [Upstream Community] Add Percona XtraDB Cluster Operator 1.0.0
  upstream-community-operators/percona-xtradb-cluster/percona-xtradb-cluster-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/percona-xtradb-cluster/percona-xtradb-cluster.package.yaml
  upstream-community-operators/percona-xtradb-cluster/perconaxtradbbackups.crd.yaml
  upstream-community-operators/percona-xtradb-cluster/perconaxtradbclusterbackups.crd.yaml
  upstream-community-operators/percona-xtradb-cluster/perconaxtradbclusterrestores.crd.yaml
  upstream-community-operators/percona-xtradb-cluster/perconaxtradbclusters.crd.yaml
  upstream-community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
  upstream-community-operators/percona/percona.package.yaml
  upstream-community-operators/percona/perconaxtradbclusters.crd.yaml
Labels: needs-ok-to-test, size/XL

#396 [Community] Remove Percona XtraDB Cluster Operator
  community-operators/percona-xtradb-cluster/percona-xtradb-cluster-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/percona-xtradb-cluster/percona-xtradb-cluster.package.yaml
  community-operators/percona-xtradb-cluster/perconaxtradbbackups.crd.yaml
  community-operators/percona-xtradb-cluster/perconaxtradbclusterbackups.crd.yaml
  community-operators/percona-xtradb-cluster/perconaxtradbclusterrestores.crd.yaml
  community-operators/percona-xtradb-cluster/perconaxtradbclusters.crd.yaml
Labels: needs-ok-to-test, size/L

#397 [Upstream Community] Add Percona Server for MongoDB Operator
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb.package.yaml
  upstream-community-operators/percona-server-mongodb/perconaservermongodb.crd.yaml
  upstream-community-operators/percona-server-mongodb/perconaservermongodbbackups.crd.yaml
  upstream-community-operators/percona-server-mongodb/perconaservermongodbrestores.crd.yaml
Labels: needs-ok-to-test, size/L

#389 Update Upstream Community Jaeger to v1.12.0
  upstream-community-operators/jaeger/jaeger.package.yaml
  upstream-community-operators/jaeger/jaeger.v1.12.0.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/L

#390 Update Community Jaeger to v1.12.0
  community-operators/jaeger/jaeger.package.yaml
  community-operators/jaeger/jaeger.v1.12.0.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/L

#371 Add WildFly Operator 0.1.0
  upstream-community-operators/wildfly/wildfly-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/wildfly/wildfly.crd.yaml
  upstream-community-operators/wildfly/wildfly.package.yaml
Labels: lgtm, needs-ok-to-test, size/L

#407 Adding Knative Eventing Operator to community operators
  community-operators/knative-eventing-operator/eventing_v1alpha1_knativeeventing_crd.yaml
  community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
  community-operators/knative-eventing-operator/knative-eventing-operator.v0.6.0.clusterserviceversion.yaml
Labels: size/L

#406 Updating the documentation for Robin Storage
  upstream-community-operators/robin-operator/robin-operator.v5.1.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/M

#339 Adding Portworx to upstream community operator list
  upstream-community-operators/portworx/core_v1alpha1_storagecluster_crd.yaml
  upstream-community-operators/portworx/portworxoperator.package.yaml
  upstream-community-operators/portworx/portworxoperator.v1.0.3.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/XL

#369 Add EnMasse - Operator for self-service messaging on Kubernetes
  upstream-community-operators/enmasse/addressplans.crd.yaml
  upstream-community-operators/enmasse/addressspaceplans.crd.yaml
  upstream-community-operators/enmasse/authenticationservices.crd.yaml
  upstream-community-operators/enmasse/brokeredinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/consoleservices.crd.yaml
  upstream-community-operators/enmasse/enmasse.0.28.0.clusterserviceversion.yaml
  upstream-community-operators/enmasse/enmasse.package.yaml
  upstream-community-operators/enmasse/iotconfigs.crd.yaml
  upstream-community-operators/enmasse/standardinfraconfigs.crd.yaml
Labels: needs-ok-to-test, size/XXL

#361 Update StorageOS Operator to version 1.2.0
  upstream-community-operators/storageos/storageos.package.yaml
  upstream-community-operators/storageos/storageos.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/storageoscluster.crd.yaml
Labels: needs-ok-to-test, size/L

#366 [community] Upgrade Sysdig operator to 1.4.7
  upstream-community-operators/sysdig/sysdig-operator.v1.4.7.clusterserviceversion.yaml
  upstream-community-operators/sysdig/sysdig.package.yaml
Labels: needs-ok-to-test, size/L

#383 Add community Eclipse Che operator (for upstream operators)
  upstream-community-operators/eclipse-che/eclipse-che.7.0.0-beta-5.0.csv.yaml
  upstream-community-operators/eclipse-che/eclipse-che.crd.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: size/L
