Repository operator-framework/community-operators, pull requests merged in 2019-07, with the labels that each got.

#456 add IBM Cloud Operator to upstream community operators
  upstream-community-operators/ibmcloud-operator/ibmcloud_operator.package.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud_operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud_operator_v1alpha1_service.crd.yaml
Labels: ok-to-test

#461 Updated Jaeger upstream community operator to 1.13.0
  upstream-community-operators/jaeger/jaeger.package.yaml
  upstream-community-operators/jaeger/jaeger.v1.13.0.clusterserviceversion.yaml
Labels: size/L

#465 Upgrade the upstream `eclipse-che` operator to the `7.0.0-rc-2.0` release
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
  upstream-community-operators/eclipse-che/eclipse-che.v7.0.0-rc-2.0.clusterserviceversion-v7.0.0-rc-2.0.yaml
Labels: size/L

#467 add ext-postgres-operatorar to upstream operators
  upstream-community-operators/ext-postgres-operator/ext-postgres-operator.crd.yaml
  upstream-community-operators/ext-postgres-operator/ext-postgres-operator.package.yaml
  upstream-community-operators/ext-postgres-operator/ext-postgres-operator.v0.2.0.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#469 Add AkkaClusterOperator - Upstream
  upstream-community-operators/akka-cluster-operator/akka-cluster-operator.package.yaml
  upstream-community-operators/akka-cluster-operator/akka-cluster-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/akka-cluster-operator/app_v1alpha1_akkacluster_crd.yaml
Labels: ok-to-test, size/L

#447 Adding Seldon to community operators
  community-operators/seldon-operator/seldonoperator.crd.yaml
  community-operators/seldon-operator/seldonoperator.package.yaml
  community-operators/seldon-operator/seldonoperator.v0.1.2.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#477 Operator framework master
  Dockerfile
  Dockerfile.command
  Makefile
  docs/using-scripts.md
  scripts/ci/build-registry-image
  scripts/ci/check-kubeconfig
  scripts/ci/env
  scripts/ci/install-minikube
  scripts/ci/install-olm-local
  scripts/ci/make-tmp
  scripts/ci/operator-test
  scripts/ci/run-script
  scripts/ci/test-operator
  scripts/lib/cluster
  scripts/lib/file
  scripts/lib/util
  scripts/utils/Makefile
  scripts/utils/check-deps.py
  scripts/utils/entrypoint.sh
Labels: size/XL

#487 Latest release of Knative Serving 0.7.1
  community-operators/knative-serving-operator/knative-serving-operator.package.yaml
  community-operators/knative-serving-operator/knative-serving-operator.v0.7.1.clusterserviceversion.yaml
  community-operators/knative-serving-operator/serving_v1alpha1_knativeserving_crd.yaml
Labels: size/L

#443 Add kubefed-operator to community-operators.
  community-operators/kubefed-operator/0.1.0/kubefed-operator-ClusterPropagatedVersion_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator-DNSEndpoint_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator-Domain_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator-FederatedServiceStatus_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator-FederatedTypeConfig_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator-IngressDNSRecord_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator-KubeFedCluster_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator-KubeFedConfig_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator-PropagatedVersion_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator-ReplicaSchedulingPreference_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator-ServiceDNSRecord_crd.yaml
  community-operators/kubefed-operator/0.1.0/kubefed-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/kubefed-operator/0.1.0/operator_v1alpha1_kubefed_crd.yaml
  community-operators/kubefed-operator/kubefed-operator.package.yaml
Labels: size/XXL

#391 Add AWS S3 Operator Alpha
  community-operators/awss3operator/awss3operator.1.0.0.clusterserviceversion.yaml
  community-operators/awss3operator/awss3operator.1.0.1.clusterserviceversion.yaml
  community-operators/awss3operator/awss3operator.objectbucket.crd.yaml
  community-operators/awss3operator/awss3operator.objectbucketclaims.crd.yaml
  community-operators/awss3operator/awss3operator.package.yaml
Labels: size/XL

#492 Revert "Operator framework master"
  Dockerfile
  Dockerfile.command
  Makefile
  docs/using-scripts.md
  scripts/ci/build-registry-image
  scripts/ci/check-kubeconfig
  scripts/ci/env
  scripts/ci/install-minikube
  scripts/ci/install-olm-local
  scripts/ci/make-tmp
  scripts/ci/operator-test
  scripts/ci/run-script
  scripts/ci/test-operator
  scripts/lib/cluster
  scripts/lib/file
  scripts/lib/util
  scripts/utils/Makefile
  scripts/utils/check-deps.py
  scripts/utils/entrypoint.sh
Labels: size/XL

#392 [community] Add Spark operator@1.0.1
  community-operators/radanalytics-spark/radanalytics-spark.package.yaml
  community-operators/radanalytics-spark/sparkapplication.crd.yaml
  community-operators/radanalytics-spark/sparkcluster.crd.yaml
  community-operators/radanalytics-spark/sparkclusteroperator.v1.0.2.clusterserviceversion.yaml
  community-operators/radanalytics-spark/sparkhistoryserver.crd.yaml
Labels: ok-to-test, size/L

#460 Updated Jaeger community operator to 1.13.0
  community-operators/jaeger/jaeger.package.yaml
  community-operators/jaeger/jaeger.v1.13.0.clusterserviceversion.yaml
Labels: size/L

#464 Upgrade the `eclipse-che` operator to `7.0.0-rc-2.0` release
  community-operators/eclipse-che/eclipse-che.package.yaml
  community-operators/eclipse-che/eclipse-che.v7.0.0-rc-2.0.clusterserviceversion.yaml
Labels: size/L

#468 Add AkkaClusterOperator - Community
  community-operators/akka-cluster-operator/akka-cluster-operator.package.yaml
  community-operators/akka-cluster-operator/akka-cluster-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/akka-cluster-operator/app_v1alpha1_akkacluster_crd.yaml
Labels: ok-to-test, size/L

#470 Add kubevirt-hyperconverged to community operators
  community-operators/kubevirt-hyperconverged/cdi.crd.yaml
  community-operators/kubevirt-hyperconverged/cna.crd.yaml
  community-operators/kubevirt-hyperconverged/common-template-bundles.crd.yaml
  community-operators/kubevirt-hyperconverged/hco.crd.yaml
  community-operators/kubevirt-hyperconverged/kubevirt-hyperconverged-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/kubevirt-hyperconverged/kubevirt-hyperconverged.package.yaml
  community-operators/kubevirt-hyperconverged/kubevirt.crd.yaml
  community-operators/kubevirt-hyperconverged/kwebui.crd.yaml
  community-operators/kubevirt-hyperconverged/node-labeller-bundles.crd.yaml
  community-operators/kubevirt-hyperconverged/node-maintenance.crd.yaml
  community-operators/kubevirt-hyperconverged/template-validator.crd.yaml
Labels: size/XXL

#472 adding kiali to community operators
  community-operators/kiali/0.18.1/kiali.crd.yaml
  community-operators/kiali/0.18.1/kiali.v0.18.1.clusterserviceversion.yaml
  community-operators/kiali/1.1.0/kiali.crd.yaml
  community-operators/kiali/1.1.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.1.0/kiali.v1.1.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: ok-to-test, size/XXL

#485 Changed miniKubeversion in travis from 1.12 to 1.14 and apiserver ver…
  .travis.yml
Labels: size/XS

#457 add IBM Cloud operator to community operators
  community-operators/ibmcloud-operator/ibmcloud_operator.package.yaml
  community-operators/ibmcloud-operator/ibmcloud_operator.v0.1.0.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/ibmcloud_operator_v1alpha1_service.crd.yaml
Labels: ok-to-test, size/XL

#480 Seldon added to upstream operators
  upstream-community-operators/seldon-operator/seldonoperator.v0.1.2.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#490 Rename the csv file according to OperatorHub rules
  upstream-community-operators/eclipse-che/eclipse-che.v7.0.0-rc-2.0.clusterserviceversion.yaml
Labels: size/XS

#494 Upgraded olm to 0.10.1 fixed issue #425
  scripts/ci/install-olm-local
Labels: lgtm, size/XS

#444 Add kubefed-operator for upstream operatorhub.io.
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-ClusterPropagatedVersion_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-DNSEndpoint_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-Domain_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-FederatedServiceStatus_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-FederatedTypeConfig_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-IngressDNSRecord_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-KubeFedCluster_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-KubeFedConfig_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-PropagatedVersion_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-ReplicaSchedulingPreference_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator-ServiceDNSRecord_crd.yaml
  upstream-community-operators/kubefed-operator/0.1.0/kubefed-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/kubefed-operator/0.1.0/operator_v1alpha1_kubefed_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator.package.yaml
Labels: ok-to-test, size/XXL

#498 Update Jaeger upstream community operator to v1.13.1
  upstream-community-operators/jaeger/jaeger.package.yaml
  upstream-community-operators/jaeger/jaeger.v1.13.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#497 Update Jaeger community operator to v1.13.1
  community-operators/jaeger/jaeger.package.yaml
  community-operators/jaeger/jaeger.v1.13.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#495 Add spark-operator from radanalytics.io as a upstream operator
  upstream-community-operators/radanalytics-spark/radanalytics-spark.package.yaml
  upstream-community-operators/radanalytics-spark/sparkapplication.crd.yaml
  upstream-community-operators/radanalytics-spark/sparkcluster.crd.yaml
  upstream-community-operators/radanalytics-spark/sparkclusteroperator.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/radanalytics-spark/sparkhistoryserver.crd.yaml
Labels: needs-ok-to-test, size/L

#496 Add support for Infinispan Operator 0.3.0
  community-operators/infinispan/infinispan-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: needs-ok-to-test, size/L

#482 Update StorageOS Operator to version 1.3.0
  upstream-community-operators/storageos/storageos.package.yaml
  upstream-community-operators/storageos/storageos.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/storageoscluster.crd.yaml
Labels: needs-ok-to-test, size/XL

#479 Update Federator.ai operator to v4.1.20
  upstream-community-operators/federatorai/federatorai-AlamedaService.crd.yaml
  upstream-community-operators/federatorai/federatorai.package.yaml
  upstream-community-operators/federatorai/federatorai.v4.1.20.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#478 Update Federator.ai operator to v4.1.20
  community-operators/federatorai/federatorai-AlamedaService.crd.yaml
  community-operators/federatorai/federatorai.package.yaml
  community-operators/federatorai/federatorai.v4.1.20.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#471 updating kiali in upstream community operators
  upstream-community-operators/kiali/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/kiali.package.yaml
  upstream-community-operators/kiali/kiali.v1.1.0.clusterserviceversion.yaml
Labels: ok-to-test, size/XL

#462 Delete the federation operator from community operators
  community-operators/federation/cluster-registry.crd.yaml
  community-operators/federation/federation-core-ClusterPropagatedVersion.crd.yaml
  community-operators/federation/federation-core-DNSEndpoint.crd.yaml
  community-operators/federation/federation-core-Domain.crd.yaml
  community-operators/federation/federation-core-FederatedCluster.crd.yaml
  community-operators/federation/federation-core-FederatedServiceStatus.crd.yaml
  community-operators/federation/federation-core-FederatedTypeConfig.crd.yaml
  community-operators/federation/federation-core-FederationConfig.crd.yaml
  community-operators/federation/federation-core-IngressDNSRecord.crd.yaml
  community-operators/federation/federation-core-PropagatedVersion.crd.yaml
  community-operators/federation/federation-core-ReplicaSchedulingPreference.crd.yaml
  community-operators/federation/federation-core-ServiceDNSRecord.crd.yaml
  community-operators/federation/federation.package.yaml
  community-operators/federation/federation.v0.0.10.clusterserviceversion.yaml
Labels: size/XXL

#453 Fix grammar on docs
  docs/testing-operators.md
Labels: size/XS

#463 Delete federation operator from upstream community operators
  upstream-community-operators/federation/cluster-registry.crd.yaml
  upstream-community-operators/federation/federation-core-ClusterPropagatedVersion.crd.yaml
  upstream-community-operators/federation/federation-core-DNSEndpoint.crd.yaml
  upstream-community-operators/federation/federation-core-Domain.crd.yaml
  upstream-community-operators/federation/federation-core-FederatedCluster.crd.yaml
  upstream-community-operators/federation/federation-core-FederatedServiceStatus.crd.yaml
  upstream-community-operators/federation/federation-core-FederatedTypeConfig.crd.yaml
  upstream-community-operators/federation/federation-core-FederationConfig.crd.yaml
  upstream-community-operators/federation/federation-core-IngressDNSRecord.crd.yaml
  upstream-community-operators/federation/federation-core-PropagatedVersion.crd.yaml
  upstream-community-operators/federation/federation-core-ReplicaSchedulingPreference.crd.yaml
  upstream-community-operators/federation/federation-core-ServiceDNSRecord.crd.yaml
  upstream-community-operators/federation/federation.package.yaml
  upstream-community-operators/federation/federation.v0.0.10.clusterserviceversion.yaml
Labels: size/XXL

#455 Fix display name for consistency with other Knative operators
  community-operators/knative-camel-operator/knative-camel-operator.v0.6.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/XS

#500 flatten kubefed manifest until this format is supported
  upstream-community-operators/kubefed-operator/kubefed-operator-ClusterPropagatedVersion_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator-DNSEndpoint_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator-Domain_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator-FederatedServiceStatus_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator-FederatedTypeConfig_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator-IngressDNSRecord_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator-KubeFedCluster_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator-KubeFedConfig_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator-PropagatedVersion_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator-ReplicaSchedulingPreference_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator-ServiceDNSRecord_crd.yaml
  upstream-community-operators/kubefed-operator/kubefed-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/kubefed-operator/operator_v1alpha1_kubefed_crd.yaml
Labels: size/XS

#475 Update testing docs with respect to simpler APIs
  docs/testing-operators.md
Labels: size/M

#503 rename bundle dir to match package name
  community-operators/hco-operatorhub/cdi.crd.yaml
  community-operators/hco-operatorhub/cna.crd.yaml
  community-operators/hco-operatorhub/common-template-bundles.crd.yaml
  community-operators/hco-operatorhub/hco.crd.yaml
  community-operators/hco-operatorhub/kubevirt-hyperconverged-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/hco-operatorhub/kubevirt-hyperconverged.package.yaml
  community-operators/hco-operatorhub/kubevirt.crd.yaml
  community-operators/hco-operatorhub/kwebui.crd.yaml
  community-operators/hco-operatorhub/node-labeller-bundles.crd.yaml
  community-operators/hco-operatorhub/node-maintenance.crd.yaml
  community-operators/hco-operatorhub/template-validator.crd.yaml
Labels: ok-to-test, size/XS

#473 noobaa-operator.v0.1.0
  upstream-community-operators/noobaa/noobaa-operator.package.yaml
  upstream-community-operators/noobaa/noobaa-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/noobaa/noobaa_v1alpha1_noobaa_crd.yaml
Labels: ok-to-test, size/L

#481 Adding ripsaw to upstream-community-operators
  upstream-community-operators/ripsaw/ripsaw.crd.yaml
  upstream-community-operators/ripsaw/ripsaw.package.yaml
  upstream-community-operators/ripsaw/ripsaw.v0.1.0.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#454 Update knative-eventing-operator to release-v0.7.1
  community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
  community-operators/knative-eventing-operator/knative-eventing-operator.v0.7.1.clusterserviceversion.yaml
Labels: size/L

#507 Latest release of Knative Kafka 0.7.1
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.v0.7.1.clusterserviceversion-v0.7.1.yaml
Labels: size/L

#509 Update capabilities to Deep Insights
  upstream-community-operators/couchbase-enterprise/couchbase-v1.1.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/XS

#474 update instana agent operator
  upstream-community-operators/instana-agent/instana-agent.package.yaml
  upstream-community-operators/instana-agent/instana-agent.v0.0.3.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#508 Add support for Infinispan Operator 0.3.0 (upstream)
  upstream-community-operators/infinispan/infinispan-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: ok-to-test, size/L

#466 [doc] Highlight making the application public
  docs/testing-operators.md
Labels: size/XS

#510 Add Infinispan 0.3.0 replaces field (community)
  community-operators/infinispan/infinispan-operator.v0.3.0.clusterserviceversion.yaml
Labels: ok-to-test, size/XS

#489 add OpenEBS to upstream-community-operators
  upstream-community-operators/openebs/openebsoperator.crd.yaml
  upstream-community-operators/openebs/openebsoperator.package.yaml
  upstream-community-operators/openebs/openebsoperator.v1.0.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#514 Support OwnNamespace and Fixed travis missing error when channel name is not set and install m…
  scripts/lib/cluster
Labels: ok-to-test, size/XS

#511 noobaa: update csv InstallModes to allow only OwnNamespace
  upstream-community-operators/noobaa/noobaa-operator.v0.1.0.clusterserviceversion.yaml
Labels: ok-to-test, size/XS

#505 enmasse 0.28.2 community-operators
  community-operators/enmasse/enmasse.0.28.2.clusterserviceversion.yaml
  community-operators/enmasse/enmasse.package.yaml
Labels: needs-ok-to-test, size/XL

#506 enmasse 0.28.2 upstream-community-operators
  upstream-community-operators/enmasse/enmasse.0.28.2.clusterserviceversion.yaml
  upstream-community-operators/enmasse/enmasse.package.yaml
Labels: needs-ok-to-test, size/XL

#519 Update community infinispan to 0.3.1
  community-operators/infinispan/infinispan-operator.v0.3.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#518 Update upstream infinispan to 0.3.1
  upstream-community-operators/infinispan/infinispan-operator.v0.3.1.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#516 add OpenEBS operator to openshift community operators
  community-operators/openebs/openebsoperator.crd.yaml
  community-operators/openebs/openebsoperator.package.yaml
  community-operators/openebs/openebsoperator.v1.0.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#513 Updating Seldon Community Operator from 2.8 to 3.1
  community-operators/seldon-operator/seldonoperator.crd.yaml
  community-operators/seldon-operator/seldonoperator.package.yaml
  community-operators/seldon-operator/seldonoperator.v0.1.3.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#522 Updating docs for ripsaw
  upstream-community-operators/ripsaw/ripsaw.v0.1.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/S

#524 [community][kiali] forgot to add these permissions.
  community-operators/kiali/1.1.0/kiali.v1.1.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/XS

#525 [upstream][kiali] forgot to add these permissions.
  upstream-community-operators/kiali/kiali.v1.1.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/XS

#521 Updated Seldon Upstream Community Operator to v0.1.3
  upstream-community-operators/seldon-operator/seldonoperator.crd.yaml
  upstream-community-operators/seldon-operator/seldonoperator.package.yaml
  upstream-community-operators/seldon-operator/seldonoperator.v0.1.3.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#526 [Trivial] Update provider to Red Hat for knative-eventing
  community-operators/knative-eventing-operator/knative-eventing-operator.v0.7.1.clusterserviceversion.yaml
Labels: size/XS

#532 add litmus to upstream community operators
  upstream-community-operators/litmus/chaosoperator.crd.yaml
  upstream-community-operators/litmus/chaosoperator.package.yaml
  upstream-community-operators/litmus/chaosoperator.v0.1.0.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#527 update to cockroachdb 2.1.11
  upstream-community-operators/cockroachdb/cockroachdb.package.yaml
  upstream-community-operators/cockroachdb/cockroachdb.v2.1.11.clusterserviceversion.yaml
Labels: size/L

#533 update description
  upstream-community-operators/cockroachdb/cockroachdb.v2.1.11.clusterserviceversion.yaml
Labels: size/M

#536 update cockroachdb to 2.1.11
  community-operators/cockroachdb/cockroachdb.package.yaml
  community-operators/cockroachdb/cockroachdb.v2.1.11.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#537 proper resource tracking, missing RBAC
  community-operators/cockroachdb/cockroachdb.v2.0.9.clusterserviceversion.yaml
  community-operators/cockroachdb/cockroachdb.v2.1.1.clusterserviceversion.yaml
  community-operators/cockroachdb/cockroachdb.v2.1.11.clusterserviceversion.yaml
Labels: ok-to-test, size/M

#538 resource tracking, missing RBAC
  upstream-community-operators/cockroachdb/cockroachdb.v2.0.9.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/cockroachdb.v2.1.1.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/cockroachdb.v2.1.11.clusterserviceversion.yaml
Labels: size/M

#531 adding ripsaw to embedded operatorhub
  community-operators/ripsaw/ripsaw.crd.yaml
  community-operators/ripsaw/ripsaw.package.yaml
  community-operators/ripsaw/ripsaw.v0.1.0.clusterserviceversion.yaml
Labels: needs-ok-to-test, size/L

#535 update Instana agent operator
  upstream-community-operators/instana-agent/instana-agent.package.yaml
  upstream-community-operators/instana-agent/instana-agent.v0.0.4.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#543 Mark the secret volume optional for seldon and remove init pod
  upstream-community-operators/seldon-operator/seldonoperator.v0.1.2.clusterserviceversion.yaml
  upstream-community-operators/seldon-operator/seldonoperator.v0.1.3.clusterserviceversion.yaml
Labels: ok-to-test, size/M

#542 Mark the secret volume optional for seldon and remove init pod
  community-operators/seldon-operator/seldonoperator.v0.1.2.clusterserviceversion.yaml
  community-operators/seldon-operator/seldonoperator.v0.1.3.clusterserviceversion.yaml
Labels: ok-to-test, size/M

#541 update csv description and format for openebs upstream operator
  upstream-community-operators/openebs/openebsoperator.v1.0.0.clusterserviceversion.yaml
Labels: ok-to-test, size/XS

#545 add grafana operator
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
  upstream-community-operators/grafana-operator/grafana-operator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/grafana.yaml
  upstream-community-operators/grafana-operator/grafanadashboard.yaml
  upstream-community-operators/grafana-operator/grafanadatasource.yaml
Labels: ok-to-test, size/L

#548 update grafana-operator tag
  upstream-community-operators/grafana-operator/grafana-operator.v1.3.0.clusterserviceversion.yaml
Labels: ok-to-test, size/XS

#550 add grafana operator to openshift operators
  community-operators/grafana-operator/grafana-operator.package.yaml
  community-operators/grafana-operator/grafana-operator.v1.3.0.clusterserviceversion.yaml
  community-operators/grafana-operator/grafana.yaml
  community-operators/grafana-operator/grafanadashboard.yaml
  community-operators/grafana-operator/grafanadatasource.yaml
Labels: ok-to-test, size/L

#549 [upstream] Update Postgres Operator image to release version
  upstream-community-operators/postgres-operator/postgres-operator.v1.2.0.clusterserviceversion.yaml
Labels: ok-to-test, size/S

#553 CSI provisioner image to be used is different based on the K8s version.
  upstream-community-operators/robin-operator/robin-operator.v5.1.1.clusterserviceversion.yaml
Labels: ok-to-test, size/S

#554 update Instana agent operator documentation
  upstream-community-operators/instana-agent/instana-agent.v0.0.4.clusterserviceversion.yaml
Labels: ok-to-test, size/M

#555 Update eclipse-che operator to release 7.0.0-rc-4.0
  community-operators/eclipse-che/eclipse-che.package.yaml
  community-operators/eclipse-che/eclipse-che.v7.0.0-rc-4.0.clusterserviceversion.yaml
Labels: size/L

#547 Update openshift-pipelines-operator CR name
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.v0.5.0.clusterserviceversion-v0.5.0.yaml
Labels: size/XS

#556 Update upstream eclipse-che operator to release 7.0.0-rc-4.0
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
  upstream-community-operators/eclipse-che/eclipse-che.v7.0.0-rc-4.0.clusterserviceversion.yaml
Labels: size/L

#512 Upgrade Knative Camel to 0.7.1
  community-operators/knative-camel-operator/camelsource.crd.yaml
  community-operators/knative-camel-operator/knative-camel-operator.package.yaml
  community-operators/knative-camel-operator/knative-camel-operator.v0.7.1.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#559 Support for Infinispan operator 0.3.2 (upstream)
  upstream-community-operators/infinispan/infinispan-operator.v0.3.2.clusterserviceversion.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: ok-to-test, size/L

#558 Support community infinispan operator 0.3.2
  community-operators/infinispan/infinispan-operator.v0.3.2.clusterserviceversion.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: ok-to-test, size/L

#551 Update operator to 4.0.1, remove 3.5
  community-operators/postgresql/pgbackup.crd.yaml
  community-operators/postgresql/pgcluster.crd.yaml
  community-operators/postgresql/pgpolicy.crd.yaml
  community-operators/postgresql/pgreplica.crd.yaml
  community-operators/postgresql/pgtask.crd.yaml
  community-operators/postgresql/pgupgrade.crd.yaml
  community-operators/postgresql/postgres-operator.v3.5.0.clusterserviceversion.yaml
  community-operators/postgresql/postgres-operator.v4.0.1.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: needs-ok-to-test, size/XXL

#534 add Mattermost to the community-operators repo
  community-operators/mattermost-operator/mattermost-operator.package.yaml
  community-operators/mattermost-operator/mattermost-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/mattermost-operator/mattermost_v1alpha1_clusterinstallation_crd.yaml
Labels: ok-to-test, size/L

#561 update Instana agent operator
  upstream-community-operators/instana-agent/instana-agent.package.yaml
  upstream-community-operators/instana-agent/instana-agent.v0.0.5.clusterserviceversion.yaml
Labels: ok-to-test, size/L

#564 Upgrade Elastic operator to 0.9.0
  upstream-community-operators/elastic-cloud/apm_v1alpha1_apmserver.yaml
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.package.yaml
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud/elasticsearch_v1alpha1_elasticsearch.yaml
  upstream-community-operators/elastic-cloud/kibana_v1alpha1_kibana.yaml
Labels: ok-to-test, size/XL

#565 add mattermost to upstream-community-operators
  upstream-community-operators/mattermost-operator/mattermost-operator.package.yaml
  upstream-community-operators/mattermost-operator/mattermost-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/mattermost-operator/mattermost_v1alpha1_clusterinstallation_crd.yaml
Labels: ok-to-test, size/L

#563 Update TiDB Operator to v1.0.0
  upstream-community-operators/tidb-operator/tidb-operator.1.0.0.clusterserviceversion.yaml
  upstream-community-operators/tidb-operator/tidb-operator.package.yaml
Labels: ok-to-test, size/L

#529 Updated for community operator Strimzi 0.12.2
  community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.12.2.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, size/XXL
