Repository operator-framework/community-operators, pull requests merged in 2019-09, with the labels that each got.

#656 lib-bucket-provisioner v1.0.0 (CRD-only package)
  upstream-community-operators/lib-bucket-provisioner/lib-bucket-provisioner.package.yaml
  upstream-community-operators/lib-bucket-provisioner/lib-bucket-provisioner.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/lib-bucket-provisioner/objectbucket_v1alpha1_objectbucket_crd.yaml
  upstream-community-operators/lib-bucket-provisioner/objectbucket_v1alpha1_objectbucketclaim_crd.yaml
Labels: kubernetes-operator, size/L

#662 imp desc over push to quay.io
  docs/testing-operators.md
Labels: size/S

#660 Add 3scale-community-operator to community-operators
  community-operators/3scale-community-operator/3scale-community-operator.package.yaml
  community-operators/3scale-community-operator/3scale-community-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/3scale-community-operator/apps_v1alpha1_apimanager_crd.yaml
  community-operators/3scale-community-operator/capabilities_v1alpha1_api_crd.yaml
  community-operators/3scale-community-operator/capabilities_v1alpha1_binding_crd.yaml
  community-operators/3scale-community-operator/capabilities_v1alpha1_limit_crd.yaml
  community-operators/3scale-community-operator/capabilities_v1alpha1_mappingrule_crd.yaml
  community-operators/3scale-community-operator/capabilities_v1alpha1_metric_crd.yaml
  community-operators/3scale-community-operator/capabilities_v1alpha1_plan_crd.yaml
  community-operators/3scale-community-operator/capabilities_v1alpha1_tenant_crd.yaml
Labels: openshift-operator, size/XXL

#651 Bump halkyon operator to release 0.1.3. Improve CSV definition
  upstream-community-operators/halkyon/halkyon.package.yaml
  upstream-community-operators/halkyon/halkyon.v0.1.3.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#665 Update eclipse-che operator for kubernetes to release 7.1.0
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
  upstream-community-operators/eclipse-che/eclipse-che.v7.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#666 Update eclipse-che operator for openshift to release 7.1.0
  community-operators/eclipse-che/eclipse-che.package.yaml
  community-operators/eclipse-che/eclipse-che.v7.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#670 Fix broken links - OLM Documentation was replaced by doc
  .gitignore
  docs/ci.md
  docs/contributing.md
  docs/pull_request_template.md
  docs/required-fields.md
  docs/testing-operators.md
  upstream-community-operators/lib-bucket-provisioner/lib-bucket-provisioner.v1.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator, lgtm, size/S

#671 add license
  LICENSE
  README.md
Labels: size/L

#673 Rename the package name for Kubefed operator (community version)
  community-operators/kubefed-operator/kubefed-operator.package.yaml
Labels: openshift-operator, size/XS

#668 add dev4devs/postgresql-operator operator
  community-operators/postgresql-operator-dev4devs-com/postgresql-operator.package.yaml
  community-operators/postgresql-operator-dev4devs-com/postgresql-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/postgresql-operator-dev4devs-com/postgresql_v1alpha1_backup_crd.yaml
  community-operators/postgresql-operator-dev4devs-com/postgresql_v1alpha1_database_crd.yaml
Labels: openshift-operator, size/XL

#675 new dev4devs operator
  upstream-community-operators/postgresql-operator-dev4devs-com/postgresql-operator.package.yaml
  upstream-community-operators/postgresql-operator-dev4devs-com/postgresql-operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/postgresql-operator-dev4devs-com/postgresql_v1alpha1_backup_crd.yaml
  upstream-community-operators/postgresql-operator-dev4devs-com/postgresql_v1alpha1_database_crd.yaml
Labels: kubernetes-operator, size/XL

#677 Upgrade olm version for CI, form 0.10.1 to 0.11.0
  scripts/ci/install-olm-local
Labels: size/XS

#664 Update StorageOS Operator to version 1.4.0
  upstream-community-operators/storageos/storageos.package.yaml
  upstream-community-operators/storageos/storageos.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/storageoscluster.crd.yaml
  upstream-community-operators/storageos/storageosjob.crd.yaml
  upstream-community-operators/storageos/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/storageosupgrade.crd.yaml
Labels: kubernetes-operator, size/XXL

#641 [docker] error "no tables found in db"
  upstream.Dockerfile
Labels: size/XS

#682 Deprecate KnativeServing in favor of the new Serverless operator
  community-operators/knative-serving-operator/knative-serving-operator.v0.7.1.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#683 [kiali][upstream] 1.4.2 update
  upstream-community-operators/kiali/kiali.package.yaml
  upstream-community-operators/kiali/kiali.v1.4.2.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XL

#686 MongoDB Enterprise Operator 1.2.3
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.v1.2.3.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XL

#688 Initial commit of SmartGateway Operator
  community-operators/smartgateway-operator/0.1.0/smartgateway-operator.crd.yaml
  community-operators/smartgateway-operator/0.1.0/smartgateway-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/smartgateway-operator/smartgateway-operator.package.yaml
Labels: openshift-operator, size/L

#690 Update community-operator Open Data Hub to v0.4.0
  community-operators/opendatahub-operator/opendatahub-operator.package.yaml
  community-operators/opendatahub-operator/opendatahub-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/opendatahub-operator/opendatahub-operator.v0.4.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XXL

#689 Use oc commands for the community version of Kubefed operator
  community-operators/kubefed-operator/0.1.0/kubefed-operator.v0.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/S

#692 Operator for Apache CouchDB 0.2.0
  upstream-community-operators/couchdb-operator/couchdb-operator.package.yaml
  upstream-community-operators/couchdb-operator/couchdb-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/couchdb_v1_backup_crd.yaml
  upstream-community-operators/couchdb-operator/couchdb_v1_bucket_crd.yaml
  upstream-community-operators/couchdb-operator/couchdb_v1_couchdbcluster_crd.yaml
  upstream-community-operators/couchdb-operator/couchdb_v1_formation_crd.yaml
  upstream-community-operators/couchdb-operator/couchdb_v1_formationlock_crd.yaml
  upstream-community-operators/couchdb-operator/couchdb_v1_recipe_crd.yaml
  upstream-community-operators/couchdb-operator/couchdb_v1_recipetemplate_crd.yaml
Labels: kubernetes-operator, size/XL

#694 Add Dynatrace OneAgent Operator version 0.4.1
  upstream-community-operators/oneagent/dynatrace-monitoring.v0.4.1.clusterserviceversion.yaml
  upstream-community-operators/oneagent/dynatrace.package.yaml
Labels: kubernetes-operator, size/L

#697 Fixed alm examples
  community-operators/smartgateway-operator/0.1.0/smartgateway-operator.v0.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#652 Add halkyon Operator - v0.1.3 for Openshift
  community-operators/halkyon/capability.v1beta1.crd.yaml
  community-operators/halkyon/component.v1beta1.crd.yaml
  community-operators/halkyon/halkyon.package.yaml
  community-operators/halkyon/halkyon.v0.1.3.clusterserviceversion.yaml
  community-operators/halkyon/link_v1beta1.crd.yaml
Labels: openshift-operator, size/XL

#687 add IBM Cloud Functions operator
  upstream-community-operators/cloud-functions-operator/cloud-functions-operator.package.yaml
  upstream-community-operators/cloud-functions-operator/cloud-functions-operator.v0.8.2.clusterserviceversion.yaml
  upstream-community-operators/cloud-functions-operator/function.crd.yaml
  upstream-community-operators/cloud-functions-operator/invocation.crd.yaml
  upstream-community-operators/cloud-functions-operator/package.crd.yaml
  upstream-community-operators/cloud-functions-operator/rule.crd.yaml
  upstream-community-operators/cloud-functions-operator/trigger.crd.yaml
Labels: kubernetes-operator, size/XXL

#691 Removes Community Couchbase Operator
  upstream-community-operators/couchbase-enterprise/couchbase-v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/couchbase-v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/couchbase.package.yaml
  upstream-community-operators/couchbase-enterprise/couchbasecluster.crd.yaml
Labels: kubernetes-operator, size/XL

#700 Update Jaeger community-operators to v1.14.0
  community-operators/jaeger/jaeger.package.yaml
  community-operators/jaeger/jaeger.v1.14.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#699 Update Jaeger upstream-community-operators to v1.14.0
  upstream-community-operators/jaeger/jaeger.package.yaml
  upstream-community-operators/jaeger/jaeger.v1.14.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#703 Added Quay Operator
  community-operators/quay/quay.package.yaml
  community-operators/quay/quay.v0.0.6.clusterserviceversion-v0.0.6.yaml
  community-operators/quay/redhatcop_v1alpha1_quayecosystem_crd.yaml
Labels: openshift-operator, size/XL

#702 remove cloud-functions-operator
  upstream-community-operators/cloud-functions-operator/cloud-functions-operator.package.yaml
  upstream-community-operators/cloud-functions-operator/cloud-functions-operator.v0.8.2.clusterserviceversion.yaml
  upstream-community-operators/cloud-functions-operator/function.crd.yaml
  upstream-community-operators/cloud-functions-operator/invocation.crd.yaml
  upstream-community-operators/cloud-functions-operator/package.crd.yaml
  upstream-community-operators/cloud-functions-operator/rule.crd.yaml
  upstream-community-operators/cloud-functions-operator/trigger.crd.yaml
Labels: kubernetes-operator, size/XXL

#685 Local development tooling for operators
  Makefile
  docs/using-scripts.md
  scripts/Dockerfile
  scripts/Dockerfile.command
  scripts/ci/build-registry-image
  scripts/ci/check-kubeconfig
  scripts/ci/env
  scripts/ci/install-minikube
  scripts/ci/install-olm
  scripts/ci/make-tmp
  scripts/ci/operator-test
  scripts/ci/run-script
  scripts/ci/scorecard
  scripts/ci/test-operator
  scripts/ci/testscript-wrapper
  scripts/lib-python/cluster/get-op-namespace.py
  scripts/lib-python/files/configmap-registry.py
  scripts/lib-python/files/create_operator_group_file.py
  scripts/lib-python/run-script.py
  scripts/lib/cluster
  scripts/lib/file
  scripts/lib/util
  scripts/utils/Makefile
  scripts/utils/check-deps.py
  scripts/utils/entrypoint.sh
  scripts/utils/parse-version-and-channels.py
Labels: size/XXL

#648 cert-utils-operator release 0.0.3
  community-operators/cert-utils-operator/cert-utils-operator.package.yaml
  community-operators/cert-utils-operator/cert-utils-operator.v0.0.1.clusterserviceversion-v0.0.1.yaml
  community-operators/cert-utils-operator/cert-utils-operator.v0.0.3.clusterserviceversion-v0.0.3.yaml
Labels: openshift-operator, size/L

#661 fix explanation to use operator-courier verify --ui_validate_io
  .gitignore
  docs/testing-operators.md
Labels: size/L

#706 fix verbosity of olm and add docker pull message in makefile
  Makefile
  scripts/ci/install-olm
  scripts/lib/cluster
Labels: size/XS

#709 Update the upstream metering operator directory structure.
  upstream-community-operators/metering/hive.crd.yaml
  upstream-community-operators/metering/image-references
  upstream-community-operators/metering/meteringconfig.crd.yaml
  upstream-community-operators/metering/meteringoperator.v4.2.0.clusterserviceversion.yaml
  upstream-community-operators/metering/prestotable.crd.yaml
  upstream-community-operators/metering/report.crd.yaml
  upstream-community-operators/metering/reportdatasource.crd.yaml
  upstream-community-operators/metering/reportquery.crd.yaml
  upstream-community-operators/metering/storagelocation.crd.yaml
Labels: kubernetes-operator, size/XS

#710 update ibm cloud operator to version 0.1.1 on upstream community operators
  upstream-community-operators/ibmcloud-operator/ibmcloud_operator.package.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud_operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud_operator_v1alpha1_service.crd.yaml
Labels: kubernetes-operator, size/L

#696 Add lightbend-console-operator v0.0.1
  upstream-community-operators/lightbend-console-operator/consoles.app.lightbend.com.crd.yaml
  upstream-community-operators/lightbend-console-operator/lightbend-console-operator.package.yaml
  upstream-community-operators/lightbend-console-operator/lightbend-console-operator.v0.0.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#712 update IBM cloud operator to version 0.1.1 on community operators
  community-operators/ibmcloud-operator/ibmcloud_operator.package.yaml
  community-operators/ibmcloud-operator/ibmcloud_operator.v0.1.1.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/ibmcloud_operator_v1alpha1_service.crd.yaml
Labels: openshift-operator, size/L

#716 [docs] Add a warning about sharing quay tokens
  docs/testing-operators.md
Labels: size/XS

#708 Add the missing EOF to the apply instructions for CRs
  community-operators/kubefed-operator/0.1.0/kubefed-operator.v0.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#711 fix processing text and remove deleting catalog
  scripts/ci/install-olm
  scripts/ci/make-tmp
Labels: lgtm, size/XS

#707 Kogito Cloud Operator Submission
  community-operators/kogito-cloud-operator/app_v1alpha1_kogitoapp_crd.yaml
  community-operators/kogito-cloud-operator/app_v1alpha1_kogitodataindex_crd.yaml
  community-operators/kogito-cloud-operator/kogito-cloud-operator.package.yaml
  community-operators/kogito-cloud-operator/kogito-cloud-operator.v0.4.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XL

#695 Fix Capability Level for StorageOS Operator 1.4.0
  upstream-community-operators/storageos/storageos.v1.4.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#715 Infinispan community 1.0.0.alpha4
  community-operators/infinispan/infinispan-operator.v1.0.0.Alpha4.clusterserviceversion.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: openshift-operator, size/L

#718 Update eclipse-che operator for kubernetes to release 7.2.0
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
  upstream-community-operators/eclipse-che/eclipse-che.v7.2.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#719 Update eclipse-che operator for openshift to release 7.2.0
  community-operators/eclipse-che/eclipse-che.package.yaml
  community-operators/eclipse-che/eclipse-che.v7.2.0.clusterserviceversion.yaml
Labels: openshift-operator, size/L
