Repository operator-framework/community-operators, pull requests merged in 2019-01, with the labels that each got.

#2 Create OWNERS file
  OWNERS
Labels: lgtm, size/XS

#7 Update metering installMode to support SingleNamespace
  community-operators/metering/metering-operator.v0.12.0.clusterserviceversion.yaml
Labels: lgtm, size/XS

#5 [community] Add automation and template broker operators
  community-operators/automation-broker/automationbroker.crd.yaml
  community-operators/automation-broker/automationbroker.package.yaml
  community-operators/automation-broker/automationbrokeroperator.v0.1.0.clusterserviceversion.yaml
  community-operators/automation-broker/bundle.crd.yaml
  community-operators/automation-broker/bundlebindings.crd.yaml
  community-operators/automation-broker/bundleinstances.crd.yaml
  community-operators/template-service-broker/templateservicebroker.crd.yaml
  community-operators/template-service-broker/templateservicebroker.package.yaml
  community-operators/template-service-broker/templateservicebrokeroperator.v0.1.0.clusterserviceversion.yaml
Labels: lgtm, size/XL

#6 Rename rh-operators to redhat-operators
  redhat-operators/amq-streams/amq-streams-kafka.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkaconnect.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkaconnects2i.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkatopic.crd.yaml
  redhat-operators/amq-streams/amq-streams-kafkauser.crd.yaml
  redhat-operators/amq-streams/amq-streams.package.yaml
  redhat-operators/amq-streams/amq-streams.v1.0.0.clusterserviceversion.yaml
Labels: lgtm, size/XS

#12 couchbase: bump to 1.1.0
  certified-operators/couchbase/couchbase.1.0.0.clusterserviceversion.yaml
Labels: lgtm, size/XS

#14 Add tkashem to reviewers/approvers list
  OWNERS
Labels: lgtm, size/XS

#15 Update Package.yaml
  community-operators/metering/metering.package.yaml
Labels: lgtm, size/XS

#18 [community] Clean up templateservicebroker csv
  community-operators/template-service-broker/templateservicebrokeroperator.v0.1.0.clusterserviceversion.yaml
Labels: lgtm, size/XS

#16 cluster logging operator
  community-operators/cluster-logging/clusterlogging.package.yaml
  community-operators/cluster-logging/clusterlogging.v0.0.1.clusterserviceversion.yaml
  community-operators/cluster-logging/clusterloggings.crd.yaml
  community-operators/cluster-logging/elasticsearches.crd.yaml
Labels: lgtm, size/XL

#20 [community] Create cluster-logging bundle
  community-operators/bundles/cluster-logging/bundle.0.0.1.yaml
Labels: lgtm, size/XL

#13 [certified] Create couchbase bundle
  certified-operators/bundles/couchbase/bundle.1.1.0.yaml
Labels: lgtm, size/XXL

#11 [community] Create metering bundle
  community-operators/bundles/metering/bundle.0.0.1.yaml
Labels: lgtm, size/XL

#19 [docs] Add document for expected marketplace annotations
  README.md
  docs/marketplace-required-csv-annotations.md
Labels: lgtm, size/M

#10 [scripts] Create scripts to push and pull OperatorBundles from quay.io
  README.md
  scripts/pull-from-quay
  scripts/push-to-quay
Labels: size/M

#3 [community] Add Jaeger operator files
  community-operators/jaeger/jaeger.crd.yaml
  community-operators/jaeger/jaeger.package.yaml
  community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
Labels: size/L

#23 Fix typo in the REAMDE.md file - $REPOSITORY versus $REGISTRY
  README.md
Labels: lgtm, size/XS

#21 [community] Add Jaeger bundle file and directories
  community-operators/bundles/jaeger/bundle.0.0.1.yaml
Labels: lgtm, size/L

#24 fix origin- logging images
  community-operators/cluster-logging/clusterlogging.v0.0.1.clusterserviceversion.yaml
  community-operators/cluster-logging/elasticsearches.crd.yaml
Labels: lgtm, size/S

#28 Add cron jobs to sync rbac
  community-operators/descheduler/descheduler.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/XS

#27 logging Example plus change in watched namespace
  community-operators/cluster-logging/clusterlogging.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/M

#25 [community] Update cluster-logging bundle
  community-operators/bundles/cluster-logging/bundle.0.0.1.yaml
Labels: lgtm, size/S

#26 [community] Add examples to Jaeger CSV
  community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
Labels: size/M

#30 [community] Add changes requested by Jaeger Community
  community-operators/bundles/jaeger/bundle.0.0.1.yaml
Labels: lgtm, size/M

#36 [redhat] Fix amq-streams CSV
  redhat-operators/amq-streams/amq-streams.v1.0.0.clusterserviceversion.yaml
Labels: lgtm, size/XS

#32 [community] Update descheduler bundle
  community-operators/bundles/descheduler/bundle.0.0.1.yaml
Labels: lgtm, size/L

#35 [community] Fix format in cluster-logging CSV
  community-operators/cluster-logging/clusterlogging.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/XS

#34 [community] Update cluster-logging bundle
  community-operators/bundles/cluster-logging/bundle.0.0.1.yaml
Labels: lgtm, size/M

#33 [redhat] Update amq-streams bundle
  redhat-operators/bundles/amq-streams/bundle.1.0.0.yaml
Labels: lgtm, size/XXL

#38 [WIP][community] Add strimzi operator
  community-operators/strimzi-kafka/kafkaconnects.crd.yaml
  community-operators/strimzi-kafka/kafkaconnects2is.crd.yaml
  community-operators/strimzi-kafka/kafkamirrormakers.crd.yaml
  community-operators/strimzi-kafka/kafkas.crd.yaml
  community-operators/strimzi-kafka/kafkatopics.crd.yaml
  community-operators/strimzi-kafka/kafkausers.crd.yaml
  community-operators/strimzi-kafka/strimzi-cluster-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka/strimzi-kafka.package.yaml
Labels: do-not-merge/work-in-progress, size/XXL

#39 [community] add new kie-cloud-operator
  community-operators/kie-cloud-operator/kieapp.crd.yaml
  community-operators/kie-cloud-operator/kiecloud-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/kie-cloud-operator/kiecloud.package.yaml
Labels: lgtm, size/XL

#31 make service catalog operable running in the openshift-operators ns
  community-operators/svcat/svcat.v0.1.34.clusterserviceversion.yaml
Labels: lgtm, size/M

#43 [community] Add svcat operator bundle
  community-operators/bundles/svcat/bundle.0.1.34.yaml
Labels: size/L

#47 Updating elasticsearch crd roles to be array of type object
  community-operators/cluster-logging/elasticsearches.crd.yaml
Labels: lgtm
