Repository operator-framework/community-operators, pull requests merged in 2019-02, with the labels that each got.

#49 Cluster Wide Mode for etcd Operator
  community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
  community-operators/prometheus/prometheusoperator.0.22.2.clusterserviceversion.yaml
Labels: lgtm, size/XS

#48 [community] Update cluster-logging bundle
  community-operators/bundles/cluster-logging/bundle.0.0.1.yaml
Labels: lgtm, size/XS

#53 bug 1666944. fix example and csv validation
  community-operators/cluster-logging/clusterlogging.v0.0.1.clusterserviceversion.yaml
  community-operators/cluster-logging/elasticsearches.crd.yaml
Labels: lgtm

#62 change 'visibile' to 'visible'
  README.md
Labels: lgtm

#8 Add Camel-K operator
  community-operators/camel-k/camel-k.package.yaml
  community-operators/camel-k/camel-k.v0.2.0.clusterserviceversion.yaml
  community-operators/camel-k/crd-integration-context.yaml
  community-operators/camel-k/crd-integration-platform.yaml
  community-operators/camel-k/crd-integration.yaml
Labels: lgtm, size/L

#29 [community]Create bundle for camel-k
  community-operators/bundles/camel-k/bundle.0.0.1.yaml
Labels: lgtm, size/L

#50 Update osb operators in marketplace
  community-operators/automation-broker/automationbroker.crd.yaml
  community-operators/automation-broker/automationbroker.package.yaml
  community-operators/automation-broker/automationbrokeroperator.v0.2.0.clusterserviceversion.yaml
  community-operators/template-service-broker/templateservicebroker.package.yaml
  community-operators/template-service-broker/templateservicebrokeroperator.v0.2.0.clusterserviceversion.yaml
Labels: lgtm, size/L

#56 [Community] Add Dynatrace OneAgent operator
  certified-operators/dynatrace/dynatrace-monitoring.0.2.0.clusterserviceversion.yaml
  certified-operators/dynatrace/dynatrace-monitoring.package.yaml
  community-operators/dynatrace/dynatrace-monitoring.v0.2.0.clusterseviceversion.yaml
  community-operators/dynatrace/dynatrace.crd.yaml
  community-operators/dynatrace/dynatrace.package.yaml
Labels: lgtm, size/L

#68 [community] Add Dynatrace OneAgent operator bundle
  community-operators/bundles/dynatrace/bundle.0.0.1.yaml
Labels: size/L

#66 Add Node Problem Detector operator to catalog
  community-operators/node-problem-detector/node-problem-detector.crd.yaml
  community-operators/node-problem-detector/node-problem-detector.package.yaml
  community-operators/node-problem-detector/node-problem-detector.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/L

#69 [community] Fix formatting of node-problem-detector CSV
  community-operators/node-problem-detector/node-problem-detector.v0.0.1.clusterserviceversion.yaml
Labels: size/XS

#51 Re-format readme and use consistent categories within CSVs
  README.md
  certified-operators/couchbase/couchbase.1.1.0.clusterserviceversion.yaml
  certified-operators/mongodb/mongodb-enterprise.v0.3.2.clusterserviceversion.yaml
  community-operators/automation-broker/automationbrokeroperator.v0.2.0.clusterserviceversion.yaml
  community-operators/cluster-logging/clusterlogging.v0.0.1.clusterserviceversion.yaml
  community-operators/descheduler/descheduler.v0.0.1.clusterserviceversion.yaml
  community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
  community-operators/federationv2/federationv2.v0.0.2.clusterserviceversion.yaml
  community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
  community-operators/kie-cloud-operator/kiecloud-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/metering/metering-operator.v0.13.0.clusterserviceversion.yaml
  community-operators/prometheus/prometheusoperator.0.22.2.clusterserviceversion.yaml
  community-operators/strimzi-kafka/strimzi-cluster-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/svcat/svcat.v0.1.34.clusterserviceversion.yaml
  community-operators/template-service-broker/templateservicebrokeroperator.v0.2.0.clusterserviceversion.yaml
  docs/required-fields.md
  docs/testing-operators.md
  docs/using-scripts.md
  redhat-operators/amq-streams/amq-streams.v1.0.0.clusterserviceversion.yaml
Labels: lgtm, size/L

#57 Adding entry for logcollector SA to be added to privileged SCC
  community-operators/cluster-logging/clusterlogging.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/S

#74 Update directories to match package names and add missing bundles
  certified-operators/bundles/couchbase-enterprise/bundle.1.1.0.yaml
  certified-operators/bundles/mongodb-enterprise/bundle.0.0.1.yaml
  certified-operators/couchbase-enterprise/couchbase-cluster.crd.yaml
  certified-operators/couchbase-enterprise/couchbase-enterprise.package.yaml
  certified-operators/couchbase-enterprise/couchbase.1.0.0.clusterserviceversion.yaml
  certified-operators/couchbase-enterprise/couchbase.1.1.0.clusterserviceversion.yaml
  certified-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
  certified-operators/mongodb-enterprise/mongodb-enterprise.v0.3.2.clusterserviceversion.yaml
  certified-operators/mongodb-enterprise/mongodb-replicasets.crd.yaml
  certified-operators/mongodb-enterprise/mongodb-shardedclusters.crd.yaml
  certified-operators/mongodb-enterprise/mongodb-standalones.crd.yaml
  community-operators/automationbroker/automationbroker.crd.yaml
  community-operators/automationbroker/automationbroker.package.yaml
  community-operators/automationbroker/automationbrokeroperator.v0.2.0.clusterserviceversion.yaml
  community-operators/automationbroker/bundle.crd.yaml
  community-operators/automationbroker/bundlebindings.crd.yaml
  community-operators/automationbroker/bundleinstances.crd.yaml
  community-operators/bundles/automationbroker/bundle.0.0.1.yaml
  community-operators/bundles/etcd/bundle.0.0.1.yaml
  community-operators/bundles/federationv2/bundle.0.0.1.yaml
  community-operators/bundles/kiecloud-operator/bundle.0.0.1.yaml
  community-operators/bundles/node-problem-detector/bundle.0.0.1.yaml
  community-operators/bundles/oneagent/bundle.0.0.1.yaml
  community-operators/bundles/prometheus/bundle.0.0.1.yaml
  community-operators/bundles/templateservicebroker/bundle.0.0.1.yaml
  community-operators/kiecloud-operator/kieapp.crd.yaml
  community-operators/kiecloud-operator/kiecloud-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/kiecloud-operator/kiecloud.package.yaml
  community-operators/oneagent/dynatrace-monitoring.v0.2.0.clusterseviceversion.yaml
  community-operators/oneagent/dynatrace.crd.yaml
  community-operators/oneagent/dynatrace.package.yaml
  community-operators/templateservicebroker/templateservicebroker.crd.yaml
  community-operators/templateservicebroker/templateservicebroker.package.yaml
  community-operators/templateservicebroker/templateservicebrokeroperator.v0.2.0.clusterserviceversion.yaml
Labels: size/XXL

#73 remove Service Catalog from Marketplace community operators
  community-operators/svcat/svcat.package.yaml
  community-operators/svcat/svcat.v0.1.34.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/L

#75 [Kubernetes] Add Jaeger Operator.
  upstream-community-operators/jaeger/jaeger.crd.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
  upstream-community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
Labels: lgtm, size/L

#76 [Kubernetes] Add bundle for Jaeger k8s version
  upstream-community-operators/bundles/jaeger/bundle.0.0.1.yaml
Labels: lgtm, size/L

#58 [community] Fix formatting issues in etcd operator
  community-operators/etcd/etcdoperator.clusterserviceversion.yaml
  community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
Labels: size/M

#82 [docs] Add instructions for testing operators
  README.md
  docs/testing-operators.md
Labels: lgtm, size/M

#54 Add Jaeger logo
  community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
Labels: lgtm, size/XS

#83 [community] Remove strimzi-kafka operator
  community-operators/strimzi-kafka/kafkaconnects.crd.yaml
  community-operators/strimzi-kafka/kafkaconnects2is.crd.yaml
  community-operators/strimzi-kafka/kafkamirrormakers.crd.yaml
  community-operators/strimzi-kafka/kafkas.crd.yaml
  community-operators/strimzi-kafka/kafkatopics.crd.yaml
  community-operators/strimzi-kafka/kafkausers.crd.yaml
  community-operators/strimzi-kafka/strimzi-cluster-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka/strimzi-kafka.package.yaml
Labels: size/XXL

#63 Add short descriptions and maturity levels
  certified-operators/couchbase-enterprise/couchbase.1.0.0.clusterserviceversion.yaml
  certified-operators/couchbase-enterprise/couchbase.1.1.0.clusterserviceversion.yaml
  certified-operators/mongodb-enterprise/mongodb-enterprise.v0.3.2.clusterserviceversion.yaml
  community-operators/automationbroker/automationbrokeroperator.v0.2.0.clusterserviceversion.yaml
  community-operators/cluster-logging/clusterlogging.v0.0.1.clusterserviceversion.yaml
  community-operators/descheduler/descheduler.v0.0.1.clusterserviceversion.yaml
  community-operators/etcd/etcdoperator.clusterserviceversion.yaml
  community-operators/etcd/etcdoperator.v0.9.0.clusterserviceversion.yaml
  community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
  community-operators/federationv2/federationv2.v0.0.2.clusterserviceversion.yaml
  community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
  community-operators/kiecloud-operator/kiecloud-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/metering/metering-operator.v0.13.0.clusterserviceversion.yaml
  community-operators/prometheus/prometheusoperator.0.14.0.clusterserviceversion.yaml
  community-operators/prometheus/prometheusoperator.0.15.0.clusterserviceversion.yaml
  community-operators/prometheus/prometheusoperator.0.22.2.clusterserviceversion.yaml
  community-operators/templateservicebroker/templateservicebrokeroperator.v0.2.0.clusterserviceversion.yaml
  redhat-operators/amq-streams/amq-streams.v1.0.0.clusterserviceversion.yaml
Labels: lgtm, size/M

#89 [community] Update Jaeger CSV deployment
  community-operators/bundles/jaeger/bundle.0.0.1.yaml
  community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
Labels: lgtm, size/XS

#92 Move operator maturity levels into annotations
  certified-operators/couchbase-enterprise/couchbase.1.0.0.clusterserviceversion.yaml
  certified-operators/couchbase-enterprise/couchbase.1.1.0.clusterserviceversion.yaml
  certified-operators/mongodb-enterprise/mongodb-enterprise.v0.3.2.clusterserviceversion.yaml
  community-operators/automationbroker/automationbrokeroperator.v0.2.0.clusterserviceversion.yaml
  community-operators/cluster-logging/clusterlogging.v0.0.1.clusterserviceversion.yaml
  community-operators/descheduler/descheduler.v0.0.1.clusterserviceversion.yaml
  community-operators/etcd/etcdoperator.clusterserviceversion.yaml
  community-operators/etcd/etcdoperator.v0.9.0.clusterserviceversion.yaml
  community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
  community-operators/federationv2/federationv2.v0.0.2.clusterserviceversion.yaml
  community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
  community-operators/kiecloud-operator/kiecloud-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/metering/metering-operator.v0.13.0.clusterserviceversion.yaml
  community-operators/prometheus/prometheusoperator.0.14.0.clusterserviceversion.yaml
  community-operators/prometheus/prometheusoperator.0.15.0.clusterserviceversion.yaml
  community-operators/prometheus/prometheusoperator.0.22.2.clusterserviceversion.yaml
  community-operators/templateservicebroker/templateservicebrokeroperator.v0.2.0.clusterserviceversion.yaml
  docs/required-fields.md
  redhat-operators/amq-streams/amq-streams.v1.0.0.clusterserviceversion.yaml
Labels: lgtm, size/M

#86 Update doc with renamed OperatorSource example yml
  docs/testing-operators.md
Labels: lgtm, size/XS

#93 Add aws-service-opeartor CSV, CRD, and Package Files.
  upstream-community-operators/aws-service/aws-service.package.yaml
  upstream-community-operators/aws-service/aws-service.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/aws-service/cloudformationtemplate.crd.yaml
  upstream-community-operators/aws-service/dynamodb.crd.yaml
  upstream-community-operators/aws-service/ecrrepository.crd.yaml
  upstream-community-operators/aws-service/elasticache.crd.yaml
  upstream-community-operators/aws-service/s3bucket.crd.yaml
  upstream-community-operators/aws-service/snssubscription.crd.yaml
  upstream-community-operators/aws-service/snstopic.crd.yaml
  upstream-community-operators/aws-service/sqsqueue.crd.yaml
Labels: size/L

#100 [upstream] Add AWS bundle
  upstream-community-operators/bundles/aws-service/bundle.0.0.1.yaml
Labels: size/L

#96 [community] Add percona-xtradb-cluster-operator (supersedes #95)
  community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
  community-operators/percona/percona.package.yaml
  community-operators/percona/perconaxtradbbackups.crd.yaml
  community-operators/percona/perconaxtradbclusters.crd.yaml
Labels: lgtm, size/L

#101 [community] Add percona bundle
  community-operators/bundles/percona/bundle.0.0.1.yaml
Labels: lgtm, size/L

#87 [community] Add planetscale operator (supersede #59)
  community-operators/planetscale/planetscale-operator.v0.1.7.clusterserviceversion.yaml
  community-operators/planetscale/planetscale.package.yaml
  community-operators/planetscale/pscluster.crd.yaml
Labels: size/L

#94 Fix etcd Operator Examples Annotation
  community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
Labels: lgtm

#102 [community] upstream version of MongoDB operator
  upstream-community-operators/mongodb-enterprise/mongodb.package.yaml
  upstream-community-operators/mongodb-enterprise/mongodb.v0.3.2.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/mongodbreplicaset.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodbshardedcluster.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodbstandalone.crd.yaml
Labels: size/L

#103 [community] upstream version of Couchbase operator
  upstream-community-operators/couchbase-enterprise/couchbase-v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/couchbase-v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/couchbase.package.yaml
  upstream-community-operators/couchbase-enterprise/couchbasecluster.crd.yaml
Labels: size/XL

#108 *: move upstream compatible Operators to correct location
  upstream-community-operators/etcd/etcd.package.yaml
  upstream-community-operators/etcd/etcdbackup.crd.yaml
  upstream-community-operators/etcd/etcdcluster.crd.yaml
  upstream-community-operators/etcd/etcdoperator.clusterserviceversion.yaml
  upstream-community-operators/etcd/etcdoperator.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
  upstream-community-operators/etcd/etcdrestore.crd.yaml
  upstream-community-operators/federationv2/federationv2-cluster.crd.yaml
  upstream-community-operators/federationv2/federationv2-dnsendpoint.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedcluster.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedconfigmap.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedconfigmapoverride.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedconfigmapplacement.crd.yaml
  upstream-community-operators/federationv2/federationv2-federateddeployment.crd.yaml
  upstream-community-operators/federationv2/federationv2-federateddeploymentoverride.crd.yaml
  upstream-community-operators/federationv2/federationv2-federateddeploymentplacement.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedingress.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedingressplacement.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedjob.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedjoboverride.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedjobplacement.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatednamespaceplacement.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedreplicaset.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedreplicasetoverride.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedreplicasetplacement.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedsecret.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedsecretoverride.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedsecretplacement.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedservice.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedserviceaccount.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedserviceaccountplacement.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedserviceplacement.crd.yaml
  upstream-community-operators/federationv2/federationv2-federatedtypeconfig.crd.yaml
  upstream-community-operators/federationv2/federationv2-multiclusteringressdnsrecord.crd.yaml
  upstream-community-operators/federationv2/federationv2-multiclusterservicednsrecord.crd.yaml
  upstream-community-operators/federationv2/federationv2-propagatedversion.crd.yaml
  upstream-community-operators/federationv2/federationv2-replicaschedulingpreference.crd.yaml
  upstream-community-operators/federationv2/federationv2.package.yaml
  upstream-community-operators/federationv2/federationv2.v0.0.2.clusterserviceversion.yaml
  upstream-community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
  upstream-community-operators/percona/percona.package.yaml
  upstream-community-operators/percona/perconaxtradbbackups.crd.yaml
  upstream-community-operators/percona/perconaxtradbclusters.crd.yaml
  upstream-community-operators/planetscale/planetscale-operator.v0.1.7.clusterserviceversion.yaml
  upstream-community-operators/planetscale/planetscale.package.yaml
  upstream-community-operators/planetscale/pscluster.crd.yaml
  upstream-community-operators/prometheus/alertmanager.crd.yaml
  upstream-community-operators/prometheus/prometheus.crd.yaml
  upstream-community-operators/prometheus/prometheus.package.yaml
  upstream-community-operators/prometheus/prometheusoperator.0.14.0.clusterserviceversion.yaml
  upstream-community-operators/prometheus/prometheusoperator.0.15.0.clusterserviceversion.yaml
  upstream-community-operators/prometheus/prometheusoperator.0.22.2.clusterserviceversion.yaml
  upstream-community-operators/prometheus/prometheusrule.crd.yaml
  upstream-community-operators/prometheus/servicemonitor.crd.yaml
Labels: size/XXL

#111 add dockerfile for building a registry image for upstream community operators
  upstream-community-operators/bundles/aws-service/bundle.0.0.1.yaml
  upstream-community-operators/bundles/jaeger/bundle.0.0.1.yaml
  upstream.Dockerfile
Labels: lgtm, size/XL

#97 [community] Add Postgresql operator
  community-operators/postgresql/pgbackup.crd.yaml
  community-operators/postgresql/pgcluster.crd.yaml
  community-operators/postgresql/pgpolicy.crd.yaml
  community-operators/postgresql/pgreplica.crd.yaml
  community-operators/postgresql/pgtask.crd.yaml
  community-operators/postgresql/pgupgrade.crd.yaml
  community-operators/postgresql/postgres-operator.v3.5.0.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: lgtm, size/L

#98 [community] Add initial artifacts for Redis Enterprise Operator
  community-operators/redis-enterprise/redisenterprise.package.yaml
  community-operators/redis-enterprise/redisenterprisecluster.crd.yaml
  community-operators/redis-enterprise/redisoperator.0.0.1.clusterserviceversion.yaml
Labels: size/L

#113 [upstream] tightened up the Redis RBAC and moved to upstream-community-operators
  upstream-community-operators/redis-enterprise/redisenterprise.package.yaml
  upstream-community-operators/redis-enterprise/redisenterprisecluster.crd.yaml
  upstream-community-operators/redis-enterprise/redisoperator.0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/M

#114 upstream: add AWS logo
  upstream-community-operators/aws-service/aws-service.v0.0.1.clusterserviceversion.yaml
Labels: size/XS

#115 *: update Couchbase
  certified-operators/couchbase-enterprise/couchbase.1.1.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/couchbase-v1.1.0.clusterserviceversion.yaml
Labels: size/XS

#105 [bundles] Remove Operator Bundles
  certified-operators/bundles/couchbase-enterprise/bundle.1.1.0.yaml
  certified-operators/bundles/mongodb-enterprise/bundle.0.0.1.yaml
  community-operators/bundles/automationbroker/bundle.0.0.1.yaml
  community-operators/bundles/camel-k/bundle.0.0.1.yaml
  community-operators/bundles/cluster-logging/bundle.0.0.1.yaml
  community-operators/bundles/descheduler/bundle.0.0.1.yaml
  community-operators/bundles/etcd/bundle.0.0.1.yaml
  community-operators/bundles/federationv2/bundle.0.0.1.yaml
  community-operators/bundles/jaeger/bundle.0.0.1.yaml
  community-operators/bundles/kiecloud-operator/bundle.0.0.1.yaml
  community-operators/bundles/metering/bundle.0.0.1.yaml
  community-operators/bundles/node-problem-detector/bundle.0.0.1.yaml
  community-operators/bundles/oneagent/bundle.0.0.1.yaml
  community-operators/bundles/percona/bundle.0.0.1.yaml
  community-operators/bundles/prometheus/bundle.0.0.1.yaml
  community-operators/bundles/svcat/bundle.0.1.34.yaml
  community-operators/bundles/templateservicebroker/bundle.0.0.1.yaml
  docs/testing-operators.md
  docs/using-scripts.md
  redhat-operators/bundles/amq-streams/bundle.1.0.0.yaml
  scripts/push-to-quay
Labels: lgtm, size/XXL

#117 *: update etcd description
  community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
  upstream-community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
Labels: size/M

#118 upstream: update Jaeger description
  upstream-community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
Labels: size/M

#119 community: sync Jaeger changes
  community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
  upstream-community-operators/jaeger/jaeger.v1.8.2.clusterserviceversion.yaml
Labels: size/M

#107 [community] Add Strimzi Kafka operator
  community-operators/strimzi-kafka-operator/kafkaconnects.crd.yaml
  community-operators/strimzi-kafka-operator/kafkaconnects2is.crd.yaml
  community-operators/strimzi-kafka-operator/kafkamirrormakers.crd.yaml
  community-operators/strimzi-kafka-operator/kafkas.crd.yaml
  community-operators/strimzi-kafka-operator/kafkatopics.crd.yaml
  community-operators/strimzi-kafka-operator/kafkausers.crd.yaml
  community-operators/strimzi-kafka-operator/strimzi-cluster-operator.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: lgtm, needs-ok-to-test, size/XXL

#124 [upstream] Content updates: maturity level, email address, description and forma…
  upstream-community-operators/redis-enterprise/redisoperator.0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/M

#125 [upstream] Add strimzi-kafka-operator to upstream
  upstream-community-operators/strimzi-kafka-operator/kafkaconnects.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkaconnects2is.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkamirrormakers.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkas.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkatopics.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/kafkausers.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-cluster-operator.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: size/XXL

#130 *: update Strimzi description
  community-operators/strimzi-kafka-operator/strimzi-cluster-operator.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-cluster-operator.clusterserviceversion.yaml
Labels: size/M

#132 [upstream] updated couchbase server image version in the CR example to a version…
  upstream-community-operators/couchbase-enterprise/couchbase-v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/couchbase-v1.1.0.clusterserviceversion.yaml
Labels: size/XS

#133 added missing quote to targetNamespace, added watch verb for secrets …
  upstream-community-operators/mongodb-enterprise/mongodb.v0.3.2.clusterserviceversion.yaml
Labels: size/XS

#126 [community] Fix oneagent filename typo
  community-operators/oneagent/dynatrace-monitoring.v0.2.0.clusterserviceversion.yaml
Labels: size/XS

#136 *: percona provider fix
  community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
  upstream-community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
Labels: size/XS

#137 *: Make etcd SingleNamespace only
  community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
  upstream-community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
Labels: lgtm, size/XS

#139 [upstream] Add CR examples to aws-service operator
  upstream-community-operators/aws-service/aws-service.v0.0.1.clusterserviceversion.yaml
Labels: size/L

#140 Add .gitignore file
  .gitignore
Labels: lgtm, size/M
