Repository operator-framework/community-operators, pull requests merged in 2019-11, with the labels that each got.

#839 Update eclipse-che operator for openshift to release 7.3.1
  community-operators/eclipse-che/7.3.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.3.1/eclipse-che.v7.3.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator, size/XL

#840 Update eclipse-che operator for kubernetes to release 7.3.1
  upstream-community-operators/eclipse-che/7.3.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.3.1/eclipse-che.v7.3.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator, size/XL

#812 kubeturbo operator 6.4 update
  community-operators/kubeturbo/6.4.0/kubeturbo-operator.v6.4.0.clusterserviceversion.yaml
  community-operators/kubeturbo/6.4.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  community-operators/kubeturbo/kubeturbo.package.yaml
Labels: openshift-operator, size/L

#813 kubeturbo upstream operator 6.4 update
  upstream-community-operators/kubeturbo/6.4.0/kubeturbo-operator.v6.4.0.clusterserviceversion.yaml
  upstream-community-operators/kubeturbo/6.4.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kubeturbo/kubeturbo.package.yaml
Labels: kubernetes-operator, size/L

#822 Adding 0.9.0 Knative Eventing operator
  community-operators/knative-eventing-operator/0.9.0/knative-eventing-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/knative-eventing-operator/0.9.0/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
Labels: size/L

#844 Upgrade Knative Camel to 0.9.0
  community-operators/knative-camel-operator/0.9.0/camelsources.sources.eventing.knative.dev.crd.yaml
  community-operators/knative-camel-operator/0.9.0/knative-camel-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/knative-camel-operator/knative-camel-operator.package.yaml
Labels: openshift-operator, size/L

#834 upgrade Service Binding to 0.0.23 & remove stable channel
  community-operators/service-binding-operator/0.0.23/service-binding-operator.v0.0.23.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.0.23/servicebindingrequests.apps.openshift.io.crd.yaml
  community-operators/service-binding-operator/service-binding-operator.package.yaml
Labels: openshift-operator, size/L

#846 Instana Agent Operator 0.1.2
  upstream-community-operators/instana-agent/0.1.2/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.1.2/instana-agent-operator.v0.1.2.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator, size/L

#851 Upgrade Camel K Upstream to 1.0.0-M3
  upstream-community-operators/camel-k/1.0.0-m3/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0-m3/camel-k-operator.v1.0.0-m3.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.0.0-m3/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0-m3/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0-m3/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0-m3/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator, size/XL

#850 Upgrade Camel K to 1.0.0-M3
  community-operators/camel-k/1.0.0-m3/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.0-m3/camel-k-operator.v1.0.0-m3.clusterserviceversion.yaml
  community-operators/camel-k/1.0.0-m3/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.0-m3/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.0-m3/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.0-m3/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: openshift-operator, size/XL

#848 Akka Cluster Operator v0.2.0, community
  community-operators/akka-cluster-operator/0.2.0/akka-cluster-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/akka-cluster-operator/0.2.0/akkaclusters.app.lightbend.com.crd.yaml
  community-operators/akka-cluster-operator/akka-cluster-operator.package.yaml
Labels: openshift-operator, size/L

#847 Akka Cluster Operator v0.2.0
  upstream-community-operators/akka-cluster-operator/0.2.0/akka-cluster-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/akka-cluster-operator/0.2.0/akkaclusters.app.lightbend.com.crd.yaml
  upstream-community-operators/akka-cluster-operator/akka-cluster-operator.package.yaml
Labels: kubernetes-operator, size/L

#855 Fix Capability Level for Upstream StorageOS Operator 1.4.1
  upstream-community-operators/storageos/1.4.1/storageos.v1.4.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#853 Update Appsody Operator to release v0.2.2
  upstream-community-operators/appsody-operator/0.2.2/appsody-operator.v0.2.2.clusterserviceversion.yaml
  upstream-community-operators/appsody-operator/0.2.2/appsodyapplications.appsody.dev.crd.yaml
  upstream-community-operators/appsody-operator/appsody-operator.package.yaml
Labels: kubernetes-operator, size/XL

#858 add finalizers permission and manual steps about pre-requisites of using tidb-operator
  upstream-community-operators/tidb-operator/1.0.0-beta1/tidb-operator.1.0.0-beta1.clusterserviceversion.yaml
  upstream-community-operators/tidb-operator/1.0.0/tidb-operator.1.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/M

#859 Update eclipse-che operator for kubernetes to release 7.4.0
  upstream-community-operators/eclipse-che/7.4.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.4.0/eclipse-che.v7.4.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator, size/XL

#862 Update eclipse-che operator for openshift to release 7.4.0
  community-operators/eclipse-che/7.4.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.4.0/eclipse-che.v7.4.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator, size/XL

#854 Update OpenShift-Pipelines-Operator to 0.8.0
  community-operators/openshift-pipelines-operator/0.8.0/config.operator.tekton.dev.crd.yaml
  community-operators/openshift-pipelines-operator/0.8.0/openshift-pipelines-operator.v0.8.0.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator, size/L

#866 fix invalid CSV spec
  upstream-community-operators/akka-cluster-operator/0.2.0/akka-cluster-operator.v0.2.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#857 Add version 0.30.1 of EnMasse operator
  community-operators/enmasse/0.30.1/addressplans.crd.yaml
  community-operators/enmasse/0.30.1/addressspaceplans.crd.yaml
  community-operators/enmasse/0.30.1/authenticationservices.crd.yaml
  community-operators/enmasse/0.30.1/brokeredinfraconfigs.crd.yaml
  community-operators/enmasse/0.30.1/consoleservices.crd.yaml
  community-operators/enmasse/0.30.1/enmasse.0.30.1.clusterserviceversion.yaml
  community-operators/enmasse/0.30.1/iotconfigs.crd.yaml
  community-operators/enmasse/0.30.1/iotprojects.crd.yaml
  community-operators/enmasse/0.30.1/standardinfraconfigs.crd.yaml
  community-operators/enmasse/enmasse.package.yaml
Labels: openshift-operator, size/XXL

#869 Update enmasse operator for Kubernetes to version 0.30.1
  upstream-community-operators/enmasse/0.30.1/addressplans.crd.yaml
  upstream-community-operators/enmasse/0.30.1/addressspaceplans.crd.yaml
  upstream-community-operators/enmasse/0.30.1/authenticationservices.crd.yaml
  upstream-community-operators/enmasse/0.30.1/brokeredinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/0.30.1/consoleservices.crd.yaml
  upstream-community-operators/enmasse/0.30.1/enmasse.0.30.1.clusterserviceversion.yaml
  upstream-community-operators/enmasse/0.30.1/iotconfigs.crd.yaml
  upstream-community-operators/enmasse/0.30.1/iotprojects.crd.yaml
  upstream-community-operators/enmasse/0.30.1/standardinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/enmasse.package.yaml
Labels: kubernetes-operator, size/XXL

#841 Add kubestone operator
  upstream-community-operators/kubestone/0.4.0/drills.perf.kubestone.xridge.io.crd.yaml
  upstream-community-operators/kubestone/0.4.0/fios.perf.kubestone.xridge.io.crd.yaml
  upstream-community-operators/kubestone/0.4.0/iopings.perf.kubestone.xridge.io.crd.yaml
  upstream-community-operators/kubestone/0.4.0/iperf3s.perf.kubestone.xridge.io.crd.yaml
  upstream-community-operators/kubestone/0.4.0/kubestone.0.4.0.clusterserviceversion.yaml
  upstream-community-operators/kubestone/0.4.0/pgbenches.perf.kubestone.xridge.io.crd.yaml
  upstream-community-operators/kubestone/0.4.0/qperves.perf.kubestone.xridge.io.crd.yaml
  upstream-community-operators/kubestone/0.4.0/sysbenches.perf.kubestone.xridge.io.crd.yaml
  upstream-community-operators/kubestone/kubestone.package.yaml
Labels: kubernetes-operator, size/XXL

#870 suppress warning on all places
  scripts/ci/env
  scripts/ci/test-operator
Labels: size/XS

#860 updating crd for ripsaw-upstream
  upstream-community-operators/ripsaw/0.1.0/benchmarks.ripsaw.cloudbulldozer.io.crd.yaml
Labels: kubernetes-operator, size/S

#865 Added missing displayName fields
  community-operators/infinispan/1.0.1/infinispan-operator.v1.0.1.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#873 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.9.1/kiali.crd.yaml
  upstream-community-operators/kiali/1.9.1/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.9.1/kiali.v1.9.1.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator, size/XL

#864 Adding NuoDB operator, Signed-off-by: Ashutosh Shukla <ashukla@nuodb.…
  upstream-community-operators/nuodb/2.0.2/nuodb-operator.v2.0.2.clusterserviceversion.yaml
  upstream-community-operators/nuodb/2.0.2/nuodb_v2alpha1_nuodb.crd.yaml
  upstream-community-operators/nuodb/2.0.2/nuodb_v2alpha1_nuodbinsightsserver_crd.yaml
  upstream-community-operators/nuodb/2.0.2/nuodb_v2alpha1_nuodbycsbwl_crd.yaml
  upstream-community-operators/nuodb/nuodb.package.yaml
Labels: kubernetes-operator, size/XL

#871 MongoDB Enterprise Operator 1.3.1
  upstream-community-operators/mongodb-enterprise/1.3.1/mongodb-enterprise.v1.3.1.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.3.1/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.3.1/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.3.1/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator, size/XL

#852 Update package for Crunchy PostgreSQL Operator 4.1.0
  community-operators/postgresql/4.1.0/pgbackups.crunchydata.com.crd.yaml
  community-operators/postgresql/4.1.0/pgclusters.crunchydata.com.crd.yaml
  community-operators/postgresql/4.1.0/pgpolicies.crunchydata.com.crd.yaml
  community-operators/postgresql/4.1.0/pgreplicas.crunchydata.com.crd.yaml
  community-operators/postgresql/4.1.0/pgtasks.crunchydata.com.crd.yaml
  community-operators/postgresql/4.1.0/postgresoperator.v4.1.0.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: openshift-operator, size/XL

#878 clickhouse-operator v0.7.0
  upstream-community-operators/clickhouse/0.7.0/clickhouse-operator.v0.7.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.7.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.7.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.7.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator, size/XXL

#874 [kiali] [community] update kiali
  community-operators/kiali/1.9.1/kiali.crd.yaml
  community-operators/kiali/1.9.1/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.9.1/kiali.v1.9.1.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: openshift-operator, size/XL

#875 Adding Portworx operator 1.1.0
  upstream-community-operators/portworx/1.1.0/core_v1alpha1_storagecluster_crd.yaml
  upstream-community-operators/portworx/1.1.0/core_v1alpha1_storagenode_crd.yaml
  upstream-community-operators/portworx/1.1.0/portworxoperator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/portworx/portworx.package.yaml
Labels: kubernetes-operator, size/XXL

#879 Add OLM manifests for Dynatrace OneAgent Operator v0.5.1
  upstream-community-operators/oneagent/0.5.1/dynatrace-monitoring.v0.5.1.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.5.1/oneagents.dynatrace.com.crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator, size/L

#882 clickhouse-operator - update logo
  upstream-community-operators/clickhouse/0.7.0/clickhouse-operator.v0.7.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#824 [upstream] Updated Infinispan Operator to 1.0.1
  upstream-community-operators/infinispan/1.0.1/infinispan-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/infinispan/1.0.1/infinispans.infinispan.org.crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator, size/L

#888 Add Kubestone to community-operators
  community-operators/kubestone/0.4.0/drills.perf.kubestone.xridge.io.crd.yaml
  community-operators/kubestone/0.4.0/fios.perf.kubestone.xridge.io.crd.yaml
  community-operators/kubestone/0.4.0/iopings.perf.kubestone.xridge.io.crd.yaml
  community-operators/kubestone/0.4.0/iperf3s.perf.kubestone.xridge.io.crd.yaml
  community-operators/kubestone/0.4.0/kubestone.0.4.0.clusterserviceversion.yaml
  community-operators/kubestone/0.4.0/pgbenches.perf.kubestone.xridge.io.crd.yaml
  community-operators/kubestone/0.4.0/qperves.perf.kubestone.xridge.io.crd.yaml
  community-operators/kubestone/0.4.0/sysbenches.perf.kubestone.xridge.io.crd.yaml
  community-operators/kubestone/kubestone.package.yaml
Labels: openshift-operator, size/XXL

#885 Community operator - Fixed Jaeger permissions with legacy CRD
  community-operators/jaeger/1.14.0/jaeger-operator.v1.14.0.clusterserviceversion.yaml
Labels: openshift-operator, size/S

#884 Upstream operator - Fixed Jaeger permissions with legacy CRD
  upstream-community-operators/jaeger/1.14.0/jaeger-operator.v1.14.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/S

#889 Keycloak Operator 7.0.1 (initial)
  upstream-community-operators/keycloak/7.0.1/keycloak-operator.7.0.1.clusterserviceversion.yaml
  upstream-community-operators/keycloak/7.0.1/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/7.0.1/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/7.0.1/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/7.0.1/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/7.0.1/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/keycloak.package.yaml
Labels: kubernetes-operator, size/XXL

#890 Keycloak Operator 7.0.1 (initial)
  community-operators/keycloak/7.0.1/keycloak-operator.7.0.1.clusterserviceversion.yaml
  community-operators/keycloak/7.0.1/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak/7.0.1/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak/7.0.1/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak/7.0.1/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak/7.0.1/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak/keycloak.package.yaml
Labels: openshift-operator, size/XXL

#891 Update Jaeger upstream-community-operators to v1.15.0
  upstream-community-operators/jaeger/1.15.0/jaeger.v1.15.0.clusterserviceversion.yaml
  upstream-community-operators/jaeger/1.15.0/jaegertracing.io_jaegers_crd.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
Labels: kubernetes-operator, size/L

#892 Update Jaeger community-operators to v1.15.0
  community-operators/jaeger/1.15.0/jaeger.v1.15.0.clusterserviceversion.yaml
  community-operators/jaeger/1.15.0/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: openshift-operator, size/L

#895 fixing upstream operator with required not owned CRDs
  upstream-community-operators/awss3operator/1.0.1/awss3operator.v1.0.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#894 Fixed aws s3 operator to required not owned crds
  community-operators/awss3-operator-registry/1.0.1/awss3operator.1.0.1.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#883 Update StorageOS Operator to version 1.5.0
  upstream-community-operators/storageos/1.5.0/storageos.v1.5.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/1.5.0/storageoscluster.crd.yaml
  upstream-community-operators/storageos/1.5.0/storageosjob.crd.yaml
  upstream-community-operators/storageos/1.5.0/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/1.5.0/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: kubernetes-operator, size/XXL

#893 noobaa v2.0.7
  upstream-community-operators/noobaa/1.1.0/bucketclasses.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/1.1.0/noobaa-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/noobaa/2.0.7/backingstores.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.0.7/bucketclasses.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.0.7/noobaa-operator.v2.0.7.clusterserviceversion.yaml
  upstream-community-operators/noobaa/2.0.7/noobaas.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/noobaa-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#899 event-streams-topic upstream v0.1.1 update
  upstream-community-operators/event-streams-topic-operator/0.1.1/event-streams-topic-v1alpha1.crd.yaml
  upstream-community-operators/event-streams-topic-operator/0.1.1/event-streams-topic.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/event-streams-topic-operator/event-streams-topic.package.yaml
Labels: kubernetes-operator, size/L

#898 event-streams-topic olm v0.1.1
  community-operators/event-streams-topic-operator/0.1.1/event-streams-topic-v1alpha1.crd.yaml
  community-operators/event-streams-topic-operator/0.1.1/event-streams-topic.v0.1.1.clusterserviceversion.yaml
  community-operators/event-streams-topic-operator/event-streams-topic.package.yaml
Labels: openshift-operator, size/L

#886 Update Service Binding Operator
  community-operators/service-binding-operator/0.0.20/service-binding-operator.v0.0.20.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.0.23/service-binding-operator.v0.0.23.clusterserviceversion.yaml
Labels: openshift-operator, size/M

#856 (fix)(openebs) links: update install instructions links on latest CSV
  community-operators/openebs/1.1.0/openebsoperator.v1.1.0.clusterserviceversion.yaml
  community-operators/openebs/openebs.package.yaml
Labels: openshift-operator, size/S

#900 Add composable operator to community-operators
  community-operators/composable/0.1.3/composable_operator.v0.1.3.clusterserviceversion.yaml
  community-operators/composable/0.1.3/ibmcloud_operator_ibm_com.crd.yaml
  community-operators/composable/composable_operator.package.yaml
Labels: openshift-operator, size/L

#901 Add composable operator to upstream
  upstream-community-operators/composable/composable_operator.package.yaml
  upstream-community-operators/composable/composable_operator.v0.1.3.clusterserviceversion.yaml
  upstream-community-operators/composable/ibmcloud_operator_ibm_com.crd.yaml
Labels: kubernetes-operator, size/L

#903 Upgrade Camel K to 1.0.0-M4
  community-operators/camel-k/1.0.0-m4/camel-k.v1.0.0-m4.clusterserviceversion.yaml
  community-operators/camel-k/1.0.0-m4/crd-build.yaml
  community-operators/camel-k/1.0.0-m4/crd-camel-catalog.yaml
  community-operators/camel-k/1.0.0-m4/crd-integration-kit.yaml
  community-operators/camel-k/1.0.0-m4/crd-integration-platform.yaml
  community-operators/camel-k/1.0.0-m4/crd-integration.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: openshift-operator, size/XL

#904 Upgrade Camel K Upstream to 1.0.0-M4
  upstream-community-operators/camel-k/1.0.0-m4/camel-k.v1.0.0-m4.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.0.0-m4/crd-build.yaml
  upstream-community-operators/camel-k/1.0.0-m4/crd-camel-catalog.yaml
  upstream-community-operators/camel-k/1.0.0-m4/crd-integration-kit.yaml
  upstream-community-operators/camel-k/1.0.0-m4/crd-integration-platform.yaml
  upstream-community-operators/camel-k/1.0.0-m4/crd-integration.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator, size/XL

#905 Travis3
  .travis.yml
  scripts/ci/operators-env
  upstream-community-operators/akka-cluster-operator/0.2.0/akka-cluster-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/aqua/aqua-operator.package.yaml
Labels: kubernetes-operator, size/M

#906 Revert "Travis3"
  .travis.yml
  scripts/ci/operators-env
  upstream-community-operators/akka-cluster-operator/0.2.0/akka-cluster-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/aqua/aqua-operator.package.yaml
Labels: kubernetes-operator

#861 updating crd for ripsaw-upstream
  community-operators/ripsaw/0.1.0/benchmarks.ripsaw.cloudbulldozer.io.crd.yaml
Labels: openshift-operator, size/S

#908 MongoDB update alm-examples
  upstream-community-operators/mongodb-enterprise/1.3.1/mongodb-enterprise.v1.3.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/L

#910 Fix missing paragraph in testing-operators.md
  docs/testing-operators.md
Labels: size/XS

#912 noobaa v2.0.8
  upstream-community-operators/noobaa/2.0.8/backingstores.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.0.8/bucketclasses.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.0.8/noobaa-operator.v2.0.8.clusterserviceversion.yaml
  upstream-community-operators/noobaa/2.0.8/noobaas.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/noobaa-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#914 Add OLM manifests for Dynatrace OneAgent Operator v0.5.2
  upstream-community-operators/oneagent/0.5.2/dynatrace-monitoring.v0.5.2.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.5.2/oneagents.dynatrace.com.crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator, size/L

#913 Add OLM manifests for Container Security Operator v1.0.0
  upstream-community-operators/container-security-operator/1.0.0/container-security-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.0/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/container-security-operator.package.yaml
Labels: kubernetes-operator, size/L

#919 Update the Crunchy PostgreSQL Operator to 4.1.0
  upstream-community-operators/postgresql/4.1.0/pgbackups.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.1.0/pgclusters.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.1.0/pgpolicies.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.1.0/pgreplicas.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.1.0/pgtasks.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.1.0/postgresoperator.v4.1.0.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator, size/XL

#923 noobaa - remove from community-operators
  community-operators/noobaa/1.1.0/backingstores.noobaa.io.crd.yaml
  community-operators/noobaa/1.1.0/bucketclasses.noobaa.io.crd.yaml
  community-operators/noobaa/1.1.0/noobaa-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/noobaa/1.1.0/noobaas.noobaa.io.crd.yaml
  community-operators/noobaa/1.1.0/objectbucketclaims.objectbucket.io.crd.yaml
  community-operators/noobaa/1.1.0/objectbuckets.objectbucket.io.crd.yaml
  community-operators/noobaa/noobaa-operator.package.yaml
Labels: openshift-operator, size/XL

#917 Adding API operator to operatorhub upstream
  upstream-community-operators/apim-operator/1.0.1/apim-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/apim-operator/1.0.1/apis.wso2.com.crd.yaml
  upstream-community-operators/apim-operator/1.0.1/ratelimitings.wso2.com.crd.yaml
  upstream-community-operators/apim-operator/1.0.1/securities.wso2.com.crd.yaml
  upstream-community-operators/apim-operator/1.0.1/targetendpoints.wso2.com.crd.yaml
  upstream-community-operators/apim-operator/apim-operator.package.yaml
Labels: kubernetes-operator, size/XL

#930 update IBM cloud operator to version 0.1.2 on community-operators
  community-operators/ibmcloud-operator/0.1.2/ibmcloud_operator.v0.1.2.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/0.1.2/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/0.1.2/ibmcloud_operator_v1alpha1_service.crd.yaml
  community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: openshift-operator, size/XL

#931 Modify logo and improve instructions of the API Operator
  upstream-community-operators/apim-operator/1.0.1/apim-operator.v1.0.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#915 Add OLM manifests for Jenkins Operator v0.2.2
  upstream-community-operators/jenkins-operator/0.2.2/jenkins-operator.v0.2.2.clusterserviceversion.yaml
  upstream-community-operators/jenkins-operator/0.2.2/jenkins_v1alpha2_jenkins_crd.yaml
  upstream-community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: kubernetes-operator, size/L

#929 [Strimzi Kafka Operator] Split cluster permissions and permissions
  community-operators/strimzi-kafka-operator/0.14.0/strimzi-cluster-operator.v0.14.0.clusterserviceversion.yaml
Labels: openshift-operator, size/M

#933 update ibm cloud operator to v0.1.2 on upstream-community-operators
  upstream-community-operators/ibmcloud-operator/0.1.2/ibmcloud_operator.v0.1.2.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/0.1.2/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.2/ibmcloud_operator_v1alpha1_service.crd.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: kubernetes-operator, size/XL

#932 [Strimzi Kafka Operator] Use separate cluster roles to reduce the RBAC footprint
  community-operators/strimzi-kafka-operator/0.14.0/strimzi-cluster-operator.v0.14.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.14.0/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.14.0/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.14.0/strimzitopicoperator.clusterrole.yaml
Labels: openshift-operator, size/M

#936 Microcks 0.2.1 upstream operator
  upstream-community-operators/microcks/0.2.1/microcks-operator.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/microcks/0.2.1/microcksinstall.crd.yaml
  upstream-community-operators/microcks/microcks.package.yaml
Labels: kubernetes-operator, size/L

#935 Microcks 0.2.1 community operator
  community-operators/microcks/0.2.1/microcks-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/microcks/0.2.1/microcksinstall.crd.yaml
  community-operators/microcks/microcks.package.yaml
Labels: openshift-operator, size/L

#934 Update StorageOS Operator to version 1.5.1
  upstream-community-operators/storageos/1.5.1/storageos.v1.5.1.clusterserviceversion.yaml
  upstream-community-operators/storageos/1.5.1/storageoscluster.crd.yaml
  upstream-community-operators/storageos/1.5.1/storageosjob.crd.yaml
  upstream-community-operators/storageos/1.5.1/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/1.5.1/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: kubernetes-operator, size/XXL

#926 Introducting Nexus Operator 0.1.0
  upstream-community-operators/nexus-operator/0.1.0/apps.m88i.io_nexus_crd.yaml
  upstream-community-operators/nexus-operator/0.1.0/nexus-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/nexus-operator/nexus-operator.package.yaml
Labels: kubernetes-operator, size/L
