Repository operator-framework/community-operators, pull requests merged in 2019-03, with the labels that each got.

#144 *: change federation provider for consistency
  community-operators/federationv2/federationv2.v0.0.2.clusterserviceversion.yaml
  upstream-community-operators/federationv2/federationv2.v0.0.2.clusterserviceversion.yaml
Labels: lgtm, size/XS

#138 Add svt-app-operator
  community-operators/svt-app-operator/svt-app-operator.crd.yaml
  community-operators/svt-app-operator/svt-app-operator.package.yaml
  community-operators/svt-app-operator/svt-app-operator.v0.0.8.clusterserviceversion.yaml
Labels: lgtm, size/L

#146 *.: Update etcd CSV to support SingleNamespace installMode
  community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
  upstream-community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
Labels: size/XS

#147 certified: update Couchbase template with latest version
  certified-operators/couchbase-enterprise/couchbase.1.1.0.clusterserviceversion.yaml
Labels: size/XS

#148 *: remove non-functional Couchbase members UI field
  certified-operators/couchbase-enterprise/couchbase.1.1.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/couchbase-v1.1.0.clusterserviceversion.yaml
Labels: size/S

#149 *: remove invalid install mode
  certified-operators/couchbase-enterprise/couchbase.1.1.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/couchbase-v1.1.0.clusterserviceversion.yaml
Labels: size/XS

#152 minor yaml syntax issue
  docs/required-fields.md
Labels: lgtm, needs-ok-to-test, size/XS

#156 fix typo in short name for bundlebinding
  community-operators/automationbroker/bundlebindings.crd.yaml
Labels: lgtm, size/XS

#85 fix 1677351. Restrict CLO to single namespace and allow Jaeger to reuse EO without installing CL
  community-operators/cluster-logging/cluster-logging.package.yaml
  community-operators/cluster-logging/cluster-logging.v0.0.1.clusterserviceversion.yaml
  community-operators/cluster-logging/cluster-loggings.crd.yaml
  community-operators/elasticsearch-operator/elasticsearch-operator.package.yaml
  community-operators/elasticsearch-operator/elasticsearch-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/elasticsearch-operator/elasticsearches.crd.yaml
Labels: lgtm, needs-ok-to-test, size/L

#143 Add percona PerconaXtraDBBackup CR example
  community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
  upstream-community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
Labels: lgtm, size/S

#165 Add requirement verbiage to cluster logging
  community-operators/cluster-logging/cluster-logging.v0.0.1.clusterserviceversion.yaml
  community-operators/elasticsearch-operator/elasticsearch-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/M

#166 Adding required rbac to EO for latest EO image
  community-operators/elasticsearch-operator/elasticsearch-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/S

#157 Update OWNERS
  OWNERS
Labels: lgtm, size/XS

#167 Update Strimzi to 0.11.1, add note about cluster updates and set capabilities
  community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.11.1.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-cluster-operator.v0.11.1.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: lgtm, needs-ok-to-test, size/XXL

#177 Update federation to 0.0.6 in community-operators
  community-operators/federation/federation-core-FederatedTypeConfig.crd.yaml
  community-operators/federation/federation.package.yaml
  community-operators/federation/federation.v0.0.5.clusterserviceversion.yaml
  community-operators/federation/federation.v0.0.6.clusterserviceversion.yaml
Labels: lgtm, size/XL

#168 Updating PlanetScale operator for Vitess to 0.1.8
  community-operators/planetscale/planetscale-operator.v0.1.8.clusterserviceversion.yaml
  community-operators/planetscale/planetscale.package.yaml
  upstream-community-operators/planetscale/planetscale-operator.v0.1.7.clusterserviceversion.yaml
  upstream-community-operators/planetscale/planetscale-operator.v0.1.8.clusterserviceversion.yaml
  upstream-community-operators/planetscale/planetscale.package.yaml
Labels: lgtm, needs-ok-to-test, size/XL

#153 Updated the Crunchy Data descriptors
  upstream-community-operators/postgresql/postgres-operator.v3.5.0.clusterserviceversion.yaml
Labels: lgtm, size/XS

#176 [docs] Update required UI fields for CSV
  docs/required-fields.md
Labels: size/M

#127 [community] Fix descheduler to work with AllNamespaces
  community-operators/descheduler/descheduler.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/M

#161 add Banzai Cloud vault-operator
  upstream-community-operators/vault/vault.crd.yaml
  upstream-community-operators/vault/vault.package.yaml
  upstream-community-operators/vault/vaultoperator.v0.4.10.clusterserviceversion.yaml
Labels: lgtm, needs-ok-to-test, size/L

#171 update path and add k8s requirement
  README.md
Labels: size/M

#184 Use a smaller base image for upstream dockerfile
  upstream.Dockerfile
Labels: lgtm, size/S

#91 certified: move get/watch PV into cluster permission
  certified-operators/couchbase-enterprise/couchbase.1.1.0.clusterserviceversion.yaml
Labels: lgtm, size/S

#183 [scripts] OLM and scorecard PR check
  .travis.yml
  ci.Dockerfile
  scripts/ci/check-pr
  scripts/ci/install-deps
  scripts/ci/install-olm-local
  scripts/ci/operators-env
  scripts/ci/test-operator
  scripts/ci/test-pr
  scripts/lib/cluster
  scripts/lib/file
  scripts/lib/util
Labels: size/XL

#194 typo in description
  upstream-community-operators/vault/vaultoperator.v0.4.10.clusterserviceversion.yaml
Labels: size/XS

#195 Update metering 0.13.0 CSV description, and provide example.
  community-operators/metering/metering-operator.v0.13.0.clusterserviceversion.yaml
Labels: lgtm, size/L

#200 [scripts] Support more CSV names in operators-env
  scripts/ci/operators-env
Labels: size/XS

#202 scripts/ci/install-deps: fix operator-sdk version to v0.6.0
  scripts/ci/install-deps
Labels: lgtm, size/S

#203 scripts/ci/install-deps
  scripts/ci/install-deps
Labels: lgtm, size/XS

#204 scripts/ci/check-pr: check both upstream and openshift operator PR's
  .travis.yml
  scripts/ci/check-pr
Labels: size/S

#211 scripts/lib/cluster: bump readiness check timeout
  scripts/lib/cluster
Labels: size/XS

#215 percona: Fix broken documentation link
  community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
  upstream-community-operators/percona/percona-xtradb-cluster-operator.0.3.0-rc1.clusterserviceversion.yaml
Labels: lgtm, size/XS

#206 remove the etcd annotations
  community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
Labels: lgtm, size/S

#214 .travis.yml: bump minikube memory allocation to 4gb
  .travis.yml
Labels: lgtm, size/XS

#213 scripts/: delete objects by name within namespace
  scripts/ci/test-operator
  scripts/lib/cluster
Labels: lgtm, size/XS

#217 [scripts] Use python base in ci.Dockerfile
  ci.Dockerfile
  scripts/ci/install-deps
Labels: size/S

#220 [community] Add clusterwide etcd channel
  community-operators/etcd/etcd.package.yaml
  community-operators/etcd/etcdoperator.v0.9.2-clusterwide.clusterserviceversion.yaml
Labels: lgtm, size/L

#221 remove defunct annotations
  upstream-community-operators/etcd/etcdoperator.v0.9.2.clusterserviceversion.yaml
Labels: size/S

#219 scripts/ci/check-pr: test scripts/{ci,lib}
  .travis.yml
  scripts/ci/check-pr
Labels: lgtm, size/M

#40 community: add cockroachdb
  community-operators/cockroachdb/cockroachdb.package.yaml
  community-operators/cockroachdb/cockroachdb.v2.0.9.clusterserviceversion.yaml
  community-operators/cockroachdb/cockroachdb_crd.yaml
Labels: size/L

#229 adjust display name for cockroachdb
  community-operators/cockroachdb/cockroachdb.v2.0.9.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/cockroachdb.v2.0.9.clusterserviceversion.yaml
Labels: size/XS

#231 Remove svt-app-operator
  community-operators/svt-app-operator/svt-app-operator.crd.yaml
  community-operators/svt-app-operator/svt-app-operator.package.yaml
  community-operators/svt-app-operator/svt-app-operator.v0.0.8.clusterserviceversion.yaml
Labels: size/L

#223 deploy/chart: etcd-operator bump to 0.9.4
  community-operators/etcd/etcd.package.yaml
  community-operators/etcd/etcdoperator.v0.9.4-clusterwide.clusterserviceversion.yaml
  community-operators/etcd/etcdoperator.v0.9.4.clusterserviceversion.yaml
  upstream-community-operators/etcd/etcd.package.yaml
  upstream-community-operators/etcd/etcdoperator.v0.9.2-clusterwide.clusterserviceversion.yaml
  upstream-community-operators/etcd/etcdoperator.v0.9.4-clusterwide.clusterserviceversion.yaml
  upstream-community-operators/etcd/etcdoperator.v0.9.4.clusterserviceversion.yaml
Labels: size/XXL

#227 .travis.yml: fix scripts-only CI test
  .travis.yml
Labels: lgtm, size/XS

#232 [scripts] Pin OLM version to 0.8.1
  scripts/ci/install-olm-local
  scripts/ci/test-operator
Labels: lgtm, size/S

#212 .travis.yml: bump minikube kubernetes version to 1.12.0
  .travis.yml
Labels: lgtm, size/XS

#233 scripts/ci/check-pr: test changes to .travis.yml
  scripts/ci/check-pr
Labels: lgtm, size/XS

#188 add cluster-wide PV permissions to community version of Coucbase
  upstream-community-operators/couchbase-enterprise/couchbase-v1.1.0.clusterserviceversion.yaml
Labels: lgtm, size/S

#225 LOG-375. Move CLO and EO to v1
  community-operators/cluster-logging/cluster-logging.package.yaml
  community-operators/cluster-logging/cluster-logging.v4.1.0.clusterserviceversion.yaml
  community-operators/cluster-logging/cluster-loggings.crd.yaml
  community-operators/elasticsearch-operator/elasticsearch-operator.package.yaml
  community-operators/elasticsearch-operator/elasticsearch-operator.v4.1.0.clusterserviceversion.yaml
  community-operators/elasticsearch-operator/elasticsearches.crd.yaml
Labels: lgtm, size/S

#181 Adding the Microcks operator
  community-operators/microcks/microcks-operator.package.yaml
  community-operators/microcks/microcks-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/microcks/microcksinstall.crd.yaml
  upstream-community-operators/microcks/microcks-operator.package.yaml
  upstream-community-operators/microcks/microcks-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/microcks/microcksinstall.crd.yaml
Labels: lgtm, needs-ok-to-test, size/L

#205 scripts/ci/test-operator: create OperatorGroup if one does not exist
  scripts/ci/test-operator
  scripts/lib/cluster
  scripts/lib/file
Labels: lgtm, size/M

#239 scripts/ci/test-operator: set PKG_FILE again with nested path
  scripts/ci/test-operator
Labels: lgtm, size/XS

#226 Upstream fed 0.0.7
  community-operators/federation/federation.package.yaml
  community-operators/federation/federation.v0.0.7.clusterserviceversion.yaml
  upstream-community-operators/federation/federation.package.yaml
  upstream-community-operators/federation/federation.v0.0.7.clusterserviceversion.yaml
Labels: do-not-merge/hold, lgtm, size/M

#238 [scripts] Select channel from package
  scripts/ci/test-operator
  scripts/lib/cluster
  scripts/lib/file
Labels: lgtm, size/S

#182 Add node-network-operator
  community-operators/node-network-operator/node-network-operator.package.yaml
  community-operators/node-network-operator/node-network-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/node-network-operator/nodenetwork_v1alpha1_nodenetworkconfigurationpolicy_crd.yaml
Labels: lgtm, size/L

#241 Bug fix 1683359 - fluentd metrics not found
  community-operators/cluster-logging/cluster-logging.v4.1.0.clusterserviceversion.yaml
Labels: lgtm, size/XS

#237 [scripts] Add verify-operator
  .travis.yml
  scripts/ci/verify-operator
Labels: lgtm, size/S
