Repository operator-framework/community-operators, pull requests merged in 2020-01, with the labels that each got.

#1066 add multicloud subscription operator v0.1.0
  upstream-community-operators/multicloud-operators-subscription/0.1.0/channels.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.0/deployables.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.0/helmreleases.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.0/multicloud-operators-subscription.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.0/subscriptions.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/multicloud-operators-subscription.package.yaml
Labels: kubernetes-operator, size/XXL

#1067 Updated maintainers openlabs-postgresql-operator
  upstream-community-operators/operator-labs-postgresql/0.0.1/postgresql-operator.v0.0.1.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#1062 Update aqua operator to latest version
  upstream-community-operators/aqua/1.0.0/aqua-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/aqua/1.0.0/aquacsps.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.0/aquadatabases.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.0/aquaenforcers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.0/aquagateways.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.0/aquascanners.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.0/aquaservers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aqua-operator.package.yaml
Labels: kubernetes-operator, size/XL

#1061 Update aqua operator to latest version
  community-operators/aqua/1.0.0/aqua-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/aqua/1.0.0/aquacsps.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.0/aquadatabases.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.0/aquaenforcers.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.0/aquagateways.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.0/aquascanners.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.0/aquaservers.operator.aquasec.com.crd.yaml
  community-operators/aqua/aqua-operator.package.yaml
Labels: openshift-operator, size/XL

#787 Revert "Removes Community Couchbase Operator"
  upstream-community-operators/couchbase-enterprise/1.0.0/couchbase-v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/1.0.0/couchbasecluster.crd.yaml
  upstream-community-operators/couchbase-enterprise/1.1.0/couchbase-v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/1.1.0/couchbasecluster.crd.yaml
  upstream-community-operators/couchbase-enterprise/1.2.1/couchbase-v1.2.1.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/1.2.1/couchbasecluster.crd.yaml
  upstream-community-operators/couchbase-enterprise/couchbase.package.yaml
Labels: kubernetes-operator, size/XXL

#1068 update grafana operator to v3.0.2
  upstream-community-operators/grafana-operator/3.0.2/grafana-operator.package.yaml
  upstream-community-operators/grafana-operator/3.0.2/grafana-operator.v3.0.2.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.0.2/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.0.2/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.0.2/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: kubernetes-operator, size/L

#1070 Add multicloud subscription operator v0.1.0 to work on OpenShift 4 or…
  community-operators/multicloud-operators-subscription/0.1.0/channels.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.0/deployables.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.0/helmreleases.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.0/multicloud-operators-subscription.v0.1.0.clusterserviceversion.yaml
  community-operators/multicloud-operators-subscription/0.1.0/subscriptions.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/multicloud-operators-subscription.package.yaml
Labels: openshift-operator, size/XXL

#1065 Add Siddhi operator to OperatorHub upstream
  upstream-community-operators/siddhi-operator/0.2.2/siddhi-operator.v0.2.2.clusterserviceversion.yaml
  upstream-community-operators/siddhi-operator/0.2.2/siddhiprocesses.siddhi.io.crd.yaml
  upstream-community-operators/siddhi-operator/siddhi-operator.package.yaml
Labels: kubernetes-operator, size/L

#1057 Add traefikee operator
  upstream-community-operators/traefikee-operator/0.2.0/containo.us_traefikees_crd.yaml
  upstream-community-operators/traefikee-operator/0.2.0/traefikee-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/traefikee-operator/traefikee-operator.package.yaml
Labels: kubernetes-operator, size/L

#1076 Eunomia release v0.1.0
  upstream-community-operators/eunomia/0.1.0/eunomia.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/eunomia/0.1.0/gitopsconfigs.eunomia.kohls.io.crd.yaml
  upstream-community-operators/eunomia/eunomia.package.yaml
Labels: kubernetes-operator, size/L

#1053 apicast upstream community v0.1.1
  upstream-community-operators/apicast-community-operator/0.1.1/apicast-community-operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/apicast-community-operator/0.1.1/apps_v1alpha1_apicast_crd.yaml
  upstream-community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: kubernetes-operator, size/L

#1079 Update Federator.ai operator to v4.2.551 for upstream-community-operators
  upstream-community-operators/federatorai/4.2.551/alamedaservices.federatorai.containers.ai.crd.yaml
  upstream-community-operators/federatorai/4.2.551/federatorai.v4.2.551.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.package.yaml
Labels: kubernetes-operator, size/XL

#1078 Update Federator.ai operator to v4.2.551 for community-operators
  community-operators/federatorai/4.2.551/alamedaservices.federatorai.containers.ai.crd.yaml
  community-operators/federatorai/4.2.551/federatorai.v4.2.551.clusterserviceversion.yaml
  community-operators/federatorai/federatorai.package.yaml
Labels: openshift-operator, size/XL

#918 Add Knative Eventing Operator
  upstream-community-operators/knative-eventing-operator/0.11.0/eventing_v1alpha1_knativeeventing_crd.yaml
  upstream-community-operators/knative-eventing-operator/0.11.0/knative-eventing-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
Labels: kubernetes-operator, size/L

#1084 Update Jaeger upstream-community-operators to v1.16.0
  upstream-community-operators/jaeger/1.16.0/jaeger.v1.16.0.clusterserviceversion.yaml
  upstream-community-operators/jaeger/1.16.0/jaegertracing.io_jaegers_crd.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
Labels: kubernetes-operator, size/L

#1089 Update StorageOS Operator to version 1.5.3
  upstream-community-operators/storageos/1.5.3/storageos.v1.5.3.clusterserviceversion.yaml
  upstream-community-operators/storageos/1.5.3/storageoscluster.crd.yaml
  upstream-community-operators/storageos/1.5.3/storageosjob.crd.yaml
  upstream-community-operators/storageos/1.5.3/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/1.5.3/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: kubernetes-operator, size/XXL

#1090 Add Hawtio operator v0.2.0 to community operators
  community-operators/hawtio/0.2.0/hawtio-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/hawtio/0.2.0/hawtios.hawt.io.crd.yaml
  community-operators/hawtio/hawtio-operator.package.yaml
Labels: openshift-operator, size/L

#1091 OpenEBS operator 1.5.0
  community-operators/openebs/1.5.0/openebs_v1alpha1_openebsinstalltemplate_crd.yaml
  community-operators/openebs/1.5.0/openebsoperator.v1.5.0.clusterserviceversion.yaml
  community-operators/openebs/openebs.package.yaml
Labels: openshift-operator, size/XL

#1092 Update eclipse-che operator for openshift to release 7.7.0
  community-operators/eclipse-che/7.7.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.7.0/eclipse-che.v7.7.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator, size/XL

#1093 Update eclipse-che operator for kubernetes to release 7.7.0
  upstream-community-operators/eclipse-che/7.7.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.7.0/eclipse-che.v7.7.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator, size/XL

#1094 Aqua Operator, update community cluster premissions
  community-operators/aqua/1.0.0/aqua-operator.v1.0.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#1095 Added Alpha as a primary Channel
  community-operators/spinnaker-operator/spinnaker-operator.package.yaml
Labels: openshift-operator, size/S

#1096 Added Alpha as a primary Channel
  community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.package.yaml
Labels: openshift-operator, size/S

#1097 Remove Node Network Operator
  community-operators/node-network-operator/0.0.1/node-network-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/node-network-operator/0.0.1/nodenetworkconfigurationpolicies.nodenetwork.openshift.io.crd.yaml
  community-operators/node-network-operator/node-network-operator.package.yaml
Labels: openshift-operator, size/L

#1098 OpenEBS operator 1.5.0
  upstream-community-operators/openebs/1.5.0/openebs_v1alpha1_openebsinstalltemplate_crd.yaml
  upstream-community-operators/openebs/1.5.0/openebsoperator.v1.5.0.clusterserviceversion.yaml
  upstream-community-operators/openebs/openebs.package.yaml
Labels: kubernetes-operator, size/XL

#1099 Drop HCO for now
  community-operators/hco-operatorhub/0.0.1/cdis.cdi.kubevirt.io.crd.yaml
  community-operators/hco-operatorhub/0.0.1/hyperconvergeds.hco.kubevirt.io.crd.yaml
  community-operators/hco-operatorhub/0.0.1/kubevirt-hyperconverged-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/hco-operatorhub/0.0.1/kubevirtcommontemplatesbundles.kubevirt.io.crd.yaml
  community-operators/hco-operatorhub/0.0.1/kubevirtnodelabellerbundles.kubevirt.io.crd.yaml
  community-operators/hco-operatorhub/0.0.1/kubevirts.kubevirt.io.crd.yaml
  community-operators/hco-operatorhub/0.0.1/kubevirttemplatevalidators.kubevirt.io.crd.yaml
  community-operators/hco-operatorhub/0.0.1/kwebuis.kubevirt.io.crd.yaml
  community-operators/hco-operatorhub/0.0.1/networkaddonsconfigs.networkaddonsoperator.network.kubevirt.io.crd.yaml
  community-operators/hco-operatorhub/0.0.1/nodemaintenances.kubevirt.io.crd.yaml
  community-operators/hco-operatorhub/hco-operatorhub.package.yaml
Labels: openshift-operator, size/XXL

#1085 Update Jaeger community-operators to v1.16.0
  community-operators/jaeger/1.16.0/jaeger.v1.16.0.clusterserviceversion.yaml
  community-operators/jaeger/1.16.0/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: openshift-operator, size/L

#1083 Couchbase Enterprise Release 1.2.2
  upstream-community-operators/couchbase-enterprise/1.2.2/couchbase-v1.2.2.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/1.2.2/couchbasecluster.crd.yaml
  upstream-community-operators/couchbase-enterprise/couchbase.package.yaml
Labels: kubernetes-operator, size/XL

#1100 Added vdemeester to codeowners for pipelines operator
  CODEOWNERS
Labels: size/XS

#1102 Eventing core 0.11
  community-operators/knative-eventing-operator/0.11.0/knative-eventing-operator.v0.11.0.clusterserviceversion-v0.11.0.yaml
  community-operators/knative-eventing-operator/0.11.0/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
Labels: openshift-operator, size/L

#1103 Update traefikee-operator to v0.3.0
  upstream-community-operators/traefikee-operator/0.3.0/containo.us_traefikees_crd.yaml
  upstream-community-operators/traefikee-operator/0.3.0/traefikee-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/traefikee-operator/traefikee-operator.package.yaml
Labels: kubernetes-operator, size/L

#1104 Add traefikee operator to community
  community-operators/traefikee-operator/0.2.0/containo.us_traefikees_crd.yaml
  community-operators/traefikee-operator/0.2.0/traefikee-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/traefikee-operator/traefikee-operator.package.yaml
Labels: openshift-operator, size/L

#1108 Fix Knative eventing upstream operator keywords in CSV
  upstream-community-operators/knative-eventing-operator/0.11.0/knative-eventing-operator.v0.11.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/XS

#1101 Adding SkyDive operator
  upstream-community-operators/skydive-operator/0.0.1/charts.helm.k8s.io_netflowcollectors_crd.yaml
  upstream-community-operators/skydive-operator/0.0.1/charts.helm.k8s.io_skydives_crd.yaml
  upstream-community-operators/skydive-operator/0.0.1/skydive-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/skydive-operator/skydive-operator.package.yaml
Labels: kubernetes-operator, size/L

#1087 KEYCLOAK-12623 Keycloak 8.0.1 Community Operator
  community-operators/keycloak/8.0.1/keycloak-operator.8.0.1.clusterserviceversion.yaml
  community-operators/keycloak/8.0.1/keycloak.org_keycloakbackups_crd.yaml
  community-operators/keycloak/8.0.1/keycloak.org_keycloakclients_crd.yaml
  community-operators/keycloak/8.0.1/keycloak.org_keycloakrealms_crd.yaml
  community-operators/keycloak/8.0.1/keycloak.org_keycloaks_crd.yaml
  community-operators/keycloak/8.0.1/keycloak.org_keycloakusers_crd.yaml
  community-operators/keycloak/keycloak.package.yaml
Labels: openshift-operator, size/XXL

#1088 KEYCLOAK-12623 Keycloak 8.0.1 Upstream Community Operator
  upstream-community-operators/keycloak/8.0.1/keycloak-operator.8.0.1.clusterserviceversion.yaml
  upstream-community-operators/keycloak/8.0.1/keycloak.org_keycloakbackups_crd.yaml
  upstream-community-operators/keycloak/8.0.1/keycloak.org_keycloakclients_crd.yaml
  upstream-community-operators/keycloak/8.0.1/keycloak.org_keycloakrealms_crd.yaml
  upstream-community-operators/keycloak/8.0.1/keycloak.org_keycloaks_crd.yaml
  upstream-community-operators/keycloak/8.0.1/keycloak.org_keycloakusers_crd.yaml
  upstream-community-operators/keycloak/keycloak.package.yaml
Labels: kubernetes-operator, size/XXL

#1106 Update Crunchy PostgreSQL Operator to v4.2.0
  upstream-community-operators/postgresql/4.2.0/pgbackups.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.0/pgclusters.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.0/pgpolicies.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.0/pgreplicas.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.0/pgtasks.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.0/postgresoperator.v4.2.0.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator, size/XL

#1117 Upgrade Camel K Operator to 1.0.0-RC1
  upstream-community-operators/camel-k/1.0.0-rc1/camel-k.v1.0.0-rc1.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.0.0-rc1/crd-build.yaml
  upstream-community-operators/camel-k/1.0.0-rc1/crd-camel-catalog.yaml
  upstream-community-operators/camel-k/1.0.0-rc1/crd-integration-kit.yaml
  upstream-community-operators/camel-k/1.0.0-rc1/crd-integration-platform.yaml
  upstream-community-operators/camel-k/1.0.0-rc1/crd-integration.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator, size/XL

#993 Removing archived AWS Service Operator
  upstream-community-operators/aws-service/0.0.1/aws-service-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/aws-service/0.0.1/cloudformationtemplates.service-operator.aws.crd.yaml
  upstream-community-operators/aws-service/0.0.1/dynamodbs.service-operator.aws.crd.yaml
  upstream-community-operators/aws-service/0.0.1/ecrrepositories.service-operator.aws.crd.yaml
  upstream-community-operators/aws-service/0.0.1/elasticaches.service-operator.aws.crd.yaml
  upstream-community-operators/aws-service/0.0.1/s3buckets.service-operator.aws.crd.yaml
  upstream-community-operators/aws-service/0.0.1/snssubscriptions.service-operator.aws.crd.yaml
  upstream-community-operators/aws-service/0.0.1/snstopics.service-operator.aws.crd.yaml
  upstream-community-operators/aws-service/0.0.1/sqsqueues.service-operator.aws.crd.yaml
  upstream-community-operators/aws-service/aws-service.package.yaml
Labels: kubernetes-operator, size/L

#1112 Add ECK 1.0.0 to upstream operators
  upstream-community-operators/elastic-cloud/1.0.0/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/1.0.0/elastic-cloud-eck.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud/1.0.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/1.0.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator, size/XXL

#1111 Add Kogito Operator 0.7.0-rc4 on dev-preview channel
  community-operators/kogito-operator/0.7.0-rc4/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.7.0-rc4/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.7.0-rc4/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.7.0-rc4/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.7.0-rc4/kogito-operator.v0.7.0-rc4.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator, size/XXL

#1118 Upgrade Camel K Operator to 1.0.0-RC1 in Community Operators
  community-operators/camel-k/1.0.0-rc1/camel-k.v1.0.0-rc1.clusterserviceversion.yaml
  community-operators/camel-k/1.0.0-rc1/crd-build.yaml
  community-operators/camel-k/1.0.0-rc1/crd-camel-catalog.yaml
  community-operators/camel-k/1.0.0-rc1/crd-integration-kit.yaml
  community-operators/camel-k/1.0.0-rc1/crd-integration-platform.yaml
  community-operators/camel-k/1.0.0-rc1/crd-integration.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: openshift-operator, size/XL

#1109 Latest version of Openshift Serverless Knative Kafka Operator
  community-operators/knative-kafka-operator/0.11.2/knative-kafka-operator.v0.11.2.clusterserviceversion-v0.11.2.yaml
  community-operators/knative-kafka-operator/0.11.2/knativeeventingkafkas.eventing.knative.dev.crd.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
Labels: openshift-operator, size/L

#1107 Update Crunchy PostgreSQL Operator to v4.2.0
  community-operators/postgresql/4.2.0/pgbackups.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.0/pgclusters.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.0/pgpolicies.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.0/pgreplicas.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.0/pgtasks.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.0/postgresoperator.v4.2.0.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: openshift-operator, size/XL

#1127 Add OLM manifests for Dynatrace OneAgent Operator v0.6.0
  upstream-community-operators/oneagent/0.6.0/dynatrace-monitoring.v0.6.0.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.6.0/oneagents.dynatrace.com.crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator, size/XL

#1126 Modifying the maintainers' details
  community-operators/api-operator/1.0.1/api-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/api-operator/1.0.1/api-operator.v1.0.1.clusterserviceversion.yaml
Labels: kubernetes-operator, openshift-operator, size/S

#1010 Change maintainer support
  community-operators/awss3-operator-registry/1.0.1/awss3operator.1.0.1.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#1130 Update eclipse-che operator for kubernetes to release 7.7.1
  upstream-community-operators/eclipse-che/7.7.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.7.1/eclipse-che.v7.7.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator, size/XL

#1131 Update eclipse-che operator for openshift to release 7.7.1
  community-operators/eclipse-che/7.7.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.7.1/eclipse-che.v7.7.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator, size/XL

#1110 Update traefikee operator community to version v0.3.0
  community-operators/traefikee-operator/0.3.0/containo.us_traefikees_crd.yaml
  community-operators/traefikee-operator/0.3.0/traefikee-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/traefikee-operator/traefikee-operator.package.yaml
Labels: openshift-operator, size/L

#1137 Removing unnecessary link for slack channel under "Maintainers"
  community-operators/api-operator/1.0.1/api-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/api-operator/1.0.1/api-operator.v1.0.1.clusterserviceversion.yaml
Labels: kubernetes-operator, openshift-operator, size/XS

#1132 ODH: Update community operator alm-example
  community-operators/opendatahub-operator/0.5.0/opendatahub-operator.v0.5.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#1139 New ArgoCD operator (Helm)
  upstream-community-operators/argocd-operator-helm/0.0.2/argocd-operator-helm.v0.0.2.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator-helm/0.0.2/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator-helm/0.0.3/argocd-operator-helm.v0.0.3.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator-helm/0.0.3/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator-helm/argocd-operator-helm.package.yaml
Labels: kubernetes-operator, size/XXL

#1141 remove erroneous package definition
  upstream-community-operators/grafana-operator/3.0.2/grafana-operator.package.yaml
Labels: kubernetes-operator, size/XS

#1134 Update PostgreSQL upstream operator to v4.2.1
  upstream-community-operators/postgresql/4.2.1/pgbackups.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.1/pgclusters.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.1/pgpolicies.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.1/pgreplicas.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.1/pgtasks.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.1/postgresoperator.v4.2.1.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator, size/XL

#1143 Upgrading the Teiid Operator to 0.1.0 version
  community-operators/teiid/0.1.0/teiid.0.1.0.clusterserviceversion.yaml
  community-operators/teiid/0.1.0/virtualdatabase.crd.yaml
  community-operators/teiid/teiid.package.yaml
Labels: openshift-operator, size/XL

#1129 Infinispan upstream 1.1.0 v2
  upstream-community-operators/infinispan/1.1.0/infinispan-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/infinispan/1.1.0/infinispans.infinispan.org.crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator, size/L

#1128 Infinispan community 1.1.0 v2
  community-operators/infinispan/1.1.0/infinispan-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/infinispan/1.1.0/infinispans.infinispan.org.crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: openshift-operator, size/L

#1145 (litmus) CSV: Add CSV for litmus 1.0.0
  upstream-community-operators/litmus/1.0.0/chaosengines.litmuschaos.io.crd.yaml
  upstream-community-operators/litmus/1.0.0/chaosoperator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/litmus/litmuschaos.package.yaml
Labels: kubernetes-operator, size/L

#1144 publish ArgoCD-Helm operator to community-operators
  community-operators/argocd-operator-helm/0.0.2/argocd-operator-helm.v0.0.2.clusterserviceversion.yaml
  community-operators/argocd-operator-helm/0.0.2/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator-helm/0.0.3/argocd-operator-helm.v0.0.3.clusterserviceversion.yaml
  community-operators/argocd-operator-helm/0.0.3/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator-helm/argocd-operator-helm.package.yaml
Labels: openshift-operator, size/XXL

#988 Add cluster roles for minio operator
  upstream-community-operators/minio-operator/1.0.3/minio-operator.v1.0.3.clusterserviceversion.yaml
Labels: kubernetes-operator, size/M

#1148 Update Kogito Operator to 0.7.0
  community-operators/kogito-operator/0.7.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.7.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.7.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.7.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.7.0/kogito-operator.v0.7.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator, size/XXL

#992 Update enmasse operator for Kubernetes to version 0.30.2
  upstream-community-operators/enmasse/0.30.2/addressplans.crd.yaml
  upstream-community-operators/enmasse/0.30.2/addressspaceplans.crd.yaml
  upstream-community-operators/enmasse/0.30.2/authenticationservices.crd.yaml
  upstream-community-operators/enmasse/0.30.2/brokeredinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/0.30.2/consoleservices.crd.yaml
  upstream-community-operators/enmasse/0.30.2/enmasse.0.30.2.clusterserviceversion.yaml
  upstream-community-operators/enmasse/0.30.2/iotconfigs.crd.yaml
  upstream-community-operators/enmasse/0.30.2/iotprojects.crd.yaml
  upstream-community-operators/enmasse/0.30.2/standardinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/enmasse.package.yaml
Labels: kubernetes-operator, size/XXL

#1150 fix timeout
  scripts/ci/check-kubeconfig
  scripts/ci/env
  scripts/utils/Makefile
Labels: size/XS

#1151 add interactive context selection
  Makefile
  scripts/ci/check-kubeconfig
  scripts/ci/run-wrapper
  scripts/utils/check-kube-config.py
  scripts/utils/lib/__init__.py
  scripts/utils/lib/pick.py
Labels: size/L

#1140 Added registry Dockerfile for OpenShift
  openshift.Dockerfile
Labels: size/M

#1149 update operator-sdk + update flags and add generator operator-sdk con…
  scripts/ci/env
  scripts/ci/scorecard
  scripts/lib-python/files/create_operator_scorecard_bundle.py
  scripts/utils/Makefile
Labels: size/L

#1147 update Service Binding Operator
  community-operators/service-binding-operator/0.0.24-214/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.0.24-214/service-binding-operator.v0.0.24-214.clusterserviceversion.yaml
  community-operators/service-binding-operator/service-binding-operator.package.yaml
Labels: openshift-operator, size/L

#1152 Update to version 0.30.2 for openshift
  community-operators/enmasse/0.30.2/addressplans.crd.yaml
  community-operators/enmasse/0.30.2/addressspaceplans.crd.yaml
  community-operators/enmasse/0.30.2/authenticationservices.crd.yaml
  community-operators/enmasse/0.30.2/brokeredinfraconfigs.crd.yaml
  community-operators/enmasse/0.30.2/consoleservices.crd.yaml
  community-operators/enmasse/0.30.2/enmasse.0.30.2.clusterserviceversion.yaml
  community-operators/enmasse/0.30.2/iotconfigs.crd.yaml
  community-operators/enmasse/0.30.2/iotprojects.crd.yaml
  community-operators/enmasse/0.30.2/standardinfraconfigs.crd.yaml
  community-operators/enmasse/enmasse.package.yaml
Labels: openshift-operator, size/XXL

#1146 Add upstream Knative Serving operator
  upstream-community-operators/knative-serving-operator/0.11.0/knative-serving-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.11.0/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-serving-operator/knative-serving-operator.package.yaml
Labels: kubernetes-operator, size/L

#1156 MongoDB Enterprise Operator 1.4.2
  upstream-community-operators/mongodb-enterprise/1.4.2/mongodb-enterprise.v1.4.2.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.4.2/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.2/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.2/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator, size/XXL

#1160 Update upstream argocd-operator to v0.0.4
  upstream-community-operators/argocd-operator/0.0.4/argocd-operator.v0.0.4.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/0.0.4/argoproj.io_applications_crd.yaml
  upstream-community-operators/argocd-operator/0.0.4/argoproj.io_appprojects_crd.yaml
  upstream-community-operators/argocd-operator/0.0.4/argoproj.io_argocdexports_crd.yaml
  upstream-community-operators/argocd-operator/0.0.4/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator/argocd-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#1114 Special resource operator
  community-operators/special-resource-operator/0.0.1/special-resource-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/special-resource-operator/0.0.1/specialresources.sro.openshift.io.crd.yaml
  community-operators/special-resource-operator/special-resource-operator.package.yaml
Labels: openshift-operator, size/L

#1153 Update Channel.app.ibm.com and Subscription.app.ibm.com CRD sample ya…
  upstream-community-operators/multicloud-operators-subscription/0.1.0/multicloud-operators-subscription.v0.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator, size/M

#1157 Remove obsolete knative-serving operator
  community-operators/knative-serving-operator/0.5.2/installs.serving.knative.dev.crd.yaml
  community-operators/knative-serving-operator/0.5.2/knative-serving-operator.v0.5.2.clusterserviceversion.yaml
  community-operators/knative-serving-operator/0.6.0/knative-serving-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/knative-serving-operator/0.6.0/knativeservings.serving.knative.dev.crd.yaml
  community-operators/knative-serving-operator/0.7.1/knative-serving-operator.v0.7.1.clusterserviceversion.yaml
  community-operators/knative-serving-operator/0.7.1/knativeservings.serving.knative.dev.crd.yaml
  community-operators/knative-serving-operator/knative-serving-operator.package.yaml
Labels: openshift-operator, size/XL

#1167 Travis with tooling
  .travis.yml
  scripts/ci/operators-env
Labels: size/S

#1166 Adding Appranix Operator to OperatorHub.io
  upstream-community-operators/appranix/1.0.0/ax-cps-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/appranix/1.0.0/backups.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/1.0.0/backupstoragelocations.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/1.0.0/deletebackuprequests.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/1.0.0/downloadrequests.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/1.0.0/podvolumebackups.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/1.0.0/podvolumerestores.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/1.0.0/resticrepositories.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/1.0.0/restores.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/1.0.0/schedules.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/1.0.0/serverstatusrequests.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/1.0.0/volumesnapshotlocations.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/ax-cps-operator.package.yaml
Labels: kubernetes-operator, size/XL

#1133 Update PostgreSQL Operator community operator to v4.2.1
  community-operators/postgresql/4.2.1/pgbackups.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.1/pgclusters.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.1/pgpolicies.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.1/pgreplicas.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.1/pgtasks.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.1/postgresoperator.v4.2.1.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: openshift-operator, size/XL

#1163 Update Channel and Subscription CRD sample yaml files
  community-operators/multicloud-operators-subscription/0.1.0/multicloud-operators-subscription.v0.1.0.clusterserviceversion.yaml
Labels: openshift-operator, size/M
