Repository operator-framework/community-operators, pull requests merged in 2020-12, with the labels that each got.

#2771 Add Dynatrace OneAgent Operator v0.9.2
  upstream-community-operators/oneagent/0.9.2/dynatrace-monitoring.v0.9.2.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.9.2/dynatrace.com_oneagentapms_crd.yaml
  upstream-community-operators/oneagent/0.9.2/dynatrace.com_oneagents_crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator

#2766 noobaa-operator v5.6.0
  upstream-community-operators/noobaa-operator/5.6.0/backingstores.noobaa.io.crd.yaml
  upstream-community-operators/noobaa-operator/5.6.0/bucketclasses.noobaa.io.crd.yaml
  upstream-community-operators/noobaa-operator/5.6.0/noobaa-operator.v5.6.0.clusterserviceversion.yaml
  upstream-community-operators/noobaa-operator/5.6.0/noobaas.noobaa.io.crd.yaml
  upstream-community-operators/noobaa-operator/noobaa-operator.package.yaml
Labels: kubernetes-operator

#2757 Upgrade Camel K to 1.2.1 in upstream operators
  upstream-community-operators/camel-k/1.2.1/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.1/camel-k.v1.2.1.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.2.1/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.1/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.1/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.1/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.1/kameletbindings.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.1/kamelets.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator

#2764 [KOGITO-3940] - Release Kogito Operator 1.0 to OperatorHub upstream
  upstream-community-operators/kogito-operator/1.0.0/app.kiegroup.org_kogitobuilds_crd.yaml
  upstream-community-operators/kogito-operator/1.0.0/app.kiegroup.org_kogitoinfras_crd.yaml
  upstream-community-operators/kogito-operator/1.0.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  upstream-community-operators/kogito-operator/1.0.0/app.kiegroup.org_kogitosupportingservices_crd.yaml
  upstream-community-operators/kogito-operator/1.0.0/kogito-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/kogito-operator.package.yaml
Labels: kubernetes-operator

#2751 Update eclipse-che operator for kubernetes to release 7.22.0
  upstream-community-operators/eclipse-che/7.22.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.22.0/eclipse-che.v7.22.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2743 Add YAKS v0.1.0 operator
  upstream-community-operators/yaks/0.1.0/tests.yaks.citrusframework.org.crd.yaml
  upstream-community-operators/yaks/0.1.0/yaks.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/yaks/ci.yaml
  upstream-community-operators/yaks/yaks.package.yaml
Labels: kubernetes-operator

#2741 Capitalize displayName for ECK 1.3.0 in upstream-community-operators
  upstream-community-operators/elastic-cloud-eck/1.3.0/elastic-cloud-eck.v1.3.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#2790 Update Seldon Upstream Operator to 1.5.0
  upstream-community-operators/seldon-operator/1.5.0/machinelearning.seldon.io_seldondeployments.yaml
  upstream-community-operators/seldon-operator/1.5.0/seldon-manager_v1_serviceaccount.yaml
  upstream-community-operators/seldon-operator/1.5.0/seldon-operator.v1.5.0.clusterserviceversion.yaml
  upstream-community-operators/seldon-operator/seldon-operator.package.yaml
Labels: kubernetes-operator

#2793 Add the knative operator 0.19.1
  upstream-community-operators/knative-operator/0.19.1/knative-operator.v0.19.1.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.19.1/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.19.1/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2745 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.26.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.26.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.26.0/kiali.v1.26.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/1.27.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.27.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.27.0/kiali.v1.27.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator, lgtm

#2794 add mta operator to community-operators
  community-operators/mta-operator/0.0.1/Dockerfile
  community-operators/mta-operator/0.0.1/manifests/windup-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/mta-operator/0.0.1/manifests/windup.crd.yaml
  community-operators/mta-operator/0.0.1/metadata/annotations.yaml
Labels: good first issue, ok-to-test, openshift-operator

#2753 Add YAKS v0.1.0 community operator
  community-operators/yaks/0.1.0/tests.yaks.citrusframework.org.crd.yaml
  community-operators/yaks/0.1.0/yaks.v0.1.0.clusterserviceversion.yaml
  community-operators/yaks/ci.yaml
  community-operators/yaks/yaks.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2791 Update Seldon Community Operator to 1.5.0
  community-operators/seldon-operator/1.5.0/machinelearning.seldon.io_seldondeployments.yaml
  community-operators/seldon-operator/1.5.0/seldon-manager_v1_serviceaccount.yaml
  community-operators/seldon-operator/1.5.0/seldon-operator.v1.5.0.clusterserviceversion.yaml
  community-operators/seldon-operator/seldon-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2744 [kiali] [community] update kiali
  community-operators/kiali/1.26.0/kiali.crd.yaml
  community-operators/kiali/1.26.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.26.0/kiali.v1.26.0.clusterserviceversion.yaml
  community-operators/kiali/1.27.0/kiali.crd.yaml
  community-operators/kiali/1.27.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.27.0/kiali.v1.27.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2738 add OpenShift Hive operator 1.0.14 for upstream
  upstream-community-operators/hive-operator/1.0.14/hive-operator.v1.0.14.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.14/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.0.14/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.0.14/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator, lgtm

#2739 add OpenShift Hive operator 1.0.14
  community-operators/hive-operator/1.0.14/hive-operator.v1.0.14.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.14/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.0.14/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.0.14/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2756 Upgrade Camel K to 1.2.1
  community-operators/camel-k/1.2.1/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.1/camel-k.v1.2.1.clusterserviceversion.yaml
  community-operators/camel-k/1.2.1/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.1/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.1/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.1/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.1/kameletbindings.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.1/kamelets.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2685 Upgrading ibm-specturm-scale-csi-operator to 2.1.0
  upstream-community-operators/ibm-spectrum-scale-csi-operator/2.1.0/csiscaleoperators.csi.ibm.com.crd.yaml
  upstream-community-operators/ibm-spectrum-scale-csi-operator/2.1.0/ibm-spectrum-scale-csi-operator.v2.1.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2749 add data-explorer-operator to community-operators
  community-operators/data-explorer-operator/0.0.1/Dockerfile
  community-operators/data-explorer-operator/0.0.1/manifests/dashboardwithjupyterhubs.data-explorer.com.crd.yaml
  community-operators/data-explorer-operator/0.0.1/manifests/data-explorer-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/data-explorer-operator/0.0.1/metadata/annotations.yaml
  community-operators/data-explorer-operator/ci.yml
Labels: lgtm, ok-to-test, openshift-operator

#2777 release CouchDB Operator 1.4.2
  upstream-community-operators/couchdb-operator/1.4.2/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.2/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.2/couchdb-operator.v1.4.2.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.4.2/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.2/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.2/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.2/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.2/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/couchdb-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2798 chore: Bump up Starboard Operator from v0.6.0 to v0.7.0
  upstream-community-operators/starboard-operator/0.7.0/starboard-operator.v0.7.0.clusterserviceversion.yaml
  upstream-community-operators/starboard-operator/0.7.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/starboard-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2773 add data-explorer-operator to upstream-community-operators.
  upstream-community-operators/data-explorer-operator/0.0.1/Dockerfile
  upstream-community-operators/data-explorer-operator/0.0.1/manifests/dashboardwithjupyterhubs.data-explorer.com.crd.yaml
  upstream-community-operators/data-explorer-operator/0.0.1/manifests/data-explorer-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/data-explorer-operator/0.0.1/metadata/annotations.yaml
  upstream-community-operators/data-explorer-operator/ci.yml
Labels: kubernetes-operator, lgtm

#2666 hpe-csi-operator: add 1.3.0 operator
  upstream-community-operators/hpe-csi-operator/1.3.0/hpe-csi-operator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/1.3.0/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-operator/hpe-csi-driver-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2795 Update velero CRDs and OADP version to v0.2.0
  community-operators/oadp-operator/0.1.4/manifests/backup.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/resticrepository.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/restore.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/schedule.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/backup.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/oadp-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/oadp-operator/0.2.0/manifests/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/resticrepository.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/restore.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/schedule.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/velero.crd.yaml
  community-operators/oadp-operator/0.2.0/manifests/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/0.2.0/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2740 Capitalize displayName for ECK 1.3.0 in community-operators
  community-operators/elastic-cloud-eck/1.3.0/elastic-cloud-eck.v1.3.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, lgtm, ok-to-test, openshift-operator

#2765 [KOGITO-3940] - Release Kogito Operator 1.0 to OperatorHub Community
  community-operators/kogito-operator/0.10.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.10.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.10.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.10.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.10.0/kogito-operator.v0.10.0.clusterserviceversion.yaml
  community-operators/kogito-operator/0.11.0/kogito-operator.v0.11.0.clusterserviceversion.yaml
  community-operators/kogito-operator/0.6.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.6.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.6.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.6.0/kogito-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/kogito-operator/0.7.0-rc4/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.7.0-rc4/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.7.0-rc4/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.7.0-rc4/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.7.0-rc4/kogito-operator.v0.7.0-rc4.clusterserviceversion.yaml
  community-operators/kogito-operator/0.7.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.7.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.7.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.7.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.7.0/kogito-operator.v0.7.0.clusterserviceversion.yaml
  community-operators/kogito-operator/0.8.0-rc1/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.8.0-rc1/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.8.0-rc1/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.8.0-rc1/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.8.0-rc1/kogito-operator.v0.8.0-rc1.clusterserviceversion.yaml
  community-operators/kogito-operator/0.8.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.8.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.8.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.8.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.8.0/kogito-operator.v0.8.0.clusterserviceversion.yaml
  community-operators/kogito-operator/0.9.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.9.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.9.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.9.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.9.0/kogito-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/kogito-operator/0.9.1/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.9.1/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.9.1/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.9.1/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.9.1/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.9.1/kogito-operator.v0.9.1.clusterserviceversion.yaml
  community-operators/kogito-operator/1.0.0/app.kiegroup.org_kogitobuilds_crd.yaml
  community-operators/kogito-operator/1.0.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/1.0.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  community-operators/kogito-operator/1.0.0/app.kiegroup.org_kogitosupportingservices_crd.yaml
  community-operators/kogito-operator/1.0.0/kogito-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2746 Release kong-operator v0.6.0
  upstream-community-operators/kong/0.6.0/kong.v0.6.0.clusterserviceversion.yaml
  upstream-community-operators/kong/0.6.0/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/kong.package.yaml
Labels: kubernetes-operator, lgtm, needs-info, ok-to-test

#2800 Update eclipse-che operator for kubernetes to release 7.22.2
  upstream-community-operators/eclipse-che/7.22.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.22.2/eclipse-che.v7.22.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/ci.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2759 Infinispan community 2.1.1
  community-operators/infinispan/2.1.1/infinispan-operator.v2.1.1.clusterserviceversion.yaml
  community-operators/infinispan/2.1.1/infinispan.org_backups_crd.yaml
  community-operators/infinispan/2.1.1/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.1.1/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/2.1.1/infinispan.org_restores_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2803 Add kubernetes image puller operator 0.0.3 and 0.0.4 to upstream operators
  upstream-community-operators/kubernetes-imagepuller-operator/0.0.4/che.eclipse.org_kubernetesimagepullers_crd.yaml
  upstream-community-operators/kubernetes-imagepuller-operator/0.0.4/kubernetes-imagepuller-operator.v0.0.4.clusterserviceversion.yaml
  upstream-community-operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: kubernetes-operator, needs-ok-to-test

#2799 Upgrading ibm-specturm-scale-csi-operator to 2.1.0
  community-operators/ibm-spectrum-scale-csi-operator/2.1.0/csiscaleoperators.csi.ibm.com.crd.yaml
  community-operators/ibm-spectrum-scale-csi-operator/2.1.0/ibm-spectrum-scale-csi-operator.v2.1.0.clusterserviceversion.yaml
  community-operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2758 Infinispan upstream 2.1.1
  upstream-community-operators/infinispan/2.1.1/infinispan-operator.v2.1.1.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.1.1/infinispan.org_backups_crd.yaml
  upstream-community-operators/infinispan/2.1.1/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.1.1/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/2.1.1/infinispan.org_restores_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator, lgtm

#2781 Update Ember CSI community-operator to 0.9.3
  community-operators/ember-csi-operator/0.9.3/ember-csi-operator.crd.yaml
  community-operators/ember-csi-operator/0.9.3/ember-csi-operator.v0.9.3.clusterserviceversion.yaml
  community-operators/ember-csi-operator/ember-csi-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2752 Update eclipse-che operator for openshift to release 7.22.0
  community-operators/eclipse-che/7.22.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.22.0/eclipse-che.v7.22.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2802 Add kubernetes image puller operator 0.0.4 to community-operators
  community-operators/kubernetes-imagepuller-operator/0.0.4/che.eclipse.org_kubernetesimagepullers_crd.yaml
  community-operators/kubernetes-imagepuller-operator/0.0.4/kubernetes-imagepuller-operator.v0.0.4.clusterserviceversion.yaml
  community-operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2801 Update eclipse-che operator for openshift to release 7.22.2
  community-operators/eclipse-che/7.22.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.22.2/eclipse-che.v7.22.2.clusterserviceversion.yaml
  community-operators/eclipse-che/ci.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2808 Add joget-tomcat-operator to upstream-community-operators
  upstream-community-operators/joget-tomcat-operator/0.0.1/apps.joget.com_jogettomcats.yaml
  upstream-community-operators/joget-tomcat-operator/0.0.1/joget-tomcat-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/joget-tomcat-operator/joget-tomcat-operator.package.yaml
Labels: kubernetes-operator, needs-ok-to-test

#2804 add notice that operator metering is no longer under active development
  upstream-community-operators/metering-upstream/4.2.0/metering-operator-upstream.v4.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator, needs-ok-to-test

#2603 Upgrade Knative Camel to 0.18.0
  community-operators/knative-camel-operator/0.18.0/camelsources.sources.knative.dev.crd.yaml
  community-operators/knative-camel-operator/0.18.0/knative-camel-operator.v0.18.0.clusterserviceversion.yaml
  community-operators/knative-camel-operator/knative-camel-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2728 0.0.7 release of Group Sync Operator
  community-operators/group-sync-operator/0.0.7/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/group-sync-operator/0.0.7/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/group-sync-operator/0.0.7/group-sync-operator.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.7/redhatcop.redhat.io_groupsyncs.yaml
  community-operators/group-sync-operator/group-sync-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2806 volume-expander-operator-0.1.3
  community-operators/volume-expander-operator/0.1.3/Dockerfile
  community-operators/volume-expander-operator/0.1.3/manifests/volume-expander-operator.clusterserviceversion.yaml
  community-operators/volume-expander-operator/0.1.3/metadata/annotations.yaml
  community-operators/volume-expander-operator/0.1.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#2805 Release of dell-csi-operator v1.2.0 for upstream
  upstream-community-operators/dell-csi-operator/1.2.0/csiisilons.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.2.0/csipowermaxes.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.2.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.2.0/csipowerstores.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.2.0/csiunities.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.2.0/csivxflexoses.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.2.0/dell-csi-operator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: kubernetes-operator

#2815 fixes for jenkins operator bundle 0.7.0
  community-operators/jenkins-operator/0.7.0/manifests/jenkins-operator.v0.7.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_backup_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_backupconfig_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_backupworker_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_restore_crd.yaml
  community-operators/jenkins-operator/0.7.0/metadata/annotations.yaml
Labels: allow/operator-version-overwrite, lgtm, ok-to-test, openshift-operator

#2819 upgrade data-explorer-operator-0.0.2.
  community-operators/data-explorer-operator/0.0.2/Dockerfile
  community-operators/data-explorer-operator/0.0.2/manifests/dashboardwithjupyterhubs.data-explorer.com.crd.yaml
  community-operators/data-explorer-operator/0.0.2/manifests/data-explorer-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/data-explorer-operator/0.0.2/metadata/annotations.yaml
  community-operators/data-explorer-operator/ci.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2796 Add service-binding-operator bundle to upstream-community-operators
  upstream-community-operators/service-binding-operator/0.4.0/manifests/operators.coreos.com_servicebindings_crd.yaml
  upstream-community-operators/service-binding-operator/0.4.0/manifests/service-binding-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/service-binding-operator/0.4.0/metadata/annotations.yaml
Labels: kubernetes-operator

#2734 Add kubeflow operator v1.2.0
  upstream-community-operators/kubeflow/1.2.0/kfdef.apps.kubeflow.org.crd.yaml
  upstream-community-operators/kubeflow/1.2.0/kubeflow.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/kubeflow/kubeflow.package.yaml
Labels: kubernetes-operator

#2823 clickhouse-operator v0.12.0
  upstream-community-operators/clickhouse/0.12.0/clickhouse-operator.v0.12.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.12.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.12.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.12.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator

#2816 Community Windows Machine Config Operator v1.0.0
  community-operators/community-windows-machine-config-operator/1.0.0/Dockerfile
  community-operators/community-windows-machine-config-operator/1.0.0/manifests/community-windows-machine-config-operator.1.0.0.clusterserviceversion.yaml
  community-operators/community-windows-machine-config-operator/1.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#2825 upgrade data-explorer-operator-0.0.3.
  community-operators/data-explorer-operator/0.0.3/Dockerfile
  community-operators/data-explorer-operator/0.0.3/manifests/dashboardwithjupyterhubs.data-explorer.com.crd.yaml
  community-operators/data-explorer-operator/0.0.3/manifests/data-explorer-operator.v0.0.3.clusterserviceversion.yaml
  community-operators/data-explorer-operator/0.0.3/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2826 volume-expander-operator new version 0.1.4
  community-operators/volume-expander-operator/0.1.4/Dockerfile
  community-operators/volume-expander-operator/0.1.4/manifests/volume-expander-operator.clusterserviceversion.yaml
  community-operators/volume-expander-operator/0.1.4/metadata/annotations.yaml
  community-operators/volume-expander-operator/0.1.4/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2828 Add ECK 1.3.1 to upstream-community-operators
  upstream-community-operators/elastic-cloud-eck/1.3.1/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.3.1/beats.beat.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.3.1/elastic-cloud-eck.v1.3.1.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud-eck/1.3.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.3.1/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.3.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator

#2824 Support for MongoDB Enterprise Operator 1.9.0
  upstream-community-operators/mongodb-enterprise/1.9.0/mongodb-enterprise.v1.9.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.9.0/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.9.0/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.9.0/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator, lgtm

#2747 add tidb-operator v1.1.7 for community-operators
  community-operators/tidb-operator/1.1.7/backups.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.7/backupschedules.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.7/restores.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.7/tidb-operator.v1.1.7.clusterserviceversion.yaml
  community-operators/tidb-operator/1.1.7/tidbclusterautoscalers.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.7/tidbclusters.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.7/tidbinitializers.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.7/tidbmonitors.pingcap.com.crd.yaml
  community-operators/tidb-operator/tidb-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2830 [upstream] Fix lighthouse crb and sa
  upstream-community-operators/submariner/0.7.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.7.0/submariner-lighthouse_v1_serviceaccount.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#2827 Add ECK 1.3.1 to community-operators
  community-operators/elastic-cloud-eck/1.3.1/apmservers.apm.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.1/beats.beat.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.1/elastic-cloud-eck.v1.3.1.clusterserviceversion.yaml
  community-operators/elastic-cloud-eck/1.3.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.1/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2829 [community] Fix lighthouse crb and sa
  community-operators/submariner/0.7.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/submariner/0.7.0/submariner-lighthouse_v1_serviceaccount.yaml
Labels: allow/operator-version-overwrite, lgtm, ok-to-test, openshift-operator

#2831 Upgrade Multicluster subscription operator to V0.2.5
  community-operators/multicluster-operators-subscription/0.2.5/app.k8s.io_applications.yaml
  community-operators/multicluster-operators-subscription/0.2.5/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.5/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.5/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.5/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.5/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.5/multicluster-operators-subscription.v0.2.5.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2836 Upgrade snyk-operator to version 1.40.0
  upstream-community-operators/snyk-operator/1.40.0/snyk-operator.v1.40.0.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.40.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: kubernetes-operator

#2835 Upgrade snyk-operator to version 1.40.0
  community-operators/snyk-operator/1.40.0/snyk-operator.v1.40.0.clusterserviceversion.yaml
  community-operators/snyk-operator/1.40.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2841 datadog: Update Operator to 0.4.0
  upstream-community-operators/datadog-operator/0.4.0/datadog-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/datadog-operator/0.4.0/datadoghq.com_datadogagents.yaml
  upstream-community-operators/datadog-operator/0.4.0/datadoghq.com_datadogmetrics.yaml
  upstream-community-operators/datadog-operator/datadog-operator.package.yaml
Labels: kubernetes-operator

#2842 Add the koku-metrics-operator
  community-operators/koku-metrics-operator/0.9.0/Dockerfile
  community-operators/koku-metrics-operator/0.9.0/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  community-operators/koku-metrics-operator/0.9.0/manifests/koku-metrics-operator.clusterserviceversion.yaml
  community-operators/koku-metrics-operator/0.9.0/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2840 datadog: Update Operator to 0.4.0
  community-operators/datadog-operator/0.4.0/datadog-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/datadog-operator/0.4.0/datadoghq.com_datadogagents.yaml
  community-operators/datadog-operator/0.4.0/datadoghq.com_datadogmetrics.yaml
  community-operators/datadog-operator/datadog-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2846 add OpenShift Hive operator 1.0.16
  community-operators/hive-operator/1.0.16/hive-operator.v1.0.16.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.16/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.0.16/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.0.16/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: lgtm, needs-info, ok-to-test, openshift-operator

#2847 add OpenShift Hive operator 1.0.16 for upstream
  upstream-community-operators/hive-operator/1.0.16/hive-operator.v1.0.16.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.16/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.0.16/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.0.16/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#2850 Update eclipse-che operator for kubernetes to release 7.23.0
  upstream-community-operators/eclipse-che/7.23.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.23.0/eclipse-che.v7.23.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2853 Add Strimzi 0.20.1 to Upstream Community Operators
  upstream-community-operators/strimzi-kafka-operator/0.20.1/kafkabridges.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/kafkas.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/kafkatopics.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/kafkausers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/strimzi-cluster-operator.v0.20.1.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/strimziclusteroperator.configmap.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/strimzientityoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/strimzikafkabroker.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/strimzikafkaclient.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.1/strimzitopicoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: kubernetes-operator

#2851 Update eclipse-che operator for openshift to release 7.23.0
  community-operators/eclipse-che/7.23.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.23.0/eclipse-che.v7.23.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2852 Add Strimzi 0.20.1 to Community Operators
  community-operators/strimzi-kafka-operator/0.20.1/kafkabridges.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.1/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.1/kafkas.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.1/kafkatopics.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.1/kafkausers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.1/strimzi-cluster-operator.v0.20.1.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.20.1/strimziclusteroperator.configmap.yaml
  community-operators/strimzi-kafka-operator/0.20.1/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.20.1/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.20.1/strimzikafkaclient.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.20.1/strimzitopicoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2862 IBM Block CSI update upstream to v1.4.0
  upstream-community-operators/ibm-block-csi-operator-community/1.4.0/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.4.0/ibm-block-csi-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator-community/ibm-block-csi-operator.package.yaml
Labels: kubernetes-operator

#2861 Updates VictoriaMetrics operator to v0.6.1
  upstream-community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmagents.yaml
  upstream-community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmalertmanagers.yaml
  upstream-community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmalerts.yaml
  upstream-community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmclusters.yaml
  upstream-community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmnodescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmpodscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmprobes.yaml
  upstream-community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmrules.yaml
  upstream-community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmservicescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmsingles.yaml
  upstream-community-operators/victoriametrics-operator/0.6.1/victoriametrics-operator.0.6.1.clusterserviceversion.yaml
  upstream-community-operators/victoriametrics-operator/ci.yaml
  upstream-community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: kubernetes-operator

#2872 Fix
  .github/workflows/operator_release.yaml
Labels: needs-info

#2865 [Upstream-community] PXC operator doc fix
  upstream-community-operators/percona-xtradb-cluster-operator/1.6.0/percona-xtradb-cluster-operator.v1.6.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#2863 IBM Block CSI update to v1.4.0
  community-operators/ibm-block-csi-operator-community/1.4.0/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator-community/1.4.0/ibm-block-csi-operator.v1.4.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator-community/ibm-block-csi-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2837 Remove SBO from community catalog
  community-operators/service-binding-operator/0.0.20/service-binding-operator.v0.0.20.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.0.20/servicebindingrequests.apps.openshift.io.crd.yaml
  community-operators/service-binding-operator/0.0.23/service-binding-operator.v0.0.23.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.0.23/servicebindingrequests.apps.openshift.io.crd.yaml
  community-operators/service-binding-operator/0.0.24-214/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.0.24-214/service-binding-operator.v0.0.24-214.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.1.0-249/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.0-249/service-binding-operator.v0.1.0-249.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.1.0-267/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.0-267/service-binding-operator.v0.1.0-267.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.1.1-282/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.1-282/service-binding-operator.v0.1.1-282.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.1.1-352/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.1-352/service-binding-operator.v0.1.1-352.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.1.1-354/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.1-354/service-binding-operator.v0.1.1-354.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.1.1-364/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.1-364/service-binding-operator.v0.1.1-364.clusterserviceversion.yaml
  community-operators/service-binding-operator/0.2.0-387/operators.coreos.com_servicebindings_crd.yaml
  community-operators/service-binding-operator/0.2.0-387/service-binding-operator.v0.2.0-387.clusterserviceversion.yaml
  community-operators/service-binding-operator/ci.yaml
  community-operators/service-binding-operator/service-binding-operator.package.yaml
Labels: needs-ok-to-test, openshift-operator

#2845 Add OpenTelemetry Operator
  upstream-community-operators/opentelemetry-operator/0.16.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/opentelemetry-operator/0.16.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  upstream-community-operators/opentelemetry-operator/0.16.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  upstream-community-operators/opentelemetry-operator/0.16.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  upstream-community-operators/opentelemetry-operator/0.16.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  upstream-community-operators/opentelemetry-operator/0.16.0/metadata/annotations.yaml
Labels: kubernetes-operator

#2874 Adds VictoriaMetrics operator 0.6.1 to Community Operators
  community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmagents.yaml
  community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmalertmanagers.yaml
  community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmalerts.yaml
  community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmclusters.yaml
  community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmnodescrapes.yaml
  community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmpodscrapes.yaml
  community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmprobes.yaml
  community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmrules.yaml
  community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmservicescrapes.yaml
  community-operators/victoriametrics-operator/0.6.1/operator.victoriametrics.com_vmsingles.yaml
  community-operators/victoriametrics-operator/0.6.1/victoriametrics-operator.0.6.1.clusterserviceversion.yaml
  community-operators/victoriametrics-operator/ci.yaml
  community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2843 update grafana-operator manifests to v3.7.0 in communit-operators
  community-operators/grafana-operator/3.7.0/grafana-operator.v3.7.0.clusterserviceversion.yaml
  community-operators/grafana-operator/3.7.0/grafanadashboards.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.7.0/grafanadatasources.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.7.0/grafanas.integreatly.org.crd.yaml
  community-operators/grafana-operator/grafana-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2880 Add OpenTelemetry 0.17.1 to upstream operators
  upstream-community-operators/opentelemetry-operator/0.17.1/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/opentelemetry-operator/0.17.1/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  upstream-community-operators/opentelemetry-operator/0.17.1/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  upstream-community-operators/opentelemetry-operator/0.17.1/manifests/opentelemetry-operator.clusterserviceversion.yaml
  upstream-community-operators/opentelemetry-operator/0.17.1/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  upstream-community-operators/opentelemetry-operator/0.17.1/metadata/annotations.yaml
Labels: kubernetes-operator

#2878 Add OpenTelemetry 0.17.1 to community operators
  community-operators/opentelemetry-operator/0.17.1/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/opentelemetry-operator/0.17.1/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/opentelemetry-operator/0.17.1/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  community-operators/opentelemetry-operator/0.17.1/manifests/opentelemetry-operator.clusterserviceversion.yaml
  community-operators/opentelemetry-operator/0.17.1/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  community-operators/opentelemetry-operator/0.17.1/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2601 Remove obsolete knative-kafka-operator
  community-operators/knative-kafka-operator/0.10.0/knative-kafka-operator.v0.10.0.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.10.0/knativeeventingkafkas.eventing.knative.dev.crd.yaml
  community-operators/knative-kafka-operator/0.11.2/knative-kafka-operator.v0.11.2.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.11.2/knativeeventingkafkas.eventing.knative.dev.crd.yaml
  community-operators/knative-kafka-operator/0.12.1/eventing_v1alpha1_knativeeventingkafka.crd.yaml
  community-operators/knative-kafka-operator/0.12.1/knative-kafka-operator.v0.12.1.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.13.2/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/0.13.2/knative-kafka-operator.v0.13.2.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.14.1/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/0.14.1/knative-kafka-operator.v0.14.1.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.15.0/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/0.15.0/knative-kafka-operator.v0.15.0.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.16.0/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/0.16.0/knative-kafka-operator.v0.16.0.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.17.1/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/0.17.1/knative-kafka-operator.v0.17.1.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.6.0/knative-kafka-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.6.0/knativeeventingkafkas.eventing.knative.dev.crd.yaml
  community-operators/knative-kafka-operator/0.7.1/knative-kafka-operator.v0.7.1.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.7.1/knativeeventingkafkas.eventing.knative.dev.crd.yaml
  community-operators/knative-kafka-operator/0.8.2/knative-kafka-operator.v0.8.2.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.8.2/knativeeventingkafkas.eventing.knative.dev.crd.yaml
  community-operators/knative-kafka-operator/0.9.0/knative-kafka-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.9.0/knativeeventingkafkas.eventing.knative.dev.crd.yaml
  community-operators/knative-kafka-operator/ci.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator

#2884 Updated the IBM Application Gateway operator Signed-off-by: kerrygun …
  upstream-community-operators/ibm-application-gateway-operator/0.10.0/ibm-application-gateway-operator.v0.10.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-application-gateway-operator/0.10.0/ibmapplicationgateways.ibm.com.crd.yaml
  upstream-community-operators/ibm-application-gateway-operator/ibm-application-gateway-operator.package.yaml
Labels: kubernetes-operator

#2885 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.28.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.28.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.28.0/kiali.v1.28.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator

#2881 Hyperfoil 0.12 syncup
  community-operators/hyperfoil-bundle/0.12.0/hyperfoil-operator.v0.12.0.clusterserviceversion.yaml
  community-operators/hyperfoil-bundle/0.12.0/hyperfoil.io_hyperfoils_crd.yaml
  community-operators/hyperfoil-bundle/hyperfoil-bundle.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2839 Remove and deprecate sysflow from OC catalog
  community-operators/sysflow-operator/0.0.1/sfexportercharts.charts.helm.k8s.io.crd.yaml
  community-operators/sysflow-operator/0.0.1/sysflow-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/sysflow-operator/ci.yaml
  community-operators/sysflow-operator/sysflow-operator.package.yaml
Labels: needs-ok-to-test, openshift-operator

#2869 Update reportportal operator to 0.0.6
  community-operators/reportportal-operator/0.0.5/Dockerfile
  community-operators/reportportal-operator/0.0.5/manifests/reportportal-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/reportportal-operator/0.0.5/manifests/reportportal-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/reportportal-operator/0.0.5/manifests/reportportal-operator.clusterserviceversion.yaml
  community-operators/reportportal-operator/0.0.5/manifests/rp5.reportportal.io_reportportalrestores.yaml
  community-operators/reportportal-operator/0.0.5/manifests/rp5.reportportal.io_reportportals.yaml
  community-operators/reportportal-operator/0.0.5/manifests/rp5.reportportal.io_serviceapiservicemonitors.yaml
  community-operators/reportportal-operator/0.0.5/metadata/annotations.yaml
  community-operators/reportportal-operator/0.0.6/Dockerfile
  community-operators/reportportal-operator/0.0.6/manifests/reportportal-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/reportportal-operator/0.0.6/manifests/reportportal-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/reportportal-operator/0.0.6/manifests/reportportal-operator.clusterserviceversion.yaml
  community-operators/reportportal-operator/0.0.6/manifests/rp5.reportportal.io_reportportalrestores.yaml
  community-operators/reportportal-operator/0.0.6/manifests/rp5.reportportal.io_reportportals.yaml
  community-operators/reportportal-operator/0.0.6/manifests/rp5.reportportal.io_serviceapiservicemonitors.yaml
  community-operators/reportportal-operator/0.0.6/metadata/annotations.yaml
  community-operators/reportportal-operator/ci.yaml
  community-operators/reportportal-operator/reportportal-operator.package.yaml
Labels: ok-to-test, openshift-operator

#2886 [kiali] [community] update kiali
  community-operators/kiali/1.28.0/kiali.crd.yaml
  community-operators/kiali/1.28.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.28.0/kiali.v1.28.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2812 Add csv for Grafana-Operator release v3.7.0 and add missing csvs for prior versions
  upstream-community-operators/grafana-operator/3.5.0/grafana-operator.v3.5.0.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.5.0/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.5.0/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.5.0/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.6.0/grafana-operator.v3.6.0.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.6.0/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.6.0/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.6.0/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.7.0/grafana-operator.v3.7.0.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.7.0/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.7.0/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.7.0/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: kubernetes-operator

#2696 Update upstream PostgreSQL Operator to v4.5.1
  upstream-community-operators/postgresql/4.5.1/pgclusters.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.5.1/pgpolicies.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.5.1/pgreplicas.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.5.1/pgtasks.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.5.1/postgresoperator.v4.5.1.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator

#2889 migration to bundle format
  community-operators/resource-locker-operator/0.1.0/Dockerfile
  community-operators/resource-locker-operator/0.1.0/manifests/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.0/manifests/resource-locker-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/resource-locker-operator/0.1.0/metadata/annotations.yaml
  community-operators/resource-locker-operator/0.1.1/Dockerfile
  community-operators/resource-locker-operator/0.1.1/manifests/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.1/manifests/resource-locker-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/resource-locker-operator/0.1.1/metadata/annotations.yaml
  community-operators/resource-locker-operator/0.1.2/Dockerfile
  community-operators/resource-locker-operator/0.1.2/manifests/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.2/manifests/resource-locker-operator.v0.1.2.clusterserviceversion.yaml
  community-operators/resource-locker-operator/0.1.2/metadata/annotations.yaml
  community-operators/resource-locker-operator/0.1.3/Dockerfile
  community-operators/resource-locker-operator/0.1.3/manifests/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.3/manifests/resource-locker-operator.v0.1.3.clusterserviceversion.yaml
  community-operators/resource-locker-operator/0.1.3/metadata/annotations.yaml
  community-operators/resource-locker-operator/0.1.4/Dockerfile
  community-operators/resource-locker-operator/0.1.4/manifests/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.4/manifests/resource-locker-operator.v0.1.4.clusterserviceversion.yaml
  community-operators/resource-locker-operator/0.1.4/metadata/annotations.yaml
  community-operators/resource-locker-operator/0.1.5/Dockerfile
  community-operators/resource-locker-operator/0.1.5/manifests/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.5/manifests/resource-locker-operator.v0.1.5.clusterserviceversion.yaml
  community-operators/resource-locker-operator/0.1.5/metadata/annotations.yaml
  community-operators/resource-locker-operator/0.1.6/Dockerfile
  community-operators/resource-locker-operator/0.1.6/manifests/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.6/manifests/resource-locker-operator.v0.1.6.clusterserviceversion.yaml
  community-operators/resource-locker-operator/0.1.6/metadata/annotations.yaml
  community-operators/resource-locker-operator/ci.yaml
  community-operators/resource-locker-operator/resource-locker-operator.package.yaml
Labels: allow/operator-recreate, ok-to-test, openshift-operator

#2904 [upstream] Update submariner-operator to v0.8.0
  upstream-community-operators/submariner/0.8.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.8.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.8.0/submariner-lighthouse_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.8.0/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.8.0/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.8.0/submariner-networkplugin-syncer_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.8.0/submariner-operator_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.8.0/submariner.io_submariners.yaml
  upstream-community-operators/submariner/0.8.0/submariner.v0.8.0.clusterserviceversion.yaml
  upstream-community-operators/submariner/submariner.package.yaml
Labels: kubernetes-operator

#2905 [community] Update submariner-operator to v0.8.0
  community-operators/submariner/0.8.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/submariner/0.8.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/submariner/0.8.0/submariner-lighthouse_v1_serviceaccount.yaml
  community-operators/submariner/0.8.0/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/submariner/0.8.0/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/submariner/0.8.0/submariner-networkplugin-syncer_v1_serviceaccount.yaml
  community-operators/submariner/0.8.0/submariner-operator_v1_serviceaccount.yaml
  community-operators/submariner/0.8.0/submariner.io_submariners.yaml
  community-operators/submariner/0.8.0/submariner.v0.8.0.clusterserviceversion.yaml
  community-operators/submariner/submariner.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2906 Update eclipse-che operator for openshift to release 7.23.1
  community-operators/eclipse-che/7.23.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.23.1/eclipse-che.v7.23.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2907 keepalived-operator conversion to bundle
  community-operators/keepalived-operator/0.1.0/Dockerfile
  community-operators/keepalived-operator/0.1.0/manifests/keepalived-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/keepalived-operator/0.1.0/manifests/redhatcop.redhat.io_keepalivedgroups_crd.yaml
  community-operators/keepalived-operator/0.1.0/metadata/annotations.yaml
  community-operators/keepalived-operator/0.2.0/Dockerfile
  community-operators/keepalived-operator/0.2.0/manifests/keepalived-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/keepalived-operator/0.2.0/manifests/redhatcop.redhat.io_keepalivedgroups_crd.yaml
  community-operators/keepalived-operator/0.2.0/metadata/annotations.yaml
  community-operators/keepalived-operator/0.2.1/Dockerfile
  community-operators/keepalived-operator/0.2.1/manifests/keepalived-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/keepalived-operator/0.2.1/manifests/redhatcop.redhat.io_keepalivedgroups_crd.yaml
  community-operators/keepalived-operator/0.2.1/metadata/annotations.yaml
  community-operators/keepalived-operator/0.2.2/Dockerfile
  community-operators/keepalived-operator/0.2.2/manifests/keepalived-operator.v0.2.2.clusterserviceversion.yaml
  community-operators/keepalived-operator/0.2.2/manifests/redhatcop.redhat.io_keepalivedgroups_crd.yaml
  community-operators/keepalived-operator/0.2.2/metadata/annotations.yaml
  community-operators/keepalived-operator/0.3.0/Dockerfile
  community-operators/keepalived-operator/0.3.0/manifests/keepalived-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/keepalived-operator/0.3.0/manifests/redhatcop.redhat.io_keepalivedgroups_crd.yaml
  community-operators/keepalived-operator/0.3.0/metadata/annotations.yaml
  community-operators/keepalived-operator/ci.yaml
  community-operators/keepalived-operator/keepalived-operator.package.yaml
Labels: allow/operator-recreate, lgtm, ok-to-test, openshift-operator

#2908 must-gather-operator conversion to bundle
  community-operators/must-gather-operator/0.1.0/Dockerfile
  community-operators/must-gather-operator/0.1.0/manifests/must-gather-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/must-gather-operator/0.1.0/manifests/redhatcop.redhat.io_mustgathers_crd.yaml
  community-operators/must-gather-operator/0.1.0/metadata/annotations.yaml
  community-operators/must-gather-operator/0.1.1/Dockerfile
  community-operators/must-gather-operator/0.1.1/manifests/must-gather-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/must-gather-operator/0.1.1/manifests/redhatcop.redhat.io_mustgathers_crd.yaml
  community-operators/must-gather-operator/0.1.1/metadata/annotations.yaml
  community-operators/must-gather-operator/ci.yaml
  community-operators/must-gather-operator/must-gather-operator.package.yaml
Labels: allow/operator-recreate, lgtm, ok-to-test, openshift-operator

#2909 namespace-configuration-operator conversion to bundle
  community-operators/namespace-configuration-operator/0.0.1/Dockerfile
  community-operators/namespace-configuration-operator/0.0.1/manifests/namespace-configuration-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.0.1/manifests/redhatcop_v1alpha1_namespaceconfig_crd.yaml
  community-operators/namespace-configuration-operator/0.0.1/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/0.0.2/Dockerfile
  community-operators/namespace-configuration-operator/0.0.2/manifests/namespace-configuration-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.0.2/manifests/redhatcop_v1alpha1_namespaceconfig_crd.yaml
  community-operators/namespace-configuration-operator/0.0.2/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/0.1.0/Dockerfile
  community-operators/namespace-configuration-operator/0.1.0/manifests/namespace-configuration-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.1.0/manifests/redhatcop_v1alpha1_namespaceconfig_crd.yaml
  community-operators/namespace-configuration-operator/0.1.0/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/0.2.0/Dockerfile
  community-operators/namespace-configuration-operator/0.2.0/manifests/namespace-configuration-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.0/manifests/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.0/manifests/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.0/manifests/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.0/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/0.2.1/Dockerfile
  community-operators/namespace-configuration-operator/0.2.1/manifests/namespace-configuration-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.1/manifests/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.1/manifests/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.1/manifests/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.1/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/0.2.2/Dockerfile
  community-operators/namespace-configuration-operator/0.2.2/manifests/namespace-configuration-operator.v0.2.2.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.2/manifests/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.2/manifests/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.2/manifests/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.2/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/0.2.3/Dockerfile
  community-operators/namespace-configuration-operator/0.2.3/manifests/namespace-configuration-operator.v0.2.3.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.3/manifests/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.3/manifests/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.3/manifests/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.3/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/0.2.4/Dockerfile
  community-operators/namespace-configuration-operator/0.2.4/manifests/namespace-configuration-operator.v0.2.4.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.4/manifests/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.4/manifests/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.4/manifests/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.4/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/0.2.5/Dockerfile
  community-operators/namespace-configuration-operator/0.2.5/manifests/namespace-configuration-operator.v0.2.5.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.5/manifests/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.5/manifests/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.5/manifests/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.5/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/ci.yaml
  community-operators/namespace-configuration-operator/namespace-configuration-operator.package.yaml
Labels: allow/operator-recreate, lgtm, ok-to-test, openshift-operator

#2911 group-sync-operator new version 0.0.8
  community-operators/group-sync-operator/0.0.1/Dockerfile
  community-operators/group-sync-operator/0.0.1/manifests/group-sync-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.1/manifests/redhatcop.redhat.io_groupsyncs_crd.yaml
  community-operators/group-sync-operator/0.0.1/metadata/annotations.yaml
  community-operators/group-sync-operator/0.0.2/Dockerfile
  community-operators/group-sync-operator/0.0.2/manifests/group-sync-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.2/manifests/redhatcop.redhat.io_groupsyncs_crd.yaml
  community-operators/group-sync-operator/0.0.2/metadata/annotations.yaml
  community-operators/group-sync-operator/0.0.3/Dockerfile
  community-operators/group-sync-operator/0.0.3/manifests/group-sync-operator.v0.0.3.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.3/manifests/redhatcop.redhat.io_groupsyncs_crd.yaml
  community-operators/group-sync-operator/0.0.3/metadata/annotations.yaml
  community-operators/group-sync-operator/0.0.5/Dockerfile
  community-operators/group-sync-operator/0.0.5/manifests/group-sync-operator.v0.0.5.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.5/manifests/redhatcop.redhat.io_groupsyncs_crd.yaml
  community-operators/group-sync-operator/0.0.5/metadata/annotations.yaml
  community-operators/group-sync-operator/0.0.6/Dockerfile
  community-operators/group-sync-operator/0.0.6/manifests/group-sync-operator.v0.0.6.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.6/manifests/redhatcop.redhat.io_groupsyncs_crd.yaml
  community-operators/group-sync-operator/0.0.6/metadata/annotations.yaml
  community-operators/group-sync-operator/0.0.7/Dockerfile
  community-operators/group-sync-operator/0.0.7/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/group-sync-operator/0.0.7/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/group-sync-operator/0.0.7/manifests/group-sync-operator.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.7/manifests/redhatcop.redhat.io_groupsyncs.yaml
  community-operators/group-sync-operator/0.0.7/metadata/annotations.yaml
  community-operators/group-sync-operator/0.0.8/Dockerfile
  community-operators/group-sync-operator/0.0.8/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/group-sync-operator/0.0.8/manifests/group-sync-operator.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.8/manifests/redhatcop.redhat.io_groupsyncs.yaml
  community-operators/group-sync-operator/0.0.8/metadata/annotations.yaml
  community-operators/group-sync-operator/0.0.8/tests/scorecard/config.yaml
  community-operators/group-sync-operator/ci.yaml
  community-operators/group-sync-operator/group-sync-operator.package.yaml
Labels: ok-to-test, openshift-operator

#2912 global-load-balancer-operator conversion to bundle
  community-operators/global-load-balancer-operator/0.1.0/Dockerfile
  community-operators/global-load-balancer-operator/0.1.0/manifests/global-load-balancer-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/global-load-balancer-operator/0.1.0/manifests/redhatcop.redhat.io_globaldnsrecords_crd.yaml
  community-operators/global-load-balancer-operator/0.1.0/manifests/redhatcop.redhat.io_globaldnszones_crd.yaml
  community-operators/global-load-balancer-operator/0.1.0/manifests/redhatcop.redhat.io_globalroutediscoveries_crd.yaml
  community-operators/global-load-balancer-operator/0.1.0/metadata/annotations.yaml
  community-operators/global-load-balancer-operator/0.1.1/Dockerfile
  community-operators/global-load-balancer-operator/0.1.1/manifests/global-load-balancer-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/global-load-balancer-operator/0.1.1/manifests/redhatcop.redhat.io_globaldnsrecords_crd.yaml
  community-operators/global-load-balancer-operator/0.1.1/manifests/redhatcop.redhat.io_globaldnszones_crd.yaml
  community-operators/global-load-balancer-operator/0.1.1/manifests/redhatcop.redhat.io_globalroutediscoveries_crd.yaml
  community-operators/global-load-balancer-operator/0.1.1/metadata/annotations.yaml
  community-operators/global-load-balancer-operator/0.1.2/Dockerfile
  community-operators/global-load-balancer-operator/0.1.2/manifests/global-load-balancer-operator.v0.1.2.clusterserviceversion.yaml
  community-operators/global-load-balancer-operator/0.1.2/manifests/redhatcop.redhat.io_globaldnsrecords_crd.yaml
  community-operators/global-load-balancer-operator/0.1.2/manifests/redhatcop.redhat.io_globaldnszones_crd.yaml
  community-operators/global-load-balancer-operator/0.1.2/manifests/redhatcop.redhat.io_globalroutediscoveries_crd.yaml
  community-operators/global-load-balancer-operator/0.1.2/metadata/annotations.yaml
  community-operators/global-load-balancer-operator/ci.yaml
  community-operators/global-load-balancer-operator/global-load-balancer-operator.package.yaml
Labels: allow/operator-recreate, ok-to-test, openshift-operator

#2913 egressip-ipam-operator conversion to bundle
  community-operators/egressip-ipam-operator/0.1.0/Dockerfile
  community-operators/egressip-ipam-operator/0.1.0/manifests/egressip-ipam-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/0.1.0/manifests/redhatcop.redhat.io_egressipams_crd.yaml
  community-operators/egressip-ipam-operator/0.1.0/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/0.1.1/Dockerfile
  community-operators/egressip-ipam-operator/0.1.1/manifests/egressip-ipam-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/0.1.1/manifests/redhatcop.redhat.io_egressipams_crd.yaml
  community-operators/egressip-ipam-operator/0.1.1/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/0.1.2/Dockerfile
  community-operators/egressip-ipam-operator/0.1.2/manifests/egressip-ipam-operator.v0.1.2.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/0.1.2/manifests/redhatcop.redhat.io_egressipams_crd.yaml
  community-operators/egressip-ipam-operator/0.1.2/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/ci.yaml
  community-operators/egressip-ipam-operator/egressip-ipam-operator.package.yaml
Labels: allow/operator-recreate, ok-to-test, openshift-operator

#2914 cert-utils-operator conversion to bundle
  community-operators/cert-utils-operator/0.0.1/Dockerfile
  community-operators/cert-utils-operator/0.0.1/manifests/cert-utils-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/cert-utils-operator/0.0.1/metadata/annotations.yaml
  community-operators/cert-utils-operator/0.0.3/Dockerfile
  community-operators/cert-utils-operator/0.0.3/manifests/cert-utils-operator.v0.0.3.clusterserviceversion.yaml
  community-operators/cert-utils-operator/0.0.3/metadata/annotations.yaml
  community-operators/cert-utils-operator/0.1.0/Dockerfile
  community-operators/cert-utils-operator/0.1.0/manifests/cert-utils-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/cert-utils-operator/0.1.0/metadata/annotations.yaml
  community-operators/cert-utils-operator/0.1.1/Dockerfile
  community-operators/cert-utils-operator/0.1.1/manifests/cert-utils-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/cert-utils-operator/0.1.1/metadata/annotations.yaml
  community-operators/cert-utils-operator/0.2.0/Dockerfile
  community-operators/cert-utils-operator/0.2.0/manifests/cert-utils-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/cert-utils-operator/0.2.0/metadata/annotations.yaml
  community-operators/cert-utils-operator/0.2.1/Dockerfile
  community-operators/cert-utils-operator/0.2.1/manifests/cert-utils-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/cert-utils-operator/0.2.1/metadata/annotations.yaml
  community-operators/cert-utils-operator/0.2.2/Dockerfile
  community-operators/cert-utils-operator/0.2.2/manifests/cert-utils-operator.v0.2.2.clusterserviceversion.yaml
  community-operators/cert-utils-operator/0.2.2/metadata/annotations.yaml
  community-operators/cert-utils-operator/cert-utils-operator.package.yaml
Labels: allow/operator-recreate, ok-to-test, openshift-operator

#2922 removed microsegmentation operator
  community-operators/microsegmentation-operator/0.0.1/microsegmentation-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/microsegmentation-operator/ci.yaml
  community-operators/microsegmentation-operator/microsegmentation-operator.package.yaml
Labels: openshift-operator
