Repository operator-framework/community-operators, pull requests merged in 2020-05, with the labels that each got.

#1664 Added podium-operator version 1.0.3
  community-operators/podium-operator/1.0.3/podia.podium.com.crd.yaml
  community-operators/podium-operator/1.0.3/podium-operator.v1.0.3.clusterserviceversion.yaml
  community-operators/podium-operator/podium-operator.package.yaml
Labels: openshift-operator

#1659 New Operator based on Hazelcast Jet Enterprise 4.1
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.1.0/hazelcast-jet-enterprise-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.1.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/hazelcast-jet-enterprise-operator.package.yaml
Labels: kubernetes-operator

#1658 New Operator based on Hazelcast Jet 4.1
  upstream-community-operators/hazelcast-jet-operator/0.1.0/hazelcast-jet-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-operator/0.1.0/hazelcastjets.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: kubernetes-operator

#1657 clickhouse-operator v0.9.8
  upstream-community-operators/clickhouse/0.9.8/clickhouse-operator.v0.9.8.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.9.8/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.8/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.8/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator

#1662 Add community kubernetes image puller operator 0.0.1 to community
  community-operators/kubernetes-imagepuller-operator/0.0.1/kubernetes-image-puller-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/kubernetes-imagepuller-operator/0.0.1/kubernetesimagepullers.che.eclipse.org.crd.yaml
  community-operators/kubernetes-imagepuller-operator/kubernetes-image-puller-operator.package.yaml
Labels: openshift-operator

#1661 Add kubernetes-imagepuller-operator 0.0.1 to upstream-community
  upstream-community-operators/kubernetes-imagepuller-operator/0.0.1/kubernetes-image-puller-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/kubernetes-imagepuller-operator/0.0.1/kubernetesimagepullers.che.eclipse.org.crd.yaml
  upstream-community-operators/kubernetes-imagepuller-operator/kubernetes-image-puller-operator.package.yaml
Labels: kubernetes-operator

#1637 Open Data Hub operator release v0.6.0
  community-operators/opendatahub-operator/0.6.0/kfdef.apps.kubeflow.org.crd.yaml
  community-operators/opendatahub-operator/0.6.0/opendatahub-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/opendatahub-operator/opendatahub-operator.package.yaml
Labels: openshift-operator

#1665 Update eclipse-che operator for openshift to release 7.12.1
  community-operators/eclipse-che/7.12.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.12.1/eclipse-che.v7.12.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1666 Update eclipse-che operator for kubernetes to release 7.12.1
  upstream-community-operators/eclipse-che/7.12.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.12.1/eclipse-che.v7.12.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1667 Open Liberty Operator v0.5.1
  upstream-community-operators/open-liberty/0.5.1/open-liberty-operator.v0.5.1.clusterserviceversion.yaml
  upstream-community-operators/open-liberty/0.5.1/openlibertyapplications.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/0.5.1/openlibertydumps.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/0.5.1/openlibertytraces.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/open-liberty.package.yaml
Labels: kubernetes-operator

#1668 Appsody Operator v0.5.1
  upstream-community-operators/appsody-operator/0.5.1/appsody-operator.v0.5.1.clusterserviceversion.yaml
  upstream-community-operators/appsody-operator/0.5.1/appsodyapplications.appsody.dev.crd.yaml
  upstream-community-operators/appsody-operator/appsody-operator.package.yaml
Labels: kubernetes-operator

#1670 delist openshift community gpu-operator
  community-operators/gpu-operator/1.0.0/gpu-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/gpu-operator/1.0.0/specialresources.sro.opensift.io.crd.yaml
  community-operators/gpu-operator/1.1.0/clusterpolicies.nvidia.com.crd.yaml
  community-operators/gpu-operator/1.1.0/gpu-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/gpu-operator/gpu-operator.package.yaml
Labels: openshift-operator

#1669 Release Runtime Component Operator v0.5.1
  upstream-community-operators/runtime-component-operator/0.5.1/runtime-component-operator.v0.5.1.clusterserviceversion.yaml
  upstream-community-operators/runtime-component-operator/0.5.1/runtimecomponents.app.stacks.crd.yaml
  upstream-community-operators/runtime-component-operator/runtime-component-operator.package.yaml
Labels: kubernetes-operator

#1671 add OpenShift Hive operator 1.0.4
  community-operators/openshift-hive/1.0.4/hive-operator.v1.0.4.clusterserviceversion.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_checkpoint.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_clusterdeployment.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_clusterdeprovision.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_clusterimageset.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_clusterprovision.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_clusterstate.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_dnszone.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_hiveconfig.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_machinepool.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_machinepoolnamelease.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_selectorsyncidentityprovider.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_selectorsyncset.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_syncidentityprovider.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_syncset.yaml
  community-operators/openshift-hive/1.0.4/hive_v1_syncsetinstance.yaml
  community-operators/openshift-hive/hive.package.yaml
Labels: openshift-operator

#1672 add OpenShift Hive operator 1.0.4 for upstream
  upstream-community-operators/openshift-hive/1.0.4/hive-operator.v1.0.4.clusterserviceversion.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_checkpoint.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_clusterdeployment.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_clusterdeprovision.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_clusterimageset.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_clusterprovision.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_clusterstate.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_dnszone.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_hiveconfig.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_machinepool.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_machinepoolnamelease.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_selectorsyncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_selectorsyncset.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_syncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_syncset.yaml
  upstream-community-operators/openshift-hive/1.0.4/hive_v1_syncsetinstance.yaml
  upstream-community-operators/openshift-hive/hive.package.yaml
Labels: kubernetes-operator

#1678 Updated maistra community operator to 1.1.1
  community-operators/maistra/1.1.1/maistraoperator.v1.1.1.clusterserviceversion.yaml
  community-operators/maistra/1.1.1/servicemeshcontrolplanes.crd.yaml
  community-operators/maistra/1.1.1/servicemeshmemberrolls.crd.yaml
  community-operators/maistra/1.1.1/servicemeshmembers.crd.yaml
  community-operators/maistra/maistra.package.yaml
Labels: openshift-operator

#1675 Adding latest version of Kafka Operator
  community-operators/knative-kafka-operator/0.14.1/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/0.14.1/knative-kafka-operator.v0.14.1.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
Labels: openshift-operator

#1676 Update StorageOS Operator to version v2.0.0
  upstream-community-operators/storageos/2.0.0/storageos.v2.0.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/2.0.0/storageoscluster.crd.yaml
  upstream-community-operators/storageos/2.0.0/storageosjob.crd.yaml
  upstream-community-operators/storageos/2.0.0/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/2.0.0/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: kubernetes-operator

#1673 MongoDB Enterprise Operator Release 1.5.1
  upstream-community-operators/mongodb-enterprise/1.5.1/mongodb-enterprise.v1.5.1.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.5.1/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.5.1/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.5.1/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator

#1674 Submariner: fix CRD validation
  community-operators/submariner/0.0.1/submariners.submariner.io.crd.yaml
Labels: openshift-operator

#1627 Point to correct Submariner homepage
  community-operators/submariner/0.0.1/submariner-operator.v0.0.1.clusterserviceversion.yaml
Labels: openshift-operator

#1684 Edit Submariner operator
  upstream-community-operators/submariner/0.0.1/submariner-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/submariner/0.0.1/submariners.submariner.io.crd.yaml
Labels: kubernetes-operator

#1682 namespace-configuration-operator new version
  community-operators/namespace-configuration-operator/0.1.0/namespace-configuration-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.0/namespace-configuration-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.0/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.0/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.0/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/namespace-configuration-operator.package.yaml
Labels: openshift-operator

#1681 cert-utils-operator new version
  community-operators/cert-utils-operator/0.1.1/cert-utils-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/cert-utils-operator/cert-utils-operator.package.yaml
Labels: openshift-operator

#1677 Add Submariner 0.2.0
  community-operators/submariner/0.2.0/clusters.submariner.io.crd.yaml
  community-operators/submariner/0.2.0/endpoints.submariner.io.crd.yaml
  community-operators/submariner/0.2.0/submariner-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/submariner/0.2.0/submariners.submariner.io.crd.yaml
  community-operators/submariner/submariner-operator.package.yaml
Labels: openshift-operator

#1693 add OpenShift Hive operator 1.0.3-7-gba4793f for upstream
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive-operator.v1.0.3-7-gba4793f.clusterserviceversion.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_checkpoint.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_clusterdeployment.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_clusterdeprovision.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_clusterimageset.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_clusterprovision.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_clusterstate.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_dnszone.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_hiveconfig.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_machinepool.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_machinepoolnamelease.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_selectorsyncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_selectorsyncset.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_syncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_syncset.yaml
  upstream-community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_syncsetinstance.yaml
  upstream-community-operators/openshift-hive/hive.package.yaml
Labels: kubernetes-operator

#1691 Add CSV for litmus 1.3.0
  upstream-community-operators/litmus/1.3.0/chaosengines.litmuschaos.io.crd.yaml
  upstream-community-operators/litmus/1.3.0/chaosoperator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/litmus/litmuschaos.package.yaml
Labels: kubernetes-operator

#1689 clickhouse-operator v0.9.9
  upstream-community-operators/clickhouse/0.9.9/clickhouse-operator.v0.9.9.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.9.9/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.9/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.9/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator

#1688 Add version 0.2.0 of upstream Datadog
  upstream-community-operators/datadog/0.2.0/datadog-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/datadog/0.2.0/datadoghq.com_datadogagents_crd.yaml
  upstream-community-operators/datadog/datadog-operator.package.yaml
Labels: kubernetes-operator

#1686 Update eclipse-che operator for kubernetes to release 7.12.2
  upstream-community-operators/eclipse-che/7.12.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.12.2/eclipse-che.v7.12.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1695 Add missing clusterpermissions for datadog-operator 0.2.0
  upstream-community-operators/datadog/0.2.0/datadog-operator.v0.2.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1698 Prepare release upstream 2.1.1
  upstream-community-operators/traefikee-operator/2.1.1/containo.us_traefikees_crd.yaml
  upstream-community-operators/traefikee-operator/2.1.1/traefikee-operator.v2.1.1.clusterserviceversion.yaml
  upstream-community-operators/traefikee-operator/traefikee-operator.package.yaml
Labels: kubernetes-operator

#1705 Revert "[Upstream] Updating Nexus Operator to 0.2.0"
  upstream-community-operators/nexus-operator/0.2.0/apps.m88i.io_nexus_crd.yaml
  upstream-community-operators/nexus-operator/0.2.0/nexus-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/nexus-operator/nexus-operator.package.yaml
Labels: kubernetes-operator

#1639 Update Jenkins Operator Role
  community-operators/jenkins-operator/0.4.0/jenkins-operator.v0.4.0.clusterserviceversion.yaml
Labels: openshift-operator

#1606 Add version 1.9.0 of syndesis
  community-operators/syndesis/1.9.0/syndesis.crd.yaml
  community-operators/syndesis/1.9.0/syndesisoperator.1.9.0.clusterserviceversion.yaml
  community-operators/syndesis/syndesis.package.yaml
Labels: openshift-operator

#1706 [Community] Renaming Nexus Operator Package (remove)
  community-operators/nexus-operator/0.1.0/apps.m88i.io_nexus_crd.yaml
  community-operators/nexus-operator/0.1.0/nexus-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/nexus-operator/nexus-operator.package.yaml
Labels: openshift-operator

#1707 [Community] Renaming Nexus Operator Package updating to 0.2.0 (add new)
  community-operators/nexus-operator-m88i/0.2.0/apps.m88i.io_nexus_crd.yaml
  community-operators/nexus-operator-m88i/0.2.0/nexus-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: openshift-operator

#1720 [Upstream] Renaming Nexus Operator Package (remove)
  upstream-community-operators/nexus-operator/0.1.0/apps.m88i.io_nexus_crd.yaml
  upstream-community-operators/nexus-operator/0.1.0/nexus-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/nexus-operator/nexus-operator.package.yaml
Labels: kubernetes-operator

#1699 Upgrade ECK to 1.1.0
  upstream-community-operators/elastic-cloud/1.1.0/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/1.1.0/elastic-cloud-eck.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud/1.1.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/1.1.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator

#1685 Update eclipse-che operator for openshift to release 7.12.2
  community-operators/eclipse-che/7.12.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.12.2/eclipse-che.v7.12.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1692 add OpenShift Hive operator 1.0.3-7-gba4793f
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive-operator.v1.0.3-7-gba4793f.clusterserviceversion.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_checkpoint.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_clusterdeployment.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_clusterdeprovision.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_clusterimageset.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_clusterprovision.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_clusterstate.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_dnszone.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_hiveconfig.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_machinepool.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_machinepoolnamelease.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_selectorsyncidentityprovider.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_selectorsyncset.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_syncidentityprovider.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_syncset.yaml
  community-operators/openshift-hive/1.0.3-7-gba4793f/hive_v1_syncsetinstance.yaml
  community-operators/openshift-hive/hive.package.yaml
Labels: openshift-operator

#1694 Added podium-operator version 1.0.4
  community-operators/podium-operator/1.0.4/podia.podium.com.crd.yaml
  community-operators/podium-operator/1.0.4/podium-operator.v1.0.4.clusterserviceversion.yaml
  community-operators/podium-operator/podium-operator.package.yaml
Labels: openshift-operator

#1721 [Upstream] Renaming Nexus Operator Package (add new)
  upstream-community-operators/nexus-operator-m88i/0.2.0/apps.m88i.io_nexus_crd.yaml
  upstream-community-operators/nexus-operator-m88i/0.2.0/nexus-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: kubernetes-operator

#1700 egressip-ipam-operator new version
  community-operators/egressip-ipam-operator/egressip-ipam-operator.package.yaml
Labels: openshift-operator

#1723 MongoDB Enterprise Kubernetes Operator 1.5.2
  upstream-community-operators/mongodb-enterprise/1.5.2/mongodb-enterprise.v1.5.2.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.5.2/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.5.2/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.5.2/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator

#1732 Quay upstream operators 1.1.0
  upstream-community-operators/quay/1.1.0/quay.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/quay/1.1.0/redhatcop.redhat.io_quayecosystems_crd.yaml
  upstream-community-operators/quay/quay.package.yaml
Labels: kubernetes-operator

#1733 add hybrid app model bundle upstream
  upstream-community-operators/ham-deploy/0.1.0/deploy.hybridapp.io_operators_crd.yaml
  upstream-community-operators/ham-deploy/0.1.0/ham-deploy.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/ham-deploy/ham-deploy.package.yaml
Labels: kubernetes-operator

#1683 sysflow operator initial commit
  community-operators/sysflow-operator/0.0.1/sfexportercharts.charts.helm.k8s.io.crd.yaml
  community-operators/sysflow-operator/0.0.1/sysflow-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/sysflow-operator/sysflow-operator.package.yaml
Labels: openshift-operator

#1734 Add Hybrid App Model bundle
  community-operators/ham-deploy/0.1.0/deploy.hybridapp.io_operators_crd.yaml
  community-operators/ham-deploy/0.1.0/ham-deploy.v0.1.0.clusterserviceversion.yaml
  community-operators/ham-deploy/ham-deploy.package.yaml
Labels: openshift-operator

#1735 Add ECK 1.1.1
  upstream-community-operators/elastic-cloud/1.1.1/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/1.1.1/elastic-cloud-eck.v1.1.1.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud/1.1.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/1.1.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator

#1737 Update Jaeger upstream-community-operators to v1.18.0
  upstream-community-operators/jaeger/1.18.0/jaeger.v1.18.0.clusterserviceversion.yaml
  upstream-community-operators/jaeger/1.18.0/jaegertracing.io_jaegers_crd.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
Labels: kubernetes-operator

#1738 Update Jaeger community-operators to v1.18.0
  community-operators/jaeger/1.18.0/jaeger.v1.18.0.clusterserviceversion.yaml
  community-operators/jaeger/1.18.0/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: openshift-operator

#1742 [Upstream-community] PXC operator upgrade to 1.4.0
  upstream-community-operators/percona-xtradb-cluster/1.4.0/percona-xtradb-cluster-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/percona-xtradb-cluster/1.4.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster/1.4.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster/1.4.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster/1.4.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster/percona-xtradb-cluster-operator.package.yaml
Labels: kubernetes-operator

#1743 Remove hazelcast-enterprise operator, it will be replaced by hazelcas…
  upstream-community-operators/hazelcast-enterprise/0.0.1/hazelcast-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise/0.0.1/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise/0.1.1/hazelcast-operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise/0.1.1/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise/0.2.0/hazelcast-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise/0.2.0/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise/0.2.1/hazelcast-operator.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise/0.2.1/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise/hazelcast-enterprise.package.yaml
Labels: kubernetes-operator

#1745 Add Hazelcast (Open Source) Operator
  upstream-community-operators/hazelcast-operator/0.3.0/hazelcast-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-operator/0.3.0/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: kubernetes-operator

#1746 Add Hazelcast (Open Source) Operator to community-operators
  community-operators/hazelcast-operator/0.3.0/hazelcast-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/hazelcast-operator/0.3.0/hazelcasts.hazelcast.com.crd.yaml
  community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: openshift-operator

#1744 Add hazelcast-enterprise-operator (replaces hazelcast-enterprise)
  upstream-community-operators/hazelcast-enterprise-operator/0.3.0/hazelcast-enterprise-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise-operator/0.3.0/hazelcastenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise-operator/hazelcast-enterprise-operator.package.yaml
Labels: kubernetes-operator

#1741 Added podium-operator version 1.0.5
  community-operators/podium-operator/1.0.5/podia.podium.com.crd.yaml
  community-operators/podium-operator/1.0.5/podium-operator.v1.0.4.clusterserviceversion.yaml
  community-operators/podium-operator/podium-operator.package.yaml
Labels: openshift-operator

#1747 [Community] Release Nexus Operator 0.2.1
  community-operators/nexus-operator-m88i/0.2.1/apps.m88i.io_nexus_crd.yaml
  community-operators/nexus-operator-m88i/0.2.1/nexus-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: openshift-operator

#1748 [Upstream] Release Nexus Operator 0.2.1
  upstream-community-operators/nexus-operator-m88i/0.2.1/apps.m88i.io_nexus_crd.yaml
  upstream-community-operators/nexus-operator-m88i/0.2.1/nexus-operator.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: kubernetes-operator

#1749 lib-bucket (upstream) fix installModes to allow all modes
  upstream-community-operators/lib-bucket-provisioner/1.0.0/lib-bucket-provisioner.v1.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1750 NooBaa V2.1.1
  upstream-community-operators/noobaa/2.1.1/backingstores.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.1.1/bucketclasses.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.1.1/noobaa-operator.v2.1.1.clusterserviceversion.yaml
  upstream-community-operators/noobaa/2.1.1/noobaas.noobaa.io.crd.yaml
Labels: kubernetes-operator

#1752 Add Hazelcast Jet Operator to community-operators
  community-operators/hazelcast-jet-operator/0.1.0/hazelcast-jet-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/hazelcast-jet-operator/0.1.0/hazelcastjets.hazelcast.com.crd.yaml
  community-operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: openshift-operator

#1753 Community operators argocd helm 0.0.6
  community-operators/argocd-operator-helm/0.0.6/argocd-operator-helm.v0.0.6.clusterserviceversion.yaml
  community-operators/argocd-operator-helm/0.0.6/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator-helm/argocd-operator-helm.package.yaml
Labels: openshift-operator

#1754 Upstream community operators argocd helm 0.0.6
  upstream-community-operators/argocd-operator-helm/0.0.6/argocd-operator-helm.v0.0.6.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator-helm/0.0.6/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator-helm/argocd-operator-helm.package.yaml
Labels: kubernetes-operator

#1751 Added support for mariadb backup
  upstream-community-operators/mariadb-operator-app/0.0.3/mariadb-operator.v0.0.3.clusterserviceversion.yaml
  upstream-community-operators/mariadb-operator-app/0.0.3/mariadb.persistentsys_backups_crd.yaml
  upstream-community-operators/mariadb-operator-app/0.0.3/mariadb.persistentsys_mariadbs_crd.yaml
  upstream-community-operators/mariadb-operator-app/mariadb-operator.package.yaml
Labels: kubernetes-operator

#1756 new release sealed-secrets-operator-helm-0.0.1
  upstream-community-operators/sealed-secrets-operator-helm/0.0.1/bitnami.com_sealedsecretcontrollers_crd.yaml
  upstream-community-operators/sealed-secrets-operator-helm/0.0.1/sealed-secrets-operator-helm.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/sealed-secrets-operator-helm/sealed-secrets-operator-helm.package.yaml
Labels: kubernetes-operator

#1764 CSV was named incorrectly in podium-operator version 1.0.5
  community-operators/podium-operator/1.0.5/podium-operator.v1.0.5.clusterserviceversion.yaml
Labels: openshift-operator

#1755 new release sealed-secrets-operator-helm-0.0.1
  community-operators/sealed-secrets-operator-helm/0.0.1/bitnami.com_sealedsecretcontrollers_crd.yaml
  community-operators/sealed-secrets-operator-helm/0.0.1/sealed-secrets-operator-helm.v0.0.1.clusterserviceversion.yaml
  community-operators/sealed-secrets-operator-helm/sealed-secrets-operator-helm.package.yaml
Labels: openshift-operator

#1687 Add version 0.2.0 of Datadog
  community-operators/datadog/0.2.0/datadog-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/datadog/0.2.0/datadoghq.com_datadogagents_crd.yaml
  community-operators/datadog/datadog-operator.package.yaml
Labels: openshift-operator

#1769 Update community-operators enmasse to 0.31.2
  community-operators/enmasse/0.31.2/addresses.crd.yaml
  community-operators/enmasse/0.31.2/addressplans.crd.yaml
  community-operators/enmasse/0.31.2/addressspaceplans.crd.yaml
  community-operators/enmasse/0.31.2/addressspaces.crd.yaml
  community-operators/enmasse/0.31.2/addressspaceschemas.crd.yaml
  community-operators/enmasse/0.31.2/authenticationservices.crd.yaml
  community-operators/enmasse/0.31.2/brokeredinfraconfigs.crd.yaml
  community-operators/enmasse/0.31.2/consoleservices.crd.yaml
  community-operators/enmasse/0.31.2/enmasse.0.31.2.clusterserviceversion.yaml
  community-operators/enmasse/0.31.2/iotconfigs.crd.yaml
  community-operators/enmasse/0.31.2/iotprojects.crd.yaml
  community-operators/enmasse/0.31.2/messagingusers.crd.yaml
  community-operators/enmasse/0.31.2/standardinfraconfigs.crd.yaml
  community-operators/enmasse/enmasse.package.yaml
Labels: openshift-operator

#1770 Update upstream-community-operators enmasse to 0.31.2
  upstream-community-operators/enmasse/0.31.2/addresses.crd.yaml
  upstream-community-operators/enmasse/0.31.2/addressplans.crd.yaml
  upstream-community-operators/enmasse/0.31.2/addressspaceplans.crd.yaml
  upstream-community-operators/enmasse/0.31.2/addressspaces.crd.yaml
  upstream-community-operators/enmasse/0.31.2/addressspaceschemas.crd.yaml
  upstream-community-operators/enmasse/0.31.2/authenticationservices.crd.yaml
  upstream-community-operators/enmasse/0.31.2/brokeredinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/0.31.2/consoleservices.crd.yaml
  upstream-community-operators/enmasse/0.31.2/enmasse.0.31.2.clusterserviceversion.yaml
  upstream-community-operators/enmasse/0.31.2/iotconfigs.crd.yaml
  upstream-community-operators/enmasse/0.31.2/iotprojects.crd.yaml
  upstream-community-operators/enmasse/0.31.2/messagingusers.crd.yaml
  upstream-community-operators/enmasse/0.31.2/standardinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/enmasse.package.yaml
Labels: kubernetes-operator

#1768 Update eclipse-che operator for kubernetes to release 7.13.1
  upstream-community-operators/eclipse-che/7.13.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.13.1/eclipse-che.v7.13.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1771 Add Strimzi 0.18.0 to Community Operators
  community-operators/strimzi-kafka-operator/0.18.0/kafkabridges.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.18.0/kafkaconnectors.kafka.strimzi.io.yaml
  community-operators/strimzi-kafka-operator/0.18.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.18.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.18.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.18.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.18.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.18.0/kafkas.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.18.0/kafkatopics.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.18.0/kafkausers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.18.0/strimzi-cluster-operator.v0.18.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.18.0/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.18.0/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.18.0/strimzitopicoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: openshift-operator

#1772 Add Strimzi 0.18.0 to Upstream Community Operators
  upstream-community-operators/strimzi-kafka-operator/0.18.0/kafkabridges.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/kafkaconnectors.kafka.strimzi.io.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/kafkas.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/kafkatopics.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/kafkausers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/strimzi-cluster-operator.v0.18.0.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/strimzientityoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/strimzikafkabroker.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/strimzitopicoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: kubernetes-operator

#1697 Prepare release community 2.1.1
  community-operators/traefikee-operator/2.1.1/containo.us_traefikees_crd.yaml
  community-operators/traefikee-operator/2.1.1/traefikee-operator.v2.1.1.clusterserviceversion.yaml
  community-operators/traefikee-operator/traefikee-operator.package.yaml
Labels: openshift-operator

#1762 Update ember-csi-operator to 0.9.0
  community-operators/ember-csi-operator/0.9.0/ember-csi-operator.crd.yaml
  community-operators/ember-csi-operator/0.9.0/ember-csi-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/ember-csi-operator/ember-csi-operator.package.yaml
Labels: openshift-operator

#1773 Release Appsody Operator v0.6.0
  upstream-community-operators/appsody-operator/0.6.0/appsody-operator.v0.6.0.clusterserviceversion.yaml
  upstream-community-operators/appsody-operator/0.6.0/appsodyapplications.appsody.dev.crd.yaml
  upstream-community-operators/appsody-operator/appsody-operator.package.yaml
Labels: kubernetes-operator

#1774 Open Liberty Operator v0.6.0
  upstream-community-operators/open-liberty/0.6.0/open-liberty-operator.v0.6.0.clusterserviceversion.yaml
  upstream-community-operators/open-liberty/0.6.0/openlibertyapplications.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/0.6.0/openlibertydumps.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/0.6.0/openlibertytraces.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/open-liberty.package.yaml
Labels: kubernetes-operator

#1775 Release Runtime Component Operator v0.6.0
  upstream-community-operators/runtime-component-operator/0.6.0/runtime-component-operator.v0.6.0.clusterserviceversion.yaml
  upstream-community-operators/runtime-component-operator/0.6.0/runtimecomponents.app.stacks.crd.yaml
  upstream-community-operators/runtime-component-operator/runtime-component-operator.package.yaml
Labels: kubernetes-operator

#1777 Add upstream ember-csi-operator to 0.9.0
  upstream-community-operators/ember-csi-operator/0.9.0/ember-csi-operator.crd.yaml
  upstream-community-operators/ember-csi-operator/0.9.0/ember-csi-operator.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/ember-csi-operator/ember-csi-operator.package.yaml
Labels: kubernetes-operator

#1757 Infinispan manifests for 1.1.2.Final release
  community-operators/infinispan/1.1.2/infinispan-operator.v1.1.2.Final.clusterserviceversion.yaml
  community-operators/infinispan/1.1.2/infinispans.infinispan.org.crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: openshift-operator

#1778 [Upstream-community] PXC operator 1.4.0 stable channel
  upstream-community-operators/percona-xtradb-cluster/1.4.0/percona-xtradb-cluster-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/percona-xtradb-cluster/percona-xtradb-cluster-operator.package.yaml
Labels: kubernetes-operator

#1779 [Upstream-community] PSMDB operator 1.4.0 stable channel
  upstream-community-operators/percona-server-mongodb/1.4.0/percona-server-mongodb-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb-operator.package.yaml
Labels: kubernetes-operator

#1758 Infinispan manifests for 1.1.2.Final release
  upstream-community-operators/infinispan/1.1.2/infinispan-operator.v1.1.2.clusterserviceversion.yaml
  upstream-community-operators/infinispan/1.1.2/infinispans.infinispan.org.crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#1781 Keycloak Upstream Community Operator 10.0.0
  upstream-community-operators/keycloak/10.0.0/keycloak-operator.v10.0.0.clusterserviceversion.yaml
  upstream-community-operators/keycloak/10.0.0/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/10.0.0/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/10.0.0/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/10.0.0/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/10.0.0/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/keycloak.package.yaml
Labels: kubernetes-operator

#1767 Update eclipse-che operator for openshift to release 7.13.1
  community-operators/eclipse-che/7.13.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.13.1/eclipse-che.v7.13.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1780 Keycloak Community Operator 10.0.0
  community-operators/keycloak/10.0.0/keycloak-operator.v10.0.0.clusterserviceversion.yaml
  community-operators/keycloak/10.0.0/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak/10.0.0/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak/10.0.0/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak/10.0.0/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak/10.0.0/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak/keycloak.package.yaml
Labels: openshift-operator

#1782 Monitoring support
  upstream-community-operators/mariadb-operator-app/0.0.4/mariadb-operator.v0.0.4.clusterserviceversion.yaml
  upstream-community-operators/mariadb-operator-app/0.0.4/mariadb.persistentsys_backups_crd.yaml
  upstream-community-operators/mariadb-operator-app/0.0.4/mariadb.persistentsys_mariadbs_crd.yaml
  upstream-community-operators/mariadb-operator-app/0.0.4/mariadb.persistentsys_monitors_crd.yaml
  upstream-community-operators/mariadb-operator-app/mariadb-operator.package.yaml
Labels: kubernetes-operator

#1783 [Community] PSMDB operator 1.4.0 stable
  community-operators/percona-server-mongodb/1.4.0/percona-server-mongodb-operator.v1.4.0.clusterserviceversion.yaml
  community-operators/percona-server-mongodb/1.4.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  community-operators/percona-server-mongodb/1.4.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  community-operators/percona-server-mongodb/1.4.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  community-operators/percona-server-mongodb/percona-server-mongodb-operator.package.yaml
Labels: openshift-operator

#1784 [Community] PXC operator 1.4.0 stable
  community-operators/percona-xtradb-cluster/1.4.0/percona-xtradb-cluster-operator.v1.4.0.clusterserviceversion.yaml
  community-operators/percona-xtradb-cluster/1.4.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster/1.4.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster/1.4.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster/1.4.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster/percona-xtradb-cluster-operator.package.yaml
Labels: openshift-operator

#1552 Remove obsolete knative-eventing operator
  community-operators/knative-eventing-operator/0.10.0/knative-eventing-operator.v0.10.0.clusterserviceversion-v0.10.0.yaml
  community-operators/knative-eventing-operator/0.10.0/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/0.11.0/knative-eventing-operator.v0.11.0.clusterserviceversion-v0.11.0.yaml
  community-operators/knative-eventing-operator/0.11.0/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/0.12.0/knative-eventing-operator.v0.12.0.clusterserviceversion-v0.12.0.yaml
  community-operators/knative-eventing-operator/0.12.0/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/0.13.0/eventing_v1alpha1_knativeeventing_crd.yaml
  community-operators/knative-eventing-operator/0.13.0/knative-eventing-operator.v0.13.0.clusterserviceversion-v0.13.0.yaml
  community-operators/knative-eventing-operator/0.6.0/knative-eventing-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/knative-eventing-operator/0.6.0/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/0.7.1/knative-eventing-operator.v0.7.1.clusterserviceversion.yaml
  community-operators/knative-eventing-operator/0.7.1/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/0.8.0/knative-eventing-operator.v0.8.0.clusterserviceversion.yaml
  community-operators/knative-eventing-operator/0.8.0/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/0.9.0/knative-eventing-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/knative-eventing-operator/0.9.0/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
Labels: openshift-operator

#1792 Added group sync operator
  community-operators/group-sync-operator/0.0.1/group-sync-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.1/redhatcop.redhat.io_groupsyncs_crd.yaml
  community-operators/group-sync-operator/group-sync-operator.package.yaml
Labels: openshift-operator

#1787 Add Crossplane.io v0.11.0 to community-operators
  community-operators/crossplane/0.11.0/applicationconfigurations.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/buckets.storage.crossplane.io.yaml
  community-operators/crossplane/0.11.0/clusterpackageinstalls.packages.crossplane.io.yaml
  community-operators/crossplane/0.11.0/components.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/compositions.apiextensions.crossplane.io.yaml
  community-operators/crossplane/0.11.0/containerizedworkloads.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/crossplane.v0.11.0.clusterserviceversion.yaml
  community-operators/crossplane/0.11.0/infrastructuredefinitions.apiextensions.crossplane.io.yaml
  community-operators/crossplane/0.11.0/infrastructurepublications.apiextensions.crossplane.io.yaml
  community-operators/crossplane/0.11.0/kubernetesapplicationresources.workload.crossplane.io.yaml
  community-operators/crossplane/0.11.0/kubernetesapplications.workload.crossplane.io.yaml
  community-operators/crossplane/0.11.0/kubernetesclusters.compute.crossplane.io.yaml
  community-operators/crossplane/0.11.0/kubernetestargets.workload.crossplane.io.yaml
  community-operators/crossplane/0.11.0/machineinstances.compute.crossplane.io.yaml
  community-operators/crossplane/0.11.0/manualscalertraits.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/mysqlinstances.database.crossplane.io.yaml
  community-operators/crossplane/0.11.0/nosqlinstances.database.crossplane.io.yaml
  community-operators/crossplane/0.11.0/packageinstalls.packages.crossplane.io.yaml
  community-operators/crossplane/0.11.0/packages.packages.crossplane.io.yaml
  community-operators/crossplane/0.11.0/postgresqlinstances.database.crossplane.io.yaml
  community-operators/crossplane/0.11.0/providers.kubernetes.crossplane.io.yaml
  community-operators/crossplane/0.11.0/redisclusters.cache.crossplane.io.yaml
  community-operators/crossplane/0.11.0/scopedefinitions.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/stackdefinitions.packages.crossplane.io.yaml
  community-operators/crossplane/0.11.0/traitdefinitions.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/workloaddefinitions.core.oam.dev.yaml
  community-operators/crossplane/crossplane.package.yaml
Labels: need-info, openshift-operator

#1793 [Prisma Cloud] Fixup source code and repo URLs
  upstream-community-operators/prisma-cloud-compute-console-operator/1.0.0/prisma-cloud-compute-console-operator.v1.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1786 Add Crossplane.io v0.11.0 to upstream-community-operators
  upstream-community-operators/crossplane/0.11.0/applicationconfigurations.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/buckets.storage.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/clusterpackageinstalls.packages.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/components.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/compositions.apiextensions.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/containerizedworkloads.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/crossplane.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/crossplane/0.11.0/infrastructuredefinitions.apiextensions.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/infrastructurepublications.apiextensions.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/kubernetesapplicationresources.workload.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/kubernetesapplications.workload.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/kubernetesclusters.compute.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/kubernetestargets.workload.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/machineinstances.compute.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/manualscalertraits.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/mysqlinstances.database.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/nosqlinstances.database.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/packageinstalls.packages.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/packages.packages.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/postgresqlinstances.database.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/providers.kubernetes.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/redisclusters.cache.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/scopedefinitions.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/stackdefinitions.packages.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/traitdefinitions.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/workloaddefinitions.core.oam.dev.yaml
  upstream-community-operators/crossplane/crossplane.package.yaml
Labels: kubernetes-operator

#1803 Update eclipse-che operator for kubernetes to release 7.13.2
  upstream-community-operators/eclipse-che/7.13.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.13.2/eclipse-che.v7.13.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1802 Add new Apicurio Registry Operator
  upstream-community-operators/apicurio-registry/0.0.1/apicurio-registry-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/apicurio-registry/0.0.1/apicurioregistries.apicur.io.crd.yaml
  upstream-community-operators/apicurio-registry/apicurio-registry-operator.package.yaml
Labels: kubernetes-operator, need-info

#1805 Update Upstream argocd-operator to v0.0.9
  upstream-community-operators/argocd-operator/0.0.9/argocd-operator.v0.0.9.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/0.0.9/argoproj.io_applications_crd.yaml
  upstream-community-operators/argocd-operator/0.0.9/argoproj.io_appprojects_crd.yaml
  upstream-community-operators/argocd-operator/0.0.9/argoproj.io_argocdexports_crd.yaml
  upstream-community-operators/argocd-operator/0.0.9/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator/argocd-operator.package.yaml
Labels: kubernetes-operator

#1799 Remove obsolete quay
  community-operators/quay/0.0.6/quay.v0.0.6.clusterserviceversion.yaml
  community-operators/quay/0.0.6/quayecosystems.redhatcop.redhat.io.crd.yaml
  community-operators/quay/0.0.7/quay.v0.0.7.clusterserviceversion.yaml
  community-operators/quay/0.0.7/quayecosystems.redhatcop.redhat.io.crd.yaml
  community-operators/quay/1.0.1/quay.v1.0.1.clusterserviceversion.yaml
  community-operators/quay/1.0.1/redhatcop.redhat.io_quayecosystems_crd.yaml
  community-operators/quay/1.0.2/quay.v1.0.2.clusterserviceversion.yaml
  community-operators/quay/1.0.2/redhatcop.redhat.io_quayecosystems_crd.yaml
  community-operators/quay/quay.package.yaml
Labels: openshift-operator

#1791 Adding new Apache Kafka for Knative 0.15 release
  community-operators/knative-kafka-operator/0.15.0/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/0.15.0/knative-kafka-operator.v0.15.0.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
Labels: openshift-operator

#1807 Open Data Hub release 0.6.1
  community-operators/opendatahub-operator/0.6.1/kfdef.apps.kubeflow.org.crd.yaml
  community-operators/opendatahub-operator/0.6.1/opendatahub-operator.v0.6.1.clusterserviceversion.yaml
  community-operators/opendatahub-operator/opendatahub-operator.package.yaml
Labels: openshift-operator

#1808 IBM Cloud Operator - Update to 0.1.9 - community operators
  community-operators/ibmcloud-operator/0.1.9/ibmcloud_operator.v0.1.9.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/0.1.9/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/0.1.9/ibmcloud_operator_v1alpha1_service.crd.yaml
  community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: openshift-operator

#1809 IBM Cloud Operator - Update to v0.1.9 - Upstream
  upstream-community-operators/ibmcloud-operator/0.1.9/ibmcloud_operator.v0.1.9.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/0.1.9/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.9/ibmcloud_operator_v1alpha1_service.crd.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: kubernetes-operator

#1814 Add ECK 1.1.2
  upstream-community-operators/elastic-cloud/1.1.2/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/1.1.2/elastic-cloud-eck.v1.1.2.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud/1.1.2/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/1.1.2/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator
