Repository operator-framework/community-operators, pull requests merged in 2020-04, with the labels that each got.

#1476 Release Open Liberty Operator v0.4.0
  upstream-community-operators/open-liberty/0.4.0/open-liberty-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/open-liberty/0.4.0/openlibertyapplications.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/0.4.0/openlibertydumps.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/0.4.0/openlibertytraces.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/open-liberty.package.yaml
Labels: kubernetes-operator

#1472 Drop obsolete multicloud subscription operators from openshift and ku…
  community-operators/multicloud-operators-subscription/0.1.0/channels.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.0/deployables.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.0/helmreleases.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.0/multicloud-operators-subscription.v0.1.0.clusterserviceversion.yaml
  community-operators/multicloud-operators-subscription/0.1.0/subscriptions.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.1/channels.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.1/deployables.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.1/helmreleases.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.1/multicloud-operators-subscription.v0.1.1.clusterserviceversion.yaml
  community-operators/multicloud-operators-subscription/0.1.1/subscriptions.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.2/channels.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.2/deployables.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.2/helmreleases.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.2/multicloud-operators-subscription.v0.1.2.clusterserviceversion.yaml
  community-operators/multicloud-operators-subscription/0.1.2/subscriptions.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/multicloud-operators-subscription.package.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.0/channels.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.0/deployables.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.0/helmreleases.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.0/multicloud-operators-subscription.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.0/subscriptions.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.1/channels.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.1/deployables.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.1/helmreleases.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.1/multicloud-operators-subscription.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.1/subscriptions.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/multicloud-operators-subscription.package.yaml
Labels: kubernetes-operator, openshift-operator

#1470 (litmus) CSV: Add CSV for litmus 1.2.0
  upstream-community-operators/litmus/1.2.0/chaosengines.litmuschaos.io.crd.yaml
  upstream-community-operators/litmus/1.2.0/chaosoperator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/litmus/litmuschaos.package.yaml
Labels: kubernetes-operator

#1469 upstream/datadog-operator: fix v0.1.3 description
  upstream-community-operators/datadog/0.1.3/datadog-operator.v0.1.3.clusterserviceversion.yaml
Labels: kubernetes-operator

#1475 Update Kogito Operator to 0.9.0
  community-operators/kogito-operator/0.9.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.9.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.9.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.9.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.9.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.9.0/kogito-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator

#1407 Adding Knative Eventing dev preview (0.13)
  community-operators/knative-eventing-operator/0.13.0/eventing_v1alpha1_knativeeventing_crd.yaml
  community-operators/knative-eventing-operator/0.13.0/knative-eventing-operator.v0.13.0.clusterserviceversion-v0.13.0.yaml
  community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
Labels: openshift-operator

#1413 Adding Knative Kafka dev preview (0.13)
  community-operators/knative-kafka-operator/0.13.2/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/0.13.2/knative-kafka-operator.v0.13.2.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
Labels: openshift-operator

#1474 Updating NeuVector Upstream Community Operator
  upstream-community-operators/neuvector/1.0.0/neuvector-operator.crd.yaml
  upstream-community-operators/neuvector/1.0.0/neuvector-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/neuvector/neuvector-operator.package.yaml
Labels: kubernetes-operator

#1471 redis-operator release v0.0.1
  upstream-community-operators/redis-operator/0.0.1/redis-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.0.1/redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/redis-operator.package.yaml
Labels: kubernetes-operator

#1494 kubeturbo 7.21 update
  community-operators/kubeturbo/7.21.0/kubeturbo-operator.v7.21.0.clusterserviceversion.yaml
  community-operators/kubeturbo/7.21.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  community-operators/kubeturbo/kubeturbo.package.yaml
Labels: openshift-operator

#1495 kubeturbo upstream 7.21 update
  upstream-community-operators/kubeturbo/7.21.0/kubeturbo-operator.v7.21.0.clusterserviceversion.yaml
  upstream-community-operators/kubeturbo/7.21.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kubeturbo/kubeturbo.package.yaml
Labels: kubernetes-operator

#1493 upgrade multicluster subscription operator to V0.1.3
  community-operators/multicluster-operators-subscription/0.1.3/app_v1beta1_application.yaml
  community-operators/multicluster-operators-subscription/0.1.3/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.3/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.3/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.3/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.3/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.3/multicluster-operators-subscription.v0.1.3.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/0.1.3/subscription.service.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#1481 Introduces Hazelcast Jet Enterprise Operator
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.0.1/hazelcast-jet-enterprise-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.0.1/hazelcastjetenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/hazelcast-jet-enterprise-operator.package.yaml
Labels: kubernetes-operator

#1480 Introduces Hazelcast Jet Operator
  upstream-community-operators/hazelcast-jet-operator/0.0.1/hazelcast-jet-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-operator/0.0.1/hazelcastjets.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: kubernetes-operator

#1477 Add OLM manifests for Dynatrace OneAgent Operator v0.7.0
  upstream-community-operators/oneagent/0.7.0/dynatrace-monitoring.v0.7.0.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.7.0/oneagents.dynatrace.com.crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator

#1483 Update snyk-operator to 1.25.0
  community-operators/snyk-operator/1.25.0/snyk-operator.v1.25.0.clusterserviceversion.yaml
  community-operators/snyk-operator/1.25.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: openshift-operator

#1496 Add portworx operator 1.3.0
  upstream-community-operators/portworx/1.3.0/core_v1alpha1_storagecluster_crd.yaml
  upstream-community-operators/portworx/1.3.0/core_v1alpha1_storagenode_crd.yaml
  upstream-community-operators/portworx/1.3.0/portworxoperator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/portworx/portworx.package.yaml
Labels: kubernetes-operator

#1500 Update KubeMQ operator to version 0.5.1
  upstream-community-operators/kubemq/0.5.1/kubemq-operator.v0.5.1.clusterserviceversion.yaml
  upstream-community-operators/kubemq/0.5.1/kubemqclusters.core.k8s.kubemq.io.crd.yaml
  upstream-community-operators/kubemq/0.5.1/kubemqdashboards.core.k8s.kubemq.io.crd.yaml
  upstream-community-operators/kubemq/kubemq-operator.package.yaml
Labels: kubernetes-operator

#1498 turbonomic upstream operator 7.21 update
  upstream-community-operators/t8c/7.21.0/t8c-operator.v7.21.0.clusterserviceversion.yaml
  upstream-community-operators/t8c/7.21.0/xls.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/t8c/t8c.package.yaml
Labels: kubernetes-operator

#1497 turbonomic operator 7.21 update
  community-operators/t8c/7.21.0/t8c-operator.v7.21.0.clusterserviceversion.yaml
  community-operators/t8c/7.21.0/xls.charts.helm.k8s.io.crd.yaml
  community-operators/t8c/t8c.package.yaml
Labels: openshift-operator

#1485 Add Knative Camel 0.13.2 to community operators
  community-operators/knative-camel-operator/0.13.2/camelsources.sources.knative.dev.crd.yaml
  community-operators/knative-camel-operator/0.13.2/knative-camel-operator.v0.13.2.clusterserviceversion.yaml
  community-operators/knative-camel-operator/knative-camel-operator.package.yaml
Labels: openshift-operator

#1505 upgrade multicluster-operators-subscription to V0.1.4
  community-operators/multicluster-operators-subscription/0.1.4/app_v1beta1_application.yaml
  community-operators/multicluster-operators-subscription/0.1.4/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.4/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.4/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.4/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.4/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.4/multicluster-operators-subscription.v0.1.4.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#1506 Update IBM Cloud Operator to v0.1.7 - community operators
  community-operators/ibmcloud-operator/0.1.7/ibmcloud_operator.v0.1.7.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/0.1.7/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/0.1.7/ibmcloud_operator_v1alpha1_service.crd.yaml
  community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: openshift-operator

#1507 Update IBM Cloud Operator to v0.1.7 - upstream
  upstream-community-operators/ibmcloud-operator/0.1.7/ibmcloud_operator.v0.1.7.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/0.1.7/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.7/ibmcloud_operator_v1alpha1_service.crd.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: kubernetes-operator

#1461 add Crossplane.io 0.9.0
  upstream-community-operators/crossplane/0.9.0/applicationconfigurations.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/buckets.storage.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/clusterstackinstalls.stacks.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/components.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/containerizedworkloads.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/crossplane.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/crossplane/0.9.0/kubernetesapplicationresources.workload.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/kubernetesapplications.workload.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/kubernetesclusters.compute.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/kubernetestargets.workload.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/machineinstances.compute.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/manualscalertraits.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/mysqlinstances.database.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/nosqlinstances.database.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/postgresqlinstances.database.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/providers.kubernetes.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/redisclusters.cache.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/scopedefinitions.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/stackdefinitions.stacks.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/stackinstalls.stacks.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/stacks.stacks.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/traitdefinitions.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/workloaddefinitions.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/crossplane.package.yaml
Labels: kubernetes-operator

#1511 clickhouse-operator v0.9.6
  upstream-community-operators/clickhouse/0.9.6/clickhouse-operator.v0.9.6.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.9.6/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.6/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.6/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator

#1513 Update eclipse-che operator for kubernetes to release 7.11.0
  upstream-community-operators/eclipse-che/7.11.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.11.0/eclipse-che.v7.11.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1478 Keycloak Community Operator 9.0.2
  community-operators/keycloak/9.0.2/keycloak-operator.v9.0.2.clusterserviceversion.yaml
  community-operators/keycloak/9.0.2/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak/9.0.2/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak/9.0.2/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak/9.0.2/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak/9.0.2/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak/keycloak.package.yaml
Labels: openshift-operator

#1331 MongoDB Enterprise Operator 1.4.4
  upstream-community-operators/mongodb-enterprise/1.4.4/mongodb-enterprise.v1.4.4.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.4.4/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.4/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.4/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator, size/XL

#1518 upgrade multicluster subscription operator to V0.1.5
  community-operators/multicluster-operators-subscription/0.1.5/app_v1beta1_application.yaml
  community-operators/multicluster-operators-subscription/0.1.5/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.5/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.5/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.5/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.5/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.5/multicluster-operators-subscription.v0.1.5.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#1512 Hyperfoil 0.5.2
  community-operators/hyperfoil/0.5.2/hyperfoil-operator.v0.5.2.clusterserviceversion.yaml
  community-operators/hyperfoil/0.5.2/hyperfoil.io_hyperfoils_crd.yaml
  community-operators/hyperfoil/hyperfoil-bundle.package.yaml
Labels: openshift-operator

#1519 Updating api-operator to v1.1.0
  upstream-community-operators/api-operator/1.1.0/api-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/api-operator/1.1.0/apis.wso2.com.crd.yaml
  upstream-community-operators/api-operator/1.1.0/ratelimitings.wso2.com.crd.yaml
  upstream-community-operators/api-operator/1.1.0/securities.wso2.com.crd.yaml
  upstream-community-operators/api-operator/1.1.0/targetendpoints.wso2.com.crd.yaml
  upstream-community-operators/api-operator/api-operator.package.yaml
Labels: kubernetes-operator

#1515 Add Crossplane.io v0.9.0 to community-operators
  community-operators/crossplane/0.9.0/applicationconfigurations.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/buckets.storage.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/clusterstackinstalls.stacks.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/components.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/containerizedworkloads.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/crossplane.v0.9.0.clusterserviceversion.yaml
  community-operators/crossplane/0.9.0/kubernetesapplicationresources.workload.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/kubernetesapplications.workload.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/kubernetesclusters.compute.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/kubernetestargets.workload.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/machineinstances.compute.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/manualscalertraits.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/mysqlinstances.database.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/nosqlinstances.database.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/postgresqlinstances.database.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/providers.kubernetes.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/redisclusters.cache.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/scopedefinitions.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/stackdefinitions.stacks.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/stackinstalls.stacks.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/stacks.stacks.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/traitdefinitions.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/workloaddefinitions.core.oam.dev.crd.yaml
  community-operators/crossplane/crossplane.package.yaml
Labels: openshift-operator

#1410 Update kubernetes aqua operator to 1.0.1
  upstream-community-operators/aqua/1.0.1/aqua-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/aqua/1.0.1/aquacsps.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.1/aquadatabases.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.1/aquaenforcers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.1/aquagateways.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.1/aquascanners.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.1/aquaservers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aqua-operator.package.yaml
Labels: kubernetes-operator

#1526 Keycloak Operator 9.0.2
  upstream-community-operators/keycloak/9.0.2/keycloak-operator.v9.0.2.clusterserviceversion.yaml
  upstream-community-operators/keycloak/9.0.2/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/9.0.2/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/9.0.2/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/9.0.2/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/9.0.2/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/keycloak.package.yaml
Labels: kubernetes-operator, openshift-operator

#1337 Update upstream Knative Eventing operator to 0.13.1
  upstream-community-operators/knative-eventing-operator/0.13.1/knative-eventing-operator.v0.13.1.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.13.1/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
Labels: kubernetes-operator, ok-to-test

#1524 Update community PostgreSQL Operator to v4.2.2
  community-operators/postgresql/4.2.2/pgbackups.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.2/pgclusters.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.2/pgpolicies.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.2/pgreplicas.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.2/pgtasks.crunchydata.com.crd.yaml
  community-operators/postgresql/4.2.2/postgresoperator.v4.2.2.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: openshift-operator

#1525 Updated upstream PostgreSQL Operator to v4.2.2
  upstream-community-operators/postgresql/4.2.2/pgbackups.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.2/pgclusters.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.2/pgpolicies.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.2/pgreplicas.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.2/pgtasks.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.2.2/postgresoperator.v4.2.2.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator

#1527 Instana Agent Operator v0.2.8
  upstream-community-operators/instana-agent/0.2.8/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.2.8/instana-agent-operator.v0.2.8.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#1465 Container Security Operator v1.0.3-v1.0.4
  upstream-community-operators/container-security-operator/1.0.3/container-security-operator.v1.0.3.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.3/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/1.0.4/container-security-operator.v1.0.4.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.4/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/container-security-operator.package.yaml
Labels: kubernetes-operator

#1533 Adding mariadb operator
  upstream-community-operators/mariadb-operator-app/0.0.1/mariadb-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/mariadb-operator-app/0.0.1/mariadb.persistentsys_mariadbs_crd.yaml
  upstream-community-operators/mariadb-operator-app/mariadb-operator.package.yaml
Labels: kubernetes-operator

#1523 Add Horreum operator v0.1.0
  community-operators/horreum/0.1.0/horreum-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/horreum/0.1.0/hyperfoil.io_horreums_crd.yaml
  community-operators/horreum/horreum-operator.package.yaml
Labels: openshift-operator

#1535 Updating description in api-operator
  upstream-community-operators/api-operator/1.1.0/api-operator.v1.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1536 Adding wso2am-operator.v1.0.0
  upstream-community-operators/wso2am-operator/1.0.0/apimanagers.apim.wso2.com.crd.yaml
  upstream-community-operators/wso2am-operator/1.0.0/wso2am-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/wso2am-operator/wso2am-operator.package.yaml
Labels: kubernetes-operator

#1540 redis operator 0.0.1 release
  community-operators/redis-operator/0.0.1/redis-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/redis-operator/0.0.1/redis.redis.opstreelabs.in.crd.yaml
  community-operators/redis-operator/redis-operator.package.yaml
Labels: openshift-operator

#1541 Update Federator.ai operator to v4.2.557 for community-operators
  community-operators/federatorai/4.2.557/alamedaservices.federatorai.containers.ai.crd.yaml
  community-operators/federatorai/4.2.557/federatorai.v4.2.557.clusterserviceversion.yaml
  community-operators/federatorai/federatorai.package.yaml
Labels: openshift-operator

#1542 Update Federator.ai operator to v4.2.557 for upstream-community-operators.
  upstream-community-operators/federatorai/4.2.557/alamedaservices.federatorai.containers.ai.crd.yaml
  upstream-community-operators/federatorai/4.2.557/federatorai.v4.2.557.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.package.yaml
Labels: kubernetes-operator

#1532 Added Dell CSI Operator for OpenShift
  community-operators/csi-operator/1.0.0/csi-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/csi-operator/1.0.0/csiisilons.storage.dell.com.crd.yaml
  community-operators/csi-operator/1.0.0/csipowermaxes.storage.dell.com.crd.yaml
  community-operators/csi-operator/1.0.0/csiunities.storage.dell.com.crd.yaml
  community-operators/csi-operator/1.0.0/csivxflexoses.storage.dell.com.crd.yaml
  community-operators/csi-operator/1.0.0/volumesnapshotclasses.snapshot.storage.k8s.io.crd.yaml
  community-operators/csi-operator/csi-operator.package.yaml
Labels: openshift-operator

#1531 Added Dell CSI Operator for k8s
  upstream-community-operators/csi-operator/1.0.0/csi-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/csi-operator/1.0.0/csiisilons.storage.dell.com.crd.yaml
  upstream-community-operators/csi-operator/1.0.0/csipowermaxes.storage.dell.com.crd.yaml
  upstream-community-operators/csi-operator/1.0.0/csiunities.storage.dell.com.crd.yaml
  upstream-community-operators/csi-operator/1.0.0/csivxflexoses.storage.dell.com.crd.yaml
  upstream-community-operators/csi-operator/1.0.0/volumesnapshotclasses.snapshot.storage.k8s.io.crd.yaml
  upstream-community-operators/csi-operator/csi-operator.package.yaml
Labels: kubernetes-operator

#1492 Add cost-mgmt-operator v0.0.1
  community-operators/cost-mgmt-operator/0.0.1/cost-mgmt-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/cost-mgmt-operator/0.0.1/cost_mgmt_crd.yaml
  community-operators/cost-mgmt-operator/0.0.1/cost_mgmt_data_crd.yaml
  community-operators/cost-mgmt-operator/cost-mgmt-operator.package.yaml
Labels: openshift-operator

#1544 Container Security Operator v1.0.5
  upstream-community-operators/container-security-operator/1.0.5/container-security-operator.v1.0.5.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.5/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/container-security-operator.package.yaml
Labels: kubernetes-operator

#1027 Added Splunk Operator for Kubernetes 0.1.0
  upstream-community-operators/splunk/0.1.0/enterprise.splunk.com_indexerclusters_crd.yaml
  upstream-community-operators/splunk/0.1.0/enterprise.splunk.com_licensemasters_crd.yaml
  upstream-community-operators/splunk/0.1.0/enterprise.splunk.com_searchheadclusters_crd.yaml
  upstream-community-operators/splunk/0.1.0/enterprise.splunk.com_sparks_crd.yaml
  upstream-community-operators/splunk/0.1.0/enterprise.splunk.com_standalones_crd.yaml
  upstream-community-operators/splunk/0.1.0/splunk.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/splunk/splunk.package.yaml
Labels: kubernetes-operator, size/L

#1557 Update CouchDB Operator to v1.0.3
  upstream-community-operators/couchdb-operator/1.0.3/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.3/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.3/couchdb-operator.v1.0.3.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.0.3/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.3/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.3/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.3/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.3/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/couchdb-operator.package.yaml
Labels: kubernetes-operator

#1547 MongoDB Enterprise Operator 1.4.5
  upstream-community-operators/mongodb-enterprise/1.4.5/mongodb-enterprise.v1.4.5.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.4.5/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.5/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.5/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator

#1549 Update Upstream argocd-operator to v0.0.6
  upstream-community-operators/argocd-operator/0.0.6/argocd-operator.v0.0.6.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/0.0.6/argoproj.io_applications_crd.yaml
  upstream-community-operators/argocd-operator/0.0.6/argoproj.io_appprojects_crd.yaml
  upstream-community-operators/argocd-operator/0.0.6/argoproj.io_argocdexports_crd.yaml
  upstream-community-operators/argocd-operator/0.0.6/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator/argocd-operator.package.yaml
Labels: kubernetes-operator

#1554 Update 3scale-community-operator to v0.5.1
  community-operators/3scale-community-operator/0.5.1/3scale-community-operator.v0.5.1.clusterserviceversion.yaml
  community-operators/3scale-community-operator/0.5.1/apps_v1alpha1_apimanager_crd.yaml
  community-operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_api_crd.yaml
  community-operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_binding_crd.yaml
  community-operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_limit_crd.yaml
  community-operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_mappingrule_crd.yaml
  community-operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_metric_crd.yaml
  community-operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_plan_crd.yaml
  community-operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_tenant_crd.yaml
  community-operators/3scale-community-operator/3scale-community-operator.package.yaml
Labels: openshift-operator

#1556 kubernetes apicast-community-operator to v0.2.1
  upstream-community-operators/apicast-community-operator/0.2.1/apicast-community-operator.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/apicast-community-operator/0.2.1/apps_v1alpha1_apicast_crd.yaml
  upstream-community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: kubernetes-operator

#1560 add OpenShift Hive operator 1.0.1
  community-operators/openshift-hive/1.0.1/hive-operator.v1.0.1.clusterserviceversion.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_checkpoint.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_clusterdeployment.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_clusterdeprovision.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_clusterimageset.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_clusterprovision.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_clusterstate.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_dnszone.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_hiveconfig.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_machinepool.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_machinepoolnamelease.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_selectorsyncidentityprovider.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_selectorsyncset.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_syncidentityprovider.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_syncset.yaml
  community-operators/openshift-hive/1.0.1/hive_v1_syncsetinstance.yaml
  community-operators/openshift-hive/hive.package.yaml
Labels: openshift-operator

#1561 add OpenShift Hive operator 1.0.1
  upstream-community-operators/openshift-hive/1.0.1/hive-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_checkpoint.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_clusterdeployment.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_clusterdeprovision.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_clusterimageset.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_clusterprovision.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_clusterstate.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_dnszone.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_hiveconfig.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_machinepool.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_machinepoolnamelease.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_selectorsyncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_selectorsyncset.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_syncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_syncset.yaml
  upstream-community-operators/openshift-hive/1.0.1/hive_v1_syncsetinstance.yaml
  upstream-community-operators/openshift-hive/hive.package.yaml
Labels: kubernetes-operator

#1551 Updating api-operator to version 1.1.0
  community-operators/api-operator/1.1.0/api-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/api-operator/1.1.0/apis.wso2.com.crd.yaml
  community-operators/api-operator/1.1.0/ratelimitings.wso2.com.crd.yaml
  community-operators/api-operator/1.1.0/securities.wso2.com.crd.yaml
  community-operators/api-operator/1.1.0/targetendpoints.wso2.com.crd.yaml
  community-operators/api-operator/api-operator.package.yaml
Labels: openshift-operator

#1555 openshift apicast-community-operator to v0.2.1
  community-operators/apicast-community-operator/0.1.1/apicast-community-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/apicast-community-operator/0.1.1/apps_v1alpha1_apicast_crd.yaml
  community-operators/apicast-community-operator/0.2.1/apicast-community-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/apicast-community-operator/0.2.1/apps_v1alpha1_apicast_crd.yaml
  community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: openshift-operator

#1550 Update OpenShift argocd-operator to v0.0.6
  community-operators/argocd-operator/0.0.6/argocd-operator.v0.0.6.clusterserviceversion.yaml
  community-operators/argocd-operator/0.0.6/argoproj.io_applications_crd.yaml
  community-operators/argocd-operator/0.0.6/argoproj.io_appprojects_crd.yaml
  community-operators/argocd-operator/0.0.6/argoproj.io_argocdexports_crd.yaml
  community-operators/argocd-operator/0.0.6/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator/argocd-operator.package.yaml
Labels: openshift-operator

#1545 Bug Fix: Added missing fields in CSV for maria db operator
  upstream-community-operators/mariadb-operator-app/0.0.1/mariadb-operator.v0.0.1.clusterserviceversion.yaml
Labels: kubernetes-operator

#1458 [Upstream-community] PSMDB operator update to 1.2.0
  upstream-community-operators/percona-server-mongodb/1.2.0/percona-server-mongodb-operator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/percona-server-mongodb/1.2.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb/1.2.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb/1.2.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb-operator.package.yaml
Labels: kubernetes-operator

#1322 Update Service Binding Operator
  community-operators/service-binding-operator/0.1.0-267/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.0-267/service-binding-operator.v0.1.0-267.clusterserviceversion.yaml
  community-operators/service-binding-operator/service-binding-operator.package.yaml
Labels: ok-to-test, openshift-operator, size/XS

#1381 gpu-operator: initial submission
  upstream-community-operators/gpu-operator/1.0.0/gpu-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/gpu-operator/1.0.0/specialresources.sro.opensift.io.crd.yaml
  upstream-community-operators/gpu-operator/gpu-operator.package.yaml
Labels: kubernetes-operator, ok-to-test

#1568 Microcks 0.3.0 community operator
  community-operators/microcks/0.3.0/microcks-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/microcks/0.3.0/microcksinstall.crd.yaml
  community-operators/microcks/microcks.package.yaml
Labels: openshift-operator

#1570 clickhouse-operator v0.9.7
  upstream-community-operators/clickhouse/0.9.7/clickhouse-operator.v0.9.7.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.9.7/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.7/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.7/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator

#1473 Add Kube-ArangoDB Operator
  upstream-community-operators/kube-arangodb/1.0.2/arangobackuppolicies.backup.arangodb.com.crd.yaml
  upstream-community-operators/kube-arangodb/1.0.2/arangobackups.backup.arangodb.com.crd.yaml
  upstream-community-operators/kube-arangodb/1.0.2/arangodeploymentreplications.replication.database.arangodb.com.crd.yaml
  upstream-community-operators/kube-arangodb/1.0.2/arangodeployments.database.arangodb.com.crd.yaml
  upstream-community-operators/kube-arangodb/1.0.2/kube-arangodb.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/kube-arangodb/kube-arangodb.package.yaml
Labels: kubernetes-operator

#1563 Add OpenShift-Pipelines-Operator v0.11.0 CSV
  community-operators/openshift-pipelines-operator/0.11.0/openshift-pipelines-operator.v0.11.0.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.11.0/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator

#1567 Microcks 0.3.0 upstream operator
  upstream-community-operators/microcks/0.3.0/microcks-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/microcks/0.3.0/microcksinstall.crd.yaml
  upstream-community-operators/microcks/microcks.package.yaml
Labels: kubernetes-operator

#1565 Hazelcast Jet Operator v0.0.2
  upstream-community-operators/hazelcast-jet-operator/0.0.2/hazelcast-jet-operator.v0.0.2.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-operator/0.0.2/hazelcastjets.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: kubernetes-operator

#1564 Hazelcast Jet Enterprise Operator v0.0.2
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.0.2/hazelcast-jet-enterprise-operator.v0.0.2.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.0.2/hazelcastjetenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/hazelcast-jet-enterprise-operator.package.yaml
Labels: kubernetes-operator

#1548 Container Security Operator v1.0.5
  community-operators/container-security-operator/1.0.3/container-security-operator.v1.0.3.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.3/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/1.0.4/container-security-operator.v1.0.4.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.4/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/1.0.5/container-security-operator.v1.0.5.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.5/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/container-security-operator.package.yaml
Labels: openshift-operator

#1543 gpu-operator initial version (1.1.0)
  community-operators/gpu-operator/1.0.0/gpu-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/gpu-operator/1.0.0/specialresources.sro.opensift.io.crd.yaml
  community-operators/gpu-operator/1.1.0/clusterpolicies.nvidia.com.crd.yaml
  community-operators/gpu-operator/1.1.0/gpu-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/gpu-operator/gpu-operator.package.yaml
Labels: ok-to-test, openshift-operator

#1571 Added finalizers to example CRs to ensure PVCs get cleaned up
  upstream-community-operators/splunk/0.1.0/splunk.v0.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1572 Copied splunk from upstream-community-operators to community-operators
  community-operators/splunk/0.1.0/enterprise.splunk.com_indexerclusters_crd.yaml
  community-operators/splunk/0.1.0/enterprise.splunk.com_licensemasters_crd.yaml
  community-operators/splunk/0.1.0/enterprise.splunk.com_searchheadclusters_crd.yaml
  community-operators/splunk/0.1.0/enterprise.splunk.com_sparks_crd.yaml
  community-operators/splunk/0.1.0/enterprise.splunk.com_standalones_crd.yaml
  community-operators/splunk/0.1.0/splunk.v0.1.0.clusterserviceversion.yaml
  community-operators/splunk/splunk.package.yaml
Labels: openshift-operator

#1306 lib-bucket-provision update image to quay.io/noobaa/pause
  community-operators/lib-bucket-provisioner/1.0.0/lib-bucket-provisioner.v1.0.0.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#1501 Fix of quay operator community operators container version
  community-operators/quay/1.0.2/quay.v1.0.2.clusterserviceversion.yaml
Labels: openshift-operator

#1200 added v 0.4.1 for AppDynamics
  upstream-community-operators/appdynamics/0.4.1/appdynamics-operator.v0.4.1.clusterserviceversion.yaml
  upstream-community-operators/appdynamics/0.4.1/appdynamics.com_adams_crd.yaml
  upstream-community-operators/appdynamics/0.4.1/appdynamics.com_clusteragents_crd.yaml
  upstream-community-operators/appdynamics/0.4.1/appdynamics.com_infravizs_crd.yaml
  upstream-community-operators/appdynamics/appdynamics-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#1227 Add chaosblade operator for kubernetes
  upstream-community-operators/chaosblade-operator/0.5.1/chaosblade-operator.v0.5.1.clusterserviceversion.yaml
  upstream-community-operators/chaosblade-operator/0.5.1/chaosblade_v1alpha1_chaosblade_crd.yaml
  upstream-community-operators/chaosblade-operator/chaosblade-operator.package.yaml
Labels: kubernetes-operator, size/XL

#1573 Update Seldon Upstream Operator to 1.1.0
  upstream-community-operators/seldon-operator/1.1.0/machinelearning.seldon.io_seldondeployment_crd.yaml
  upstream-community-operators/seldon-operator/1.1.0/seldon-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/seldon-operator/seldon-operator.package.yaml
Labels: kubernetes-operator

#1574 Update Seldon Community Operator to 1.1.0
  community-operators/seldon-operator/1.1.0/machinelearning.seldon.io_seldondeployment_crd.yaml
  community-operators/seldon-operator/1.1.0/seldon-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/seldon-operator/seldon-operator.package.yaml
Labels: openshift-operator

#1514 Update eclipse-che operator for openshift to release 7.11.0
  community-operators/eclipse-che/7.11.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.11.0/eclipse-che.v7.11.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1408 Update EnMasse operator for Kubernetes to 0.31.0
  upstream-community-operators/enmasse/0.31.0/addresses.crd.yaml
  upstream-community-operators/enmasse/0.31.0/addressplans.crd.yaml
  upstream-community-operators/enmasse/0.31.0/addressspaceplans.crd.yaml
  upstream-community-operators/enmasse/0.31.0/addressspaces.crd.yaml
  upstream-community-operators/enmasse/0.31.0/addressspaceschemas.crd.yaml
  upstream-community-operators/enmasse/0.31.0/authenticationservices.crd.yaml
  upstream-community-operators/enmasse/0.31.0/brokeredinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/0.31.0/consoleservices.crd.yaml
  upstream-community-operators/enmasse/0.31.0/enmasse.0.31.0.clusterserviceversion.yaml
  upstream-community-operators/enmasse/0.31.0/iotconfigs.crd.yaml
  upstream-community-operators/enmasse/0.31.0/iotprojects.crd.yaml
  upstream-community-operators/enmasse/0.31.0/messagingusers.crd.yaml
  upstream-community-operators/enmasse/0.31.0/standardinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/enmasse.package.yaml
Labels: kubernetes-operator

#1575 update grafana operator to v3.2.0
  upstream-community-operators/grafana-operator/3.2.0/grafana-operator.v3.2.0.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.2.0/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.2.0/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.2.0/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: kubernetes-operator

#1576 Remove internal obj annotation for Kafka Knative
  community-operators/knative-kafka-operator/0.13.2/knative-kafka-operator.v0.13.2.clusterserviceversion.yaml
Labels: openshift-operator

#1578 delist upstream gpu-operator
  upstream-community-operators/gpu-operator/1.0.0/gpu-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/gpu-operator/1.0.0/specialresources.sro.opensift.io.crd.yaml
  upstream-community-operators/gpu-operator/gpu-operator.package.yaml
Labels: do-not-merge/work-in-progress, kubernetes-operator

#1586 Update kubernetes aqua operator to 1.0.2
  upstream-community-operators/aqua/1.0.2/aqua-operator.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/aqua/1.0.2/aquacsps.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.2/aquadatabases.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.2/aquaenforcers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.2/aquagateways.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.2/aquascanners.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/1.0.2/aquaservers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aqua-operator.package.yaml
Labels: kubernetes-operator

#1585 Update openshift aqua operator to 1.0.2
  community-operators/aqua/1.0.2/aqua-operator.v1.0.2.clusterserviceversion.yaml
  community-operators/aqua/1.0.2/aquacsps.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.2/aquadatabases.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.2/aquaenforcers.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.2/aquagateways.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.2/aquascanners.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.2/aquaservers.operator.aquasec.com.crd.yaml
  community-operators/aqua/aqua-operator.package.yaml
Labels: openshift-operator

#1580 Update Upstream argocd-operator to v0.0.8
  upstream-community-operators/argocd-operator/0.0.8/argocd-operator.v0.0.8.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/0.0.8/argoproj.io_applications_crd.yaml
  upstream-community-operators/argocd-operator/0.0.8/argoproj.io_appprojects_crd.yaml
  upstream-community-operators/argocd-operator/0.0.8/argoproj.io_argocdexports_crd.yaml
  upstream-community-operators/argocd-operator/0.0.8/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator/argocd-operator.package.yaml
Labels: kubernetes-operator

#1420 add new version for kubeflow operator
  upstream-community-operators/kubeflow/1.0.0/kfdef.apps.kubeflow.org.crd.yaml
  upstream-community-operators/kubeflow/1.0.0/kubeflow.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/kubeflow/kubeflow.package.yaml
Labels: kubernetes-operator

#1581 Update OpenShift argocd-operator to v0.0.8
  community-operators/argocd-operator/0.0.8/argocd-operator.v0.0.8.clusterserviceversion.yaml
  community-operators/argocd-operator/0.0.8/argoproj.io_applications_crd.yaml
  community-operators/argocd-operator/0.0.8/argoproj.io_appprojects_crd.yaml
  community-operators/argocd-operator/0.0.8/argoproj.io_argocdexports_crd.yaml
  community-operators/argocd-operator/0.0.8/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator/argocd-operator.package.yaml
Labels: openshift-operator

#1582 update Service Binding Operator to version 0.1.1-282
  community-operators/service-binding-operator/0.1.1-282/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.1-282/service-binding-operator.v0.1.1-282.clusterserviceversion.yaml
  community-operators/service-binding-operator/service-binding-operator.package.yaml
Labels: openshift-operator

#1502 Fix of quay operator for upstream community operators container version
  upstream-community-operators/quay/1.0.2/quay.v1.0.2.clusterserviceversion.yaml
Labels: kubernetes-operator

#1590 Change category for upstream Seldon 1.1.0
  upstream-community-operators/seldon-operator/1.1.0/seldon-operator.v1.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1594 add OpenShift Hive operator 1.0.2
  upstream-community-operators/openshift-hive/1.0.2/hive-operator.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_checkpoint.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_clusterdeployment.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_clusterdeprovision.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_clusterimageset.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_clusterprovision.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_clusterstate.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_dnszone.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_hiveconfig.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_machinepool.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_machinepoolnamelease.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_selectorsyncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_selectorsyncset.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_syncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_syncset.yaml
  upstream-community-operators/openshift-hive/1.0.2/hive_v1_syncsetinstance.yaml
  upstream-community-operators/openshift-hive/hive.package.yaml
Labels: kubernetes-operator

#1595 add OpenShift Hive operator 1.0.2
  community-operators/openshift-hive/1.0.2/hive-operator.v1.0.2.clusterserviceversion.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_checkpoint.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_clusterdeployment.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_clusterdeprovision.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_clusterimageset.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_clusterprovision.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_clusterstate.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_dnszone.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_hiveconfig.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_machinepool.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_machinepoolnamelease.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_selectorsyncidentityprovider.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_selectorsyncset.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_syncidentityprovider.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_syncset.yaml
  community-operators/openshift-hive/1.0.2/hive_v1_syncsetinstance.yaml
  community-operators/openshift-hive/hive.package.yaml
Labels: openshift-operator

#1593 Add konveyor v1.1.2 and drop pre-release version
  community-operators/konveyor-operator/konveyor-operator.package.yaml
  community-operators/konveyor-operator/v1.1.2/backup.crd.yaml
  community-operators/konveyor-operator/v1.1.2/backupstoragelocation.crd.yaml
  community-operators/konveyor-operator/v1.1.2/deletebackuprequest.crd.yaml
  community-operators/konveyor-operator/v1.1.2/downloadrequest.crd.yaml
  community-operators/konveyor-operator/v1.1.2/konveyor-operator.v1.1.2.clusterserviceversion.yaml
  community-operators/konveyor-operator/v1.1.2/migcluster.crd.yaml
  community-operators/konveyor-operator/v1.1.2/migmigration.crd.yaml
  community-operators/konveyor-operator/v1.1.2/migplan.crd.yaml
  community-operators/konveyor-operator/v1.1.2/migrationcontroller.crd.yaml
  community-operators/konveyor-operator/v1.1.2/migstorage.crd.yaml
  community-operators/konveyor-operator/v1.1.2/podvolumebackup.crd.yaml
  community-operators/konveyor-operator/v1.1.2/podvolumerestore.crd.yaml
  community-operators/konveyor-operator/v1.1.2/resticrepository.crd.yaml
  community-operators/konveyor-operator/v1.1.2/restore.crd.yaml
  community-operators/konveyor-operator/v1.1.2/schedule.crd.yaml
  community-operators/konveyor-operator/v1.1.2/serverstatusrequest.crd.yaml
  community-operators/konveyor-operator/v1.1.2/volumesnapshotlocation.crd.yaml
Labels: openshift-operator

#1587 Add OLM manifests for Dynatrace OneAgent Operator v0.7.1
  upstream-community-operators/oneagent/0.7.1/dynatrace-monitoring.v0.7.1.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.7.1/oneagents.dynatrace.com.crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator

#1592 [KOGITO-1728] - Release Kogito Operator/CLI 0.9.1
  community-operators/kogito-operator/0.9.1/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.9.1/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.9.1/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.9.1/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.9.1/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.9.1/kogito-operator.v0.9.1.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator

#1596 Instana Agent Operator 0.3.1
  upstream-community-operators/instana-agent/0.3.1/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.3.1/instana-agent-operator.v0.3.1.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#1597 Update Jenkins Operator version to 0.4.0
  community-operators/jenkins-operator/0.4.0/jenkins-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.0/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: openshift-operator

#1440 Eunomia release 0.1.6
  upstream-community-operators/eunomia/0.1.6/eunomia.v0.1.6.clusterserviceversion.yaml
  upstream-community-operators/eunomia/0.1.6/gitopsconfigs.eunomia.kohls.io.crd.yaml
  upstream-community-operators/eunomia/eunomia.package.yaml
Labels: kubernetes-operator

#1424 Add community datadog-operator
  community-operators/datadog/0.1.3/datadog-operator.v0.1.3.clusterserviceversion.yaml
  community-operators/datadog/0.1.3/datadoghq.com_datadogagents_crd.yaml
  community-operators/datadog/datadog-operator.package.yaml
Labels: openshift-operator

#1081 eunomia release v0.1.0 for community operator
  community-operators/eunomia/0.1.0/eunomia.v0.1.0.clusterserviceversion.yaml
  community-operators/eunomia/0.1.0/gitopsconfigs.eunomia.kohls.io.crd.yaml
  community-operators/eunomia/eunomia.package.yaml
Labels: openshift-operator, size/L

#1459 [Upstream-community] PSMDB operator upgrade to 1.3.0
  upstream-community-operators/percona-server-mongodb/1.3.0/percona-server-mongodb-operator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/percona-server-mongodb/1.3.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb/1.3.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb/1.3.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb-operator.package.yaml
Labels: kubernetes-operator

#1600 [Upstream-community] PSMDB operator upgrade to 1.4.0
  upstream-community-operators/percona-server-mongodb/1.4.0/percona-server-mongodb-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/percona-server-mongodb/1.4.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb/1.4.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb/1.4.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb-operator.package.yaml
Labels: kubernetes-operator

#1601 Fix aws s3 operator CRD ownership
  upstream-community-operators/awss3operator/1.0.1/awss3operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/awss3operator/1.0.1/objectbucketclaims.objectbucket.io.crd.yaml
  upstream-community-operators/awss3operator/1.0.1/objectbuckets.objectbucket.io.crd.yaml
Labels: kubernetes-operator

#1598 Remove internal obj annotation for Knative Eventing
  community-operators/knative-eventing-operator/0.13.0/knative-eventing-operator.v0.13.0.clusterserviceversion-v0.13.0.yaml
Labels: openshift-operator

#1605 Remove twistlock
  upstream-community-operators/twistlock/0.0.9/twistlock-console-operator.v0.0.9.clusterserviceversion.yaml
  upstream-community-operators/twistlock/0.0.9/twistlockconsoles.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/twistlock/twistlock.package.yaml
Labels: kubernetes-operator

#1610 Remove Twistlock to replace it with Prisma Cloud Operator
  community-operators/twistlock/0.0.9/twistlock-console-operator.v0.0.9.clusterserviceversion.yaml
  community-operators/twistlock/0.0.9/twistlockconsoles.charts.helm.k8s.io.crd.yaml
  community-operators/twistlock/twistlock.package.yaml
Labels: openshift-operator

#1569 Update Twistlock operator with Prisma Cloud Operator 1.0.0
  community-operators/prisma-cloud-compute-console-operator/0.0.9/twistlock-console-operator.v0.0.9.clusterserviceversion.yaml
  community-operators/prisma-cloud-compute-console-operator/0.0.9/twistlockconsoles.charts.helm.k8s.io.crd.yaml
  community-operators/prisma-cloud-compute-console-operator/1.0.0/charts.helm.k8s.io_prisma_consoles_crd.yaml
  community-operators/prisma-cloud-compute-console-operator/1.0.0/prisma-cloud-compute-console-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/prisma-cloud-compute-console-operator/prisma-cloud-compute-console-operator.package.yaml
Labels: ok-to-test, openshift-operator

#1609 Update community-operators enmasse to 0.31.1
  community-operators/enmasse/0.31.1/addresses.crd.yaml
  community-operators/enmasse/0.31.1/addressplans.crd.yaml
  community-operators/enmasse/0.31.1/addressspaceplans.crd.yaml
  community-operators/enmasse/0.31.1/addressspaces.crd.yaml
  community-operators/enmasse/0.31.1/addressspaceschemas.crd.yaml
  community-operators/enmasse/0.31.1/authenticationservices.crd.yaml
  community-operators/enmasse/0.31.1/brokeredinfraconfigs.crd.yaml
  community-operators/enmasse/0.31.1/consoleservices.crd.yaml
  community-operators/enmasse/0.31.1/enmasse.0.31.1.clusterserviceversion.yaml
  community-operators/enmasse/0.31.1/iotconfigs.crd.yaml
  community-operators/enmasse/0.31.1/iotprojects.crd.yaml
  community-operators/enmasse/0.31.1/messagingusers.crd.yaml
  community-operators/enmasse/0.31.1/standardinfraconfigs.crd.yaml
  community-operators/enmasse/enmasse.package.yaml
Labels: openshift-operator

#1603 Update maistra community operator to 1.1.0
  community-operators/maistra/1.1.0/maistraoperator.v1.1.0.clusterserviceversion.yaml
  community-operators/maistra/1.1.0/servicemeshcontrolplanes.crd.yaml
  community-operators/maistra/1.1.0/servicemeshmemberrolls.crd.yaml
  community-operators/maistra/1.1.0/servicemeshmembers.crd.yaml
  community-operators/maistra/maistra.package.yaml
Labels: openshift-operator

#1607 Add OpenShift-Pipelines-Operator v0.11.1 CSV
  community-operators/openshift-pipelines-operator/0.11.1/openshift-pipelines-operator.v0.11.1.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.11.1/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator

#1608 Update upstream-community-operators enmasse to 0.31.1
  upstream-community-operators/enmasse/0.31.1/addresses.crd.yaml
  upstream-community-operators/enmasse/0.31.1/addressplans.crd.yaml
  upstream-community-operators/enmasse/0.31.1/addressspaceplans.crd.yaml
  upstream-community-operators/enmasse/0.31.1/addressspaces.crd.yaml
  upstream-community-operators/enmasse/0.31.1/addressspaceschemas.crd.yaml
  upstream-community-operators/enmasse/0.31.1/authenticationservices.crd.yaml
  upstream-community-operators/enmasse/0.31.1/brokeredinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/0.31.1/consoleservices.crd.yaml
  upstream-community-operators/enmasse/0.31.1/enmasse.0.31.1.clusterserviceversion.yaml
  upstream-community-operators/enmasse/0.31.1/iotconfigs.crd.yaml
  upstream-community-operators/enmasse/0.31.1/iotprojects.crd.yaml
  upstream-community-operators/enmasse/0.31.1/messagingusers.crd.yaml
  upstream-community-operators/enmasse/0.31.1/standardinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/enmasse.package.yaml
Labels: kubernetes-operator

#1619 Added functionality for Seamless Upgrades
  upstream-community-operators/mariadb-operator-app/0.0.2/mariadb-operator.v0.0.2.clusterserviceversion.yaml
  upstream-community-operators/mariadb-operator-app/0.0.2/mariadb.persistentsys_mariadbs_crd.yaml
  upstream-community-operators/mariadb-operator-app/mariadb-operator.package.yaml
Labels: kubernetes-operator

#1591 Change category for community Seldon 1.1.0
  community-operators/seldon-operator/1.1.0/seldon-operator.v1.1.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator

#1617 Update Hazelcast Operator Bundle for 0.2.1
  upstream-community-operators/hazelcast-enterprise/0.2.1/hazelcast-operator.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise/0.2.1/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise/hazelcast-enterprise.package.yaml
Labels: kubernetes-operator

#1621 egressip-ipam-operator patch
  community-operators/egressip-ipam-operator/0.1.1/egressip-ipam-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/egressip-ipam-operator.package.yaml
Labels: openshift-operator

#1622 Release Runtime Component Operator v0.5.0
  upstream-community-operators/runtime-component-operator/0.5.0/runtime-component-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/runtime-component-operator/0.5.0/runtimecomponents.app.stacks.crd.yaml
  upstream-community-operators/runtime-component-operator/runtime-component-operator.package.yaml
Labels: kubernetes-operator

#1624 Release Appsody Operator v0.5.0
  upstream-community-operators/appsody-operator/0.5.0/appsody-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/appsody-operator/0.5.0/appsodyapplications.appsody.dev.crd.yaml
  upstream-community-operators/appsody-operator/appsody-operator.package.yaml
Labels: kubernetes-operator

#1625 Open Liberty Operator 0.5.0
  upstream-community-operators/open-liberty/0.5.0/open-liberty-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/open-liberty/0.5.0/openlibertyapplications.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/0.5.0/openlibertydumps.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/0.5.0/openlibertytraces.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/open-liberty.package.yaml
Labels: kubernetes-operator

#1499 Update jaeger community operators to 1.17.1 retry
  community-operators/jaeger/1.17.1/jaeger.v1.17.1.clusterserviceversion.yaml
  community-operators/jaeger/1.17.1/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: openshift-operator

#1631 KEDA v1.4.1 upstream community operator
  upstream-community-operators/keda/1.4.1/keda.v1.4.1.clusterserviceversion.yaml
  upstream-community-operators/keda/1.4.1/kedacontrollers.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.4.1/scaledobjects.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.4.1/triggerauthentications.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/keda.package.yaml
Labels: kubernetes-operator

#1630 KEDA v1.4.1 community operator
  community-operators/keda/1.4.1/keda.v1.4.1.clusterserviceversion.yaml
  community-operators/keda/1.4.1/kedacontrollers.keda.k8s.io.crd.yaml
  community-operators/keda/1.4.1/scaledobjects.keda.k8s.io.crd.yaml
  community-operators/keda/1.4.1/triggerauthentications.keda.k8s.io.crd.yaml
  community-operators/keda/keda.package.yaml
Labels: openshift-operator

#1629 [Community] Adding wso2am-operator v1.0.1
  community-operators/wso2am-operator/1.0.0/apimanagers.apim.wso2.com.crd.yaml
  community-operators/wso2am-operator/1.0.0/wso2am-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/wso2am-operator/1.0.1/apimanagers.apim.wso2.com.crd.yaml
  community-operators/wso2am-operator/1.0.1/wso2am-operator.v1.0.1.clusterserviceversion.yaml
  community-operators/wso2am-operator/wso2am-operator.package.yaml
Labels: openshift-operator

#1623 Add SnapScheduler operator (upstream-community-operators)
  upstream-community-operators/snapscheduler/1.1.1/snapscheduler.v1.1.1.clusterserviceversion.yaml
  upstream-community-operators/snapscheduler/1.1.1/snapshotschedules.snapscheduler.backube.crd.yaml
  upstream-community-operators/snapscheduler/snapscheduler.package.yaml
Labels: kubernetes-operator

#1604 Update Kong operator to v0.2.6
  upstream-community-operators/kong/0.2.0/kong.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.0/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.1/kong.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.1/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.2/kong.v0.2.2.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.2/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.3/kong.v0.2.3.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.3/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.4/kong.v0.2.4.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.4/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.5/kong.v0.2.5.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.5/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.6/kong.v0.2.6.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.6/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/kong.package.yaml
Labels: kubernetes-operator

#1611 Updating Twistlock with Prisma Cloud Compute operator v1.0.0
  upstream-community-operators/prisma-cloud-compute-console-operator/0.0.9/twistlock-console-operator.v0.0.9.clusterserviceversion.yaml
  upstream-community-operators/prisma-cloud-compute-console-operator/0.0.9/twistlockconsoles.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/prisma-cloud-compute-console-operator/1.0.0/charts.helm.k8s.io_prisma_consoles_crd.yaml
  upstream-community-operators/prisma-cloud-compute-console-operator/1.0.0/prisma-cloud-compute-console-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/prisma-cloud-compute-console-operator/prisma-cloud-compute-console-operator.package.yaml
Labels: kubernetes-operator

#1653 Update server to version 6.0.3 and capabilities
  upstream-community-operators/couchbase-enterprise/1.2.2/couchbase-v1.2.2.clusterserviceversion.yaml
Labels: kubernetes-operator

#1640 Added new podium operator v1.0.2
  community-operators/podium-operator/1.0.2/podia.podium.com.crd.yaml
  community-operators/podium-operator/1.0.2/podium-operator.v1.0.2.clusterserviceversion.yaml
  community-operators/podium-operator/podium-operator.package.yaml
Labels: openshift-operator

#1641 Update eclipse-che operator for kubernetes to release 7.12.0
  upstream-community-operators/eclipse-che/7.12.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.12.0/eclipse-che.v7.12.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1642 Update eclipse-che operator for openshift to release 7.12.0
  community-operators/eclipse-che/7.12.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.12.0/eclipse-che.v7.12.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1643 add OpenShift Hive operator 1.0.3
  community-operators/openshift-hive/1.0.3/hive-operator.v1.0.3.clusterserviceversion.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_checkpoint.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_clusterdeployment.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_clusterdeprovision.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_clusterimageset.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_clusterprovision.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_clusterstate.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_dnszone.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_hiveconfig.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_machinepool.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_machinepoolnamelease.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_selectorsyncidentityprovider.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_selectorsyncset.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_syncidentityprovider.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_syncset.yaml
  community-operators/openshift-hive/1.0.3/hive_v1_syncsetinstance.yaml
  community-operators/openshift-hive/hive.package.yaml
Labels: openshift-operator

#1644 add OpenShift Hive operator 1.0.3 for upstream
  upstream-community-operators/openshift-hive/1.0.3/hive-operator.v1.0.3.clusterserviceversion.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_checkpoint.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_clusterdeployment.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_clusterdeprovision.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_clusterimageset.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_clusterprovision.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_clusterstate.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_dnszone.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_hiveconfig.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_machinepool.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_machinepoolnamelease.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_selectorsyncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_selectorsyncset.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_syncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_syncset.yaml
  upstream-community-operators/openshift-hive/1.0.3/hive_v1_syncsetinstance.yaml
  upstream-community-operators/openshift-hive/hive.package.yaml
Labels: kubernetes-operator

#1645 Update IBM Cloud Operator to v0.1.8 - community operators
  community-operators/ibmcloud-operator/0.1.8/ibmcloud_operator.v0.1.8.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/0.1.8/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/0.1.8/ibmcloud_operator_v1alpha1_service.crd.yaml
  community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: openshift-operator

#1646 Update IBM Cloud Operator to v0.1.8 - upstream
  upstream-community-operators/ibmcloud-operator/0.1.8/ibmcloud_operator.v0.1.8.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/0.1.8/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.8/ibmcloud_operator_v1alpha1_service.crd.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: kubernetes-operator

#1647 Add OpenShift-Pipelines-Operator v0.11.2 CSV
  community-operators/openshift-pipelines-operator/0.11.2/openshift-pipelines-operator.v0.11.2.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.11.2/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator

#1635 KOGITO-2006] - Release Kogito Operator/CLI 0.10.0
  community-operators/kogito-operator/0.10.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.10.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.10.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.10.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.10.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.10.0/kogito-operator.v0.10.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator

#1654 Remove halkyon operator not longer supported on ocp4
  community-operators/halkyon/0.1.3/capabilities.halkyon.io.crd.yaml
  community-operators/halkyon/0.1.3/components.halkyon.io.crd.yaml
  community-operators/halkyon/0.1.3/halkyon.v0.1.3.clusterserviceversion.yaml
  community-operators/halkyon/0.1.3/links.halkyon.io.crd.yaml
  community-operators/halkyon/0.1.9/capabilities.halkyon.io.crd.yaml
  community-operators/halkyon/0.1.9/components.halkyon.io.crd.yaml
  community-operators/halkyon/0.1.9/halkyon.v0.1.9.clusterserviceversion.yaml
  community-operators/halkyon/0.1.9/links.halkyon.io.crd.yaml
  community-operators/halkyon/halkyon.package.yaml
Labels: openshift-operator

#1638 Updating NeuVector Community Operator
  community-operators/neuvector/1.0.1/neuvector-operator.crd.yaml
  community-operators/neuvector/1.0.1/neuvector-operator.v1.0.1.clusterserviceversion.yaml
  community-operators/neuvector/neuvector-operator.package.yaml
Labels: openshift-operator

#1633 Add IBM Block CSI
  community-operators/ibm-block-csi-operator/1.0.0/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator/1.0.0/ibm-block-csi-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator/1.1.0/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator/1.1.0/ibm-block-csi-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator/ibm-block-csi-operator.package.yaml
Labels: openshift-operator

#1632 Add IBM Block CSI to upstream
  upstream-community-operators/ibm-block-csi-operator/1.0.0/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator/1.0.0/ibm-block-csi-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator/1.1.0/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator/1.1.0/ibm-block-csi-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator/ibm-block-csi-operator.package.yaml
Labels: kubernetes-operator

#1616 Deprecate KnativeEventing in favor of the Serverless operator
  community-operators/knative-eventing-operator/0.13.0/knative-eventing-operator.v0.13.0.clusterserviceversion-v0.13.0.yaml
Labels: openshift-operator

#1614 [Upstream Community] Keycloak Operator unification
  upstream-community-operators/keycloak/7.0.1/keycloak-operator.v7.0.1.clusterserviceversion.yaml
  upstream-community-operators/keycloak/8.0.1/keycloak-operator.v8.0.1.clusterserviceversion.yaml
  upstream-community-operators/keycloak/8.0.1/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/8.0.1/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/8.0.1/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/8.0.1/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/8.0.1/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/8.0.2/keycloak-operator.v8.0.2.clusterserviceversion.yaml
  upstream-community-operators/keycloak/9.0.0/keycloak-operator.v9.0.0.clusterserviceversion.yaml
  upstream-community-operators/keycloak/9.0.2/keycloak-operator.v9.0.2.clusterserviceversion.yaml
  upstream-community-operators/keycloak/9.0.2/keycloakbackups.keycloak.org.crd.yaml
Labels: kubernetes-operator

#1613 [Community] Keycloak Operator unification
  community-operators/keycloak/7.0.1/keycloak-operator.v7.0.1.clusterserviceversion.yaml
  community-operators/keycloak/8.0.1/keycloak-operator.v8.0.1.clusterserviceversion.yaml
  community-operators/keycloak/8.0.1/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak/8.0.1/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak/8.0.1/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak/8.0.1/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak/8.0.1/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak/8.0.2/keycloak-operator.v8.0.2.clusterserviceversion.yaml
  community-operators/keycloak/8.0.2/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak/8.0.2/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak/8.0.2/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak/8.0.2/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak/8.0.2/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak/9.0.0/keycloak-operator.v9.0.0.clusterserviceversion.yaml
  community-operators/keycloak/9.0.2/keycloak-operator.v9.0.2.clusterserviceversion.yaml
  community-operators/keycloak/9.0.2/keycloakbackups.keycloak.org.crd.yaml
Labels: openshift-operator

#1656 ArgoCD Operator Helm 0.0.5
  upstream-community-operators/argocd-operator-helm/0.0.4/argocd-operator-helm.v0.0.4.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator-helm/0.0.4/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator-helm/0.0.5/argocd-operator-helm.v0.0.5.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator-helm/0.0.5/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator-helm/argocd-operator-helm.package.yaml
Labels: kubernetes-operator

#1655 ArgoCD Operator Helm 0.0.5
  community-operators/argocd-operator-helm/0.0.4/argocd-operator-helm.v0.0.4.clusterserviceversion.yaml
  community-operators/argocd-operator-helm/0.0.4/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator-helm/0.0.5/argocd-operator-helm.v0.0.5.clusterserviceversion.yaml
  community-operators/argocd-operator-helm/0.0.5/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator-helm/argocd-operator-helm.package.yaml
Labels: openshift-operator
