Repository operator-framework/community-operators, pull requests merged in 2020-07, with the labels that each got.

#1922 IBM Block CSI update to v1.2.0
  community-operators/ibm-block-csi-operator/1.2.0/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator/1.2.0/ibm-block-csi-operator.v1.2.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator/ibm-block-csi-operator.package.yaml
Labels: openshift-operator

#1929 Infinispan manifests for 2.0.0.Final release
  upstream-community-operators/infinispan/2.0.1/infinispan-operator.v2.0.1.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.0.1/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.0.1/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#1934 Add prometheus-exporter-operator v0.2.0 [community-operators]
  community-operators/prometheus-exporter-operator/0.2.0/monitoring.3scale.net_prometheusexporters_crd.yaml
  community-operators/prometheus-exporter-operator/0.2.0/prometheus-exporter-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/prometheus-exporter-operator/prometheus-exporter-operator.package.yaml
Labels: openshift-operator

#1933 Upgrade Knative Camel Operator to 0.15.0
  community-operators/knative-camel-operator/0.15.0/camelsources.sources.knative.dev.crd.yaml
  community-operators/knative-camel-operator/0.15.0/knative-camel-operator.v0.15.0.clusterserviceversion.yaml
  community-operators/knative-camel-operator/knative-camel-operator.package.yaml
Labels: openshift-operator

#1914 New IBM Cloud IAM Operator v0.1.0 - upstream
  upstream-community-operators/ibmcloud-iam-operator/0.1.0/accessgroups.ibmcloud.ibm.com.crd.yaml
  upstream-community-operators/ibmcloud-iam-operator/0.1.0/accesspolicies.ibmcloud.ibm.com.crd.yaml
  upstream-community-operators/ibmcloud-iam-operator/0.1.0/customroles.ibmcloud.ibm.com.crd.yaml
  upstream-community-operators/ibmcloud-iam-operator/0.1.0/ibmcloud-iam-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-iam-operator/ibmcloud-iam-operator.package.yaml
Labels: kubernetes-operator

#1915 New IBM Cloud IAM Operator v0.1.0 - community
  community-operators/ibmcloud-iam-operator/0.1.0/accessgroups.ibmcloud.ibm.com.crd.yaml
  community-operators/ibmcloud-iam-operator/0.1.0/accesspolicies.ibmcloud.ibm.com.crd.yaml
  community-operators/ibmcloud-iam-operator/0.1.0/customroles.ibmcloud.ibm.com.crd.yaml
  community-operators/ibmcloud-iam-operator/0.1.0/ibmcloud-iam-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/ibmcloud-iam-operator/ibmcloud-iam-operator.package.yaml
Labels: openshift-operator

#1916 New Dell CSI Operator [upstream-community-operators]
  upstream-community-operators/dell-csi-operator/1.0.0/csiisilons.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.0.0/csipowermaxes.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.0.0/csiunities.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.0.0/csivxflexoses.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.0.0/dell-csi-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/dell-csi-operator/1.0.0/volumesnapshotclasses.snapshot.storage.k8s.io.crd.yaml
  upstream-community-operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: kubernetes-operator

#1937 Update Upstream argocd-operator to v0.0.11
  upstream-community-operators/argocd-operator/0.0.11/argocd-operator.v.0.0.11.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/0.0.11/argoproj.io_applications_crd.yaml
  upstream-community-operators/argocd-operator/0.0.11/argoproj.io_appprojects_crd.yaml
  upstream-community-operators/argocd-operator/0.0.11/argoproj.io_argocdexports_crd.yaml
  upstream-community-operators/argocd-operator/0.0.11/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator/argocd-operator.package.yaml
Labels: kubernetes-operator

#1938 Update OpenShift argocd-operator to v0.0.11
  community-operators/argocd-operator/0.0.11/argocd-operator.v.0.0.11.clusterserviceversion.yaml
  community-operators/argocd-operator/0.0.11/argoproj.io_applications_crd.yaml
  community-operators/argocd-operator/0.0.11/argoproj.io_appprojects_crd.yaml
  community-operators/argocd-operator/0.0.11/argoproj.io_argocdexports_crd.yaml
  community-operators/argocd-operator/0.0.11/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator/argocd-operator.package.yaml
Labels: openshift-operator

#1931 Akka Cluster Operator v1.0.0, upstream
  upstream-community-operators/akka-cluster-operator/1.0.0/akka-cluster-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/akka-cluster-operator/1.0.0/app_v1alpha1_akkacluster_crd.yaml
  upstream-community-operators/akka-cluster-operator/akka-cluster-operator.package.yaml
Labels: kubernetes-operator

#1928 aws-efs-operator 0.0.3
  community-operators/aws-efs-operator/0.0.3/aws-efs-operator.v0.0.3.clusterserviceversion.yaml
  community-operators/aws-efs-operator/0.0.3/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  community-operators/aws-efs-operator/aws-efs-operator.package.yaml
Labels: openshift-operator

#1913 Fix the Strimzi Kafka CR example for OCP 4.5 UI
  community-operators/strimzi-kafka-operator/0.18.0/strimzi-cluster-operator.v0.18.0.clusterserviceversion.yaml
Labels: openshift-operator

#1870 Upgrading ibm-specturm-scale-csi-operator to 2.0.0
  community-operators/ibm-spectrum-scale-csi-operator/2.0.0/csiscaleoperators.csi.ibm.com.crd.yaml
  community-operators/ibm-spectrum-scale-csi-operator/2.0.0/ibm-spectrum-scale-csi-operator.v2.0.0.clusterserviceversion.yaml
  community-operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: need-info, openshift-operator

#1871 Upgrading ibm-specturm-scale-csi-operator to 2.0.0
  upstream-community-operators/ibm-spectrum-scale-csi-operator/2.0.0/csiscaleoperators.csi.ibm.com.crd.yaml
  upstream-community-operators/ibm-spectrum-scale-csi-operator/2.0.0/ibm-spectrum-scale-csi-operator.v2.0.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: kubernetes-operator, need-info

#1952 Community argo cd 0.0.7
  community-operators/argocd-operator-helm/0.0.7/argocd-operator-helm.v0.0.7.clusterserviceversion.yaml
  community-operators/argocd-operator-helm/0.0.7/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator-helm/argocd-operator-helm.package.yaml
Labels: openshift-operator

#1943 Update eclipse-che operator for kubernetes to release 7.15.1
  upstream-community-operators/eclipse-che/7.15.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.15.1/eclipse-che.v7.15.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1940 MongoDB Enterprise Operator Release 1.5.5
  upstream-community-operators/mongodb-enterprise/1.5.5/mongodb-enterprise.v1.5.5.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.5.5/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.5.5/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.5.5/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator

#1941 Update Seldon Community Operator to 1.2.1
  community-operators/seldon-operator/1.2.1/machinelearning.seldon.io_seldondeployment_crd.yaml
  community-operators/seldon-operator/1.2.1/seldon-operator.v1.2.1.clusterserviceversion.yaml
  community-operators/seldon-operator/seldon-operator.package.yaml
Labels: openshift-operator

#1932 Add lib-bucket-provisioner v2
  community-operators/lib-bucket-provisioner/2.0.0/lib-bucket-provisioner.v2.0.0.clusterserviceversion.yaml
  community-operators/lib-bucket-provisioner/lib-bucket-provisioner.package.yaml
Labels: openshift-operator

#1951 Upstream community argo cd 0.0.7
  upstream-community-operators/argocd-operator-helm/0.0.7/argocd-operator-helm.v0.0.7.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator-helm/0.0.7/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator-helm/argocd-operator-helm.package.yaml
Labels: kubernetes-operator

#1944 Update eclipse-che operator for openshift to release 7.15.1
  community-operators/eclipse-che/7.15.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.15.1/eclipse-che.v7.15.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1942 Update Seldon Upstream Operator to 1.2.1
  upstream-community-operators/seldon-operator/1.2.1/machinelearning.seldon.io_seldondeployment_crd.yaml
  upstream-community-operators/seldon-operator/1.2.1/seldon-operator.v1.2.1.clusterserviceversion.yaml
  upstream-community-operators/seldon-operator/seldon-operator.package.yaml
Labels: kubernetes-operator

#1925 Upgrade Camel K to 1.0.1
  community-operators/camel-k/1.0.1/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.1/camel-k.v1.0.1.clusterserviceversion.yaml
  community-operators/camel-k/1.0.1/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.1/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.1/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.1/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: openshift-operator

#1960 remove quay ahead of rename
  upstream-community-operators/quay/1.0.2/quay.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/quay/1.0.2/quayecosystems.redhatcop.redhat.io.crd.yaml
  upstream-community-operators/quay/1.1.0/quay.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/quay/1.1.0/redhatcop.redhat.io_quayecosystems_crd.yaml
  upstream-community-operators/quay/1.1.1/quay.v1.1.1.clusterserviceversion.yaml
  upstream-community-operators/quay/1.1.1/redhatcop.redhat.io_quayecosystems_crd.yaml
  upstream-community-operators/quay/quay.package.yaml
Labels: kubernetes-operator

#1961 remove container-security-operator ahead of rename
  community-operators/container-security-operator/1.0.0/container-security-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.0/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/1.0.1/container-security-operator.v1.0.1.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.1/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/1.0.2/container-security-operator.v1.0.2.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.2/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/1.0.3/container-security-operator.v1.0.3.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.3/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/1.0.4/container-security-operator.v1.0.4.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.4/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/1.0.5/container-security-operator.v1.0.5.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.5/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  community-operators/container-security-operator/container-security-operator.package.yaml
  upstream-community-operators/container-security-operator/1.0.0/container-security-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.0/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/1.0.1/container-security-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.1/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/1.0.2/container-security-operator.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.2/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/1.0.3/container-security-operator.v1.0.3.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.3/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/1.0.4/container-security-operator.v1.0.4.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.4/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/1.0.5/container-security-operator.v1.0.5.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.5/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/container-security-operator.package.yaml
Labels: kubernetes-operator, openshift-operator

#1950 Update liveness probe for v0.0.6 [ build v2 ]
  community-operators/kubernetes-build-api/0.0.6/buildv2-operator.clusterserviceversion.yaml
Labels: openshift-operator

#1959 add KEDA Upstream operator v1.5.0
  upstream-community-operators/keda/1.5.0/keda.v1.5.0.clusterserviceversion.yaml
  upstream-community-operators/keda/1.5.0/kedacontrollers.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.5.0/scaledobjects.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.5.0/triggerauthentications.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/keda.package.yaml
Labels: kubernetes-operator

#1965 Add prometheus-exporter-operator v0.2.0 [upstream-community-operators]
  upstream-community-operators/prometheus-exporter-operator/0.2.0/monitoring.3scale.net_prometheusexporters_crd.yaml
  upstream-community-operators/prometheus-exporter-operator/0.2.0/prometheus-exporter-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/prometheus-exporter-operator/prometheus-exporter-operator.package.yaml
Labels: kubernetes-operator

#1970 [upstream] Releasing Kogito Operator 0.12.0
  upstream-community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitoapps_crd.yaml
  upstream-community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitobuilds_crd.yaml
  upstream-community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitodataindices_crd.yaml
  upstream-community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitoinfras_crd.yaml
  upstream-community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  upstream-community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  upstream-community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  upstream-community-operators/kogito-operator/0.12.0/kogito-operator.v0.12.0.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/kogito-operator.package.yaml
Labels: kubernetes-operator

#1962 1.1.2 release project-quay replacing quay
  upstream-community-operators/project-quay/1.1.2/project-quay.v1.1.2.clusterserviceversion.yaml
  upstream-community-operators/project-quay/1.1.2/redhatcop.redhat.io_quayecosystems_crd.yaml
  upstream-community-operators/project-quay/project-quay.package.yaml
Labels: kubernetes-operator

#1963 1.0.6 project-quay-container-security-operator rename
  upstream-community-operators/project-quay-container-security-operator/1.0.6/container-security-operator.v1.0.6.clusterserviceversion.yaml
  upstream-community-operators/project-quay-container-security-operator/1.0.6/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/project-quay-container-security-operator/project-quay-container-security-operator.package.yaml
Labels: kubernetes-operator

#1968 aws-efs-operator 0.0.4: Fix roles from 0.0.3
  community-operators/aws-efs-operator/0.0.4/aws-efs-operator.v0.0.4.clusterserviceversion.yaml
  community-operators/aws-efs-operator/0.0.4/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  community-operators/aws-efs-operator/aws-efs-operator.package.yaml
Labels: openshift-operator

#1971 upgrade Multicluster subscription operator to V0.2.1
  community-operators/multicluster-operators-subscription/0.2.1/app.k8s.io_applications.yaml
  community-operators/multicluster-operators-subscription/0.2.1/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.1/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.1/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.1/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.1/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.1/multicluster-operators-subscription.v0.2.1.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#1969 [community] Releasing Kogito Operator 0.12.0
  community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitobuilds_crd.yaml
  community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.12.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  community-operators/kogito-operator/0.12.0/kogito-operator.v0.12.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator

#1972 Upgrade AtlasMap to 0.3.0 for community-operators
  community-operators/atlasmap-operator/0.3.0/atlasmap-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/atlasmap-operator/0.3.0/atlasmaps.atlasmap.io.crd.yaml
  community-operators/atlasmap-operator/atlasmap-operator.package.yaml
Labels: openshift-operator

#1918 New dell-csi-operator [community-operators]
  community-operators/dell-csi-operator/1.0.0/csiisilons.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.0.0/csipowermaxes.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.0.0/csiunities.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.0.0/csivxflexoses.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.0.0/dell-csi-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: openshift-operator

#1926 Upgrade Camel K to 1.0.1 in upstream operators
  upstream-community-operators/camel-k/1.0.1/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.1/camel-k.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.0.1/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.1/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.1/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.1/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator

#1974 Fixing nested dir structure
  upstream-community-operators/composable/0.1.3/composable_operator.v0.1.3.clusterserviceversion.yaml
  upstream-community-operators/composable/0.1.3/ibmcloud_operator_ibm_com.crd.yaml
Labels: kubernetes-operator

#1973 Upgrade AtlasMap to 0.3.0 for upstream-community-operators
  upstream-community-operators/atlasmap-operator/0.3.0/atlasmap-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/atlasmap-operator/0.3.0/atlasmaps.atlasmap.io.crd.yaml
  upstream-community-operators/atlasmap-operator/atlasmap-operator.package.yaml
Labels: kubernetes-operator

#1975 Update eclipse-che operator for kubernetes to release 7.15.2
  upstream-community-operators/eclipse-che/7.15.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.15.2/eclipse-che.v7.15.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1976 Update eclipse-che operator for openshift to release 7.15.2
  community-operators/eclipse-che/7.15.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.15.2/eclipse-che.v7.15.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1958 add KEDA operator v1.5.0
  community-operators/keda/1.5.0/keda.v1.5.0.clusterserviceversion.yaml
  community-operators/keda/1.5.0/kedacontrollers.keda.k8s.io.crd.yaml
  community-operators/keda/1.5.0/scaledobjects.keda.k8s.io.crd.yaml
  community-operators/keda/1.5.0/triggerauthentications.keda.k8s.io.crd.yaml
  community-operators/keda/keda.package.yaml
Labels: openshift-operator

#1977 Add ODH v0.7.0 release
  community-operators/opendatahub-operator/0.7.0/kfdef.apps.kubeflow.org.crd.yaml
  community-operators/opendatahub-operator/0.7.0/opendatahub-operator.v0.7.0.clusterserviceversion.yaml
  community-operators/opendatahub-operator/opendatahub-operator.package.yaml
Labels: openshift-operator

#1945 add route resources authorization to jenkins opertor service account
  community-operators/jenkins-operator/0.4.1-rc2/jenkins-operator.v0.4.1-rc2.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc2/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: openshift-operator

#1949 Add upstream Knative operator 0.15.1
  upstream-community-operators/knative-operator/0.15.1/knative-operator.v0.15.1.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.15.1/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.15.1/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-serving-operator.package.yaml
Labels: kubernetes-operator

#1948 openshift apicast-community-operator to v0.2.2
  community-operators/apicast-community-operator/0.2.2/apicast-community-operator.v0.2.2.clusterserviceversion.yaml
  community-operators/apicast-community-operator/0.2.2/apps_v1alpha1_apicast_crd.yaml
  community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: openshift-operator

#1985 Fix package filename of upstream Knative operator 0.15.1
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#1648 Add SnapScheduler operator (community-operators)
  community-operators/snapscheduler/1.1.1/snapscheduler.v1.1.1.clusterserviceversion.yaml
  community-operators/snapscheduler/1.1.1/snapshotschedules.snapscheduler.backube.crd.yaml
  community-operators/snapscheduler/snapscheduler.package.yaml
Labels: openshift-operator

#1966 Update Apicurio Registry Operator to 0.0.3-v1.2.3.final (upstream)
  upstream-community-operators/apicurio-registry/0.0.3-v1.2.3.final/apicur.io_apicurioregistries_crd.yaml
  upstream-community-operators/apicurio-registry/0.0.3-v1.2.3.final/apicurio-registry.v0.0.3-v1.2.3.final.clusterserviceversion.yaml
  upstream-community-operators/apicurio-registry/apicurio-registry-operator.package.yaml
Labels: kubernetes-operator, need-info

#1991 New channel due to missing replaces
  community-operators/etcd/etcd.package.yaml
Labels: lgtm, openshift-operator

#1990 New channel due to missing replaces
  upstream-community-operators/etcd/etcd.package.yaml
Labels: kubernetes-operator, lgtm

#1967 Update Apicurio Registry Operator to 0.0.3-v1.2.3.final (community)
  community-operators/apicurio-registry/0.0.3-v1.2.3.final/apicur.io_apicurioregistries_crd.yaml
  community-operators/apicurio-registry/0.0.3-v1.2.3.final/apicurio-registry.v0.0.3-v1.2.3.final.clusterserviceversion.yaml
  community-operators/apicurio-registry/apicurio-registry-operator.package.yaml
Labels: need-info, openshift-operator

#2005 MongoDB operator release 1.6.0
  upstream-community-operators/mongodb-enterprise/1.6.0/mongodb-enterprise.v1.6.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.6.0/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.6.0/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.6.0/opsmanagers.mongodb.com.crd.yaml
Labels: kubernetes-operator

#2001 update multicluster subscription operator to V0.2.2
  community-operators/multicluster-operators-subscription/0.2.2/app.k8s.io_applications.yaml
  community-operators/multicluster-operators-subscription/0.2.2/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.2/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.2/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.2/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.2/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.2/multicluster-operators-subscription.v0.2.2.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#2019 Fix rights for route and ingress. Update to 2.0.2
  community-operators/infinispan/2.0.2/infinispan-operator.v2.0.2.clusterserviceversion.yaml
  community-operators/infinispan/2.0.2/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.0.2/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: openshift-operator

#2008 Update OpenShift argocd-operator to v0.0.12
  community-operators/argocd-operator/0.0.12/argocd-operator.v.0.0.12.clusterserviceversion.yaml
  community-operators/argocd-operator/0.0.12/argoproj.io_applications_crd.yaml
  community-operators/argocd-operator/0.0.12/argoproj.io_appprojects_crd.yaml
  community-operators/argocd-operator/0.0.12/argoproj.io_argocdexports_crd.yaml
  community-operators/argocd-operator/0.0.12/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator/argocd-operator.package.yaml
Labels: openshift-operator

#2017 IBM Block CSI update upstream to v1.2.0
  upstream-community-operators/ibm-block-csi-operator/1.2.0/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator/1.2.0/ibm-block-csi-operator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator/ibm-block-csi-operator.package.yaml
Labels: kubernetes-operator

#2018 Fix rights for route and ingress. Update to 2.0.2
  upstream-community-operators/infinispan/2.0.2/infinispan-operator.v2.0.2.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.0.2/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.0.2/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#2015 Update eclipse-che operator for kubernetes to release 7.16.0
  upstream-community-operators/eclipse-che/7.16.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.16.0/eclipse-che.v7.16.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2009 Update hazelcast-operator to 0.3.1
  upstream-community-operators/hazelcast-operator/0.3.1/hazelcast-operator.v0.3.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-operator/0.3.1/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: kubernetes-operator

#2003 New Operator based on Hazelcast Jet Enterprise 4.2
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.2.0/hazelcast-jet-enterprise-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.2.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/hazelcast-jet-enterprise-operator.package.yaml
Labels: kubernetes-operator

#2002 New Operator based on Hazelcast Jet 4.2
  upstream-community-operators/hazelcast-jet-operator/0.2.0/hazelcast-jet-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-operator/0.2.0/hazelcastjets.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: kubernetes-operator

#1982 Channel due to missing replaces
  upstream-community-operators/awss3operator/1.0.1/awss3operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/awss3operator/awss3-operator-registry.package.yaml
Labels: kubernetes-operator

#1983 New channel due to missing replaces
  upstream-community-operators/banzaicloud-kafka-operator/0.6.1/banzaicloud-kafka-operator.0.6.1.clusterserviceversion.yaml
  upstream-community-operators/banzaicloud-kafka-operator/banzaicloud-kafka-operator.package.yaml
Labels: kubernetes-operator

#1984 New channel due to missing replaces
  community-operators/awss3-operator-registry/awss3-operator-registry.package.yaml
Labels: openshift-operator

#1992 New channel due to missing replaces
  upstream-community-operators/grafana-operator/3.2.0/grafana-operator.v3.2.0.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: kubernetes-operator

#1994 New channel due to missing replaces
  upstream-community-operators/couchbase-enterprise/1.1.0/couchbase-v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/couchbase.package.yaml
Labels: kubernetes-operator

#1997 New channel due to missing replaces
  upstream-community-operators/litmus/1.3.0/chaosoperator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/litmus/litmuschaos.package.yaml
Labels: kubernetes-operator

#1998 New channel due to missing replaces
  upstream-community-operators/percona-server-mongodb/percona-server-mongodb-operator.package.yaml
Labels: kubernetes-operator

#1996 Removed unused versions
  upstream-community-operators/kong/0.2.0/kong.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.0/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.1/kong.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.1/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.2/kong.v0.2.2.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.2/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.3/kong.v0.2.3.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.3/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.4/kong.v0.2.4.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.4/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/0.2.5/kong.v0.2.5.clusterserviceversion.yaml
  upstream-community-operators/kong/0.2.5/kongs.charts.helm.k8s.io.crd.yaml
Labels: kubernetes-operator

#2000 Community, rename old CSVs to standard name
  community-operators/knative-kafka-operator/0.10.0/knative-kafka-operator.v0.10.0.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/0.11.2/knative-kafka-operator.v0.11.2.clusterserviceversion.yaml
Labels: openshift-operator

#2025 Update upstream PostgreSQL Operator to v4.4.0
  upstream-community-operators/postgresql/4.4.0/pgclusters.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.4.0/pgpolicies.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.4.0/pgreplicas.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.4.0/pgtasks.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.4.0/postgresoperator.v4.4.0.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator

#2027 Runtime Component Operator 0.7.0
  upstream-community-operators/runtime-component-operator/0.7.0/runtime-component-operator.v0.7.0.clusterserviceversion.yaml
  upstream-community-operators/runtime-component-operator/0.7.0/runtimecomponents.app.stacks.crd.yaml
  upstream-community-operators/runtime-component-operator/runtime-component-operator.package.yaml
Labels: kubernetes-operator

#2004 jenkins operator 0.4.1-rc3
  community-operators/jenkins-operator/0.4.1-rc3/jenkins-operator.v0.4.1-rc3.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc3/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc3/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: openshift-operator

#2034 Add creation dates for Jenkins Operator
  community-operators/jenkins-operator/0.3.31/jenkins-operator.v0.3.31.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.0/jenkins-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc1/jenkins-operator.v0.4.1-rc1.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc2/jenkins-operator.v0.4.1-rc2.clusterserviceversion.yaml
Labels: openshift-operator

#1989 feat: add credstash operator bundle to upstream operators
  upstream-community-operators/credstash-operator/1.13.0/credstash-operator.v1.13.0.clusterserviceversion.yaml
  upstream-community-operators/credstash-operator/1.13.0/credstashsecrets.credstash.ouzi.tech.crd.yaml
  upstream-community-operators/credstash-operator/credstash-operator.package.yaml
Labels: kubernetes-operator

#2039 New channel due to missing replaces
  upstream-community-operators/kubemq-operator/kubemq-operator.package.yaml
Labels: kubernetes-operator

#2041 New channel due to missing replaces (open liberty)
  upstream-community-operators/open-liberty/open-liberty.package.yaml
Labels: kubernetes-operator

#2044 New channel due to missing replaces (synopsys)
  upstream-community-operators/synopsys/synopsys.package.yaml
Labels: kubernetes-operator

#2040 New channel due to missing replaces (mongodb-enterprise)
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator

#2045 Fixed latest version in stable channel (noobaa-operator)
  upstream-community-operators/noobaa-operator/noobaa-operator.package.yaml
Labels: kubernetes-operator

#2047 Update upstream Elastic Cloud ECK to v1.2.0
  upstream-community-operators/elastic-cloud-eck/1.2.0/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.2.0/beats.beat.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.2.0/elastic-cloud-eck.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud-eck/1.2.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.2.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.2.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator

#2048 Add PMEM-CSI operator to upstream community operators
  upstream-community-operators/pmem-csi-operator/0.7.0/pmem-csi.intel.com_deployments_crd.yaml
  upstream-community-operators/pmem-csi-operator/0.7.0/pmem-csi.v0.7.0.clusterserviceversion.yaml
  upstream-community-operators/pmem-csi-operator/pmem-csi-operator.package.yaml
Labels: kubernetes-operator

#2049 Remove StorageOS v1.0.0 to fix the update graph
  upstream-community-operators/storageos/1.0.0/storageos.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/1.0.0/storageoscluster.crd.yaml
  upstream-community-operators/storageos/1.0.0/storageosjob.crd.yaml
  upstream-community-operators/storageos/1.0.0/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/1.0.0/storageosupgrade.crd.yaml
Labels: kubernetes-operator

#2042 New channel due to missing replaces (postgresql)
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator

#1986 Upstream knative operator 0.15.2
  upstream-community-operators/knative-operator/0.15.2/knative-operator.v0.15.2.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.15.2/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.15.2/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#2036 Update description of Kubeflow operator
  upstream-community-operators/kubeflow/1.0.0/kubeflow.v1.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#2007 Update Upstream argocd-operator to v0.0.12
  upstream-community-operators/argocd-operator/0.0.12/argocd-operator.v.0.0.12.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/0.0.12/argoproj.io_applications_crd.yaml
  upstream-community-operators/argocd-operator/0.0.12/argoproj.io_appprojects_crd.yaml
  upstream-community-operators/argocd-operator/0.0.12/argoproj.io_argocdexports_crd.yaml
  upstream-community-operators/argocd-operator/0.0.12/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator/argocd-operator.package.yaml
Labels: kubernetes-operator

#2050 Channel for Open Liberty operator
  upstream-community-operators/open-liberty/open-liberty.package.yaml
Labels: kubernetes-operator

#2055 Fixing csvname in package file (awss3-operator-registry)
  community-operators/awss3-operator-registry/awss3-operator-registry.package.yaml
Labels: openshift-operator

#2063 cert-utils-operator new version
  community-operators/cert-utils-operator/0.2.0/cert-utils-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/cert-utils-operator/cert-utils-operator.package.yaml
Labels: openshift-operator

#1987 Upstream knative eventing operator 0.15.3
  upstream-community-operators/knative-operator/0.15.3/knative-operator.v0.15.3.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.15.3/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.15.3/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#2070 Keycloak Operator 11.0.0 (Upstream Community)
  upstream-community-operators/keycloak-operator/11.0.0/keycloak-operator.v11.0.0.clusterserviceversion.yaml
  upstream-community-operators/keycloak-operator/11.0.0/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/11.0.0/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/11.0.0/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/11.0.0/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/11.0.0/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/keycloak.package.yaml
Labels: kubernetes-operator

#2067 Update prometheus operator to 0.37.0
  community-operators/prometheus/0.37.0/alertmanagers.monitoring.coreos.com.crd.yaml
  community-operators/prometheus/0.37.0/podmonitors.monitoring.coreos.com.crd.yaml
  community-operators/prometheus/0.37.0/prometheuses.monitoring.coreos.com.crd.yaml
  community-operators/prometheus/0.37.0/prometheusoperator.0.37.0.clusterserviceversion.yaml
  community-operators/prometheus/0.37.0/prometheusrules.monitoring.coreos.com.crd.yaml
  community-operators/prometheus/0.37.0/servicemonitors.monitoring.coreos.com.crd.yaml
  community-operators/prometheus/0.37.0/thanosrulers.monitoring.coreos.com.crd.yaml
  community-operators/prometheus/prometheus.package.yaml
Labels: ok-to-test, openshift-operator

#2060 New channel due to missing replaces(aws-efs-operator)
  community-operators/aws-efs-operator/0.0.2/aws-efs-operator.v0.0.2.clusterserviceversion.yaml
Labels: openshift-operator

#2061 New channel due to missing replaces(kogito-operator)
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator

#2066 New channel due to missing replaces(syndesis)
  community-operators/syndesis/syndesis.package.yaml
Labels: openshift-operator

#2077 fix prometheus-operator image sha from 0.32.0 to 0.37.0
  community-operators/prometheus/0.37.0/prometheusoperator.0.37.0.clusterserviceversion.yaml
Labels: openshift-operator

#2062 New channel due to missing replaces(must-gather-operator)
  community-operators/must-gather-operator/0.1.1/must-gather-operator.v0.1.1.clusterserviceversion.yaml
Labels: openshift-operator

#2064 New channel due to missing replaces(postgresql community)
  community-operators/postgresql/4.1.0/postgresoperator.v4.1.0.clusterserviceversion.yaml
  community-operators/postgresql/4.2.0/postgresoperator.v4.2.0.clusterserviceversion.yaml
Labels: openshift-operator

#2076 Upgrade Camel K Operator to 1.1.0 (upstream)
  upstream-community-operators/camel-k/1.1.0/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.1.0/camel-k.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.1.0/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.1.0/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.1.0/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.1.0/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator

#2075 Upgrade Camel K Operator to 1.1.0
  community-operators/camel-k/1.1.0/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.1.0/camel-k.v1.1.0.clusterserviceversion.yaml
  community-operators/camel-k/1.1.0/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.1.0/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.1.0/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.1.0/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: openshift-operator

#2071 Keycloak Operator (Community) 11.0.0
  community-operators/keycloak/11.0.0/keycloak-operator.v11.0.0.clusterserviceversion.yaml
  community-operators/keycloak/11.0.0/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak/11.0.0/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak/11.0.0/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak/11.0.0/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak/11.0.0/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak/keycloak.package.yaml
Labels: openshift-operator

#2072 Added displayName to Cache crd
  upstream-community-operators/infinispan/2.0.2/infinispan-operator.v2.0.2.clusterserviceversion.yaml
Labels: kubernetes-operator

#2074 update ditto-operator to 0.1.1
  upstream-community-operators/ditto-operator/0.1.1/ditto-operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/ditto-operator/0.1.1/ditto.yaml
  upstream-community-operators/ditto-operator/ditto-operator.package.yaml
Labels: kubernetes-operator

#2065 New channel due to missing replaces(skydive-operator)
  community-operators/skydive-operator/0.0.12/skydive-operator.v0.0.12.clusterserviceversion.yaml
Labels: openshift-operator

#2068 keepalived-operator new version
  community-operators/keepalived-operator/0.2.0/keepalived-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/keepalived-operator/0.2.0/redhatcop.redhat.io_keepalivedgroups_crd.yaml
  community-operators/keepalived-operator/keepalived-operator.package.yaml
Labels: openshift-operator

#2082 update service binding operator to 0.1.1-352
  community-operators/service-binding-operator/0.1.1-352/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.1-352/service-binding-operator.v0.1.1-352.clusterserviceversion.yaml
  community-operators/service-binding-operator/service-binding-operator.package.yaml
Labels: openshift-operator

#1760 add upstream NFD Operator
  upstream-community-operators/nfd-operator/0.1.0/nfd-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/nfd-operator/0.1.0/nfd.crd.yaml
  upstream-community-operators/nfd-operator/nfd.package.yaml
Labels: kubernetes-operator

#2073 Added displayName to Cache crd
  community-operators/infinispan/2.0.2/infinispan-operator.v2.0.2.clusterserviceversion.yaml
Labels: openshift-operator

#2069 namespace-configuration-operator new version
  community-operators/namespace-configuration-operator/0.2.1/namespace-configuration-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.1/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.1/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.1/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/namespace-configuration-operator.package.yaml
Labels: openshift-operator

#2087 Added OpenShift enc-key-sync-operator.v0.0.1
  community-operators/enc-key-sync-operator/0.0.1/enc-key-sync-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/enc-key-sync-operator/0.0.1/oci.crypt_enckeysyncs_crd.yaml
  community-operators/enc-key-sync-operator/enc-key-sync-operator.package.yaml
Labels: openshift-operator

#2091 cert-utils-operator new version
  community-operators/cert-utils-operator/0.2.1/cert-utils-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/cert-utils-operator/cert-utils-operator.package.yaml
Labels: openshift-operator

#2083 update ditto-operator to 0.1.1
  community-operators/ditto-operator/0.1.1/ditto-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/ditto-operator/0.1.1/ditto.yaml
  community-operators/ditto-operator/ditto-operator.package.yaml
Labels: openshift-operator

#2088 Add Strimzi 0.19.0 to Community Operators
  community-operators/strimzi-kafka-operator/0.19.0/kafkabridges.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.19.0/kafkaconnectors.kafka.strimzi.io.yaml
  community-operators/strimzi-kafka-operator/0.19.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.19.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.19.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.19.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.19.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.19.0/kafkas.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.19.0/kafkatopics.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.19.0/kafkausers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.19.0/strimzi-cluster-operator.v0.19.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.19.0/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.19.0/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.19.0/strimzitopicoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: openshift-operator

#2089 Add Strimzi 0.19.0 to Upstream Community Operators
  upstream-community-operators/strimzi-kafka-operator/0.19.0/kafkabridges.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/kafkaconnectors.kafka.strimzi.io.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/kafkas.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/kafkatopics.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/kafkausers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/strimzi-cluster-operator.v0.19.0.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/strimzientityoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/strimzikafkabroker.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.19.0/strimzitopicoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: kubernetes-operator

#2096 Fix Kafka Connect typo for Strimzi for Community Operators
  community-operators/strimzi-kafka-operator/0.17.0/strimzi-cluster-operator.v0.17.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.18.0/strimzi-cluster-operator.v0.18.0.clusterserviceversion.yaml
Labels: openshift-operator

#2097 Fix Kafka Connect typo for Strimzi for Upstream Community Operators
  upstream-community-operators/strimzi-kafka-operator/0.17.0/strimzi-cluster-operator.v0.17.0.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.18.0/strimzi-cluster-operator.v0.18.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#2106 Cockroach - multiple channels without default not supported, removed stable
  upstream-community-operators/cockroachdb/cockroachdb.package.yaml
Labels: kubernetes-operator

#2107 Cockroach - multiple channels without default not supported, removed stable
  community-operators/cockroachdb/cockroachdb.package.yaml
Labels: openshift-operator

#2093 Added k8s enc-key-sync-operator.v0.0.1
  upstream-community-operators/enc-key-sync-operator/0.0.1/enc-key-sync-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/enc-key-sync-operator/0.0.1/oci.crypt_enckeysyncs_crd.yaml
  upstream-community-operators/enc-key-sync-operator/enc-key-sync-operator.package.yaml
Labels: kubernetes-operator

#2102 Eunomia release 0.1.7
  upstream-community-operators/eunomia/0.1.7/eunomia.v0.1.7.clusterserviceversion.yaml
  upstream-community-operators/eunomia/0.1.7/gitopsconfigs.eunomia.kohls.io.crd.yaml
  upstream-community-operators/eunomia/eunomia.package.yaml
Labels: kubernetes-operator

#2110 Fix Kafka Connect typo for Strimzi 0.19.0 for Community Operators
  community-operators/strimzi-kafka-operator/0.19.0/strimzi-cluster-operator.v0.19.0.clusterserviceversion.yaml
Labels: openshift-operator

#2111 Fix Kafka Connect typo for Strimzi 0.19.0 for Upstream Community Oper…
  upstream-community-operators/strimzi-kafka-operator/0.19.0/strimzi-cluster-operator.v0.19.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#2109 Fail actions if not pending
  .github/workflows/release-trigger.yml
Labels: do-not-merge/hold

#2113 Renamed dir (enc-key-sync)
  community-operators/enc-key-sync/0.0.1/enc-key-sync-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/enc-key-sync/0.0.1/oci.crypt_enckeysyncs_crd.yaml
  community-operators/enc-key-sync/enc-key-sync-operator.package.yaml
  upstream-community-operators/enc-key-sync/0.0.1/enc-key-sync-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/enc-key-sync/0.0.1/oci.crypt_enckeysyncs_crd.yaml
  upstream-community-operators/enc-key-sync/enc-key-sync-operator.package.yaml
Labels: kubernetes-operator, openshift-operator

#2118 Stable for cockroachdb
  community-operators/cockroachdb/cockroachdb.package.yaml
  upstream-community-operators/cockroachdb/cockroachdb.package.yaml
Labels: kubernetes-operator, openshift-operator

#2117 Update community-operators enmasse to 0.32.2
  community-operators/enmasse/0.32.2/addresses.crd.yaml
  community-operators/enmasse/0.32.2/addressplans.crd.yaml
  community-operators/enmasse/0.32.2/addressspaceplans.crd.yaml
  community-operators/enmasse/0.32.2/addressspaces.crd.yaml
  community-operators/enmasse/0.32.2/addressspaceschemas.crd.yaml
  community-operators/enmasse/0.32.2/authenticationservices.crd.yaml
  community-operators/enmasse/0.32.2/brokeredinfraconfigs.crd.yaml
  community-operators/enmasse/0.32.2/consoleservices.crd.yaml
  community-operators/enmasse/0.32.2/enmasse.0.32.2.clusterserviceversion.yaml
  community-operators/enmasse/0.32.2/iotconfigs.crd.yaml
  community-operators/enmasse/0.32.2/iotprojects.crd.yaml
  community-operators/enmasse/0.32.2/messagingusers.crd.yaml
  community-operators/enmasse/0.32.2/standardinfraconfigs.crd.yaml
  community-operators/enmasse/enmasse.package.yaml
Labels: openshift-operator

#2125 [community] Release Kogito 0.13.0
  community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitobuilds_crd.yaml
  community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  community-operators/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator

#2122 [kiali] [community] update kiali
  community-operators/kiali/1.22.0/kiali.crd.yaml
  community-operators/kiali/1.22.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.22.0/kiali.v1.22.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: openshift-operator

#2121 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.22.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.22.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.22.0/kiali.v1.22.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator

#2120 update grafana operator to v3.5.0
  community-operators/grafana-operator/3.5.0/grafana-operator.v3.5.0.clusterserviceversion.yaml
  community-operators/grafana-operator/3.5.0/grafanadashboards.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.5.0/grafanadatasources.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.5.0/grafanas.integreatly.org.crd.yaml
  community-operators/grafana-operator/grafana-operator.package.yaml
Labels: openshift-operator

#2124 Update eclipse-che operator for kubernetes to release 7.16.2
  upstream-community-operators/eclipse-che/7.16.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.16.2/eclipse-che.v7.16.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2130 global-load-balancer-operator initial commit
  community-operators/global-load-balancer-operator/0.1.0/global-load-balancer-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/global-load-balancer-operator/0.1.0/redhatcop.redhat.io_globaldnsrecords_crd.yaml
  community-operators/global-load-balancer-operator/0.1.0/redhatcop.redhat.io_globaldnszones_crd.yaml
  community-operators/global-load-balancer-operator/0.1.0/redhatcop.redhat.io_globalroutediscoveries_crd.yaml
  community-operators/global-load-balancer-operator/global-load-balancer-operator.package.yaml
Labels: openshift-operator

#2129 Add ECK to community operators
  community-operators/elastic-cloud-eck/1.2.0/apmservers.apm.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.0/beats.beat.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.0/elastic-cloud-eck.v1.2.0.clusterserviceversion.yaml
  community-operators/elastic-cloud-eck/1.2.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: openshift-operator

#2123 Update eclipse-che operator for openshift to release 7.16.2
  community-operators/eclipse-che/7.16.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.16.2/eclipse-che.v7.16.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator
