Repository operator-framework/community-operators, pull requests merged in 2020-10, with the labels that each got.

#2402 Update oadp-operator to 0.1.1
  community-operators/oadp-operator/0.1.1/backup.crd.yaml
  community-operators/oadp-operator/0.1.1/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.1.1/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.1.1/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.1.1/oadp-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/oadp-operator/0.1.1/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.1.1/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.1.1/resticrepository.crd.yaml
  community-operators/oadp-operator/0.1.1/restore.crd.yaml
  community-operators/oadp-operator/0.1.1/schedule.crd.yaml
  community-operators/oadp-operator/0.1.1/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.1.1/velero.crd.yaml
  community-operators/oadp-operator/0.1.1/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/oadp-operator.package.yaml
Labels: openshift-operator

#2394 Contribute nuxeo-operator to upstream community operators
  upstream-community-operators/nuxeo-operator/0.7.1/appzygy.net_nuxeos.yaml
  upstream-community-operators/nuxeo-operator/0.7.1/nuxeo-operator.v0.7.1.clusterserviceversion.yaml
  upstream-community-operators/nuxeo-operator/nuxeo-operator.package.yaml
Labels: kubernetes-operator

#2411 Added OpenShift mcad-operator.v0.1.9
  upstream-community-operators/mcad-operator/0.1.9/mcad-operator.v0.1.9.clusterserviceversion.yaml
  upstream-community-operators/mcad-operator/0.1.9/mcad.ibm.com_mcadhelmconfigs_crd.yaml
  upstream-community-operators/mcad-operator/mcad-operator.package.yaml
Labels: kubernetes-operator

#2417 Update Jaeger upstream-community-operators to v1.20.0
  upstream-community-operators/jaeger/1.20.0/jaeger.v1.20.0.clusterserviceversion.yaml
  upstream-community-operators/jaeger/1.20.0/jaegertracing.io_jaegers_crd.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
Labels: kubernetes-operator

#2419 Update eclipse-che operator for kubernetes to release 7.19.2
  upstream-community-operators/eclipse-che/7.19.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.19.2/eclipse-che.v7.19.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2420 Update eclipse-che operator for openshift to release 7.19.2
  community-operators/eclipse-che/7.19.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.19.2/eclipse-che.v7.19.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#2422 Upgrade snyk-operator to version 1.33.0
  upstream-community-operators/snyk-operator/1.33.0/snyk-operator.v1.33.0.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.33.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: kubernetes-operator

#2423 Upgrade snyk-operator to version 1.33.0
  community-operators/snyk-operator/1.33.0/snyk-operator.v1.33.0.clusterserviceversion.yaml
  community-operators/snyk-operator/1.33.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: openshift-operator

#2415 Update WildFly Operator 0.4.0 for upstream-community-operators
  upstream-community-operators/wildfly/wildfly.package.yaml
Labels: kubernetes-operator

#2414 [openshift] Upgrade WSO2 API-Operator version to 1.2.1
  community-operators/api-operator/1.2.1/api-operator.v1.2.1.clusterserviceversion.yaml
  community-operators/api-operator/1.2.1/wso2.com_apis_crd.yaml
  community-operators/api-operator/1.2.1/wso2.com_ratelimitings_crd.yaml
  community-operators/api-operator/1.2.1/wso2.com_securities_crd.yaml
  community-operators/api-operator/1.2.1/wso2.com_targetendpoints_crd.yaml
  community-operators/api-operator/api-operator.package.yaml
Labels: openshift-operator

#2424 Adding new Kafka Knative Operator
  community-operators/knative-kafka-operator/0.17.1/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/0.17.1/knative-kafka-operator.v0.17.1.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
Labels: openshift-operator

#2413 [k8s] Upgrade WSO2 API-Operator version to 1.2.1
  upstream-community-operators/api-operator/1.2.1/api-operator.v1.2.1.clusterserviceversion.yaml
  upstream-community-operators/api-operator/1.2.1/wso2.com_apis_crd.yaml
  upstream-community-operators/api-operator/1.2.1/wso2.com_ratelimitings_crd.yaml
  upstream-community-operators/api-operator/1.2.1/wso2.com_securities_crd.yaml
  upstream-community-operators/api-operator/1.2.1/wso2.com_targetendpoints_crd.yaml
  upstream-community-operators/api-operator/api-operator.package.yaml
Labels: kubernetes-operator

#2425 aws-efs-operator 0.0.5
  community-operators/aws-efs-operator/0.0.5/aws-efs-operator.v0.0.5.clusterserviceversion.yaml
  community-operators/aws-efs-operator/0.0.5/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  community-operators/aws-efs-operator/aws-efs-operator.package.yaml
Labels: openshift-operator

#2412 MongoDB Enterprise Operator 1.8.0
  upstream-community-operators/mongodb-enterprise/1.8.0/mongodb-enterprise.v1.8.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.8.0/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.8.0/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.8.0/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator

#2418 Update Jaeger community-operators to v1.20.0
  community-operators/jaeger/1.20.0/jaeger.v1.20.0.clusterserviceversion.yaml
  community-operators/jaeger/1.20.0/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: openshift-operator

#2427 Cosmectic updates to maintainers list.
  upstream-community-operators/mcad-operator/0.1.9/mcad-operator.v0.1.9.clusterserviceversion.yaml
Labels: kubernetes-operator

#2429 Cosmetic updates to maintainers list.
  community-operators/mcad-operator/0.1.9/mcad-operator.v0.1.9.clusterserviceversion.yaml
Labels: openshift-operator

#2430 [datadog-operator] Version 0.3.2 - fixing missing CRD description
  community-operators/datadog-operator/0.3.2/datadog-operator.v0.3.2.clusterserviceversion.yaml
  community-operators/datadog-operator/0.3.2/datadoghq.com_datadogagents_crd.yaml
  community-operators/datadog-operator/0.3.2/datadoghq.com_datadogmetrics_crd.yaml
  community-operators/datadog-operator/datadog-operator.package.yaml
Labels: openshift-operator

#2431 [datadog-operator] Version 0.3.2 - fixing missing CRD description
  upstream-community-operators/datadog-operator/0.3.2/datadog-operator.v0.3.2.clusterserviceversion.yaml
  upstream-community-operators/datadog-operator/0.3.2/datadoghq.com_datadogagents_crd.yaml
  upstream-community-operators/datadog-operator/0.3.2/datadoghq.com_datadogmetrics_crd.yaml
  upstream-community-operators/datadog-operator/datadog-operator.package.yaml
Labels: kubernetes-operator

#2433 add OpenShift Hive operator 1.0.11
  community-operators/hive-operator/1.0.11/hive-operator.v1.0.11.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.11/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.0.11/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.0.11/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: openshift-operator

#2440 Update upstream PostgreSQL Operator to v4.5.0
  upstream-community-operators/postgresql/4.5.0/pgclusters.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.5.0/pgpolicies.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.5.0/pgreplicas.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.5.0/pgtasks.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.5.0/postgresoperator.v4.5.0.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator

#2441 Update community PostgreSQL Operator to v4.5.0
  community-operators/postgresql/4.5.0/pgclusters.crunchydata.com.crd.yaml
  community-operators/postgresql/4.5.0/pgpolicies.crunchydata.com.crd.yaml
  community-operators/postgresql/4.5.0/pgreplicas.crunchydata.com.crd.yaml
  community-operators/postgresql/4.5.0/pgtasks.crunchydata.com.crd.yaml
  community-operators/postgresql/4.5.0/postgresoperator.v4.5.0.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: openshift-operator

#2395 Add ReportPortal Operator to community operators
  community-operators/reportportal-operator/0.0.5/reportportal-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/reportportal-operator/0.0.5/reportportal-operator.clusterserviceversion.yaml
  community-operators/reportportal-operator/0.0.5/rp5.reportportal.io_reportportalrestores.yaml
  community-operators/reportportal-operator/0.0.5/rp5.reportportal.io_reportportals.yaml
  community-operators/reportportal-operator/0.0.5/rp5.reportportal.io_serviceapiservicemonitors.yaml
  community-operators/reportportal-operator/reportportal-operator.package.yaml
Labels: openshift-operator

#2434 removing deprecated 4.1.0 Metering version
  community-operators/metering/4.1.0/hivetables.metering.openshift.io.crd.yaml
  community-operators/metering/4.1.0/metering-operator.v4.1.0.clusterserviceversion.yaml
  community-operators/metering/4.1.0/meterings.metering.openshift.io.crd.yaml
  community-operators/metering/4.1.0/prestotables.metering.openshift.io.crd.yaml
  community-operators/metering/4.1.0/reportdatasources.metering.openshift.io.crd.yaml
  community-operators/metering/4.1.0/reportqueries.metering.openshift.io.crd.yaml
  community-operators/metering/4.1.0/reports.metering.openshift.io.crd.yaml
  community-operators/metering/4.1.0/storagelocations.metering.openshift.io.crd.yaml
  community-operators/metering/metering.package.yaml
Labels: openshift-operator

#2442 [KOGITO-3573-community] - Release Kogito Operator 0.16
  community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitobuilds_crd.yaml
  community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitotrusties_crd.yaml
  community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  community-operators/kogito-operator/0.16.0/kogito-operator.v0.16.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator

#2443 [KOGITO-3573-upstream] - Release Kogito Operator 0.16
  upstream-community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitobuilds_crd.yaml
  upstream-community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitodataindices_crd.yaml
  upstream-community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  upstream-community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitoinfras_crd.yaml
  upstream-community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  upstream-community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  upstream-community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  upstream-community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitotrusties_crd.yaml
  upstream-community-operators/kogito-operator/0.16.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  upstream-community-operators/kogito-operator/0.16.0/kogito-operator.v0.16.0.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/kogito-operator.package.yaml
Labels: kubernetes-operator

#2445 Upstream knative operator 0.17.2
  upstream-community-operators/knative-operator/0.17.2/knative-operator.v0.17.2.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.17.2/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.17.2/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#2328 Updating Community-Spinnaker-Operator support for v1.21.2
  community-operators/spinnaker-operator/1.21.2/spinnaker-operator.v1.21.2.clusterserviceversion.yaml
  community-operators/spinnaker-operator/1.21.2/spinnakeroperators.charts.helm.k8s.io.crd.yaml
  community-operators/spinnaker-operator/spinnaker-operator.package.yaml
Labels: openshift-operator

#2454 Add upstream Knative operator v0.18.0
  upstream-community-operators/knative-operator/0.18.0/knative-operator.v0.18.0.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.18.0/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.18.0/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#2344 add OpenShift Hive operator 1.0.10 for upstream
  upstream-community-operators/hive-operator/1.0.10/hive-operator.v1.0.10.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.10/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.0.10/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.0.10/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#2461 temp
  community-operators/cockroachdb/3.0.7/cockroachdb.v3.0.7.clusterserviceversion.yaml
Labels: openshift-operator

#2270 Add Community Windows Machine Config Operator
  community-operators/community-windows-machine-config-operator/0.0.1/community-windows-machine-config-operator.0.0.1.clusterserviceversion.yaml
  community-operators/community-windows-machine-config-operator/community-windows-machine-config-operator.package.yaml
Labels: ok-to-test, openshift-operator

#2463 Temp back
  community-operators/cockroachdb/3.0.7/cockroachdb.v3.0.7.clusterserviceversion.yaml
Labels: openshift-operator

#2450 Updating PMEM-CSI Operator to version 0.8.0
  upstream-community-operators/pmem-csi-operator/0.8.0/pmem-csi-operator.clusterserviceversion.yaml
  upstream-community-operators/pmem-csi-operator/0.8.0/pmem-csi-operator_v1_serviceaccount.yaml
  upstream-community-operators/pmem-csi-operator/0.8.0/pmem-csi.intel.com_deployments.yaml
  upstream-community-operators/pmem-csi-operator/pmem-csi-operator.package.yaml
Labels: kubernetes-operator

#2462 Update gitops-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/gitops-operator/0.0.1/gitops-operator.v0.0.1.clusterserviceversion.yaml
Labels: openshift-operator

#2465 Update OpenShift argocd-operator to v0.0.14
  community-operators/argocd-operator/0.0.14/argocd-operator.v0.0.14.clusterserviceversion.yaml
  community-operators/argocd-operator/0.0.14/argoproj.io_applications_crd.yaml
  community-operators/argocd-operator/0.0.14/argoproj.io_appprojects_crd.yaml
  community-operators/argocd-operator/0.0.14/argoproj.io_argocdexports_crd.yaml
  community-operators/argocd-operator/0.0.14/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator/argocd-operator.package.yaml
Labels: openshift-operator

#2460 Upgrade Camel K to 1.2.0 in upstream operators
  upstream-community-operators/camel-k/1.2.0/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.0/camel-k.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.2.0/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.0/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.0/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.0/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.0/kameletbindings.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.2.0/kamelets.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator

#2459 Upgrade Camel K to 1.2.0
  community-operators/camel-k/1.2.0/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.0/camel-k.v1.2.0.clusterserviceversion.yaml
  community-operators/camel-k/1.2.0/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.0/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.0/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.0/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.0/kameletbindings.camel.apache.org.crd.yaml
  community-operators/camel-k/1.2.0/kamelets.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: openshift-operator

#2470 update jenkins operator to 0.5.0
  community-operators/jenkins-operator/0.5.0/jenkins-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.5.0/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.5.0/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.5.0/jenkins_v1alpha3_casc_crd.yaml
  community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: openshift-operator

#2464 Update Upstream argocd-operator to v0.0.14
  upstream-community-operators/argocd-operator/0.0.14/argocd-operator.v0.0.14.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/0.0.14/argoproj.io_applications_crd.yaml
  upstream-community-operators/argocd-operator/0.0.14/argoproj.io_appprojects_crd.yaml
  upstream-community-operators/argocd-operator/0.0.14/argoproj.io_argocdexports_crd.yaml
  upstream-community-operators/argocd-operator/0.0.14/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator/argocd-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2471 Disable the option to install in a specific namespace
  community-operators/gitops-operator/0.0.1/gitops-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, openshift-operator

#2486 Updated call to legacy scripts
  Makefile
  ci.Dockerfile
  scripts/ci/legacy/build-catalog-configmap
  scripts/ci/legacy/build-olm-manifests
  scripts/ci/legacy/instrument-operator
  scripts/ci/legacy/operator-test
  scripts/ci/legacy/scorecard
  scripts/ci/legacy/testscript-wrapper
  scripts/utils/Makefile
Labels: needs-ok-to-test

#2432 add OpenShift Hive operator 1.0.11 for upstream
  upstream-community-operators/hive-operator/1.0.11/hive-operator.v1.0.11.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.11/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.0.11/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.0.11/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator, lgtm

#2482 upgrade cluster-manager to 0.2.0 for upstream
  upstream-community-operators/cluster-manager/0.2.0/0000_01_operator.open-cluster-management.io_clustermanagers.crd.yaml
  upstream-community-operators/cluster-manager/0.2.0/cluster-manager.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/cluster-manager/cluster-manger.package.yaml
Labels: kubernetes-operator, ok-to-test

#2397 Add Starboard Operator v0.6.0
  upstream-community-operators/starboard-operator/0.6.0/starboard-operator.v0.0.6.clusterserviceversion.yaml
  upstream-community-operators/starboard-operator/0.6.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/starboard-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2479 upgrade multicluster subscription operator to V0.2.4
  community-operators/multicluster-operators-subscription/0.2.4/app.k8s.io_applications.yaml
  community-operators/multicluster-operators-subscription/0.2.4/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.4/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.4/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.4/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.4/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.4/multicluster-operators-subscription.v0.2.4.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2436 Committer: Seelam <Madhu.Seelam@emc.com>
  community-operators/dell-csi-operator/1.1.0/csiisilons.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.1.0/csipowermaxes.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.1.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.1.0/csipowerstores.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.1.0/csiunities.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.1.0/csivxflexoses.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.1.0/dell-csi-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: lgtm, openshift-operator

#2480 upgrade cluster-manager to 0.2.0
  community-operators/cluster-manager/0.2.0/0000_01_operator.open-cluster-management.io_clustermanagers.crd.yaml
  community-operators/cluster-manager/0.2.0/cluster-manager.v0.2.0.clusterserviceversion.yaml
  community-operators/cluster-manager/cluster-manger.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2489 [Prisma Cloud Compute Operator] Change the image tag to a variable
  upstream-community-operators/prisma-cloud-compute-console-operator/1.0.0/prisma-cloud-compute-console-operator.v1.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator, lgtm

#2491 Corrected some inner ref to other scripts
  scripts/ci/legacy/env
  scripts/ci/legacy/make-tmp
  scripts/ci/legacy/run-script
  scripts/ci/legacy/test-operator
  scripts/ci/operators-env
Labels: needs-ok-to-test

#2500 fix(starboard): Update image reference from 0.6.0-alpha.2 to 0.6.0
  upstream-community-operators/starboard-operator/0.6.0/starboard-operator.v0.0.6.clusterserviceversion.yaml
Labels: kubernetes-operator, lgtm, needs-ok-to-test

#2483 upgrade klusterlet to 0.2.0 for upstream
  upstream-community-operators/klusterlet/0.2.0/0000_00_operator.open-cluster-management.io_klusterlets.crd.yaml
  upstream-community-operators/klusterlet/0.2.0/klusterlet.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/klusterlet/klusterlet.package.yaml
Labels: kubernetes-operator, lgtm, ok-to-test

#2499 Update Percona Server MongoDB operator to v1.5.0
  upstream-community-operators/percona-server-mongodb-operator/1.5.0/percona-server-mongodb-operator.v1.5.0.clusterserviceversion.yaml
  upstream-community-operators/percona-server-mongodb-operator/1.5.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb-operator/1.5.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb-operator/1.5.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2490 Update WildFly Operator 0.4.1
  upstream-community-operators/wildfly/0.4.1/wildfly-operator.v0.4.1.clusterserviceversion.yaml
  upstream-community-operators/wildfly/0.4.1/wildflyservers.wildfly.org.crd.yaml
  upstream-community-operators/wildfly/wildfly.package.yaml
Labels: kubernetes-operator, lgtm

#2509 add tidb-operator v1.1.6
  community-operators/tidb-operator/1.1.6/backups.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.6/backupschedules.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.6/restores.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.6/tidb-operator.v1.1.6.clusterserviceversion.yaml
  community-operators/tidb-operator/1.1.6/tidbclusterautoscalers.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.6/tidbclusters.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.6/tidbinitializers.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.6/tidbmonitors.pingcap.com.crd.yaml
  community-operators/tidb-operator/tidb-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2493 Percona Xtradb Cluster Operator upgrade to 1.6.0
  upstream-community-operators/percona-xtradb-cluster-operator/1.6.0/percona-xtradb-cluster-operator.v1.6.0.clusterserviceversion.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.6.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.6.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.6.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.6.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/percona-xtradb-cluster-operator.package.yaml
Labels: kubernetes-operator, lgtm, ok-to-test

#2519 Bundle acceptance - docu update
  .travis.yml
  docs/ci.md
  docs/using-current-test-suite.md
  docs/using-obsolete-scripts.md
  upstream-community-operators/starboard-operator/ci.yaml
Labels: kubernetes-operator

#2202 Xrootd Operator V0.2.1
  upstream-community-operators/xrootd-operator/0.2.1/xrootd-operator.v0.2.1.clusterserviceversion.yaml
  upstream-community-operators/xrootd-operator/0.2.1/xrootdclusters.xrootd.xrootd.org.crd.yaml
  upstream-community-operators/xrootd-operator/0.2.1/xrootdversions.catalog.xrootd.org.crd.yaml
  upstream-community-operators/xrootd-operator/xrootd-operator.package.yaml
Labels: kubernetes-operator, lgtm, ok-to-test

#2517 Update IBM Starter Kit operator to v0.2.1
  community-operators/starter-kit-operator/0.2.1/devx.ibm.com_starterkits_crd.yaml
  community-operators/starter-kit-operator/0.2.1/starter-kit-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/starter-kit-operator/starter-kit-operator.package.yaml
Labels: lgtm, need-info, openshift-operator

#2518 upstream: add tidb-operator v1.1.6
  upstream-community-operators/tidb-operator/1.1.6/backups.pingcap.com.crd.yaml
  upstream-community-operators/tidb-operator/1.1.6/backupschedules.pingcap.com.crd.yaml
  upstream-community-operators/tidb-operator/1.1.6/restores.pingcap.com.crd.yaml
  upstream-community-operators/tidb-operator/1.1.6/tidb-operator.v1.1.6.clusterserviceversion.yaml
  upstream-community-operators/tidb-operator/1.1.6/tidbclusterautoscalers.pingcap.com.crd.yaml
  upstream-community-operators/tidb-operator/1.1.6/tidbclusters.pingcap.com.crd.yaml
  upstream-community-operators/tidb-operator/1.1.6/tidbinitializers.pingcap.com.crd.yaml
  upstream-community-operators/tidb-operator/1.1.6/tidbmonitors.pingcap.com.crd.yaml
  upstream-community-operators/tidb-operator/tidb-operator.package.yaml
Labels: kubernetes-operator

#2522 pmem-csi-operator-v0.8.0: fix broken operator icon
  upstream-community-operators/pmem-csi-operator/0.8.0/pmem-csi-operator.clusterserviceversion.yaml
Labels: kubernetes-operator

#2525 namespace-configuration-operator new version
  community-operators/namespace-configuration-operator/0.2.4/namespace-configuration-operator.v0.2.4.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.4/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.4/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.4/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/ci.yaml
  community-operators/namespace-configuration-operator/namespace-configuration-operator.package.yaml
Labels: openshift-operator

#2524 [community] Update submariner-operator to v0.7.0
  community-operators/submariner/0.7.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/submariner/0.7.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/submariner/0.7.0/submariner-operator_v1_serviceaccount.yaml
  community-operators/submariner/0.7.0/submariner.io_submariners_crd.yaml
  community-operators/submariner/0.7.0/submariner.v0.7.0.clusterserviceversion.yaml
  community-operators/submariner/submariner.package.yaml
Labels: openshift-operator

#2512 cert-utils-operator new version
  community-operators/cert-utils-operator/0.2.2/cert-utils-operator.v0.2.2.clusterserviceversion.yaml
  community-operators/cert-utils-operator/cert-utils-operator.package.yaml
  community-operators/cert-utils-operator/ci.yaml
Labels: openshift-operator

#2530 Support for Robin Storage 5.3.2
  upstream-community-operators/robin-operator/5.1.1/robin_v1alpha1_robincluster_crd.yaml
  upstream-community-operators/robin-operator/5.3.2/robin-operator.v5.3.2.clusterserviceversion.yaml
  upstream-community-operators/robin-operator/5.3.2/robin_v1_robincluster_crd.yaml
  upstream-community-operators/robin-operator/robin.package.yaml
Labels: kubernetes-operator

#2514 KubeMod 0.6.0
  upstream-community-operators/kubemod/0.6.0/kubemod.v0.6.0.clusterserviceversion.yaml
  upstream-community-operators/kubemod/0.6.0/modrules.api.kubemod.io.crd.yaml
  upstream-community-operators/kubemod/kubemod.package.yaml
Labels: kubernetes-operator, lgtm, ok-to-test

#2536 Adding ci.yaml to kubemod
  upstream-community-operators/kubemod/ci.yaml
Labels: kubernetes-operator

#2539 Update hazelcast-enterprise-operator to 0.3.3
  upstream-community-operators/hazelcast-enterprise-operator/0.3.3/hazelcast-enterprise-operator.v0.3.3.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise-operator/0.3.3/hazelcastenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise-operator/hazelcast-enterprise-operator.package.yaml
Labels: kubernetes-operator

#2513 egressip-ipam-operator new version
  community-operators/egressip-ipam-operator/0.1.2/egressip-ipam-operator.v0.1.2.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/0.1.2/redhatcop.redhat.io_egressipams_crd.yaml
  community-operators/egressip-ipam-operator/egressip-ipam-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2541 kubeturbo operator 8.0 - upstream
  upstream-community-operators/kubeturbo/8.0.0/kubeturbo-operator.v8.0.0.clusterserviceversion.yaml
  upstream-community-operators/kubeturbo/8.0.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kubeturbo/kubeturbo.package.yaml
Labels: kubernetes-operator

#2542 [Upstream] Update api-operator to v1.2.2
  upstream-community-operators/api-operator/1.2.2/api-operator.v1.2.2.clusterserviceversion.yaml
  upstream-community-operators/api-operator/1.2.2/wso2.com_apis_crd.yaml
  upstream-community-operators/api-operator/1.2.2/wso2.com_ratelimitings_crd.yaml
  upstream-community-operators/api-operator/1.2.2/wso2.com_securities_crd.yaml
  upstream-community-operators/api-operator/1.2.2/wso2.com_targetendpoints_crd.yaml
  upstream-community-operators/api-operator/api-operator.package.yaml
Labels: kubernetes-operator

#2538 Update hazelcast-operator to 0.3.3
  upstream-community-operators/hazelcast-operator/0.3.3/hazelcast-operator.v0.3.3.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-operator/0.3.3/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: kubernetes-operator

#2537 Update hazelcast-operator to 0.3.3
  community-operators/hazelcast-operator/0.3.3/hazelcast-operator.v0.3.3.clusterserviceversion.yaml
  community-operators/hazelcast-operator/0.3.3/hazelcasts.hazelcast.com.crd.yaml
  community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2540 kubeturbo operator 8.0
  community-operators/kubeturbo/8.0.0/kubeturbo-operator.v8.0.0.clusterserviceversion.yaml
  community-operators/kubeturbo/8.0.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  community-operators/kubeturbo/kubeturbo.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2543 [Community] Update api-operator to v1.2.2
  community-operators/api-operator/1.2.2/api-operator.v1.2.2.clusterserviceversion.yaml
  community-operators/api-operator/1.2.2/wso2.com_apis_crd.yaml
  community-operators/api-operator/1.2.2/wso2.com_ratelimitings_crd.yaml
  community-operators/api-operator/1.2.2/wso2.com_securities_crd.yaml
  community-operators/api-operator/1.2.2/wso2.com_targetendpoints_crd.yaml
  community-operators/api-operator/api-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2546 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.25.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.25.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.25.0/kiali.v1.25.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator

#2547 Minor edits to the CSV file
  upstream-community-operators/robin-operator/5.3.2/robin-operator.v5.3.2.clusterserviceversion.yaml
Labels: kubernetes-operator

#2545 [kiali] [community] update kiali
  community-operators/kiali/1.25.0/kiali.crd.yaml
  community-operators/kiali/1.25.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.25.0/kiali.v1.25.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2551 Microcks 1.1.0 upstream operator
  upstream-community-operators/microcks/1.1.0/microcks-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/microcks/1.1.0/microcksinstall.crd.yaml
  upstream-community-operators/microcks/microcks.package.yaml
Labels: kubernetes-operator

#2552 New Operator based on Hazelcast Jet 4.3
  upstream-community-operators/hazelcast-jet-operator/0.3.0/hazelcast-jet-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-operator/0.3.0/hazelcastjets.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: kubernetes-operator

#2554 Microcks 1.1.0 community operator
  community-operators/microcks/1.1.0/microcks-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/microcks/1.1.0/microcksinstall.crd.yaml
  community-operators/microcks/microcks.package.yaml
Labels: ok-to-test, openshift-operator

#2553 New Operator based on Hazelcast Jet Enterprise 4.3
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.3.0/hazelcast-jet-enterprise-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.3.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/hazelcast-jet-enterprise-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2550 Updating the Robin Storage operator from 5.3.2 to 5.3.2-54
  upstream-community-operators/robin-operator/5.3.2-55/robin-operator.v5.3.2-55.clusterserviceversion.yaml
  upstream-community-operators/robin-operator/5.3.2-55/robin_v1_robincluster_crd.yaml
  upstream-community-operators/robin-operator/robin.package.yaml
Labels: kubernetes-operator

#2561 Add upstream knative operator 0.18.1
  upstream-community-operators/knative-operator/0.18.1/knative-operator.v0.18.1.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.18.1/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.18.1/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#2560 Update StorageOS Operator to version v2.3.0
  upstream-community-operators/storageos/2.3.0/storageos.v2.3.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/2.3.0/storageoscluster.crd.yaml
  upstream-community-operators/storageos/2.3.0/storageosjob.crd.yaml
  upstream-community-operators/storageos/2.3.0/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/2.3.0/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: kubernetes-operator

#2447 Infinispan Operator upstream 2.0.4
  upstream-community-operators/infinispan/2.0.4/infinispan-operator.v2.0.4.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.0.4/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.0.4/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#2446 Infinispan Operator community 2.0.4
  community-operators/infinispan/2.0.4/infinispan-operator.v2.0.4.clusterserviceversion.yaml
  community-operators/infinispan/2.0.4/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.0.4/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: lgtm, openshift-operator

#2563 Fixing the Creation time format
  upstream-community-operators/robin-operator/5.3.2-55/robin-operator.v5.3.2-55.clusterserviceversion.yaml
Labels: kubernetes-operator

#2564 make cosmetic change visible on operatorhub.io
  upstream-community-operators/azure-service-operator/0.37.0/azure-service-operator.v0.37.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#2549 namespace-configuration-operator new version
  community-operators/namespace-configuration-operator/0.2.5/namespace-configuration-operator.v0.2.5.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.5/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.5/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.5/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/ci.yaml
  community-operators/namespace-configuration-operator/namespace-configuration-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2557 Update Strimzi operator to 0.20.0 in upstream community operators
  upstream-community-operators/strimzi-kafka-operator/0.20.0/kafkabridges.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/kafkaconnectors.kafka.strimzi.io.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/kafkas.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/kafkatopics.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/kafkausers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/strimzi-cluster-operator.v0.20.0.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/strimziclusteroperator.configmap.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/strimzientityoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/strimzikafkabroker.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.20.0/strimzitopicoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2523 [upstream] Update submariner-operator to v0.7.0
  upstream-community-operators/submariner/0.7.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.7.0/submariner-operator_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.7.0/submariner.io_submariners_crd.yaml
  upstream-community-operators/submariner/0.7.0/submariner.v0.7.0.clusterserviceversion.yaml
  upstream-community-operators/submariner/submariner.package.yaml
Labels: kubernetes-operator

#2556 Update Strimzi operator to 0.20.0 in OpenShift community operators
  community-operators/strimzi-kafka-operator/0.20.0/kafkabridges.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.0/kafkaconnectors.kafka.strimzi.io.yaml
  community-operators/strimzi-kafka-operator/0.20.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.0/kafkas.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.0/kafkatopics.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.0/kafkausers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.20.0/strimzi-cluster-operator.v0.20.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.20.0/strimziclusteroperator.configmap.yaml
  community-operators/strimzi-kafka-operator/0.20.0/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.20.0/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.20.0/strimzitopicoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2570 [upstream] set submariners crd displayName and description
  upstream-community-operators/submariner/0.7.0/submariner.v0.7.0.clusterserviceversion.yaml
Labels: kubernetes-operator
