Repository operator-framework/community-operators, pull requests merged in 2020-11, with the labels that each got.

#2582 Update eclipse-che operator for kubernetes to release 7.21.0
  upstream-community-operators/eclipse-che/7.21.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.21.0/eclipse-che.v7.21.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2575 [KOGITO-3749-upstream] - Release Kogito Operator 0.17
  upstream-community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitobuilds_crd.yaml
  upstream-community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitodataindices_crd.yaml
  upstream-community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  upstream-community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitoinfras_crd.yaml
  upstream-community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  upstream-community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  upstream-community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  upstream-community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitotrusties_crd.yaml
  upstream-community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  upstream-community-operators/kogito-operator/0.17.0/kogito-operator.v0.17.0.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/kogito-operator.package.yaml
Labels: kubernetes-operator, lgtm, needs-info

#2586 Instana Agent Operator 0.3.7
  upstream-community-operators/instana-agent/0.3.7/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.3.7/instana-agent-operator.v0.3.7.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#2585 Update GitOps operator
  community-operators/gitops-operator/0.0.2/gitops-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/gitops-operator/0.0.2/pipelines.openshift.io_gitopsservices_crd.yaml
  community-operators/gitops-operator/gitops-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2559 update grafana-operator manifests to v3.6.0
  community-operators/grafana-operator/3.6.0/grafana-operator.v3.6.0.clusterserviceversion.yaml
  community-operators/grafana-operator/3.6.0/grafanadashboards.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.6.0/grafanadatasources.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.6.0/grafanas.integreatly.org.crd.yaml
  community-operators/grafana-operator/grafana-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2565 migrate jenkins operator package manifests to bundle manifests and ad…
  community-operators/jenkins-operator/0.2.2/Dockerfile
  community-operators/jenkins-operator/0.2.2/manifests/jenkins-operator.v0.2.2.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.2.2/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.2.2/metadata/annotations.yaml
  community-operators/jenkins-operator/0.3.31/Dockerfile
  community-operators/jenkins-operator/0.3.31/manifests/jenkins-operator.v0.3.31.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.3.31/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.3.31/metadata/annotations.yaml
  community-operators/jenkins-operator/0.4.0/Dockerfile
  community-operators/jenkins-operator/0.4.0/manifests/jenkins-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.0/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.4.0/metadata/annotations.yaml
  community-operators/jenkins-operator/0.4.1-rc1/Dockerfile
  community-operators/jenkins-operator/0.4.1-rc1/manifests/jenkins-operator.v0.4.1-rc1.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc1/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc1/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc1/metadata/annotations.yaml
  community-operators/jenkins-operator/0.4.1-rc2/Dockerfile
  community-operators/jenkins-operator/0.4.1-rc2/manifests/jenkins-operator.v0.4.1-rc2.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc2/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc2/metadata/annotations.yaml
  community-operators/jenkins-operator/0.4.1-rc3/Dockerfile
  community-operators/jenkins-operator/0.4.1-rc3/manifests/jenkins-operator.v0.4.1-rc3.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc3/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc3/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc3/metadata/annotations.yaml
  community-operators/jenkins-operator/0.5.0/Dockerfile
  community-operators/jenkins-operator/0.5.0/manifests/jenkins-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.5.0/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.5.0/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.5.0/manifests/jenkins_v1alpha3_casc_crd.yaml
  community-operators/jenkins-operator/0.5.0/metadata/annotations.yaml
  community-operators/jenkins-operator/0.6.0/Dockerfile
  community-operators/jenkins-operator/0.6.0/manifests/jenkins-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.6.0/manifests/jenkins_v1alpha2_backupworker_crd.yaml
  community-operators/jenkins-operator/0.6.0/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.6.0/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.6.0/metadata/annotations.yaml
  community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2587 add OpenShift Hive operator 1.0.12
  community-operators/hive-operator/1.0.12/hive-operator.v1.0.12.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.12/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.0.12/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.0.12/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2588 add OpenShift Hive operator 1.0.12 for upstream
  upstream-community-operators/hive-operator/1.0.12/hive-operator.v1.0.12.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.12/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.0.12/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.0.12/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator, lgtm

#2574 Update oadp operator to bundle format
  community-operators/oadp-operator/0.1.1/backup.crd.yaml
  community-operators/oadp-operator/0.1.1/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.1.1/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.1.1/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.1.1/oadp-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/oadp-operator/0.1.1/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.1.1/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.1.1/resticrepository.crd.yaml
  community-operators/oadp-operator/0.1.1/restore.crd.yaml
  community-operators/oadp-operator/0.1.1/schedule.crd.yaml
  community-operators/oadp-operator/0.1.1/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.1.1/velero.crd.yaml
  community-operators/oadp-operator/0.1.1/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/backup.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/oadp-operator.v0.1.2.clusterserviceversion.yaml
  community-operators/oadp-operator/0.1.2/manifests/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/resticrepository.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/restore.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/schedule.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/velero.crd.yaml
  community-operators/oadp-operator/0.1.2/manifests/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/0.1.2/metadata/annotations.yaml
  community-operators/oadp-operator/oadp-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2589 resource-locker-operator new version
  community-operators/resource-locker-operator/0.1.5/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.5/resource-locker-operator.v0.1.5.clusterserviceversion.yaml
  community-operators/resource-locker-operator/resource-locker-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2591 Upgrade snyk-operator to version 1.36.1
  community-operators/snyk-operator/1.36.1/snyk-operator.v1.36.1.clusterserviceversion.yaml
  community-operators/snyk-operator/1.36.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2576 [KOGITO-3749-community] - Release Kogito 0.17
  community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitobuilds_crd.yaml
  community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitotrusties_crd.yaml
  community-operators/kogito-operator/0.17.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  community-operators/kogito-operator/0.17.0/kogito-operator.v0.17.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: lgtm, needs-info, ok-to-test, openshift-operator

#2594 [WIP] Rho 784 ansible env
  scripts/ci/PR-traffic-light
  scripts/ci/ansible-env
  scripts/ci/legacy/ansible-env-obsolete
  scripts/ci/run-ansible-tests
  scripts/ci/run-index-release
  scripts/ci/run-release
  scripts/ci/trigger-community-op-catalog-ci-release.sh
Labels: do-not-merge/hold, do-not-merge/work-in-progress, openshift-operator

#2596 [WIP] Variable loading changed
  scripts/ci/PR-traffic-light
  scripts/ci/ansible-env
  scripts/ci/run-ansible-tests
  scripts/ci/run-index-release
  scripts/ci/run-release
  scripts/ci/trigger-community-op-catalog-ci-release.sh
Labels: do-not-merge/work-in-progress, openshift-operator

#2590 Updating NeuVector Operator with new helm Chart
  community-operators/neuvector-community-operator/1.1.0/neuvector-operator.crd.yaml
  community-operators/neuvector-community-operator/1.1.0/neuvector-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2607 add KEDA 2.0.0 upstream community operator
  upstream-community-operators/keda/1.2.0/kedacontrollers.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.2.0/triggerauthentications.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.3.0/keda.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/keda/1.3.0/kedacontrollers.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.3.0/scaledobjects.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.3.0/triggerauthentications.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.4.1/keda.v1.4.1.clusterserviceversion.yaml
  upstream-community-operators/keda/1.4.1/manifests/keda.v1.4.1.clusterserviceversion.yaml
  upstream-community-operators/keda/1.4.1/manifests/kedacontrollers.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.4.1/manifests/scaledobjects.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.4.1/manifests/triggerauthentications.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.4.1/metadata/annotations.yaml
  upstream-community-operators/keda/1.5.0/manifests/keda.v1.5.0.clusterserviceversion.yaml
  upstream-community-operators/keda/1.5.0/manifests/kedacontrollers.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.5.0/manifests/scaledobjects.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.5.0/manifests/triggerauthentications.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.5.0/metadata/annotations.yaml
  upstream-community-operators/keda/1.5.0/scaledobjects.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/2.0.0/manifests/keda-olm-operator_v1_serviceaccount.yaml
  upstream-community-operators/keda/2.0.0/manifests/keda.sh_kedacontrollers.yaml
  upstream-community-operators/keda/2.0.0/manifests/keda.sh_scaledjobs.yaml
  upstream-community-operators/keda/2.0.0/manifests/keda.sh_scaledobjects.yaml
  upstream-community-operators/keda/2.0.0/manifests/keda.sh_triggerauthentications.yaml
  upstream-community-operators/keda/2.0.0/manifests/keda.v2.0.0.clusterserviceversion.yaml
  upstream-community-operators/keda/2.0.0/metadata/annotations.yaml
  upstream-community-operators/keda/keda.package.yaml
Labels: kubernetes-operator

#2608 add KEDA 2.0.0 community operator
  community-operators/keda/1.2.0/kedacontrollers.keda.k8s.io.crd.yaml
  community-operators/keda/1.2.0/triggerauthentications.keda.k8s.io.crd.yaml
  community-operators/keda/1.3.0/keda.v1.3.0.clusterserviceversion.yaml
  community-operators/keda/1.3.0/kedacontrollers.keda.k8s.io.crd.yaml
  community-operators/keda/1.3.0/scaledobjects.keda.k8s.io.crd.yaml
  community-operators/keda/1.3.0/triggerauthentications.keda.k8s.io.crd.yaml
  community-operators/keda/1.4.1/keda.v1.4.1.clusterserviceversion.yaml
  community-operators/keda/1.4.1/manifests/keda.v1.4.1.clusterserviceversion.yaml
  community-operators/keda/1.4.1/manifests/kedacontrollers.keda.k8s.io.crd.yaml
  community-operators/keda/1.4.1/manifests/scaledobjects.keda.k8s.io.crd.yaml
  community-operators/keda/1.4.1/manifests/triggerauthentications.keda.k8s.io.crd.yaml
  community-operators/keda/1.4.1/metadata/annotations.yaml
  community-operators/keda/1.5.0/manifests/keda.v1.5.0.clusterserviceversion.yaml
  community-operators/keda/1.5.0/manifests/kedacontrollers.keda.k8s.io.crd.yaml
  community-operators/keda/1.5.0/manifests/scaledobjects.keda.k8s.io.crd.yaml
  community-operators/keda/1.5.0/manifests/triggerauthentications.keda.k8s.io.crd.yaml
  community-operators/keda/1.5.0/metadata/annotations.yaml
  community-operators/keda/1.5.0/scaledobjects.keda.k8s.io.crd.yaml
  community-operators/keda/2.0.0/manifests/keda-olm-operator_v1_serviceaccount.yaml
  community-operators/keda/2.0.0/manifests/keda.sh_kedacontrollers.yaml
  community-operators/keda/2.0.0/manifests/keda.sh_scaledjobs.yaml
  community-operators/keda/2.0.0/manifests/keda.sh_scaledobjects.yaml
  community-operators/keda/2.0.0/manifests/keda.sh_triggerauthentications.yaml
  community-operators/keda/2.0.0/manifests/keda.v2.0.0.clusterserviceversion.yaml
  community-operators/keda/2.0.0/metadata/annotations.yaml
  community-operators/keda/keda.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2592 Upgrade snyk-operator to version 1.36.1
  upstream-community-operators/snyk-operator/1.36.1/snyk-operator.v1.36.1.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.36.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: kubernetes-operator, lgtm

#2583 Update eclipse-che operator for openshift to release 7.21.0
  community-operators/eclipse-che/7.21.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.21.0/eclipse-che.v7.21.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2621 update ditto operator to 0.2.0
  upstream-community-operators/ditto-operator/0.2.0/ditto-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/ditto-operator/0.2.0/ditto.yaml
  upstream-community-operators/ditto-operator/ditto-operator.package.yaml
Labels: kubernetes-operator

#2615 kubernetes apicast-community-operator to v0.2.2
  upstream-community-operators/apicast-community-operator/0.2.2/apicast-community-operator.v0.2.2.clusterserviceversion.yaml
  upstream-community-operators/apicast-community-operator/0.2.2/apps_v1alpha1_apicast_crd.yaml
  upstream-community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: kubernetes-operator

#2617 t8c-operator upstream 8.0
  upstream-community-operators/t8c/7.22.0/t8c-operator.v7.22.0.clusterserviceversion.yaml
  upstream-community-operators/t8c/7.22.0/xls.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/t8c/8.0.0/t8c-operator.v8.0.0.clusterserviceversion.yaml
  upstream-community-operators/t8c/8.0.0/xls.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/t8c/t8c.package.yaml
Labels: kubernetes-operator

#2606 fix rbac for tidb-operator
  community-operators/tidb-operator/1.1.5/tidb-operator.v1.1.5.clusterserviceversion.yaml
  community-operators/tidb-operator/1.1.6/tidb-operator.v1.1.6.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator

#2614 openshift apicast-community-operator to v0.3.0
  community-operators/apicast-community-operator/0.3.0/apicast-community-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/apicast-community-operator/0.3.0/apps.3scale.net_apicasts_crd.yaml
  community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2622 openshift 3scale-community-operator to v0.6.0
  community-operators/3scale-community-operator/0.6.0/3scale-community-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/3scale-community-operator/0.6.0/apps.3scale.net_apimanagerbackups_crd.yaml
  community-operators/3scale-community-operator/0.6.0/apps.3scale.net_apimanagerrestores_crd.yaml
  community-operators/3scale-community-operator/0.6.0/apps.3scale.net_apimanagers_crd.yaml
  community-operators/3scale-community-operator/0.6.0/capabilities.3scale.net_backends_crd.yaml
  community-operators/3scale-community-operator/0.6.0/capabilities.3scale.net_products_crd.yaml
  community-operators/3scale-community-operator/0.6.0/capabilities.3scale.net_tenants_crd.yaml
  community-operators/3scale-community-operator/3scale-community-operator.package.yaml
Labels: ok-to-test, openshift-operator

#2623 Update eclipse-che operator for kubernetes to release 7.21.1
  upstream-community-operators/eclipse-che/7.21.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.21.1/eclipse-che.v7.21.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2626 Update Instana Agent Operator to 0.3.8
  upstream-community-operators/instana-agent/0.3.8/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.3.8/instana-agent-operator.v0.3.8.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#2627 Updating Portworx Operator to 1.4.1
  upstream-community-operators/portworx/1.4.1/core_v1_storagecluster_crd.yaml
  upstream-community-operators/portworx/1.4.1/core_v1_storagenode_crd.yaml
  upstream-community-operators/portworx/1.4.1/portworxoperator.v1.4.1.clusterserviceversion.yaml
  upstream-community-operators/portworx/portworx.package.yaml
Labels: kubernetes-operator

#2616 t8c-operator 8.0
  community-operators/t8c/7.22.0/t8c-operator.v7.22.0.clusterserviceversion.yaml
  community-operators/t8c/7.22.0/xls.charts.helm.k8s.io.crd.yaml
  community-operators/t8c/8.0.0/t8c-operator.v8.0.0.clusterserviceversion.yaml
  community-operators/t8c/8.0.0/xls.charts.helm.k8s.io.crd.yaml
  community-operators/t8c/t8c.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2609 Add konveyor-virt-operator to community-operators
  community-operators/konveyor-virt-operator/0.1.0/manifests/konveyor-virt-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/konveyor-virt-operator/0.1.0/manifests/virt_v1alpha1_controller.yaml
  community-operators/konveyor-virt-operator/0.1.0/manifests/virt_v1alpha1_host.yaml
  community-operators/konveyor-virt-operator/0.1.0/manifests/virt_v1alpha1_migration.yaml
  community-operators/konveyor-virt-operator/0.1.0/manifests/virt_v1alpha1_networkmap.yaml
  community-operators/konveyor-virt-operator/0.1.0/manifests/virt_v1alpha1_plan.yaml
  community-operators/konveyor-virt-operator/0.1.0/manifests/virt_v1alpha1_provider.yaml
  community-operators/konveyor-virt-operator/0.1.0/manifests/virt_v1alpha1_storagemap.yaml
  community-operators/konveyor-virt-operator/0.1.0/metadata/annotations.yaml
  community-operators/konveyor-virt-operator/ci.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2624 Update eclipse-che operator for openshift to release 7.21.1
  community-operators/eclipse-che/7.21.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.21.1/eclipse-che.v7.21.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2628 Upgrade Portworx Essentials to 1.4.1
  community-operators/portworx-essentials/1.4.1/core_v1_storagecluster_crd.yaml
  community-operators/portworx-essentials/1.4.1/core_v1_storagenode_crd.yaml
  community-operators/portworx-essentials/1.4.1/portworxoperator.v1.4.1.clusterserviceversion.yaml
  community-operators/portworx-essentials/portworx.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2620 docs(starboard): Update installation guide to use the default catalogsource
  upstream-community-operators/starboard-operator/0.6.0/starboard-operator.v0.0.6.clusterserviceversion.yaml
Labels: kubernetes-operator, needs-info

#2629 [Upstream] Nexus Operator Release 0.4.0
  upstream-community-operators/nexus-operator-m88i/0.4.0/apps.m88i.io_nexus_crd.yaml
  upstream-community-operators/nexus-operator-m88i/0.4.0/nexus-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  upstream-community-operators/nexus-operator-m88i/0.4.0/nexus-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: kubernetes-operator, needs-ok-to-test

#2618 Add manifests for Dynatrace OneAgent Operator 0.9.0
  upstream-community-operators/oneagent/0.9.0/dynatrace-monitoring.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.9.0/dynatrace.com_oneagentapms_crd.yaml
  upstream-community-operators/oneagent/0.9.0/dynatrace.com_oneagents_crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator

#2630 [Community] Nexus Operator Release 0.4.0
  community-operators/nexus-operator-m88i/0.4.0/apps.m88i.io_nexus_crd.yaml
  community-operators/nexus-operator-m88i/0.4.0/nexus-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/nexus-operator-m88i/0.4.0/nexus-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2636 Ci yml edit
  scripts/ci/ansible-env
Labels: kubernetes-operator

#2635 update ditto operator to 0.2.0
  community-operators/ditto-operator/0.2.0/ditto-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/ditto-operator/0.2.0/ditto.yaml
  community-operators/ditto-operator/ditto-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2640 kubernetes apicast-community-operator to v0.3.0
  upstream-community-operators/apicast-community-operator/0.3.0/apicast-community-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/apicast-community-operator/0.3.0/apps.3scale.net_apicasts_crd.yaml
  upstream-community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: kubernetes-operator

#2598 volume-expander-operator initial commit
  community-operators/volume-expander-operator/0.1.0/Dockerfile
  community-operators/volume-expander-operator/0.1.0/manifests/volume-expander-operator.clusterserviceversion.yaml
  community-operators/volume-expander-operator/0.1.0/metadata/annotations.yaml
  community-operators/volume-expander-operator/0.1.0/tests/scorecard/config.yaml
Labels: lgtm, openshift-operator

#2645 volume-expander-operator new version 0.1.0
  community-operators/volume-expander-operator/0.1.0/manifests/volume-expander-operator.clusterserviceversion.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2642 Adding upstream for dellemc-operator
  upstream-community-operators/dell-csi-operator/1.1.0/csiisilons.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.1.0/csipowermaxes.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.1.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.1.0/csipowerstores.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.1.0/csiunities.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.1.0/csivxflexoses.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.1.0/dell-csi-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/dell-csi-operator/ci.yaml
  upstream-community-operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: kubernetes-operator

#2649 add mysql-operator 1.0.0
  upstream-community-operators/mysql/1.0.0/mysqlclusters.grds.cloud.crd.yaml
  upstream-community-operators/mysql/1.0.0/mysqloperator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/mysql/mysql.package.yaml
Labels: kubernetes-operator

#2651 kubernetes apicast-community-operator to v0.3.1
  upstream-community-operators/apicast-community-operator/0.3.1/apicast-community-operator.v0.3.1.clusterserviceversion.yaml
  upstream-community-operators/apicast-community-operator/0.3.1/apps.3scale.net_apicasts_crd.yaml
  upstream-community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: kubernetes-operator

#2652 openshift apicast-community-operator to v0.3.1
  community-operators/apicast-community-operator/0.3.1/apicast-community-operator.v0.3.1.clusterserviceversion.yaml
  community-operators/apicast-community-operator/0.3.1/apps.3scale.net_apicasts_crd.yaml
  community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2451 add shipwright operator for kubernetes
  upstream-community-operators/shipwright-operator/0.1.0/build.dev_buildruns_crd.yaml
  upstream-community-operators/shipwright-operator/0.1.0/build.dev_builds_crd.yaml
  upstream-community-operators/shipwright-operator/0.1.0/build.dev_buildstrategies_crd.yaml
  upstream-community-operators/shipwright-operator/0.1.0/build.dev_clusterbuildstrategies_crd.yaml
  upstream-community-operators/shipwright-operator/0.1.0/shipwright-operator.clusterserviceversion.yaml
  upstream-community-operators/shipwright-operator/shipwright-operator.package.yaml
Labels: kubernetes-operator

#2655 Add ECK 1.3.0 to upstream-community-operators
  upstream-community-operators/elastic-cloud-eck/1.3.0/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.3.0/beats.beat.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.3.0/elastic-cloud-eck.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud-eck/1.3.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.3.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.3.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator

#2654 Add ECK 1.3.0 to community-operators
  community-operators/elastic-cloud-eck/1.3.0/apmservers.apm.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.0/beats.beat.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.0/elastic-cloud-eck.v1.3.0.clusterserviceversion.yaml
  community-operators/elastic-cloud-eck/1.3.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2667 Updating Robin operator version
  upstream-community-operators/robin-operator/5.3.2-59/robin-operator.v5.3.2-59.clusterserviceversion.yaml
  upstream-community-operators/robin-operator/5.3.2-59/robin_v1_robincluster_crd.yaml
  upstream-community-operators/robin-operator/robin.package.yaml
Labels: kubernetes-operator

#2670 fix example json string in jenkins-operator
  community-operators/jenkins-operator/0.6.0/manifests/jenkins-operator.v0.6.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, ok-to-test, openshift-operator

#2641 Upgrade build operator to v0.1.0
  community-operators/buildv2-operator/0.1.0/build.dev_buildruns_crd.yaml
  community-operators/buildv2-operator/0.1.0/build.dev_builds_crd.yaml
  community-operators/buildv2-operator/0.1.0/build.dev_buildstrategies_crd.yaml
  community-operators/buildv2-operator/0.1.0/build.dev_clusterbuildstrategies_crd.yaml
  community-operators/buildv2-operator/0.1.0/buildv2-operator.clusterserviceversion.yaml
  community-operators/buildv2-operator/buildv2-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2597 Update to maistra 1.1.10
  community-operators/maistraoperator/1.1.10/maistraoperator.v1.1.10.clusterserviceversion.yaml
  community-operators/maistraoperator/1.1.10/servicemeshcontrolplanes.crd.yaml
  community-operators/maistraoperator/1.1.10/servicemeshmemberrolls.crd.yaml
  community-operators/maistraoperator/1.1.10/servicemeshmembers.crd.yaml
  community-operators/maistraoperator/maistra.package.yaml
Labels: lgtm, ok-to-test, openshift-operator, test/force-deploy-on-kubernetes

#2646 Add Open Data Hub 0.9.0 release
  community-operators/opendatahub-operator/0.9.0/kfdef.apps.kubeflow.org.crd.yaml
  community-operators/opendatahub-operator/0.9.0/opendatahub-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/opendatahub-operator/opendatahub-operator.package.yaml
Labels: ok-to-test, openshift-operator

#2686 Add VictoriaMetrics operator v0.4.0 to upstream-community-operators
  upstream-community-operators/victoriametrics-operator/0.4.0/operator.victoriametrics.com_vmagents.yaml
  upstream-community-operators/victoriametrics-operator/0.4.0/operator.victoriametrics.com_vmalertmanagers.yaml
  upstream-community-operators/victoriametrics-operator/0.4.0/operator.victoriametrics.com_vmalerts.yaml
  upstream-community-operators/victoriametrics-operator/0.4.0/operator.victoriametrics.com_vmclusters.yaml
  upstream-community-operators/victoriametrics-operator/0.4.0/operator.victoriametrics.com_vmpodscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.4.0/operator.victoriametrics.com_vmprobes.yaml
  upstream-community-operators/victoriametrics-operator/0.4.0/operator.victoriametrics.com_vmrules.yaml
  upstream-community-operators/victoriametrics-operator/0.4.0/operator.victoriametrics.com_vmservicescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.4.0/operator.victoriametrics.com_vmsingles.yaml
  upstream-community-operators/victoriametrics-operator/0.4.0/victoriametrics-operator.0.4.0.clusterserviceversion.yaml
  upstream-community-operators/victoriametrics-operator/0.4.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  upstream-community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: kubernetes-operator

#2687 Update StorageOS Operator to version v2.3.1
  upstream-community-operators/storageos/2.3.1/storageos.v2.3.1.clusterserviceversion.yaml
  upstream-community-operators/storageos/2.3.1/storageoscluster.crd.yaml
  upstream-community-operators/storageos/2.3.1/storageosjob.crd.yaml
  upstream-community-operators/storageos/2.3.1/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/2.3.1/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: kubernetes-operator

#2692 Infinispan Operator upstream 2.0.5
  upstream-community-operators/infinispan/2.0.5/infinispan-operator.v2.0.5.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.0.5/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.0.5/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#2702 Updating Portworx Operator to 1.4.2
  upstream-community-operators/portworx/1.4.2/core_v1_storagecluster_crd.yaml
  upstream-community-operators/portworx/1.4.2/core_v1_storagenode_crd.yaml
  upstream-community-operators/portworx/1.4.2/portworxoperator.v1.4.2.clusterserviceversion.yaml
  upstream-community-operators/portworx/portworx.package.yaml
Labels: kubernetes-operator

#2611 Akka Cluster Operator v1.0.2, community
  community-operators/akka-cluster-operator/1.0.2/akka-cluster-operator.v1.0.2.clusterserviceversion.yaml
  community-operators/akka-cluster-operator/1.0.2/app_v1alpha1_akkacluster_crd.yaml
  community-operators/akka-cluster-operator/akka-cluster-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2693 Infinispan Operator community 2.0.5
  community-operators/infinispan/2.0.5/infinispan-operator.v2.0.5.clusterserviceversion.yaml
  community-operators/infinispan/2.0.5/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.0.5/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2701 Updating Portworx Essentials Operator to 1.4.2
  community-operators/portworx-essentials/1.4.2/core_v1_storagecluster_crd.yaml
  community-operators/portworx-essentials/1.4.2/core_v1_storagenode_crd.yaml
  community-operators/portworx-essentials/1.4.2/portworxoperator.v1.4.2.clusterserviceversion.yaml
  community-operators/portworx-essentials/portworx.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2695 Update community PostgreSQL Operator to v4.5.1
  community-operators/postgresql/4.5.1/pgclusters.crunchydata.com.crd.yaml
  community-operators/postgresql/4.5.1/pgpolicies.crunchydata.com.crd.yaml
  community-operators/postgresql/4.5.1/pgreplicas.crunchydata.com.crd.yaml
  community-operators/postgresql/4.5.1/pgtasks.crunchydata.com.crd.yaml
  community-operators/postgresql/4.5.1/postgresoperator.v4.5.1.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2705 Flux
  upstream-community-operators/flux/0.2.2/manifests/alert.crd.yaml
  upstream-community-operators/flux/0.2.2/manifests/bucket.crd.yaml
  upstream-community-operators/flux/0.2.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.2.2/manifests/crd-controller-flux-system.role.yaml
  upstream-community-operators/flux/0.2.2/manifests/crd-controller-flux-system.rolebinding.yaml
  upstream-community-operators/flux/0.2.2/manifests/flux.v0.2.2.clusterserviceversion.yaml
  upstream-community-operators/flux/0.2.2/manifests/gitrepository.crd.yaml
  upstream-community-operators/flux/0.2.2/manifests/helmchart.crd.yaml
  upstream-community-operators/flux/0.2.2/manifests/helmrelease.crd.yaml
  upstream-community-operators/flux/0.2.2/manifests/helmrepository.crd.yaml
  upstream-community-operators/flux/0.2.2/manifests/kustomization.crd.yaml
  upstream-community-operators/flux/0.2.2/manifests/notification-controller.service.yaml
  upstream-community-operators/flux/0.2.2/manifests/provider.crd.yaml
  upstream-community-operators/flux/0.2.2/manifests/receiver.crd.yaml
  upstream-community-operators/flux/0.2.2/manifests/source-controller.service.yaml
  upstream-community-operators/flux/0.2.2/manifests/webhook-receiver.service.yaml
  upstream-community-operators/flux/0.2.2/metadata/annotations.yaml
  upstream-community-operators/flux/ci.yaml
Labels: kubernetes-operator

#2706 add OpenShift Hive operator 1.0.13 for upstream
  upstream-community-operators/hive-operator/1.0.13/hive-operator.v1.0.13.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.13/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.0.13/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.0.13/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#2707 add OpenShift Hive operator 1.0.13
  community-operators/hive-operator/1.0.13/hive-operator.v1.0.13.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.13/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.0.13/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.0.13/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2699 volume-expander-operator new version 0.1.2
  community-operators/volume-expander-operator/0.1.2/Dockerfile
  community-operators/volume-expander-operator/0.1.2/manifests/volume-expander-operator.clusterserviceversion.yaml
  community-operators/volume-expander-operator/0.1.2/metadata/annotations.yaml
  community-operators/volume-expander-operator/0.1.2/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2704 Dell csi operator bugfix
  upstream-community-operators/dell-csi-operator/1.1.0/dell-csi-operator.v1.1.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#2711 Update eclipse-che operator for kubernetes to release 7.21.2
  upstream-community-operators/eclipse-che/7.21.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.21.2/eclipse-che.v7.21.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2712 Update eclipse-che operator for openshift to release 7.21.2
  community-operators/eclipse-che/7.21.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.21.2/eclipse-che.v7.21.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2715 Update OADP operator to 0.1.3
  community-operators/oadp-operator/0.1.3/manifests/backup.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/oadp-operator.v0.1.3.clusterserviceversion.yaml
  community-operators/oadp-operator/0.1.3/manifests/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/resticrepository.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/restore.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/schedule.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/velero.crd.yaml
  community-operators/oadp-operator/0.1.3/manifests/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/0.1.3/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2716 Add Hedvig Operator: 1.0.0-beta
  upstream-community-operators/hedvig-operator/1.0.0-beta/hedvig-operator.v1.0.0-beta.clusterserviceversion.yaml
  upstream-community-operators/hedvig-operator/1.0.0-beta/hedvigdeploys.hedvig.io.crd.yaml
  upstream-community-operators/hedvig-operator/ci.yaml
  upstream-community-operators/hedvig-operator/hedvig-operator.package.yaml
Labels: kubernetes-operator

#2719 cleanup descheduler
  community-operators/descheduler/ci.yaml
Labels: openshift-operator

#2720 cleanup metering zombie
  community-operators/metering/ci.yaml
Labels: openshift-operator

#2700 Community WMCO 0.1.0 release
  community-operators/community-windows-machine-config-operator/0.0.1/Dockerfile
  community-operators/community-windows-machine-config-operator/0.0.1/manifests/community-windows-machine-config-operator.0.0.1.clusterserviceversion.yaml
  community-operators/community-windows-machine-config-operator/0.0.1/metadata/annotations.yaml
  community-operators/community-windows-machine-config-operator/0.1.0/Dockerfile
  community-operators/community-windows-machine-config-operator/0.1.0/manifests/community-windows-machine-config-operator.0.1.0.clusterserviceversion.yaml
  community-operators/community-windows-machine-config-operator/0.1.0/metadata/annotations.yaml
  community-operators/community-windows-machine-config-operator/community-windows-machine-config-operator.package.yaml
Labels: allow/operator-recreate, lgtm, ok-to-test, openshift-operator, test/force-deploy-on-kubernetes

#2723 Infinispan Operator Upstream 2.1.0
  upstream-community-operators/infinispan/2.1.0/infinispan-operator.v2.1.0.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.1.0/infinispan.org_backups_crd.yaml
  upstream-community-operators/infinispan/2.1.0/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.1.0/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/2.1.0/infinispan.org_restores_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#2721 Update to Maistra 2.0
  community-operators/maistraoperator/2.0.0/maistraoperator.v2.0.0.clusterserviceversion.yaml
  community-operators/maistraoperator/2.0.0/servicemeshcontrolplanes.crd.yaml
  community-operators/maistraoperator/2.0.0/servicemeshmemberrolls.crd.yaml
  community-operators/maistraoperator/2.0.0/servicemeshmembers.crd.yaml
  community-operators/maistraoperator/maistra.package.yaml
Labels: lgtm, needs-info, ok-to-test, openshift-operator

#2722 Infinispan Operator 2.1.0
  community-operators/infinispan/2.1.0/infinispan-operator.v2.1.0.clusterserviceversion.yaml
  community-operators/infinispan/2.1.0/infinispan.org_backups_crd.yaml
  community-operators/infinispan/2.1.0/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.1.0/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/2.1.0/infinispan.org_restores_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2724 Update OADP operator to 0.1.4
  community-operators/oadp-operator/0.1.4/manifests/backup.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/oadp-operator.v0.1.4.clusterserviceversion.yaml
  community-operators/oadp-operator/0.1.4/manifests/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/resticrepository.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/restore.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/schedule.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/velero.crd.yaml
  community-operators/oadp-operator/0.1.4/manifests/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/0.1.4/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2725 resource-locker-operator new version
  community-operators/resource-locker-operator/0.1.6/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.6/resource-locker-operator.v0.1.6.clusterserviceversion.yaml
  community-operators/resource-locker-operator/resource-locker-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2717 Add Hedvig Operator 1.0.0-beta to community operators
  community-operators/hedvig-operator/1.0.0-beta/manifests/hedvig-operator.v1.0.0-beta.clusterserviceversion.yaml
  community-operators/hedvig-operator/1.0.0-beta/manifests/hedvigdeploys.hedvig.io.crd.yaml
  community-operators/hedvig-operator/1.0.0-beta/metadata/annotations.yaml
  community-operators/hedvig-operator/ci.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2727 Update Apicurio Registry Operator to 0.0.4-v1.3.2.final (upstream)
  upstream-community-operators/apicurio-registry/0.0.4-v1.3.2.final/apicur.io_apicurioregistries_crd.yaml
  upstream-community-operators/apicurio-registry/0.0.4-v1.3.2.final/apicurio-registry.v0.0.4-v1.3.2.final.clusterserviceversion.yaml
  upstream-community-operators/apicurio-registry/apicurio-registry-operator.package.yaml
Labels: kubernetes-operator

#2726 Update Apicurio Registry Operator to 0.0.4-v1.3.2.final (community)
  community-operators/apicurio-registry/0.0.4-v1.3.2.final/apicur.io_apicurioregistries_crd.yaml
  community-operators/apicurio-registry/0.0.4-v1.3.2.final/apicurio-registry.v0.0.4-v1.3.2.final.clusterserviceversion.yaml
  community-operators/apicurio-registry/apicurio-registry-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2713 Add kubernetes-nmstate-operator 0.33.0 to upstream-community-operators
  upstream-community-operators/kubernetes-nmstate-operator/0.33.0/kubernetes-nmstate-operator.v0.33.0.clusterserviceversion.yaml
  upstream-community-operators/kubernetes-nmstate-operator/0.33.0/nmstate-operator_v1_serviceaccount.yaml
  upstream-community-operators/kubernetes-nmstate-operator/0.33.0/nmstate.io_nmstates.yaml
  upstream-community-operators/kubernetes-nmstate-operator/kubernetes-nmstate-operator.package.yaml
Labels: kubernetes-operator

#2730 add jenkins operator 0.7.0
  community-operators/jenkins-operator/0.7.0/manifests/jenkins-operator.v0.7.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_backup_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_backupconfig_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_backupworker_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_restore_crd.yaml
  community-operators/jenkins-operator/0.7.0/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2718 dell-csi-operator-powerstore-displayname-change
  upstream-community-operators/dell-csi-operator/1.1.0/dell-csi-operator.v1.1.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#2732 Instana Agent Operator 0.3.9
  upstream-community-operators/instana-agent/0.3.9/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.3.9/instana-agent-operator.v0.3.9.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#2731 Support for Mongodb Enterprise Operator 1.8.2
  upstream-community-operators/mongodb-enterprise/1.8.2/mongodb-enterprise.v1.8.2.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.8.2/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.8.2/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.8.2/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator
