Repository operator-framework/community-operators, pull requests merged in 2020-09, with the labels that each got.

#2255 update hawkbit operator to 0.1.3
  upstream-community-operators/hawkbit-operator/0.1.3/hawkbit-operator.v0.1.3.clusterserviceversion.yaml
  upstream-community-operators/hawkbit-operator/0.1.3/hawkbit.crd.yaml
  upstream-community-operators/hawkbit-operator/hawkbit-operator.package.yaml
Labels: kubernetes-operator

#2256 update openshift version of hawkbit operator to 0.1.3
  community-operators/hawkbit-operator/0.1.3/hawkbit-operator.v0.1.3.clusterserviceversion.yaml
  community-operators/hawkbit-operator/0.1.3/hawkbit.crd.yaml
  community-operators/hawkbit-operator/hawkbit-operator.package.yaml
Labels: openshift-operator

#2260 [community] update datadog-operator to v0.3.0
  community-operators/datadog-operator/0.3.0/datadog-operator.clusterserviceversion.yaml
  community-operators/datadog-operator/0.3.0/datadoghq.com_datadogagents_crd.yaml
  community-operators/datadog-operator/0.3.0/datadoghq.com_datadogmetrics_crd.yaml
  community-operators/datadog-operator/datadog-operator.package.yaml
Labels: openshift-operator

#2263 Add 0.0.2 of kubernetes-image-puller-operator to upstream-community-operators
  upstream-community-operators/kubernetes-imagepuller-operator/0.0.2/che.eclipse.org_kubernetesimagepullers_crd.yaml
  upstream-community-operators/kubernetes-imagepuller-operator/0.0.2/kubernetes-imagepuller-operator.v0.0.2.clusterserviceversion.yaml
  upstream-community-operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: kubernetes-operator

#2272 group-sync-operator release 0.0.6
  community-operators/group-sync-operator/0.0.6/group-sync-operator.v0.0.6.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.6/redhatcop.redhat.io_groupsyncs_crd.yaml
  community-operators/group-sync-operator/group-sync-operator.package.yaml
Labels: openshift-operator

#2248 Update eclipse-che operator for openshift to release 7.18.0
  community-operators/eclipse-che/7.18.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.18.0/eclipse-che.v7.18.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: ok-to-test, openshift-operator

#2279 Update kubernetes-imagepuller-operator on upstream-community-operators to 0.0.3
  upstream-community-operators/kubernetes-imagepuller-operator/0.0.3/che.eclipse.org_kubernetesimagepullers_crd.yaml
  upstream-community-operators/kubernetes-imagepuller-operator/0.0.3/kubernetes-imagepuller-operator.v0.0.3.clusterserviceversion.yaml
  upstream-community-operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: kubernetes-operator

#2278 Update kubernetes-imagepuller-operator community to 0.0.3
  community-operators/kubernetes-imagepuller-operator/0.0.3/che.eclipse.org_kubernetesimagepullers_crd.yaml
  community-operators/kubernetes-imagepuller-operator/0.0.3/kubernetes-imagepuller-operator.v0.0.3.clusterserviceversion.yaml
  community-operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: openshift-operator

#2276 Upstream knative operator 0.17.0
  upstream-community-operators/knative-operator/0.17.0/knative-operator.v0.17.0.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.17.0/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.17.0/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#2271 Release 1.7.1
  upstream-community-operators/mongodb-enterprise/1.7.1/mongodb-enterprise.v1.7.1.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.7.1/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.7.1/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.7.1/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator

#2273 Upgrade snyk-operator to version 1.32.3
  upstream-community-operators/snyk-operator/1.32.3/snyk-operator.v1.32.3.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.32.3/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: kubernetes-operator

#2274 Upgrade snyk-operator to version 1.32.3
  community-operators/snyk-operator/1.32.3/snyk-operator.v1.32.3.clusterserviceversion.yaml
  community-operators/snyk-operator/1.32.3/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: openshift-operator

#2277 Instana Agent Operator 0.3.5
  upstream-community-operators/instana-agent/0.3.5/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.3.5/instana-agent-operator.v0.3.5.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#2281 fixing spelling error authentiation to authentication in csv for v0.1…
  community-operators/strimzi-kafka-operator/0.18.0/strimzi-cluster-operator.v0.18.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.19.0/strimzi-cluster-operator.v0.19.0.clusterserviceversion.yaml
Labels: openshift-operator

#2163 Add OpenShift NFD operator (Downstream)
  community-operators/nfd-operator/4.5/nfd.crd.yaml
  community-operators/nfd-operator/4.5/nfd.v4.5.0.clusterserviceversion.yaml
  community-operators/nfd-operator/nfd.package.yaml
Labels: ok-to-test, openshift-operator

#2243 Drop descheduler operator (outdated and no longer maintained)
  community-operators/descheduler/0.0.1/descheduler.v0.0.1.clusterserviceversion.yaml
  community-operators/descheduler/0.0.1/deschedulers.descheduler.io.crd.yaml
  community-operators/descheduler/descheduler.package.yaml
Labels: openshift-operator

#2286 duplicate index
  .travis.yml
  community-operators/cockroachdb/3.0.7/cockroachdb.v3.0.7.clusterserviceversion.yaml
  scripts/ci/run-release
Labels: openshift-operator

#2285 Fixing ndf-operator directory version name
  community-operators/nfd-operator/4.5.0/nfd.crd.yaml
  community-operators/nfd-operator/4.5.0/nfd.v4.5.0.clusterserviceversion.yaml
Labels: openshift-operator

#2291 update hawkbit operator to 0.1.4
  upstream-community-operators/hawkbit-operator/0.1.4/hawkbit-operator.v0.1.4.clusterserviceversion.yaml
  upstream-community-operators/hawkbit-operator/0.1.4/hawkbit.crd.yaml
  upstream-community-operators/hawkbit-operator/hawkbit-operator.package.yaml
Labels: kubernetes-operator

#2262 [upstream-community] update datadog-operator to v0.3.0
  upstream-community-operators/datadog-operator/0.3.0/datadog-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/datadog-operator/0.3.0/datadoghq.com_datadogagents_crd.yaml
  upstream-community-operators/datadog-operator/0.3.0/datadoghq.com_datadogmetrics_crd.yaml
  upstream-community-operators/datadog-operator/datadog-operator.package.yaml
Labels: kubernetes-operator

#2292 update hawkbit operator to 0.1.4 for OCP
  community-operators/hawkbit-operator/0.1.4/hawkbit-operator.v0.1.4.clusterserviceversion.yaml
  community-operators/hawkbit-operator/0.1.4/hawkbit.crd.yaml
  community-operators/hawkbit-operator/hawkbit-operator.package.yaml
Labels: openshift-operator

#2294 Upstream knative operator 0.17.1
  upstream-community-operators/knative-operator/0.17.1/knative-operator.v0.17.1.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.17.1/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.17.1/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#2295 Open Data Hub operator release v0.8.0
  community-operators/opendatahub-operator/0.8.0/kfdef.apps.kubeflow.org.crd.yaml
  community-operators/opendatahub-operator/0.8.0/opendatahub-operator.v0.8.0.clusterserviceversion.yaml
  community-operators/opendatahub-operator/opendatahub-operator.package.yaml
Labels: openshift-operator

#2251 Update Jaeger community-operators to v1.19.0
  community-operators/jaeger/1.19.0/jaeger.v1.19.0.clusterserviceversion.yaml
  community-operators/jaeger/1.19.0/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: openshift-operator

#2250 Update Jaeger upstream-community-operators to v1.19.0
  upstream-community-operators/jaeger/1.19.0/jaeger.v1.19.0.clusterserviceversion.yaml
  upstream-community-operators/jaeger/1.19.0/jaegertracing.io_jaegers_crd.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
Labels: kubernetes-operator

#2010 Update hazelcast-operator to 0.3.1
  community-operators/hazelcast-operator/0.3.1/hazelcast-operator.v0.3.1.clusterserviceversion.yaml
  community-operators/hazelcast-operator/0.3.1/hazelcasts.hazelcast.com.crd.yaml
  community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: approved, openshift-operator

#2296 Add OADP Operator
  community-operators/oadp-operator/0.1.0/backup.crd.yaml
  community-operators/oadp-operator/0.1.0/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.1.0/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.1.0/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.1.0/oadp-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/oadp-operator/0.1.0/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.1.0/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.1.0/resticrepository.crd.yaml
  community-operators/oadp-operator/0.1.0/restore.crd.yaml
  community-operators/oadp-operator/0.1.0/schedule.crd.yaml
  community-operators/oadp-operator/0.1.0/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.1.0/velero.crd.yaml
  community-operators/oadp-operator/0.1.0/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/oadp-operator.package.yaml
Labels: openshift-operator

#2192 Update hazelcast-operator to 0.3.2
  community-operators/hazelcast-operator/0.3.2/hazelcast-operator.v0.3.2.clusterserviceversion.yaml
  community-operators/hazelcast-operator/0.3.2/hazelcasts.hazelcast.com.crd.yaml
  community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: openshift-operator

#2297 Add IBM Application Gateway operator
  upstream-community-operators/ibm-application-gateway-operator/0.9.0/ibm-application-gateway-operator.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-application-gateway-operator/0.9.0/ibmapplicationgateways.ibm.com.crd.yaml
  upstream-community-operators/ibm-application-gateway-operator/ibm-application-gateway-operator.package.yaml
Labels: kubernetes-operator, need-info

#2298 Fixing ndf-operator directory name
  community-operators/openshift-nfd-operator/4.5.0/nfd.crd.yaml
  community-operators/openshift-nfd-operator/4.5.0/nfd.v4.5.0.clusterserviceversion.yaml
  community-operators/openshift-nfd-operator/nfd.package.yaml
Labels: openshift-operator

#2268 [upstream-community] Update submariner-operator to v0.6.1
  upstream-community-operators/submariner/0.6.1/lighthouse.submariner.io_serviceexports_crd.yaml
  upstream-community-operators/submariner/0.6.1/lighthouse.submariner.io_serviceimports_crd.yaml
  upstream-community-operators/submariner/0.6.1/submariner.io_servicediscoveries_crd.yaml
  upstream-community-operators/submariner/0.6.1/submariner.io_submariners_crd.yaml
  upstream-community-operators/submariner/0.6.1/submariner.v0.6.1.clusterserviceversion.yaml
  upstream-community-operators/submariner/submariner.package.yaml
Labels: kubernetes-operator

#2220 add azure-service-operator 0.37.0 bundle
  community-operators/azure-service-operator/0.37.0/azure-service-operator.v0.37.0.clusterserviceversion.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_apimgmtapis.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_apimservices.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_appinsights.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_appinsightsapikeys.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azureloadbalancers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azurenetworkinterfaces.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azurepublicipaddresses.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlactions.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqldatabases.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfailovergroups.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfirewallrules.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlmanagedusers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlservers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlusers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlvnetrules.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azurevirtualmachineextensions.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azurevirtualmachines.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azurevmscalesets.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_blobcontainers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_consumergroups.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_cosmosdbs.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_eventhubnamespaces.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_eventhubs.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_keyvaultkeys.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_keyvaults.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqldatabases.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlfirewallrules.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlservers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlusers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlvnetrules.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqldatabases.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlfirewallrules.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlservers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlusers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlvnetrules.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_rediscacheactions.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_rediscachefirewallrules.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_rediscaches.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_resourcegroups.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_storageaccounts.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_virtualnetworks.yaml
  community-operators/azure-service-operator/0.37.0/azureoperator-webhook-service.yaml
  community-operators/azure-service-operator/azure-service-operator.package.yaml
Labels: ok-to-test, openshift-operator

#2307 [openshift] Upgrade API-Operator version to 1.2.0
  community-operators/api-operator/1.2.0/api-operator.v1.2.0.clusterserviceversion.yaml
  community-operators/api-operator/1.2.0/wso2.com_apis_crd.yaml
  community-operators/api-operator/1.2.0/wso2.com_ratelimitings_crd.yaml
  community-operators/api-operator/1.2.0/wso2.com_securities_crd.yaml
  community-operators/api-operator/1.2.0/wso2.com_targetendpoints_crd.yaml
  community-operators/api-operator/api-operator.package.yaml
Labels: openshift-operator

#2304 add OpenShift Hive operator 1.0.9
  community-operators/hive-operator/1.0.9/hive-operator.v1.0.9.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.9/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.0.9/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.0.9/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: openshift-operator

#2269 [community] Update submariner-operator to v0.6.1
  community-operators/submariner/0.6.1/lighthouse.submariner.io_serviceexports_crd.yaml
  community-operators/submariner/0.6.1/lighthouse.submariner.io_serviceimports_crd.yaml
  community-operators/submariner/0.6.1/submariner.io_servicediscoveries_crd.yaml
  community-operators/submariner/0.6.1/submariner.io_submariners_crd.yaml
  community-operators/submariner/0.6.1/submariner.v0.6.1.clusterserviceversion.yaml
  community-operators/submariner/submariner.package.yaml
Labels: openshift-operator

#2290 Updated logging operator v0.2.0 version
  upstream-community-operators/logging-operator/0.2.0/elasticsearches.logging.opstreelabs.in.crd.yaml
  upstream-community-operators/logging-operator/0.2.0/fluentds.logging.opstreelabs.in.crd.yaml
  upstream-community-operators/logging-operator/0.2.0/indexlifecycles.logging.opstreelabs.in.crd.yaml
  upstream-community-operators/logging-operator/0.2.0/indextemplates.logging.opstreelabs.in.crd.yaml
  upstream-community-operators/logging-operator/0.2.0/kibanas.logging.opstreelabs.in.crd.yaml
  upstream-community-operators/logging-operator/0.2.0/logging-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/logging-operator/logging-operator.package.yaml
Labels: kubernetes-operator

#2300 Operator to run quantum circuits build using Qiskit on IBM quantum sy…
  community-operators/ibm-quantum-operator/0.1.0/ibm-quantum-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/ibm-quantum-operator/0.1.0/singhp11.io_ibmqs_crd.yaml
  community-operators/ibm-quantum-operator/ibm-quantum-operator.package.yaml
Labels: openshift-operator

#2305 add OpenShift Hive operator 1.0.9 for upstream
  upstream-community-operators/hive-operator/1.0.9/hive-operator.v1.0.9.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.9/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.0.9/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.0.9/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#2313 Fix operator detection
  .travis.yml
  scripts/ci/PR-traffic-light
  scripts/ci/ansible-env
  scripts/ci/app-reg-env
  scripts/ci/check-pr
  scripts/ci/check-release
  scripts/ci/operators-env
Labels: do-not-merge/hold

#2310 [openshift] Upgrade WSO2AM-Operator version to 1.1.0
  community-operators/wso2am-operator/1.1.0/apimanagers.apim.wso2.com.crd.yaml
  community-operators/wso2am-operator/1.1.0/wso2am-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/wso2am-operator/wso2am-operator.package.yaml
Labels: openshift-operator

#2309 [k8s] Upgrade WSO2AM-Operator version to 1.1.0
  upstream-community-operators/wso2am-operator/1.1.0/apimanagers.apim.wso2.com.crd.yaml
  upstream-community-operators/wso2am-operator/1.1.0/wso2am-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/wso2am-operator/wso2am-operator.package.yaml
Labels: kubernetes-operator

#2308 Add ibm application gateway operator
  upstream-community-operators/ibm-application-gateway-operator/0.9.0/ibm-application-gateway-operator.v0.9.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#2318 Update eclipse-che operator for kubernetes to release 7.18.2
  upstream-community-operators/eclipse-che/7.18.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.18.2/eclipse-che.v7.18.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2330 Update oadp provider
  community-operators/oadp-operator/0.1.0/oadp-operator.v0.1.0.clusterserviceversion.yaml
Labels: openshift-operator

#2326 IBM Block CSI update upstream to v1.3.0
  upstream-community-operators/ibm-block-csi-operator-community/1.3.0/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.3.0/ibm-block-csi-operator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator-community/ibm-block-csi-operator.package.yaml
Labels: kubernetes-operator

#2314 [Upstream] Release Nexus Operator 0.3.0
  upstream-community-operators/nexus-operator-m88i/0.3.0/apps.m88i.io_nexus_crd.yaml
  upstream-community-operators/nexus-operator-m88i/0.3.0/nexus-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: kubernetes-operator

#2320 Instana Agent Operator 0.3.6
  upstream-community-operators/instana-agent/0.3.6/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.3.6/instana-agent-operator.v0.3.6.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#2302 fix hive-operator 1.0.5 release bundle
  community-operators/hive-operator/1.0.5/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_syncsetinstances.yaml
  community-operators/hive-operator/1.0.5/hive.openshift.io_syncsets.yaml
Labels: openshift-operator

#2329 Added Deployment Validation Operator to upstream-community-operators
  upstream-community-operators/deployment-validation-operator/0.0.10/deploymentvalidationoperator.0.0.10.clusterserviceversion.yaml
  upstream-community-operators/deployment-validation-operator/deployment-validation-operator.package.yaml
Labels: kubernetes-operator

#2335 [datadog-operator][upstream] Update to version 0.3.1
  upstream-community-operators/datadog-operator/0.3.1/datadog-operator.v0.3.1.clusterserviceversion.yaml
  upstream-community-operators/datadog-operator/0.3.1/datadoghq.com_datadogagents_crd.yaml
  upstream-community-operators/datadog-operator/0.3.1/datadoghq.com_datadogmetrics_crd.yaml
  upstream-community-operators/datadog-operator/datadog-operator.package.yaml
Labels: kubernetes-operator

#2336 [upstream-community] Update submariner-operator description
  upstream-community-operators/submariner/0.6.1/submariner.v0.6.1.clusterserviceversion.yaml
Labels: kubernetes-operator

#2311 Update cost-mgmt-operator to v0.1.0
  community-operators/cost-mgmt-operator/0.1.0/cost-mgmt-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/cost-mgmt-operator/0.1.0/cost_mgmt_crd.yaml
  community-operators/cost-mgmt-operator/0.1.0/cost_mgmt_data_crd.yaml
  community-operators/cost-mgmt-operator/cost-mgmt-operator.package.yaml
Labels: openshift-operator

#2324 Upgrade Camel K to 1.1.1 in upstream operators
  upstream-community-operators/camel-k/1.1.1/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.1.1/camel-k.v1.1.1.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.1.1/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.1.1/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.1.1/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.1.1/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator

#2331 add azure-service-operator bundle for upstream-community-operators
  upstream-community-operators/azure-service-operator/0.37.0/azure-service-operator.v0.37.0.clusterserviceversion.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_apimgmtapis.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_apimservices.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_appinsights.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_appinsightsapikeys.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azureloadbalancers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azurenetworkinterfaces.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azurepublicipaddresses.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlactions.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqldatabases.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfailovergroups.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfirewallrules.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlmanagedusers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlservers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlusers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlvnetrules.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azurevirtualmachineextensions.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azurevirtualmachines.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azurevmscalesets.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_blobcontainers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_consumergroups.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_cosmosdbs.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_eventhubnamespaces.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_eventhubs.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_keyvaultkeys.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_keyvaults.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqldatabases.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlfirewallrules.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlservers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlusers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlvnetrules.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqldatabases.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlfirewallrules.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlservers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlusers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlvnetrules.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_rediscacheactions.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_rediscachefirewallrules.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_rediscaches.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_resourcegroups.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_storageaccounts.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_virtualnetworks.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azureoperator-webhook-service.yaml
  upstream-community-operators/azure-service-operator/azure-service-operator.package.yaml
Labels: kubernetes-operator

#2327 IBM Block CSI update to v1.3.0
  community-operators/ibm-block-csi-operator-community/1.3.0/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator-community/1.3.0/ibm-block-csi-operator.v1.3.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator-community/ibm-block-csi-operator.package.yaml
Labels: openshift-operator

#2343 add OpenShift Hive operator 1.0.10
  community-operators/hive-operator/1.0.10/hive-operator.v1.0.10.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.10/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.0.10/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.0.10/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: openshift-operator

#2323 Upgrade Camel K to 1.1.1
  community-operators/camel-k/1.1.1/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.1.1/camel-k.v1.1.1.clusterserviceversion.yaml
  community-operators/camel-k/1.1.1/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.1.1/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.1.1/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.1.1/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: openshift-operator

#2338 Update Upstream argocd-operator to v0.0.13
  upstream-community-operators/argocd-operator/0.0.13/argocd-operator.v0.0.13.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/0.0.13/argoproj.io_applications_crd.yaml
  upstream-community-operators/argocd-operator/0.0.13/argoproj.io_appprojects_crd.yaml
  upstream-community-operators/argocd-operator/0.0.13/argoproj.io_argocdexports_crd.yaml
  upstream-community-operators/argocd-operator/0.0.13/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator/argocd-operator.package.yaml
Labels: kubernetes-operator

#2339 Update OpenShift argocd-operator to v0.0.13
  community-operators/argocd-operator/0.0.13/argocd-operator.v0.0.13.clusterserviceversion.yaml
  community-operators/argocd-operator/0.0.13/argoproj.io_applications_crd.yaml
  community-operators/argocd-operator/0.0.13/argoproj.io_appprojects_crd.yaml
  community-operators/argocd-operator/0.0.13/argoproj.io_argocdexports_crd.yaml
  community-operators/argocd-operator/0.0.13/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator/argocd-operator.package.yaml
Labels: openshift-operator

#2341 OpenShift IBM Quantum Operator
  upstream-community-operators/ibm-quantum-operator/0.1.0/ibm-quantum-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-quantum-operator/0.1.0/singhp11.io_ibmqs_crd.yaml
  upstream-community-operators/ibm-quantum-operator/ibm-quantum-operator.package.yaml
Labels: kubernetes-operator

#2342 Update oadp alm examples
  community-operators/oadp-operator/0.1.0/oadp-operator.v0.1.0.clusterserviceversion.yaml
Labels: openshift-operator

#2319 Update eclipse-che operator for openshift to release 7.18.2
  community-operators/eclipse-che/7.18.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.18.2/eclipse-che.v7.18.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#2334 [datadog-operator][community] Update to version 0.3.1
  community-operators/datadog-operator/0.3.1/datadog-operator.v0.3.1.clusterserviceversion.yaml
  community-operators/datadog-operator/0.3.1/datadoghq.com_datadogagents_crd.yaml
  community-operators/datadog-operator/0.3.1/datadoghq.com_datadogmetrics_crd.yaml
  community-operators/datadog-operator/datadog-operator.package.yaml
Labels: openshift-operator

#2337 [community] Update submariner-operator description
  community-operators/submariner/0.6.1/submariner.v0.6.1.clusterserviceversion.yaml
Labels: openshift-operator

#2350 fix typos for upstream azure-service-operator
  upstream-community-operators/azure-service-operator/0.37.0/azure-service-operator.v0.37.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#2332 Update Azure Service Operator to use openshift-operators namespace
  community-operators/azure-service-operator/0.37.0/azure-service-operator.v0.37.0.clusterserviceversion.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqldatabases.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfailovergroups.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfirewallrules.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlservers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_blobcontainers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlservers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlservers.yaml
Labels: openshift-operator

#2315 [Community] Release Nexus Operator 0.3.0
  community-operators/nexus-operator-m88i/0.3.0/apps.m88i.io_nexus_crd.yaml
  community-operators/nexus-operator-m88i/0.3.0/nexus-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: openshift-operator

#2348 [Community] Release Kogito Operator 0.15.0
  community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitobuilds_crd.yaml
  community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitotrusties_crd.yaml
  community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  community-operators/kogito-operator/0.15.0/kogito-operator.v0.15.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator

#2349 [Upstream] Release Kogito Operator 0.15.0
  upstream-community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitobuilds_crd.yaml
  upstream-community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitodataindices_crd.yaml
  upstream-community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  upstream-community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitoinfras_crd.yaml
  upstream-community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  upstream-community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  upstream-community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  upstream-community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitotrusties_crd.yaml
  upstream-community-operators/kogito-operator/0.15.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  upstream-community-operators/kogito-operator/0.15.0/kogito-operator.v0.15.0.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/kogito-operator.package.yaml
Labels: kubernetes-operator

#2303 fix hive-operator 1.0.5 release bundle for upstream
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_syncsetinstances.yaml
  upstream-community-operators/hive-operator/1.0.5/hive.openshift.io_syncsets.yaml
Labels: kubernetes-operator

#2293 Add GitOps operator to OperatorHub
  community-operators/gitops-operator/0.0.1/gitops-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/gitops-operator/0.0.1/pipelines.openshift.io_gitopsservices_crd.yaml
  community-operators/gitops-operator/gitops-operator.package.yaml
Labels: openshift-operator

#2352 Update Federator.ai operator to v4.3.958 for upstream-community-operators
  upstream-community-operators/federatorai/4.3.958/alamedaservices.federatorai.containers.ai.crd.yaml
  upstream-community-operators/federatorai/4.3.958/federatorai.v4.3.958.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.package.yaml
Labels: kubernetes-operator

#2353 Update Federator.ai operator to v4.3.958 for community-operators
  community-operators/federatorai/4.3.958/alamedaservices.federatorai.containers.ai.crd.yaml
  community-operators/federatorai/4.3.958/federatorai.v4.3.958.clusterserviceversion.yaml
  community-operators/federatorai/federatorai.package.yaml
Labels: openshift-operator

#2356 [Community] Nexus Operator add AllNamespaces flag back
  community-operators/nexus-operator-m88i/0.3.0/nexus-operator.v0.3.0.clusterserviceversion.yaml
Labels: openshift-operator

#2355 [Upstream] Nexus Operator add AllNamespaces flag back
  upstream-community-operators/nexus-operator-m88i/0.3.0/nexus-operator.v0.3.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#2347 Fix to new image
  community-operators/knative-kafka-operator/0.16.0/knative-kafka-operator.v0.16.0.clusterserviceversion.yaml
Labels: openshift-operator

#2361 namespace-configuration-operator new version
  community-operators/namespace-configuration-operator/0.2.3/namespace-configuration-operator.v0.2.3.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/0.2.3/redhatcop.redhat.io_groupconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.3/redhatcop.redhat.io_namespaceconfigs_crd.yaml
  community-operators/namespace-configuration-operator/0.2.3/redhatcop.redhat.io_userconfigs_crd.yaml
  community-operators/namespace-configuration-operator/namespace-configuration-operator.package.yaml
Labels: openshift-operator

#2367 [kiali] [community] update kiali
  community-operators/kiali/1.24.0/kiali.crd.yaml
  community-operators/kiali/1.24.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.24.0/kiali.v1.24.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: openshift-operator

#2368 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.24.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.24.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.24.0/kiali.v1.24.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator

#2369 global-load-balancer-operator new version
  community-operators/global-load-balancer-operator/0.1.2/global-load-balancer-operator.v0.1.2.clusterserviceversion.yaml
  community-operators/global-load-balancer-operator/0.1.2/redhatcop.redhat.io_globaldnsrecords_crd.yaml
  community-operators/global-load-balancer-operator/0.1.2/redhatcop.redhat.io_globaldnszones_crd.yaml
  community-operators/global-load-balancer-operator/0.1.2/redhatcop.redhat.io_globalroutediscoveries_crd.yaml
  community-operators/global-load-balancer-operator/global-load-balancer-operator.package.yaml
Labels: openshift-operator

#2364 openshift-qiskit-operator
  community-operators/openshift-qiskit-operator/0.1.0/openshift-qiskit-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/openshift-qiskit-operator/0.1.0/singhp11.io_qiskitplaygrounds_crd.yaml
  community-operators/openshift-qiskit-operator/openshift-qiskit-operator.package.yaml
Labels: openshift-operator

#2365 openshift-qiskit-operator for operatorhub.io
  upstream-community-operators/openshift-qiskit-operator/0.1.0/openshift-qiskit-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/openshift-qiskit-operator/0.1.0/singhp11.io_qiskitplaygrounds_crd.yaml
  upstream-community-operators/openshift-qiskit-operator/openshift-qiskit-operator.package.yaml
Labels: kubernetes-operator

#2359 Update Service Binding Operator to v0.2.0-387
  community-operators/service-binding-operator/0.2.0-387/operators.coreos.com_servicebindings_crd.yaml
  community-operators/service-binding-operator/0.2.0-387/service-binding-operator.v0.2.0-387.clusterserviceversion.yaml
  community-operators/service-binding-operator/service-binding-operator.package.yaml
Labels: need-info, openshift-operator

#2358 Update WildFly Operator 0.4.0 for upstream-community-operators
  upstream-community-operators/wildfly/0.4.0/wildfly-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/wildfly/0.4.0/wildflyservers.wildfly.org.crd.yaml
  upstream-community-operators/wildfly/wildfly.package.yaml
Labels: kubernetes-operator

#2389 release
  community-operators/opendatahub-operator/0.8.0/opendatahub-operator.v0.8.0.clusterserviceversion.yaml
Labels: openshift-operator

#2378 feat(community-operators): upgrade starter-kit-operator
  community-operators/starter-kit-operator/0.2.0/devx.ibm.com_starterkits_crd.yaml
  community-operators/starter-kit-operator/0.2.0/starter-kit-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/starter-kit-operator/starter-kit-operator.package.yaml
Labels: openshift-operator

#2386 Update eclipse-che operator for kubernetes to release 7.19.1
  upstream-community-operators/eclipse-che/7.19.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.19.1/eclipse-che.v7.19.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#2366 noobaa-operator v2.3.0
  upstream-community-operators/noobaa-operator/2.3.0/backingstores.noobaa.io.crd.yaml
  upstream-community-operators/noobaa-operator/2.3.0/bucketclasses.noobaa.io.crd.yaml
  upstream-community-operators/noobaa-operator/2.3.0/noobaa-operator.v2.3.0.clusterserviceversion.yaml
  upstream-community-operators/noobaa-operator/2.3.0/noobaas.noobaa.io.crd.yaml
  upstream-community-operators/noobaa-operator/noobaa-operator.package.yaml
Labels: kubernetes-operator

#2387 Update eclipse-che operator for openshift to release 7.19.1
  community-operators/eclipse-che/7.19.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.19.1/eclipse-che.v7.19.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#2370 IBM Block CSI v1.3.0 description correction
  community-operators/ibm-block-csi-operator-community/1.3.0/ibm-block-csi-operator.v1.3.0.clusterserviceversion.yaml
Labels: openshift-operator

#2371 IBM Block CSI v1.3.0 description correction upstream
  upstream-community-operators/ibm-block-csi-operator-community/1.3.0/ibm-block-csi-operator.v1.3.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#2373 Add OLM manifests for Dynatrace OneAgent Operator v0.8.2
  upstream-community-operators/oneagent/0.8.2/dynatrace-monitoring.v0.8.2.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.8.2/dynatrace.com_oneagentapms_crd.yaml
  upstream-community-operators/oneagent/0.8.2/dynatrace.com_oneagents_crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator

#2383 Upgrade Portworx Essentials to 1.4.0
  community-operators/portworx-essentials/1.4.0/core_v1_storagecluster_crd.yaml
  community-operators/portworx-essentials/1.4.0/core_v1_storagenode_crd.yaml
  community-operators/portworx-essentials/1.4.0/portworxoperator.v1.4.0.clusterserviceversion.yaml
  community-operators/portworx-essentials/portworx.package.yaml
Labels: openshift-operator

#2379 Update ibmcloud-operator v1.0.0 on stable channel, remove alpha
  community-operators/ibmcloud-operator/1.0.0/apiextensions.k8s.io_v1beta1_customresourcedefinition_bindings.ibmcloud.ibm.com.yaml
  community-operators/ibmcloud-operator/1.0.0/apiextensions.k8s.io_v1beta1_customresourcedefinition_services.ibmcloud.ibm.com.yaml
  community-operators/ibmcloud-operator/1.0.0/ibmcloud_operator.v1.0.0.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: ok-to-test, openshift-operator

#2381 add finalizers to rbac and fix formatting of secret example for Azure Service Operator
  upstream-community-operators/azure-service-operator/0.37.0/azure-service-operator.v0.37.0.clusterserviceversion.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqldatabases.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfailovergroups.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfirewallrules.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlservers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_blobcontainers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlservers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlservers.yaml
Labels: kubernetes-operator

#2382 update description, rbac, and crd conversion webhook port for azure-service-operator
  upstream-community-operators/azure-service-operator/0.37.0/azure-service-operator.v0.37.0.clusterserviceversion.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqldatabases.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfailovergroups.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfirewallrules.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlservers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_blobcontainers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlservers.yaml
  upstream-community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlservers.yaml
Labels: kubernetes-operator

#2384 Updating Portworx Operator to 1.4.0
  upstream-community-operators/portworx/1.4.0/core_v1_storagecluster_crd.yaml
  upstream-community-operators/portworx/1.4.0/core_v1_storagenode_crd.yaml
  upstream-community-operators/portworx/1.4.0/portworxoperator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/portworx/portworx.package.yaml
Labels: kubernetes-operator

#2325 Changing the Displayname as 'OpsMx Enterprise Operator for Spinnaker'…
  upstream-community-operators/opsmx-spinnaker-operator/1.20.3/opsmx-spinnaker-operator.v1.20.3.clusterserviceversion.yaml
Labels: kubernetes-operator

#2396 keepalived-operator new version
  community-operators/keepalived-operator/0.3.0/keepalived-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/keepalived-operator/0.3.0/redhatcop.redhat.io_keepalivedgroups_crd.yaml
  community-operators/keepalived-operator/keepalived-operator.package.yaml
Labels: openshift-operator

#2052 Update to maistra 1.1.5
  community-operators/maistraoperator/1.1.3/maistraoperator.v1.1.3.clusterserviceversion.yaml
  community-operators/maistraoperator/1.1.3/servicemeshcontrolplanes.crd.yaml
  community-operators/maistraoperator/1.1.3/servicemeshmemberrolls.crd.yaml
  community-operators/maistraoperator/1.1.3/servicemeshmembers.crd.yaml
  community-operators/maistraoperator/1.1.5/maistraoperator.v1.1.5.clusterserviceversion.yaml
  community-operators/maistraoperator/1.1.5/servicemeshcontrolplanes.crd.yaml
  community-operators/maistraoperator/1.1.5/servicemeshmemberrolls.crd.yaml
  community-operators/maistraoperator/1.1.5/servicemeshmembers.crd.yaml
  community-operators/maistraoperator/maistra.package.yaml
Labels: openshift-operator

#2390 upgrade multicluster subscription operator to V0.2.3
  community-operators/multicluster-operators-subscription/0.2.3/app.k8s.io_applications.yaml
  community-operators/multicluster-operators-subscription/0.2.3/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.3/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.3/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.3/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.3/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.3/multicluster-operators-subscription.v0.2.3.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#2398 Update upstream ibmcloud-operator v1.0.0 release on stable channel, remove alpha
  upstream-community-operators/ibmcloud-operator/1.0.0/apiextensions.k8s.io_v1beta1_customresourcedefinition_bindings.ibmcloud.ibm.com.yaml
  upstream-community-operators/ibmcloud-operator/1.0.0/apiextensions.k8s.io_v1beta1_customresourcedefinition_services.ibmcloud.ibm.com.yaml
  upstream-community-operators/ibmcloud-operator/1.0.0/ibmcloud_operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: kubernetes-operator

#2401 Update radanalytics spark operator to version 1.1.0
  community-operators/radanalytics-spark/1.1.0/sparkapplications.radanalytics.io.crd.yaml
  community-operators/radanalytics-spark/1.1.0/sparkclusters.radanalytics.io.crd.yaml
  community-operators/radanalytics-spark/1.1.0/sparkhistoryservers.radanalytics.io.crd.yaml
  community-operators/radanalytics-spark/1.1.0/sparkoperator.v1.1.0.clusterserviceversion.yaml
  community-operators/radanalytics-spark/radanalytics-spark.package.yaml
Labels: openshift-operator
