Repository operator-framework/community-operators, pull requests merged in 2020-08, with the labels that each got.

#2135 Update Seldon Upstream Operator to 1.2.2
  upstream-community-operators/seldon-operator/1.2.2/machinelearning.seldon.io_seldondeployment_crd.yaml
  upstream-community-operators/seldon-operator/1.2.2/seldon-operator.v1.2.2.clusterserviceversion.yaml
  upstream-community-operators/seldon-operator/seldon-operator.package.yaml
Labels: kubernetes-operator

#2133 Updated redis operator 0.2.0 version
  upstream-community-operators/redis-operator/0.2.0/redis-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.2.0/redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/redis-operator.package.yaml
Labels: kubernetes-operator

#2134 Update Seldon Community Operator to 1.2.2
  community-operators/seldon-operator/1.2.2/machinelearning.seldon.io_seldondeployment_crd.yaml
  community-operators/seldon-operator/1.2.2/seldon-operator.v1.2.2.clusterserviceversion.yaml
  community-operators/seldon-operator/seldon-operator.package.yaml
Labels: openshift-operator

#2105 Update Federator.ai operator to v4.2.755 for community-operators
  community-operators/federatorai/4.2.755/alamedaservices.federatorai.containers.ai.crd.yaml
  community-operators/federatorai/4.2.755/federatorai.v4.2.755.clusterserviceversion.yaml
  community-operators/federatorai/federatorai.package.yaml
Labels: openshift-operator

#2119 Update upstream-community-operators enmasse to 0.32.2
  upstream-community-operators/enmasse/0.32.2/addresses.crd.yaml
  upstream-community-operators/enmasse/0.32.2/addressplans.crd.yaml
  upstream-community-operators/enmasse/0.32.2/addressspaceplans.crd.yaml
  upstream-community-operators/enmasse/0.32.2/addressspaces.crd.yaml
  upstream-community-operators/enmasse/0.32.2/addressspaceschemas.crd.yaml
  upstream-community-operators/enmasse/0.32.2/authenticationservices.crd.yaml
  upstream-community-operators/enmasse/0.32.2/brokeredinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/0.32.2/consoleservices.crd.yaml
  upstream-community-operators/enmasse/0.32.2/enmasse.0.32.2.clusterserviceversion.yaml
  upstream-community-operators/enmasse/0.32.2/iotconfigs.crd.yaml
  upstream-community-operators/enmasse/0.32.2/iotprojects.crd.yaml
  upstream-community-operators/enmasse/0.32.2/messagingusers.crd.yaml
  upstream-community-operators/enmasse/0.32.2/standardinfraconfigs.crd.yaml
  upstream-community-operators/enmasse/enmasse.package.yaml
Labels: kubernetes-operator

#2126 [upstream] Release Kogito 0.13.0
  upstream-community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitoapps_crd.yaml
  upstream-community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitobuilds_crd.yaml
  upstream-community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitodataindices_crd.yaml
  upstream-community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitoinfras_crd.yaml
  upstream-community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  upstream-community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  upstream-community-operators/kogito-operator/0.13.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  upstream-community-operators/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/kogito-operator.package.yaml
Labels: kubernetes-operator

#2144 Add portworx operator 1.3.3
  upstream-community-operators/portworx/1.3.3/core_v1alpha1_storagecluster_crd.yaml
  upstream-community-operators/portworx/1.3.3/core_v1alpha1_storagenode_crd.yaml
  upstream-community-operators/portworx/1.3.3/portworxoperator.v1.3.3.clusterserviceversion.yaml
  upstream-community-operators/portworx/portworx.package.yaml
Labels: kubernetes-operator

#2142 add OpenShift Hive operator 1.0.6 for upstream
  upstream-community-operators/hive-operator/1.0.6/hive-operator.v1.0.6.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_syncsetinstances.yaml
  upstream-community-operators/hive-operator/1.0.6/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#2143 Add Portworx Essentials operator
  upstream-community-operators/portworx-essentials/1.3.3/core_v1alpha1_storagecluster_crd.yaml
  upstream-community-operators/portworx-essentials/1.3.3/core_v1alpha1_storagenode_crd.yaml
  upstream-community-operators/portworx-essentials/1.3.3/portworxoperator.v1.3.3.clusterserviceversion.yaml
  upstream-community-operators/portworx-essentials/portworx.package.yaml
Labels: kubernetes-operator

#2104 Update Federator.ai operator to v4.2.755 for upstream-community-operators.
  upstream-community-operators/federatorai/4.2.755/alamedaservices.federatorai.containers.ai.crd.yaml
  upstream-community-operators/federatorai/4.2.755/federatorai.v4.2.755.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.package.yaml
Labels: kubernetes-operator

#2014 Upgrade Knative Camel Operator to 0.15.1
  community-operators/knative-camel-operator/0.15.1/camelsources.sources.knative.dev.crd.yaml
  community-operators/knative-camel-operator/0.15.1/knative-camel-operator.v0.15.1.clusterserviceversion.yaml
  community-operators/knative-camel-operator/knative-camel-operator.package.yaml
Labels: openshift-operator

#2056 Remove community-operators/openshift-pipelines-operator
  community-operators/openshift-pipelines-operator/0.10.4/openshift-pipelines-operator.v0.10.4.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.10.4/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.10.5/openshift-pipelines-operator.v0.10.5.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.10.5/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.10.6/openshift-pipelines-operator.v0.10.6.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.10.6/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.10.7/openshift-pipelines-operator.v0.10.7.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.10.7/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.10.8/openshift-pipelines-operator.v0.10.8.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.10.8/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.11.0/openshift-pipelines-operator.v0.11.0.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.11.0/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.11.1/openshift-pipelines-operator.v0.11.1.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.11.1/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.11.2/openshift-pipelines-operator.v0.11.2.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.11.2/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.5.2/config.operator.tekton.dev.crd.yaml
  community-operators/openshift-pipelines-operator/0.5.2/openshift-pipelines-operator.v0.5.2.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.7.0/config.operator.tekton.dev.crd.yaml
  community-operators/openshift-pipelines-operator/0.7.0/openshift-pipelines-operator.v0.7.0.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.8.0/config.operator.tekton.dev.crd.yaml
  community-operators/openshift-pipelines-operator/0.8.0/openshift-pipelines-operator.v0.8.0.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.8.1/openshift-pipelines-operator.v0.8.1.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.8.1/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.8.2/openshift-pipelines-operator.v0.8.2.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.8.2/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.9.0/openshift-pipelines-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.9.0/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/0.9.1/openshift-pipelines-operator.v0.9.1.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.9.1/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator

#2128 MongoDB Enterprise Operator 1.6.1
  upstream-community-operators/mongodb-enterprise/1.6.1/mongodb-enterprise.v1.6.1.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.6.1/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.6.1/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.6.1/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator

#2058 Mark old upstream Knative operators as deprecated.
  upstream-community-operators/knative-eventing-operator/0.11.0/knative-eventing-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.12.1/knative-eventing-operator.v0.12.1.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.13.1/knative-eventing-operator.v0.13.1.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.11.0/knative-serving-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.12.2/knative-serving-operator.v0.12.2.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.13.1/knative-serving-operator.v0.13.1.clusterserviceversion.yaml
Labels: kubernetes-operator

#2151 Revert "Mark old upstream Knative operators as deprecated."
  upstream-community-operators/knative-eventing-operator/0.11.0/knative-eventing-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.12.1/knative-eventing-operator.v0.12.1.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.13.1/knative-eventing-operator.v0.13.1.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.11.0/knative-serving-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.12.2/knative-serving-operator.v0.12.2.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.13.1/knative-serving-operator.v0.13.1.clusterserviceversion.yaml
Labels: kubernetes-operator

#2157 Add Apache RocketMQ Operator 0.2.1
  upstream-community-operators/rocketmq-operator/0.2.1/rocketmq-operator.0.2.1.clusterserviceversion.yaml
  upstream-community-operators/rocketmq-operator/0.2.1/rocketmq.broker.apache.org.crd.yaml
  upstream-community-operators/rocketmq-operator/0.2.1/rocketmq.nameservice.apache.org.crd.yaml
  upstream-community-operators/rocketmq-operator/0.2.1/rocketmq.topictransfer.apache.org.crd.yaml
  upstream-community-operators/rocketmq-operator/rocketmq-operator.package.yaml
Labels: kubernetes-operator

#2156 Update Kong operator to v0.4.0
  upstream-community-operators/kong/0.4.0/kong.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/kong/0.4.0/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/kong.package.yaml
Labels: kubernetes-operator

#2155 Remove annotation that is not needed
  upstream-community-operators/portworx-essentials/1.3.3/portworxoperator.v1.3.3.clusterserviceversion.yaml
Labels: kubernetes-operator

#2154 Adding portworx-essentials operator to community-operators
  community-operators/portworx-essentials/1.3.3/core_v1alpha1_storagecluster_crd.yaml
  community-operators/portworx-essentials/1.3.3/core_v1alpha1_storagenode_crd.yaml
  community-operators/portworx-essentials/1.3.3/portworxoperator.v1.3.3.clusterserviceversion.yaml
  community-operators/portworx-essentials/portworx.package.yaml
Labels: openshift-operator

#2141 add OpenShift Hive operator 1.0.6
  community-operators/hive-operator/1.0.6/hive-operator.v1.0.6.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_syncsetinstances.yaml
  community-operators/hive-operator/1.0.6/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: openshift-operator

#2158 Update Ember CSI community-operator to 0.9.2
  community-operators/ember-csi-operator/0.9.2/ember-csi-operator.crd.yaml
  community-operators/ember-csi-operator/0.9.2/ember-csi-operator.v0.9.2.clusterserviceversion.yaml
  community-operators/ember-csi-operator/ember-csi-operator.package.yaml
Labels: openshift-operator

#2164 [datadog-operator] Version 0.2.2 fixing install issue on OpenShift Dedicated
  upstream-community-operators/datadog-operator/0.2.2/datadog-operator.v0.2.2.clusterserviceversion.yaml
  upstream-community-operators/datadog-operator/0.2.2/datadoghq.com_datadogagents_crd.yaml
  upstream-community-operators/datadog-operator/datadog-operator.package.yaml
Labels: kubernetes-operator

#2165 Update eclipse-che operator for kubernetes to release 7.17.0
  upstream-community-operators/eclipse-che/7.17.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.17.0/eclipse-che.v7.17.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1980 community: add tidb-operator 1.1.2
  community-operators/tidb-operator/1.1.2/backups.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.2/backupschedules.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.2/restores.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.2/tidb-operator.v1.1.2.clusterserviceversion.yaml
  community-operators/tidb-operator/1.1.2/tidbclusterautoscalers.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.2/tidbclusters.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.2/tidbinitializers.pingcap.com.crd.yaml
  community-operators/tidb-operator/1.1.2/tidbmonitors.pingcap.com.crd.yaml
  community-operators/tidb-operator/tidb-operator.package.yaml
Labels: need-info, openshift-operator

#2159 Updated Zadara Operator (zOperator) to v0.3.3
  upstream-community-operators/zoperator/0.2.5/zoperator.v0.2.5.clusterserviceversion.yaml
  upstream-community-operators/zoperator/0.3.5/zadara.com_appdefinitions_crd.yaml
  upstream-community-operators/zoperator/0.3.5/zadara.com_applicationclones_crd.yaml
  upstream-community-operators/zoperator/0.3.5/zadara.com_applicationsnapshots_crd.yaml
  upstream-community-operators/zoperator/0.3.5/zadara.com_cloneconfigurations_crd.yaml
  upstream-community-operators/zoperator/0.3.5/zadara.com_invokers_crd.yaml
  upstream-community-operators/zoperator/0.3.5/zadara.com_snapshotconfigurations_crd.yaml
  upstream-community-operators/zoperator/0.3.5/zadara.com_snapshotpolicies_crd.yaml
  upstream-community-operators/zoperator/0.3.5/zadara.com_vpsas_crd.yaml
  upstream-community-operators/zoperator/0.3.5/zoperator.v0.3.5.clusterserviceversion.yaml
  upstream-community-operators/zoperator/zoperator.package.yaml
Labels: kubernetes-operator

#2160 Release for group-sync-operator v0.0.5
  community-operators/group-sync-operator/0.0.5/group-sync-operator.v0.0.5.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.5/redhatcop.redhat.io_groupsyncs_crd.yaml
  community-operators/group-sync-operator/group-sync-operator.package.yaml
Labels: openshift-operator

#2166 Update eclipse-che operator for openshift to release 7.17.0
  community-operators/eclipse-che/7.17.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.17.0/eclipse-che.v7.17.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#2169 add ClusterManager Operator 0.1.0
  community-operators/cluster-manager/0.1.0/0000_01_operator.open-cluster-management.io_clustermanagers.crd.yaml
  community-operators/cluster-manager/0.1.0/cluster-manager.v0.1.0.clusterserviceversion.yaml
  community-operators/cluster-manager/cluster-manger.package.yaml
Labels: openshift-operator

#2171 add Klusterlet Operator 0.1.0
  community-operators/klusterlet/0.1.0/0000_00_operator.open-cluster-management.io_klusterlets.crd.yaml
  community-operators/klusterlet/0.1.0/klusterlet.v0.1.0.clusterserviceversion.yaml
  community-operators/klusterlet/klusterlet.package.yaml
Labels: openshift-operator

#2132 Update Submariner operator to v0.5.0
  upstream-community-operators/submariner/0.0.1/clusters.submariner.io.crd.yaml
  upstream-community-operators/submariner/0.0.1/endpoints.submariner.io.crd.yaml
  upstream-community-operators/submariner/0.0.1/submariner-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/submariner/0.5.0/multiclusterservices.lighthouse.submariner.io.crd.yaml
  upstream-community-operators/submariner/0.5.0/servicediscoveries.submariner.io.crd.yaml
  upstream-community-operators/submariner/0.5.0/serviceexports.lighthouse.submariner.io.crd.yaml
  upstream-community-operators/submariner/0.5.0/serviceimports.lighthouse.submariner.io.crd.yaml
  upstream-community-operators/submariner/0.5.0/submariner-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/submariner/0.5.0/submariners.submariner.io.crd.yaml
  upstream-community-operators/submariner/submariner.package.yaml
Labels: kubernetes-operator

#2139 Infinispan manifests for 2.0.3 release
  upstream-community-operators/infinispan/2.0.3/infinispan-operator.v2.0.3.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.0.3/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.0.3/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#2167 add OpenShift Hive operator 1.0.7 for upstream
  upstream-community-operators/hive-operator/1.0.7/hive-operator.v1.0.7.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_syncsetinstances.yaml
  upstream-community-operators/hive-operator/1.0.7/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#2188 Submariner - update the CSV file
  upstream-community-operators/submariner/0.5.0/multiclusterservices.lighthouse.submariner.io.crd.yaml
  upstream-community-operators/submariner/0.5.0/submariner-operator.v0.5.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#2184 Update upstream Elastic Cloud ECK to v1.2.1
  upstream-community-operators/elastic-cloud-eck/1.2.1/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.2.1/beats.beat.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.2.1/elastic-cloud-eck.v1.2.1.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud-eck/1.2.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.2.1/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.2.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator

#2173 add Klusterlet Operator 0.1.0 for upstream
  upstream-community-operators/klusterlet/0.1.0/0000_00_operator.open-cluster-management.io_klusterlets.crd.yaml
  upstream-community-operators/klusterlet/0.1.0/klusterlet.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/klusterlet/klusterlet.package.yaml
Labels: kubernetes-operator

#2170 add ClusterManager Operator 0.1.0 for upstream
  upstream-community-operators/cluster-manager/0.1.0/0000_01_operator.open-cluster-management.io_clustermanagers.crd.yaml
  upstream-community-operators/cluster-manager/0.1.0/cluster-manager.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/cluster-manager/cluster-manger.package.yaml
Labels: kubernetes-operator

#2176 Microcks 1.0.0 upstream operator
  upstream-community-operators/microcks/1.0.0/microcks-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/microcks/1.0.0/microcksinstall.crd.yaml
  upstream-community-operators/microcks/microcks.package.yaml
Labels: kubernetes-operator

#2191 Update hazelcast-operator to 0.3.2
  upstream-community-operators/hazelcast-operator/0.3.2/hazelcast-operator.v0.3.2.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-operator/0.3.2/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: kubernetes-operator

#2179 Microcks 1.0.0 community operator
  community-operators/microcks/1.0.0/microcks-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/microcks/1.0.0/microcksinstall.crd.yaml
  community-operators/microcks/microcks.package.yaml
Labels: openshift-operator

#2168 add OpenShift Hive operator 1.0.7
  community-operators/hive-operator/1.0.7/hive-operator.v1.0.7.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_syncsetinstances.yaml
  community-operators/hive-operator/1.0.7/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: openshift-operator

#2198 Version update of Couchbase Autonomous Operator 2.0.1 -> 2.0.2
  upstream-community-operators/couchbase-enterprise/2.0.2/couchbase-v2.0.2.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/2.0.2/couchbasebackups.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.2/couchbasebuckets.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.2/couchbaseclusters.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.2/couchbasegroups.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.2/couchbaserolebindings.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.2/couchbaseusers.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/couchbase.package.yaml
Labels: kubernetes-operator

#2181 Upgrade snyk-operator to version 1.30.6
  community-operators/snyk-operator/1.30.6/snyk-operator.v1.30.6.clusterserviceversion.yaml
  community-operators/snyk-operator/1.30.6/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: openshift-operator

#2140 Infinispan manifests for 2.0.3 release
  community-operators/infinispan/2.0.3/infinispan-operator.v2.0.3.clusterserviceversion.yaml
  community-operators/infinispan/2.0.3/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.0.3/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: openshift-operator

#2186 Updates to IBM Cloud IAM Operator v0.1.0 - Upstream
  upstream-community-operators/ibmcloud-iam-operator/0.1.0/authorizationpolicies.ibmcloud.ibm.com.crd.yaml
  upstream-community-operators/ibmcloud-iam-operator/0.1.0/ibmcloud-iam-operator.v0.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#2203 add OpenShift Hive operator 1.0.8 for upstream
  upstream-community-operators/hive-operator/1.0.8/hive-operator.v1.0.8.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_syncsetinstances.yaml
  upstream-community-operators/hive-operator/1.0.8/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#2200 Update StorageOS Operator to version v2.2.0
  upstream-community-operators/storageos/2.2.0/storageos.v2.2.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/2.2.0/storageoscluster.crd.yaml
  upstream-community-operators/storageos/2.2.0/storageosjob.crd.yaml
  upstream-community-operators/storageos/2.2.0/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/2.2.0/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: kubernetes-operator

#2145 update Service Binding Operator image of version 0.1.1-354
  community-operators/service-binding-operator/0.1.1-354/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.1-354/service-binding-operator.v0.1.1-354.clusterserviceversion.yaml
  community-operators/service-binding-operator/service-binding-operator.package.yaml
Labels: openshift-operator

#2205 global-load-balancer-operator new version
  community-operators/global-load-balancer-operator/0.1.1/global-load-balancer-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/global-load-balancer-operator/0.1.1/redhatcop.redhat.io_globaldnsrecords_crd.yaml
  community-operators/global-load-balancer-operator/0.1.1/redhatcop.redhat.io_globaldnszones_crd.yaml
  community-operators/global-load-balancer-operator/0.1.1/redhatcop.redhat.io_globalroutediscoveries_crd.yaml
  community-operators/global-load-balancer-operator/global-load-balancer-operator.package.yaml
Labels: openshift-operator

#2209 add Eclipse Hawkbit operator
  upstream-community-operators/hawkbit-operator/0.1.1/hawkbit-operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/hawkbit-operator/0.1.1/hawkbit.crd.yaml
  upstream-community-operators/hawkbit-operator/hawkbit-operator.package.yaml
Labels: kubernetes-operator

#2211 Updating portworx operator version to 1.3.4
  upstream-community-operators/portworx/1.3.4/core_v1alpha1_storagecluster_crd.yaml
  upstream-community-operators/portworx/1.3.4/core_v1alpha1_storagenode_crd.yaml
  upstream-community-operators/portworx/1.3.4/portworxoperator.v1.3.4.clusterserviceversion.yaml
  upstream-community-operators/portworx/portworx.package.yaml
Labels: kubernetes-operator

#2208 [upstream] Release Kogito 0.14.0
  upstream-community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitobuilds_crd.yaml
  upstream-community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitodataindices_crd.yaml
  upstream-community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitoinfras_crd.yaml
  upstream-community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  upstream-community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  upstream-community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  upstream-community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitotrusties_crd.yaml
  upstream-community-operators/kogito-operator/0.14.0/kogito-operator.v0.14.0.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/kogito-operator.package.yaml
Labels: kubernetes-operator

#2206 [community] Release Kogito 0.14.0
  community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitobuilds_crd.yaml
  community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  community-operators/kogito-operator/0.14.0/app.kiegroup.org_kogitotrusties_crd.yaml
  community-operators/kogito-operator/0.14.0/kogito-operator.v0.14.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator

#2204 add OpenShift Hive operator 1.0.8
  community-operators/hive-operator/1.0.8/hive-operator.v1.0.8.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_syncsetinstances.yaml
  community-operators/hive-operator/1.0.8/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: openshift-operator

#2193 Update hazelcast-enterprise-operator to 0.3.2
  upstream-community-operators/hazelcast-enterprise-operator/0.3.2/hazelcast-enterprise-operator.v0.3.2.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise-operator/0.3.2/hazelcastenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise-operator/hazelcast-enterprise-operator.package.yaml
Labels: kubernetes-operator

#2180 Upgrade snyk-operator to version 1.30.6
  upstream-community-operators/snyk-operator/1.30.6/snyk-operator.v1.30.6.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.30.6/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: kubernetes-operator, need-info

#2092 Open Liberty Operator v0.7.0
  upstream-community-operators/open-liberty/0.7.0/open-liberty-operator.v0.7.0.clusterserviceversion.yaml
  upstream-community-operators/open-liberty/0.7.0/openlibertyapplications.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/0.7.0/openlibertydumps.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/0.7.0/openlibertytraces.openliberty.io.crd.yaml
  upstream-community-operators/open-liberty/open-liberty.package.yaml
Labels: kubernetes-operator

#2162 resource-locker-operator new version
  community-operators/resource-locker-operator/0.1.4/redhatcop.redhat.io_resourcelockers_crd.yaml
  community-operators/resource-locker-operator/0.1.4/resource-locker-operator.v0.1.4.clusterserviceversion.yaml
  community-operators/resource-locker-operator/resource-locker-operator.package.yaml
Labels: openshift-operator

#2187 Updates to IBM Cloud IAM Operator v0.1.0 - Community
  community-operators/ibmcloud-iam-operator/0.1.0/authorizationpolicies.ibmcloud.ibm.com.crd.yaml
  community-operators/ibmcloud-iam-operator/0.1.0/ibmcloud-iam-operator.v0.1.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator

#2195 Update community Submariner operator to v0.5.0
  community-operators/submariner/0.0.1/clusters.submariner.io.crd.yaml
  community-operators/submariner/0.0.1/endpoints.submariner.io.crd.yaml
  community-operators/submariner/0.0.1/submariner-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/submariner/0.2.0/clusters.submariner.io.crd.yaml
  community-operators/submariner/0.2.0/endpoints.submariner.io.crd.yaml
  community-operators/submariner/0.2.0/submariner-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/submariner/0.2.0/submariners.submariner.io.crd.yaml
  community-operators/submariner/0.5.0/servicediscoveries.submariner.io.crd.yaml
  community-operators/submariner/0.5.0/serviceexports.lighthouse.submariner.io.crd.yaml
  community-operators/submariner/0.5.0/serviceimports.lighthouse.submariner.io.crd.yaml
  community-operators/submariner/0.5.0/submariner-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/submariner/0.5.0/submariners.submariner.io.crd.yaml
  community-operators/submariner/submariner-operator.package.yaml
  community-operators/submariner/submariner.package.yaml
Labels: openshift-operator

#2215 add eclipse hawkbit operator
  community-operators/hawkbit-operator/0.1.1/hawkbit-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/hawkbit-operator/0.1.1/hawkbit.crd.yaml
  community-operators/hawkbit-operator/hawkbit-operator.package.yaml
Labels: openshift-operator

#2218 Update community PostgreSQL Operator to v4.4.1
  community-operators/postgresql/4.4.1/pgclusters.crunchydata.com.crd.yaml
  community-operators/postgresql/4.4.1/pgpolicies.crunchydata.com.crd.yaml
  community-operators/postgresql/4.4.1/pgreplicas.crunchydata.com.crd.yaml
  community-operators/postgresql/4.4.1/pgtasks.crunchydata.com.crd.yaml
  community-operators/postgresql/4.4.1/postgresoperator.v4.4.1.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: openshift-operator

#2212 Updating Portworx Essentials operator to 1.3.4
  community-operators/portworx-essentials/1.3.4/core_v1alpha1_storagecluster_crd.yaml
  community-operators/portworx-essentials/1.3.4/core_v1alpha1_storagenode_crd.yaml
  community-operators/portworx-essentials/1.3.4/portworxoperator.v1.3.4.clusterserviceversion.yaml
  community-operators/portworx-essentials/portworx.package.yaml
Labels: openshift-operator

#2183 Update community Elastic Cloud ECK to v1.2.1
  community-operators/elastic-cloud-eck/1.2.1/apmservers.apm.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.1/beats.beat.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.1/elastic-cloud-eck.v1.2.1.clusterserviceversion.yaml
  community-operators/elastic-cloud-eck/1.2.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.1/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: openshift-operator

#2201 Updating Teiid Operator to version 0.4.0
  community-operators/teiid/0.4.0/teiid.io_virtualdatabases_crd.yaml
  community-operators/teiid/0.4.0/teiid.v0.4.0.clusterserviceversion.yaml
  community-operators/teiid/teiid.package.yaml
Labels: openshift-operator

#2238 keepalived-operator new version
  community-operators/keepalived-operator/0.2.1/keepalived-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/keepalived-operator/0.2.1/redhatcop.redhat.io_keepalivedgroups_crd.yaml
  community-operators/keepalived-operator/0.2.2/keepalived-operator.v0.2.2.clusterserviceversion.yaml
  community-operators/keepalived-operator/0.2.2/redhatcop.redhat.io_keepalivedgroups_crd.yaml
  community-operators/keepalived-operator/keepalived-operator.package.yaml
Labels: openshift-operator

#2234 update hawkbit operator
  upstream-community-operators/hawkbit-operator/0.1.2/hawkbit-operator.v0.1.2.clusterserviceversion.yaml
  upstream-community-operators/hawkbit-operator/0.1.2/hawkbit.crd.yaml
  upstream-community-operators/hawkbit-operator/hawkbit-operator.package.yaml
Labels: kubernetes-operator

#2233 Add OLM manifests for Dynatrace OneAgent Operator v0.8.1
  upstream-community-operators/oneagent/0.8.1/dynatrace-monitoring.v0.8.1.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.8.1/dynatrace.com_oneagentapms_crd.yaml
  upstream-community-operators/oneagent/0.8.1/dynatrace.com_oneagents_crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator

#2237 Knative Kafka operator updates
  community-operators/knative-kafka-operator/0.16.0/eventing_v1alpha1_knativeeventingkafka_crd.yaml
  community-operators/knative-kafka-operator/0.16.0/knative-kafka-operator.v0.16.0.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
Labels: openshift-operator

#2245 update hawkbit operator to 0.1.2
  community-operators/hawkbit-operator/0.1.2/hawkbit-operator.v0.1.2.clusterserviceversion.yaml
  community-operators/hawkbit-operator/0.1.2/hawkbit.crd.yaml
  community-operators/hawkbit-operator/hawkbit-operator.package.yaml
Labels: openshift-operator

#2244 [datadog-operator] Version 0.2.3 creating SA allowing agent (not operator) to use SCCs on OpenShift
  community-operators/datadog-operator/0.2.3/datadog-operator.v0.2.3.clusterserviceversion.yaml
  community-operators/datadog-operator/0.2.3/datadoghq.com_datadogagents_crd.yaml
  community-operators/datadog-operator/datadog-operator.package.yaml
Labels: openshift-operator

#2242 [datadog-operator] Version 0.2.3 creating SA allowing agent (not operator) to use SCCs on OpenShift
  upstream-community-operators/datadog-operator/0.2.3/datadog-operator.v0.2.3.clusterserviceversion.yaml
  upstream-community-operators/datadog-operator/0.2.3/datadoghq.com_datadogagents_crd.yaml
  upstream-community-operators/datadog-operator/datadog-operator.package.yaml
Labels: kubernetes-operator

#2240 Updated Zadara Operator (zOperator ) to v0.3.6
  upstream-community-operators/zoperator/0.3.6/zadara.com_appdefinitions_crd.yaml
  upstream-community-operators/zoperator/0.3.6/zadara.com_applicationclones_crd.yaml
  upstream-community-operators/zoperator/0.3.6/zadara.com_applicationsnapshots_crd.yaml
  upstream-community-operators/zoperator/0.3.6/zadara.com_cloneconfigurations_crd.yaml
  upstream-community-operators/zoperator/0.3.6/zadara.com_invokers_crd.yaml
  upstream-community-operators/zoperator/0.3.6/zadara.com_snapshotconfigurations_crd.yaml
  upstream-community-operators/zoperator/0.3.6/zadara.com_snapshotpolicies_crd.yaml
  upstream-community-operators/zoperator/0.3.6/zadara.com_vpsas_crd.yaml
  upstream-community-operators/zoperator/0.3.6/zoperator.v0.3.6.clusterserviceversion.yaml
  upstream-community-operators/zoperator/zoperator.package.yaml
Labels: kubernetes-operator

#2196 Adding Jupyterlab operator for Openshift under community-operators #2194
  community-operators/jupyterlab-operator/1.0.0/jupyter.example.com_jupyterlabs.yaml
  community-operators/jupyterlab-operator/1.0.0/jupyterlab-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/jupyterlab-operator/jupyterlab-operator.package.yaml
Labels: openshift-operator

#2254 Add Tektoncd-Operator
  upstream-community-operators/tektoncd-operator/0.15.2-1/300-operator_v1alpha1_addon_crd.yaml
  upstream-community-operators/tektoncd-operator/0.15.2-1/300-operator_v1alpha1_pipeline_crd.yaml
  upstream-community-operators/tektoncd-operator/0.15.2-1/tektoncd-operator.v0.15.2-1.clusterserviceversion.yaml
  upstream-community-operators/tektoncd-operator/tektoncd-operator.package.yaml
Labels: kubernetes-operator

#2253 Update Service Binding Operator to v0.1.1-364
  community-operators/service-binding-operator/0.1.1-364/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.1-364/service-binding-operator.v0.1.1-364.clusterserviceversion.yaml
  community-operators/service-binding-operator/service-binding-operator.package.yaml
Labels: openshift-operator

#2249 Update eclipse-che operator for kubernetes to release 7.18.0
  upstream-community-operators/eclipse-che/7.18.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.18.0/eclipse-che.v7.18.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator, ok-to-test
