Repository operator-framework/community-operators, pull requests merged in 2020-03, with the labels that each got.

#1294 Update Service Binding Operator version
  community-operators/service-binding-operator/0.1.0-249/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.0-249/service-binding-operator.v0.1.0-249.clusterserviceversion.yaml
Labels: openshift-operator, size/L

#1295 Add OpenShift-Pipelines-Operator v0.10.8 CSV
  community-operators/openshift-pipelines-operator/0.10.8/openshift-pipelines-operator.v0.10.8.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.10.8/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator, size/L

#1188 Sets booleanSwitch values from defaults
  upstream-community-operators/couchbase-enterprise/1.0.0/couchbase-v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/1.1.0/couchbase-v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/1.2.1/couchbase-v1.2.1.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/1.2.2/couchbase-v1.2.2.clusterserviceversion.yaml
Labels: kubernetes-operator, lgtm, size/L

#1298 clickhouse-operator v0.9.2
  upstream-community-operators/clickhouse/0.9.2/clickhouse-operator.v0.9.2.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.9.2/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.2/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.2/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator, size/XXL

#1286 Update Jaeger upstream-community-operators to v1.17.0
  upstream-community-operators/jaeger/1.17.0/jaeger.v1.17.0.clusterserviceversion.yaml
  upstream-community-operators/jaeger/1.17.0/jaegertracing.io_jaegers_crd.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
Labels: kubernetes-operator, size/XXL

#1290 keepalived-operator initial commit
  community-operators/keepalived-operator/0.1.0/keepalived-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/keepalived-operator/0.1.0/redhatcop.redhat.io_keepalivedgroups_crd.yaml
  community-operators/keepalived-operator/keepalived-operator.package.yaml
Labels: openshift-operator, size/L

#1303 Remove extra word from Konveyor Operator descriptions
  community-operators/konveyor-operator/v1.0.0/konveyor-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/konveyor-operator/v1.0.1/konveyor-operator.v1.0.1.clusterserviceversion.yaml
  community-operators/konveyor-operator/v1.1.0/konveyor-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/konveyor-operator/v1.1.1/konveyor-operator.v1.1.1.clusterserviceversion.yaml
  community-operators/konveyor-operator/v1.2.0/konveyor-operator.v1.2.0.clusterserviceversion.yaml
Labels: openshift-operator, size/S

#1301 Upgrade traefikee-operator to version v2.0.2
  community-operators/traefikee-operator/2.0.2/containo.us_traefikees_crd.yaml
  community-operators/traefikee-operator/2.0.2/traefikee-operator.v2.0.2.clusterserviceversion.yaml
  community-operators/traefikee-operator/traefikee-operator.package.yaml
Labels: openshift-operator, size/L

#1287 Update Jaeger community-operators to v1.17.0
  community-operators/jaeger/1.17.0/jaeger.v1.17.0.clusterserviceversion.yaml
  community-operators/jaeger/1.17.0/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: openshift-operator, size/XXL

#1299 Removed descriptions from Jaeger CRD (upstream)
  upstream-community-operators/jaeger/1.17.0/jaegertracing.io_jaegers_crd.yaml
Labels: kubernetes-operator, size/XXL

#1296 Add snyk-operator v1.21.4
  community-operators/snyk-operator/1.21.4/snyk-operator.v1.21.4.clusterserviceversion.yaml
  community-operators/snyk-operator/1.21.4/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: openshift-operator, size/L

#1302 Upgrate traefikee-operator to version v2.0.2
  upstream-community-operators/traefikee-operator/2.0.2/containo.us_traefikees_crd.yaml
  upstream-community-operators/traefikee-operator/2.0.2/traefikee-operator.v2.0.2.clusterserviceversion.yaml
  upstream-community-operators/traefikee-operator/traefikee-operator.package.yaml
Labels: kubernetes-operator, size/L

#1310 remove ffdl operator
  upstream-community-operators/ffdl/0.0.1/ffdl-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/ffdl/0.0.1/ffdls.openaihub.ibm.com.crd.yaml
  upstream-community-operators/ffdl/ffdl.package.yaml
Labels: kubernetes-operator, size/L

#1308 remove kfctl operator
  upstream-community-operators/kfctl/0.1.0/kfctl.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/kfctl/0.1.0/kfdef.apps.kubeflow.org.crd.yaml
  upstream-community-operators/kfctl/kfctl.package.yaml
Labels: kubernetes-operator, size/L

#1309 Add kubeflow operator
  upstream-community-operators/kubeflow/0.1.0/kfdef.apps.kubeflow.org.crd.yaml
  upstream-community-operators/kubeflow/0.1.0/kubeflow.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/kubeflow/kubeflow.package.yaml
Labels: kubernetes-operator, size/L

#1256 Akka Cluster Operator v0.2.3, community
  community-operators/akka-cluster-operator/0.2.3/akka-cluster-operator.v0.2.3.clusterserviceversion.yaml
  community-operators/akka-cluster-operator/0.2.3/app_v1alpha1_akkacluster_crd.yaml
Labels: openshift-operator, size/L

#1311 prometheus: Up CSV to support 0.37.0
  upstream-community-operators/prometheus/0.37.0/alertmanagers.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.37.0/podmonitors.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.37.0/prometheuses.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.37.0/prometheusoperator.0.37.0.clusterserviceversion.yaml
  upstream-community-operators/prometheus/0.37.0/prometheusrules.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.37.0/servicemonitors.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.37.0/thanosrulers.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/prometheus.package.yaml
Labels: kubernetes-operator, size/XXL

#1312 Update Service Binding Operator version to 0.1.0-254
  community-operators/service-binding-operator/0.1.0-254/apps.openshift.io_servicebindingrequests_crd.yaml
  community-operators/service-binding-operator/0.1.0-254/service-binding-operator.v0.1.0-254.clusterserviceversion.yaml
Labels: openshift-operator, size/XL

#1304 Jenkins Operator: Fix Example
  community-operators/jenkins-operator/0.3.31/jenkins-operator.v0.3.31.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.3.31/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: openshift-operator, size/S

#1284 MongoDB Enterprise Operator 1.4.3
  upstream-community-operators/mongodb-enterprise/1.4.3/mongodb-enterprise.v1.4.3.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.4.3/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.3/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.4.3/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator, size/XL

#1315 Typo in contribution doc
  docs/contributing.md
Labels: size/XS

#1320 Runtime Component Operator
  upstream-community-operators/runtime-component-operator/0.4.0/runtime-component-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/runtime-component-operator/0.4.0/runtimecomponents.app.stacks.crd.yaml
  upstream-community-operators/runtime-component-operator/runtime-component-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#1326 Add Container Security Operator v1.0.2
  upstream-community-operators/container-security-operator/1.0.2/container-security-operator.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/container-security-operator/1.0.2/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
  upstream-community-operators/container-security-operator/container-security-operator.package.yaml
Labels: kubernetes-operator, size/L

#1325 Updating Kogito Operator to 0.8.0
  community-operators/kogito-operator/0.8.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.8.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.8.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.8.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.8.0/kogito-operator.v0.8.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator, size/XXL

#1327 Keycloak Community Operator 8.0.2
  community-operators/keycloak/9.0.0/keycloak-operator.9.0.0.clusterserviceversion.yaml
  community-operators/keycloak/9.0.0/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak/9.0.0/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak/9.0.0/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak/9.0.0/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak/9.0.0/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak/keycloak.package.yaml
Labels: openshift-operator, size/XXL

#1330 clickhouse-operator v0.9.3
  upstream-community-operators/clickhouse/0.9.3/clickhouse-operator.v0.9.3.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.9.3/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.3/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.3/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator, size/XXL

#1328 Keycloak Upstream Community Operator 8.0.2
  upstream-community-operators/keycloak/9.0.0/keycloak-operator.9.0.0.clusterserviceversion.yaml
  upstream-community-operators/keycloak/9.0.0/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/9.0.0/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/9.0.0/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/9.0.0/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/9.0.0/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/keycloak.package.yaml
Labels: kubernetes-operator, size/XXL

#1334 Eunomia release 0.1.5
  upstream-community-operators/eunomia/0.1.5/eunomia.v0.1.5.clusterserviceversion.yaml
  upstream-community-operators/eunomia/0.1.5/gitopsconfigs.eunomia.kohls.io.crd.yaml
  upstream-community-operators/eunomia/eunomia.package.yaml
Labels: kubernetes-operator, size/L

#1319 (litmus) CSV: Add CSV for litmus 1.1.0
  upstream-community-operators/litmus/1.1.0/chaosengines.litmuschaos.io.crd.yaml
  upstream-community-operators/litmus/1.1.0/chaosoperator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/litmus/litmuschaos.package.yaml
Labels: kubernetes-operator, size/L

#1332 Container Security Operator v1.0.2
  community-operators/container-security-operator/1.0.2/container-security-operator.v1.0.2.clusterserviceversion.yaml
  community-operators/container-security-operator/1.0.2/imagemanifestvulns.secscan.quay.redhat.com.crd.yaml
Labels: openshift-operator, size/L

#1324 nsm-operator release 0.0.1 - community operators
  community-operators/nsm-operator/0.0.1/networkserviceenpoints_crd.yaml
  community-operators/nsm-operator/0.0.1/networkservicemanager_crd.yaml
  community-operators/nsm-operator/0.0.1/networkservices_crd.yaml
  community-operators/nsm-operator/0.0.1/nsm-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/nsm-operator/0.0.1/nsm.networkservicemesh.io_nsms_crd.yaml
  community-operators/nsm-operator/nsm-operator.package.yaml
Labels: openshift-operator, size/XL

#1340 Create new multicluster-operators-subscription openshift operator
  community-operators/multicluster-operators-subscription/0.1.0/app_v1beta1_application.yaml
  community-operators/multicluster-operators-subscription/0.1.0/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.0/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.0/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.0/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.0/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.0/cluster.registry_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.0/multicluster-operators-subscription.v0.1.0.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/0.1.0/subscription.service.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#1341 Update eclipse-che operator for openshift to release 7.10.0
  community-operators/eclipse-che/7.10.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.10.0/eclipse-che.v7.10.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1342 Update eclipse-che operator for kubernetes to release 7.10.0
  upstream-community-operators/eclipse-che/7.10.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.10.0/eclipse-che.v7.10.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1344 Update KubeMQ operator to version 0.4.0
  upstream-community-operators/kubemq/0.4.0/kubemq-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/kubemq/0.4.0/kubemqclusters.core.k8s.kubemq.io.crd.yaml
  upstream-community-operators/kubemq/0.4.0/kubemqdashboards.core.k8s.kubemq.io.crd.yaml
  upstream-community-operators/kubemq/kubemq-operator.package.yaml
Labels: kubernetes-operator

#1348 KEYCLOAK-13333 Prevent Keycloak Operator 9.0.0 from installing
  community-operators/keycloak/keycloak.package.yaml
Labels: openshift-operator

#1229 CouchDB Operator 1.0.0
  upstream-community-operators/couchdb-operator/1.0.0/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.0/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.0/couchdb-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.0.0/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.0/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.0/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.0/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.0/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/couchdb-operator.package.yaml
Labels: kubernetes-operator, size/XL

#1349 Updating existing Knative Eventing operator
  community-operators/knative-eventing-operator/0.12.0/knative-eventing-operator.v0.12.0.clusterserviceversion-v0.12.0.yaml
Labels: openshift-operator

#1351 add KEDA 1.3.0
  community-operators/keda/1.3.0/keda.v1.3.0.clusterserviceversion.yaml
  community-operators/keda/1.3.0/kedacontrollers.keda.k8s.io.crd.yaml
  community-operators/keda/1.3.0/scaledobjects.keda.k8s.io.crd.yaml
  community-operators/keda/1.3.0/triggerauthentications.keda.k8s.io.crd.yaml
  community-operators/keda/keda.package.yaml
Labels: openshift-operator

#1350 add KEDA 1.3.0 upstream
  upstream-community-operators/keda/1.3.0/keda.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/keda/1.3.0/kedacontrollers.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.3.0/scaledobjects.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.3.0/triggerauthentications.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/keda.package.yaml
Labels: kubernetes-operator

#1352 Updating existing Knative Kafka Eventing operator
  community-operators/knative-kafka-operator/0.12.1/knative-kafka-operator.v0.12.1.clusterserviceversion.yaml
Labels: openshift-operator

#1360 Update Hazelcast Operator to 0.2.0
  upstream-community-operators/hazelcast-enterprise/0.2.0/hazelcast-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise/0.2.0/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise/hazelcast-enterprise.package.yaml
Labels: kubernetes-operator

#1361 Update alm example in csv for radanalytics-spark operator
  community-operators/radanalytics-spark/1.0.7/sparkoperator.v1.0.7.clusterserviceversion.yaml
Labels: openshift-operator

#1359 egressip-ipam-operator initial commit
  community-operators/egressip-ipam-operator/0.1.0/egressip-ipam-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/0.1.0/redhatcop.redhat.io_egressipams_crd.yaml
  community-operators/egressip-ipam-operator/egressip-ipam-operator.package.yaml
Labels: openshift-operator

#1364 fix CRD version for Banzai Kafka
  upstream-community-operators/banzaicloud-kafka-operator/0.3.1/kafkaclusters.kafka.banzaicloud.io.crd.yaml
Labels: kubernetes-operator

#1367 remove trailing whitespace from YAML
  upstream-community-operators/prometheus/0.37.0/alertmanagers.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.37.0/podmonitors.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.37.0/prometheuses.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.37.0/prometheusrules.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.37.0/servicemonitors.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.37.0/thanosrulers.monitoring.coreos.com.crd.yaml
Labels: kubernetes-operator

#1293 Add Camel K 1.0.0-RC2 to upstream community operators
  upstream-community-operators/camel-k/1.0.0-rc2/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0-rc2/camel-k.v1.0.0-rc2.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.0.0-rc2/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0-rc2/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0-rc2/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0-rc2/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator, size/XL

#1366 Build catalog & simplify pipeline
  .travis.yml
  Makefile
  scripts/ci/install-deps
  scripts/ci/operators-env
  scripts/ci/run-tests.sh
  scripts/ci/start-minikube
  upstream.Dockerfile
Labels: kubernetes-operator

#1369 Update Federator.ai operator to v4.2.556 for upstream-community-operators.
  upstream-community-operators/federatorai/4.2.556/alamedaservices.federatorai.containers.ai.crd.yaml
  upstream-community-operators/federatorai/4.2.556/federatorai.v4.2.556.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.package.yaml
Labels: kubernetes-operator

#1368 Update Federator.ai operator to v4.2.556 for community-operators
  community-operators/federatorai/4.2.556/alamedaservices.federatorai.containers.ai.crd.yaml
  community-operators/federatorai/4.2.556/federatorai.v4.2.556.clusterserviceversion.yaml
  community-operators/federatorai/federatorai.package.yaml
Labels: openshift-operator

#1335 nsm-operator first release - k8s - fixed CRD names
  upstream-community-operators/nsm-operator/0.0.1/networkserviceendpoints.networkservicemesh.io.crd.yaml
  upstream-community-operators/nsm-operator/0.0.1/networkservicemanagers.networkservicemesh.io.crd.yaml
  upstream-community-operators/nsm-operator/0.0.1/networkservices.networkservicemesh.io.crd.yaml
  upstream-community-operators/nsm-operator/0.0.1/nsm-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/nsm-operator/0.0.1/nsms.nsm.networkservicemesh.io.crd.yaml
  upstream-community-operators/nsm-operator/nsm-operator.package.yaml
Labels: kubernetes-operator, size/XL

#1365 clickhouse-operator v0.9.4
  upstream-community-operators/clickhouse/0.9.4/clickhouse-operator.v0.9.4.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.9.4/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.4/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.4/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator

#1345 Upgrade AtlasMap to 0.2.0 for community-operators
  community-operators/atlasmap-operator/0.2.0/atlasmap-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/atlasmap-operator/0.2.0/atlasmap.io_atlasmaps_crd.yaml
  community-operators/atlasmap-operator/atlasmap-operator.package.yaml
Labels: openshift-operator

#1363 upgrade multicluster subscription operator to V0.1.1
  community-operators/multicluster-operators-subscription/0.1.1/app_v1beta1_application.yaml
  community-operators/multicluster-operators-subscription/0.1.1/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.1/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.1/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.1/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.1/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.1/cluster.registry_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.1/multicluster-operators-subscription.v0.1.1.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/0.1.1/subscription.service.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#1384 Release Appsody Operator v0.4.0
  upstream-community-operators/appsody-operator/0.4.0/appsody-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/appsody-operator/0.4.0/appsodyapplications.appsody.dev.crd.yaml
  upstream-community-operators/appsody-operator/appsody-operator.package.yaml
Labels: kubernetes-operator

#1353 Add HPE CSI Driver Operator
  upstream-community-operators/hpe-csi-driver-operator/1.0.0/hpe-csi-driver-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-driver-operator/1.0.0/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-driver-operator/hpe-csi-driver-operator.package.yaml
Labels: kubernetes-operator

#1397 Adding v1.1.0 version to ibm-spectrum-scale-csi-operator.
  community-operators/ibm-spectrum-scale-csi-operator/1.1.0/csiscaleoperators.csi.ibm.com.crd.yaml
  community-operators/ibm-spectrum-scale-csi-operator/1.1.0/ibm-spectrum-scale-csi-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: openshift-operator

#1396 Adding v1.1.0 version to ibm-spectrum-scale-csi-operator.
  upstream-community-operators/ibm-spectrum-scale-csi-operator/1.1.0/csiscaleoperators.csi.ibm.com.crd.yaml
  upstream-community-operators/ibm-spectrum-scale-csi-operator/1.1.0/ibm-spectrum-scale-csi-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: kubernetes-operator

#1390 CouchDB Operator 1.0.2
  upstream-community-operators/couchdb-operator/1.0.2/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.2/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.2/couchdb-operator.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.0.2/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.2/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.2/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.2/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.2/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/couchdb-operator.package.yaml
Labels: kubernetes-operator

#1399 Update IBM Cloud Operator to 0.1.6 - upstream
  upstream-community-operators/ibmcloud-operator/0.1.4/ibmcloud_operator.v0.1.4.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/0.1.4/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.4/ibmcloud_operator_v1alpha1_service.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.5/ibmcloud_operator.v0.1.5.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/0.1.5/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.5/ibmcloud_operator_v1alpha1_service.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.6/ibmcloud_operator.v0.1.6.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/0.1.6/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.6/ibmcloud_operator_v1alpha1_service.crd.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: kubernetes-operator

#1398 Update IBM Cloud Operator to v0.1.6 - community operators
  community-operators/ibmcloud-operator/0.1.4/ibmcloud_operator.v0.1.4.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/0.1.4/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/0.1.4/ibmcloud_operator_v1alpha1_service.crd.yaml
  community-operators/ibmcloud-operator/0.1.5/ibmcloud_operator.v0.1.5.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/0.1.5/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/0.1.5/ibmcloud_operator_v1alpha1_service.crd.yaml
  community-operators/ibmcloud-operator/0.1.6/ibmcloud_operator.v0.1.6.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/0.1.6/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/0.1.6/ibmcloud_operator_v1alpha1_service.crd.yaml
  community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: openshift-operator

#1404 upgrade multicluster subscription operator to V0.1.2
  community-operators/multicluster-operators-subscription/0.1.2/app_v1beta1_application.yaml
  community-operators/multicluster-operators-subscription/0.1.2/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.2/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.2/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.2/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.2/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.2/multicluster-operators-subscription.v0.1.2.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/0.1.2/subscription.service.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#1389 Upgrade AtlasMap to 0.2.0 for upstream-community-operators
  upstream-community-operators/atlasmap-operator/0.2.0/atlasmap-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/atlasmap-operator/0.2.0/atlasmaps.atlasmap.io.crd.yaml
  upstream-community-operators/atlasmap-operator/atlasmap-operator.package.yaml
Labels: kubernetes-operator

#1405 Upgrading the Teiid Operator to 0.2.0 version
  community-operators/teiid/0.2.0/teiid.io_virtualdatabases_crd.yaml
  community-operators/teiid/0.2.0/teiid.v0.2.0.clusterserviceversion.yaml
  community-operators/teiid/teiid.package.yaml
Labels: openshift-operator

#1406 Update documentation for HPE CSI Operator
  upstream-community-operators/hpe-csi-driver-operator/1.0.0/hpe-csi-driver-operator.v1.0.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1357 Update Jaeger upstream-community-operators to v1.17.1
  upstream-community-operators/jaeger/1.17.1/jaeger.v1.17.1.clusterserviceversion.yaml
  upstream-community-operators/jaeger/1.17.1/jaegertracing.io_jaegers_crd.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
Labels: kubernetes-operator

#1401 Update Appsody operator
  upstream-community-operators/appsody-operator/0.4.0/appsody-operator.v0.4.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1358 Update Jaeger community-operators to v1.17.1
  community-operators/jaeger/1.17.1/jaeger.v1.17.1.clusterserviceversion.yaml
  community-operators/jaeger/1.17.1/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: openshift-operator

#1402 add OpenShift Hive 1.0.0 - upstream
  upstream-community-operators/openshift-hive/1.0.0/hive-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_checkpoint.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_clusterdeployment.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_clusterdeprovision.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_clusterimageset.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_clusterprovision.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_clusterstate.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_dnszone.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_hiveconfig.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_machinepool.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_machinepoolnamelease.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_selectorsyncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_selectorsyncset.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_syncidentityprovider.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_syncset.yaml
  upstream-community-operators/openshift-hive/1.0.0/hive_v1_syncsetinstance.yaml
  upstream-community-operators/openshift-hive/hive.package.yaml
Labels: kubernetes-operator

#1426 Revert "Update Jaeger community-operators to v1.17.1"
  community-operators/jaeger/1.17.1/jaeger.v1.17.1.clusterserviceversion.yaml
  community-operators/jaeger/1.17.1/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: openshift-operator

#1409 Update openshift aqua operator to 1.0.1
  community-operators/aqua/1.0.1/aqua-operator.v1.0.1.clusterserviceversion.yaml
  community-operators/aqua/1.0.1/aquacsps.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.1/aquadatabases.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.1/aquaenforcers.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.1/aquagateways.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.1/aquascanners.operator.aquasec.com.crd.yaml
  community-operators/aqua/1.0.1/aquaservers.operator.aquasec.com.crd.yaml
  community-operators/aqua/aqua-operator.package.yaml
Labels: openshift-operator

#1432 Add Strimzi 0.17.0 to Community Operators
  community-operators/strimzi-kafka-operator/0.17.0/kafkabridges.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.17.0/kafkaconnectors.kafka.strimzi.io.yaml
  community-operators/strimzi-kafka-operator/0.17.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.17.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.17.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.17.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.17.0/kafkas.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.17.0/kafkatopics.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.17.0/kafkausers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.17.0/strimzi-cluster-operator.v0.17.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.17.0/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.17.0/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.17.0/strimzitopicoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: openshift-operator

#1437 Update radanalytics spark operator to version 1.0.8
  community-operators/radanalytics-spark/1.0.8/sparkapplications.radanalytics.io.crd.yaml
  community-operators/radanalytics-spark/1.0.8/sparkclusters.radanalytics.io.crd.yaml
  community-operators/radanalytics-spark/1.0.8/sparkhistoryservers.radanalytics.io.crd.yaml
  community-operators/radanalytics-spark/1.0.8/sparkoperator.v1.0.8.clusterserviceversion.yaml
  community-operators/radanalytics-spark/radanalytics-spark.package.yaml
Labels: openshift-operator

#1419 [kiali] [community] update kiali
  community-operators/kiali/1.15.1/kiali.crd.yaml
  community-operators/kiali/1.15.1/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.15.1/kiali.v1.15.1.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: openshift-operator

#1418 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.15.1/kiali.crd.yaml
  upstream-community-operators/kiali/1.15.1/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.15.1/kiali.v1.15.1.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator

#1452 Updating Community NeuVector Operator
  community-operators/neuvector/1.0.0/neuvector-operator.crd.yaml
  community-operators/neuvector/1.0.0/neuvector-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/neuvector/neuvector-operator.package.yaml
Labels: openshift-operator

#1403 Instana Agent Operator 0.2.7
  upstream-community-operators/instana-agent/0.2.7/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.2.7/instana-agent-operator.v0.2.7.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#1455 NooBaa v2.1.0
  upstream-community-operators/noobaa/2.1.0/backingstores.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.1.0/bucketclasses.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.1.0/noobaa-operator.v2.1.0.clusterserviceversion.yaml
  upstream-community-operators/noobaa/2.1.0/noobaas.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/noobaa-operator.package.yaml
Labels: kubernetes-operator

#1449 Fixing dead document links, in IBM Spectrum Scale CSI v1.1.0 (Upstream Community Operators)
  upstream-community-operators/ibm-spectrum-scale-csi-operator/1.1.0/ibm-spectrum-scale-csi-operator.v1.1.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1448 Fixing dead document links, in IBM Spectrum Scale CSI v1.1.0 (Community Operators)
  community-operators/ibm-spectrum-scale-csi-operator/1.1.0/ibm-spectrum-scale-csi-operator.v1.1.0.clusterserviceversion.yaml
Labels: openshift-operator

#1423 Add upstream datadog-operator
  upstream-community-operators/datadog/0.1.3/datadog-operator.v0.1.3.clusterserviceversion.yaml
  upstream-community-operators/datadog/0.1.3/datadoghq.com_datadogagents_crd.yaml
  upstream-community-operators/datadog/datadog-operator.package.yaml
Labels: kubernetes-operator

#1338 Update upstream Knative Serving operator to 0.13.1
  upstream-community-operators/knative-serving-operator/0.13.1/knative-serving-operator.v0.13.1.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.13.1/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-serving-operator/knative-serving-operator.package.yaml
Labels: kubernetes-operator, ok-to-test

#1467 create new upstream community operator multicluster-operators-subscri…
  upstream-community-operators/multicluster-operators-subscription/0.1.2/app_v1beta1_application.yaml
  upstream-community-operators/multicluster-operators-subscription/0.1.2/apps.open-cluster-management.io_channels_crd.yaml
  upstream-community-operators/multicluster-operators-subscription/0.1.2/apps.open-cluster-management.io_deployables_crd.yaml
  upstream-community-operators/multicluster-operators-subscription/0.1.2/apps.open-cluster-management.io_helmreleases_crd.yaml
  upstream-community-operators/multicluster-operators-subscription/0.1.2/apps.open-cluster-management.io_placementrules_crd.yaml
  upstream-community-operators/multicluster-operators-subscription/0.1.2/apps.open-cluster-management.io_subscriptions_crd.yaml
  upstream-community-operators/multicluster-operators-subscription/0.1.2/multicluster-operators-subscription.v0.1.2.clusterserviceversion.yaml
  upstream-community-operators/multicluster-operators-subscription/0.1.2/subscription.service.yaml
  upstream-community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: kubernetes-operator

#1466 Update OpenShift argocd-operator to v0.0.5
  community-operators/argocd-operator/0.0.5/argocd-operator.v0.0.5.clusterserviceversion.yaml
  community-operators/argocd-operator/0.0.5/argoproj.io_applications_crd.yaml
  community-operators/argocd-operator/0.0.5/argoproj.io_appprojects_crd.yaml
  community-operators/argocd-operator/0.0.5/argoproj.io_argocdexports_crd.yaml
  community-operators/argocd-operator/0.0.5/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator/argocd-operator.package.yaml
Labels: openshift-operator

#1460 Drop Smart Gateway from Community Operators
  community-operators/smartgateway-operator/0.1.0/smartgateway-operator.crd.yaml
  community-operators/smartgateway-operator/0.1.0/smartgateway-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/smartgateway-operator/smartgateway-operator.package.yaml
Labels: openshift-operator

#1463 Update Upstream argocd-operator to v0.0.5
  upstream-community-operators/argocd-operator/0.0.5/argocd-operator.v0.0.5.clusterserviceversion.yaml
  upstream-community-operators/argocd-operator/0.0.5/argoproj.io_applications_crd.yaml
  upstream-community-operators/argocd-operator/0.0.5/argoproj.io_appprojects_crd.yaml
  upstream-community-operators/argocd-operator/0.0.5/argoproj.io_argocdexports_crd.yaml
  upstream-community-operators/argocd-operator/0.0.5/argoproj.io_argocds_crd.yaml
  upstream-community-operators/argocd-operator/argocd-operator.package.yaml
Labels: kubernetes-operator

#1453 Add Strimzi 0.17.0 to Upstream Community Operators
  upstream-community-operators/strimzi-kafka-operator/0.17.0/kafkabridges.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/kafkaconnectors.kafka.strimzi.io.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/kafkas.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/kafkatopics.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/kafkausers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/strimzi-cluster-operator.v0.17.0.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/strimzientityoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/strimzikafkabroker.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.17.0/strimzitopicoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: kubernetes-operator

#1412 clickhouse-operator v0.9.5
  upstream-community-operators/clickhouse/0.9.5/clickhouse-operator.v0.9.5.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.9.5/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.5/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.5/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator
