Repository operator-framework/community-operators, pull requests merged in 2020-02, with the labels that each got.

#1168 Fix doc semantic issue with subscription#spec#name
  docs/testing-operators.md
Labels: size/XS

#1170 Update PostgreSQL Operator v4.2.1 CSV
  community-operators/postgresql/4.2.1/postgresoperator.v4.2.1.clusterserviceversion.yaml
Labels: openshift-operator, size/M

#1174 Spinnaker-1.17.4-10
  community-operators/spinnaker-operator/1.17.2/spinnaker-operator.v1.17.2.clusterserviceversion.yaml
  community-operators/spinnaker-operator/1.17.4/spinnaker-operator.v1.17.4.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#1175 OpsMx-Spinnaker-1.17.4-10
  community-operators/opsmx-spinnaker-operator/1.17.4/opsmx-spinnaker-operator.v1.17.4.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#1179 Update multicloud-operators-subscription for openshift to v0.1.1
  community-operators/multicloud-operators-subscription/0.1.1/channels.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.1/deployables.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.1/helmreleases.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.1/multicloud-operators-subscription.v0.1.1.clusterserviceversion.yaml
  community-operators/multicloud-operators-subscription/0.1.1/subscriptions.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/multicloud-operators-subscription.package.yaml
Labels: openshift-operator, size/XXL

#1186 [kiali] [community] update kiali
  community-operators/kiali/1.13.0/kiali.crd.yaml
  community-operators/kiali/1.13.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.13.0/kiali.v1.13.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: openshift-operator, size/XL

#1187 Fix out-of-date x-descriptor for PostgreSQL Operator
  community-operators/postgresql/4.2.1/postgresoperator.v4.2.1.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#1135 Updating NeuVector Community Operator
  community-operators/neuvector/0.9.0/neuvector-operator.crd.yaml
  community-operators/neuvector/0.9.0/neuvector-operator.v0.9.0.clusterserviceversion.yaml
  community-operators/neuvector/neuvector-operator.package.yaml
Labels: openshift-operator, size/L

#1181 Update eclipse-che operator for openshift to release 7.8.0
  community-operators/eclipse-che/7.8.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.8.0/eclipse-che.v7.8.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator, size/XL

#1189 Upgrade Knative Camel to 0.12.1
  community-operators/knative-camel-operator/0.12.1/camelsources.sources.eventing.knative.dev.crd.yaml
  community-operators/knative-camel-operator/0.12.1/knative-camel-operator.v0.12.1.clusterserviceversion.yaml
  community-operators/knative-camel-operator/knative-camel-operator.package.yaml
Labels: openshift-operator, size/L

#1196 Add OpenShift-Pipelines-Operator v0.10.4 CSV
  community-operators/openshift-pipelines-operator/0.10.4/openshift-pipelines-operator.v0.10.4.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.10.4/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator, size/L

#1198 Update hazelcast-enterprise to 0.1.1
  community-operators/hazelcast-enterprise/0.1.1/hazelcast-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/hazelcast-enterprise/0.1.1/hazelcasts.hazelcast.com.crd.yaml
  community-operators/hazelcast-enterprise/hazelcast-enterprise.package.yaml
Labels: openshift-operator, size/L

#842 Add Ember CSI operator
  community-operators/ember-csi-operator/0.0.1/ember-csi-operator.crd.yaml
  community-operators/ember-csi-operator/0.0.1/ember-csi-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/ember-csi-operator/ember-csi-operator.package.yaml
Labels: openshift-operator, size/XL

#1204 Fixed missing v1alpha2 for operator group
  scripts/ci/install-olm
  scripts/lib-python/files/create_operator_group_file.py
Labels: size/XS

#1195 Upstream-Spinnaker-1.17.4-10
  upstream-community-operators/spinnaker-operator/1.17.2/spinnaker-operator.v1.17.2.clusterserviceversion.yaml
  upstream-community-operators/spinnaker-operator/1.17.2/spinnakeroperators.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/spinnaker-operator/1.17.4/spinnaker-operator.v1.17.4.clusterserviceversion.yaml
  upstream-community-operators/spinnaker-operator/1.17.4/spinnakeroperators.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/spinnaker-operator/spinnaker-operator.package.yaml
Labels: kubernetes-operator, size/L

#1199 [upstream] Update hazelcast-operator to 0.1.1
  upstream-community-operators/hazelcast-enterprise/0.1.1/hazelcast-operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise/0.1.1/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise/hazelcast-enterprise.package.yaml
Labels: kubernetes-operator, size/L

#1197 clickhouse-operator v0.8.0
  upstream-community-operators/clickhouse/0.8.0/clickhouse-operator.v0.8.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.8.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.8.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.8.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator, size/XXL

#1161 Add argocd-operator v0.0.4 to Community Operators
  community-operators/argocd-operator/0.0.4/argocd-operator.v0.0.4.clusterserviceversion.yaml
  community-operators/argocd-operator/0.0.4/argoproj.io_applications_crd.yaml
  community-operators/argocd-operator/0.0.4/argoproj.io_appprojects_crd.yaml
  community-operators/argocd-operator/0.0.4/argoproj.io_argocdexports_crd.yaml
  community-operators/argocd-operator/0.0.4/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator/argocd-operator.package.yaml
Labels: openshift-operator, size/XXL

#1191 Remove Open Liberty community operator (duplicate)
  community-operators/open-liberty/0.0.1/open-liberty-0.0.1.clusterserviceversion.yaml
  community-operators/open-liberty/0.0.1/openliberties.openliberty.io.crd.yaml
  community-operators/open-liberty/open-liberty.package.yaml
Labels: openshift-operator, size/XXL

#1159 Adding 0.12 operator for knative eventing
  community-operators/knative-eventing-operator/0.12.0/knative-eventing-operator.v0.12.0.clusterserviceversion-v0.12.0.yaml
  community-operators/knative-eventing-operator/0.12.0/knativeeventings.eventing.knative.dev.crd.yaml
  community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
Labels: openshift-operator, size/L

#1182 Update eclipse-che operator for kubernetes to release 7.8.0
  upstream-community-operators/eclipse-che/7.8.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.8.0/eclipse-che.v7.8.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator, size/XL

#1185 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.13.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.13.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.13.0/kiali.v1.13.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator, size/XL

#1202 add Keda 1.2.0 to upstream operators
  upstream-community-operators/keda/1.2.0/keda.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/keda/1.2.0/kedacontrollers.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.2.0/scaledobjects.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/1.2.0/triggerauthentications.keda.k8s.io.crd.yaml
  upstream-community-operators/keda/keda.package.yaml
Labels: kubernetes-operator, size/XXL

#1207 fix apiVersion
  .travis.yml
  scripts/ci/install-olm
Labels: size/XS

#1194 Upgrading the Teiid Operator to 0.1.1 version, making Openshift 4.3 c…
  community-operators/teiid/0.1.1/teiid.0.1.1.clusterserviceversion.yaml
  community-operators/teiid/0.1.1/virtualdatabase.crd.yaml
  community-operators/teiid/teiid.package.yaml
Labels: openshift-operator, size/XL

#1203 add Keda 1.2.0 to community-operators
  community-operators/keda/1.2.0/keda.v1.2.0.clusterserviceversion.yaml
  community-operators/keda/1.2.0/kedacontrollers.keda.k8s.io.crd.yaml
  community-operators/keda/1.2.0/scaledobjects.keda.k8s.io.crd.yaml
  community-operators/keda/1.2.0/triggerauthentications.keda.k8s.io.crd.yaml
  community-operators/keda/keda.package.yaml
Labels: openshift-operator, size/XXL

#1214 Upgrade TraefikEE operator to v0.4.1
  upstream-community-operators/traefikee-operator/0.4.1/containo.us_traefikees_crd.yaml
  upstream-community-operators/traefikee-operator/0.4.1/traefikee-operator.v0.4.1.clusterserviceversion.yaml
  upstream-community-operators/traefikee-operator/traefikee-operator.package.yaml
Labels: kubernetes-operator, size/L

#1217 Add OpenShift-Pipelines-Operator v0.10.5 CSV
  community-operators/openshift-pipelines-operator/0.10.5/openshift-pipelines-operator.v0.10.5.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.10.5/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator, size/L

#1216 update subscription upstream commnuity operator to V0.1.1
  upstream-community-operators/multicloud-operators-subscription/0.1.1/channels.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.1/deployables.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.1/helmreleases.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.1/multicloud-operators-subscription.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/multicloud-operators-subscription/0.1.1/subscriptions.app.ibm.com.crd.yaml
  upstream-community-operators/multicloud-operators-subscription/multicloud-operators-subscription.package.yaml
Labels: kubernetes-operator, size/XXL

#1215 Adding min version for 1.15 for latest version
  community-operators/knative-eventing-operator/0.12.0/knative-eventing-operator.v0.12.0.clusterserviceversion-v0.12.0.yaml
Labels: openshift-operator, size/XS

#1213 Upgrade TraefikEE operator to v0.4.1
  community-operators/traefikee-operator/0.4.1/containo.us_traefikees_crd.yaml
  community-operators/traefikee-operator/0.4.1/traefikee-operator.v0.4.1.clusterserviceversion.yaml
  community-operators/traefikee-operator/traefikee-operator.package.yaml
Labels: openshift-operator, size/L

#1212 Remove Hazelcast Operator from Community Operators
  community-operators/hazelcast-enterprise/0.0.1/hazelcast-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/hazelcast-enterprise/0.0.1/hazelcasts.hazelcast.com.crd.yaml
  community-operators/hazelcast-enterprise/0.1.1/hazelcast-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/hazelcast-enterprise/0.1.1/hazelcasts.hazelcast.com.crd.yaml
  community-operators/hazelcast-enterprise/hazelcast-enterprise.package.yaml
Labels: openshift-operator, size/L

#1208 opsmx-spinnaker-1.17.4-10
  upstream-community-operators/opsmx-spinnaker-operator/1.17.2/opsmx-spinnaker-operator.v1.17.2.clusterserviceversion.yaml
  upstream-community-operators/opsmx-spinnaker-operator/1.17.2/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/opsmx-spinnaker-operator/1.17.4/opsmx-spinnaker-operator.v1.17.4.clusterserviceversion.yaml
  upstream-community-operators/opsmx-spinnaker-operator/1.17.4/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.package.yaml
Labels: kubernetes-operator, size/L

#1219 Adding NeuVector Upstream Community Operator
  upstream-community-operators/neuvector/0.9.0/neuvector-operator.crd.yaml
  upstream-community-operators/neuvector/0.9.0/neuvector-operator.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/neuvector/neuvector-operator.package.yaml
Labels: kubernetes-operator, size/L

#1205 Add KubeFlow Operator
  upstream-community-operators/kfctl/0.1.0/kfctl.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/kfctl/0.1.0/kfdef.apps.kubeflow.org.crd.yaml
  upstream-community-operators/kfctl/kfctl.package.yaml
Labels: kubernetes-operator, size/L

#979 Add Strimzi 0.15.0 to Community Operators
  community-operators/strimzi-kafka-operator/0.15.0/kafkabridges.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.15.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.15.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.15.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.15.0/kafkas.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.15.0/kafkatopics.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.15.0/kafkausers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.15.0/strimzi-cluster-operator.v0.15.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.15.0/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.15.0/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.15.0/strimzitopicoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: openshift-operator, size/XXL

#1063 ext-postgres-operator version 0.4.1
  upstream-community-operators/ext-postgres-operator/0.4.1/db.movetokube.com_postgres_crd.yaml
  upstream-community-operators/ext-postgres-operator/0.4.1/db.movetokube.com_postgresusers_crd.yaml
  upstream-community-operators/ext-postgres-operator/0.4.1/ext-postgres-operator.v0.4.1.clusterserviceversion.yaml
  upstream-community-operators/ext-postgres-operator/ext-postgres-operator.package.yaml
Labels: kubernetes-operator, size/L

#1222 Update Jenkins Operator to 0.3.0
  community-operators/jenkins-operator/0.3.0/jenkins-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.3.0/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: openshift-operator, size/L

#1225 Add Chaos Engineering Category
  docs/required-fields.md
Labels: size/XS

#1223 update codeready-toolchain-operator to 0.1.2
  community-operators/codeready-toolchain-operator/0.1.2/codeready-toolchain-operator.v0.1.2.clusterserviceversion.yaml
  community-operators/codeready-toolchain-operator/0.1.2/toolchain.openshift.dev_cheinstallations.yaml
  community-operators/codeready-toolchain-operator/0.1.2/toolchain.openshift.dev_tektoninstallations.yaml
  community-operators/codeready-toolchain-operator/codeready-toolchain-operator.package.yaml
Labels: openshift-operator, size/XL

#1221 Added v2.3 of Appranix Operator
  upstream-community-operators/appranix/2.3.0/ax-cps-operator.v2.3.0.clusterserviceversion.yaml
  upstream-community-operators/appranix/2.3.0/backups.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/2.3.0/backupstoragelocations.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/2.3.0/deletebackuprequests.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/2.3.0/downloadrequests.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/2.3.0/podvolumebackups.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/2.3.0/podvolumerestores.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/2.3.0/resticrepositories.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/2.3.0/restores.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/2.3.0/schedules.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/2.3.0/serverstatusrequests.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/2.3.0/volumesnapshotlocations.aps.appranix.com.crd.yaml
  upstream-community-operators/appranix/ax-cps-operator.package.yaml
Labels: kubernetes-operator, size/XL

#1220 Update Elastic Cloud on K8S to 1.0.1
  upstream-community-operators/elastic-cloud/1.0.1/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/1.0.1/elastic-cloud-eck.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud/1.0.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/1.0.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator, size/XXL

#1210 Update Knative Kafka operator to 0.12.1
  community-operators/knative-kafka-operator/0.12.1/eventing_v1alpha1_knativeeventingkafka.crd.yaml
  community-operators/knative-kafka-operator/0.12.1/knative-kafka-operator.v0.12.1.clusterserviceversion.yaml
  community-operators/knative-kafka-operator/knative-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, size/L

#1228 NooBaa v2.0.10
  upstream-community-operators/noobaa/2.0.10/backingstores.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.0.10/bucketclasses.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/2.0.10/noobaa-operator.v2.0.10.clusterserviceversion.yaml
  upstream-community-operators/noobaa/2.0.10/noobaas.noobaa.io.crd.yaml
  upstream-community-operators/noobaa/noobaa-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#1234 Update Federator.ai operator to v4.2.552 for upstream-community-operators
  upstream-community-operators/federatorai/4.2.552/alamedaservices.federatorai.containers.ai.crd.yaml
  upstream-community-operators/federatorai/4.2.552/federatorai.v4.2.552.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.package.yaml
Labels: kubernetes-operator, size/XL

#1233 Update Federator.ai operator to v4.2.552 for community-operators
  community-operators/federatorai/4.2.552/alamedaservices.federatorai.containers.ai.crd.yaml
  community-operators/federatorai/4.2.552/federatorai.v4.2.552.clusterserviceversion.yaml
  community-operators/federatorai/federatorai.package.yaml
Labels: openshift-operator, size/XL

#1236 clickhouse-operator v0.9.0
  upstream-community-operators/clickhouse/0.9.0/clickhouse-operator.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.9.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator, size/XXL

#1242 Added quay-operator v1.0.2 to community operators
  community-operators/quay/1.0.2/quay.v1.0.2.clusterserviceversion.yaml
  community-operators/quay/1.0.2/redhatcop.redhat.io_quayecosystems_crd.yaml
  community-operators/quay/quay.package.yaml
Labels: openshift-operator, size/XXL

#1243 Release of Open Data Hub v0.5.1
  community-operators/opendatahub-operator/0.5.1/opendatahub-operator.v0.5.1.clusterserviceversion.yaml
  community-operators/opendatahub-operator/0.5.1/opendatahub_v1alpha1_opendatahub_crd.yaml
  community-operators/opendatahub-operator/opendatahub-operator.package.yaml
Labels: openshift-operator, size/XXL

#1245 Update Strimzi to 0.15.0 in upstream operators
  upstream-community-operators/strimzi-kafka-operator/0.15.0/kafkabridges.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.15.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.15.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.15.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.15.0/kafkas.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.15.0/kafkatopics.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.15.0/kafkausers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.15.0/strimzi-cluster-operator.v0.15.0.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.15.0/strimzientityoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.15.0/strimzikafkabroker.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.15.0/strimzitopicoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#1241 Add OpenShift-Pipelines-Operator v0.10.6 CSV
  community-operators/openshift-pipelines-operator/0.10.6/openshift-pipelines-operator.v0.10.6.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.10.6/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator, size/L

#1244 Added quay-operator v1.0.2 to upstream-commuunity-operators
  upstream-community-operators/quay/1.0.2/quay.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/quay/1.0.2/quayecosystems.redhatcop.redhat.io.crd.yaml
  upstream-community-operators/quay/quay.package.yaml
Labels: kubernetes-operator, size/XXL

#1246 Keycloak Community Operator 8.0.2
  community-operators/keycloak/8.0.2/keycloak-operator.8.0.2.clusterserviceversion.yaml
  community-operators/keycloak/8.0.2/keycloak.org_keycloakbackups_crd.yaml
  community-operators/keycloak/8.0.2/keycloak.org_keycloakclients_crd.yaml
  community-operators/keycloak/8.0.2/keycloak.org_keycloakrealms_crd.yaml
  community-operators/keycloak/8.0.2/keycloak.org_keycloaks_crd.yaml
  community-operators/keycloak/8.0.2/keycloak.org_keycloakusers_crd.yaml
  community-operators/keycloak/keycloak.package.yaml
Labels: openshift-operator, size/XXL

#1249 Add KubeMQ Operator to Upstream
  upstream-community-operators/kubemq/0.3.1/kubemq-operator.v0.3.1.clusterserviceversion.yaml
  upstream-community-operators/kubemq/0.3.1/kubemqclusters.core.k8s.kubemq.io.crd.yaml
  upstream-community-operators/kubemq/0.3.2/kubemq-operator.v0.3.2.clusterserviceversion.yaml
  upstream-community-operators/kubemq/0.3.2/kubemqclusters.core.k8s.kubemq.io.crd.yaml
  upstream-community-operators/kubemq/kubemq-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#1247 Keycloak Upstream Community Operator 8.0.2
  upstream-community-operators/keycloak/8.0.2/keycloak-operator.8.0.2.clusterserviceversion.yaml
  upstream-community-operators/keycloak/8.0.2/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/8.0.2/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/8.0.2/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/8.0.2/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/8.0.2/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak/keycloak.package.yaml
Labels: kubernetes-operator, size/XXL

#1254 Update Kogito Operator alpha channel to 0.8.0-rc1
  community-operators/kogito-operator/0.8.0-rc1/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.8.0-rc1/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.8.0-rc1/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.8.0-rc1/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.8.0-rc1/kogito-operator.v0.8.0-rc1.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator, size/XXL

#1261 Infinispan manifests for 1.1.1.Final release
  upstream-community-operators/infinispan/1.1.1/infinispan-operator.v1.1.1.clusterserviceversion.yaml
  upstream-community-operators/infinispan/1.1.1/infinispans.infinispan.org.crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator, size/L

#1264 Add Strimzi 0.16.2 to community operators
  community-operators/strimzi-kafka-operator/0.16.2/kafkabridges.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.16.2/kafkaconnectors.kafka.strimzi.io.yaml
  community-operators/strimzi-kafka-operator/0.16.2/kafkaconnects.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.16.2/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.16.2/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.16.2/kafkas.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.16.2/kafkatopics.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.16.2/kafkausers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.16.2/strimzi-cluster-operator.v0.16.2.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.16.2/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.16.2/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.16.2/strimzitopicoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: openshift-operator, size/XXL

#1266 lib-bucket-provisioner removed from openshift community operators
  community-operators/lib-bucket-provisioner/1.0.0/lib-bucket-provisioner.v1.0.0.clusterserviceversion.yaml
  community-operators/lib-bucket-provisioner/1.0.0/objectbucketclaims.objectbucket.io.crd.yaml
  community-operators/lib-bucket-provisioner/1.0.0/objectbuckets.objectbucket.io.crd.yaml
  community-operators/lib-bucket-provisioner/lib-bucket-provisioner.package.yaml
Labels: openshift-operator, size/L

#1262 Infinispan community 1.1.1.final
  community-operators/infinispan/1.1.1/infinispan-operator.v1.1.1.clusterserviceversion.yaml
  community-operators/infinispan/1.1.1/infinispans.infinispan.org.crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: openshift-operator, size/L

#1255 Update aws operator to use `skips` to ensure proper dependency resolution
  community-operators/awss3-operator-registry/1.0.1/awss3operator.1.0.1.clusterserviceversion.yaml
  community-operators/awss3-operator-registry/1.0.1/objectbucketclaims.objectbucket.io.crd.yaml
  community-operators/awss3-operator-registry/1.0.1/objectbuckets.objectbucket.io.crd.yaml
Labels: openshift-operator, size/M

#1237 Update sparkoperator to v1.0.7
  community-operators/radanalytics-spark/1.0.7/sparkapplications.radanalytics.io.crd.yaml
  community-operators/radanalytics-spark/1.0.7/sparkclusters.radanalytics.io.crd.yaml
  community-operators/radanalytics-spark/1.0.7/sparkhistoryservers.radanalytics.io.crd.yaml
  community-operators/radanalytics-spark/1.0.7/sparkoperator.v1.0.7.clusterserviceversion.yaml
  community-operators/radanalytics-spark/radanalytics-spark.package.yaml
Labels: openshift-operator, size/L

#1268 Update eclipse-che operator for openshift to release 7.9.0
  community-operators/eclipse-che/7.9.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.9.0/eclipse-che.v7.9.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator, size/XL

#1270 Update Sysdig Operator to 1.7.2
  upstream-community-operators/sysdig/1.7.2/sysdig-operator.v1.7.2.clusterserviceversion.yaml
  upstream-community-operators/sysdig/1.7.2/sysdigagents.sysdig.com.crd.yaml
  upstream-community-operators/sysdig/sysdig.package.yaml
Labels: kubernetes-operator, size/L

#1269 Add Strimzi 0.16.2 to the Upstream community operators
  upstream-community-operators/strimzi-kafka-operator/0.16.2/kafkabridges.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/kafkaconnectors.kafka.strimzi.io.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/kafkaconnects.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/kafkas.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/kafkatopics.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/kafkausers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/strimzi-cluster-operator.v0.16.2.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/strimzientityoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/strimzikafkabroker.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.16.2/strimzitopicoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: kubernetes-operator, size/XXL

#1267 Update eclipse-che operator for kubernetes to release 7.9.0
  upstream-community-operators/eclipse-che/7.9.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.9.0/eclipse-che.v7.9.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator, size/XL

#1273 clickhouse-operator v0.9.1
  upstream-community-operators/clickhouse/0.9.1/clickhouse-operator.v0.9.1.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.9.1/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.1/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.9.1/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator, size/XXL

#1274 Add OpenShift-Pipelines-Operator v0.10.7 to dev-preview
  community-operators/openshift-pipelines-operator/0.10.7/openshift-pipelines-operator.v0.10.7.clusterserviceversion.yaml
  community-operators/openshift-pipelines-operator/0.10.7/operator_v1alpha1_config_crd.yaml
  community-operators/openshift-pipelines-operator/openshift-pipelines-operator.package.yaml
Labels: openshift-operator, size/L

#1276 Update Federator.ai operator to v4.2.553 for community-operators
  community-operators/federatorai/4.2.553/alamedaservices.federatorai.containers.ai.crd.yaml
  community-operators/federatorai/4.2.553/federatorai.v4.2.553.clusterserviceversion.yaml
  community-operators/federatorai/federatorai.package.yaml
Labels: openshift-operator, size/XL

#1257 Akka Cluster Operator v0.2.3, upstream
  upstream-community-operators/akka-cluster-operator/0.2.3/akka-cluster-operator.v0.2.3.clusterserviceversion.yaml
  upstream-community-operators/akka-cluster-operator/0.2.3/app_v1alpha1_akkacluster_crd.yaml
Labels: kubernetes-operator, size/L

#1280 Update upstream Knative Serving operator to 0.12.2
  upstream-community-operators/knative-serving-operator/0.12.2/knative-serving-operator.v0.12.2.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.12.2/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-serving-operator/knative-serving-operator.package.yaml
Labels: kubernetes-operator, size/L

#1282 Revert "lib-bucket-provisioner removed from openshift community operators"
  community-operators/lib-bucket-provisioner/1.0.0/lib-bucket-provisioner.v1.0.0.clusterserviceversion.yaml
  community-operators/lib-bucket-provisioner/1.0.0/objectbucketclaims.objectbucket.io.crd.yaml
  community-operators/lib-bucket-provisioner/1.0.0/objectbuckets.objectbucket.io.crd.yaml
  community-operators/lib-bucket-provisioner/lib-bucket-provisioner.package.yaml
Labels: openshift-operator, size/L

#1279 upgrade openshift multicloud subscription operator to v0.1.2
  community-operators/multicloud-operators-subscription/0.1.2/channels.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.2/deployables.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.2/helmreleases.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/0.1.2/multicloud-operators-subscription.v0.1.2.clusterserviceversion.yaml
  community-operators/multicloud-operators-subscription/0.1.2/subscriptions.app.ibm.com.crd.yaml
  community-operators/multicloud-operators-subscription/multicloud-operators-subscription.package.yaml
Labels: openshift-operator, size/XXL

#1275 Update Federator.ai operator to v4.2.553 for upstream-community-opera…
  upstream-community-operators/federatorai/4.2.553/alamedaservices.federatorai.containers.ai.crd.yaml
  upstream-community-operators/federatorai/4.2.553/federatorai.v4.2.553.clusterserviceversion.yaml
  upstream-community-operators/federatorai/federatorai.package.yaml
Labels: kubernetes-operator, size/XL

#1271 Added best pratices guide
  docs/best-practices.md
Labels: size/L

#1283 Update maistra community operator to 1.0.8
  community-operators/maistra/1.0.8/maistraoperator.v1.0.8.clusterserviceversion.yaml
  community-operators/maistra/1.0.8/servicemeshcontrolplanes.crd.yaml
  community-operators/maistra/1.0.8/servicemeshmemberrolls.crd.yaml
  community-operators/maistra/maistra.package.yaml
Labels: openshift-operator, size/L

#1289 lib-bucket-provisioner: sync outdated CRDs from OCS
  community-operators/lib-bucket-provisioner/1.0.0/objectbucketclaims.objectbucket.io.crd.yaml
  community-operators/lib-bucket-provisioner/1.0.0/objectbuckets.objectbucket.io.crd.yaml
Labels: openshift-operator, size/L

#1292 Add Camel K 1.0.0-RC2 to community operators
  community-operators/camel-k/1.0.0-rc2/camel-k.v1.0.0-rc2.clusterserviceversion.yaml
  community-operators/camel-k/1.0.0-rc2/crd-build.yaml
  community-operators/camel-k/1.0.0-rc2/crd-camel-catalog.yaml
  community-operators/camel-k/1.0.0-rc2/crd-integration-kit.yaml
  community-operators/camel-k/1.0.0-rc2/crd-integration-platform.yaml
  community-operators/camel-k/1.0.0-rc2/crd-integration.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: openshift-operator, size/XL

#1252 Update Jenkins Operator RBAC
  community-operators/jenkins-operator/0.3.3/jenkins-operator.v0.3.3.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.3.3/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: openshift-operator, size/L

#1265 adding skydive operator
  community-operators/skydive-operator/0.0.1/charts.helm.k8s.io_netflowcollectors_crd.yaml
  community-operators/skydive-operator/0.0.1/charts.helm.k8s.io_skydives_crd.yaml
  community-operators/skydive-operator/0.0.1/skydive-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/skydive-operator/0.0.12/netflowcollectors.charts.helm.k8s.io.crd.yaml
  community-operators/skydive-operator/0.0.12/skydive-operator.v0.0.12.clusterserviceversion.yaml
  community-operators/skydive-operator/0.0.12/skydives.charts.helm.k8s.io.crd.yaml
  community-operators/skydive-operator/skydive-operator.package.yaml
Labels: openshift-operator, size/XL

#1288 Update capabilities to Deep Insights
  community-operators/radanalytics-spark/1.0.7/sparkoperator.v1.0.7.clusterserviceversion.yaml
Labels: openshift-operator, size/XS

#1278 Update upstream Knative Eventing operator to 0.12.1
  upstream-community-operators/knative-eventing-operator/0.12.1/eventings.operator.knative.dev.obsolete.crd.yaml
  upstream-community-operators/knative-eventing-operator/0.12.1/knative-eventing-operator.v0.12.1.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.12.1/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
Labels: kubernetes-operator, ok-to-test, size/L

#1291 Eunomia release 0.1.4
  upstream-community-operators/eunomia/0.1.4/eunomia.v0.1.4.clusterserviceversion.yaml
  upstream-community-operators/eunomia/0.1.4/gitopsconfigs.eunomia.kohls.io.crd.yaml
  upstream-community-operators/eunomia/eunomia.package.yaml
Labels: kubernetes-operator, size/L
