Repository operator-framework/community-operators, pull requests merged in 2020-06, with the labels that each got.

#1806 Update OpenShift argocd-operator to v0.0.9
  community-operators/argocd-operator/0.0.9/argocd-operator.v0.0.9.clusterserviceversion.yaml
  community-operators/argocd-operator/0.0.9/argoproj.io_applications_crd.yaml
  community-operators/argocd-operator/0.0.9/argoproj.io_appprojects_crd.yaml
  community-operators/argocd-operator/0.0.9/argoproj.io_argocdexports_crd.yaml
  community-operators/argocd-operator/0.0.9/argoproj.io_argocds_crd.yaml
  community-operators/argocd-operator/argocd-operator.package.yaml
Labels: openshift-operator

#1801 Add new Apicurio Registry Operator
  community-operators/apicurio-registry/0.0.1/apicurio-registry-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/apicurio-registry/0.0.1/apicurioregistries.apicur.io.crd.yaml
  community-operators/apicurio-registry/apicurio-registry-operator.package.yaml
Labels: openshift-operator

#1816 CouchDB Operator - upgrade to 1.0.6
  upstream-community-operators/couchdb-operator/1.0.6/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.6/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.6/couchdb-operator.v1.0.6.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.0.6/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.6/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.6/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.6/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.6/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/couchdb-operator.package.yaml
Labels: kubernetes-operator

#1817 Instana Agent Operator 0.3.4
  upstream-community-operators/instana-agent/0.3.4/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.3.4/instana-agent-operator.v0.3.4.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#1804 Update eclipse-che operator for openshift to release 7.13.2
  community-operators/eclipse-che/7.13.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.13.2/eclipse-che.v7.13.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1794 [Prisma Cloud Community] Fixup source code and repo URLs
  community-operators/prisma-cloud-compute-console-operator/1.0.0/prisma-cloud-compute-console-operator.v1.0.0.clusterserviceversion.yaml
Labels: openshift-operator

#1812 Added Spinnaker Operator support for v1.20.3
  community-operators/spinnaker-operator/1.20.3/spinnaker-operator.v1.20.3.clusterserviceversion.yaml
  community-operators/spinnaker-operator/1.20.3/spinnakeroperators.charts.helm.k8s.io.crd.yaml
  community-operators/spinnaker-operator/spinnaker-operator.package.yaml
Labels: need-info, openshift-operator

#1813 Added OpsMx Spinnaker Operator support for v1.20.3
  community-operators/opsmx-spinnaker-operator/1.20.3/opsmx-spinnaker-operator.v1.20.3.clusterserviceversion.yaml
  community-operators/opsmx-spinnaker-operator/1.20.3/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.package.yaml
Labels: openshift-operator

#1821 Add HPE CSI Operator version 1.1.0
  upstream-community-operators/hpe-csi-driver-operator/1.1.0/hpe-csi-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-driver-operator/1.1.0/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-driver-operator/hpe-csi-driver-operator.package.yaml
Labels: kubernetes-operator

#1815 Release MongoDB Kubernetes Operator 1.5.3
  upstream-community-operators/mongodb-enterprise/1.5.3/mongodb-enterprise.v1.5.3.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.5.3/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.5.3/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.5.3/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator

#1823 Update Kong operator to v0.3.0
  upstream-community-operators/kong/0.3.0/kong.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/kong/0.3.0/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/kong.package.yaml
Labels: kubernetes-operator

#1824 Adding 0.3.0 version of the Teiid Community Operator for OpenShift
  community-operators/teiid/0.3.0/teiid.io_virtualdatabases_crd.yaml
  community-operators/teiid/0.3.0/teiid.v0.3.0.clusterserviceversion.yaml
  community-operators/teiid/teiid.package.yaml
Labels: openshift-operator

#1825 Add opendatahub-operator release v0.5.2
  community-operators/opendatahub-operator/0.5.2/opendatahub-operator.v0.5.2.clusterserviceversion.yaml
  community-operators/opendatahub-operator/0.5.2/opendatahub_v1alpha1_opendatahub_crd.yaml
  community-operators/opendatahub-operator/opendatahub-operator.package.yaml
Labels: openshift-operator

#1822 release Operator for Apache CouchDB 1.0.7 as beta
  upstream-community-operators/couchdb-operator/1.0.7/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.7/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.7/couchdb-operator.v1.0.7.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.0.7/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.7/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.7/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.7/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.7/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/couchdb-operator.package.yaml
Labels: kubernetes-operator

#1826 Added OpenShift badges annotations
  community-operators/strimzi-kafka-operator/0.18.0/strimzi-cluster-operator.v0.18.0.clusterserviceversion.yaml
Labels: openshift-operator

#1827 Added OpenShift badges annotations
  upstream-community-operators/strimzi-kafka-operator/0.18.0/strimzi-cluster-operator.v0.18.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1829 Update eclipse-che operator for kubernetes to release 7.14.1
  upstream-community-operators/eclipse-che/7.14.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.14.1/eclipse-che.v7.14.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1830 Update eclipse-che operator for openshift to release 7.14.1
  community-operators/eclipse-che/7.14.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.14.1/eclipse-che.v7.14.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1832 Updated upstream PostgreSQL Operator to v4.3.2
  upstream-community-operators/postgresql/4.3.2/pgclusters.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.3.2/pgpolicies.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.3.2/pgreplicas.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.3.2/pgtasks.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.3.2/postgresoperator.v4.3.2.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator

#1833 Update community PostgreSQL Operator to v4.3.2
  community-operators/postgresql/4.3.2/pgclusters.crunchydata.com.crd.yaml
  community-operators/postgresql/4.3.2/pgpolicies.crunchydata.com.crd.yaml
  community-operators/postgresql/4.3.2/pgreplicas.crunchydata.com.crd.yaml
  community-operators/postgresql/4.3.2/pgtasks.crunchydata.com.crd.yaml
  community-operators/postgresql/4.3.2/postgresoperator.v4.3.2.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: openshift-operator

#1845 Add 2.0.0 version of Couchbase Autonomous Operator
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbase-v2.0.0.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbasebackuprestores.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbasebackups.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbasebuckets.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbaseclusters.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbasegroups.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbasememcachedbuckets.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbasereplications.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbaserolebindings.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.0/couchbaseusers.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/couchbase.package.yaml
Labels: kubernetes-operator

#1837 Release CouchDB operator version 1.0.10 as stable
  upstream-community-operators/couchdb-operator/1.0.10/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.10/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.10/couchdb-operator.v1.0.10.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.0.10/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.10/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.10/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.10/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.10/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/couchdb-operator.package.yaml
Labels: kubernetes-operator

#1839 Update to Quay operator for v1.1.1 release
  upstream-community-operators/quay/1.1.1/quay.v1.1.1.clusterserviceversion.yaml
  upstream-community-operators/quay/1.1.1/redhatcop.redhat.io_quayecosystems_crd.yaml
  upstream-community-operators/quay/quay.package.yaml
Labels: kubernetes-operator

#1840 Added support of OpsMx Spinnaker Operator v1.20.3 in upstream-communi…
  upstream-community-operators/opsmx-spinnaker-operator/1.20.3/opsmx-spinnaker-operator.v1.20.3.clusterserviceversion.yaml
  upstream-community-operators/opsmx-spinnaker-operator/1.20.3/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.package.yaml
Labels: kubernetes-operator

#1842 Add Camel K 1.0.0 to community operators
  community-operators/camel-k/1.0.0/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.0/camel-k.v1.0.0.clusterserviceversion.yaml
  community-operators/camel-k/1.0.0/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.0/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.0/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.0.0/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: openshift-operator

#1843 Added support of Spinnaker Operator v1.20.3 in upstream-community-ope…
  upstream-community-operators/spinnaker-operator/1.20.3/spinnaker-operator.v1.20.3.clusterserviceversion.yaml
  upstream-community-operators/spinnaker-operator/1.20.3/spinnakeroperators.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/spinnaker-operator/spinnaker-operator.package.yaml
Labels: kubernetes-operator

#1841 Add Camel K 1.0.0
  upstream-community-operators/camel-k/1.0.0/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0/camel-k.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.0.0/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.0.0/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator

#1849 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.19.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.19.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.19.0/kiali.v1.19.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator

#1850 [kiali] [community] update kiali
  community-operators/kiali/1.19.0/kiali.crd.yaml
  community-operators/kiali/1.19.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.19.0/kiali.v1.19.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: openshift-operator

#1851 Jenkins Operator 0.4.1-rc1
  community-operators/jenkins-operator/0.4.1-rc1/jenkins-operator.v0.4.1-rc1.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc1/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/jenkins-operator.package.yaml
Labels: openshift-operator

#1853 Group Sync Operator v0.0.2
  community-operators/group-sync-operator/0.0.2/group-sync-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.2/redhatcop.redhat.io_groupsyncs_crd.yaml
  community-operators/group-sync-operator/group-sync-operator.package.yaml
Labels: openshift-operator

#1846 Add AWS EFS Operator to community-operators
  community-operators/aws-efs-operator/0.0.1/aws-efs-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/aws-efs-operator/0.0.1/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  community-operators/aws-efs-operator/aws-efs-operator.package.yaml
Labels: openshift-operator

#1847 Update eclipse-che operator for openshift to release 7.14.2
  community-operators/eclipse-che/7.14.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.14.2/eclipse-che.v7.14.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1848 Update eclipse-che operator for kubernetes to release 7.14.2
  upstream-community-operators/eclipse-che/7.14.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.14.2/eclipse-che.v7.14.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1858 Add HPE CSI Operator v1.2.0
  upstream-community-operators/hpe-csi-driver-operator/1.2.0/hpe-csi-operator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-driver-operator/1.2.0/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-driver-operator/hpe-csi-driver-operator.package.yaml
Labels: kubernetes-operator

#1857 Include Pystol's operator in the operator hub
  upstream-community-operators/pystol/0.8.17/pystol.clusterrolebinding.yaml
  upstream-community-operators/pystol/0.8.17/pystol.crd.yaml
  upstream-community-operators/pystol/0.8.17/pystol.service.yaml
  upstream-community-operators/pystol/0.8.17/pystol.v0.8.17.clusterserviceversion.yaml
  upstream-community-operators/pystol/pystol.package.yaml
Labels: kubernetes-operator

#1856 Include Pystol's operator in the operator hub
  community-operators/pystol/0.8.17/pystol.clusterrolebinding.yaml
  community-operators/pystol/0.8.17/pystol.crd.yaml
  community-operators/pystol/0.8.17/pystol.service.yaml
  community-operators/pystol/0.8.17/pystol.v0.8.17.clusterserviceversion.yaml
  community-operators/pystol/pystol.package.yaml
Labels: openshift-operator

#1855 Upgrade snyk-operator to version 1.30.0
  community-operators/snyk-operator/1.30.0/snyk-operator.v1.30.0.clusterserviceversion.yaml
  community-operators/snyk-operator/1.30.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: openshift-operator

#1862 New Operator based on Hazelcast Jet 4.1.1
  upstream-community-operators/hazelcast-jet-operator/0.1.1/hazelcast-jet-operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-operator/0.1.1/hazelcastjets.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: kubernetes-operator

#1864 Add 0.0.2 kubernetes-imagepuller-operator
  community-operators/kubernetes-imagepuller-operator/0.0.2/che.eclipse.org_kubernetesimagepullers_crd.yaml
  community-operators/kubernetes-imagepuller-operator/0.0.2/kubernetes-imagepuller-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: openshift-operator

#1863 New Operator based on Hazelcast Jet Enterprise 4.1.1
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.1.1/hazelcast-jet-enterprise-operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.1.1/hazelcastjetenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/hazelcast-jet-enterprise-operator.package.yaml
Labels: kubernetes-operator

#1859 AWS EFS Operator: Minor metadata fixups
  community-operators/aws-efs-operator/0.0.2/aws-efs-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/aws-efs-operator/0.0.2/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  community-operators/aws-efs-operator/aws-efs-operator.package.yaml
Labels: openshift-operator

#1868 Add missing ports section to the Strimzi operator in community operators
  community-operators/strimzi-kafka-operator/0.18.0/strimzi-cluster-operator.v0.18.0.clusterserviceversion.yaml
Labels: openshift-operator

#1867 Add missing ports section to the Strimzi operator in Upstream community operators
  upstream-community-operators/strimzi-kafka-operator/0.18.0/strimzi-cluster-operator.v0.18.0.clusterserviceversion.yaml
Labels: kubernetes-operator

#1873 kubeturbo operator 7.22
  community-operators/kubeturbo/7.22.0/kubeturbo-operator.v7.22.0.clusterserviceversion.yaml
  community-operators/kubeturbo/7.22.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  community-operators/kubeturbo/kubeturbo.package.yaml
Labels: openshift-operator

#1874 kubeturbo operator 7.22 upstream
  upstream-community-operators/kubeturbo/7.22.0/kubeturbo-operator.v7.22.0.clusterserviceversion.yaml
  upstream-community-operators/kubeturbo/7.22.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kubeturbo/kubeturbo.package.yaml
Labels: kubernetes-operator

#1875 clickhouse-operator v0.10.0
  upstream-community-operators/clickhouse/0.10.0/clickhouse-operator.v0.10.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.10.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.10.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.10.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator

#1876 [KOGITO-1946] - Release Kogito Operator/CLI 0.11.0
  community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitoapps_crd.yaml
  community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitodataindices_crd.yaml
  community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  community-operators/kogito-operator/0.11.0/kogito-operator.v0.11.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: openshift-operator

#1882 Update Seldon Upstream Operator to 1.2.0
  upstream-community-operators/seldon-operator/1.2.0/machinelearning.seldon.io_seldondeployment_crd.yaml
  upstream-community-operators/seldon-operator/1.2.0/seldon-operator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/seldon-operator/seldon-operator.package.yaml
Labels: kubernetes-operator

#1887 Update Cockroachdb 3.0.7
  upstream-community-operators/cockroachdb/3.0.7/charts_v1alpha1_cockroachdb_crd.yaml
  upstream-community-operators/cockroachdb/3.0.7/cockroachdb.v3.0.7.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/cockroachdb.package.yaml
Labels: kubernetes-operator

#1878 add Eclipse Ditto operator
  upstream-community-operators/ditto-operator/0.1.0/ditto-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/ditto-operator/0.1.0/ditto.yaml
  upstream-community-operators/ditto-operator/ditto-operator.package.yaml
Labels: kubernetes-operator

#1879 Add Eclipse Ditto for OKD
  community-operators/ditto-operator/0.1.0/ditto-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/ditto-operator/0.1.0/ditto.yaml
  community-operators/ditto-operator/ditto-operator.package.yaml
Labels: openshift-operator

#1872 upgrade multicluster subscription operator to V0.1.6
  community-operators/multicluster-operators-subscription/0.1.6/app.k8s.io_applications.yaml
  community-operators/multicluster-operators-subscription/0.1.6/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.6/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.6/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.6/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.6/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.6/multicluster-operators-subscription.v0.1.6.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#1883 Update Seldon Community Operator to 1.2.0
  community-operators/seldon-operator/1.2.0/machinelearning.seldon.io_seldondeployment_crd.yaml
  community-operators/seldon-operator/1.2.0/seldon-operator.v1.2.0.clusterserviceversion.yaml
  community-operators/seldon-operator/seldon-operator.package.yaml
Labels: openshift-operator

#1880 Add OLM manifests for Dynatrace OneAgent Operator v0.8.0
  upstream-community-operators/oneagent/0.8.0/dynatrace-monitoring.v0.8.0.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.8.0/dynatrace.com_oneagentapms_crd.yaml
  upstream-community-operators/oneagent/0.8.0/dynatrace.com_oneagents_crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator

#1865 Minor version update of Couchbase Autonomous Operator 2.0.0 -> 2.0.1
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbase-v2.0.1.clusterserviceversion.yaml
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbasebackuprestores.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbasebackups.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbasebuckets.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbaseclusters.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbasegroups.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbasememcachedbuckets.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbasereplications.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbaserolebindings.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/2.0.1/couchbaseusers.couchbase.com.crd.yaml
  upstream-community-operators/couchbase-enterprise/couchbase.package.yaml
Labels: kubernetes-operator

#1889 add OpenShift Hive operator 1.0.5
  community-operators/openshift-hive/1.0.5/hive-operator.v1.0.5.clusterserviceversion.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_checkpoints.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterdeployments.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterimagesets.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterprovisions.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterrelocates.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterstates.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_dnszones.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_hiveconfigs.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_machinepools.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_selectorsyncsets.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_syncidentityproviders.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_syncsetinstances.yaml
  community-operators/openshift-hive/1.0.5/hive.openshift.io_syncsets.yaml
  community-operators/openshift-hive/hive.package.yaml
Labels: openshift-operator

#1890 Add JenkinsImage CRD to Jenkins operator 0.4.1 rc1
  community-operators/jenkins-operator/0.4.1-rc1/jenkins_v1alpha2_jenkinsimage_crd.yaml
Labels: openshift-operator

#1881 Add Zadara operator v0.2.3
  upstream-community-operators/zoperator/0.2.4/zadara.com_appdefinitions_crd.yaml
  upstream-community-operators/zoperator/0.2.4/zadara.com_applicationclones_crd.yaml
  upstream-community-operators/zoperator/0.2.4/zadara.com_applicationsnapshots_crd.yaml
  upstream-community-operators/zoperator/0.2.4/zadara.com_cloneconfigurations_crd.yaml
  upstream-community-operators/zoperator/0.2.4/zadara.com_invokers_crd.yaml
  upstream-community-operators/zoperator/0.2.4/zadara.com_snapshotconfigurations_crd.yaml
  upstream-community-operators/zoperator/0.2.4/zadara.com_snapshotpolicies_crd.yaml
  upstream-community-operators/zoperator/0.2.4/zadara.com_vpsas_crd.yaml
  upstream-community-operators/zoperator/0.2.4/zoperator.v0.2.4.clusterserviceversion.yaml
  upstream-community-operators/zoperator/zoperator.package.yaml
Labels: kubernetes-operator

#1834 Update the cost-mgmt-operator from 0.0.1 to 0.0.2
  community-operators/cost-mgmt-operator/0.0.2/cost-mgmt-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/cost-mgmt-operator/0.0.2/cost_mgmt_crd.yaml
  community-operators/cost-mgmt-operator/0.0.2/cost_mgmt_data_crd.yaml
  community-operators/cost-mgmt-operator/cost-mgmt-operator.package.yaml
Labels: openshift-operator

#1888 add OpenShift Hive operator 1.0.5 for upstream
  upstream-community-operators/openshift-hive/1.0.5/hive-operator.v1.0.5.clusterserviceversion.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_dnszones.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_machinepools.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_syncsetinstances.yaml
  upstream-community-operators/openshift-hive/1.0.5/hive.openshift.io_syncsets.yaml
  upstream-community-operators/openshift-hive/hive.package.yaml
Labels: kubernetes-operator

#1869 update codeready-toolchain-operator to 0.1.3
  community-operators/codeready-toolchain-operator/0.1.3/codeready-toolchain-operator.clusterserviceversion.yaml
  community-operators/codeready-toolchain-operator/0.1.3/toolchain_v1alpha1_cheinstallation_crd.yaml
  community-operators/codeready-toolchain-operator/0.1.3/toolchain_v1alpha1_tektoninstallation_crd.yaml
  community-operators/codeready-toolchain-operator/codeready-toolchain-operator.package.yaml
Labels: openshift-operator

#1891 rebase to cockroachdb 3.0.7 chart on OpenShift
  community-operators/cockroachdb/3.0.7/charts_v1alpha1_cockroachdb_crd.yaml
  community-operators/cockroachdb/3.0.7/cockroachdb.v3.0.7.clusterserviceversion.yaml
  community-operators/cockroachdb/cockroachdb.package.yaml
Labels: openshift-operator

#1893 add 2.1.11 back to graph and stable
  upstream-community-operators/cockroachdb/cockroachdb.package.yaml
Labels: kubernetes-operator

#1894 add 2.1.11 back to stable
  community-operators/cockroachdb/cockroachdb.package.yaml
Labels: openshift-operator

#1884 Update Jaeger upstream-community-operators to v1.18.1
  upstream-community-operators/jaeger/1.18.1/jaeger.v1.18.1.clusterserviceversion.yaml
  upstream-community-operators/jaeger/1.18.1/jaegertracing.io_jaegers_crd.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
Labels: kubernetes-operator

#1885 Update Jaeger community-operators to v1.18.1
  community-operators/jaeger/1.18.1/jaeger.v1.18.1.clusterserviceversion.yaml
  community-operators/jaeger/1.18.1/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: openshift-operator

#1892 release Operator for Apache CouchDB 1.0.12
  upstream-community-operators/couchdb-operator/1.0.12/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.12/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.12/couchdb-operator.v1.0.12.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.0.12/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.12/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.12/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.12/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.12/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/couchdb-operator.package.yaml
Labels: kubernetes-operator

#1895 Releasing Kogito Operator for Kubernetes
  upstream-community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitoapps_crd.yaml
  upstream-community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitodataindices_crd.yaml
  upstream-community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitoinfras_crd.yaml
  upstream-community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  upstream-community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  upstream-community-operators/kogito-operator/0.11.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  upstream-community-operators/kogito-operator/0.11.0/kogito-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/kogito-operator.package.yaml
Labels: kubernetes-operator

#1896 update multicluster subscription operator to V0.1.7
  community-operators/multicluster-operators-subscription/0.1.7/app.k8s.io_applications.yaml
  community-operators/multicluster-operators-subscription/0.1.7/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.7/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.7/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.7/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.7/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.7/multicluster-operators-subscription.v0.1.7.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#1897 IBM Cloud Operator update to v0.1.10 - community
  community-operators/ibmcloud-operator/0.1.10/ibmcloud_operator.v0.1.10.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/0.1.10/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/0.1.10/ibmcloud_operator_v1alpha1_service.crd.yaml
  community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: openshift-operator

#1898 IBM Cloud Operator update to v0.1.10 - upstream
  upstream-community-operators/ibmcloud-operator/0.1.10/ibmcloud_operator.v0.1.10.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/0.1.10/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.10/ibmcloud_operator_v1alpha1_service.crd.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: kubernetes-operator

#1901 Update StorageOS Operator to version v2.1.0
  upstream-community-operators/storageos/2.1.0/storageos.v2.1.0.clusterserviceversion.yaml
  upstream-community-operators/storageos/2.1.0/storageoscluster.crd.yaml
  upstream-community-operators/storageos/2.1.0/storageosjob.crd.yaml
  upstream-community-operators/storageos/2.1.0/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/2.1.0/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: kubernetes-operator

#1902 Infinispan manifests for 2.0.0 release
  upstream-community-operators/infinispan/2.0.0/infinispan-operator.v2.0.0.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.0.0/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.0.0/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#1903 Infinispan manifests for 2.0.0 release
  community-operators/infinispan/2.0.0/infinispan-operator.v2.0.0.clusterserviceversion.yaml
  community-operators/infinispan/2.0.0/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.0.0/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: openshift-operator

#1904 update mulsticluster subscription operator to V0.1.8
  community-operators/multicluster-operators-subscription/0.1.8/app.k8s.io_applications.yaml
  community-operators/multicluster-operators-subscription/0.1.8/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.8/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.8/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.8/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.8/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.1.8/multicluster-operators-subscription.v0.1.8.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: openshift-operator

#1905 feat(community-operators): add new starter kit operator
  community-operators/starter-kit-operator/0.1.0/devx.ibm.com_starterkits_crd.yaml
  community-operators/starter-kit-operator/0.1.0/starter-kit-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/starter-kit-operator/starter-kit-operator.package.yaml
Labels: openshift-operator

#1907 Update eclipse-che operator for kubernetes to release 7.15.0
  upstream-community-operators/eclipse-che/7.15.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.15.0/eclipse-che.v7.15.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#1909 Update Ember CSI upstream-community-operator to 0.9.1
  upstream-community-operators/ember-csi-operator/0.9.1/ember-csi-operator.crd.yaml
  upstream-community-operators/ember-csi-operator/0.9.1/ember-csi-operator.v0.9.1.clusterserviceversion.yaml
  upstream-community-operators/ember-csi-operator/ember-csi-operator.package.yaml
Labels: kubernetes-operator

#1877 Release MongoDB Enterprise Kubernetes Operator 1.5.4
  upstream-community-operators/mongodb-enterprise/1.5.4/mongodb-enterprise.v1.5.4.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.5.4/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.5.4/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.5.4/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/mongodb-enterprise.package.yaml
Labels: kubernetes-operator

#1906 Update eclipse-che operator for openshift to release 7.15.0
  community-operators/eclipse-che/7.15.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.15.0/eclipse-che.v7.15.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: openshift-operator

#1908 Update Ember CSI community-operator to 0.9.1
  community-operators/ember-csi-operator/0.9.1/ember-csi-operator.crd.yaml
  community-operators/ember-csi-operator/0.9.1/ember-csi-operator.v0.9.1.clusterserviceversion.yaml
  community-operators/ember-csi-operator/ember-csi-operator.package.yaml
Labels: openshift-operator

#1900 remove triggermesh operator
  community-operators/triggermesh/0.0.1/triggermesh.v0.0.1.clusterserviceversion.yaml
  community-operators/triggermesh/0.0.1/triggermeshes.app.triggermesh.io.crd.yaml
  community-operators/triggermesh/triggermesh.package.yaml
Labels: need-info, openshift-operator

#1854 Add Build v2 operator for installation on OpenShift
  community-operators/kubernetes-build-api/0.0.6/build.dev_buildruns_crd.yaml
  community-operators/kubernetes-build-api/0.0.6/build.dev_builds_crd.yaml
  community-operators/kubernetes-build-api/0.0.6/build.dev_buildstrategies_crd.yaml
  community-operators/kubernetes-build-api/0.0.6/build.dev_clusterbuildstrategies_crd.yaml
  community-operators/kubernetes-build-api/0.0.6/buildv2-operator.clusterserviceversion.yaml
  community-operators/kubernetes-build-api/buildv2-operator.package.yaml
Labels: openshift-operator

#1912 Update IBM Cloud Operator to v0.1.11 - upstream
  upstream-community-operators/ibmcloud-operator/0.1.11/ibmcloud_operator.v0.1.11.clusterserviceversion.yaml
  upstream-community-operators/ibmcloud-operator/0.1.11/ibmcloud_operator_v1alpha1_binding.crd.yaml
  upstream-community-operators/ibmcloud-operator/0.1.11/ibmcloud_operator_v1alpha1_service.crd.yaml
  upstream-community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: kubernetes-operator

#1899 Updated Zadara Operator (zOperator) to v0.2.5
  upstream-community-operators/zoperator/0.2.4/zoperator.v0.2.4.clusterserviceversion.yaml
  upstream-community-operators/zoperator/0.2.5/zadara.com_appdefinitions_crd.yaml
  upstream-community-operators/zoperator/0.2.5/zadara.com_applicationclones_crd.yaml
  upstream-community-operators/zoperator/0.2.5/zadara.com_applicationsnapshots_crd.yaml
  upstream-community-operators/zoperator/0.2.5/zadara.com_cloneconfigurations_crd.yaml
  upstream-community-operators/zoperator/0.2.5/zadara.com_invokers_crd.yaml
  upstream-community-operators/zoperator/0.2.5/zadara.com_snapshotconfigurations_crd.yaml
  upstream-community-operators/zoperator/0.2.5/zadara.com_snapshotpolicies_crd.yaml
  upstream-community-operators/zoperator/0.2.5/zadara.com_vpsas_crd.yaml
  upstream-community-operators/zoperator/0.2.5/zoperator.v0.2.5.clusterserviceversion.yaml
  upstream-community-operators/zoperator/zoperator.package.yaml
Labels: kubernetes-operator

#1910 Added release of group sync operator v0.0.3
  community-operators/group-sync-operator/0.0.3/group-sync-operator.v0.0.3.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.3/redhatcop.redhat.io_groupsyncs_crd.yaml
  community-operators/group-sync-operator/group-sync-operator.package.yaml
Labels: openshift-operator

#1911 Update IBM Cloud Operator to v0.1.11 - community
  community-operators/ibmcloud-operator/0.1.11/ibmcloud_operator.v0.1.11.clusterserviceversion.yaml
  community-operators/ibmcloud-operator/0.1.11/ibmcloud_operator_v1alpha1_binding.crd.yaml
  community-operators/ibmcloud-operator/0.1.11/ibmcloud_operator_v1alpha1_service.crd.yaml
  community-operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: openshift-operator

#1917 Removing csi-operator [upstream-community-operators]
  upstream-community-operators/csi-operator/1.0.0/csi-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/csi-operator/1.0.0/csiisilons.storage.dell.com.crd.yaml
  upstream-community-operators/csi-operator/1.0.0/csipowermaxes.storage.dell.com.crd.yaml
  upstream-community-operators/csi-operator/1.0.0/csiunities.storage.dell.com.crd.yaml
  upstream-community-operators/csi-operator/1.0.0/csivxflexoses.storage.dell.com.crd.yaml
  upstream-community-operators/csi-operator/1.0.0/volumesnapshotclasses.snapshot.storage.k8s.io.crd.yaml
  upstream-community-operators/csi-operator/csi-operator.package.yaml
Labels: kubernetes-operator

#1919 Removing csi-operator [community-operators]
  community-operators/csi-operator/1.0.0/csi-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/csi-operator/1.0.0/csiisilons.storage.dell.com.crd.yaml
  community-operators/csi-operator/1.0.0/csipowermaxes.storage.dell.com.crd.yaml
  community-operators/csi-operator/1.0.0/csiunities.storage.dell.com.crd.yaml
  community-operators/csi-operator/1.0.0/csivxflexoses.storage.dell.com.crd.yaml
  community-operators/csi-operator/1.0.0/volumesnapshotclasses.snapshot.storage.k8s.io.crd.yaml
  community-operators/csi-operator/csi-operator.package.yaml
Labels: openshift-operator

#1920 release Operator for Apache CouchDB 1.0.13
  upstream-community-operators/couchdb-operator/1.0.13/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.13/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.13/couchdb-operator.v1.0.13.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.0.13/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.13/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.13/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.13/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.0.13/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/couchdb-operator.package.yaml
Labels: kubernetes-operator

#1921 Fix broken link in build operator docs
  community-operators/kubernetes-build-api/0.0.6/buildv2-operator.clusterserviceversion.yaml
Labels: openshift-operator

#1924 Akka Cluster Operator v1.0.0, community
  community-operators/akka-cluster-operator/1.0.0/akka-cluster-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/akka-cluster-operator/1.0.0/app_v1alpha1_akkacluster_crd.yaml
  community-operators/akka-cluster-operator/akka-cluster-operator.package.yaml
Labels: openshift-operator
