Repository operator-framework/community-operators, pull requests merged in 2021-04, with the labels that each got.

#3463 community-operators [R] gitlab-runner-operator (13.10.0)
  community-operators/gitlab-runner-operator/13.10.0/bundle.Dockerfile
  community-operators/gitlab-runner-operator/13.10.0/manifests/apps.gitlab.com_runners.yaml
  community-operators/gitlab-runner-operator/13.10.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  community-operators/gitlab-runner-operator/13.10.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  community-operators/gitlab-runner-operator/13.10.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  community-operators/gitlab-runner-operator/13.10.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/gitlab-runner-operator/13.10.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  community-operators/gitlab-runner-operator/13.10.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  community-operators/gitlab-runner-operator/13.10.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  community-operators/gitlab-runner-operator/13.10.0/metadata/annotations.yaml
  community-operators/gitlab-runner-operator/13.10.0/tests/scorecard/config.yaml
  community-operators/gitlab-runner-operator/ci.yaml
Labels: new-operator, ok-to-test, openshift-operator

#3466 Support/mvalarh
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_release.yaml
  .github/workflows/operator_test.yaml
  docs/README.md
  docs/contributing-via-pr.md
  docs/operator-ci-yaml.md
  docs/operator-fast-deploy.md
  docs/operator-version-update.md
  docs/operator-versioning.md
  docs/troubleshooting.md
  mkdocs.yml
  scripts/ci/actions-env
Labels: allow/ci-changes, needs-ok-to-test

#3467 Removing updategraph feature tmp
  scripts/ci/actions-env
Labels: allow/ci-changes

#3468 Improved yq check
  scripts/ci/actions-env
Labels: allow/ci-changes

#3469 We don't stop on missing reviewers yet
  scripts/ci/actions-env
Labels: allow/ci-changes

#3470 Improving updategraph handling
  scripts/ci/actions-env
Labels: allow/ci-changes

#3472 Fix check for reviewers
  scripts/ci/actions-env
Labels: allow/ci-changes

#3473 Improved summary
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3475 Added pr dep to summary
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3477 Added checkout to summary
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes, needs-ok-to-test

#3478 Added addReviewers
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3479 Moved reviewers to target
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3480 Remove duplicate variable
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3481 Added community operators
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3482 Support/mvalarh
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3483 Added source dir
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3484 Reviewver test
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3488 Support/mvalarh
  docs/operator-ci-yaml.md
  scripts/ci/actions-env
Labels: allow/ci-changes

#3489 remove blaqkube/mysql operator
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql-operator.clusterserviceversion.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_backups.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_databases.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_grants.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_instances.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_stores.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_users.yaml
  upstream-community-operators/mysql-operator/0.4.0/metadata/annotations.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql-operator.clusterserviceversion.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_backups.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_databases.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_grants.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_instances.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_stores.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_users.yaml
  upstream-community-operators/mysql-operator/0.5.0/metadata/annotations.yaml
  upstream-community-operators/mysql-operator/ci.yaml
Labels: kubernetes-operator

#3486 community-operators koku-metrics-operator (0.9.6)
  community-operators/koku-metrics-operator/0.9.6/Dockerfile
  community-operators/koku-metrics-operator/0.9.6/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  community-operators/koku-metrics-operator/0.9.6/manifests/koku-metrics-operator.clusterserviceversion.yaml
  community-operators/koku-metrics-operator/0.9.6/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3495 upstream-community-operators cockroachdb (5.0.4)
  upstream-community-operators/cockroachdb/ci.yaml
Labels: kubernetes-operator

#3494 Improved doc
  docs/operator-ci-yaml.md
Labels: allow/ci-changes

#3497 upstream-community-operators sap-btp-operator (0.1.5)
  upstream-community-operators/sap-btp-operator/0.1.5/bundle.Dockerfile
  upstream-community-operators/sap-btp-operator/0.1.5/manifests/sap-btp-operator.v0.1.5.clusterserviceversion.yaml
  upstream-community-operators/sap-btp-operator/0.1.5/manifests/sap_btp_operator_v1alpha1_servicebinding.crd.yaml
  upstream-community-operators/sap-btp-operator/0.1.5/manifests/sap_btp_operator_v1alpha1_serviceinstances.crd.yaml
  upstream-community-operators/sap-btp-operator/0.1.5/metadata/annotations.yaml
Labels: kubernetes-operator

#3476 community-operators mongodb-atlas-kubernetes (0.5.0)
  community-operators/mongodb-atlas-kubernetes/0.5.0/bundle.Dockerfile
  community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/atlas.mongodb.com_atlasclusters.yaml
  community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/mongodb-atlas-operator_v1_serviceaccount.yaml
  community-operators/mongodb-atlas-kubernetes/0.5.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3500 community-operators mongodb-atlas-kubernetes (0.5.0)
  community-operators/mongodb-atlas-kubernetes/ci.yaml
Labels: needs-ok-to-test, ok-to-test, openshift-operator

#3502 upstream-community-operators mongodb-atlas-kubernetes (0.5.0)
  upstream-community-operators/mongodb-atlas-kubernetes/0.5.0/bundle.Dockerfile
  upstream-community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/atlas.mongodb.com_atlasclusters.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.5.0/manifests/mongodb-atlas-operator_v1_serviceaccount.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.5.0/metadata/annotations.yaml
Labels: kubernetes-operator

#3503 Reviewers from target
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3505 upstream-community-operators hazelcast-enterprise-operator (0.3.6)
  upstream-community-operators/hazelcast-enterprise-operator/0.3.6/hazelcast-enterprise-operator.v0.3.6.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise-operator/0.3.6/hazelcastenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise-operator/hazelcast-enterprise-operator.package.yaml
Labels: kubernetes-operator

#3506 upstream-community-operators hazelcast-operator (0.3.6)
  upstream-community-operators/hazelcast-operator/0.3.6/hazelcast-operator.v0.3.6.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-operator/0.3.6/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: kubernetes-operator

#3508 upstream-community-operators sap-btp-operator (0.1.6)
  upstream-community-operators/sap-btp-operator/0.1.6/bundle.Dockerfile
  upstream-community-operators/sap-btp-operator/0.1.6/manifests/sap-btp-operator.v0.1.6.clusterserviceversion.yaml
  upstream-community-operators/sap-btp-operator/0.1.6/manifests/sap_btp_operator_v1alpha1_servicebinding.crd.yaml
  upstream-community-operators/sap-btp-operator/0.1.6/manifests/sap_btp_operator_v1alpha1_serviceinstances.crd.yaml
  upstream-community-operators/sap-btp-operator/0.1.6/metadata/annotations.yaml
Labels: kubernetes-operator

#3509 upstream-community-operators service-binding-operator (0.7.0)
  upstream-community-operators/service-binding-operator/0.7.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  upstream-community-operators/service-binding-operator/0.7.0/manifests/service-binding-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/service-binding-operator/0.7.0/manifests/service-binding-operator-servicebinding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/service-binding-operator/0.7.0/manifests/service-binding-operator-servicebinding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/service-binding-operator/0.7.0/manifests/service-binding-operator.clusterserviceversion.yaml
  upstream-community-operators/service-binding-operator/0.7.0/metadata/annotations.yaml
Labels: kubernetes-operator

#3510 Improved ci.yaml changes handling
  .github/workflows/operator_test.yaml
  docs/operator-ci-yaml.md
  scripts/ci/actions-env
Labels: allow/ci-changes

#3512 Ci.yaml parsing fix
  scripts/ci/actions-env
Labels: allow/ci-changes

#3513 Improved title
  .github/workflows/operator_ci.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3511 community-operators [CI] mongodb-atlas-kubernetes (0.5.0)
  community-operators/mongodb-atlas-kubernetes/ci.yaml
Labels: ok-to-test, openshift-operator

#3514 [scripts] nit: w/reviever/reviewer/
  scripts/ci/actions-env
Labels: allow/ci-changes

#3487 upstream-community-operators [N] elastic-phenix-operator (0.1.0)
  upstream-community-operators/elastic-phenix-operator/0.1.0/elastic-phenix-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/elastic-phenix-operator/0.1.0/elasticindices.elastic.carrefour.com.crd.yaml
  upstream-community-operators/elastic-phenix-operator/0.1.0/elastictemplates.elastic.carrefour.com.crd.yaml
  upstream-community-operators/elastic-phenix-operator/ci.yaml
  upstream-community-operators/elastic-phenix-operator/elastic-phenix-operator.package.yaml
Labels: kubernetes-operator, new-operator

#3518 upstream-community-operators [N] [CI] cloud-native-postgresql (1.1.0)
  upstream-community-operators/cloud-native-postgresql/ci.yaml
Labels: kubernetes-operator, new-operator

#3507 community-operators hazelcast-operator (0.3.6)
  community-operators/hazelcast-operator/0.3.6/hazelcast-operator.v0.3.6.clusterserviceversion.yaml
  community-operators/hazelcast-operator/0.3.6/hazelcasts.hazelcast.com.crd.yaml
  community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3485 community-operators keepalived-operator (1.3.0)
  community-operators/keepalived-operator/1.3.0/Dockerfile
  community-operators/keepalived-operator/1.3.0/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  community-operators/keepalived-operator/1.3.0/manifests/keepalived-operator.clusterserviceversion.yaml
  community-operators/keepalived-operator/1.3.0/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  community-operators/keepalived-operator/1.3.0/metadata/annotations.yaml
  community-operators/keepalived-operator/1.3.0/tests/scorecard/config.yaml
  community-operators/keepalived-operator/ci.yaml
Labels: ok-to-test, openshift-operator

#3519 upstream-community-operators cloud-native-postgresql (1.2.1)
  upstream-community-operators/cloud-native-postgresql/1.2.1/bundle.Dockerfile
  upstream-community-operators/cloud-native-postgresql/1.2.1/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  upstream-community-operators/cloud-native-postgresql/1.2.1/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  upstream-community-operators/cloud-native-postgresql/1.2.1/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  upstream-community-operators/cloud-native-postgresql/1.2.1/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  upstream-community-operators/cloud-native-postgresql/1.2.1/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  upstream-community-operators/cloud-native-postgresql/1.2.1/metadata/annotations.yaml
Labels: kubernetes-operator

#3521 Add reviewers to ci.yaml for nfd-operator
  upstream-community-operators/nfd-operator/ci.yaml
Labels: kubernetes-operator, new-operator

#3531 community-operators [CI] kubeturbo (8.0.0)
  community-operators/kubeturbo/ci.yaml
Labels: ok-to-test, openshift-operator

#3534 upstream-community-operators [CI] t8c (8.0.0)
  upstream-community-operators/t8c/ci.yaml
Labels: kubernetes-operator

#3533 community-operators [CI] t8c (8.0.0)
  community-operators/t8c/ci.yaml
Labels: ok-to-test, openshift-operator

#3532 upstream-community-operators [CI] kubeturbo (8.0.0)
  upstream-community-operators/kubeturbo/ci.yaml
Labels: kubernetes-operator

#3528 upstream-community-operators kubeturbo (8.1.0)
  upstream-community-operators/kubeturbo/8.1.0/kubeturbo-operator.v8.1.0.clusterserviceversion.yaml
  upstream-community-operators/kubeturbo/8.1.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kubeturbo/kubeturbo.package.yaml
Labels: kubernetes-operator

#3523 upstream-community-operators [CI] snyk-operator (1.41.0)
  upstream-community-operators/snyk-operator/ci.yaml
Labels: kubernetes-operator

#3524 community-operators [CI] snyk-operator (1.41.0)
  community-operators/snyk-operator/ci.yaml
Labels: ok-to-test, openshift-operator

#3525 upstream-community-operators [CI] community-kubevirt-hyperconverged (1.4.1)
  upstream-community-operators/community-kubevirt-hyperconverged/ci.yaml
Labels: kubernetes-operator

#3520 community-operators [O] community-kubevirt-hyperconverged (0.0.1 0.0.2 0.0.3 1.0.0 1.1.0 1.4.0 1.4.1)
  community-operators/community-kubevirt-hyperconverged/0.0.1/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/0.0.2/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/0.0.3/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/1.0.0/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/1.1.0/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/1.4.0/manifests/kubevirt-hyperconverged-operator.v1.4.0.clusterserviceversion.yaml
  community-operators/community-kubevirt-hyperconverged/1.4.1/manifests/kubevirt-hyperconverged-operator.v1.4.1.clusterserviceversion.yaml
Labels: allow/operator-recreate, allow/serious-changes-to-existing, ok-to-test, openshift-operator

#3529 community-operators t8c (8.1.0)
  community-operators/t8c/8.1.0/t8c-operator.v8.1.0.clusterserviceversion.yaml
  community-operators/t8c/8.1.0/xls.charts.helm.k8s.io.crd.yaml
  community-operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator

#3535 Rename oc-gate-operator to virt-gateway-operator
  upstream-community-operators/oc-gate-operator/0.0.1/bundle.Dockerfile
  upstream-community-operators/oc-gate-operator/0.0.1/manifests/oc-gate-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/oc-gate-operator/0.0.1/manifests/oc-gate-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/oc-gate-operator/0.0.1/manifests/oc-gate-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/oc-gate-operator/0.0.1/manifests/oc-gate-operator.clusterserviceversion.yaml
  upstream-community-operators/oc-gate-operator/0.0.1/manifests/ocgate.yaacov.com_gatetokens.yaml
  upstream-community-operators/oc-gate-operator/0.0.1/metadata/annotations.yaml
  upstream-community-operators/oc-gate-operator/ci.yaml
Labels: kubernetes-operator

#3490 upstream-community-operators [N] virt-gateway-operator (0.0.1)
  upstream-community-operators/virt-gateway-operator/0.0.1/bundle.Dockerfile
  upstream-community-operators/virt-gateway-operator/0.0.1/manifests/ocgate.yaacov.com_gateservers.yaml
  upstream-community-operators/virt-gateway-operator/0.0.1/manifests/ocgate.yaacov.com_gatetokens.yaml
  upstream-community-operators/virt-gateway-operator/0.0.1/manifests/virt-gateway-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/virt-gateway-operator/0.0.1/manifests/virt-gateway-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/virt-gateway-operator/0.0.1/manifests/virt-gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/virt-gateway-operator/0.0.1/manifests/virt-gateway-operator.clusterserviceversion.yaml
  upstream-community-operators/virt-gateway-operator/0.0.1/metadata/annotations.yaml
  upstream-community-operators/virt-gateway-operator/ci.yaml
Labels: kubernetes-operator, new-operator

#3515 community-operators snyk-operator (1.50.0)
  community-operators/snyk-operator/1.50.0/snyk-operator.v1.50.0.clusterserviceversion.yaml
  community-operators/snyk-operator/1.50.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3516 upstream-community-operators snyk-operator (1.50.0)
  upstream-community-operators/snyk-operator/1.50.0/snyk-operator.v1.50.0.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.50.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: kubernetes-operator

#3530 upstream-community-operators t8c (8.1.0)
  upstream-community-operators/t8c/8.1.0/t8c-operator.v8.1.0.clusterserviceversion.yaml
  upstream-community-operators/t8c/8.1.0/xls.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/t8c/t8c.package.yaml
Labels: kubernetes-operator

#3536 Support/mvalarh
  .github/workflows/operator_ci.yaml
  docs/operator-ci-yaml.md
  scripts/ci/actions-env
Labels: allow/ci-changes, needs-ok-to-test

#3537 Fixed path to opertator
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3538 Set github action values before ci.yaml error
  .github/workflows/operator_ci.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3539 Imrpoved msg when ci.yaml is wrong
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3540 Cosmetics in comments
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3449 community-operators [N] varnish-operator (0.27.2)
  community-operators/varnish-operator/0.27.2/Dockerfile
  community-operators/varnish-operator/0.27.2/manifests/caching.ibm.com_varnishclusters.yaml
  community-operators/varnish-operator/0.27.2/manifests/varnish-operator.clusterserviceversion.yaml
  community-operators/varnish-operator/0.27.2/metadata/annotations.yaml
  community-operators/varnish-operator/ci.yaml
Labels: new-operator, ok-to-test, openshift-operator

#3541 test and release v4.8
  .github/workflows/operator_release.yaml
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3526 upstream-community-operators [O] community-kubevirt-hyperconverged (0.0.1 0.0.2 0.0.3 1.0.0 1.1.0 1.4.0 1.4.1)
  upstream-community-operators/community-kubevirt-hyperconverged/0.0.1/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/0.0.2/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/0.0.3/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.0.0/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.1.0/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.4.0/manifests/kubevirt-hyperconverged-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.4.1/manifests/kubevirt-hyperconverged-operator.v1.4.1.clusterserviceversion.yaml
Labels: allow/operator-recreate, allow/serious-changes-to-existing, kubernetes-operator

#3527 community-operators kubeturbo (8.1.0)
  community-operators/kubeturbo/8.1.0/kubeturbo-operator.v8.1.0.clusterserviceversion.yaml
  community-operators/kubeturbo/8.1.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  community-operators/kubeturbo/kubeturbo.package.yaml
Labels: ok-to-test, openshift-operator

#3544 upstream-community-operators [N] alvearie-imaging-ingestion (0.0.1)
  upstream-community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion-operator-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion-operator.clusterserviceversion.yaml
  upstream-community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dicomeventdriveningestions.yaml
  upstream-community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dicominstancebindings.yaml
  upstream-community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dicomstudybindings.yaml
  upstream-community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dicomwebingestionservices.yaml
  upstream-community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dimseingestionservices.yaml
  upstream-community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dimseproxies.yaml
  upstream-community-operators/alvearie-imaging-ingestion/alvearie-imaging-ingestion.package.yaml
  upstream-community-operators/alvearie-imaging-ingestion/ci.yaml
Labels: kubernetes-operator, new-operator

#3548 Improved message when missing ci
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3552 community-operators [CI] community-windows-machine-config-operator (2.0.0)
  community-operators/community-windows-machine-config-operator/ci.yaml
Labels: openshift-operator

#3555 upstream-community-operators [CI] eclipse-che (7.28.1)
  upstream-community-operators/eclipse-che/ci.yaml
Labels: kubernetes-operator

#3554 community-operators [CI] eclipse-che (7.28.1)
  community-operators/eclipse-che/ci.yaml
Labels: openshift-operator

#3558 Fixing detection when old versions are removed
  scripts/ci/actions-env
Labels: allow/ci-changes

#3553 Allow wait longer for Openshift
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes, do-not-merge/hold

#3550 upstream-community-operators [N] [CI] dynatrace-operator (0.1.0)
  upstream-community-operators/dynatrace-operator/ci.yaml
Labels: kubernetes-operator, new-operator

#3565 upstream-community-operators [CI] victoriametrics-operator (0.12.2)
  upstream-community-operators/victoriametrics-operator/ci.yaml
Labels: kubernetes-operator

#3566 community-operators [CI] victoriametrics-operator (0.12.2)
  community-operators/victoriametrics-operator/ci.yaml
Labels: openshift-operator

#3559 community-operators [N] alvearie-imaging-ingestion (0.0.1)
  community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion-operator-manager-config_v1_configmap.yaml
  community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion-operator.clusterserviceversion.yaml
  community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dicomeventdriveningestions.yaml
  community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dicominstancebindings.yaml
  community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dicomstudybindings.yaml
  community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dicomwebingestionservices.yaml
  community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dimseingestionservices.yaml
  community-operators/alvearie-imaging-ingestion/0.0.1/imaging-ingestion.alvearie.org_dimseproxies.yaml
  community-operators/alvearie-imaging-ingestion/alvearie-imaging-ingestion.package.yaml
  community-operators/alvearie-imaging-ingestion/ci.yaml
Labels: new-operator, ok-to-test, openshift-operator

#3567 community-operators victoriametrics-operator (0.13.1)
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmagents.yaml
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmalertmanagers.yaml
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmalerts.yaml
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmclusters.yaml
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmnodescrapes.yaml
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmpodscrapes.yaml
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmprobes.yaml
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmrules.yaml
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmservicescrapes.yaml
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmsingles.yaml
  community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  community-operators/victoriametrics-operator/0.13.1/victoriametrics-operator.0.13.1.clusterserviceversion.yaml
  community-operators/victoriametrics-operator/0.13.1/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/victoriametrics-operator/0.13.1/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/victoriametrics-operator/0.13.1/vm-operator-vm-operator_v1_serviceaccount.yaml
  community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3564 upstream-community-operators victoriametrics-operator (0.13.1)
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmagents.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmalertmanagers.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmalerts.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmclusters.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmnodescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmpodscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmprobes.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmrules.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmservicescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmsingles.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/victoriametrics-operator.0.13.1.clusterserviceversion.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/victoriametrics-operator/0.13.1/vm-operator-vm-operator_v1_serviceaccount.yaml
  upstream-community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: kubernetes-operator

#3569 upstream-community-operators [CI] knative-operator (0.21.0)
  upstream-community-operators/knative-operator/ci.yaml
Labels: kubernetes-operator

#3572 community-operators [CI] koku-metrics-operator (0.9.6)
  community-operators/koku-metrics-operator/ci.yaml
Labels: openshift-operator

#3571 upstream-community-operators [CI] service-binding-operator (0.7.0)
  upstream-community-operators/service-binding-operator/ci.yaml
Labels: kubernetes-operator

#3547 community-operators community-windows-machine-config-operator (2.0.1)
  community-operators/community-windows-machine-config-operator/2.0.1/Dockerfile
  community-operators/community-windows-machine-config-operator/2.0.1/manifests/community-windows-machine-config-operator.2.0.1.clusterserviceversion.yaml
  community-operators/community-windows-machine-config-operator/2.0.1/manifests/prometheusRule.yaml
  community-operators/community-windows-machine-config-operator/2.0.1/manifests/service-monitor.yaml
  community-operators/community-windows-machine-config-operator/2.0.1/manifests/service.yaml
  community-operators/community-windows-machine-config-operator/2.0.1/manifests/windows-exporter-role.yaml
  community-operators/community-windows-machine-config-operator/2.0.1/manifests/windows-exporter-role_binding.yaml
  community-operators/community-windows-machine-config-operator/2.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3570 upstream-community-operators service-binding-operator (0.7.1)
  upstream-community-operators/service-binding-operator/0.7.1/manifests/binding.operators.coreos.com_servicebindings.yaml
  upstream-community-operators/service-binding-operator/0.7.1/manifests/service-binding-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/service-binding-operator/0.7.1/manifests/service-binding-operator-servicebinding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/service-binding-operator/0.7.1/manifests/service-binding-operator-servicebinding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/service-binding-operator/0.7.1/manifests/service-binding-operator.clusterserviceversion.yaml
  upstream-community-operators/service-binding-operator/0.7.1/metadata/annotations.yaml
Labels: kubernetes-operator

#3574 Not testing on hold only
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3575 Fix typo
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3576 Cvp 1792 sign index i
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3577 amd64 sha
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3578 Revert "amd64 sha"
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3579 Cvp 1792 sign part iii
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3580 ignore errors on sign test action
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3581 single sign
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3582 action replaced - sign
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3584 Cvp 1792 sign part vii
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3586 Removing webhook
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3573 upstream-community-operators intel-device-plugins-operator (0.20.0)
  upstream-community-operators/intel-device-plugins-operator/0.20.0/deviceplugin.intel.com_dsadeviceplugins.yaml
  upstream-community-operators/intel-device-plugins-operator/0.20.0/deviceplugin.intel.com_fpgadeviceplugins.yaml
  upstream-community-operators/intel-device-plugins-operator/0.20.0/deviceplugin.intel.com_gpudeviceplugins.yaml
  upstream-community-operators/intel-device-plugins-operator/0.20.0/deviceplugin.intel.com_qatdeviceplugins.yaml
  upstream-community-operators/intel-device-plugins-operator/0.20.0/deviceplugin.intel.com_sgxdeviceplugins.yaml
  upstream-community-operators/intel-device-plugins-operator/0.20.0/fpga.intel.com_acceleratorfunctions.yaml
  upstream-community-operators/intel-device-plugins-operator/0.20.0/fpga.intel.com_fpgaregions.yaml
  upstream-community-operators/intel-device-plugins-operator/0.20.0/intel-device-plugins-operator.clusterserviceversion.yaml
  upstream-community-operators/intel-device-plugins-operator/ci.yaml
  upstream-community-operators/intel-device-plugins-operator/intel-device-plugins-operator.package.yaml
Labels: kubernetes-operator

#3568 upstream-community-operators knative-operator (0.22.1)
  upstream-community-operators/knative-operator/0.22.1/knative-operator.v0.22.1.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.22.1/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.22.1/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#3588 change webhook action
  .github/workflows/dev_ci.yaml
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3583 community-operators koku-metrics-operator (0.9.7)
  community-operators/koku-metrics-operator/0.9.7/Dockerfile
  community-operators/koku-metrics-operator/0.9.7/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  community-operators/koku-metrics-operator/0.9.7/manifests/koku-metrics-operator.clusterserviceversion.yaml
  community-operators/koku-metrics-operator/0.9.7/metadata/annotations.yaml
Labels: allow/longer-deployment, ok-to-test, openshift-operator

#3593 community-operators update ci.yaml with reviewers for [CI] special-resource-operator (0.0.1)
  community-operators/special-resource-operator/ci.yaml
Labels: new-operator, openshift-operator

#3594 Fixed issue with iib install
  .github/workflows/dev_ci.yaml
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3597 community-operators [CI] kogito-operator (1.4.0)
  community-operators/kogito-operator/ci.yaml
Labels: openshift-operator

#3598 upstream-community-operators [CI] kogito-operator (1.4.0)
  upstream-community-operators/kogito-operator/ci.yaml
Labels: kubernetes-operator

#3590 upstream-community-operators [O] intel-device-plugins-operator (0.20.0)
  upstream-community-operators/intel-device-plugins-operator/0.20.0/intel-device-plugins-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, allow/serious-changes-to-existing, kubernetes-operator

#3606 upstream-community-operators [CI] starboard-operator (0.9.2)
  upstream-community-operators/starboard-operator/ci.yaml
Labels: kubernetes-operator

#3596 upstream-community-operators kogito-operator (1.5.0)
  upstream-community-operators/kogito-operator/1.5.0/Dockerfile
  upstream-community-operators/kogito-operator/1.5.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  upstream-community-operators/kogito-operator/1.5.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  upstream-community-operators/kogito-operator/1.5.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  upstream-community-operators/kogito-operator/1.5.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  upstream-community-operators/kogito-operator/1.5.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/kogito-operator/1.5.0/manifests/kogito-operator.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/1.5.0/metadata/annotations.yaml
  upstream-community-operators/kogito-operator/1.5.0/tests/scorecard/config.yaml
Labels: kubernetes-operator

#3605 community-operators [N] [CI] assisted-service-operator (0.0.1)
  community-operators/assisted-service-operator/ci.yaml
Labels: new-operator, openshift-operator

#3595 community-operators kogito-operator (1.5.0)
  community-operators/kogito-operator/1.5.0/Dockerfile
  community-operators/kogito-operator/1.5.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  community-operators/kogito-operator/1.5.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  community-operators/kogito-operator/1.5.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  community-operators/kogito-operator/1.5.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  community-operators/kogito-operator/1.5.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/kogito-operator/1.5.0/manifests/kogito-operator.clusterserviceversion.yaml
  community-operators/kogito-operator/1.5.0/metadata/annotations.yaml
  community-operators/kogito-operator/1.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3604 upstream-community-operators starboard-operator (0.10.0)
  upstream-community-operators/starboard-operator/0.10.0/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.10.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.10.0/starboard-operator.v0.10.0.clusterserviceversion.yaml
  upstream-community-operators/starboard-operator/0.10.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/starboard-operator.package.yaml
Labels: kubernetes-operator

#3607 Adding back deploy OLM via yaml templates
  docs/testing-operators.md
Labels: lgtm

#3608 Improvments in ci handling
  .github/workflows/operator_ci.yaml
  docs/operator-ci-yaml.md
  scripts/ci/actions-env
Labels: allow/ci-changes

#3592 community-operators [N] special-resource-operator (0.0.1)
  community-operators/special-resource-operator/0.0.1/manifests/special-resource-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/special-resource-operator/0.0.1/manifests/special-resource-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, allow/serious-changes-to-existing, new-operator, ok-to-test, openshift-operator

#3609 Removed clearing or error code
  scripts/ci/actions-env
Labels: allow/ci-changes

#3610 Fixing error code
  .github/workflows/operator_ci.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3600 upstream-community-operators prometheus (0.47.0)
  upstream-community-operators/prometheus/0.47.0/alertmanagerconfigs.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.47.0/alertmanagers.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.47.0/podmonitors.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.47.0/probes.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.47.0/prometheuses.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.47.0/prometheusoperator.0.47.0.clusterserviceversion.yaml
  upstream-community-operators/prometheus/0.47.0/prometheusrules.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.47.0/servicemonitors.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/0.47.0/thanosrulers.monitoring.coreos.com.crd.yaml
  upstream-community-operators/prometheus/prometheus.package.yaml
Labels: kubernetes-operator

#3611 Support/mvalarh
  .github/workflows/operator_ci.yaml
  docs/operator-ci-yaml.md
  mkdocs.yml
Labels: allow/ci-changes

#3545 upstream-community-operators istio-workspace-operator (0.1.0)
  upstream-community-operators/istio-workspace-operator/0.1.0/manifests/istio-workspace-operator.clusterserviceversion.yaml
  upstream-community-operators/istio-workspace-operator/0.1.0/manifests/maistra.io_sessions.yaml
  upstream-community-operators/istio-workspace-operator/0.1.0/metadata/annotations.yaml
  upstream-community-operators/istio-workspace-operator/0.1.0/tests/scorecard/config.yaml
Labels: kubernetes-operator

#3546 community-operators istio-workspace-operator (0.1.0)
  community-operators/istio-workspace-operator/0.1.0/manifests/istio-workspace-operator.clusterserviceversion.yaml
  community-operators/istio-workspace-operator/0.1.0/manifests/maistra.io_sessions.yaml
  community-operators/istio-workspace-operator/0.1.0/metadata/annotations.yaml
  community-operators/istio-workspace-operator/0.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3585 community-operators [N] odoo-operator (0.0.1)
  community-operators/odoo-operator/0.0.1/odoo-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/odoo-operator/0.0.1/odoos.odoo-community.org.crd.yaml
  community-operators/odoo-operator/ci.yaml
  community-operators/odoo-operator/odoo-operator.package.yaml
Labels: new-operator, ok-to-test, openshift-operator

#3612 upstream-community-operators [N] elastic-phenix-operator (0.1.0)
  upstream-community-operators/elastic-phenix-operator/0.1.0/elastic-phenix-operator.v0.1.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, allow/serious-changes-to-existing, kubernetes-operator, new-operator

#3603 community-operators assisted-service-operator (0.0.2)
  community-operators/assisted-service-operator/0.0.2/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.2/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.2/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.2/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.2/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/assisted-service.package.yaml
Labels: new-operator, ok-to-test, openshift-operator

#3613 Added authorized changes
  .github/workflows/operator_ci.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3614 community-operators [O] kiali (1.32.0 1.33.0)
  community-operators/kiali/1.32.0/kiali.crd.yaml
  community-operators/kiali/1.32.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.32.0/kiali.v1.32.0.clusterserviceversion.yaml
  community-operators/kiali/1.33.0/kiali.crd.yaml
  community-operators/kiali/1.33.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.33.0/kiali.v1.33.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: allow/operator-recreate, ok-to-test, openshift-operator

#3615 upstream-community-operators [O] kiali (1.32.0 1.33.0)
  upstream-community-operators/kiali/1.32.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.32.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.32.0/kiali.v1.32.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/1.33.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.33.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.33.0/kiali.v1.33.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: allow/operator-recreate, kubernetes-operator

#3616 community-operators [CI] eclipse-che (7.29.0)
  community-operators/eclipse-che/ci.yaml
Labels: openshift-operator

#3617 upstream-community-operators [CI] eclipse-che (7.29.0)
  upstream-community-operators/eclipse-che/ci.yaml
Labels: kubernetes-operator

#3618 upstream-community-operators hive-operator (1.1.1)
  upstream-community-operators/hive-operator/1.1.1/hive-operator.v1.1.1.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.1/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.1.1/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.1.1/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#3619 community-operators hive-operator (1.1.1)
  community-operators/hive-operator/1.1.1/hive-operator.v1.1.1.clusterserviceversion.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.1.1/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.1.1/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.1.1/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator

#3621 upstream-community-operators [CI] jaeger (1.21.3)
  upstream-community-operators/jaeger/ci.yaml
Labels: kubernetes-operator

#3623 Cvp 1792 sign index
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3622 Rebrand SAP Cloud Service Management to SAP Service Manager (0.1.6)
  upstream-community-operators/sap-btp-operator/0.1.6/manifests/sap-btp-operator.v0.1.6.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3620 community-operators [N] rhoas-operator (0.6.8)
  community-operators/rhoas-operator/0.6.8/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  community-operators/rhoas-operator/0.6.8/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  community-operators/rhoas-operator/0.6.8/manifests/rhoas-operator.clusterserviceversion.yaml
  community-operators/rhoas-operator/0.6.8/manifests/rhoas-operator.kafkaconnections.crd.yaml
  community-operators/rhoas-operator/0.6.8/metadata/annotations.yaml
  community-operators/rhoas-operator/ci.yaml
Labels: new-operator, ok-to-test, openshift-operator

#3625 Fix releasing a latest
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3626 upstream-community-operators grafana-operator (3.10.0)
  upstream-community-operators/grafana-operator/3.10.0/grafana-operator.v3.10.0.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.10.0/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.10.0/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.10.0/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: kubernetes-operator

#3624 community-operators grafana-operator [community]
  community-operators/grafana-operator/3.10.0/grafana-operator.v3.10.0.clusterserviceversion.yaml
  community-operators/grafana-operator/3.10.0/grafanadashboards.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.10.0/grafanadatasources.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.10.0/grafanas.integreatly.org.crd.yaml
  community-operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3628 community-operators [N] [CI] rhoas-operator (0.6.8)
  community-operators/rhoas-operator/ci.yaml
Labels: new-operator, openshift-operator

#3637 Handle matrix failure
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3629 community-operators camel-k (1.4.0)
  community-operators/camel-k/1.4.0/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.0/camel-k.v1.4.0.clusterserviceversion.yaml
  community-operators/camel-k/1.4.0/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.0/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.0/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.0/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.0/kameletbindings.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.0/kamelets.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: ok-to-test, openshift-operator

#3630 upstream-community-operators camel-k (1.4.0)
  upstream-community-operators/camel-k/1.4.0/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.0/camel-k.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.4.0/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.0/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.0/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.0/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.0/kameletbindings.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.0/kamelets.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator

#3631 community-operators namespace-configuration-operator (1.0.4)
  community-operators/namespace-configuration-operator/1.0.4/Dockerfile
  community-operators/namespace-configuration-operator/1.0.4/manifests/namespace-configuration-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/namespace-configuration-operator/1.0.4/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  community-operators/namespace-configuration-operator/1.0.4/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/1.0.4/manifests/redhatcop.redhat.io_groupconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.4/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.4/manifests/redhatcop.redhat.io_userconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.4/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/1.0.4/tests/scorecard/config.yaml
  community-operators/namespace-configuration-operator/ci.yaml
Labels: ok-to-test, openshift-operator

#3632 community-operators keepalived-operator (1.3.1)
  community-operators/keepalived-operator/1.3.1/Dockerfile
  community-operators/keepalived-operator/1.3.1/manifests/keepalived-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/keepalived-operator/1.3.1/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  community-operators/keepalived-operator/1.3.1/manifests/keepalived-operator.clusterserviceversion.yaml
  community-operators/keepalived-operator/1.3.1/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  community-operators/keepalived-operator/1.3.1/metadata/annotations.yaml
  community-operators/keepalived-operator/1.3.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3633 community-operators egressip-ipam-operator (1.0.6)
  community-operators/egressip-ipam-operator/1.0.6/Dockerfile
  community-operators/egressip-ipam-operator/1.0.6/manifests/egressip-ipam-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/egressip-ipam-operator/1.0.6/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  community-operators/egressip-ipam-operator/1.0.6/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/1.0.6/manifests/redhatcop.redhat.io_egressipams.yaml
  community-operators/egressip-ipam-operator/1.0.6/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/1.0.6/tests/scorecard/config.yaml
  community-operators/egressip-ipam-operator/ci.yaml
Labels: ok-to-test, openshift-operator

#3638 Fix values in signature payload
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3634 upstream-community-operators portworx (1.4.5)
  upstream-community-operators/portworx/1.4.5/core_v1_storagecluster_crd.yaml
  upstream-community-operators/portworx/1.4.5/core_v1_storagenode_crd.yaml
  upstream-community-operators/portworx/1.4.5/portworxoperator.v1.4.5.clusterserviceversion.yaml
  upstream-community-operators/portworx/portworx.package.yaml
Labels: kubernetes-operator

#3642 Added workflow
  .github/workflows/operator_ci_index_sha.yaml
Labels: allow/ci-changes

#3643 Cosmetics
  .github/workflows/operator_ci_index_sha.yaml
Labels: allow/ci-changes

#3644 Support/mvalarh
  .github/workflows/operator_ci_index_sha.yaml
Labels: allow/ci-changes

#3645 Added job timeout
  .github/workflows/operator_ci_index_sha.yaml
Labels: allow/ci-changes

#3646 upstream-community-operators starboard-operator (0.10.1)
  upstream-community-operators/starboard-operator/0.10.1/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.10.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.10.1/starboard-operator.v0.10.1.clusterserviceversion.yaml
  upstream-community-operators/starboard-operator/0.10.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/starboard-operator.package.yaml
Labels: kubernetes-operator

#3647 Support/mvalarh
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_release.yaml
  .github/workflows/prepare_test_index.yaml
Labels: allow/ci-changes
