Repository operator-framework/community-operators, pull requests merged in 2021-02, with the labels that each got.

#3060 Update eclipse-che operator for openshift to release 7.25.0
  community-operators/eclipse-che/7.25.0/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.25.0/eclipse-che.v7.25.0.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: ok-to-test, openshift-operator

#3061 Updated Image for v1.21.2
  community-operators/opsmx-spinnaker-operator/1.21.2/opsmx-spinnaker-operator.v1.21.2.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, ok-to-test, openshift-operator

#3059 Update eclipse-che operator for kubernetes to release 7.25.0
  upstream-community-operators/eclipse-che/7.25.0/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.25.0/eclipse-che.v7.25.0.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#3083 Fix op overwrite
  .github/workflows/operator_release.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3065 add KEDA 2.1.0 upstream operator
  upstream-community-operators/keda/2.1.0/manifests/keda-olm-operator_v1_serviceaccount.yaml
  upstream-community-operators/keda/2.1.0/manifests/keda.sh_clustertriggerauthentications.yaml
  upstream-community-operators/keda/2.1.0/manifests/keda.sh_kedacontrollers.yaml
  upstream-community-operators/keda/2.1.0/manifests/keda.sh_scaledjobs.yaml
  upstream-community-operators/keda/2.1.0/manifests/keda.sh_scaledobjects.yaml
  upstream-community-operators/keda/2.1.0/manifests/keda.sh_triggerauthentications.yaml
  upstream-community-operators/keda/2.1.0/manifests/keda.v2.1.0.clusterserviceversion.yaml
  upstream-community-operators/keda/2.1.0/metadata/annotations.yaml
Labels: kubernetes-operator

#3084 Update eclipse-che operator for kubernetes to release 7.25.1
  upstream-community-operators/eclipse-che/7.25.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.25.1/eclipse-che.v7.25.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator, needs-ok-to-test

#3075 cert-utils-operator new version 1.0.1
  community-operators/cert-utils-operator/1.0.1/Dockerfile
  community-operators/cert-utils-operator/1.0.1/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  community-operators/cert-utils-operator/1.0.1/manifests/cert-utils-operator.clusterserviceversion.yaml
  community-operators/cert-utils-operator/1.0.1/metadata/annotations.yaml
  community-operators/cert-utils-operator/1.0.1/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3064 add KEDA 2.1.0 community operator
  community-operators/keda/2.1.0/manifests/keda-olm-operator_v1_serviceaccount.yaml
  community-operators/keda/2.1.0/manifests/keda.sh_clustertriggerauthentications.yaml
  community-operators/keda/2.1.0/manifests/keda.sh_kedacontrollers.yaml
  community-operators/keda/2.1.0/manifests/keda.sh_scaledjobs.yaml
  community-operators/keda/2.1.0/manifests/keda.sh_scaledobjects.yaml
  community-operators/keda/2.1.0/manifests/keda.sh_triggerauthentications.yaml
  community-operators/keda/2.1.0/manifests/keda.v2.1.0.clusterserviceversion.yaml
  community-operators/keda/2.1.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3085 Update eclipse-che operator for openshift to release 7.25.1
  community-operators/eclipse-che/7.25.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.25.1/eclipse-che.v7.25.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: ok-to-test, openshift-operator

#3068 egressip-ipam-operator new version 1.0.0
  community-operators/egressip-ipam-operator/1.0.0/Dockerfile
  community-operators/egressip-ipam-operator/1.0.0/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  community-operators/egressip-ipam-operator/1.0.0/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/1.0.0/manifests/redhatcop.redhat.io_egressipams.yaml
  community-operators/egressip-ipam-operator/1.0.0/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/1.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3082 Convert wildfly-operator to bundle format
  upstream-community-operators/wildfly/0.1.0/bundle.Dockerfile
  upstream-community-operators/wildfly/0.1.0/manifests/wildfly-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/wildfly/0.1.0/manifests/wildflyservers.wildfly.org.crd.yaml
  upstream-community-operators/wildfly/0.1.0/metadata/annotations.yaml
  upstream-community-operators/wildfly/0.2.0/bundle.Dockerfile
  upstream-community-operators/wildfly/0.2.0/manifests/wildfly-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/wildfly/0.2.0/manifests/wildflyservers.wildfly.org.crd.yaml
  upstream-community-operators/wildfly/0.2.0/metadata/annotations.yaml
  upstream-community-operators/wildfly/0.3.0/bundle.Dockerfile
  upstream-community-operators/wildfly/0.3.0/manifests/wildfly-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/wildfly/0.3.0/manifests/wildflyservers.wildfly.org.crd.yaml
  upstream-community-operators/wildfly/0.3.0/metadata/annotations.yaml
  upstream-community-operators/wildfly/0.4.0/bundle.Dockerfile
  upstream-community-operators/wildfly/0.4.0/manifests/wildfly-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/wildfly/0.4.0/manifests/wildflyservers.wildfly.org.crd.yaml
  upstream-community-operators/wildfly/0.4.0/metadata/annotations.yaml
  upstream-community-operators/wildfly/0.4.1/bundle.Dockerfile
  upstream-community-operators/wildfly/0.4.1/manifests/wildfly-operator.v0.4.1.clusterserviceversion.yaml
  upstream-community-operators/wildfly/0.4.1/manifests/wildflyservers.wildfly.org.crd.yaml
  upstream-community-operators/wildfly/0.4.1/metadata/annotations.yaml
  upstream-community-operators/wildfly/0.5.0/bundle.Dockerfile
  upstream-community-operators/wildfly/0.5.0/manifests/wildfly-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/wildfly/0.5.0/manifests/wildflyservers.wildfly.org.crd.yaml
  upstream-community-operators/wildfly/0.5.0/metadata/annotations.yaml
  upstream-community-operators/wildfly/wildfly.package.yaml
Labels: allow/operator-recreate, kubernetes-operator

#3055 koku-metrics-operator v0.9.2
  community-operators/koku-metrics-operator/0.9.2/Dockerfile
  community-operators/koku-metrics-operator/0.9.2/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  community-operators/koku-metrics-operator/0.9.2/manifests/koku-metrics-operator.clusterserviceversion.yaml
  community-operators/koku-metrics-operator/0.9.2/metadata/annotations.yaml
Labels: kubernetes-operator, ok-to-test, openshift-operator

#3072 update vault-helm to 0.0.2
  community-operators/vault-helm/0.0.2/manifests/vault-helm.clusterserviceversion.yaml
  community-operators/vault-helm/0.0.2/manifests/vaults.vault.sdbrett.com.crd.yaml
  community-operators/vault-helm/0.0.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3086 Neuvector: Updating helm chart
  community-operators/neuvector-community-operator/1.2.2/neuvector-operator.crd.yaml
  community-operators/neuvector-community-operator/1.2.2/neuvector-operator.v1.2.2.clusterserviceversion.yaml
  community-operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3090 MongoDB Enterprise Operator - Fix CSV for 1.9.0 and 1.9.1
  upstream-community-operators/mongodb-enterprise/1.9.0/manifests/mongodb-enterprise.v1.9.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.9.1/manifests/mongodb-enterprise.v1.9.1.clusterserviceversion.yaml
Labels: allow/operator-recreate, kubernetes-operator

#3094 Release MongoDB Enterprise Operator 1.9.2
  upstream-community-operators/mongodb-enterprise/1.9.2/bundle-1.9.2.Dockerfile
  upstream-community-operators/mongodb-enterprise/1.9.2/manifests/mongodb-enterprise.v1.9.2.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.9.2/manifests/mongodb.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.9.2/manifests/mongodbusers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.9.2/manifests/opsmanagers.mongodb.com.crd.yaml
  upstream-community-operators/mongodb-enterprise/1.9.2/metadata/annotations.yaml
Labels: kubernetes-operator, needs-ok-to-test

#3097 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.29.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.29.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.29.0/kiali.v1.29.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator, needs-ok-to-test

#3100 [Upstream-community] PXC operator 1.7.0
  upstream-community-operators/percona-xtradb-cluster-operator/1.7.0/percona-xtradb-cluster-operator.v1.7.0.clusterserviceversion.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/percona-xtradb-cluster-operator.package.yaml
Labels: kubernetes-operator, needs-ok-to-test

#3103 Upgrade Camel K to 1.3.1 in upstream community operators
  upstream-community-operators/camel-k/1.3.1/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.1/camel-k.v1.3.1.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.3.1/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.1/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.1/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.1/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.1/kameletbindings.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.1/kamelets.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator, needs-ok-to-test

#3107 remove data-explorer-operator from upstream.
  upstream-community-operators/data-explorer-operator/0.0.1/Dockerfile
  upstream-community-operators/data-explorer-operator/0.0.1/manifests/dashboardwithjupyterhubs.data-explorer.com.crd.yaml
  upstream-community-operators/data-explorer-operator/0.0.1/manifests/data-explorer-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/data-explorer-operator/0.0.1/metadata/annotations.yaml
  upstream-community-operators/data-explorer-operator/ci.yml
Labels: kubernetes-operator, needs-ok-to-test

#3106 remove data-explorer-operator from community.
  community-operators/data-explorer-operator/0.0.1/Dockerfile
  community-operators/data-explorer-operator/0.0.1/manifests/dashboardwithjupyterhubs.data-explorer.com.crd.yaml
  community-operators/data-explorer-operator/0.0.1/manifests/data-explorer-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/data-explorer-operator/0.0.1/metadata/annotations.yaml
  community-operators/data-explorer-operator/0.0.2/Dockerfile
  community-operators/data-explorer-operator/0.0.2/manifests/dashboardwithjupyterhubs.data-explorer.com.crd.yaml
  community-operators/data-explorer-operator/0.0.2/manifests/data-explorer-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/data-explorer-operator/0.0.2/metadata/annotations.yaml
  community-operators/data-explorer-operator/0.0.3/Dockerfile
  community-operators/data-explorer-operator/0.0.3/manifests/dashboardwithjupyterhubs.data-explorer.com.crd.yaml
  community-operators/data-explorer-operator/0.0.3/manifests/data-explorer-operator.v0.0.3.clusterserviceversion.yaml
  community-operators/data-explorer-operator/0.0.3/metadata/annotations.yaml
  community-operators/data-explorer-operator/ci.yaml
Labels: ok-to-test, openshift-operator

#3092 update vault-helm to 0.0.2 for upstream
  upstream-community-operators/vault-helm/0.0.2/manifests/vault-helm.clusterserviceversion.yaml
  upstream-community-operators/vault-helm/0.0.2/manifests/vaults.vault.sdbrett.com.crd.yaml
  upstream-community-operators/vault-helm/0.0.2/metadata/annotations.yaml
Labels: kubernetes-operator, triage/needs-information

#3098 [kiali] [community] update kiali
  community-operators/kiali/1.29.0/kiali.crd.yaml
  community-operators/kiali/1.29.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.29.0/kiali.v1.29.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: ok-to-test, openshift-operator

#3099 [Community] PXC operator 1.7.0
  community-operators/percona-xtradb-cluster-operator/1.7.0/percona-xtradb-cluster-operator.v1.7.0.clusterserviceversion.yaml
  community-operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster-operator/percona-xtradb-cluster-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3102 Upgrade Camel K to 1.3.1 in community operators
  community-operators/camel-k/1.3.1/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.1/camel-k.v1.3.1.clusterserviceversion.yaml
  community-operators/camel-k/1.3.1/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.1/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.1/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.1/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.1/kameletbindings.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.1/kamelets.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: ok-to-test, openshift-operator

#3115 add replaces to vault-helm 0.0.2
  community-operators/vault-helm/0.0.2/manifests/vault-helm.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, ok-to-test, openshift-operator

#3117 Activate appreg deletion
  .github/workflows/operator_release.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3101 group-sync-operator new version 0.0.10
  community-operators/group-sync-operator/0.0.10/Dockerfile
  community-operators/group-sync-operator/0.0.10/manifests/group-sync-operator.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.10/manifests/redhatcop.redhat.io_groupsyncs.yaml
  community-operators/group-sync-operator/0.0.10/metadata/annotations.yaml
  community-operators/group-sync-operator/0.0.10/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3108 Typo and grammar fixes
  docs/contributing-via-pr.md
Labels: needs-ok-to-test

#3112 Updated Redis Operator to v0.4.0 for upstream
  upstream-community-operators/redis-operator/0.4.0/redis-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.4.0/redis.redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/redis-operator.package.yaml
Labels: kubernetes-operator

#3113 Upgraded redis operator to 0.4.0 for community
  community-operators/redis-operator/0.4.0/redis-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/redis-operator/0.4.0/redis.redis.redis.opstreelabs.in.crd.yaml
  community-operators/redis-operator/redis-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3118 Update StorageOS Operator to version v2.3.3
  upstream-community-operators/storageos/2.3.3/storageos.v2.3.3.clusterserviceversion.yaml
  upstream-community-operators/storageos/2.3.3/storageoscluster.crd.yaml
  upstream-community-operators/storageos/2.3.3/storageosjob.crd.yaml
  upstream-community-operators/storageos/2.3.3/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/2.3.3/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: kubernetes-operator

#3119 proactive-node-scaling-operator initial commit
  community-operators/proactive-node-scaling-operator/0.1.0/Dockerfile
  community-operators/proactive-node-scaling-operator/0.1.0/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  community-operators/proactive-node-scaling-operator/0.1.0/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  community-operators/proactive-node-scaling-operator/0.1.0/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  community-operators/proactive-node-scaling-operator/0.1.0/metadata/annotations.yaml
  community-operators/proactive-node-scaling-operator/0.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3074 Documentation improvments
  docs/README.md
  docs/contributing-prerequisites.md
  docs/contributing-via-pr.md
  docs/contributing-where-to.md
  docs/images/op_action_release.png
  docs/images/op_after_merge_01.png
  docs/images/op_deploy_build_history.png
  docs/images/op_deploy_overview.png
  docs/images/op_pr_01.png
  docs/images/op_pr_merged.png
  docs/images/op_pr_tests_all_ok.png
  docs/images/op_pr_tests_failed.png
  docs/images/op_release_k8s.png
  docs/images/op_release_o7t.png
  docs/images/op_test_pr.png
  docs/images/op_travis_01.png
  docs/images/op_travis_02.png
  docs/operator-deployment.md
  docs/operator-overwrite.md
  docs/operator-release-process.md
  docs/operator-test-suite.md
  docs/operator-versioning.md
  docs/packaging-operator.md
  docs/packaging-required-fields.md
  docs/pull_request_template.md
  docs/testing-operators.md
  docs/tests-in-pr.md
  mkdocs.yml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3124 updates victoriametrics operator version 0.8.0
  upstream-community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmagents.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmalertmanagers.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmalerts.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmclusters.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmnodescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmpodscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmprobes.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmrules.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmservicescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmsingles.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/victoriametrics-operator.0.8.0.clusterserviceversion.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/victoriametrics-operator/0.8.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  upstream-community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: kubernetes-operator

#3130 Release Kogito Operator 1.2.0 Upstream
  upstream-community-operators/kogito-operator/1.2.0/app.kiegroup.org_kogitobuilds.yaml
  upstream-community-operators/kogito-operator/1.2.0/app.kiegroup.org_kogitoinfras.yaml
  upstream-community-operators/kogito-operator/1.2.0/app.kiegroup.org_kogitoruntimes.yaml
  upstream-community-operators/kogito-operator/1.2.0/app.kiegroup.org_kogitosupportingservices.yaml
  upstream-community-operators/kogito-operator/1.2.0/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/kogito-operator/1.2.0/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/kogito-operator/1.2.0/kogito-operator.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/kogito-operator.package.yaml
Labels: kubernetes-operator

#3125 updates community victoriametrics operator version 0.8.0
  community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmagents.yaml
  community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmalertmanagers.yaml
  community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmalerts.yaml
  community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmclusters.yaml
  community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmnodescrapes.yaml
  community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmpodscrapes.yaml
  community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmprobes.yaml
  community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmrules.yaml
  community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmservicescrapes.yaml
  community-operators/victoriametrics-operator/0.8.0/operator.victoriametrics.com_vmsingles.yaml
  community-operators/victoriametrics-operator/0.8.0/victoriametrics-operator.0.8.0.clusterserviceversion.yaml
  community-operators/victoriametrics-operator/0.8.0/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/victoriametrics-operator/0.8.0/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/victoriametrics-operator/0.8.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3066 Update community PostgreSQL Operator to v4.6.0
  community-operators/postgresql/4.6.0/pgclusters.crunchydata.com.crd.yaml
  community-operators/postgresql/4.6.0/pgpolicies.crunchydata.com.crd.yaml
  community-operators/postgresql/4.6.0/pgreplicas.crunchydata.com.crd.yaml
  community-operators/postgresql/4.6.0/pgtasks.crunchydata.com.crd.yaml
  community-operators/postgresql/4.6.0/postgresoperator.v4.6.0.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: ok-to-test, openshift-operator

#3071 Update hazelcast-operator to 0.3.4 - community
  community-operators/hazelcast-operator/0.3.4/hazelcast-operator.v0.3.4.clusterserviceversion.yaml
  community-operators/hazelcast-operator/0.3.4/hazelcasts.hazelcast.com.crd.yaml
  community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3132 Fix
  scripts/ci/actions-env
Labels: allow/ci-changes

#3131 Release Kogito Operator 1.2.0 Community
  community-operators/kogito-operator/1.2.0/app.kiegroup.org_kogitobuilds.yaml
  community-operators/kogito-operator/1.2.0/app.kiegroup.org_kogitoinfras.yaml
  community-operators/kogito-operator/1.2.0/app.kiegroup.org_kogitoruntimes.yaml
  community-operators/kogito-operator/1.2.0/app.kiegroup.org_kogitosupportingservices.yaml
  community-operators/kogito-operator/1.2.0/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/kogito-operator/1.2.0/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/kogito-operator/1.2.0/kogito-operator.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3134 Remove ECK community operator
  community-operators/elastic-cloud-eck/1.2.0/apmservers.apm.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.0/beats.beat.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.0/elastic-cloud-eck.v1.2.0.clusterserviceversion.yaml
  community-operators/elastic-cloud-eck/1.2.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.1/apmservers.apm.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.1/beats.beat.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.1/elastic-cloud-eck.v1.2.1.clusterserviceversion.yaml
  community-operators/elastic-cloud-eck/1.2.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.1/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.2.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.0/apmservers.apm.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.0/beats.beat.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.0/elastic-cloud-eck.v1.3.0.clusterserviceversion.yaml
  community-operators/elastic-cloud-eck/1.3.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.1/apmservers.apm.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.1/beats.beat.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.1/elastic-cloud-eck.v1.3.1.clusterserviceversion.yaml
  community-operators/elastic-cloud-eck/1.3.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.1/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/1.3.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  community-operators/elastic-cloud-eck/ci.yaml
  community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: openshift-operator

#3133 Add ECK 1.4.0 to upstream-community-operators
  upstream-community-operators/elastic-cloud-eck/1.4.0/agents.agent.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.4.0/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.4.0/beats.beat.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.4.0/elastic-cloud-eck.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud-eck/1.4.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.4.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.4.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator

#3120 Update Jaeger upstream-community-operators to v1.21.3
  upstream-community-operators/jaeger/1.21.3/jaeger.v1.21.3.clusterserviceversion.yaml
  upstream-community-operators/jaeger/1.21.3/jaegertracing.io_jaegers_crd.yaml
  upstream-community-operators/jaeger/jaeger.package.yaml
Labels: kubernetes-operator

#3136 Update K8s Integrity Shield Operator to 0.1.4 - upstream
  upstream-community-operators/integrity-shield-operator/0.1.4/manifests/apis.integrityshield.io_integrityshields.yaml
  upstream-community-operators/integrity-shield-operator/0.1.4/manifests/integrity-shield-operator-manager_v1_serviceaccount.yaml
  upstream-community-operators/integrity-shield-operator/0.1.4/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  upstream-community-operators/integrity-shield-operator/0.1.4/manifests/integrity-shield-operator.clusterserviceversion.yaml
  upstream-community-operators/integrity-shield-operator/0.1.4/metadata/annotations.yaml
Labels: kubernetes-operator

#3137 chore: Bump up Starboard Operator from v0.9.0 to v0.9.1
  upstream-community-operators/starboard-operator/0.9.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.9.1/starboard-operator.v0.9.1.clusterserviceversion.yaml
  upstream-community-operators/starboard-operator/0.9.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/starboard-operator.package.yaml
Labels: kubernetes-operator, needs-ok-to-test

#3142 Remove GitOps Service Operator from community-operators
  community-operators/gitops-operator/0.0.1/gitops-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/gitops-operator/0.0.1/pipelines.openshift.io_gitopsservices_crd.yaml
  community-operators/gitops-operator/0.0.2/gitops-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/gitops-operator/0.0.2/pipelines.openshift.io_gitopsservices_crd.yaml
  community-operators/gitops-operator/ci.yaml
  community-operators/gitops-operator/gitops-operator.package.yaml
Labels: openshift-operator

#3135 Update K8s Integrity Shield Operator to 0.1.4 - community
  community-operators/integrity-shield-operator/0.1.4/manifests/apis.integrityshield.io_integrityshields.yaml
  community-operators/integrity-shield-operator/0.1.4/manifests/integrity-shield-operator-manager_v1_serviceaccount.yaml
  community-operators/integrity-shield-operator/0.1.4/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/integrity-shield-operator/0.1.4/manifests/integrity-shield-operator.clusterserviceversion.yaml
  community-operators/integrity-shield-operator/0.1.4/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3121 Update Jaeger community-operators to v1.21.3
  community-operators/jaeger/1.21.3/jaeger.v1.21.3.clusterserviceversion.yaml
  community-operators/jaeger/1.21.3/jaegertracing.io_jaegers_crd.yaml
  community-operators/jaeger/jaeger.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3138 Open Data Hub: Remove preferred namespace
  community-operators/opendatahub-operator/1.0.0/manifests/opendatahub-operator.v1.0.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, ok-to-test, openshift-operator

#3139 Activate appreg conditional push
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3148 Added x509ignoreCN=0
  .github/workflows/operator_release.yaml
  .github/workflows/operator_test.yaml
  .github/workflows/prepare-test-index.yaml
Labels: allow/ci-changes

#3143 update grafana-operator to v3.9.0 [upstream]
  upstream-community-operators/grafana-operator/3.9.0/grafana-operator.v3.9.0.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.9.0/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.9.0/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.9.0/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: kubernetes-operator

#3147 chore: Bump up Starboard Operator from v0.9.1 to v0.9.2
  upstream-community-operators/starboard-operator/0.9.2/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.9.2/starboard-operator.v0.9.2.clusterserviceversion.yaml
  upstream-community-operators/starboard-operator/0.9.2/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/starboard-operator.package.yaml
Labels: kubernetes-operator

#3150 [kiali] [community] update kiali
  community-operators/kiali/1.30.0/kiali.crd.yaml
  community-operators/kiali/1.30.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.30.0/kiali.v1.30.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: ok-to-test, openshift-operator

#3149 release koku-metrics-operator v0.9.3
  community-operators/koku-metrics-operator/0.9.3/Dockerfile
  community-operators/koku-metrics-operator/0.9.3/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  community-operators/koku-metrics-operator/0.9.3/manifests/koku-metrics-operator.clusterserviceversion.yaml
  community-operators/koku-metrics-operator/0.9.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3144 update grafana-operator to v3.9.0 [community]
  community-operators/grafana-operator/3.9.0/grafana-operator.v3.9.0.clusterserviceversion.yaml
  community-operators/grafana-operator/3.9.0/grafanadashboards.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.9.0/grafanadatasources.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.9.0/grafanas.integreatly.org.crd.yaml
  community-operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3151 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.30.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.30.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.30.0/kiali.v1.30.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator

#3154 Upgrade MTA Operator to 0.0.2 in community-operators
  community-operators/mta-operator/0.0.2/Dockerfile
  community-operators/mta-operator/0.0.2/manifests/windup-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/mta-operator/0.0.2/manifests/windup.crd.yaml
  community-operators/mta-operator/0.0.2/metadata/annotations.yaml
  community-operators/mta-operator/ci.yaml
Labels: ok-to-test, openshift-operator

#3152 Add istio-workspace-operator release 0.0.6 to upstream-community-operators
  upstream-community-operators/istio-workspace-operator/0.0.6/manifests/istio-workspace-operator.clusterserviceversion.yaml
  upstream-community-operators/istio-workspace-operator/0.0.6/manifests/maistra.io_sessions.yaml
  upstream-community-operators/istio-workspace-operator/0.0.6/metadata/annotations.yaml
  upstream-community-operators/istio-workspace-operator/0.0.6/tests/scorecard/config.yaml
Labels: kubernetes-operator

#3153 Add istio-workspace-operator release 0.0.6 to community-operators
  community-operators/istio-workspace-operator/0.0.6/manifests/istio-workspace-operator.clusterserviceversion.yaml
  community-operators/istio-workspace-operator/0.0.6/manifests/maistra.io_sessions.yaml
  community-operators/istio-workspace-operator/0.0.6/metadata/annotations.yaml
  community-operators/istio-workspace-operator/0.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3145 upgrade multicluster subscription operator to V0.2.6
  community-operators/multicluster-operators-subscription/0.2.6/app.k8s.io_applications.yaml
  community-operators/multicluster-operators-subscription/0.2.6/apps.open-cluster-management.io_channels_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.6/apps.open-cluster-management.io_deployables_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.6/apps.open-cluster-management.io_helmreleases_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.6/apps.open-cluster-management.io_placementrules_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.6/apps.open-cluster-management.io_subscriptions_crd.yaml
  community-operators/multicluster-operators-subscription/0.2.6/multicluster-operators-subscription.v0.2.6.clusterserviceversion.yaml
  community-operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator

#3054 Updated container image name
  upstream-community-operators/steerd-presto-operator/0.1.0/steerd-presto-operator.v0.1.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3156 proactive-node-scaling-operator new version 0.2.0
  community-operators/proactive-node-scaling-operator/0.2.0/Dockerfile
  community-operators/proactive-node-scaling-operator/0.2.0/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  community-operators/proactive-node-scaling-operator/0.2.0/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  community-operators/proactive-node-scaling-operator/0.2.0/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  community-operators/proactive-node-scaling-operator/0.2.0/metadata/annotations.yaml
  community-operators/proactive-node-scaling-operator/0.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3160 Microcks 1.2.0 upstream operator
  upstream-community-operators/microcks/1.2.0/microcks-operator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/microcks/1.2.0/microcksinstall.crd.yaml
  upstream-community-operators/microcks/microcks.package.yaml
Labels: kubernetes-operator

#3159 Microcks 1.2.0 community operator
  community-operators/microcks/1.2.0/microcks-operator.v1.2.0.clusterserviceversion.yaml
  community-operators/microcks/1.2.0/microcksinstall.crd.yaml
  community-operators/microcks/microcks.package.yaml
Labels: ok-to-test, openshift-operator

#3161 upgrade koku-metrics-operator to v0.9.4
  community-operators/koku-metrics-operator/0.9.4/Dockerfile
  community-operators/koku-metrics-operator/0.9.4/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  community-operators/koku-metrics-operator/0.9.4/manifests/koku-metrics-operator.clusterserviceversion.yaml
  community-operators/koku-metrics-operator/0.9.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3162 Keycloak Operator 12.0.3 (Upstream Community)
  upstream-community-operators/keycloak-operator/12.0.3/keycloak-operator.v12.0.3.clusterserviceversion.yaml
  upstream-community-operators/keycloak-operator/12.0.3/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/12.0.3/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/12.0.3/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/12.0.3/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/12.0.3/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/keycloak.package.yaml
Labels: kubernetes-operator

#3164 Add istio-workspace-operator release 0.0.7 to upstream-community-operators
  upstream-community-operators/istio-workspace-operator/0.0.7/manifests/istio-workspace-operator.clusterserviceversion.yaml
  upstream-community-operators/istio-workspace-operator/0.0.7/manifests/maistra.io_sessions.yaml
  upstream-community-operators/istio-workspace-operator/0.0.7/metadata/annotations.yaml
  upstream-community-operators/istio-workspace-operator/0.0.7/tests/scorecard/config.yaml
Labels: kubernetes-operator

#3163 Keycloak Operator 12.0.3 (Community)
  community-operators/keycloak-operator/12.0.3/keycloak-operator.v12.0.3.clusterserviceversion.yaml
  community-operators/keycloak-operator/12.0.3/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak-operator/12.0.3/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak-operator/12.0.3/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak-operator/12.0.3/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak-operator/12.0.3/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak-operator/keycloak.package.yaml
Labels: ok-to-test, openshift-operator

#3165 Add istio-workspace-operator release 0.0.7 to community-operators
  community-operators/istio-workspace-operator/0.0.7/manifests/istio-workspace-operator.clusterserviceversion.yaml
  community-operators/istio-workspace-operator/0.0.7/manifests/maistra.io_sessions.yaml
  community-operators/istio-workspace-operator/0.0.7/metadata/annotations.yaml
  community-operators/istio-workspace-operator/0.0.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3169 Update to latest maistra 2.0.2 release
  community-operators/maistraoperator/2.0.1-0/maistraoperator.v2.0.1.clusterserviceversion.yaml
  community-operators/maistraoperator/2.0.1-0/servicemeshcontrolplanes.crd.yaml
  community-operators/maistraoperator/2.0.1-0/servicemeshmemberrolls.crd.yaml
  community-operators/maistraoperator/2.0.1-0/servicemeshmembers.crd.yaml
  community-operators/maistraoperator/2.0.2-0/maistraoperator.v2.0.2.clusterserviceversion.yaml
  community-operators/maistraoperator/2.0.2-0/servicemeshcontrolplanes.crd.yaml
  community-operators/maistraoperator/2.0.2-0/servicemeshmemberrolls.crd.yaml
  community-operators/maistraoperator/2.0.2-0/servicemeshmembers.crd.yaml
  community-operators/maistraoperator/maistra.package.yaml
Labels: allow/operator-recreate, ok-to-test, openshift-operator

#3172 Added lemon for multiple
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3176 Add HPE Ezmeral CSI operator
  upstream-community-operators/hpe-ezmeral-csi-operator/1.0.0/Dockerfile
  upstream-community-operators/hpe-ezmeral-csi-operator/1.0.0/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  upstream-community-operators/hpe-ezmeral-csi-operator/1.0.0/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  upstream-community-operators/hpe-ezmeral-csi-operator/1.0.0/manifests/hpe-ezmeral-csi-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-ezmeral-csi-operator/1.0.0/metadata/annotations.yaml
  upstream-community-operators/hpe-ezmeral-csi-operator/ci.yaml
Labels: kubernetes-operator

#3175 Fix HCO Upgrade Path
  community-operators/community-kubevirt-hyperconverged/0.0.1/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/0.0.2/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/0.0.3/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/1.0.0/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/1.1.0/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/1.2.0/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/1.3.0/metadata/annotations.yaml
  community-operators/community-kubevirt-hyperconverged/1.4.0/metadata/annotations.yaml
Labels: allow/operator-recreate, ok-to-test, openshift-operator

#3180 Update community PostgreSQL Operator to v4.6.1
  community-operators/postgresql/4.6.1/pgclusters.crunchydata.com.crd.yaml
  community-operators/postgresql/4.6.1/pgpolicies.crunchydata.com.crd.yaml
  community-operators/postgresql/4.6.1/pgreplicas.crunchydata.com.crd.yaml
  community-operators/postgresql/4.6.1/pgtasks.crunchydata.com.crd.yaml
  community-operators/postgresql/4.6.1/postgresoperator.v4.6.1.clusterserviceversion.yaml
  community-operators/postgresql/postgresql.package.yaml
Labels: ok-to-test, openshift-operator

#3181 Update upstream PostgreSQL Operator to v4.6.1
  upstream-community-operators/postgresql/4.6.1/pgclusters.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.6.1/pgpolicies.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.6.1/pgreplicas.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.6.1/pgtasks.crunchydata.com.crd.yaml
  upstream-community-operators/postgresql/4.6.1/postgresoperator.v4.6.1.clusterserviceversion.yaml
  upstream-community-operators/postgresql/postgresql.package.yaml
Labels: kubernetes-operator

#3184 Switch ohio
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3189 Fix HCO description in CSV annotation
  upstream-community-operators/community-kubevirt-hyperconverged/0.0.1/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/0.0.2/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/0.0.3/manifests/kubevirt-hyperconverged-operator.v0.0.3.clusterserviceversion.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/0.0.3/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.0.0/manifests/kubevirt-hyperconverged-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.0.0/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.1.0/manifests/kubevirt-hyperconverged-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.1.0/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.2.0/manifests/kubevirt-hyperconverged-operator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.2.0/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.3.0/manifests/kubevirt-hyperconverged-operator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.3.0/metadata/annotations.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.4.0/manifests/kubevirt-hyperconverged-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/community-kubevirt-hyperconverged/1.4.0/metadata/annotations.yaml
Labels: allow/operator-recreate, kubernetes-operator

#3178 Infinispan upstream 2.1.2
  upstream-community-operators/infinispan/2.1.2/infinispan-operator.v2.1.2.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.1.2/infinispan.org_backups_crd.yaml
  upstream-community-operators/infinispan/2.1.2/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.1.2/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/2.1.2/infinispan.org_restores_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#3179 Infinispan community 2.1.2
  community-operators/infinispan/2.1.2/infinispan-operator.v2.1.2.clusterserviceversion.yaml
  community-operators/infinispan/2.1.2/infinispan.org_backups_crd.yaml
  community-operators/infinispan/2.1.2/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.1.2/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/2.1.2/infinispan.org_restores_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: ok-to-test, openshift-operator

#3190 update to SBO 0.5.0
  upstream-community-operators/service-binding-operator/0.5.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  upstream-community-operators/service-binding-operator/0.5.0/manifests/service-binding-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/service-binding-operator/0.5.0/manifests/service-binding-operator-servicebinding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/service-binding-operator/0.5.0/manifests/service-binding-operator-servicebinding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/service-binding-operator/0.5.0/manifests/service-binding-operator.clusterserviceversion.yaml
  upstream-community-operators/service-binding-operator/0.5.0/metadata/annotations.yaml
  upstream-community-operators/service-binding-operator/ci.yaml
Labels: kubernetes-operator

#3192 add OpenShift Hive operator 1.0.19 for upstream
  upstream-community-operators/hive-operator/1.0.19/hive-operator.v1.0.19.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.19/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.0.19/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.0.19/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#3177 Update prometheus-exporter-operator to v0.2.4 [community-operators]
  community-operators/prometheus-exporter-operator/0.2.4/monitoring.3scale.net_prometheusexporters_crd.yaml
  community-operators/prometheus-exporter-operator/0.2.4/prometheus-exporter-operator.v0.2.4.clusterserviceversion.yaml
  community-operators/prometheus-exporter-operator/prometheus-exporter-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2933 [Upstream] Nexus Operator Release 0.5.0
  upstream-community-operators/nexus-operator-m88i/0.5.0/apps.m88i.io_nexus_crd.yaml
  upstream-community-operators/nexus-operator-m88i/0.5.0/nexus-operator.clusterserviceversion.yaml
  upstream-community-operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: kubernetes-operator, ok-to-test

#3111 Release v0.1.1 of the cost-mgmt-operator (deprecate the operator)
  community-operators/cost-mgmt-operator/0.1.1/cost-mgmt-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/cost-mgmt-operator/0.1.1/cost_mgmt_crd.yaml
  community-operators/cost-mgmt-operator/0.1.1/cost_mgmt_data_crd.yaml
  community-operators/cost-mgmt-operator/cost-mgmt-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3196 Update prometheus-exporter-operator to v0.2.4 [upstream-community-operators]
  upstream-community-operators/prometheus-exporter-operator/0.2.4/monitoring.3scale.net_prometheusexporters_crd.yaml
  upstream-community-operators/prometheus-exporter-operator/0.2.4/prometheus-exporter-operator.v0.2.4.clusterserviceversion.yaml
  upstream-community-operators/prometheus-exporter-operator/prometheus-exporter-operator.package.yaml
Labels: kubernetes-operator

#3200 Add 0.21.0 knative operator
  upstream-community-operators/knative-operator/0.21.0/knative-operator.v0.21.0.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.21.0/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.21.0/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#3193 add OpenShift Hive operator 1.0.19
  community-operators/hive-operator/1.0.19/hive-operator.v1.0.19.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.19/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.0.19/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.0.19/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3194 Fix hive operator version 1.0.3-7-gba4793f
  community-operators/hive-operator/1.0.3-7-gba4793f/hive-operator.v1.0.3-7-gba4793f.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, openshift-operator

#3203 Update Seldon Upstream Operator to 1.6.0
  upstream-community-operators/seldon-operator/1.6.0/machinelearning.seldon.io_seldondeployments.yaml
  upstream-community-operators/seldon-operator/1.6.0/seldon-manager_v1_serviceaccount.yaml
  upstream-community-operators/seldon-operator/1.6.0/seldon-operator.v1.6.0.clusterserviceversion.yaml
  upstream-community-operators/seldon-operator/seldon-operator.package.yaml
Labels: kubernetes-operator

#3202 Update Seldon Community Operator to 1.6.0
  community-operators/seldon-operator/1.6.0/machinelearning.seldon.io_seldondeployments.yaml
  community-operators/seldon-operator/1.6.0/seldon-manager_v1_serviceaccount.yaml
  community-operators/seldon-operator/1.6.0/seldon-operator.v1.6.0.clusterserviceversion.yaml
  community-operators/seldon-operator/seldon-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3201 namespace-configuration-operator new version 1.0.1
  community-operators/namespace-configuration-operator/1.0.1/Dockerfile
  community-operators/namespace-configuration-operator/1.0.1/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  community-operators/namespace-configuration-operator/1.0.1/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/1.0.1/manifests/redhatcop.redhat.io_groupconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.1/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.1/manifests/redhatcop.redhat.io_userconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.1/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/1.0.1/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator
