Repository operator-framework/community-operators, pull requests merged in 2021-01, with the labels that each got.

#2918 Add Aqua upstream operator 5.3.0 channel
  upstream-community-operators/aqua/5.3.0/aqua-operator.v5.3.0.clusterserviceversion.yaml
  upstream-community-operators/aqua/5.3.0/aquacsps.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/5.3.0/aquadatabases.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/5.3.0/aquaenforcers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/5.3.0/aquagateways.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/5.3.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/5.3.0/aquascanners.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/5.3.0/aquaservers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aqua-operator.package.yaml
Labels: kubernetes-operator

#2917 New channel for Aqua-Operator, 5.3.0
  community-operators/aqua/5.3.0/aqua-operator.v5.3.0.clusterserviceversion.yaml
  community-operators/aqua/5.3.0/aquacsps.operator.aquasec.com.crd.yaml
  community-operators/aqua/5.3.0/aquadatabases.operator.aquasec.com.crd.yaml
  community-operators/aqua/5.3.0/aquaenforcers.operator.aquasec.com.crd.yaml
  community-operators/aqua/5.3.0/aquagateways.operator.aquasec.com.crd.yaml
  community-operators/aqua/5.3.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  community-operators/aqua/5.3.0/aquascanners.operator.aquasec.com.crd.yaml
  community-operators/aqua/5.3.0/aquaservers.operator.aquasec.com.crd.yaml
  community-operators/aqua/aqua-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2925 Upgraded redis operator version to v0.3.0
  upstream-community-operators/redis-operator/0.3.0/redis-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.3.0/redis.redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/redis-operator.package.yaml
Labels: kubernetes-operator

#2929 add Zalando Postgres Operator v1.4.0
  upstream-community-operators/postgres-operator/1.4.0/clusterrole-postgres-pod.yaml
  upstream-community-operators/postgres-operator/1.4.0/operatorconfigurations.acid.zalan.do.crd.yaml
  upstream-community-operators/postgres-operator/1.4.0/postgres-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/postgres-operator/1.4.0/postgresqls.acid.zalan.do.crd.yaml
  upstream-community-operators/postgres-operator/postgres-operator.package.yaml
Labels: kubernetes-operator

#2923 group-sync-operator new version 0.0.9
  community-operators/group-sync-operator/0.0.9/Dockerfile
  community-operators/group-sync-operator/0.0.9/manifests/group-sync-operator.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.9/manifests/redhatcop.redhat.io_groupsyncs.yaml
  community-operators/group-sync-operator/0.0.9/metadata/annotations.yaml
  community-operators/group-sync-operator/0.0.9/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2928 Add Hawtio operator v0.3.0 to community operators
  community-operators/hawtio-operator/0.3.0/hawtio-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/hawtio-operator/0.3.0/hawtios.hawt.io.crd.yaml
  community-operators/hawtio-operator/hawtio-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2939 Instana Agent Operator 0.3.10
  upstream-community-operators/instana-agent/0.3.10/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/0.3.10/instana-agent-operator.v0.3.10.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#2854 [DOC] Fix some typos and issues in the Manual Testing doc
  docs/testing-operators.md
Labels: needs-ok-to-test

#2932 Remove CodeReady Toolchain Operator
  community-operators/codeready-toolchain-operator/0.1.0/codeready-toolchain-operator.v0.1.0.clusterserviceversion.yaml
  community-operators/codeready-toolchain-operator/0.1.0/toolchain.openshift.dev_cheinstallations.yaml
  community-operators/codeready-toolchain-operator/0.1.0/toolchain.openshift.dev_tektoninstallations.yaml
  community-operators/codeready-toolchain-operator/0.1.1/codeready-toolchain-operator.v0.1.1.clusterserviceversion.yaml
  community-operators/codeready-toolchain-operator/0.1.1/toolchain.openshift.dev_cheinstallations.yaml
  community-operators/codeready-toolchain-operator/0.1.1/toolchain.openshift.dev_tektoninstallations.yaml
  community-operators/codeready-toolchain-operator/0.1.2/codeready-toolchain-operator.v0.1.2.clusterserviceversion.yaml
  community-operators/codeready-toolchain-operator/0.1.2/toolchain.openshift.dev_cheinstallations.yaml
  community-operators/codeready-toolchain-operator/0.1.2/toolchain.openshift.dev_tektoninstallations.yaml
  community-operators/codeready-toolchain-operator/0.1.3/codeready-toolchain-operator.clusterserviceversion.yaml
  community-operators/codeready-toolchain-operator/0.1.3/toolchain_v1alpha1_cheinstallation_crd.yaml
  community-operators/codeready-toolchain-operator/0.1.3/toolchain_v1alpha1_tektoninstallation_crd.yaml
  community-operators/codeready-toolchain-operator/ci.yaml
  community-operators/codeready-toolchain-operator/codeready-toolchain-operator.package.yaml
Labels: openshift-operator

#2935 [Community] Nexus Operator Release 0.5.0
  community-operators/nexus-operator-m88i/0.5.0/apps.m88i.io_nexus.yaml
  community-operators/nexus-operator-m88i/0.5.0/nexus-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/nexus-operator-m88i/0.5.0/nexus-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/nexus-operator-m88i/0.5.0/nexus-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/nexus-operator-m88i/0.5.0/nexus-operator.clusterserviceversion.yaml
  community-operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2924 Add mysql-operator 0.4.0 to upstream operators
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql-operator.clusterserviceversion.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_backups.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_databases.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_grants.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_instances.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_stores.yaml
  upstream-community-operators/mysql-operator/0.4.0/manifests/mysql.blaqkube.io_users.yaml
  upstream-community-operators/mysql-operator/0.4.0/metadata/annotations.yaml
  upstream-community-operators/mysql-operator/ci.yaml
Labels: kubernetes-operator, triage/needs-information

#2942 chore: Bump up starboard-operator from v0.7.0 to v0.8.0
  upstream-community-operators/starboard-operator/0.8.0/starboard-operator.v0.8.0.clusterserviceversion.yaml
  upstream-community-operators/starboard-operator/0.8.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/starboard-operator.package.yaml
Labels: kubernetes-operator

#2940 Keycloak Operator (Community) 12.0.1
  community-operators/keycloak-operator/12.0.1/keycloak-operator.v12.0.1.clusterserviceversion.yaml
  community-operators/keycloak-operator/12.0.1/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak-operator/12.0.1/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak-operator/12.0.1/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak-operator/12.0.1/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak-operator/12.0.1/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak-operator/keycloak.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2947 Infinispan Operator upstream 2.0.6
  upstream-community-operators/infinispan/2.0.6/infinispan-operator.v2.0.6.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.0.6/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.0.6/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#2948 update koku-metrics-operator to v0.9.1
  community-operators/koku-metrics-operator/0.9.1/Dockerfile
  community-operators/koku-metrics-operator/0.9.1/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  community-operators/koku-metrics-operator/0.9.1/manifests/koku-metrics-operator.clusterserviceversion.yaml
  community-operators/koku-metrics-operator/0.9.1/metadata/annotations.yaml
  community-operators/koku-metrics-operator/ci.yaml
Labels: lgtm, ok-to-test, openshift-operator, triage/needs-information

#2941 Keycloak Operator 12.0.1 (Upstream Community)
  upstream-community-operators/keycloak-operator/12.0.1/keycloak-operator.v12.0.1.clusterserviceversion.yaml
  upstream-community-operators/keycloak-operator/12.0.1/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/12.0.1/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/12.0.1/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/12.0.1/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/12.0.1/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/keycloak.package.yaml
Labels: kubernetes-operator

#2937 remove jenkins operator from community operators
  community-operators/jenkins-operator/0.2.2/Dockerfile
  community-operators/jenkins-operator/0.2.2/manifests/jenkins-operator.v0.2.2.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.2.2/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.2.2/metadata/annotations.yaml
  community-operators/jenkins-operator/0.3.31/Dockerfile
  community-operators/jenkins-operator/0.3.31/manifests/jenkins-operator.v0.3.31.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.3.31/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.3.31/metadata/annotations.yaml
  community-operators/jenkins-operator/0.4.0/Dockerfile
  community-operators/jenkins-operator/0.4.0/manifests/jenkins-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.0/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.4.0/metadata/annotations.yaml
  community-operators/jenkins-operator/0.4.1-rc1/Dockerfile
  community-operators/jenkins-operator/0.4.1-rc1/manifests/jenkins-operator.v0.4.1-rc1.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc1/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc1/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc1/metadata/annotations.yaml
  community-operators/jenkins-operator/0.4.1-rc2/Dockerfile
  community-operators/jenkins-operator/0.4.1-rc2/manifests/jenkins-operator.v0.4.1-rc2.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc2/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc2/metadata/annotations.yaml
  community-operators/jenkins-operator/0.4.1-rc3/Dockerfile
  community-operators/jenkins-operator/0.4.1-rc3/manifests/jenkins-operator.v0.4.1-rc3.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.4.1-rc3/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc3/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.4.1-rc3/metadata/annotations.yaml
  community-operators/jenkins-operator/0.5.0/Dockerfile
  community-operators/jenkins-operator/0.5.0/manifests/jenkins-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.5.0/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.5.0/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.5.0/manifests/jenkins_v1alpha3_casc_crd.yaml
  community-operators/jenkins-operator/0.5.0/metadata/annotations.yaml
  community-operators/jenkins-operator/0.6.0/Dockerfile
  community-operators/jenkins-operator/0.6.0/manifests/jenkins-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.6.0/manifests/jenkins_v1alpha2_backupworker_crd.yaml
  community-operators/jenkins-operator/0.6.0/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.6.0/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.6.0/metadata/annotations.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins-operator.v0.7.0.clusterserviceversion.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_backup_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_backupconfig_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_jenkins_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_jenkinsimage_crd.yaml
  community-operators/jenkins-operator/0.7.0/manifests/jenkins_v1alpha2_restore_crd.yaml
  community-operators/jenkins-operator/0.7.0/metadata/annotations.yaml
  community-operators/jenkins-operator/ci.yaml
Labels: openshift-operator, signature-missing, triage/needs-information

#2921 resource-locker-operator new version 1.0.0
  community-operators/resource-locker-operator/1.0.0/Dockerfile
  community-operators/resource-locker-operator/1.0.0/manifests/redhatcop.redhat.io_resourcelockers.yaml
  community-operators/resource-locker-operator/1.0.0/manifests/resource-locker-operator.clusterserviceversion.yaml
  community-operators/resource-locker-operator/1.0.0/metadata/annotations.yaml
  community-operators/resource-locker-operator/1.0.0/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2849 Update kubernetes-nmstate-operator to v0.37.0
  upstream-community-operators/kubernetes-nmstate-operator/0.37.0/kubernetes-nmstate-operator.v0.37.0.clusterserviceversion.yaml
  upstream-community-operators/kubernetes-nmstate-operator/0.37.0/nmstate-operator_v1_serviceaccount.yaml
  upstream-community-operators/kubernetes-nmstate-operator/0.37.0/nmstate.io_nmstates.yaml
  upstream-community-operators/kubernetes-nmstate-operator/ci.yaml
  upstream-community-operators/kubernetes-nmstate-operator/kubernetes-nmstate-operator.package.yaml
Labels: kubernetes-operator, triage/needs-information

#2919 Upgrade Camel K to 1.3.0 in upstream operators
  upstream-community-operators/camel-k/1.3.0/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.0/camel-k.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.3.0/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.0/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.0/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.0/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.0/kameletbindings.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.3.0/kamelets.camel.apache.org.crd.yaml
Labels: kubernetes-operator

#2506 (update)add the csv and crds for litmus chaos operator 1.9.0
  upstream-community-operators/litmuschaos/1.9.0/chaosengines.litmuschaos.io.crd.yaml
  upstream-community-operators/litmuschaos/1.9.0/chaosoperator.v1.9.0.clusterserviceversion.yaml
  upstream-community-operators/litmuschaos/litmuschaos.package.yaml
Labels: kubernetes-operator, triage/needs-information

#2956 camel-k Fix package version
  upstream-community-operators/camel-k/1.3.0/camel-k.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: kubernetes-operator

#2955 add OpenShift Hive operator 1.0.17
  community-operators/hive-operator/1.0.17/hive-operator.v1.0.17.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.17/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.0.17/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.0.17/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2954 add OpenShift Hive operator 1.0.17 for upstream
  upstream-community-operators/hive-operator/1.0.17/hive-operator.v1.0.17.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.17/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.0.17/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.0.17/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#2952 Instana Agent Operator 1.0.0
  upstream-community-operators/instana-agent/1.0.0/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/1.0.0/instana-agent-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#2957 [community] Delete submariner-operator v0.8.0
  community-operators/submariner/0.8.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/submariner/0.8.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/submariner/0.8.0/submariner-lighthouse_v1_serviceaccount.yaml
  community-operators/submariner/0.8.0/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/submariner/0.8.0/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/submariner/0.8.0/submariner-networkplugin-syncer_v1_serviceaccount.yaml
  community-operators/submariner/0.8.0/submariner-operator_v1_serviceaccount.yaml
  community-operators/submariner/0.8.0/submariner.io_submariners.yaml
  community-operators/submariner/0.8.0/submariner.v0.8.0.clusterserviceversion.yaml
  community-operators/submariner/submariner.package.yaml
Labels: openshift-operator

#2961 Add new 'Modernization & Migration' category
  categories.json
Labels: needs-ok-to-test

#2959 resource-locker-operator new version 1.0.1
  community-operators/resource-locker-operator/1.0.1/Dockerfile
  community-operators/resource-locker-operator/1.0.1/manifests/redhatcop.redhat.io_resourcelockers.yaml
  community-operators/resource-locker-operator/1.0.1/manifests/resource-locker-operator.clusterserviceversion.yaml
  community-operators/resource-locker-operator/1.0.1/metadata/annotations.yaml
  community-operators/resource-locker-operator/1.0.1/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2953 hpe: add hpe csi 1.4.0 operator package files
  upstream-community-operators/hpe-csi-operator/1.4.0/hpe-csi-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/1.4.0/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-operator/hpe-csi-driver-operator.package.yaml
Labels: kubernetes-operator

#2931 opsmx-spinnaker-operator for 1.21.2 release
  community-operators/opsmx-spinnaker-operator/1.21.2/opsmx-spinnaker-operator.v1.21.2.clusterserviceversion.yaml
  community-operators/opsmx-spinnaker-operator/1.21.2/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  community-operators/opsmx-spinnaker-operator/ci.yaml
  community-operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.package.yaml
Labels: ok-to-test, openshift-operator

#2968 [community] Delete submariner-operator
  community-operators/submariner/0.5.0/servicediscoveries.submariner.io.crd.yaml
  community-operators/submariner/0.5.0/serviceexports.lighthouse.submariner.io.crd.yaml
  community-operators/submariner/0.5.0/serviceimports.lighthouse.submariner.io.crd.yaml
  community-operators/submariner/0.5.0/submariner-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/submariner/0.5.0/submariners.submariner.io.crd.yaml
  community-operators/submariner/0.6.1/lighthouse.submariner.io_serviceexports_crd.yaml
  community-operators/submariner/0.6.1/lighthouse.submariner.io_serviceimports_crd.yaml
  community-operators/submariner/0.6.1/submariner.io_servicediscoveries_crd.yaml
  community-operators/submariner/0.6.1/submariner.io_submariners_crd.yaml
  community-operators/submariner/0.6.1/submariner.v0.6.1.clusterserviceversion.yaml
  community-operators/submariner/0.7.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/submariner/0.7.0/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/submariner/0.7.0/submariner-lighthouse_v1_serviceaccount.yaml
  community-operators/submariner/0.7.0/submariner-operator_v1_serviceaccount.yaml
  community-operators/submariner/0.7.0/submariner.io_submariners_crd.yaml
  community-operators/submariner/0.7.0/submariner.v0.7.0.clusterserviceversion.yaml
  community-operators/submariner/ci.yaml
  community-operators/submariner/submariner.package.yaml
Labels: openshift-operator

#2958 [Upstream-community] PSMDB operator 1.6.0 stable
  upstream-community-operators/percona-server-mongodb-operator/1.6.0/percona-server-mongodb-operator.v1.6.0.clusterserviceversion.yaml
  upstream-community-operators/percona-server-mongodb-operator/1.6.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb-operator/1.6.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb-operator/1.6.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: kubernetes-operator, triage/needs-information

#2920 Upgrade Camel K to 1.3.0 in community operators
  community-operators/camel-k/1.3.0/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.0/camel-k.v1.3.0.clusterserviceversion.yaml
  community-operators/camel-k/1.3.0/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.0/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.0/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.0/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.0/kameletbindings.camel.apache.org.crd.yaml
  community-operators/camel-k/1.3.0/kamelets.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: ok-to-test, openshift-operator

#2938 [Community] PSMDB 1.6.0 stable
  community-operators/percona-server-mongodb-operator/1.6.0/percona-server-mongodb-operator.v1.6.0.clusterserviceversion.yaml
  community-operators/percona-server-mongodb-operator/1.6.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  community-operators/percona-server-mongodb-operator/1.6.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  community-operators/percona-server-mongodb-operator/1.6.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  community-operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2916 Deprecate old upstream Knative eventing operator
  upstream-community-operators/knative-eventing-operator/0.11.0/knative-eventing-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.12.1/knative-eventing-operator.v0.12.1.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.13.1/knative-eventing-operator.v0.13.1.clusterserviceversion.yaml
Labels: allow/operator-recreate, kubernetes-operator, triage/needs-information

#2971 Add konveyor-forklift-operator to community operators
  community-operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_controller.yaml
  community-operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_host.yaml
  community-operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_migration.yaml
  community-operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_networkmap.yaml
  community-operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_plan.yaml
  community-operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_provider.yaml
  community-operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_provisioner.yaml
  community-operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_storagemap.yaml
  community-operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/konveyor-forklift-operator.v2.0.0-beta.0.clusterserviceversion.yaml
  community-operators/konveyor-forklift-operator/2.0.0-beta.0/metadata/annotations.yaml
  community-operators/konveyor-forklift-operator/ci.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2965 Neuvector: Updating to 1.2.1
  community-operators/neuvector-community-operator/1.2.1/neuvector-operator.crd.yaml
  community-operators/neuvector-community-operator/1.2.1/neuvector-operator.v1.2.1.clusterserviceversion.yaml
  community-operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2915 Deprecate old upstream Knative serving operator
  upstream-community-operators/knative-serving-operator/0.11.0/knative-serving-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.12.2/knative-serving-operator.v0.12.2.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.13.1/knative-serving-operator.v0.13.1.clusterserviceversion.yaml
Labels: allow/operator-recreate, kubernetes-operator

#2980 Add Dynatrace OneAgent Operator v0.9.4
  upstream-community-operators/oneagent/0.9.4/dynatrace-monitoring.v0.9.4.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.9.4/dynatrace.com_oneagentapms_crd.yaml
  upstream-community-operators/oneagent/0.9.4/dynatrace.com_oneagents_crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator

#2983 K8s Integrity Shield Operator 0.1.3
  community-operators/integrity-shield-operator/0.1.3/manifests/apis.integrityshield.io_integrityshields.yaml
  community-operators/integrity-shield-operator/0.1.3/manifests/integrity-shield-operator-manager_v1_serviceaccount.yaml
  community-operators/integrity-shield-operator/0.1.3/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/integrity-shield-operator/0.1.3/manifests/integrity-shield-operator.clusterserviceversion.yaml
  community-operators/integrity-shield-operator/0.1.3/metadata/annotations.yaml
  community-operators/integrity-shield-operator/ci.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2985 [KOGITO-4194-upstream] - Release Kogito Operator 1.1 to OperatorHub
  upstream-community-operators/kogito-operator/1.1.0/app.kiegroup.org_kogitobuilds_crd.yaml
  upstream-community-operators/kogito-operator/1.1.0/app.kiegroup.org_kogitoinfras_crd.yaml
  upstream-community-operators/kogito-operator/1.1.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  upstream-community-operators/kogito-operator/1.1.0/app.kiegroup.org_kogitosupportingservices_crd.yaml
  upstream-community-operators/kogito-operator/1.1.0/kogito-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/kogito-operator.package.yaml
Labels: kubernetes-operator

#2984 [KOGITO-4194-community] - Release Kogito Operator 1.1 to OperatorHub
  community-operators/kogito-operator/1.1.0/app.kiegroup.org_kogitobuilds_crd.yaml
  community-operators/kogito-operator/1.1.0/app.kiegroup.org_kogitoinfras_crd.yaml
  community-operators/kogito-operator/1.1.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  community-operators/kogito-operator/1.1.0/app.kiegroup.org_kogitosupportingservices_crd.yaml
  community-operators/kogito-operator/1.1.0/kogito-operator.v1.1.0.clusterserviceversion.yaml
  community-operators/kogito-operator/kogito-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2988 must-gather-operator new version 1.0.0
  community-operators/must-gather-operator/1.0.0/Dockerfile
  community-operators/must-gather-operator/1.0.0/manifests/must-gather-operator-manager-config_v1_configmap.yaml
  community-operators/must-gather-operator/1.0.0/manifests/must-gather-operator.clusterserviceversion.yaml
  community-operators/must-gather-operator/1.0.0/manifests/redhatcop.redhat.io_mustgathers.yaml
  community-operators/must-gather-operator/1.0.0/metadata/annotations.yaml
  community-operators/must-gather-operator/1.0.0/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2987 namespace-configuration-operator new version 1.0.0
  community-operators/namespace-configuration-operator/1.0.0/Dockerfile
  community-operators/namespace-configuration-operator/1.0.0/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  community-operators/namespace-configuration-operator/1.0.0/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/1.0.0/manifests/redhatcop.redhat.io_groupconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.0/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.0/manifests/redhatcop.redhat.io_userconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.0/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/1.0.0/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#2946 Infinispan Operator community 2.0.6
  community-operators/infinispan/2.0.6/infinispan-operator.v2.0.6.clusterserviceversion.yaml
  community-operators/infinispan/2.0.6/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.0.6/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: ok-to-test, openshift-operator

#2990 Update hazelcast-enterprise-operator to 0.3.4
  upstream-community-operators/hazelcast-enterprise-operator/0.3.4/hazelcast-enterprise-operator.v0.3.4.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise-operator/0.3.4/hazelcastenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise-operator/hazelcast-enterprise-operator.package.yaml
Labels: kubernetes-operator

#2995 Change maintainers information in Aqua upstream CSV.
  upstream-community-operators/aqua/1.0.2/aqua-operator.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/aqua/5.3.0/aqua-operator.v5.3.0.clusterserviceversion.yaml
Labels: allow/operator-recreate, kubernetes-operator, lgtm

#3001 update grafana-operator manifests to v3.8.0 (upstream)
  upstream-community-operators/grafana-operator/3.8.0/grafana-operator.v3.8.0.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.8.0/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.8.0/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.8.0/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: kubernetes-operator

#3005 Update eclipse-che operator for kubernetes to release 7.24.2
  upstream-community-operators/eclipse-che/7.24.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.24.2/eclipse-che.v7.24.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#3006 Update eclipse-che operator for openshift to release 7.24.2
  community-operators/eclipse-che/7.24.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.24.2/eclipse-che.v7.24.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3013 Add Strimzi 0.21.1 to Upstream Community Operators
  upstream-community-operators/strimzi-kafka-operator/0.21.1/kafkabridges.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/kafkas.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/kafkatopics.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/kafkausers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/strimzi-cluster-operator.v0.21.1.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/strimziclusteroperator.configmap.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/strimzientityoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/strimzikafkabroker.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/strimzikafkaclient.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.21.1/strimzitopicoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: kubernetes-operator

#2999 K8s Integrity Shield Operator 0.1.3 [upstream-community-operators]
  upstream-community-operators/integrity-shield-operator/0.1.3/manifests/apis.integrityshield.io_integrityshields.yaml
  upstream-community-operators/integrity-shield-operator/0.1.3/manifests/integrity-shield-operator-manager_v1_serviceaccount.yaml
  upstream-community-operators/integrity-shield-operator/0.1.3/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  upstream-community-operators/integrity-shield-operator/0.1.3/manifests/integrity-shield-operator.clusterserviceversion.yaml
  upstream-community-operators/integrity-shield-operator/0.1.3/metadata/annotations.yaml
  upstream-community-operators/integrity-shield-operator/ci.yaml
Labels: kubernetes-operator, needs-ok-to-test

#3000 Update Grafana-Operator to v3.8.0 (Community)
  community-operators/grafana-operator/3.8.0/grafana-operator.v3.8.0.clusterserviceversion.yaml
  community-operators/grafana-operator/3.8.0/grafanadashboards.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.8.0/grafanadatasources.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.8.0/grafanas.integreatly.org.crd.yaml
  community-operators/grafana-operator/grafana-operator.package.yaml
Labels: lgtm, openshift-operator

#3002 Hpe csi 1.4.1
  upstream-community-operators/hpe-csi-operator/1.0.0/Dockerfile
  upstream-community-operators/hpe-csi-operator/1.0.0/manifests/hpe-csi-driver-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/1.0.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-operator/1.0.0/metadata/annotations.yaml
  upstream-community-operators/hpe-csi-operator/1.1.0/Dockerfile
  upstream-community-operators/hpe-csi-operator/1.1.0/manifests/hpe-csi-operator.v1.1.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/1.1.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-operator/1.1.0/metadata/annotations.yaml
  upstream-community-operators/hpe-csi-operator/1.2.0/Dockerfile
  upstream-community-operators/hpe-csi-operator/1.2.0/manifests/hpe-csi-operator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/1.2.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-operator/1.2.0/metadata/annotations.yaml
  upstream-community-operators/hpe-csi-operator/1.3.0/Dockerfile
  upstream-community-operators/hpe-csi-operator/1.3.0/manifests/hpe-csi-operator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/1.3.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-operator/1.3.0/metadata/annotations.yaml
  upstream-community-operators/hpe-csi-operator/1.4.0/Dockerfile
  upstream-community-operators/hpe-csi-operator/1.4.0/manifests/hpe-csi-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/1.4.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-operator/1.4.0/metadata/annotations.yaml
  upstream-community-operators/hpe-csi-operator/1.4.1/Dockerfile
  upstream-community-operators/hpe-csi-operator/1.4.1/manifests/hpe-csi-operator.v1.4.1.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/1.4.1/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-operator/1.4.1/metadata/annotations.yaml
  upstream-community-operators/hpe-csi-operator/hpe-csi-driver-operator.package.yaml
Labels: allow/operator-recreate, kubernetes-operator

#3012 Add Strimzi 0.21.1 to Community Operators
  community-operators/strimzi-kafka-operator/0.21.1/kafkabridges.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.21.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.21.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.21.1/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.21.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.21.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.21.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.21.1/kafkas.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.21.1/kafkatopics.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.21.1/kafkausers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.21.1/strimzi-cluster-operator.v0.21.1.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.21.1/strimziclusteroperator.configmap.yaml
  community-operators/strimzi-kafka-operator/0.21.1/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.21.1/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.21.1/strimzikafkaclient.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.21.1/strimzitopicoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: lgtm, openshift-operator

#3016 Update WildFly Operator 0.5.0
  upstream-community-operators/wildfly/0.5.0/wildfly-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/wildfly/0.5.0/wildflyservers.wildfly.org.crd.yaml
  upstream-community-operators/wildfly/wildfly.package.yaml
Labels: kubernetes-operator

#3028 Update victoriametrics operator v0.7.3
  upstream-community-operators/victoriametrics-operator/0.7.3/operator.victoriametrics.com_vmagents.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/operator.victoriametrics.com_vmalertmanagers.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/operator.victoriametrics.com_vmalerts.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/operator.victoriametrics.com_vmclusters.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/operator.victoriametrics.com_vmnodescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/operator.victoriametrics.com_vmpodscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/operator.victoriametrics.com_vmprobes.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/operator.victoriametrics.com_vmrules.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/operator.victoriametrics.com_vmservicescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/operator.victoriametrics.com_vmsingles.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/victoriametrics-operator.0.7.3.clusterserviceversion.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/victoriametrics-operator/0.7.3/vm-operator-vm-operator_v1_serviceaccount.yaml
  upstream-community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: kubernetes-operator

#3025 Release kong-operator v0.7.0
  upstream-community-operators/kong/0.7.0/kong.v0.7.0.clusterserviceversion.yaml
  upstream-community-operators/kong/0.7.0/kongs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/kong/kong.package.yaml
Labels: kubernetes-operator

#3024 bump grafana-operator to v3.8.1
  upstream-community-operators/grafana-operator/3.8.1/grafana-operator.v3.8.1.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.8.1/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.8.1/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.8.1/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: kubernetes-operator

#3008 add OpenShift Hive operator 1.0.18 for upstream
  upstream-community-operators/hive-operator/1.0.18/hive-operator.v1.0.18.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.0.18/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.0.18/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.0.18/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#2994 Change maintainer information in Aqua community CSV
  community-operators/aqua/1.0.2/aqua-operator.v1.0.2.clusterserviceversion.yaml
  community-operators/aqua/5.3.0/aqua-operator.v5.3.0.clusterserviceversion.yaml
Labels: allow/operator-recreate, ok-to-test, openshift-operator

#3023 bump grafana-operator to v3.8.1
  community-operators/grafana-operator/3.8.1/grafana-operator.v3.8.1.clusterserviceversion.yaml
  community-operators/grafana-operator/3.8.1/grafanadashboards.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.8.1/grafanadatasources.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.8.1/grafanas.integreatly.org.crd.yaml
  community-operators/grafana-operator/grafana-operator.package.yaml
Labels: area/dependency, ok-to-test, openshift-operator

#3009 add OpenShift Hive operator 1.0.18
  community-operators/hive-operator/1.0.18/hive-operator.v1.0.18.clusterserviceversion.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.0.18/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.0.18/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.0.18/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: openshift-operator

#3029 Fail message
  scripts/ci/openshift-deploy.sh
Labels: needs-ok-to-test

#2989 add new community operator vault-helm
  upstream-community-operators/vault-helm/0.0.1/manifests/vault-helm.clusterserviceversion.yaml
  upstream-community-operators/vault-helm/0.0.1/manifests/vaults.vault.sdbrett.com.crd.yaml
  upstream-community-operators/vault-helm/0.0.1/metadata/annotations.yaml
  upstream-community-operators/vault-helm/ci.yaml
Labels: kubernetes-operator

#3030 Add the 0.20.0 Knative Operator
  upstream-community-operators/knative-operator/0.20.0/knative-operator.v0.19.1.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.20.0/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.20.0/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: kubernetes-operator

#3031 Add Ilya Buziuk to list of maintainers of kubernetes image puller operator
  upstream-community-operators/kubernetes-imagepuller-operator/0.0.5/che.eclipse.org_kubernetesimagepullers_crd.yaml
  upstream-community-operators/kubernetes-imagepuller-operator/0.0.5/kubernetes-imagepuller-operator.v0.0.5.clusterserviceversion.yaml
  upstream-community-operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: kubernetes-operator

#3032 Add Ilya Buziuk to maintainer list of kubernetes image puller operator
  community-operators/kubernetes-imagepuller-operator/0.0.5/che.eclipse.org_kubernetesimagepullers_crd.yaml
  community-operators/kubernetes-imagepuller-operator/0.0.5/kubernetes-imagepuller-operator.v0.0.5.clusterserviceversion.yaml
  community-operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3039 upgrade mysql-operator to v0.5.0
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql-operator.clusterserviceversion.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_backups.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_databases.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_grants.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_instances.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_stores.yaml
  upstream-community-operators/mysql-operator/0.5.0/manifests/mysql.blaqkube.io_users.yaml
  upstream-community-operators/mysql-operator/0.5.0/metadata/annotations.yaml
Labels: kubernetes-operator

#3038 convert to bundles
  upstream-community-operators/cockroachdb/2.0.9/bundle.Dockerfile
  upstream-community-operators/cockroachdb/2.0.9/manifests/cockroachdb.v2.0.9.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/2.0.9/manifests/cockroachdbs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/cockroachdb/2.0.9/metadata/annotations.yaml
  upstream-community-operators/cockroachdb/2.1.1/bundle.Dockerfile
  upstream-community-operators/cockroachdb/2.1.1/manifests/cockroachdb.v2.1.1.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/2.1.1/manifests/cockroachdbs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/cockroachdb/2.1.1/metadata/annotations.yaml
  upstream-community-operators/cockroachdb/2.1.11/bundle.Dockerfile
  upstream-community-operators/cockroachdb/2.1.11/manifests/cockroachdb.v2.1.11.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/2.1.11/manifests/cockroachdbs.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/cockroachdb/2.1.11/metadata/annotations.yaml
  upstream-community-operators/cockroachdb/3.0.7/bundle.Dockerfile
  upstream-community-operators/cockroachdb/3.0.7/manifests/charts_v1alpha1_cockroachdb_crd.yaml
  upstream-community-operators/cockroachdb/3.0.7/manifests/cockroachdb.v3.0.7.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/3.0.7/metadata/annotations.yaml
  upstream-community-operators/cockroachdb/cockroachdb.package.yaml
Labels: allow/operator-recreate, kubernetes-operator

#3043 add operator vault-helm to community operators
  community-operators/vault-helm/0.0.1/manifests/vault-helm.clusterserviceversion.yaml
  community-operators/vault-helm/0.0.1/manifests/vaults.vault.sdbrett.com.crd.yaml
  community-operators/vault-helm/0.0.1/metadata/annotations.yaml
  community-operators/vault-helm/ci.yaml
Labels: ok-to-test, openshift-operator

#3042 global-load-balancer-operator new version 1.0.0
  community-operators/global-load-balancer-operator/1.0.0/Dockerfile
  community-operators/global-load-balancer-operator/1.0.0/manifests/global-load-balancer-operator-manager-config_v1_configmap.yaml
  community-operators/global-load-balancer-operator/1.0.0/manifests/global-load-balancer-operator.clusterserviceversion.yaml
  community-operators/global-load-balancer-operator/1.0.0/manifests/redhatcop.redhat.io_globaldnsrecords.yaml
  community-operators/global-load-balancer-operator/1.0.0/manifests/redhatcop.redhat.io_globaldnszones.yaml
  community-operators/global-load-balancer-operator/1.0.0/manifests/redhatcop.redhat.io_globalroutediscoveries.yaml
  community-operators/global-load-balancer-operator/1.0.0/metadata/annotations.yaml
  community-operators/global-load-balancer-operator/1.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3041 keepalived-operator new version 1.0.0
  community-operators/keepalived-operator/1.0.0/Dockerfile
  community-operators/keepalived-operator/1.0.0/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  community-operators/keepalived-operator/1.0.0/manifests/keepalived-operator.clusterserviceversion.yaml
  community-operators/keepalived-operator/1.0.0/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  community-operators/keepalived-operator/1.0.0/metadata/annotations.yaml
  community-operators/keepalived-operator/1.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3040 Add OOTB cluster role binding to Aqua community operator.
  community-operators/aqua/5.3.0/aqua-operator.v5.3.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, ok-to-test, openshift-operator

#3035 Add initial version v0.1.0 for dynatrace-operator
  upstream-community-operators/dynatrace-operator/0.1.0/Dockerfile
  upstream-community-operators/dynatrace-operator/0.1.0/manifests/dynatrace-kubernetes-monitoring_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/dynatrace-operator/0.1.0/manifests/dynatrace-kubernetes-monitoring_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/dynatrace-operator/0.1.0/manifests/dynatrace-kubernetes-monitoring_v1_serviceaccount.yaml
  upstream-community-operators/dynatrace-operator/0.1.0/manifests/dynatrace-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/dynatrace-operator/0.1.0/manifests/dynatrace-operator_v1_serviceaccount.yaml
  upstream-community-operators/dynatrace-operator/0.1.0/manifests/dynatrace.com_dynakubes.yaml
  upstream-community-operators/dynatrace-operator/0.1.0/metadata/annotations.yaml
Labels: kubernetes-operator

#3045 Upgrade snyk-operator to version 1.41.0
  upstream-community-operators/snyk-operator/1.41.0/snyk-operator.v1.41.0.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.41.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: kubernetes-operator

#2973 Steerd presto operator 0.1.0
  upstream-community-operators/steerd-presto-operator/0.1.0/falarica.io.prestos.crd.yaml
  upstream-community-operators/steerd-presto-operator/0.1.0/steerd-presto-operator.v0.1.0.clusterserviceversion.yaml
  upstream-community-operators/steerd-presto-operator/ci.yaml
  upstream-community-operators/steerd-presto-operator/steerd-presto.package.yaml
Labels: kubernetes-operator

#3046 Upgrade snyk-operator to version 1.41.0
  community-operators/snyk-operator/1.41.0/snyk-operator.v1.41.0.clusterserviceversion.yaml
  community-operators/snyk-operator/1.41.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3050 Upgrade YAKS to 0.2.0 in upstream community operators
  upstream-community-operators/yaks/0.2.0/tests.yaks.citrusframework.org.crd.yaml
  upstream-community-operators/yaks/0.2.0/yaks.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/yaks/yaks.package.yaml
Labels: kubernetes-operator

#3049 Upgrade YAKS to 0.2.0 in community operators
  community-operators/yaks/0.2.0/tests.yaks.citrusframework.org.crd.yaml
  community-operators/yaks/0.2.0/yaks.v0.2.0.clusterserviceversion.yaml
  community-operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator

#3051 MongoDB Enterprise Operator: Fixed errors in CSVs
  upstream-community-operators/mongodb-enterprise/1.9.0/manifests/mongodb-enterprise.v1.9.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.9.1/manifests/mongodb-enterprise.v1.9.1.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3057 chore: Bump up Starboard Operator from v0.8.0 to v0.9.0
  upstream-community-operators/starboard-operator/0.9.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.9.0/starboard-operator.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/starboard-operator/0.9.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/starboard-operator.package.yaml
Labels: kubernetes-operator

#3053 Fix incorrect digest in Strimzi 0.21.1 in community-operators
  community-operators/strimzi-kafka-operator/0.21.1/strimzi-cluster-operator.v0.21.1.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, ok-to-test, openshift-operator

#3058 Improved review and test execution
  .github/workflows/operator_test.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3052 Fix incorrect digest in Strimzi 0.21.1 in upstream-community-operators
  upstream-community-operators/strimzi-kafka-operator/0.21.1/strimzi-cluster-operator.v0.21.1.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3062 Disk cleanup for ohio image build introduced
  .github/workflows/operator_release.yaml
  scripts/ci/disk-cleanup-on-startup.sh
Labels: allow/ci-changes

#3037 Update community-operators/special-resource-operator CSV with bundle …
  community-operators/special-resource-operator/0.0.1/Dockerfile
  community-operators/special-resource-operator/0.0.1/manifests/special-resource-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/special-resource-operator/0.0.1/manifests/special-resource-controller-manager-metrics-service_v1_service.yaml
  community-operators/special-resource-operator/0.0.1/manifests/special-resource-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/special-resource-operator/0.0.1/manifests/special-resource-operator.clusterserviceversion.yaml
  community-operators/special-resource-operator/0.0.1/manifests/special-resource-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  community-operators/special-resource-operator/0.0.1/manifests/special-resource-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  community-operators/special-resource-operator/0.0.1/manifests/sro.openshift.io_specialresources.yaml
  community-operators/special-resource-operator/0.0.1/metadata/annotations.yaml
  community-operators/special-resource-operator/0.0.1/special-resource-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/special-resource-operator/0.0.1/specialresources.sro.openshift.io.crd.yaml
  community-operators/special-resource-operator/0.0.1/tests/scorecard/config.yaml
  community-operators/special-resource-operator/special-resource-operator.package.yaml
Labels: allow/operator-version-overwrite, ok-to-test, openshift-operator

#3070 Add Dynatrace OneAgent Operator v0.9.5
  upstream-community-operators/oneagent/0.9.5/dynatrace-monitoring.v0.9.5.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.9.5/dynatrace.com_oneagentapms_crd.yaml
  upstream-community-operators/oneagent/0.9.5/dynatrace.com_oneagents_crd.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator

#3036 Troubleshooting
  docs/README.md
  docs/troubleshooting.md
Labels: kind/documentation

#3073 Overwrite support on release
  .github/workflows/operator_release.yaml
  mkdocs.yml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3076 add cockroachdb v5.0.3 to upstream
  upstream-community-operators/cockroachdb/5.0.3/bundle.Dockerfile
  upstream-community-operators/cockroachdb/5.0.3/manifests/charts.operatorhub.io_cockroachdbs.yaml
  upstream-community-operators/cockroachdb/5.0.3/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/cockroachdb/5.0.3/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/cockroachdb/5.0.3/manifests/cockroachdb.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/5.0.3/metadata/annotations.yaml
Labels: kubernetes-operator

#3077 add cockroachdb 5.0.3 to openshift
  community-operators/cockroachdb/2.0.9/bundle.Dockerfile
  community-operators/cockroachdb/2.0.9/manifests/cockroachdb.v2.0.9.clusterserviceversion.yaml
  community-operators/cockroachdb/2.0.9/manifests/cockroachdbs.charts.helm.k8s.io.crd.yaml
  community-operators/cockroachdb/2.0.9/metadata/annotations.yaml
  community-operators/cockroachdb/2.1.1/bundle.Dockerfile
  community-operators/cockroachdb/2.1.1/manifests/cockroachdb.v2.1.1.clusterserviceversion.yaml
  community-operators/cockroachdb/2.1.1/manifests/cockroachdbs.charts.helm.k8s.io.crd.yaml
  community-operators/cockroachdb/2.1.1/metadata/annotations.yaml
  community-operators/cockroachdb/2.1.11/bundle.Dockerfile
  community-operators/cockroachdb/2.1.11/manifests/cockroachdb.v2.1.11.clusterserviceversion.yaml
  community-operators/cockroachdb/2.1.11/manifests/cockroachdbs.charts.helm.k8s.io.crd.yaml
  community-operators/cockroachdb/2.1.11/metadata/annotations.yaml
  community-operators/cockroachdb/3.0.7/bundle.Dockerfile
  community-operators/cockroachdb/3.0.7/manifests/charts_v1alpha1_cockroachdb_crd.yaml
  community-operators/cockroachdb/3.0.7/manifests/cockroachdb.v3.0.7.clusterserviceversion.yaml
  community-operators/cockroachdb/3.0.7/metadata/annotations.yaml
  community-operators/cockroachdb/5.0.3/bundle.Dockerfile
  community-operators/cockroachdb/5.0.3/manifests/charts.operatorhub.io_cockroachdbs.yaml
  community-operators/cockroachdb/5.0.3/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  community-operators/cockroachdb/5.0.3/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/cockroachdb/5.0.3/manifests/cockroachdb.clusterserviceversion.yaml
  community-operators/cockroachdb/5.0.3/metadata/annotations.yaml
  community-operators/cockroachdb/cockroachdb.package.yaml
Labels: openshift-operator

#3078 add cockroachdb 5.0.4 to upstream
  upstream-community-operators/cockroachdb/5.0.4/bundle.Dockerfile
  upstream-community-operators/cockroachdb/5.0.4/manifests/charts.operatorhub.io_cockroachdbs.yaml
  upstream-community-operators/cockroachdb/5.0.4/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/cockroachdb/5.0.4/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/5.0.4/metadata/annotations.yaml
Labels: kubernetes-operator
