Repository operator-framework/community-operators, pull requests merged in 2021-07, with the labels that each got.

#4175 community-operators azure-service-operator (1.0.24492)
  community-operators/azure-service-operator/1.0.24492/azure-service-operator.v1.0.24492.clusterserviceversion.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_apimgmtapis.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_apimservices.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_appinsights.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_appinsightsapikeys.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azureloadbalancers.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azurenetworkinterfaces.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azurepublicipaddresses.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlactions.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqldatabases.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlfailovergroups.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlfirewallrules.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlmanagedusers.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlservers.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlusers.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlvnetrules.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azurevirtualmachineextensions.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azurevirtualmachines.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azurevmscalesets.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_blobcontainers.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_consumergroups.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_cosmosdbs.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_cosmosdbsqldatabases.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_eventhubnamespaces.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_eventhubs.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_keyvaultkeys.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_keyvaults.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlaadusers.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqldatabases.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlfirewallrules.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlserveradministrators.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlservers.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlusers.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlvnetrules.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_postgresqldatabases.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_postgresqlfirewallrules.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_postgresqlservers.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_postgresqlusers.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_postgresqlvnetrules.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_rediscacheactions.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_rediscachefirewallrules.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_rediscaches.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_resourcegroups.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_storageaccounts.yaml
  community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_virtualnetworks.yaml
  community-operators/azure-service-operator/1.0.24492/azureoperator-webhook-service.yaml
  community-operators/azure-service-operator/azure-service-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4155 community-operators grafana-operator (3.10.2)
  community-operators/grafana-operator/3.10.2/grafana-operator.v3.10.2.clusterserviceversion.yaml
  community-operators/grafana-operator/3.10.2/grafanadashboards.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.10.2/grafanadatasources.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.10.2/grafanas.integreatly.org.crd.yaml
  community-operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4182 community-operators flux (0.16.0)
  community-operators/flux/0.16.0/manifests/alert.crd.yaml
  community-operators/flux/0.16.0/manifests/bucket.crd.yaml
  community-operators/flux/0.16.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.16.0/manifests/crd-controller-flux-system.clusterrole.yaml
  community-operators/flux/0.16.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.16.0/manifests/flux.v0.16.0.clusterserviceversion.yaml
  community-operators/flux/0.16.0/manifests/gitrepository.crd.yaml
  community-operators/flux/0.16.0/manifests/helm-controller.serviceaccount.yaml
  community-operators/flux/0.16.0/manifests/helmchart.crd.yaml
  community-operators/flux/0.16.0/manifests/helmrelease.crd.yaml
  community-operators/flux/0.16.0/manifests/helmrepository.crd.yaml
  community-operators/flux/0.16.0/manifests/image-automation-controller.serviceaccount.yaml
  community-operators/flux/0.16.0/manifests/image-reflector-controller.serviceaccount.yaml
  community-operators/flux/0.16.0/manifests/imagepolicy.crd.yaml
  community-operators/flux/0.16.0/manifests/imagerepository.crd.yaml
  community-operators/flux/0.16.0/manifests/imageupdateautomation.crd.yaml
  community-operators/flux/0.16.0/manifests/kustomization.crd.yaml
  community-operators/flux/0.16.0/manifests/kustomize-controller.serviceaccount.yaml
  community-operators/flux/0.16.0/manifests/notification-controller.service.yaml
  community-operators/flux/0.16.0/manifests/notification-controller.serviceaccount.yaml
  community-operators/flux/0.16.0/manifests/provider.crd.yaml
  community-operators/flux/0.16.0/manifests/receiver.crd.yaml
  community-operators/flux/0.16.0/manifests/source-controller.service.yaml
  community-operators/flux/0.16.0/manifests/source-controller.serviceaccount.yaml
  community-operators/flux/0.16.0/manifests/webhook-receiver.service.yaml
  community-operators/flux/0.16.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4183 upstream-community-operators flux (0.16.0)
  upstream-community-operators/flux/0.16.0/manifests/alert.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/bucket.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.16.0/manifests/crd-controller-flux-system.clusterrole.yaml
  upstream-community-operators/flux/0.16.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.16.0/manifests/flux.v0.16.0.clusterserviceversion.yaml
  upstream-community-operators/flux/0.16.0/manifests/gitrepository.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/helm-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.0/manifests/helmchart.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/helmrelease.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/helmrepository.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/image-automation-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.0/manifests/image-reflector-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.0/manifests/imagepolicy.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/imagerepository.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/imageupdateautomation.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/kustomization.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/kustomize-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.0/manifests/notification-controller.service.yaml
  upstream-community-operators/flux/0.16.0/manifests/notification-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.0/manifests/provider.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/receiver.crd.yaml
  upstream-community-operators/flux/0.16.0/manifests/source-controller.service.yaml
  upstream-community-operators/flux/0.16.0/manifests/source-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.0/manifests/webhook-receiver.service.yaml
  upstream-community-operators/flux/0.16.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4184 Changed default to 5000 PRs
  ci/operator-flow/doc.sh
Labels: allow/ci-changes

#4186 upstream-community-operators poison-pill-operator (0.0.5)
  upstream-community-operators/poison-pill-operator/0.0.5/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/poison-pill-operator/0.0.5/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/poison-pill-operator/0.0.5/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.5/manifests/poison-pill-manager-config_v1_configmap.yaml
  upstream-community-operators/poison-pill-operator/0.0.5/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.5/manifests/poison-pill.clusterserviceversion.yaml
  upstream-community-operators/poison-pill-operator/0.0.5/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  upstream-community-operators/poison-pill-operator/0.0.5/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  upstream-community-operators/poison-pill-operator/0.0.5/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  upstream-community-operators/poison-pill-operator/0.0.5/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4188 upstream-community-operators aqua (6.2.0)
  upstream-community-operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
  upstream-community-operators/aqua/6.2.0/aquacsps.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.2.0/aquadatabases.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.2.0/aquaenforcers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.2.0/aquagateways.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.2.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.2.0/aquascanners.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.2.0/aquaservers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aqua-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4187 community-operators aqua (6.2.0)
  community-operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
  community-operators/aqua/6.2.0/aquacsps.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.2.0/aquadatabases.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.2.0/aquaenforcers.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.2.0/aquagateways.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.2.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.2.0/aquascanners.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.2.0/aquaservers.operator.aquasec.com.crd.yaml
  community-operators/aqua/aqua-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4185 community-operators poison-pill-operator (0.0.5)
  community-operators/poison-pill-operator/0.0.5/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  community-operators/poison-pill-operator/0.0.5/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  community-operators/poison-pill-operator/0.0.5/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.5/manifests/poison-pill-manager-config_v1_configmap.yaml
  community-operators/poison-pill-operator/0.0.5/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.5/manifests/poison-pill.clusterserviceversion.yaml
  community-operators/poison-pill-operator/0.0.5/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  community-operators/poison-pill-operator/0.0.5/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  community-operators/poison-pill-operator/0.0.5/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  community-operators/poison-pill-operator/0.0.5/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4193 upstream-community-operators knative-operator (0.24.0)
  upstream-community-operators/knative-operator/0.24.0/knative-operator.v0.24.0.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.24.0/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.24.0/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4195 upstream-community-operators tackle-operator (0.0.4)
  upstream-community-operators/tackle-operator/0.0.4/Dockerfile
  upstream-community-operators/tackle-operator/0.0.4/manifests/tackle-operator.v0.0.4.clusterserviceversion.yaml
  upstream-community-operators/tackle-operator/0.0.4/manifests/tackle.crd.yaml
  upstream-community-operators/tackle-operator/0.0.4/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4194 community-operators tackle-operator (0.0.4)
  community-operators/tackle-operator/0.0.4/Dockerfile
  community-operators/tackle-operator/0.0.4/manifests/tackle-operator.v0.0.4.clusterserviceversion.yaml
  community-operators/tackle-operator/0.0.4/manifests/tackle.crd.yaml
  community-operators/tackle-operator/0.0.4/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4197 upstream-community-operators hive-operator (1.1.6)
  upstream-community-operators/hive-operator/1.1.6/hive-operator.v1.1.6.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.6/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.1.6/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.1.6/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/1.1.6/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4198 community-operators hive-operator (1.1.6)
  community-operators/hive-operator/1.1.6/hive-operator.v1.1.6.clusterserviceversion.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.1.6/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.1.6/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.1.6/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/1.1.6/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4196 upstream-community-operators [CI] storageos (2.4.0)
  upstream-community-operators/storageos/ci.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4192 upstream-community-operators storageos (2.4.1)
  upstream-community-operators/storageos/2.4.1/storageos.v2.4.1.clusterserviceversion.yaml
  upstream-community-operators/storageos/2.4.1/storageoscluster.crd.yaml
  upstream-community-operators/storageos/2.4.1/storageosjob.crd.yaml
  upstream-community-operators/storageos/2.4.1/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/2.4.1/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4189 community-operators microcks (1.3.0)
  community-operators/microcks/1.3.0/microcks-operator.v1.3.0.clusterserviceversion.yaml
  community-operators/microcks/1.3.0/microcksinstall.crd.yaml
  community-operators/microcks/microcks.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4190 upstream-community-operators microcks (1.3.0)
  upstream-community-operators/microcks/1.3.0/microcks-operator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/microcks/1.3.0/microcksinstall.crd.yaml
  upstream-community-operators/microcks/microcks.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4180 Remove the old knative serving operator in favor of knative operator
  upstream-community-operators/knative-serving-operator/0.11.0/knative-serving-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.11.0/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-serving-operator/0.12.2/knative-serving-operator.v0.12.2.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.12.2/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-serving-operator/0.13.1/knative-serving-operator.v0.13.1.clusterserviceversion.yaml
  upstream-community-operators/knative-serving-operator/0.13.1/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-serving-operator/ci.yaml
  upstream-community-operators/knative-serving-operator/knative-serving-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4181 Remove the old knative eventing operator to favor knative operator
  upstream-community-operators/knative-eventing-operator/0.11.0/eventing_v1alpha1_knativeeventing_crd.yaml
  upstream-community-operators/knative-eventing-operator/0.11.0/knative-eventing-operator.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.12.1/eventings.operator.knative.dev.obsolete.crd.yaml
  upstream-community-operators/knative-eventing-operator/0.12.1/knative-eventing-operator.v0.12.1.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.12.1/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-eventing-operator/0.13.1/knative-eventing-operator.v0.13.1.clusterserviceversion.yaml
  upstream-community-operators/knative-eventing-operator/0.13.1/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-eventing-operator/ci.yaml
  upstream-community-operators/knative-eventing-operator/knative-eventing-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4199 upstream-community-operators eclipse-che (7.32.2)
  upstream-community-operators/eclipse-che/7.32.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.32.2/eclipse-che.v7.32.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4200 community-operators eclipse-che (7.32.2)
  community-operators/eclipse-che/7.32.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.32.2/eclipse-che.v7.32.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4203 upstream-community-operators [N] metallb-operator (0.1.0)
  upstream-community-operators/metallb-operator/0.1.0/manifests/metallboperator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/metallb-operator/0.1.0/manifests/metallboperator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4204 upstream-community-operators [N] metallb-operator (0.1.0)
  upstream-community-operators/metallb-operator/0.1.0/manifests/metallb-operator.clusterserviceversion.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4191 community-operators [R] ibm-block-csi-operator-community (1.3.0 1.4.0 1.5.0 1.6.0)
  community-operators/ibm-block-csi-operator-community/1.0.0/ibm-block-csi-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator-community/1.1.0/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator-community/1.2.0/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator-community/1.2.0/ibm-block-csi-operator.v1.2.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator-community/1.3.0/bundle-1.3.0.Dockerfile
  community-operators/ibm-block-csi-operator-community/1.3.0/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator-community/1.3.0/manifests/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator-community/1.3.0/manifests/ibm-block-csi-operator.v1.3.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator-community/1.3.0/metadata/annotations.yaml
  community-operators/ibm-block-csi-operator-community/1.4.0/bundle-1.4.0.Dockerfile
  community-operators/ibm-block-csi-operator-community/1.4.0/manifests/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator-community/1.4.0/manifests/ibm-block-csi-operator.v1.4.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator-community/1.4.0/metadata/annotations.yaml
  community-operators/ibm-block-csi-operator-community/1.5.0/bundle-1.5.0.Dockerfile
  community-operators/ibm-block-csi-operator-community/1.5.0/manifests/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator-community/1.5.0/manifests/ibm-block-csi-operator.v1.5.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator-community/1.5.0/metadata/annotations.yaml
  community-operators/ibm-block-csi-operator-community/1.6.0/bundle-1.6.0.Dockerfile
  community-operators/ibm-block-csi-operator-community/1.6.0/manifests/ibm-block-csi-operator.v1.6.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator-community/1.6.0/manifests/ibmblockcsis.csi.ibm.com.crd.yaml
  community-operators/ibm-block-csi-operator-community/1.6.0/metadata/annotations.yaml
  community-operators/ibm-block-csi-operator-community/ibm-block-csi-operator.package.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#4209 upstream-community-operators tackle-operator (1.0.0)
  upstream-community-operators/tackle-operator/1.0.0/Dockerfile
  upstream-community-operators/tackle-operator/1.0.0/manifests/tackle-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/tackle-operator/1.0.0/manifests/tackle.crd.yaml
  upstream-community-operators/tackle-operator/1.0.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4171 community-operators konveyor-forklift-operator (2.0.0)
  community-operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  community-operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_hooks.yaml
  community-operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_hosts.yaml
  community-operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_migrations.yaml
  community-operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_networkmaps.yaml
  community-operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_plans.yaml
  community-operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_providers.yaml
  community-operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_provisioners.yaml
  community-operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_storagemaps.yaml
  community-operators/konveyor-forklift-operator/2.0.0/manifests/konveyor-forklift-operator.v2.0.0.clusterserviceversion.yaml
  community-operators/konveyor-forklift-operator/2.0.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4210 community-operators tackle-operator (1.0.0)
  community-operators/tackle-operator/1.0.0/Dockerfile
  community-operators/tackle-operator/1.0.0/manifests/tackle-operator.v1.0.0.clusterserviceversion.yaml
  community-operators/tackle-operator/1.0.0/manifests/tackle.crd.yaml
  community-operators/tackle-operator/1.0.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4212 upstream-community-operators poison-pill-operator (0.0.6)
  upstream-community-operators/poison-pill-operator/0.0.6/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/poison-pill-operator/0.0.6/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/poison-pill-operator/0.0.6/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.6/manifests/poison-pill-manager-config_v1_configmap.yaml
  upstream-community-operators/poison-pill-operator/0.0.6/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.6/manifests/poison-pill.clusterserviceversion.yaml
  upstream-community-operators/poison-pill-operator/0.0.6/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  upstream-community-operators/poison-pill-operator/0.0.6/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  upstream-community-operators/poison-pill-operator/0.0.6/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  upstream-community-operators/poison-pill-operator/0.0.6/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4211 community-operators poison-pill-operator (0.0.6)
  community-operators/poison-pill-operator/0.0.6/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  community-operators/poison-pill-operator/0.0.6/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  community-operators/poison-pill-operator/0.0.6/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.6/manifests/poison-pill-manager-config_v1_configmap.yaml
  community-operators/poison-pill-operator/0.0.6/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.6/manifests/poison-pill.clusterserviceversion.yaml
  community-operators/poison-pill-operator/0.0.6/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  community-operators/poison-pill-operator/0.0.6/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  community-operators/poison-pill-operator/0.0.6/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  community-operators/poison-pill-operator/0.0.6/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4214 community-operators ibm-block-csi-operator-community (1.5.1)
  community-operators/ibm-block-csi-operator-community/1.5.1/bundle-1.5.1.Dockerfile
  community-operators/ibm-block-csi-operator-community/1.5.1/manifests/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator-community/1.5.1/manifests/ibm-block-csi-operator.v1.5.1.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator-community/1.5.1/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4205 upstream-community-operators [N] druid-operator (0.0.6)
  upstream-community-operators/druid-operator/0.0.6/druid-operator.v0.0.6.clusterserviceversion.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4213 upstream-community-operators [R] ibm-block-csi-operator-community (1.3.0 1.4.0 1.5.0 1.5.1)
  upstream-community-operators/ibm-block-csi-operator-community/1.0.0/ibm-block-csi-operator.v1.0.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.2.0/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.2.0/ibm-block-csi-operator.v1.2.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.3.0/bundle-1.3.0.Dockerfile
  upstream-community-operators/ibm-block-csi-operator-community/1.3.0/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.3.0/manifests/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.3.0/manifests/ibm-block-csi-operator.v1.3.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.3.0/metadata/annotations.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.4.0/bundle-1.4.0.Dockerfile
  upstream-community-operators/ibm-block-csi-operator-community/1.4.0/manifests/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.4.0/manifests/ibm-block-csi-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.4.0/metadata/annotations.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.5.0/bundle-1.5.0.Dockerfile
  upstream-community-operators/ibm-block-csi-operator-community/1.5.0/manifests/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.5.0/manifests/ibm-block-csi-operator.v1.5.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.5.0/metadata/annotations.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.5.1/bundle-1.5.1.Dockerfile
  upstream-community-operators/ibm-block-csi-operator-community/1.5.1/manifests/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.5.1/manifests/ibm-block-csi-operator.v1.5.1.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.5.1/metadata/annotations.yaml
  upstream-community-operators/ibm-block-csi-operator-community/ibm-block-csi-operator.package.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, package-validated

#4217 upstream-community-operators flux (0.16.1)
  upstream-community-operators/flux/0.16.1/manifests/alert.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/bucket.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.16.1/manifests/crd-controller-flux-system.clusterrole.yaml
  upstream-community-operators/flux/0.16.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.16.1/manifests/flux.v0.16.1.clusterserviceversion.yaml
  upstream-community-operators/flux/0.16.1/manifests/gitrepository.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/helm-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.1/manifests/helmchart.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/helmrelease.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/helmrepository.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/image-automation-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.1/manifests/image-reflector-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.1/manifests/imagepolicy.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/imagerepository.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/imageupdateautomation.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/kustomization.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/kustomize-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.1/manifests/notification-controller.service.yaml
  upstream-community-operators/flux/0.16.1/manifests/notification-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.1/manifests/provider.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/receiver.crd.yaml
  upstream-community-operators/flux/0.16.1/manifests/source-controller.service.yaml
  upstream-community-operators/flux/0.16.1/manifests/source-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.16.1/manifests/webhook-receiver.service.yaml
  upstream-community-operators/flux/0.16.1/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4218 community-operators flux (0.16.1)
  community-operators/flux/0.16.1/manifests/alert.crd.yaml
  community-operators/flux/0.16.1/manifests/bucket.crd.yaml
  community-operators/flux/0.16.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.16.1/manifests/crd-controller-flux-system.clusterrole.yaml
  community-operators/flux/0.16.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.16.1/manifests/flux.v0.16.1.clusterserviceversion.yaml
  community-operators/flux/0.16.1/manifests/gitrepository.crd.yaml
  community-operators/flux/0.16.1/manifests/helm-controller.serviceaccount.yaml
  community-operators/flux/0.16.1/manifests/helmchart.crd.yaml
  community-operators/flux/0.16.1/manifests/helmrelease.crd.yaml
  community-operators/flux/0.16.1/manifests/helmrepository.crd.yaml
  community-operators/flux/0.16.1/manifests/image-automation-controller.serviceaccount.yaml
  community-operators/flux/0.16.1/manifests/image-reflector-controller.serviceaccount.yaml
  community-operators/flux/0.16.1/manifests/imagepolicy.crd.yaml
  community-operators/flux/0.16.1/manifests/imagerepository.crd.yaml
  community-operators/flux/0.16.1/manifests/imageupdateautomation.crd.yaml
  community-operators/flux/0.16.1/manifests/kustomization.crd.yaml
  community-operators/flux/0.16.1/manifests/kustomize-controller.serviceaccount.yaml
  community-operators/flux/0.16.1/manifests/notification-controller.service.yaml
  community-operators/flux/0.16.1/manifests/notification-controller.serviceaccount.yaml
  community-operators/flux/0.16.1/manifests/provider.crd.yaml
  community-operators/flux/0.16.1/manifests/receiver.crd.yaml
  community-operators/flux/0.16.1/manifests/source-controller.service.yaml
  community-operators/flux/0.16.1/manifests/source-controller.serviceaccount.yaml
  community-operators/flux/0.16.1/manifests/webhook-receiver.service.yaml
  community-operators/flux/0.16.1/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4219 community-operators assisted-service-operator (0.0.7)
  community-operators/assisted-service-operator/0.0.7/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.7/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.7/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.7/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.7/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.7/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/assisted-service.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4222 upstream-community-operators hive-operator (1.1.7)
  upstream-community-operators/hive-operator/1.1.7/hive-operator.v1.1.7.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.7/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.1.7/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.1.7/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/1.1.7/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4223 community-operators hive-operator (1.1.7)
  community-operators/hive-operator/1.1.7/hive-operator.v1.1.7.clusterserviceversion.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.1.7/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.1.7/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.1.7/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/1.1.7/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4224 community-operators camel-k (1.4.1)
  community-operators/camel-k/1.4.1/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.1/camel-k.v1.4.1.clusterserviceversion.yaml
  community-operators/camel-k/1.4.1/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.1/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.1/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.1/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.1/kameletbindings.camel.apache.org.crd.yaml
  community-operators/camel-k/1.4.1/kamelets.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4225 upstream-community-operators camel-k (1.4.1)
  upstream-community-operators/camel-k/1.4.1/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.1/camel-k.v1.4.1.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.4.1/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.1/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.1/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.1/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.1/kameletbindings.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.4.1/kamelets.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4229 upstream-community-operators [CI] keycloak-operator (14.0.0)
  upstream-community-operators/keycloak-operator/ci.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4231 upstream-community-operators camel-k (1.5.0)
  upstream-community-operators/camel-k/1.5.0/builds.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.5.0/camel-k.v1.5.0.clusterserviceversion.yaml
  upstream-community-operators/camel-k/1.5.0/camelcatalogs.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.5.0/integrationkits.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.5.0/integrationplatforms.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.5.0/integrations.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.5.0/kameletbindings.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/1.5.0/kamelets.camel.apache.org.crd.yaml
  upstream-community-operators/camel-k/camel-k.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4227 community-operators camel-k (1.5.0)
  community-operators/camel-k/1.5.0/builds.camel.apache.org.crd.yaml
  community-operators/camel-k/1.5.0/camel-k.v1.5.0.clusterserviceversion.yaml
  community-operators/camel-k/1.5.0/camelcatalogs.camel.apache.org.crd.yaml
  community-operators/camel-k/1.5.0/integrationkits.camel.apache.org.crd.yaml
  community-operators/camel-k/1.5.0/integrationplatforms.camel.apache.org.crd.yaml
  community-operators/camel-k/1.5.0/integrations.camel.apache.org.crd.yaml
  community-operators/camel-k/1.5.0/kameletbindings.camel.apache.org.crd.yaml
  community-operators/camel-k/1.5.0/kamelets.camel.apache.org.crd.yaml
  community-operators/camel-k/camel-k.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4230 community-operators [CI] keycloak-operator (14.0.0)
  community-operators/keycloak-operator/ci.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, openshift-operator, package-validated

#4232 Removing test annotations when test missing
  community-operators/integrity-shield-operator/0.1.3/metadata/annotations.yaml
  community-operators/integrity-shield-operator/0.1.4/metadata/annotations.yaml
  community-operators/integrity-shield-operator/0.1.5/metadata/annotations.yaml
  community-operators/integrity-shield-operator/0.1.6/metadata/annotations.yaml
  community-operators/mongodb-atlas-kubernetes/0.4.0/metadata/annotations.yaml
  community-operators/mongodb-atlas-kubernetes/0.5.0/metadata/annotations.yaml
  community-operators/vault-helm/0.0.1/metadata/annotations.yaml
  community-operators/vault-helm/0.0.2/metadata/annotations.yaml
Labels: openshift-operator

#4233 upstream-community-operators victoriametrics-operator (0.16.0)
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmagents.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmalertmanagers.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmalerts.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmauths.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmclusters.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmnodescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmpodscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmprobes.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmrules.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmservicescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmsingles.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmusers.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/victoriametrics-operator.0.16.0.clusterserviceversion.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/victoriametrics-operator/0.16.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  upstream-community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4234 community-operators victoriametrics-operator (0.16.0)
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmagents.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmalertmanagers.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmalerts.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmauths.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmclusters.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmnodescrapes.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmpodscrapes.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmprobes.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmrules.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmservicescrapes.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmsingles.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  community-operators/victoriametrics-operator/0.16.0/operator.victoriametrics.com_vmusers.yaml
  community-operators/victoriametrics-operator/0.16.0/victoriametrics-operator.0.16.0.clusterserviceversion.yaml
  community-operators/victoriametrics-operator/0.16.0/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/victoriametrics-operator/0.16.0/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/victoriametrics-operator/0.16.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4237 Enable Automerge
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#4173 upstream-community-operators [N] [CI] kom-operator (1.0.2)
  upstream-community-operators/kom-operator/1.0.2/kom-operator.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/kom-operator/1.0.2/microservices.kom.kaiso.github.io.crd.yaml
  upstream-community-operators/kom-operator/ci.yaml
  upstream-community-operators/kom-operator/kom-operator.package.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4236 upstream-community-operators poison-pill-operator (0.1.0)
  upstream-community-operators/poison-pill-operator/0.1.0/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/poison-pill-operator/0.1.0/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/poison-pill-operator/0.1.0/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.1.0/manifests/poison-pill-manager-config_v1_configmap.yaml
  upstream-community-operators/poison-pill-operator/0.1.0/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.1.0/manifests/poison-pill.clusterserviceversion.yaml
  upstream-community-operators/poison-pill-operator/0.1.0/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  upstream-community-operators/poison-pill-operator/0.1.0/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  upstream-community-operators/poison-pill-operator/0.1.0/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  upstream-community-operators/poison-pill-operator/0.1.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4235 community-operators poison-pill-operator (0.1.0)
  community-operators/poison-pill-operator/0.1.0/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  community-operators/poison-pill-operator/0.1.0/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  community-operators/poison-pill-operator/0.1.0/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/poison-pill-operator/0.1.0/manifests/poison-pill-manager-config_v1_configmap.yaml
  community-operators/poison-pill-operator/0.1.0/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/poison-pill-operator/0.1.0/manifests/poison-pill.clusterserviceversion.yaml
  community-operators/poison-pill-operator/0.1.0/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  community-operators/poison-pill-operator/0.1.0/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  community-operators/poison-pill-operator/0.1.0/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  community-operators/poison-pill-operator/0.1.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4239 upstream-community-operators submariner (0.9.1)
  upstream-community-operators/submariner/0.9.1/submariner-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.1/submariner-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.1/submariner-gateway_rbac.authorization.k8s.io_v1_role.yaml
  upstream-community-operators/submariner/0.9.1/submariner-gateway_rbac.authorization.k8s.io_v1_rolebinding.yaml
  upstream-community-operators/submariner/0.9.1/submariner-gateway_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.1/submariner-globalnet_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.1/submariner-globalnet_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.1/submariner-globalnet_rbac.authorization.k8s.io_v1_role.yaml
  upstream-community-operators/submariner/0.9.1/submariner-globalnet_rbac.authorization.k8s.io_v1_rolebinding.yaml
  upstream-community-operators/submariner/0.9.1/submariner-globalnet_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.1/submariner-lighthouse-agent_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.1/submariner-lighthouse-agent_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.1/submariner-lighthouse-agent_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.1/submariner-lighthouse-coredns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.1/submariner-lighthouse-coredns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.1/submariner-lighthouse-coredns_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.1/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.1/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.1/submariner-networkplugin-syncer_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.1/submariner-operator_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.1/submariner-routeagent_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.1/submariner-routeagent_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.1/submariner-routeagent_rbac.authorization.k8s.io_v1_role.yaml
  upstream-community-operators/submariner/0.9.1/submariner-routeagent_rbac.authorization.k8s.io_v1_rolebinding.yaml
  upstream-community-operators/submariner/0.9.1/submariner-routeagent_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.1/submariner.io_brokers.yaml
  upstream-community-operators/submariner/0.9.1/submariner.io_submariners.yaml
  upstream-community-operators/submariner/0.9.1/submariner.v0.9.1.clusterserviceversion.yaml
  upstream-community-operators/submariner/submariner.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4242 upstream-community-operators hive-operator (1.1.8)
  upstream-community-operators/hive-operator/1.1.8/hive-operator.v1.1.8.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.8/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.1.8/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.1.8/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/1.1.8/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4243 community-operators hive-operator (1.1.8)
  community-operators/hive-operator/1.1.8/hive-operator.v1.1.8.clusterserviceversion.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.1.8/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.1.8/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.1.8/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/1.1.8/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4148 community-operators strimzi-kafka-operator (0.24.0)
  community-operators/strimzi-kafka-operator/0.24.0/kafkabridges.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.24.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.24.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.24.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.24.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.24.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.24.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.24.0/kafkas.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.24.0/kafkatopics.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.24.0/kafkausers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.24.0/strimzi-cluster-operator.v0.24.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.24.0/strimziclusteroperator.configmap.yaml
  community-operators/strimzi-kafka-operator/0.24.0/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.24.0/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.24.0/strimzikafkaclient.clusterrole.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4247 upstream-community-operators storageos (2.4.2)
  upstream-community-operators/storageos/2.4.2/storageos.v2.4.2.clusterserviceversion.yaml
  upstream-community-operators/storageos/2.4.2/storageoscluster.crd.yaml
  upstream-community-operators/storageos/2.4.2/storageosjob.crd.yaml
  upstream-community-operators/storageos/2.4.2/storageosnfsserver.crd.yaml
  upstream-community-operators/storageos/2.4.2/storageosupgrade.crd.yaml
  upstream-community-operators/storageos/storageos.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4248 upstream-community-operators cloud-native-postgresql (1.6.0)
  upstream-community-operators/cloud-native-postgresql/1.6.0/bundle.Dockerfile
  upstream-community-operators/cloud-native-postgresql/1.6.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  upstream-community-operators/cloud-native-postgresql/1.6.0/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  upstream-community-operators/cloud-native-postgresql/1.6.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  upstream-community-operators/cloud-native-postgresql/1.6.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  upstream-community-operators/cloud-native-postgresql/1.6.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  upstream-community-operators/cloud-native-postgresql/1.6.0/metadata/annotations.yaml
  upstream-community-operators/cloud-native-postgresql/1.6.0/tests/scorecard/.gitignore
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4249 upstream-community-operators node-healthcheck-operator (0.0.2)
  upstream-community-operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  upstream-community-operators/node-healthcheck-operator/0.0.2/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  upstream-community-operators/node-healthcheck-operator/0.0.2/metadata/annotations.yaml
  upstream-community-operators/node-healthcheck-operator/0.0.2/metadata/dependencies.yaml
  upstream-community-operators/node-healthcheck-operator/0.0.2/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4250 Stop automerge
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#4263 Support/ci 01
  .github/workflows/close_pr.yaml
  README.md
  ci/legacy/labeler.yml
  ci/legacy/workflows/command_merge.yaml
  ci/legacy/workflows/documentation.yaml
  ci/legacy/workflows/operator_ci.yaml
  ci/legacy/workflows/operator_ci_index_sha.yaml
  ci/legacy/workflows/operator_ci_labels.yaml
  ci/legacy/workflows/operator_release.yaml
  ci/legacy/workflows/operator_test.yaml
  ci/legacy/workflows/operator_test_report_openshift_status.yaml
  ci/legacy/workflows/operator_workflow_complete.yaml
  ci/legacy/workflows/prepare_test_index.yaml
  ci/legacy/workflows/reviewer.yaml
  ci/legacy/workflows/stale_issues.yaml
  ci/scripts/old/opp-osr_test.sh
  ci/scripts/opp-disk-cleanup-on-startup.sh
  ci/scripts/opp-env.sh
  ci/scripts/opp-iss.sh
  ci/scripts/opp-oprt-cosmetics.sh
  ci/scripts/opp-oprt.sh
  ci/scripts/opp-osr-run.sh
  ci/scripts/opp-trigger-operatorhubio-ci.sh
  ci/scripts/opp-update.sh
  ci/scripts/opp.sh
  scripts/ci/openshift-deploy-core.sh
  scripts/ci/openshift-deploy.sh
  scripts/template/workflow/command_merge.yaml.js2
  scripts/template/workflow/operator_ci.yaml.js2
  scripts/template/workflow/operator_ci_index_sha.yaml.js2
  scripts/template/workflow/operator_ci_labels.yaml.js2
  scripts/template/workflow/operator_release.yaml.js2
  scripts/template/workflow/operator_test.yaml.js2
  scripts/template/workflow/operator_test_report_openshift_status.yaml.js2
  scripts/template/workflow/operator_workflow_complete.yaml.js2
  scripts/template/workflow/prepare_test_index.yaml.js2
  scripts/template/workflow/reviewer.yaml.js2
  scripts/template/workflow/stale_issues.yaml.js2
Labels: automerge-disabled
