Repository operator-framework/community-operators, pull requests merged in 2021-03, with the labels that each got.

#3204 chore : python : use `--no-cache-dir` flag to `pip` in dockerfiles to save space
  Dockerfile.mkdoc
  scripts/utils/Makefile
Labels: allow/ci-changes, needs-ok-to-test

#3206 Updated the IBM Application Gateway operator Signed-off-by: Kerry Gun…
  upstream-community-operators/ibm-application-gateway-operator/21.2.0/ibm-application-gateway-operator.v21.2.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-application-gateway-operator/21.2.0/ibmapplicationgateways.ibm.com.crd.yaml
  upstream-community-operators/ibm-application-gateway-operator/ibm-application-gateway-operator.package.yaml
Labels: kubernetes-operator

#3205 egressip-ipam-operator new version 1.0.1
  community-operators/egressip-ipam-operator/1.0.1/Dockerfile
  community-operators/egressip-ipam-operator/1.0.1/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  community-operators/egressip-ipam-operator/1.0.1/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/1.0.1/manifests/redhatcop.redhat.io_egressipams.yaml
  community-operators/egressip-ipam-operator/1.0.1/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/1.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3188 Fix a missing category
  upstream-community-operators/mcad-operator/0.1.9/mcad-operator.v0.1.9.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3187 Fix a missing category
  upstream-community-operators/intel-device-plugins-operator/0.19.0/intel-device-plugins-operator.v0.19.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator, verbosity/debug

#3198 updates VictoriaMetrics operator to v0.9.1
  upstream-community-operators/victoriametrics-operator/0.9.1/operator.victoriametrics.com_vmagents.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/operator.victoriametrics.com_vmalertmanagers.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/operator.victoriametrics.com_vmalerts.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/operator.victoriametrics.com_vmclusters.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/operator.victoriametrics.com_vmnodescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/operator.victoriametrics.com_vmpodscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/operator.victoriametrics.com_vmprobes.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/operator.victoriametrics.com_vmrules.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/operator.victoriametrics.com_vmservicescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/operator.victoriametrics.com_vmsingles.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/victoriametrics-operator.0.9.1.clusterserviceversion.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/victoriametrics-operator/0.9.1/vm-operator-vm-operator_v1_serviceaccount.yaml
  upstream-community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: kubernetes-operator

#3185 Fix a missing category
  upstream-community-operators/datadog-operator/0.4.0/datadog-operator.v0.4.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3195 removing synopsys operator from operatorhub
  upstream-community-operators/synopsys/2019.4.0/alerts.synopsys.com.crd.yaml
  upstream-community-operators/synopsys/2019.4.0/blackducks.synopsys.com.crd.yaml
  upstream-community-operators/synopsys/2019.4.0/opssights.synopsys.com.crd.yaml
  upstream-community-operators/synopsys/2019.4.0/synopsys-operator.2019.4.0.clusterserviceversion.yaml
  upstream-community-operators/synopsys/2019.8.4/alerts.synopsys.com.crd.yaml
  upstream-community-operators/synopsys/2019.8.4/blackducks.synopsys.com.crd.yaml
  upstream-community-operators/synopsys/2019.8.4/opssights.synopsys.com.crd.yaml
  upstream-community-operators/synopsys/2019.8.4/synopsys-operator.2019.8.4.clusterserviceversion.yaml
  upstream-community-operators/synopsys/ci.yaml
  upstream-community-operators/synopsys/synopsys.package.yaml
Labels: kubernetes-operator

#3207 Update Ember CSI community-operator to 0.9.4
  community-operators/ember-csi-operator/0.9.4/ember-csi-operator.crd.yaml
  community-operators/ember-csi-operator/0.9.4/ember-csi-operator.v0.9.4.clusterserviceversion.yaml
  community-operators/ember-csi-operator/ember-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3208 Update Ember CSI upstream-community-operator to 0.9.4
  upstream-community-operators/ember-csi-operator/0.9.4/ember-csi-operator.crd.yaml
  upstream-community-operators/ember-csi-operator/0.9.4/ember-csi-operator.v0.9.4.clusterserviceversion.yaml
  upstream-community-operators/ember-csi-operator/ember-csi-operator.package.yaml
Labels: kubernetes-operator, ok-to-test

#3209 egressip-ipam-operator new version 1.0.2
  community-operators/egressip-ipam-operator/1.0.2/Dockerfile
  community-operators/egressip-ipam-operator/1.0.2/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  community-operators/egressip-ipam-operator/1.0.2/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/1.0.2/manifests/redhatcop.redhat.io_egressipams.yaml
  community-operators/egressip-ipam-operator/1.0.2/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/1.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3210 Rho 855 automatic ocp test activation
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3211 Add istio-workspace-operator release 0.0.8 to upstream-community-operators
  upstream-community-operators/istio-workspace-operator/0.0.8/manifests/istio-workspace-operator.clusterserviceversion.yaml
  upstream-community-operators/istio-workspace-operator/0.0.8/manifests/maistra.io_sessions.yaml
  upstream-community-operators/istio-workspace-operator/0.0.8/metadata/annotations.yaml
  upstream-community-operators/istio-workspace-operator/0.0.8/tests/scorecard/config.yaml
Labels: kubernetes-operator

#3212 Add istio-workspace-operator release 0.0.8 to community-operators
  community-operators/istio-workspace-operator/0.0.8/manifests/istio-workspace-operator.clusterserviceversion.yaml
  community-operators/istio-workspace-operator/0.0.8/manifests/maistra.io_sessions.yaml
  community-operators/istio-workspace-operator/0.0.8/metadata/annotations.yaml
  community-operators/istio-workspace-operator/0.0.8/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3213 Remove the permissions and define the clusterPermissions for Knative operator
  upstream-community-operators/knative-operator/0.21.0/knative-operator.v0.21.0.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.21.0/knativeeventings.operator.knative.dev.crd.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3218 Fixed hive for upstream
  upstream-community-operators/hive-operator/1.0.3-7-gba4793f/hive-operator.v1.0.3-7-gba4793f.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3216 resource-locker-operator new version 1.0.2
  community-operators/resource-locker-operator/1.0.2/Dockerfile
  community-operators/resource-locker-operator/1.0.2/manifests/redhatcop.redhat.io_resourcelockers.yaml
  community-operators/resource-locker-operator/1.0.2/manifests/resource-locker-operator.clusterserviceversion.yaml
  community-operators/resource-locker-operator/1.0.2/metadata/annotations.yaml
  community-operators/resource-locker-operator/1.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3219 Fixing replaces for cockroachdb
  upstream-community-operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3224 Updating Portworx Operator to 1.4.3
  upstream-community-operators/portworx/1.4.3/core_v1_storagecluster_crd.yaml
  upstream-community-operators/portworx/1.4.3/core_v1_storagenode_crd.yaml
  upstream-community-operators/portworx/1.4.3/portworxoperator.v1.4.3.clusterserviceversion.yaml
  upstream-community-operators/portworx/portworx.package.yaml
Labels: kubernetes-operator

#3225 Rho 885 automatic openshift test
  .github/workflows/operator_test_on_test.yaml
Labels: allow/ci-changes

#3226 [Do not merge] test comment
  community-operators/aqua/5.3.0/aqua-operator.v5.3.0.clusterserviceversion.yaml
Labels: do-not-merge/hold, openshift-operator

#3227 test comment
  community-operators/aqua/5.3.0/aqua-operator.v5.3.0.clusterserviceversion.yaml
Labels: openshift-operator

#3222 volume-expander-operator new version 0.1.5
  community-operators/volume-expander-operator/0.1.5/Dockerfile
  community-operators/volume-expander-operator/0.1.5/manifests/volume-expander-operator.clusterserviceversion.yaml
  community-operators/volume-expander-operator/0.1.5/metadata/annotations.yaml
  community-operators/volume-expander-operator/0.1.5/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3223 Updating Portworx Essentials Operator to 1.4.3
  community-operators/portworx-essentials/1.4.3/core_v1_storagecluster_crd.yaml
  community-operators/portworx-essentials/1.4.3/core_v1_storagenode_crd.yaml
  community-operators/portworx-essentials/1.4.3/portworxoperator.v1.4.3.clusterserviceversion.yaml
  community-operators/portworx-essentials/portworx.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3220 Fix replaces in mongodb-enterprise
  upstream-community-operators/mongodb-enterprise/1.9.0/manifests/mongodb-enterprise.v1.9.0.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.9.1/manifests/mongodb-enterprise.v1.9.1.clusterserviceversion.yaml
Labels: allow/operator-recreate, kubernetes-operator

#3231 keepalived-operator new version 1.1.0
  community-operators/keepalived-operator/1.1.0/Dockerfile
  community-operators/keepalived-operator/1.1.0/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  community-operators/keepalived-operator/1.1.0/manifests/keepalived-operator.clusterserviceversion.yaml
  community-operators/keepalived-operator/1.1.0/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  community-operators/keepalived-operator/1.1.0/metadata/annotations.yaml
  community-operators/keepalived-operator/1.1.0/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3237 Add cloud-native-postgresql operator version 1.1.0
  upstream-community-operators/cloud-native-postgresql/1.1.0/bundle.Dockerfile
  upstream-community-operators/cloud-native-postgresql/1.1.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  upstream-community-operators/cloud-native-postgresql/1.1.0/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  upstream-community-operators/cloud-native-postgresql/1.1.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  upstream-community-operators/cloud-native-postgresql/1.1.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  upstream-community-operators/cloud-native-postgresql/1.1.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  upstream-community-operators/cloud-native-postgresql/1.1.0/metadata/annotations.yaml
  upstream-community-operators/cloud-native-postgresql/ci.yaml
Labels: kubernetes-operator

#3229 [upstream][datadog] Update Operator to 0.5.0
  upstream-community-operators/datadog-operator/0.5.0/datadog-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/datadog-operator/0.5.0/datadoghq.com_datadogagents.yaml
  upstream-community-operators/datadog-operator/0.5.0/datadoghq.com_datadogmetrics.yaml
  upstream-community-operators/datadog-operator/datadog-operator.package.yaml
Labels: kubernetes-operator

#3236 Jet 4.4 enterprise
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.4.0/hazelcast-jet-enterprise-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/0.4.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-enterprise-operator/hazelcast-jet-enterprise-operator.package.yaml
Labels: kubernetes-operator

#3230 [community][datadog] Update Operator to 0.5.0
  community-operators/datadog-operator/0.5.0/datadog-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/datadog-operator/0.5.0/datadoghq.com_datadogagents.yaml
  community-operators/datadog-operator/0.5.0/datadoghq.com_datadogmetrics.yaml
  community-operators/datadog-operator/datadog-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3239 promote cluster-manager to 0.3.0 for upstream
  upstream-community-operators/cluster-manager/0.3.0/cluster-manager.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/cluster-manager/0.3.0/operator.open-cluster-management.io_clustermanagers.yaml
  upstream-community-operators/cluster-manager/cluster-manger.package.yaml
Labels: kubernetes-operator

#3241 promote klusterlet to 0.3.0 for upstream
  upstream-community-operators/klusterlet/0.3.0/klusterlet.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/klusterlet/0.3.0/operator.open-cluster-management.io_klusterlets.yaml
  upstream-community-operators/klusterlet/klusterlet.package.yaml
Labels: kubernetes-operator

#3242 Release Kogito operator 1.3.0 upstream
  upstream-community-operators/kogito-operator/1.3.0/Dockerfile
  upstream-community-operators/kogito-operator/1.3.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  upstream-community-operators/kogito-operator/1.3.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  upstream-community-operators/kogito-operator/1.3.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  upstream-community-operators/kogito-operator/1.3.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  upstream-community-operators/kogito-operator/1.3.0/manifests/kogito-operator.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/1.3.0/metadata/annotations.yaml
  upstream-community-operators/kogito-operator/1.3.0/tests/scorecard/config.yaml
Labels: kubernetes-operator

#3240 promote klusterlet to 0.3.0
  community-operators/klusterlet/0.3.0/klusterlet.v0.3.0.clusterserviceversion.yaml
  community-operators/klusterlet/0.3.0/operator.open-cluster-management.io_klusterlets.yaml
  community-operators/klusterlet/klusterlet.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3238 promote cluster-manager to 0.3.0
  community-operators/cluster-manager/0.3.0/cluster-manager.v0.3.0.clusterserviceversion.yaml
  community-operators/cluster-manager/0.3.0/operator.open-cluster-management.io_clustermanagers.yaml
  community-operators/cluster-manager/cluster-manger.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3243 Release kogito operator 1.3.0 community
  community-operators/kogito-operator/1.3.0/Dockerfile
  community-operators/kogito-operator/1.3.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  community-operators/kogito-operator/1.3.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  community-operators/kogito-operator/1.3.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  community-operators/kogito-operator/1.3.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  community-operators/kogito-operator/1.3.0/manifests/kogito-operator.clusterserviceversion.yaml
  community-operators/kogito-operator/1.3.0/metadata/annotations.yaml
  community-operators/kogito-operator/1.3.0/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3245 [upstream] Update submariner-operator to v0.8.1
  upstream-community-operators/submariner/0.8.1/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.8.1/submariner-lighthouse_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.8.1/submariner-lighthouse_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.8.1/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.8.1/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.8.1/submariner-networkplugin-syncer_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.8.1/submariner-operator_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.8.1/submariner.io_submariners.yaml
  upstream-community-operators/submariner/0.8.1/submariner.v0.8.1.clusterserviceversion.yaml
  upstream-community-operators/submariner/submariner.package.yaml
Labels: kubernetes-operator

#3215 First Submission
  community-operators/devopsinabox/0.0.45/manifests/apimc.com.perficient_devsecopsmanagers.yaml
  community-operators/devopsinabox/0.0.45/manifests/apimc.com.perficient_managednamespaces.yaml
  community-operators/devopsinabox/0.0.45/manifests/apimc.com.perficient_springbootapps.yaml
  community-operators/devopsinabox/0.0.45/manifests/devopsinabox-controller-manager-metrics-service_v1_service.yaml
  community-operators/devopsinabox/0.0.45/manifests/devopsinabox-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/devopsinabox/0.0.45/manifests/devopsinabox.clusterserviceversion.yaml
  community-operators/devopsinabox/0.0.45/metadata/annotations.yaml
  community-operators/devopsinabox/0.0.45/tests/scorecard/config.yaml
  community-operators/devopsinabox/ci.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3250 Documentation for action
  docs/action.md
  mkdocs.yml
Labels: allow/ci-changes

#3252 Added repo and branch
  docs/action.md
Labels: allow/ci-changes

#3254 Update K8s Integrity Shield Operator to 0.1.5 - upstream
  upstream-community-operators/integrity-shield-operator/0.1.5/manifests/apis.integrityshield.io_integrityshields.yaml
  upstream-community-operators/integrity-shield-operator/0.1.5/manifests/integrity-shield-operator-manager_v1_serviceaccount.yaml
  upstream-community-operators/integrity-shield-operator/0.1.5/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  upstream-community-operators/integrity-shield-operator/0.1.5/manifests/integrity-shield-operator.clusterserviceversion.yaml
  upstream-community-operators/integrity-shield-operator/0.1.5/metadata/annotations.yaml
Labels: kubernetes-operator

#3248 release SAP BTP service operator
  upstream-community-operators/sap-btp-operator/0.1.1/bundle.Dockerfile
  upstream-community-operators/sap-btp-operator/0.1.1/manifests/sap-btp-operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/sap-btp-operator/0.1.1/manifests/sap_btp_operator_v1alpha1_servicebinding.crd.yaml
  upstream-community-operators/sap-btp-operator/0.1.1/manifests/sap_btp_operator_v1alpha1_serviceinstances.crd.yaml
  upstream-community-operators/sap-btp-operator/0.1.1/metadata/annotations.yaml
  upstream-community-operators/sap-btp-operator/ci.yaml
Labels: kubernetes-operator

#3253 Update K8s Integrity Shield Operator to 0.1.5 - community
  community-operators/integrity-shield-operator/0.1.5/manifests/apis.integrityshield.io_integrityshields.yaml
  community-operators/integrity-shield-operator/0.1.5/manifests/integrity-shield-operator-manager_v1_serviceaccount.yaml
  community-operators/integrity-shield-operator/0.1.5/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/integrity-shield-operator/0.1.5/manifests/integrity-shield-operator.clusterserviceversion.yaml
  community-operators/integrity-shield-operator/0.1.5/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3257 IBM Block CSI update upstream to v1.5.0
  upstream-community-operators/ibm-block-csi-operator-community/1.5.0/csi.ibm.com_ibmblockcsis_crd.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.5.0/ibm-block-csi-operator.v1.5.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator-community/ibm-block-csi-operator.package.yaml
Labels: kubernetes-operator

#3259 SAP BTP Operator add examples for manifests
  upstream-community-operators/sap-btp-operator/0.1.1/manifests/sap-btp-operator.v0.1.1.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3258 IBM Block CSI update to v1.5.0
  community-operators/ibm-block-csi-operator-community/1.5.0/csi.ibm.com_ibmblockcsis_crd.yaml
  community-operators/ibm-block-csi-operator-community/1.5.0/ibm-block-csi-operator.v1.5.0.clusterserviceversion.yaml
  community-operators/ibm-block-csi-operator-community/ibm-block-csi-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3235 New Operator based on Hazelcast Jet 4.4
  upstream-community-operators/hazelcast-jet-operator/0.4.0/hazelcast-jet-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-jet-operator/0.4.0/hazelcastjets.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: kubernetes-operator

#3264 Add new 6.0.0 channel for Aqua community operator.
  community-operators/aqua/6.0.0/aqua-operator.v6.0.0.clusterserviceversion.yaml
  community-operators/aqua/6.0.0/aquacsps.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.0.0/aquadatabases.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.0.0/aquaenforcers.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.0.0/aquagateways.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.0.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.0.0/aquascanners.operator.aquasec.com.crd.yaml
  community-operators/aqua/6.0.0/aquaservers.operator.aquasec.com.crd.yaml
  community-operators/aqua/aqua-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3265 Add new 6.0.0 channel to Aqua upstream operator.
  upstream-community-operators/aqua/6.0.0/aqua-operator.v6.0.0.clusterserviceversion.yaml
  upstream-community-operators/aqua/6.0.0/aquacsps.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.0.0/aquadatabases.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.0.0/aquaenforcers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.0.0/aquagateways.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.0.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.0.0/aquascanners.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/6.0.0/aquaservers.operator.aquasec.com.crd.yaml
  upstream-community-operators/aqua/aqua-operator.package.yaml
Labels: kubernetes-operator

#3267 Upgrade YAKS to 0.3.0 in upstream community operators
  upstream-community-operators/yaks/0.3.0/instances.yaks.citrusframework.org.crd.yaml
  upstream-community-operators/yaks/0.3.0/tests.yaks.citrusframework.org.crd.yaml
  upstream-community-operators/yaks/0.3.0/yaks.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/yaks/yaks.package.yaml
Labels: kubernetes-operator, needs-ok-to-test

#3266 Upgrade YAKS to 0.3.0 in community operators
  community-operators/yaks/0.3.0/instances.yaks.citrusframework.org.crd.yaml
  community-operators/yaks/0.3.0/tests.yaks.citrusframework.org.crd.yaml
  community-operators/yaks/0.3.0/yaks.v0.3.0.clusterserviceversion.yaml
  community-operators/yaks/yaks.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3269 [Upstream-community] PSMDB operator 1.7.0
  upstream-community-operators/percona-server-mongodb-operator/1.7.0/percona-server-mongodb-operator.v1.7.0.clusterserviceversion.yaml
  upstream-community-operators/percona-server-mongodb-operator/1.7.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb-operator/1.7.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb-operator/1.7.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  upstream-community-operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: kubernetes-operator

#3272 Update K8s Integrity Shield Operator to 0.1.6 - upstream
  upstream-community-operators/integrity-shield-operator/0.1.6/manifests/apis.integrityshield.io_integrityshields.yaml
  upstream-community-operators/integrity-shield-operator/0.1.6/manifests/integrity-shield-operator-manager_v1_serviceaccount.yaml
  upstream-community-operators/integrity-shield-operator/0.1.6/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  upstream-community-operators/integrity-shield-operator/0.1.6/manifests/integrity-shield-operator.clusterserviceversion.yaml
  upstream-community-operators/integrity-shield-operator/0.1.6/metadata/annotations.yaml
Labels: kubernetes-operator, needs-ok-to-test

#3274 Join renamed and modified files
  .github/workflows/operator_test.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3279 Improve removed only
  scripts/ci/actions-env
Labels: allow/ci-changes

#3275 Removing outdated kubevirt operator from OperatorHub.io (replaced by HCO)
  upstream-community-operators/kubevirt/0.17.0-alpha.0/kubevirtoperator.0.17.0-alpha.0.clusterserviceversion.yaml
  upstream-community-operators/kubevirt/0.17.0-alpha.0/kubevirts.kubevirt.io.crd.yaml
  upstream-community-operators/kubevirt/0.18.1/kubevirtoperator.0.18.1.clusterserviceversion.yaml
  upstream-community-operators/kubevirt/0.18.1/kubevirts.kubevirt.io.crd.yaml
  upstream-community-operators/kubevirt/ci.yaml
  upstream-community-operators/kubevirt/kubevirt.package.yaml
Labels: allow/operator-recreate, kubernetes-operator

#3271 Update K8s Integrity Shield Operator to 0.1.6 - community
  community-operators/integrity-shield-operator/0.1.6/manifests/apis.integrityshield.io_integrityshields.yaml
  community-operators/integrity-shield-operator/0.1.6/manifests/integrity-shield-operator-manager_v1_serviceaccount.yaml
  community-operators/integrity-shield-operator/0.1.6/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/integrity-shield-operator/0.1.6/manifests/integrity-shield-operator.clusterserviceversion.yaml
  community-operators/integrity-shield-operator/0.1.6/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3277 Update OpenTelemetry upstream-community-operators to v0.21.0
  upstream-community-operators/opentelemetry-operator/0.21.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/opentelemetry-operator/0.21.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/opentelemetry-operator/0.21.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  upstream-community-operators/opentelemetry-operator/0.21.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  upstream-community-operators/opentelemetry-operator/0.21.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  upstream-community-operators/opentelemetry-operator/0.21.0/metadata/annotations.yaml
Labels: kubernetes-operator

#3276 add new version 0.0.3 of mta-operator
  community-operators/mta-operator/0.0.3/Dockerfile
  community-operators/mta-operator/0.0.3/manifests/windup-operator.v0.0.3.clusterserviceversion.yaml
  community-operators/mta-operator/0.0.3/manifests/windup.crd.yaml
  community-operators/mta-operator/0.0.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3244 chore: update Syndesis to 1.11.0
  upstream-community-operators/syndesis/1.11.0/Dockerfile
  upstream-community-operators/syndesis/1.11.0/manifests/syndesis.crd.yaml
  upstream-community-operators/syndesis/1.11.0/manifests/syndesisoperator.1.11.0.clusterserviceversion.yaml
  upstream-community-operators/syndesis/1.11.0/metadata/annotations.yaml
  upstream-community-operators/syndesis/ci.yaml
Labels: kubernetes-operator

#3282 Update logo for cloud-native-postgresql operator
  upstream-community-operators/cloud-native-postgresql/1.1.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3284 Flagsmith v0.0.1 release.
  upstream-community-operators/flagsmith/0.0.1/flagsmith-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/flagsmith/0.0.1/flagsmiths.charts.flagsmith.com.crd.yaml
  upstream-community-operators/flagsmith/ci.yaml
  upstream-community-operators/flagsmith/flagsmith.package.yaml
Labels: kubernetes-operator, needs-ok-to-test

#3268 [Community-operators] PSMDB operator 1.7.0
  community-operators/percona-server-mongodb-operator/1.7.0/percona-server-mongodb-operator.v1.7.0.clusterserviceversion.yaml
  community-operators/percona-server-mongodb-operator/1.7.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  community-operators/percona-server-mongodb-operator/1.7.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  community-operators/percona-server-mongodb-operator/1.7.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  community-operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3278 Update OpenTelemetry community-operators to v0.21.0
  community-operators/opentelemetry-operator/0.21.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/opentelemetry-operator/0.21.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/opentelemetry-operator/0.21.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  community-operators/opentelemetry-operator/0.21.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  community-operators/opentelemetry-operator/0.21.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  community-operators/opentelemetry-operator/0.21.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3263 ovms operator
  upstream-community-operators/ovms-operator/0.1.0/Dockerfile
  upstream-community-operators/ovms-operator/0.1.0/manifests/intel.com_ovms.yaml
  upstream-community-operators/ovms-operator/0.1.0/manifests/ovms-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/ovms-operator/0.1.0/manifests/ovms-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/ovms-operator/0.1.0/manifests/ovms-operator.clusterserviceversion.yaml
  upstream-community-operators/ovms-operator/0.1.0/metadata/annotations.yaml
  upstream-community-operators/ovms-operator/0.1.0/tests/scorecard/config.yaml
  upstream-community-operators/ovms-operator/ci.yaml
Labels: kubernetes-operator

#3281 MongoDB Atlas Operator 0.4.0
  upstream-community-operators/mongodb-atlas-kubernetes/0.4.0/bundle.Dockerfile
  upstream-community-operators/mongodb-atlas-kubernetes/0.4.0/manifests/atlas.mongodb.com_atlasclusters.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.4.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.4.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.4.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.4.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.4.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/0.4.0/metadata/annotations.yaml
  upstream-community-operators/mongodb-atlas-kubernetes/ci.yaml
Labels: kubernetes-operator

#3285 release flux versions 0.9.0-0.9.1
  community-operators/flux/0.9.0/manifests/alert.crd.yaml
  community-operators/flux/0.9.0/manifests/bucket.crd.yaml
  community-operators/flux/0.9.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.9.0/manifests/crd-controller-flux-system.clusterrole.yaml
  community-operators/flux/0.9.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.9.0/manifests/flux.v0.9.0.clusterserviceversion.yaml
  community-operators/flux/0.9.0/manifests/gitrepository.crd.yaml
  community-operators/flux/0.9.0/manifests/helm-controller.serviceaccount.yaml
  community-operators/flux/0.9.0/manifests/helmchart.crd.yaml
  community-operators/flux/0.9.0/manifests/helmrelease.crd.yaml
  community-operators/flux/0.9.0/manifests/helmrepository.crd.yaml
  community-operators/flux/0.9.0/manifests/image-automation-controller.serviceaccount.yaml
  community-operators/flux/0.9.0/manifests/image-reflector-controller.serviceaccount.yaml
  community-operators/flux/0.9.0/manifests/imagepolicy.crd.yaml
  community-operators/flux/0.9.0/manifests/imagerepository.crd.yaml
  community-operators/flux/0.9.0/manifests/imageupdateautomation.crd.yaml
  community-operators/flux/0.9.0/manifests/kustomization.crd.yaml
  community-operators/flux/0.9.0/manifests/kustomize-controller.serviceaccount.yaml
  community-operators/flux/0.9.0/manifests/notification-controller.service.yaml
  community-operators/flux/0.9.0/manifests/notification-controller.serviceaccount.yaml
  community-operators/flux/0.9.0/manifests/provider.crd.yaml
  community-operators/flux/0.9.0/manifests/receiver.crd.yaml
  community-operators/flux/0.9.0/manifests/source-controller.service.yaml
  community-operators/flux/0.9.0/manifests/source-controller.serviceaccount.yaml
  community-operators/flux/0.9.0/manifests/webhook-receiver.service.yaml
  community-operators/flux/0.9.0/metadata/annotations.yaml
  community-operators/flux/0.9.1/manifests/alert.crd.yaml
  community-operators/flux/0.9.1/manifests/bucket.crd.yaml
  community-operators/flux/0.9.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.9.1/manifests/crd-controller-flux-system.clusterrole.yaml
  community-operators/flux/0.9.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.9.1/manifests/flux.v0.9.1.clusterserviceversion.yaml
  community-operators/flux/0.9.1/manifests/gitrepository.crd.yaml
  community-operators/flux/0.9.1/manifests/helm-controller.serviceaccount.yaml
  community-operators/flux/0.9.1/manifests/helmchart.crd.yaml
  community-operators/flux/0.9.1/manifests/helmrelease.crd.yaml
  community-operators/flux/0.9.1/manifests/helmrepository.crd.yaml
  community-operators/flux/0.9.1/manifests/image-automation-controller.serviceaccount.yaml
  community-operators/flux/0.9.1/manifests/image-reflector-controller.serviceaccount.yaml
  community-operators/flux/0.9.1/manifests/imagepolicy.crd.yaml
  community-operators/flux/0.9.1/manifests/imagerepository.crd.yaml
  community-operators/flux/0.9.1/manifests/imageupdateautomation.crd.yaml
  community-operators/flux/0.9.1/manifests/kustomization.crd.yaml
  community-operators/flux/0.9.1/manifests/kustomize-controller.serviceaccount.yaml
  community-operators/flux/0.9.1/manifests/notification-controller.service.yaml
  community-operators/flux/0.9.1/manifests/notification-controller.serviceaccount.yaml
  community-operators/flux/0.9.1/manifests/provider.crd.yaml
  community-operators/flux/0.9.1/manifests/receiver.crd.yaml
  community-operators/flux/0.9.1/manifests/source-controller.service.yaml
  community-operators/flux/0.9.1/manifests/source-controller.serviceaccount.yaml
  community-operators/flux/0.9.1/manifests/webhook-receiver.service.yaml
  community-operators/flux/0.9.1/metadata/annotations.yaml
Labels: allow/operator-recreate, ok-to-test, openshift-operator

#3217 ensure azure-service-operator community-operator contains latest fixes found in upstream-community-operators
  community-operators/azure-service-operator/0.37.0/azure-service-operator.v0.37.0.clusterserviceversion.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqldatabases.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfailovergroups.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlfirewallrules.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_azuresqlservers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_blobcontainers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_mysqlservers.yaml
  community-operators/azure-service-operator/0.37.0/azure.microsoft.com_postgresqlservers.yaml
  community-operators/azure-service-operator/0.37.0/azureoperator-webhook-service.yaml
Labels: allow/operator-version-overwrite, openshift-operator

#3286 updates victoriametrics operator version 0.10.0
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmagents.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmalertmanagers.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmalerts.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmclusters.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmnodescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmpodscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmprobes.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmrules.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmservicescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmsingles.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/victoriametrics-operator.0.10.0.clusterserviceversion.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/victoriametrics-operator/0.10.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  upstream-community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: kubernetes-operator

#3287 updates victoriametrics operator version 0.10.0 community-version
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmagents.yaml
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmalertmanagers.yaml
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmalerts.yaml
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmclusters.yaml
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmnodescrapes.yaml
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmpodscrapes.yaml
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmprobes.yaml
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmrules.yaml
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmservicescrapes.yaml
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmsingles.yaml
  community-operators/victoriametrics-operator/0.10.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  community-operators/victoriametrics-operator/0.10.0/victoriametrics-operator.0.10.0.clusterserviceversion.yaml
  community-operators/victoriametrics-operator/0.10.0/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/victoriametrics-operator/0.10.0/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/victoriametrics-operator/0.10.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3290 SAP Operator documentation updates
  upstream-community-operators/sap-btp-operator/0.1.1/bundle.Dockerfile
  upstream-community-operators/sap-btp-operator/0.1.1/manifests/sap-btp-operator.v0.1.1.clusterserviceversion.yaml
  upstream-community-operators/sap-btp-operator/0.1.1/metadata/annotations.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3293 Update eclipse-che operator for kubernetes to release 7.27.1
  upstream-community-operators/eclipse-che/7.27.1/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.27.1/eclipse-che.v7.27.1.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#3294 Update eclipse-che operator for openshift to release 7.27.1
  community-operators/eclipse-che/7.27.1/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.27.1/eclipse-che.v7.27.1.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: ok-to-test, openshift-operator

#3295 release flux versions 0.9.0-0.9.1 to upstream
  upstream-community-operators/flux/0.9.0/manifests/alert.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/bucket.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.9.0/manifests/crd-controller-flux-system.clusterrole.yaml
  upstream-community-operators/flux/0.9.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.9.0/manifests/flux.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/flux/0.9.0/manifests/gitrepository.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/helm-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.0/manifests/helmchart.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/helmrelease.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/helmrepository.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/image-automation-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.0/manifests/image-reflector-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.0/manifests/imagepolicy.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/imagerepository.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/imageupdateautomation.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/kustomization.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/kustomize-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.0/manifests/notification-controller.service.yaml
  upstream-community-operators/flux/0.9.0/manifests/notification-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.0/manifests/provider.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/receiver.crd.yaml
  upstream-community-operators/flux/0.9.0/manifests/source-controller.service.yaml
  upstream-community-operators/flux/0.9.0/manifests/source-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.0/manifests/webhook-receiver.service.yaml
  upstream-community-operators/flux/0.9.0/metadata/annotations.yaml
  upstream-community-operators/flux/0.9.1/manifests/alert.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/bucket.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.9.1/manifests/crd-controller-flux-system.clusterrole.yaml
  upstream-community-operators/flux/0.9.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.9.1/manifests/flux.v0.9.1.clusterserviceversion.yaml
  upstream-community-operators/flux/0.9.1/manifests/gitrepository.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/helm-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.1/manifests/helmchart.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/helmrelease.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/helmrepository.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/image-automation-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.1/manifests/image-reflector-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.1/manifests/imagepolicy.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/imagerepository.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/imageupdateautomation.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/kustomization.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/kustomize-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.1/manifests/notification-controller.service.yaml
  upstream-community-operators/flux/0.9.1/manifests/notification-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.1/manifests/provider.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/receiver.crd.yaml
  upstream-community-operators/flux/0.9.1/manifests/source-controller.service.yaml
  upstream-community-operators/flux/0.9.1/manifests/source-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.9.1/manifests/webhook-receiver.service.yaml
  upstream-community-operators/flux/0.9.1/metadata/annotations.yaml
Labels: allow/operator-recreate, kubernetes-operator

#3303 [kiali] [upstream] update kiali
  upstream-community-operators/kiali/1.31.0/kiali.crd.yaml
  upstream-community-operators/kiali/1.31.0/kiali.monitoringdashboards.crd.yaml
  upstream-community-operators/kiali/1.31.0/kiali.v1.31.0.clusterserviceversion.yaml
  upstream-community-operators/kiali/kiali.package.yaml
Labels: kubernetes-operator

#3302 [kiali] [community] update kiali
  community-operators/kiali/1.31.0/kiali.crd.yaml
  community-operators/kiali/1.31.0/kiali.monitoringdashboards.crd.yaml
  community-operators/kiali/1.31.0/kiali.v1.31.0.clusterserviceversion.yaml
  community-operators/kiali/kiali.package.yaml
Labels: ok-to-test, openshift-operator

#3155 Update shipwright to v0.3.0
  community-operators/buildv2-operator/0.3.0/build.dev_buildruns_crd.yaml
  community-operators/buildv2-operator/0.3.0/build.dev_builds_crd.yaml
  community-operators/buildv2-operator/0.3.0/build.dev_buildstrategies_crd.yaml
  community-operators/buildv2-operator/0.3.0/build.dev_clusterbuildstrategies_crd.yaml
  community-operators/buildv2-operator/0.3.0/buildv2-operator.clusterserviceversion.yaml
  community-operators/buildv2-operator/buildv2-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3308 proactive-node-scaling-operator new version 0.3.0
  community-operators/proactive-node-scaling-operator/0.3.0/Dockerfile
  community-operators/proactive-node-scaling-operator/0.3.0/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  community-operators/proactive-node-scaling-operator/0.3.0/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  community-operators/proactive-node-scaling-operator/0.3.0/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  community-operators/proactive-node-scaling-operator/0.3.0/metadata/annotations.yaml
  community-operators/proactive-node-scaling-operator/0.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3292 [WIP] pr in development
  community-operators/aqua/6.0.0/aqua-operator.v6.0.0.clusterserviceversion.yaml
  community-operators/aqua/6.0.0/aquacsps.operator.aquasec.com.crd.yaml
Labels: do-not-merge/work-in-progress, ok-to-test, openshift-operator

#3315 Modification handlers
  .github/workflows/operator_release.yaml
  .github/workflows/operator_test.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3316 Improved csv
  scripts/ci/actions-env
Labels: allow/ci-changes

#3283 group-sync-operator new version 0.0.11
  community-operators/group-sync-operator/0.0.11/Dockerfile
  community-operators/group-sync-operator/0.0.11/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/group-sync-operator/0.0.11/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/group-sync-operator/0.0.11/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/group-sync-operator/0.0.11/manifests/group-sync-operator-prometheus-k8s_authorization.openshift.io_v1_role.yaml
  community-operators/group-sync-operator/0.0.11/manifests/group-sync-operator-prometheus-k8s_authorization.openshift.io_v1_rolebinding.yaml
  community-operators/group-sync-operator/0.0.11/manifests/group-sync-operator.clusterserviceversion.yaml
  community-operators/group-sync-operator/0.0.11/manifests/redhatcop.redhat.io_groupsyncs.yaml
  community-operators/group-sync-operator/0.0.11/metadata/annotations.yaml
  community-operators/group-sync-operator/0.0.11/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3318 Update hazelcast-enterprise-operator to 0.3.5
  upstream-community-operators/hazelcast-enterprise-operator/0.3.5/hazelcast-enterprise-operator.v0.3.5.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-enterprise-operator/0.3.5/hazelcastenterprises.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-enterprise-operator/hazelcast-enterprise-operator.package.yaml
Labels: kubernetes-operator

#3319 Update hazelcast-operator to 0.3.5
  upstream-community-operators/hazelcast-operator/0.3.5/hazelcast-operator.v0.3.5.clusterserviceversion.yaml
  upstream-community-operators/hazelcast-operator/0.3.5/hazelcasts.hazelcast.com.crd.yaml
  upstream-community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: kubernetes-operator

#3310 pmem-csi-operator: Upgrade to new release v0.9.0
  upstream-community-operators/pmem-csi-operator/0.9.0/pmem-csi-operator.clusterserviceversion.yaml
  upstream-community-operators/pmem-csi-operator/0.9.0/pmem-csi-operator_v1_serviceaccount.yaml
  upstream-community-operators/pmem-csi-operator/0.9.0/pmem-csi.intel.com_pmemcsideployments.yaml
  upstream-community-operators/pmem-csi-operator/pmem-csi-operator.package.yaml
Labels: kubernetes-operator

#3325 Added allow serious changes
  scripts/ci/actions-env
Labels: allow/ci-changes

#3323 Add istio-workspace-operator release 0.0.9 to upstream-community-operators
  upstream-community-operators/istio-workspace-operator/0.0.9/manifests/istio-workspace-operator.clusterserviceversion.yaml
  upstream-community-operators/istio-workspace-operator/0.0.9/manifests/maistra.io_sessions.yaml
  upstream-community-operators/istio-workspace-operator/0.0.9/metadata/annotations.yaml
  upstream-community-operators/istio-workspace-operator/0.0.9/tests/scorecard/config.yaml
Labels: kubernetes-operator

#3314 dell-csi-operator-1.2.0
  community-operators/dell-csi-operator/1.2.0/csiisilons.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.2.0/csipowermaxes.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.2.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.2.0/csipowerstores.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.2.0/csiunities.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.2.0/csivxflexoses.storage.dell.com.crd.yaml
  community-operators/dell-csi-operator/1.2.0/dell-csi-operator.v1.2.0.clusterserviceversion.yaml
  community-operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3330 Added operator-ci version 1
  .github/labeler.yml
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3332 Triggering tests on label change
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3335 Added OP_TEST_MODIFIED_REPO_BRANCH
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3336 Imoroved ok to test
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3337 Stream info added to next job
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3338 Support/lables 06
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3339 Fix ouput
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3333 Release Kogito operator 1.4.0 upstream
  upstream-community-operators/kogito-operator/1.4.0/Dockerfile
  upstream-community-operators/kogito-operator/1.4.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  upstream-community-operators/kogito-operator/1.4.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  upstream-community-operators/kogito-operator/1.4.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  upstream-community-operators/kogito-operator/1.4.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  upstream-community-operators/kogito-operator/1.4.0/manifests/kogito-operator.clusterserviceversion.yaml
  upstream-community-operators/kogito-operator/1.4.0/metadata/annotations.yaml
  upstream-community-operators/kogito-operator/1.4.0/tests/scorecard/config.yaml
Labels: kubernetes-operator

#3340 Improvments to set ok-to-test
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3342 Implemented hold
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3327 update koku-metrics-operator to v0.9.5
  community-operators/koku-metrics-operator/0.9.5/Dockerfile
  community-operators/koku-metrics-operator/0.9.5/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  community-operators/koku-metrics-operator/0.9.5/manifests/koku-metrics-operator.clusterserviceversion.yaml
  community-operators/koku-metrics-operator/0.9.5/metadata/annotations.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3324 Add istio-workspace-operator release 0.0.9 to community-operators
  community-operators/istio-workspace-operator/0.0.9/manifests/istio-workspace-operator.clusterserviceversion.yaml
  community-operators/istio-workspace-operator/0.0.9/manifests/maistra.io_sessions.yaml
  community-operators/istio-workspace-operator/0.0.9/metadata/annotations.yaml
  community-operators/istio-workspace-operator/0.0.9/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3320 Update hazelcast-operator to 0.3.5
  community-operators/hazelcast-operator/0.3.5/hazelcast-operator.v0.3.5.clusterserviceversion.yaml
  community-operators/hazelcast-operator/0.3.5/hazelcasts.hazelcast.com.crd.yaml
  community-operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3344 Support/lables 10
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3334 Release kogito operator 1.4.0 community
  community-operators/kogito-operator/1.4.0/Dockerfile
  community-operators/kogito-operator/1.4.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  community-operators/kogito-operator/1.4.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  community-operators/kogito-operator/1.4.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  community-operators/kogito-operator/1.4.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  community-operators/kogito-operator/1.4.0/manifests/kogito-operator.clusterserviceversion.yaml
  community-operators/kogito-operator/1.4.0/metadata/annotations.yaml
  community-operators/kogito-operator/1.4.0/tests/scorecard/config.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3345 egressip-ipam-operator new version 1.0.3
  community-operators/egressip-ipam-operator/1.0.3/Dockerfile
  community-operators/egressip-ipam-operator/1.0.3/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  community-operators/egressip-ipam-operator/1.0.3/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/1.0.3/manifests/redhatcop.redhat.io_egressipams.yaml
  community-operators/egressip-ipam-operator/1.0.3/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/1.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3348 Improved modifications exceptions
  .github/workflows/operator_ci.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3346 Upstream Infinispan Operator 2.1.3
  upstream-community-operators/infinispan/2.1.3/infinispan-operator.v2.1.3.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.1.3/infinispan.org_backups_crd.yaml
  upstream-community-operators/infinispan/2.1.3/infinispan.org_batches_crd.yaml
  upstream-community-operators/infinispan/2.1.3/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.1.3/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/2.1.3/infinispan.org_restores_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: kubernetes-operator

#3350 keepalived-operator new version 1.2.0
  community-operators/keepalived-operator/1.2.0/Dockerfile
  community-operators/keepalived-operator/1.2.0/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  community-operators/keepalived-operator/1.2.0/manifests/keepalived-operator.clusterserviceversion.yaml
  community-operators/keepalived-operator/1.2.0/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  community-operators/keepalived-operator/1.2.0/metadata/annotations.yaml
  community-operators/keepalived-operator/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3351 KEDA 2.2.0 community operator
  community-operators/keda/2.2.0/manifests/keda-olm-operator_v1_serviceaccount.yaml
  community-operators/keda/2.2.0/manifests/keda.sh_clustertriggerauthentications.yaml
  community-operators/keda/2.2.0/manifests/keda.sh_kedacontrollers.yaml
  community-operators/keda/2.2.0/manifests/keda.sh_scaledjobs.yaml
  community-operators/keda/2.2.0/manifests/keda.sh_scaledobjects.yaml
  community-operators/keda/2.2.0/manifests/keda.sh_triggerauthentications.yaml
  community-operators/keda/2.2.0/manifests/keda.v2.2.0.clusterserviceversion.yaml
  community-operators/keda/2.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3352 KEDA 2.2.0 upstream operator
  upstream-community-operators/keda/2.2.0/manifests/keda-olm-operator_v1_serviceaccount.yaml
  upstream-community-operators/keda/2.2.0/manifests/keda.sh_clustertriggerauthentications.yaml
  upstream-community-operators/keda/2.2.0/manifests/keda.sh_kedacontrollers.yaml
  upstream-community-operators/keda/2.2.0/manifests/keda.sh_scaledjobs.yaml
  upstream-community-operators/keda/2.2.0/manifests/keda.sh_scaledobjects.yaml
  upstream-community-operators/keda/2.2.0/manifests/keda.sh_triggerauthentications.yaml
  upstream-community-operators/keda/2.2.0/manifests/keda.v2.2.0.clusterserviceversion.yaml
  upstream-community-operators/keda/2.2.0/metadata/annotations.yaml
Labels: kubernetes-operator

#3347 Community Infinispan Operator 2.1.3
  community-operators/infinispan/2.1.3/infinispan-operator.v2.1.3.clusterserviceversion.yaml
  community-operators/infinispan/2.1.3/infinispan.org_backups_crd.yaml
  community-operators/infinispan/2.1.3/infinispan.org_batches_crd.yaml
  community-operators/infinispan/2.1.3/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.1.3/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/2.1.3/infinispan.org_restores_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: lgtm, ok-to-test, openshift-operator

#3353 Updating Portworx Essentials Operator to 1.4.4
  community-operators/portworx-essentials/1.4.4/core_v1_storagecluster_crd.yaml
  community-operators/portworx-essentials/1.4.4/core_v1_storagenode_crd.yaml
  community-operators/portworx-essentials/1.4.4/portworxoperator.v1.4.4.clusterserviceversion.yaml
  community-operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator

#3354 Updating Portworx Operator to 1.4.4
  upstream-community-operators/portworx/1.4.4/core_v1_storagecluster_crd.yaml
  upstream-community-operators/portworx/1.4.4/core_v1_storagenode_crd.yaml
  upstream-community-operators/portworx/1.4.4/portworxoperator.v1.4.4.clusterserviceversion.yaml
  upstream-community-operators/portworx/portworx.package.yaml
Labels: kubernetes-operator

#3355 Ignoring removing needs-ok-to-test if not exists
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3356 Support/lables 13
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3357 Support/lables 14
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3349 [WIP] A cosmetic change detection
  .github/workflows/operator_ci.yaml
  scripts/ci/op-test-cosmetics
Labels: allow/ci-changes, allow/operator-version-overwrite, do-not-merge/hold, do-not-merge/work-in-progress, kubernetes-operator

#3358 Improved Assign to project
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3360 Improved hold
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3361 Added OP_TEST_ANSIBLE_PULL_REPO
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3362 Support/lables 18
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3364 Fix type
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3365 Improved hold msg
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3366 Add assignes
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3367 Consume a stream
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3369 Set authors on open only
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3368 clickhouse-operator v0.13.0
  upstream-community-operators/clickhouse/0.13.0/clickhouse-operator.v0.13.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.13.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.13.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.13.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: kubernetes-operator

#3370 Support/lables 23
  .github/workflows/operator_ci_completed.yaml
Labels: allow/ci-changes

#3372 Added workflow
  .github/workflows/operator_ci_completed.yaml
Labels: allow/ci-changes

#3373 Fix ci-completed
  .github/workflows/operator_ci_completed.yaml
Labels: allow/ci-changes

#3363 Instana Agent Operator 1.0.2
  upstream-community-operators/instana-agent/1.0.2/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/1.0.2/instana-agent-operator.v1.0.2.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator

#3375 Update eclipse-che operator for kubernetes to release 7.27.2
  upstream-community-operators/eclipse-che/7.27.2/checlusters.org.eclipse.che.crd.yaml
  upstream-community-operators/eclipse-che/7.27.2/eclipse-che.v7.27.2.clusterserviceversion.yaml
  upstream-community-operators/eclipse-che/eclipse-che.package.yaml
Labels: kubernetes-operator

#3376 Update eclipse-che operator for openshift to release 7.27.2
  community-operators/eclipse-che/7.27.2/checlusters.org.eclipse.che.crd.yaml
  community-operators/eclipse-che/7.27.2/eclipse-che.v7.27.2.clusterserviceversion.yaml
  community-operators/eclipse-che/eclipse-che.package.yaml
Labels: ok-to-test, openshift-operator

#3377 Lgtm label added
  .github/workflows/operator_ci_completed.yaml
Labels: allow/ci-changes

#3378 Lgmt ingore error
  .github/workflows/operator_ci_completed.yaml
Labels: allow/ci-changes

#3379 Remove ci completed wkflow
  .github/workflows/operator_ci_completed.yaml
Labels: allow/ci-changes

#3380 Update OADP operator to v0.2.1
  community-operators/oadp-operator/0.2.1/manifests/backup.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/oadp-operator.v0.2.1.clusterserviceversion.yaml
  community-operators/oadp-operator/0.2.1/manifests/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/resticrepository.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/restore.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/schedule.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/velero.crd.yaml
  community-operators/oadp-operator/0.2.1/manifests/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/0.2.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator

#3381 egressip-ipam-operator new version 1.0.4
  community-operators/egressip-ipam-operator/1.0.4/Dockerfile
  community-operators/egressip-ipam-operator/1.0.4/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  community-operators/egressip-ipam-operator/1.0.4/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/1.0.4/manifests/redhatcop.redhat.io_egressipams.yaml
  community-operators/egressip-ipam-operator/1.0.4/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/1.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3374 Add Dynatrace OneAgent Operator v0.10.0
  upstream-community-operators/oneagent/0.10.0/dynatrace-monitoring.v0.10.0.clusterserviceversion.yaml
  upstream-community-operators/oneagent/0.10.0/dynatrace.com_oneagentapms.yaml
  upstream-community-operators/oneagent/0.10.0/dynatrace.com_oneagents.yaml
  upstream-community-operators/oneagent/oneagent.package.yaml
Labels: kubernetes-operator

#3383 updates victoriametrics operator version 0.11.0 community
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmagents.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmalertmanagers.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmalerts.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmclusters.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmnodescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmpodscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmprobes.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmrules.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmservicescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmsingles.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/victoriametrics-operator.0.11.0.clusterserviceversion.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/victoriametrics-operator/0.11.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  upstream-community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: kubernetes-operator

#3384 updates victoriametrics operator version 0.11.0
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmagents.yaml
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmalertmanagers.yaml
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmalerts.yaml
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmclusters.yaml
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmnodescrapes.yaml
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmpodscrapes.yaml
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmprobes.yaml
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmrules.yaml
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmservicescrapes.yaml
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmsingles.yaml
  community-operators/victoriametrics-operator/0.11.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  community-operators/victoriametrics-operator/0.11.0/victoriametrics-operator.0.11.0.clusterserviceversion.yaml
  community-operators/victoriametrics-operator/0.11.0/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/victoriametrics-operator/0.11.0/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/victoriametrics-operator/0.11.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator

#3329 assisted-service-operator v0.0.1
  community-operators/assisted-service-operator/0.0.1/adi.io.my.domain_agents.yaml
  community-operators/assisted-service-operator/0.0.1/adi.io.my.domain_installenvs.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-installer-public-s3_v1_secret.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-installer-s3_v1_secret.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-installer-sso_v1_secret.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-service-config_v1_configmap.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-service_v1_service.yaml
  community-operators/assisted-service-operator/0.0.1/controller-manager-metrics-service_v1_service.yaml
  community-operators/assisted-service-operator/0.0.1/default_v1_serviceaccount.yaml
  community-operators/assisted-service-operator/0.0.1/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/assisted-service-operator/0.0.1/ocp-metal-ui_v1_configmap.yaml
  community-operators/assisted-service-operator/0.0.1/ocp-metal-ui_v1_service.yaml
  community-operators/assisted-service-operator/0.0.1/postgres_v1_service.yaml
  community-operators/assisted-service-operator/assisted-service.package.yaml
  community-operators/assisted-service-operator/ci.yaml
Labels: ok-to-test, openshift-operator

#3387 resource-locker-operator new version 1.0.3
  community-operators/resource-locker-operator/1.0.3/Dockerfile
  community-operators/resource-locker-operator/1.0.3/manifests/redhatcop.redhat.io_resourcelockers.yaml
  community-operators/resource-locker-operator/1.0.3/manifests/resource-locker-operator.clusterserviceversion.yaml
  community-operators/resource-locker-operator/1.0.3/metadata/annotations.yaml
  community-operators/resource-locker-operator/1.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3389 keepalived-operator new version 1.2.1
  community-operators/keepalived-operator/1.2.1/Dockerfile
  community-operators/keepalived-operator/1.2.1/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  community-operators/keepalived-operator/1.2.1/manifests/keepalived-operator.clusterserviceversion.yaml
  community-operators/keepalived-operator/1.2.1/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  community-operators/keepalived-operator/1.2.1/metadata/annotations.yaml
  community-operators/keepalived-operator/1.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3390 namespace-configuration-operator new version 1.0.2
  community-operators/namespace-configuration-operator/1.0.2/Dockerfile
  community-operators/namespace-configuration-operator/1.0.2/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  community-operators/namespace-configuration-operator/1.0.2/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/1.0.2/manifests/redhatcop.redhat.io_groupconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.2/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.2/manifests/redhatcop.redhat.io_userconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.2/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/1.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3391 cert-utils-operator new version 1.0.2
  community-operators/cert-utils-operator/1.0.2/Dockerfile
  community-operators/cert-utils-operator/1.0.2/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  community-operators/cert-utils-operator/1.0.2/manifests/cert-utils-operator.clusterserviceversion.yaml
  community-operators/cert-utils-operator/1.0.2/metadata/annotations.yaml
  community-operators/cert-utils-operator/1.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3392 volume-expander-operator new version 0.1.6
  community-operators/volume-expander-operator/0.1.6/Dockerfile
  community-operators/volume-expander-operator/0.1.6/manifests/volume-expander-operator.clusterserviceversion.yaml
  community-operators/volume-expander-operator/0.1.6/metadata/annotations.yaml
  community-operators/volume-expander-operator/0.1.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3394 proactive-node-scaling-operator new version 0.3.1
  community-operators/proactive-node-scaling-operator/0.3.1/Dockerfile
  community-operators/proactive-node-scaling-operator/0.3.1/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  community-operators/proactive-node-scaling-operator/0.3.1/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  community-operators/proactive-node-scaling-operator/0.3.1/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  community-operators/proactive-node-scaling-operator/0.3.1/metadata/annotations.yaml
  community-operators/proactive-node-scaling-operator/0.3.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3388 must-gather-operator new version 1.0.1
  community-operators/must-gather-operator/1.0.1/Dockerfile
  community-operators/must-gather-operator/1.0.1/manifests/must-gather-operator-manager-config_v1_configmap.yaml
  community-operators/must-gather-operator/1.0.1/manifests/must-gather-operator.clusterserviceversion.yaml
  community-operators/must-gather-operator/1.0.1/manifests/redhatcop.redhat.io_mustgathers.yaml
  community-operators/must-gather-operator/1.0.1/metadata/annotations.yaml
  community-operators/must-gather-operator/1.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator

#3395 Rename token
  scripts/ci/trigger-operatorhubio-ci.sh
Labels: allow/ci-changes

#3397 Add ECK 1.5.0 to upstream-community-operators
  upstream-community-operators/elastic-cloud-eck/1.5.0/agents.agent.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.5.0/apmservers.apm.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.5.0/beats.beat.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.5.0/elastic-cloud-eck.v1.5.0.clusterserviceversion.yaml
  upstream-community-operators/elastic-cloud-eck/1.5.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.5.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/1.5.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  upstream-community-operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: kubernetes-operator
