Repository operator-framework/community-operators, pull requests merged in 2021-06, with the labels that each got.

#3973 upstream-community-operators openshift-qiskit-operator (0.2.0)
  upstream-community-operators/openshift-qiskit-operator/0.2.0/openshift-qiskit-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/openshift-qiskit-operator/0.2.0/qiskit.ibm.com_qiskitplaygrounds.yaml
  upstream-community-operators/openshift-qiskit-operator/openshift-qiskit-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#3979 upstream-community-operators elastic-cloud-eck (1.6.0)
  upstream-community-operators/elastic-cloud-eck/1.6.0/elastic-cloud-eck.v1.6.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, installation-validated, kubernetes-operator, package-validated

#3978 community-operators assisted-service-operator (0.0.5-rc.1)
  community-operators/assisted-service-operator/0.0.5-rc.1/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/assisted-service.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#3982 community-operators cert-utils-operator (1.0.6)
  community-operators/cert-utils-operator/1.0.6/Dockerfile
  community-operators/cert-utils-operator/1.0.6/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/cert-utils-operator/1.0.6/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  community-operators/cert-utils-operator/1.0.6/manifests/cert-utils-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/cert-utils-operator/1.0.6/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  community-operators/cert-utils-operator/1.0.6/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/cert-utils-operator/1.0.6/manifests/cert-utils-operator.clusterserviceversion.yaml
  community-operators/cert-utils-operator/1.0.6/metadata/annotations.yaml
  community-operators/cert-utils-operator/1.0.6/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, ok-to-test, openshift-operator, package-validated

#3983 community-operators volume-expander-operator (0.1.9)
  community-operators/volume-expander-operator/0.1.9/Dockerfile
  community-operators/volume-expander-operator/0.1.9/manifests/volume-expander-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/volume-expander-operator/0.1.9/manifests/volume-expander-operator-controller-manager-metrics_v1_service.yaml
  community-operators/volume-expander-operator/0.1.9/manifests/volume-expander-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/volume-expander-operator/0.1.9/manifests/volume-expander-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  community-operators/volume-expander-operator/0.1.9/manifests/volume-expander-operator.clusterserviceversion.yaml
  community-operators/volume-expander-operator/0.1.9/metadata/annotations.yaml
  community-operators/volume-expander-operator/0.1.9/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, ok-to-test, openshift-operator, package-validated

#3985 community-operators global-load-balancer-operator (1.0.6)
  community-operators/global-load-balancer-operator/1.0.6/Dockerfile
  community-operators/global-load-balancer-operator/1.0.6/manifests/externaldns.k8s.io_dnsendpoints.yaml
  community-operators/global-load-balancer-operator/1.0.6/manifests/global-load-balancer-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/global-load-balancer-operator/1.0.6/manifests/global-load-balancer-operator-controller-manager-metrics_v1_service.yaml
  community-operators/global-load-balancer-operator/1.0.6/manifests/global-load-balancer-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/global-load-balancer-operator/1.0.6/manifests/global-load-balancer-operator-manager-config_v1_configmap.yaml
  community-operators/global-load-balancer-operator/1.0.6/manifests/global-load-balancer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/global-load-balancer-operator/1.0.6/manifests/global-load-balancer-operator.clusterserviceversion.yaml
  community-operators/global-load-balancer-operator/1.0.6/manifests/redhatcop.redhat.io_globaldnsrecords.yaml
  community-operators/global-load-balancer-operator/1.0.6/manifests/redhatcop.redhat.io_globaldnszones.yaml
  community-operators/global-load-balancer-operator/1.0.6/manifests/redhatcop.redhat.io_globalroutediscoveries.yaml
  community-operators/global-load-balancer-operator/1.0.6/metadata/annotations.yaml
  community-operators/global-load-balancer-operator/1.0.6/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, openshift-started-4.8, package-validated

#3987 community-operators keepalived-operator (1.3.2)
  community-operators/keepalived-operator/1.3.2/Dockerfile
  community-operators/keepalived-operator/1.3.2/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/keepalived-operator/1.3.2/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  community-operators/keepalived-operator/1.3.2/manifests/keepalived-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/keepalived-operator/1.3.2/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  community-operators/keepalived-operator/1.3.2/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/keepalived-operator/1.3.2/manifests/keepalived-operator.clusterserviceversion.yaml
  community-operators/keepalived-operator/1.3.2/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  community-operators/keepalived-operator/1.3.2/metadata/annotations.yaml
  community-operators/keepalived-operator/1.3.2/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#3986 community-operators proactive-node-scaling-operator (0.3.4)
  community-operators/proactive-node-scaling-operator/0.3.4/Dockerfile
  community-operators/proactive-node-scaling-operator/0.3.4/manifests/proactive-node-scaling-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/proactive-node-scaling-operator/0.3.4/manifests/proactive-node-scaling-operator-controller-manager-metrics_v1_service.yaml
  community-operators/proactive-node-scaling-operator/0.3.4/manifests/proactive-node-scaling-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/proactive-node-scaling-operator/0.3.4/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  community-operators/proactive-node-scaling-operator/0.3.4/manifests/proactive-node-scaling-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/proactive-node-scaling-operator/0.3.4/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  community-operators/proactive-node-scaling-operator/0.3.4/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  community-operators/proactive-node-scaling-operator/0.3.4/metadata/annotations.yaml
  community-operators/proactive-node-scaling-operator/0.3.4/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, ok-to-test, openshift-operator, package-validated

#3980 community-operators resource-locker-operator (1.0.6)
  community-operators/resource-locker-operator/1.0.6/Dockerfile
  community-operators/resource-locker-operator/1.0.6/manifests/redhatcop.redhat.io_resourcelockers.yaml
  community-operators/resource-locker-operator/1.0.6/manifests/resource-locker-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/resource-locker-operator/1.0.6/manifests/resource-locker-operator-controller-manager-metrics_v1_service.yaml
  community-operators/resource-locker-operator/1.0.6/manifests/resource-locker-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/resource-locker-operator/1.0.6/manifests/resource-locker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/resource-locker-operator/1.0.6/manifests/resource-locker-operator.clusterserviceversion.yaml
  community-operators/resource-locker-operator/1.0.6/metadata/annotations.yaml
  community-operators/resource-locker-operator/1.0.6/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#3974 community-operators [R] universal-crossplane (1.2.1-up.4)
  community-operators/universal-crossplane/1.2.1-up.4/Dockerfile
  community-operators/universal-crossplane/1.2.1-up.4/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/compositions.apiextensions.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/configurationrevisions.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/configurations.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/controllerconfigs.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-admin.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-admin.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-browse.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-edit.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-edit.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-rbac-manager.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-rbac-manager.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-view.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-view.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane.ServiceAccount.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane_aggregate-to-edit.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane_aggregate-to-view.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane_allowed-provider-permissions.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane_system_aggregate-to-crossplane.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/locks.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/providerrevisions.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/providers.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/rbac-manager.ServiceAccount.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/universal-crossplane-config.ConfigMap.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/universal-crossplane.1.2.1-up.4.clusterserviceversion.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-impersonator.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-impersonator.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-secret.Role.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-secret.RoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-tls.Secret.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-uxp-config.Role.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-uxp-config.RoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent.Service.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent.ServiceAccount.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-bootstrapper.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-bootstrapper.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-bootstrapper.Role.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-bootstrapper.RoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-bootstrapper.ServiceAccount.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/uxp-ca.Secret.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/xgql-tls.Secret.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/xgql.Service.yaml
  community-operators/universal-crossplane/1.2.1-up.4/manifests/xgql.ServiceAccount.yaml
  community-operators/universal-crossplane/1.2.1-up.4/metadata/annotations.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#3984 community-operators egressip-ipam-operator (1.0.7)
  community-operators/egressip-ipam-operator/1.0.7/Dockerfile
  community-operators/egressip-ipam-operator/1.0.7/manifests/egressip-ipam-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/egressip-ipam-operator/1.0.7/manifests/egressip-ipam-operator-controller-manager-metrics_v1_service.yaml
  community-operators/egressip-ipam-operator/1.0.7/manifests/egressip-ipam-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/egressip-ipam-operator/1.0.7/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  community-operators/egressip-ipam-operator/1.0.7/manifests/egressip-ipam-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/egressip-ipam-operator/1.0.7/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/1.0.7/manifests/redhatcop.redhat.io_egressipams.yaml
  community-operators/egressip-ipam-operator/1.0.7/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/1.0.7/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#3981 community-operators must-gather-operator (1.0.4)
  community-operators/must-gather-operator/1.0.4/Dockerfile
  community-operators/must-gather-operator/1.0.4/manifests/must-gather-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/must-gather-operator/1.0.4/manifests/must-gather-operator-controller-manager-metrics_v1_service.yaml
  community-operators/must-gather-operator/1.0.4/manifests/must-gather-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/must-gather-operator/1.0.4/manifests/must-gather-operator-manager-config_v1_configmap.yaml
  community-operators/must-gather-operator/1.0.4/manifests/must-gather-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/must-gather-operator/1.0.4/manifests/must-gather-operator.clusterserviceversion.yaml
  community-operators/must-gather-operator/1.0.4/manifests/redhatcop.redhat.io_mustgathers.yaml
  community-operators/must-gather-operator/1.0.4/metadata/annotations.yaml
  community-operators/must-gather-operator/1.0.4/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.8, ok-to-test, openshift-operator, openshift-started-4.7, package-validated

#3975 upstream-community-operators [R] universal-crossplane (1.2.1-up.4)
  upstream-community-operators/universal-crossplane/1.2.1-up.4/Dockerfile
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.CustomResourceDefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/compositions.apiextensions.crossplane.io.CustomResourceDefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/configurationrevisions.pkg.crossplane.io.CustomResourceDefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/configurations.pkg.crossplane.io.CustomResourceDefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/controllerconfigs.pkg.crossplane.io.CustomResourceDefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-admin.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-admin.ClusterRoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-browse.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-edit.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-edit.ClusterRoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-rbac-manager.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-rbac-manager.ClusterRoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-view.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane-view.ClusterRoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane.ClusterRoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane.ServiceAccount.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane_aggregate-to-edit.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane_aggregate-to-view.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane_allowed-provider-permissions.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/crossplane_system_aggregate-to-crossplane.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/providerrevisions.pkg.crossplane.io.CustomResourceDefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/providers.pkg.crossplane.io.CustomResourceDefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/rbac-manager.ServiceAccount.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/universal-crossplane-config.ConfigMap.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/universal-crossplane.1.2.1-up.4.clusterserviceversion.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-impersonator.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-impersonator.ClusterRoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-secret.Role.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-secret.RoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-tls.Secret.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-uxp-config.Role.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent-uxp-config.RoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent.ClusterRoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent.Service.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-agent.ServiceAccount.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-bootstrapper.ClusterRole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-bootstrapper.ClusterRoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-bootstrapper.Role.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-bootstrapper.RoleBinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/upbound-bootstrapper.ServiceAccount.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/uxp-ca.Secret.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/xgql-tls.Secret.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/xgql.Service.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/manifests/xgql.ServiceAccount.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.4/metadata/annotations.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#3988 community-operators [R] assisted-service-operator (0.0.1 0.0.2 0.0.3 0.0.4 0.0.5-rc.1)
  community-operators/assisted-service-operator/0.0.1/manifests/adi.io.my.domain_agents.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/adi.io.my.domain_installenvs.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/assisted-installer-public-s3_v1_secret.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/assisted-installer-s3_v1_secret.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/assisted-installer-sso_v1_secret.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/assisted-service-config_v1_configmap.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/assisted-service_v1_service.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/controller-manager-metrics-service_v1_service.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/default_v1_serviceaccount.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/ocp-metal-ui_v1_configmap.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/ocp-metal-ui_v1_service.yaml
  community-operators/assisted-service-operator/0.0.1/manifests/postgres_v1_service.yaml
  community-operators/assisted-service-operator/0.0.1/metadata/annotations.yaml
  community-operators/assisted-service-operator/0.0.2/manifests/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.2/manifests/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.2/manifests/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.2/manifests/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.2/manifests/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.2/metadata/annotations.yaml
  community-operators/assisted-service-operator/0.0.3/manifests/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.3/manifests/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.3/manifests/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.3/manifests/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.3/manifests/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.3/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/0.0.3/metadata/annotations.yaml
  community-operators/assisted-service-operator/0.0.4/manifests/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.4/manifests/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.4/manifests/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.4/manifests/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.4/manifests/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.4/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/0.0.4/metadata/annotations.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/manifests/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/manifests/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/manifests/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/manifests/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/manifests/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/metadata/annotations.yaml
  community-operators/assisted-service-operator/assisted-service.package.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#3992 community-operators [R] assisted-service-operator (0.0.1 0.0.2 0.0.3 0.0.4 0.0.5-rc.1)
  community-operators/assisted-service-operator/0.0.1/adi.io.my.domain_agents.yaml
  community-operators/assisted-service-operator/0.0.1/adi.io.my.domain_installenvs.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-installer-public-s3_v1_secret.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-installer-s3_v1_secret.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-installer-sso_v1_secret.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-service-config_v1_configmap.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.1/assisted-service_v1_service.yaml
  community-operators/assisted-service-operator/0.0.1/controller-manager-metrics-service_v1_service.yaml
  community-operators/assisted-service-operator/0.0.1/default_v1_serviceaccount.yaml
  community-operators/assisted-service-operator/0.0.1/metadata/annotations.yaml
  community-operators/assisted-service-operator/0.0.1/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/assisted-service-operator/0.0.1/ocp-metal-ui_v1_configmap.yaml
  community-operators/assisted-service-operator/0.0.1/ocp-metal-ui_v1_service.yaml
  community-operators/assisted-service-operator/0.0.1/postgres_v1_service.yaml
  community-operators/assisted-service-operator/0.0.2/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.2/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.2/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.2/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.2/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.2/metadata/annotations.yaml
  community-operators/assisted-service-operator/0.0.3/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.3/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.3/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.3/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.3/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.3/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/0.0.3/metadata/annotations.yaml
  community-operators/assisted-service-operator/0.0.4/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.4/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.4/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.4/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.4/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.4/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/0.0.4/metadata/annotations.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/0.0.5-rc.1/metadata/annotations.yaml
  community-operators/assisted-service-operator/assisted-service.package.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.7, ok-to-test, openshift-operator, package-validated

#3995 upstream-community-operators [O] submariner (0.9.0)
  upstream-community-operators/submariner/0.9.0/submariner.v0.9.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, installation-validated, kubernetes-operator, package-validated

#3996 Converting to lower case when checking author
  scripts/ci/actions-env
Labels: allow/ci-changes

#3997 lifecycle/stale label change
  .github/workflows/stale_issues.yaml
Labels: allow/ci-changes

#3972 ocp test prerequisites for early exits
  scripts/ci/openshift-deploy-core.sh
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes, package-validated

#3993 community-operators snyk-operator (1.59.3)
  community-operators/snyk-operator/1.59.3/snyk-operator.v1.59.3.clusterserviceversion.yaml
  community-operators/snyk-operator/1.59.3/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#3994 upstream-community-operators snyk-operator (1.59.3)
  upstream-community-operators/snyk-operator/1.59.3/snyk-operator.v1.59.3.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.59.3/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4000 Enable PRs without notifications
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3935 doc: update regarding deprecated apis and address some nits improvements
  README.md
  docs/README.md
  docs/contributing-via-pr.md
  docs/operator-overwrite.md
  docs/operator-version-update.md
  docs/packaging-operator.md
  docs/packaging-required-criteria-ocp.md
  docs/packaging-required-fields.md
  docs/testing-operators.md
Labels: allow/ci-changes

#4002 community-operators cockroachdb (5.0.4)
  community-operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, installation-validated, ok-to-test, openshift-operator, openshift-started-4.7, openshift-started-4.8, package-validated

#4005 upstream-community-operators flux (0.14.2)
  upstream-community-operators/flux/0.14.2/manifests/alert.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/bucket.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.14.2/manifests/crd-controller-flux-system.clusterrole.yaml
  upstream-community-operators/flux/0.14.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.14.2/manifests/flux.v0.14.2.clusterserviceversion.yaml
  upstream-community-operators/flux/0.14.2/manifests/gitrepository.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/helm-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.14.2/manifests/helmchart.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/helmrelease.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/helmrepository.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/image-automation-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.14.2/manifests/image-reflector-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.14.2/manifests/imagepolicy.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/imagerepository.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/imageupdateautomation.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/kustomization.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/kustomize-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.14.2/manifests/notification-controller.service.yaml
  upstream-community-operators/flux/0.14.2/manifests/notification-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.14.2/manifests/provider.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/receiver.crd.yaml
  upstream-community-operators/flux/0.14.2/manifests/source-controller.service.yaml
  upstream-community-operators/flux/0.14.2/manifests/source-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.14.2/manifests/webhook-receiver.service.yaml
  upstream-community-operators/flux/0.14.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4006 community-operators flux (0.14.2)
  community-operators/flux/0.14.2/manifests/alert.crd.yaml
  community-operators/flux/0.14.2/manifests/bucket.crd.yaml
  community-operators/flux/0.14.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.14.2/manifests/crd-controller-flux-system.clusterrole.yaml
  community-operators/flux/0.14.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.14.2/manifests/flux.v0.14.2.clusterserviceversion.yaml
  community-operators/flux/0.14.2/manifests/gitrepository.crd.yaml
  community-operators/flux/0.14.2/manifests/helm-controller.serviceaccount.yaml
  community-operators/flux/0.14.2/manifests/helmchart.crd.yaml
  community-operators/flux/0.14.2/manifests/helmrelease.crd.yaml
  community-operators/flux/0.14.2/manifests/helmrepository.crd.yaml
  community-operators/flux/0.14.2/manifests/image-automation-controller.serviceaccount.yaml
  community-operators/flux/0.14.2/manifests/image-reflector-controller.serviceaccount.yaml
  community-operators/flux/0.14.2/manifests/imagepolicy.crd.yaml
  community-operators/flux/0.14.2/manifests/imagerepository.crd.yaml
  community-operators/flux/0.14.2/manifests/imageupdateautomation.crd.yaml
  community-operators/flux/0.14.2/manifests/kustomization.crd.yaml
  community-operators/flux/0.14.2/manifests/kustomize-controller.serviceaccount.yaml
  community-operators/flux/0.14.2/manifests/notification-controller.service.yaml
  community-operators/flux/0.14.2/manifests/notification-controller.serviceaccount.yaml
  community-operators/flux/0.14.2/manifests/provider.crd.yaml
  community-operators/flux/0.14.2/manifests/receiver.crd.yaml
  community-operators/flux/0.14.2/manifests/source-controller.service.yaml
  community-operators/flux/0.14.2/manifests/source-controller.serviceaccount.yaml
  community-operators/flux/0.14.2/manifests/webhook-receiver.service.yaml
  community-operators/flux/0.14.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4003 upstream-community-operators [O] cockroachdb (5.0.4)
  upstream-community-operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
  upstream-community-operators/cockroachdb/5.0.4/metadata/annotations.yaml
Labels: allow/operator-version-overwrite, authorized-changes, do-not-merge/hold, kubernetes-operator

#4014 get os
  scripts/ci/openshift-deploy-core.sh
Labels: allow/ci-changes

#4016 upstream-community-operators [R] api-operator (1.2.3 2.0.0)
  upstream-community-operators/api-operator/1.2.3/api-operator.v1.2.3.clusterserviceversion.yaml
  upstream-community-operators/api-operator/2.0.0/api-operator.v2.0.0.clusterserviceversion.yaml
  upstream-community-operators/api-operator/api-operator.package.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, package-validated

#4017 community-operators [R] api-operator (1.2.3 2.0.0)
  community-operators/api-operator/1.2.3/api-operator.v1.2.3.clusterserviceversion.yaml
  community-operators/api-operator/2.0.0/api-operator.v2.0.0.clusterserviceversion.yaml
  community-operators/api-operator/api-operator.package.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.8, ok-to-test, openshift-operator, openshift-started-4.7, package-validated

#4011 community-operators [N] [CI] node-healthcheck-operator (0.0.1)
  community-operators/node-healthcheck-operator/0.0.1/bundle.Dockerfile
  community-operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  community-operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  community-operators/node-healthcheck-operator/0.0.1/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  community-operators/node-healthcheck-operator/0.0.1/metadata/annotations.yaml
  community-operators/node-healthcheck-operator/0.0.1/tests/scorecard/config.yaml
  community-operators/node-healthcheck-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#4018 community-operators [N] [CI] poison-pill-operator (0.0.1)
  community-operators/poison-pill-operator/0.0.1/manifests/external_remediation_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.1/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  community-operators/poison-pill-operator/0.0.1/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  community-operators/poison-pill-operator/0.0.1/manifests/poison-pill-manager-config_v1_configmap.yaml
  community-operators/poison-pill-operator/0.0.1/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.1/manifests/poison-pill.clusterserviceversion.yaml
  community-operators/poison-pill-operator/0.0.1/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  community-operators/poison-pill-operator/0.0.1/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  community-operators/poison-pill-operator/0.0.1/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  community-operators/poison-pill-operator/0.0.1/metadata/annotations.yaml
  community-operators/poison-pill-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#4004 upstream-community-operators [R] mongodb-enterprise (1.10.0 1.11.0)
  upstream-community-operators/mongodb-enterprise/1.10.0/tests/scorecard/config.yaml
  upstream-community-operators/mongodb-enterprise/1.11.0/bundle.Dockerfile
  upstream-community-operators/mongodb-enterprise/1.11.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  upstream-community-operators/mongodb-enterprise/1.11.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  upstream-community-operators/mongodb-enterprise/1.11.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  upstream-community-operators/mongodb-enterprise/1.11.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.11.0/manifests/mongodb.com_mongodb.yaml
  upstream-community-operators/mongodb-enterprise/1.11.0/manifests/mongodb.com_mongodbusers.yaml
  upstream-community-operators/mongodb-enterprise/1.11.0/manifests/mongodb.com_opsmanagers.yaml
  upstream-community-operators/mongodb-enterprise/1.11.0/metadata/annotations.yaml
  upstream-community-operators/mongodb-enterprise/1.11.0/tests/scorecard/config.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, package-validated

#4019 upstream-community-operators [N] node-healthcheck-operator (0.0.1)
  upstream-community-operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  upstream-community-operators/node-healthcheck-operator/0.0.1/metadata/dependencies.yaml
  upstream-community-operators/node-healthcheck-operator/0.0.1/tests/scorecard/config.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4022 community-operators [N] poison-pill-operator (0.0.1)
  community-operators/poison-pill-operator/0.0.1/metadata/annotations.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, new-operator, ok-to-test, openshift-operator, openshift-started-4.7, openshift-started-4.8, package-validated

#4020 community-operators [N] node-healthcheck-operator (0.0.1)
  community-operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  community-operators/node-healthcheck-operator/0.0.1/metadata/dependencies.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#4026 upstream-community-operators [N] node-healthcheck-operator (0.0.1)
  upstream-community-operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4033 fix final label
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#4027 community-operators [N] node-healthcheck-operator (0.0.1)
  community-operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.7, new-operator, ok-to-test, openshift-operator, package-validated

#4036 upstream-community-operators snyk-operator (1.64.1)
  upstream-community-operators/snyk-operator/1.64.1/snyk-operator.v1.64.1.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.64.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4031 Add reviewers to NFD ci.yml
  community-operators/openshift-nfd-operator/ci.yaml
Labels: authorized-changes, installation-validated, openshift-operator, package-validated

#4028 upstream-community-operators [N] poison-pill-operator (0.0.1)
  upstream-community-operators/poison-pill-operator/0.0.1/manifests/poison-pill.clusterserviceversion.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4042 community-operators poison-pill-operator (0.0.2)
  community-operators/poison-pill-operator/0.0.2/manifests/external_remediation_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.2/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  community-operators/poison-pill-operator/0.0.2/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  community-operators/poison-pill-operator/0.0.2/manifests/poison-pill-manager-config_v1_configmap.yaml
  community-operators/poison-pill-operator/0.0.2/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.2/manifests/poison-pill.clusterserviceversion.yaml
  community-operators/poison-pill-operator/0.0.2/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  community-operators/poison-pill-operator/0.0.2/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  community-operators/poison-pill-operator/0.0.2/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  community-operators/poison-pill-operator/0.0.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4046 community-operators egressip-ipam-operator (1.0.8)
  community-operators/egressip-ipam-operator/1.0.8/Dockerfile
  community-operators/egressip-ipam-operator/1.0.8/manifests/egressip-ipam-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/egressip-ipam-operator/1.0.8/manifests/egressip-ipam-operator-controller-manager-metrics_v1_service.yaml
  community-operators/egressip-ipam-operator/1.0.8/manifests/egressip-ipam-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/egressip-ipam-operator/1.0.8/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  community-operators/egressip-ipam-operator/1.0.8/manifests/egressip-ipam-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/egressip-ipam-operator/1.0.8/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  community-operators/egressip-ipam-operator/1.0.8/manifests/redhatcop.redhat.io_egressipams.yaml
  community-operators/egressip-ipam-operator/1.0.8/metadata/annotations.yaml
  community-operators/egressip-ipam-operator/1.0.8/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, ok-to-test, openshift-operator, package-validated

#4048 community-operators proactive-node-scaling-operator (0.3.5)
  community-operators/proactive-node-scaling-operator/0.3.5/Dockerfile
  community-operators/proactive-node-scaling-operator/0.3.5/manifests/proactive-node-scaling-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/proactive-node-scaling-operator/0.3.5/manifests/proactive-node-scaling-operator-controller-manager-metrics_v1_service.yaml
  community-operators/proactive-node-scaling-operator/0.3.5/manifests/proactive-node-scaling-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/proactive-node-scaling-operator/0.3.5/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  community-operators/proactive-node-scaling-operator/0.3.5/manifests/proactive-node-scaling-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/proactive-node-scaling-operator/0.3.5/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  community-operators/proactive-node-scaling-operator/0.3.5/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  community-operators/proactive-node-scaling-operator/0.3.5/metadata/annotations.yaml
  community-operators/proactive-node-scaling-operator/0.3.5/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#4047 community-operators resource-locker-operator (1.0.7)
  community-operators/resource-locker-operator/1.0.7/Dockerfile
  community-operators/resource-locker-operator/1.0.7/manifests/redhatcop.redhat.io_resourcelockers.yaml
  community-operators/resource-locker-operator/1.0.7/manifests/resource-locker-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/resource-locker-operator/1.0.7/manifests/resource-locker-operator-controller-manager-metrics_v1_service.yaml
  community-operators/resource-locker-operator/1.0.7/manifests/resource-locker-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/resource-locker-operator/1.0.7/manifests/resource-locker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/resource-locker-operator/1.0.7/manifests/resource-locker-operator.clusterserviceversion.yaml
  community-operators/resource-locker-operator/1.0.7/metadata/annotations.yaml
  community-operators/resource-locker-operator/1.0.7/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, ok-to-test, openshift-operator, package-validated

#4049 community-operators namespace-configuration-operator (1.0.6)
  community-operators/namespace-configuration-operator/1.0.6/Dockerfile
  community-operators/namespace-configuration-operator/1.0.6/manifests/namespace-configuration-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/namespace-configuration-operator/1.0.6/manifests/namespace-configuration-operator-controller-manager-metrics_v1_service.yaml
  community-operators/namespace-configuration-operator/1.0.6/manifests/namespace-configuration-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/namespace-configuration-operator/1.0.6/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  community-operators/namespace-configuration-operator/1.0.6/manifests/namespace-configuration-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/namespace-configuration-operator/1.0.6/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/1.0.6/manifests/redhatcop.redhat.io_groupconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.6/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.6/manifests/redhatcop.redhat.io_userconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.6/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/1.0.6/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#4050 community-operators must-gather-operator (1.0.5)
  community-operators/must-gather-operator/1.0.5/Dockerfile
  community-operators/must-gather-operator/1.0.5/manifests/must-gather-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/must-gather-operator/1.0.5/manifests/must-gather-operator-controller-manager-metrics_v1_service.yaml
  community-operators/must-gather-operator/1.0.5/manifests/must-gather-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/must-gather-operator/1.0.5/manifests/must-gather-operator-manager-config_v1_configmap.yaml
  community-operators/must-gather-operator/1.0.5/manifests/must-gather-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/must-gather-operator/1.0.5/manifests/must-gather-operator.clusterserviceversion.yaml
  community-operators/must-gather-operator/1.0.5/manifests/redhatcop.redhat.io_mustgathers.yaml
  community-operators/must-gather-operator/1.0.5/metadata/annotations.yaml
  community-operators/must-gather-operator/1.0.5/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, ok-to-test, openshift-operator, openshift-started-4.8, package-validated

#4051 community-operators keepalived-operator (1.3.3)
  community-operators/keepalived-operator/1.3.3/Dockerfile
  community-operators/keepalived-operator/1.3.3/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/keepalived-operator/1.3.3/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  community-operators/keepalived-operator/1.3.3/manifests/keepalived-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/keepalived-operator/1.3.3/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  community-operators/keepalived-operator/1.3.3/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/keepalived-operator/1.3.3/manifests/keepalived-operator.clusterserviceversion.yaml
  community-operators/keepalived-operator/1.3.3/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  community-operators/keepalived-operator/1.3.3/metadata/annotations.yaml
  community-operators/keepalived-operator/1.3.3/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4052 community-operators global-load-balancer-operator (1.0.7)
  community-operators/global-load-balancer-operator/1.0.7/Dockerfile
  community-operators/global-load-balancer-operator/1.0.7/manifests/externaldns.k8s.io_dnsendpoints.yaml
  community-operators/global-load-balancer-operator/1.0.7/manifests/global-load-balancer-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/global-load-balancer-operator/1.0.7/manifests/global-load-balancer-operator-controller-manager-metrics_v1_service.yaml
  community-operators/global-load-balancer-operator/1.0.7/manifests/global-load-balancer-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/global-load-balancer-operator/1.0.7/manifests/global-load-balancer-operator-manager-config_v1_configmap.yaml
  community-operators/global-load-balancer-operator/1.0.7/manifests/global-load-balancer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/global-load-balancer-operator/1.0.7/manifests/global-load-balancer-operator.clusterserviceversion.yaml
  community-operators/global-load-balancer-operator/1.0.7/manifests/redhatcop.redhat.io_globaldnsrecords.yaml
  community-operators/global-load-balancer-operator/1.0.7/manifests/redhatcop.redhat.io_globaldnszones.yaml
  community-operators/global-load-balancer-operator/1.0.7/manifests/redhatcop.redhat.io_globalroutediscoveries.yaml
  community-operators/global-load-balancer-operator/1.0.7/metadata/annotations.yaml
  community-operators/global-load-balancer-operator/1.0.7/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4053 community-operators cert-utils-operator (1.0.7)
  community-operators/cert-utils-operator/1.0.7/Dockerfile
  community-operators/cert-utils-operator/1.0.7/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/cert-utils-operator/1.0.7/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  community-operators/cert-utils-operator/1.0.7/manifests/cert-utils-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/cert-utils-operator/1.0.7/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  community-operators/cert-utils-operator/1.0.7/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/cert-utils-operator/1.0.7/manifests/cert-utils-operator.clusterserviceversion.yaml
  community-operators/cert-utils-operator/1.0.7/metadata/annotations.yaml
  community-operators/cert-utils-operator/1.0.7/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, ok-to-test, openshift-operator, package-validated

#4054 Cvp 1793 labeling
  .github/workflows/command_merge.yaml
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_ci_installation_label.yaml
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#4057 Fix test mode
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#4058 upstream-community-operators knative-operator (0.23.1)
  upstream-community-operators/knative-operator/0.23.1/knative-operator.v0.23.1.clusterserviceversion.yaml
  upstream-community-operators/knative-operator/0.23.1/knativeeventings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/0.23.1/knativeservings.operator.knative.dev.crd.yaml
  upstream-community-operators/knative-operator/knative-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4059 Fix mode
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#4060 ocp specific back
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#4062 upstream-community-operators [CI] cloud-native-postgresql (1.5.0)
  upstream-community-operators/cloud-native-postgresql/1.5.0/bundle.Dockerfile
  upstream-community-operators/cloud-native-postgresql/1.5.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.0/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.0/metadata/annotations.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.0/tests/scorecard/.gitignore
  upstream-community-operators/cloud-native-postgresql/ci.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4065 upstream-community-operators poison-pill-operator (0.0.2)
  upstream-community-operators/poison-pill-operator/0.0.2/manifests/external_remediation_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.2/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/poison-pill-operator/0.0.2/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/poison-pill-operator/0.0.2/manifests/poison-pill-manager-config_v1_configmap.yaml
  upstream-community-operators/poison-pill-operator/0.0.2/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.2/manifests/poison-pill.clusterserviceversion.yaml
  upstream-community-operators/poison-pill-operator/0.0.2/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  upstream-community-operators/poison-pill-operator/0.0.2/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  upstream-community-operators/poison-pill-operator/0.0.2/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  upstream-community-operators/poison-pill-operator/0.0.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4067 upstream-community-operators poison-pill-operator (0.0.3)
  upstream-community-operators/poison-pill-operator/0.0.3/manifests/external_remediation_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.3/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/poison-pill-operator/0.0.3/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/poison-pill-operator/0.0.3/manifests/poison-pill-manager-config_v1_configmap.yaml
  upstream-community-operators/poison-pill-operator/0.0.3/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.3/manifests/poison-pill.clusterserviceversion.yaml
  upstream-community-operators/poison-pill-operator/0.0.3/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  upstream-community-operators/poison-pill-operator/0.0.3/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  upstream-community-operators/poison-pill-operator/0.0.3/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  upstream-community-operators/poison-pill-operator/0.0.3/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4066 community-operators poison-pill-operator (0.0.3)
  community-operators/poison-pill-operator/0.0.3/manifests/external_remediation_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.3/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  community-operators/poison-pill-operator/0.0.3/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  community-operators/poison-pill-operator/0.0.3/manifests/poison-pill-manager-config_v1_configmap.yaml
  community-operators/poison-pill-operator/0.0.3/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.3/manifests/poison-pill.clusterserviceversion.yaml
  community-operators/poison-pill-operator/0.0.3/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  community-operators/poison-pill-operator/0.0.3/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  community-operators/poison-pill-operator/0.0.3/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  community-operators/poison-pill-operator/0.0.3/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4061 Cvp 1793 actual labels
  .github/workflows/operator_ci_installation_label.yaml
  .github/workflows/operator_test_report_openshift_status.yaml
  scripts/ci/openshift-deploy-core.sh
Labels: allow/ci-changes, do-not-merge/hold, package-validated

#4032 upstream-community-operators [R] [CI] opentelemetry-operator (0.16.0 0.17.1 0.21.0 0.27.0)
  upstream-community-operators/opentelemetry-operator/0.16.0/tests/scorecard/.gitignore
  upstream-community-operators/opentelemetry-operator/0.17.1/tests/scorecard/.gitignore
  upstream-community-operators/opentelemetry-operator/0.21.0/tests/scorecard/.gitignore
  upstream-community-operators/opentelemetry-operator/0.27.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/opentelemetry-operator/0.27.0/manifests/opentelemetry-operator-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/opentelemetry-operator/0.27.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/opentelemetry-operator/0.27.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  upstream-community-operators/opentelemetry-operator/0.27.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  upstream-community-operators/opentelemetry-operator/0.27.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  upstream-community-operators/opentelemetry-operator/0.27.0/metadata/annotations.yaml
  upstream-community-operators/opentelemetry-operator/0.27.0/tests/scorecard/.gitignore
  upstream-community-operators/opentelemetry-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, package-validated

#4072 Fix openshift report
  .github/workflows/operator_test_report_openshift_status.yaml
Labels: allow/ci-changes

#4073 number
  .github/workflows/operator_test_report_openshift_status.yaml
Labels: allow/ci-changes

#4074 4.6 has an own label
  .github/workflows/operator_test_report_openshift_status.yaml
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#4075 check labels again
  .github/workflows/operator_test_report_openshift_status.yaml
Labels: allow/ci-changes

#4076 loop over the last label
  .github/workflows/operator_test_report_openshift_status.yaml
Labels: allow/ci-changes

#4077 better condition for labels
  .github/workflows/operator_test_report_openshift_status.yaml
Labels: allow/ci-changes

#4081 community-operators proactive-node-scaling-operator (0.3.6)
  community-operators/proactive-node-scaling-operator/0.3.6/Dockerfile
  community-operators/proactive-node-scaling-operator/0.3.6/manifests/proactive-node-scaling-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/proactive-node-scaling-operator/0.3.6/manifests/proactive-node-scaling-operator-controller-manager-metrics_v1_service.yaml
  community-operators/proactive-node-scaling-operator/0.3.6/manifests/proactive-node-scaling-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/proactive-node-scaling-operator/0.3.6/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  community-operators/proactive-node-scaling-operator/0.3.6/manifests/proactive-node-scaling-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/proactive-node-scaling-operator/0.3.6/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  community-operators/proactive-node-scaling-operator/0.3.6/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  community-operators/proactive-node-scaling-operator/0.3.6/metadata/annotations.yaml
  community-operators/proactive-node-scaling-operator/0.3.6/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4086 initial conditions
  scripts/ci/openshift-deploy-core.sh
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#4083 upstream-community-operators couchdb-operator (1.4.4)
  upstream-community-operators/couchdb-operator/1.4.4/bundle.Dockerfile
  upstream-community-operators/couchdb-operator/1.4.4/manifests/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.4/manifests/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.4/manifests/couchdb-operator.v1.4.4.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.4.4/manifests/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.4/manifests/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.4/manifests/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.4/manifests/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.4/manifests/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.4/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4080 upstream-community-operators [CI] hpe-csi-operator (2.0.0)
  upstream-community-operators/hpe-csi-operator/2.0.0/Dockerfile
  upstream-community-operators/hpe-csi-operator/2.0.0/manifests/hpe-csi-operator.v2.0.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/2.0.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  upstream-community-operators/hpe-csi-operator/2.0.0/metadata/annotations.yaml
  upstream-community-operators/hpe-csi-operator/ci.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4082 upstream-community-operators [R] [CI] redis-operator (0.0.1 0.2.0 0.3.0 0.4.0 0.5.0 0.6.0)
  upstream-community-operators/redis-operator/0.0.1/bundle.Dockerfile
  upstream-community-operators/redis-operator/0.0.1/manifests/redis-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.0.1/manifests/redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/0.0.1/metadata/annotations.yaml
  upstream-community-operators/redis-operator/0.2.0/bundle.Dockerfile
  upstream-community-operators/redis-operator/0.2.0/manifests/redis-operator.v0.2.0.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.2.0/manifests/redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/0.2.0/metadata/annotations.yaml
  upstream-community-operators/redis-operator/0.3.0/bundle.Dockerfile
  upstream-community-operators/redis-operator/0.3.0/manifests/redis-operator.v0.3.0.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.3.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/0.3.0/metadata/annotations.yaml
  upstream-community-operators/redis-operator/0.4.0/bundle.Dockerfile
  upstream-community-operators/redis-operator/0.4.0/manifests/redis-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.4.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/0.4.0/metadata/annotations.yaml
  upstream-community-operators/redis-operator/0.5.0/bundle.Dockerfile
  upstream-community-operators/redis-operator/0.5.0/manifests/redis-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.5.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/0.5.0/metadata/annotations.yaml
  upstream-community-operators/redis-operator/0.6.0/bundle.Dockerfile
  upstream-community-operators/redis-operator/0.6.0/manifests/redis-operator.v0.6.0.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.6.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/0.6.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/0.6.0/metadata/annotations.yaml
  upstream-community-operators/redis-operator/ci.yaml
  upstream-community-operators/redis-operator/redis-operator.package.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, package-validated

#4063 community-operators neuvector-community-operator (1.2.6)
  community-operators/neuvector-community-operator/1.2.6/neuvector-operator.crd.yaml
  community-operators/neuvector-community-operator/1.2.6/neuvector-operator.v1.2.6.clusterserviceversion.yaml
  community-operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4034 community-operators snyk-operator (1.64.1)
  community-operators/snyk-operator/1.64.1/snyk-operator.v1.64.1.clusterserviceversion.yaml
  community-operators/snyk-operator/1.64.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4084 upstream-community-operators [R] flux (0.15.0)
  upstream-community-operators/flux/0.15.0/manifests/alert.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/bucket.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.15.0/manifests/crd-controller-flux-system.clusterrole.yaml
  upstream-community-operators/flux/0.15.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.15.0/manifests/flux.v0.15.0.clusterserviceversion.yaml
  upstream-community-operators/flux/0.15.0/manifests/gitrepository.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/helm-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.0/manifests/helmchart.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/helmrelease.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/helmrepository.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/image-automation-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.0/manifests/image-reflector-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.0/manifests/imagepolicy.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/imagerepository.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/imageupdateautomation.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/kustomization.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/kustomize-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.0/manifests/notification-controller.service.yaml
  upstream-community-operators/flux/0.15.0/manifests/notification-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.0/manifests/provider.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/receiver.crd.yaml
  upstream-community-operators/flux/0.15.0/manifests/source-controller.service.yaml
  upstream-community-operators/flux/0.15.0/manifests/source-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.0/manifests/webhook-receiver.service.yaml
  upstream-community-operators/flux/0.15.0/metadata/annotations.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, package-validated

#4088 Hpe csi 2.0.0 Update
  upstream-community-operators/hpe-csi-operator/2.0.0/manifests/hpe-csi-operator.v2.0.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/2.0.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4087 delete all validation labels after every change
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes, package-validated

#4094 installation validated will be removed on push while hold
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#4095 pr number
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#4098 upstream-community-operators [R] service-binding-operator (0.5.0 0.6.0 0.7.0 0.7.1)
  upstream-community-operators/service-binding-operator/0.5.0/metadata/annotations.yaml
  upstream-community-operators/service-binding-operator/0.6.0/metadata/annotations.yaml
  upstream-community-operators/service-binding-operator/0.7.0/metadata/annotations.yaml
  upstream-community-operators/service-binding-operator/0.7.1/metadata/annotations.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, package-validated

#4096 upstream-community-operators service-binding-operator (0.8.0)
  upstream-community-operators/service-binding-operator/0.8.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  upstream-community-operators/service-binding-operator/0.8.0/manifests/service-binding-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/service-binding-operator/0.8.0/manifests/service-binding-operator-servicebinding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/service-binding-operator/0.8.0/manifests/service-binding-operator-servicebinding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/service-binding-operator/0.8.0/manifests/service-binding-operator.clusterserviceversion.yaml
  upstream-community-operators/service-binding-operator/0.8.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4092 community-operators assisted-service-operator (0.0.5)
  community-operators/assisted-service-operator/0.0.5/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.5/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.5/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.5/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.5/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.5/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/assisted-service.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4101 community-operators crane-operator (1.4.5)
  community-operators/crane-operator/1.4.5/manifests/backup.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/backupstoragelocation.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/crane-operator.v1.4.5.clusterserviceversion.yaml
  community-operators/crane-operator/1.4.5/manifests/deletebackuprequest.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/downloadrequest.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/migration.openshift.io_directimagemigrations.yaml
  community-operators/crane-operator/1.4.5/manifests/migration.openshift.io_directimagestreammigrations.yaml
  community-operators/crane-operator/1.4.5/manifests/migration.openshift.io_directvolumemigrationprogresses.yaml
  community-operators/crane-operator/1.4.5/manifests/migration.openshift.io_directvolumemigrations.yaml
  community-operators/crane-operator/1.4.5/manifests/migration.openshift.io_miganalytics.yaml
  community-operators/crane-operator/1.4.5/manifests/migration.openshift.io_migclusters.yaml
  community-operators/crane-operator/1.4.5/manifests/migration.openshift.io_mighooks.yaml
  community-operators/crane-operator/1.4.5/manifests/migration.openshift.io_migmigrations.yaml
  community-operators/crane-operator/1.4.5/manifests/migration.openshift.io_migplans.yaml
  community-operators/crane-operator/1.4.5/manifests/migration.openshift.io_migstorages.yaml
  community-operators/crane-operator/1.4.5/manifests/migrationcontroller.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/podvolumebackup.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/podvolumerestore.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/resticrepository.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/restore.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/schedule.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/serverstatusrequest.crd.yaml
  community-operators/crane-operator/1.4.5/manifests/volumesnapshotlocation.crd.yaml
  community-operators/crane-operator/1.4.5/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4109 upstream-community-operators victoriametrics-operator (0.15.2)
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmagents.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmalertmanagers.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmalerts.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmauths.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmclusters.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmnodescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmpodscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmprobes.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmrules.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmservicescrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmsingles.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmstaticscrapes.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmusers.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/victoriametrics-operator.0.15.2.clusterserviceversion.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/victoriametrics-operator/0.15.2/vm-operator-vm-operator_v1_serviceaccount.yaml
  upstream-community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4106 community-operators proactive-node-scaling-operator (0.3.7)
  community-operators/proactive-node-scaling-operator/0.3.7/Dockerfile
  community-operators/proactive-node-scaling-operator/0.3.7/manifests/proactive-node-scaling-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/proactive-node-scaling-operator/0.3.7/manifests/proactive-node-scaling-operator-controller-manager-metrics_v1_service.yaml
  community-operators/proactive-node-scaling-operator/0.3.7/manifests/proactive-node-scaling-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/proactive-node-scaling-operator/0.3.7/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  community-operators/proactive-node-scaling-operator/0.3.7/manifests/proactive-node-scaling-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/proactive-node-scaling-operator/0.3.7/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  community-operators/proactive-node-scaling-operator/0.3.7/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  community-operators/proactive-node-scaling-operator/0.3.7/metadata/annotations.yaml
  community-operators/proactive-node-scaling-operator/0.3.7/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4102 upstream-community-operators [R] mongodb-enterprise (1.10.0 1.11.0)
  upstream-community-operators/mongodb-enterprise/1.10.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  upstream-community-operators/mongodb-enterprise/1.11.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, package-validated

#4112 upstream-community-operators cloud-native-postgresql (1.5.1)
  upstream-community-operators/cloud-native-postgresql/1.5.1/bundle.Dockerfile
  upstream-community-operators/cloud-native-postgresql/1.5.1/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.1/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.1/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.1/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.1/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.1/metadata/annotations.yaml
  upstream-community-operators/cloud-native-postgresql/1.5.1/tests/scorecard/.gitignore
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4029 community-operators [N] poison-pill-operator (0.0.1)
  community-operators/poison-pill-operator/0.0.1/manifests/poison-pill.clusterserviceversion.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#4039 community-operators kogito-operator (1.7.0)
  community-operators/kogito-operator/1.7.0/Dockerfile
  community-operators/kogito-operator/1.7.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  community-operators/kogito-operator/1.7.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  community-operators/kogito-operator/1.7.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  community-operators/kogito-operator/1.7.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  community-operators/kogito-operator/1.7.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/kogito-operator/1.7.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/kogito-operator/1.7.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/kogito-operator/1.7.0/manifests/kogito-operator.clusterserviceversion.yaml
  community-operators/kogito-operator/1.7.0/metadata/annotations.yaml
  community-operators/kogito-operator/1.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4110 community-operators victoriametrics-operator (0.15.2)
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmagents.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmalertmanagers.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmalerts.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmauths.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmclusters.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmnodescrapes.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmpodscrapes.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmprobes.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmrules.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmservicescrapes.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmsingles.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmstaticscrapes.yaml
  community-operators/victoriametrics-operator/0.15.2/operator.victoriametrics.com_vmusers.yaml
  community-operators/victoriametrics-operator/0.15.2/victoriametrics-operator.0.15.2.clusterserviceversion.yaml
  community-operators/victoriametrics-operator/0.15.2/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/victoriametrics-operator/0.15.2/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  community-operators/victoriametrics-operator/0.15.2/vm-operator-vm-operator_v1_serviceaccount.yaml
  community-operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4114 upstream-community-operators flux (0.15.2)
  upstream-community-operators/flux/0.15.2/manifests/alert.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/bucket.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.15.2/manifests/crd-controller-flux-system.clusterrole.yaml
  upstream-community-operators/flux/0.15.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.15.2/manifests/flux.v0.15.2.clusterserviceversion.yaml
  upstream-community-operators/flux/0.15.2/manifests/gitrepository.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/helm-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.2/manifests/helmchart.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/helmrelease.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/helmrepository.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/image-automation-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.2/manifests/image-reflector-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.2/manifests/imagepolicy.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/imagerepository.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/imageupdateautomation.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/kustomization.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/kustomize-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.2/manifests/notification-controller.service.yaml
  upstream-community-operators/flux/0.15.2/manifests/notification-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.2/manifests/provider.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/receiver.crd.yaml
  upstream-community-operators/flux/0.15.2/manifests/source-controller.service.yaml
  upstream-community-operators/flux/0.15.2/manifests/source-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.2/manifests/webhook-receiver.service.yaml
  upstream-community-operators/flux/0.15.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4115 community-operators flux (0.15.2)
  community-operators/flux/0.15.2/manifests/alert.crd.yaml
  community-operators/flux/0.15.2/manifests/bucket.crd.yaml
  community-operators/flux/0.15.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.15.2/manifests/crd-controller-flux-system.clusterrole.yaml
  community-operators/flux/0.15.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.15.2/manifests/flux.v0.15.2.clusterserviceversion.yaml
  community-operators/flux/0.15.2/manifests/gitrepository.crd.yaml
  community-operators/flux/0.15.2/manifests/helm-controller.serviceaccount.yaml
  community-operators/flux/0.15.2/manifests/helmchart.crd.yaml
  community-operators/flux/0.15.2/manifests/helmrelease.crd.yaml
  community-operators/flux/0.15.2/manifests/helmrepository.crd.yaml
  community-operators/flux/0.15.2/manifests/image-automation-controller.serviceaccount.yaml
  community-operators/flux/0.15.2/manifests/image-reflector-controller.serviceaccount.yaml
  community-operators/flux/0.15.2/manifests/imagepolicy.crd.yaml
  community-operators/flux/0.15.2/manifests/imagerepository.crd.yaml
  community-operators/flux/0.15.2/manifests/imageupdateautomation.crd.yaml
  community-operators/flux/0.15.2/manifests/kustomization.crd.yaml
  community-operators/flux/0.15.2/manifests/kustomize-controller.serviceaccount.yaml
  community-operators/flux/0.15.2/manifests/notification-controller.service.yaml
  community-operators/flux/0.15.2/manifests/notification-controller.serviceaccount.yaml
  community-operators/flux/0.15.2/manifests/provider.crd.yaml
  community-operators/flux/0.15.2/manifests/receiver.crd.yaml
  community-operators/flux/0.15.2/manifests/source-controller.service.yaml
  community-operators/flux/0.15.2/manifests/source-controller.serviceaccount.yaml
  community-operators/flux/0.15.2/manifests/webhook-receiver.service.yaml
  community-operators/flux/0.15.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4120 upstream-community-operators poison-pill-operator (0.0.4)
  upstream-community-operators/poison-pill-operator/0.0.4/manifests/external_remediation_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.4/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/poison-pill-operator/0.0.4/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/poison-pill-operator/0.0.4/manifests/poison-pill-manager-config_v1_configmap.yaml
  upstream-community-operators/poison-pill-operator/0.0.4/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.4/manifests/poison-pill.clusterserviceversion.yaml
  upstream-community-operators/poison-pill-operator/0.0.4/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  upstream-community-operators/poison-pill-operator/0.0.4/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  upstream-community-operators/poison-pill-operator/0.0.4/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  upstream-community-operators/poison-pill-operator/0.0.4/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4118 upstream-community-operators [CI] hpe-ezmeral-csi-operator (1.0.1)
  upstream-community-operators/hpe-ezmeral-csi-operator/1.0.1/Dockerfile
  upstream-community-operators/hpe-ezmeral-csi-operator/1.0.1/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  upstream-community-operators/hpe-ezmeral-csi-operator/1.0.1/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  upstream-community-operators/hpe-ezmeral-csi-operator/1.0.1/manifests/hpe-ezmeral-csi-operator.v1.0.1.clusterserviceversion.yaml
  upstream-community-operators/hpe-ezmeral-csi-operator/1.0.1/metadata/annotations.yaml
  upstream-community-operators/hpe-ezmeral-csi-operator/ci.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4111 [CVP-1965] Measure operator flow - community operators
  ci/operator-flow/.gitignore
  ci/operator-flow/README.md
  ci/operator-flow/graphql_handler.py
  ci/operator-flow/measure-operator-flow.py
  ci/operator-flow/requirements.txt
Labels: allow/ci-changes

#4119 community-operators poison-pill-operator (0.0.4)
  community-operators/poison-pill-operator/0.0.4/manifests/external_remediation_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.4/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  community-operators/poison-pill-operator/0.0.4/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  community-operators/poison-pill-operator/0.0.4/manifests/poison-pill-manager-config_v1_configmap.yaml
  community-operators/poison-pill-operator/0.0.4/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/poison-pill-operator/0.0.4/manifests/poison-pill.clusterserviceversion.yaml
  community-operators/poison-pill-operator/0.0.4/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  community-operators/poison-pill-operator/0.0.4/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  community-operators/poison-pill-operator/0.0.4/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  community-operators/poison-pill-operator/0.0.4/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4105 upstream-community-operators [O] [CI] hpe-csi-operator (2.0.0)
  upstream-community-operators/hpe-csi-operator/2.0.0/manifests/hpe-csi-operator.v2.0.0.clusterserviceversion.yaml
  upstream-community-operators/hpe-csi-operator/ci.yaml
Labels: allow/operator-version-overwrite, allow/serious-changes-to-existing, authorized-changes, installation-validated, kubernetes-operator, package-validated

#4103 upstream-community-operators [N] [CI] cert-manager (1.4.0)
  upstream-community-operators/cert-manager/1.4.0/bundle.Dockerfile
  upstream-community-operators/cert-manager/1.4.0/manifests/acme.cert-manager.io_challenges.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/acme.cert-manager.io_orders.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager-cainjector_v1_serviceaccount.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager-webhook_v1_service.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager-webhook_v1_serviceaccount.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager.clusterserviceversion.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager.io_certificaterequests.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager.io_certificates.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager.io_clusterissuers.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager.io_issuers.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager_v1_service.yaml
  upstream-community-operators/cert-manager/1.4.0/manifests/cert-manager_v1_serviceaccount.yaml
  upstream-community-operators/cert-manager/1.4.0/metadata/annotations.yaml
  upstream-community-operators/cert-manager/1.4.0/tests/scorecard/config.yaml
  upstream-community-operators/cert-manager/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4125 upstream-community-operators dell-csi-operator (1.4.0)
  upstream-community-operators/dell-csi-operator/1.4.0/csiisilons.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.4.0/csipowermaxes.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.4.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.4.0/csipowerstores.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.4.0/csiunities.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.4.0/csivxflexoses.storage.dell.com.crd.yaml
  upstream-community-operators/dell-csi-operator/1.4.0/dell-csi-operator.v1.4.0.clusterserviceversion.yaml
  upstream-community-operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4122 upstream-community-operators clickhouse (0.14.0)
  upstream-community-operators/clickhouse/0.14.0/clickhouse-operator.v0.14.0.clusterserviceversion.yaml
  upstream-community-operators/clickhouse/0.14.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.14.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/0.14.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  upstream-community-operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4127 remove rqlite operator, no longer maintained, Signed-Off-By: djm76262@gmail.com
  upstream-community-operators/rqlite-operator/0.0.1/rqcluster.example.com_rqclusters_crd.yaml
  upstream-community-operators/rqlite-operator/0.0.1/rqlite-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/rqlite-operator/ci.yaml
  upstream-community-operators/rqlite-operator/rqlite-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, kubernetes-operator, package-validated

#4097 community-operators [R] [CI] redis-operator (0.0.1 0.2.0 0.3.0 0.4.0 0.5.0 0.6.0)
  community-operators/redis-operator/0.0.1/bundle.Dockerfile
  community-operators/redis-operator/0.0.1/manifests/redis-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/redis-operator/0.0.1/manifests/redis.redis.opstreelabs.in.crd.yaml
  community-operators/redis-operator/0.0.1/metadata/annotations.yaml
  community-operators/redis-operator/0.2.0/bundle.Dockerfile
  community-operators/redis-operator/0.2.0/manifests/redis-operator.v0.2.0.clusterserviceversion.yaml
  community-operators/redis-operator/0.2.0/manifests/redis.redis.opstreelabs.in.crd.yaml
  community-operators/redis-operator/0.2.0/metadata/annotations.yaml
  community-operators/redis-operator/0.3.0/bundle.Dockerfile
  community-operators/redis-operator/0.3.0/manifests/redis-operator.v0.3.0.clusterserviceversion.yaml
  community-operators/redis-operator/0.3.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  community-operators/redis-operator/0.3.0/metadata/annotations.yaml
  community-operators/redis-operator/0.4.0/bundle.Dockerfile
  community-operators/redis-operator/0.4.0/manifests/redis-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/redis-operator/0.4.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  community-operators/redis-operator/0.4.0/metadata/annotations.yaml
  community-operators/redis-operator/0.5.0/bundle.Dockerfile
  community-operators/redis-operator/0.5.0/manifests/redis-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/redis-operator/0.5.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  community-operators/redis-operator/0.5.0/metadata/annotations.yaml
  community-operators/redis-operator/0.6.0/bundle.Dockerfile
  community-operators/redis-operator/0.6.0/manifests/redis-operator.v0.6.0.clusterserviceversion.yaml
  community-operators/redis-operator/0.6.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  community-operators/redis-operator/0.6.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  community-operators/redis-operator/0.6.0/metadata/annotations.yaml
  community-operators/redis-operator/ci.yaml
  community-operators/redis-operator/redis-operator.package.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4128 community-operators [N] [CI] cert-manager (1.4.0)
  community-operators/cert-manager/1.4.0/bundle.Dockerfile
  community-operators/cert-manager/1.4.0/manifests/acme.cert-manager.io_challenges.yaml
  community-operators/cert-manager/1.4.0/manifests/acme.cert-manager.io_orders.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager-cainjector_v1_serviceaccount.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager-webhook_v1_service.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager-webhook_v1_serviceaccount.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager.clusterserviceversion.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager.io_certificaterequests.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager.io_certificates.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager.io_clusterissuers.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager.io_issuers.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager_v1_service.yaml
  community-operators/cert-manager/1.4.0/manifests/cert-manager_v1_serviceaccount.yaml
  community-operators/cert-manager/1.4.0/metadata/annotations.yaml
  community-operators/cert-manager/1.4.0/tests/scorecard/config.yaml
  community-operators/cert-manager/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#4130 upstream-community-operators ibm-application-gateway-operator (21.6.0)
  upstream-community-operators/ibm-application-gateway-operator/21.6.0/ibm-application-gateway-operator.v21.6.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-application-gateway-operator/21.6.0/ibmapplicationgateways.ibm.com.crd.yaml
  upstream-community-operators/ibm-application-gateway-operator/ibm-application-gateway-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4131 upstream-community-operators flux (0.15.3)
  upstream-community-operators/flux/0.15.3/manifests/alert.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/bucket.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.15.3/manifests/crd-controller-flux-system.clusterrole.yaml
  upstream-community-operators/flux/0.15.3/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  upstream-community-operators/flux/0.15.3/manifests/flux.v0.15.3.clusterserviceversion.yaml
  upstream-community-operators/flux/0.15.3/manifests/gitrepository.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/helm-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.3/manifests/helmchart.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/helmrelease.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/helmrepository.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/image-automation-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.3/manifests/image-reflector-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.3/manifests/imagepolicy.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/imagerepository.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/imageupdateautomation.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/kustomization.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/kustomize-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.3/manifests/notification-controller.service.yaml
  upstream-community-operators/flux/0.15.3/manifests/notification-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.3/manifests/provider.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/receiver.crd.yaml
  upstream-community-operators/flux/0.15.3/manifests/source-controller.service.yaml
  upstream-community-operators/flux/0.15.3/manifests/source-controller.serviceaccount.yaml
  upstream-community-operators/flux/0.15.3/manifests/webhook-receiver.service.yaml
  upstream-community-operators/flux/0.15.3/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4132 community-operators flux (0.15.3)
  community-operators/flux/0.15.3/manifests/alert.crd.yaml
  community-operators/flux/0.15.3/manifests/bucket.crd.yaml
  community-operators/flux/0.15.3/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.15.3/manifests/crd-controller-flux-system.clusterrole.yaml
  community-operators/flux/0.15.3/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  community-operators/flux/0.15.3/manifests/flux.v0.15.3.clusterserviceversion.yaml
  community-operators/flux/0.15.3/manifests/gitrepository.crd.yaml
  community-operators/flux/0.15.3/manifests/helm-controller.serviceaccount.yaml
  community-operators/flux/0.15.3/manifests/helmchart.crd.yaml
  community-operators/flux/0.15.3/manifests/helmrelease.crd.yaml
  community-operators/flux/0.15.3/manifests/helmrepository.crd.yaml
  community-operators/flux/0.15.3/manifests/image-automation-controller.serviceaccount.yaml
  community-operators/flux/0.15.3/manifests/image-reflector-controller.serviceaccount.yaml
  community-operators/flux/0.15.3/manifests/imagepolicy.crd.yaml
  community-operators/flux/0.15.3/manifests/imagerepository.crd.yaml
  community-operators/flux/0.15.3/manifests/imageupdateautomation.crd.yaml
  community-operators/flux/0.15.3/manifests/kustomization.crd.yaml
  community-operators/flux/0.15.3/manifests/kustomize-controller.serviceaccount.yaml
  community-operators/flux/0.15.3/manifests/notification-controller.service.yaml
  community-operators/flux/0.15.3/manifests/notification-controller.serviceaccount.yaml
  community-operators/flux/0.15.3/manifests/provider.crd.yaml
  community-operators/flux/0.15.3/manifests/receiver.crd.yaml
  community-operators/flux/0.15.3/manifests/source-controller.service.yaml
  community-operators/flux/0.15.3/manifests/source-controller.serviceaccount.yaml
  community-operators/flux/0.15.3/manifests/webhook-receiver.service.yaml
  community-operators/flux/0.15.3/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4140 upstream-community-operators universal-crossplane (1.2.2-up.1)
  upstream-community-operators/universal-crossplane/1.2.2-up.1/Dockerfile
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-admin.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-browse.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-edit.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-view.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/rbac-manager.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/universal-crossplane-config.configmap.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/universal-crossplane.1.2.2-up.1.clusterserviceversion.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-secret.role.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-tls.secret.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-uxp-config.role.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent.service.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-bootstrapper.role.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/uxp-ca.secret.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/xgql-tls.secret.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/xgql.service.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/manifests/xgql.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.2-up.1/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4139 community-operators universal-crossplane (1.2.2-up.1)
  community-operators/universal-crossplane/1.2.2-up.1/Dockerfile
  community-operators/universal-crossplane/1.2.2-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-admin.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-browse.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-edit.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-view.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane.serviceaccount.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/rbac-manager.serviceaccount.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/universal-crossplane-config.configmap.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/universal-crossplane.1.2.2-up.1.clusterserviceversion.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-secret.role.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-tls.secret.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-uxp-config.role.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent.service.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-agent.serviceaccount.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-bootstrapper.role.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/uxp-ca.secret.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/xgql-tls.secret.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/xgql.service.yaml
  community-operators/universal-crossplane/1.2.2-up.1/manifests/xgql.serviceaccount.yaml
  community-operators/universal-crossplane/1.2.2-up.1/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4144 workflow templates
  scripts/template/workflow/command_merge.yaml.js2
  scripts/template/workflow/operator_ci.yaml.js2
  scripts/template/workflow/operator_ci_index_sha.yaml.js2
  scripts/template/workflow/operator_ci_labels.yaml.js2
  scripts/template/workflow/operator_release.yaml.js2
  scripts/template/workflow/operator_test.yaml.js2
  scripts/template/workflow/operator_test_report_openshift_status.yaml.js2
  scripts/template/workflow/operator_workflow_complete.yaml.js2
  scripts/template/workflow/prepare_test_index.yaml.js2
  scripts/template/workflow/reviewer.yaml.js2
  scripts/template/workflow/stale_issues.yaml.js2
Labels: allow/ci-changes

#4141 upstream-community-operators [N] [CI] tackle-operator (0.0.1)
  upstream-community-operators/tackle-operator/0.0.1/Dockerfile
  upstream-community-operators/tackle-operator/0.0.1/manifests/tackle-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/tackle-operator/0.0.1/manifests/tackle.crd.yaml
  upstream-community-operators/tackle-operator/0.0.1/metadata/annotations.yaml
  upstream-community-operators/tackle-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4142 community-operators namespace-configuration-operator (1.0.7)
  community-operators/namespace-configuration-operator/1.0.7/Dockerfile
  community-operators/namespace-configuration-operator/1.0.7/manifests/namespace-configuration-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  community-operators/namespace-configuration-operator/1.0.7/manifests/namespace-configuration-operator-controller-manager-metrics_v1_service.yaml
  community-operators/namespace-configuration-operator/1.0.7/manifests/namespace-configuration-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/namespace-configuration-operator/1.0.7/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  community-operators/namespace-configuration-operator/1.0.7/manifests/namespace-configuration-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/namespace-configuration-operator/1.0.7/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  community-operators/namespace-configuration-operator/1.0.7/manifests/redhatcop.redhat.io_groupconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.7/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.7/manifests/redhatcop.redhat.io_userconfigs.yaml
  community-operators/namespace-configuration-operator/1.0.7/metadata/annotations.yaml
  community-operators/namespace-configuration-operator/1.0.7/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4149 upstream-community-operators strimzi-kafka-operator (0.24.0)
  upstream-community-operators/strimzi-kafka-operator/0.24.0/kafkabridges.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/kafkas.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/kafkatopics.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/kafkausers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/strimzi-cluster-operator.v0.24.0.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/strimziclusteroperator.configmap.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/strimzientityoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/strimzikafkabroker.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.24.0/strimzikafkaclient.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4150 upstream-community-operators grafana-operator (3.10.2)
  upstream-community-operators/grafana-operator/3.10.2/grafana-operator.v3.10.2.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.10.2/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.10.2/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.10.2/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4147 community-operators [N] [CI] tackle-operator (0.0.1)
  community-operators/tackle-operator/0.0.1/Dockerfile
  community-operators/tackle-operator/0.0.1/manifests/tackle-operator.v0.0.1.clusterserviceversion.yaml
  community-operators/tackle-operator/0.0.1/manifests/tackle.crd.yaml
  community-operators/tackle-operator/0.0.1/metadata/annotations.yaml
  community-operators/tackle-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#4154 clean templates
  scripts/template/workflow/command_merge.yaml.js2
  scripts/template/workflow/operator_ci.yaml.js2
  scripts/template/workflow/operator_ci_index_sha.yaml.js2
  scripts/template/workflow/operator_ci_labels.yaml.js2
  scripts/template/workflow/operator_release.yaml.js2
  scripts/template/workflow/operator_test.yaml.js2
  scripts/template/workflow/operator_test_report_openshift_status.yaml.js2
  scripts/template/workflow/operator_workflow_complete.yaml.js2
  scripts/template/workflow/prepare_test_index.yaml.js2
  scripts/template/workflow/reviewer.yaml.js2
  scripts/template/workflow/stale_issues.yaml.js2
Labels: allow/ci-changes

#4153 community-operators universal-crossplane (1.2.3-up.1)
  community-operators/universal-crossplane/1.2.3-up.1/Dockerfile
  community-operators/universal-crossplane/1.2.3-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-admin.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-browse.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-edit.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-view.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane.serviceaccount.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/rbac-manager.serviceaccount.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/universal-crossplane-config.configmap.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/universal-crossplane.1.2.3-up.1.clusterserviceversion.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-secret.role.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-tls.secret.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-uxp-config.role.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent.service.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent.serviceaccount.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-bootstrapper.role.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/uxp-ca.secret.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/xgql-tls.secret.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/xgql.service.yaml
  community-operators/universal-crossplane/1.2.3-up.1/manifests/xgql.serviceaccount.yaml
  community-operators/universal-crossplane/1.2.3-up.1/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4152 upstream-community-operators [R] universal-crossplane (1.2.3-up.1)
  upstream-community-operators/universal-crossplane/1.2.3-up.1/Dockerfile
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-admin.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-browse.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-edit.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-view.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/rbac-manager.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/universal-crossplane-config.configmap.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/universal-crossplane.1.2.3-up.1.clusterserviceversion.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-secret.role.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-tls.secret.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-uxp-config.role.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent.service.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-agent.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-bootstrapper.role.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/uxp-ca.secret.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/xgql-tls.secret.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/xgql.service.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/manifests/xgql.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.3-up.1/metadata/annotations.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4156 community-operators assisted-service-operator (0.0.6)
  community-operators/assisted-service-operator/0.0.6/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.6/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.6/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.6/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.6/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.6/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/assisted-service.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4143 upstream-community-operators [N] [CI] qserv-operator (2021.6.1-rc2)
  upstream-community-operators/qserv-operator/2021.6.1-rc2/manifests/qserv-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/qserv-operator/2021.6.1-rc2/manifests/qserv-operator-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/qserv-operator/2021.6.1-rc2/manifests/qserv-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/qserv-operator/2021.6.1-rc2/manifests/qserv-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  upstream-community-operators/qserv-operator/2021.6.1-rc2/manifests/qserv-operator.clusterserviceversion.yaml
  upstream-community-operators/qserv-operator/2021.6.1-rc2/manifests/qserv.lsst.org_qservs.yaml
  upstream-community-operators/qserv-operator/2021.6.1-rc2/metadata/annotations.yaml
  upstream-community-operators/qserv-operator/2021.6.1-rc2/tests/scorecard/config.yaml
  upstream-community-operators/qserv-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#4158 rename OP_TEST and load env variable PRODUCTION_TYPE
  scripts/template/workflow/command_merge.yaml.js2
  scripts/template/workflow/operator_ci.yaml.js2
  scripts/template/workflow/operator_ci_index_sha.yaml.js2
  scripts/template/workflow/operator_ci_labels.yaml.js2
  scripts/template/workflow/operator_release.yaml.js2
  scripts/template/workflow/operator_test.yaml.js2
  scripts/template/workflow/operator_test_report_openshift_status.yaml.js2
  scripts/template/workflow/operator_workflow_complete.yaml.js2
  scripts/template/workflow/prepare_test_index.yaml.js2
  scripts/template/workflow/reviewer.yaml.js2
  scripts/template/workflow/stale_issues.yaml.js2
Labels: allow/ci-changes

#4160 rename OP_TEST and load env variable PRODUCTION_TYPE
  scripts/template/workflow/command_merge.yaml.js2
  scripts/template/workflow/operator_ci.yaml.js2
  scripts/template/workflow/operator_ci_index_sha.yaml.js2
  scripts/template/workflow/operator_ci_labels.yaml.js2
  scripts/template/workflow/operator_release.yaml.js2
  scripts/template/workflow/operator_test_report_openshift_status.yaml.js2
  scripts/template/workflow/operator_workflow_complete.yaml.js2
  scripts/template/workflow/prepare_test_index.yaml.js2
  scripts/template/workflow/reviewer.yaml.js2
  scripts/template/workflow/stale_issues.yaml.js2
Labels: allow/ci-changes

#4164 upstream-community-operators tackle-operator (0.0.2)
  upstream-community-operators/tackle-operator/0.0.2/Dockerfile
  upstream-community-operators/tackle-operator/0.0.2/manifests/tackle-operator.v0.0.2.clusterserviceversion.yaml
  upstream-community-operators/tackle-operator/0.0.2/manifests/tackle.crd.yaml
  upstream-community-operators/tackle-operator/0.0.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4163 community-operators tackle-operator (0.0.2)
  community-operators/tackle-operator/0.0.2/Dockerfile
  community-operators/tackle-operator/0.0.2/manifests/tackle-operator.v0.0.2.clusterserviceversion.yaml
  community-operators/tackle-operator/0.0.2/manifests/tackle.crd.yaml
  community-operators/tackle-operator/0.0.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4129 community-operators node-healthcheck-operator (0.0.2)
  community-operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  community-operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  community-operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  community-operators/node-healthcheck-operator/0.0.2/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  community-operators/node-healthcheck-operator/0.0.2/metadata/annotations.yaml
  community-operators/node-healthcheck-operator/0.0.2/metadata/dependencies.yaml
  community-operators/node-healthcheck-operator/0.0.2/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4165 Support/pr stat
  .github/workflows/documentation.yaml
  .gitignore
  Dockerfile.mkdoc
  ci/operator-flow/ana.py
  ci/operator-flow/doc.sh
  ci/operator-flow/measure-operator-flow.py
  docs/images/stats/avgTimePrOverTime_nostack.pdf
  docs/images/stats/avgTimePrOverTime_nostack.png
  docs/images/stats/avgTimePrOverTime_nostackb.pdf
  docs/images/stats/avgTimePrOverTime_nostackb.png
  docs/images/stats/avgTimePrOverTime_stack.pdf
  docs/images/stats/avgTimePrOverTime_stack.png
  docs/images/stats/nPrOverTime_nostack.pdf
  docs/images/stats/nPrOverTime_nostack.png
  docs/images/stats/nPrOverTime_nostackb.pdf
  docs/images/stats/nPrOverTime_nostackb.png
  docs/images/stats/nPrOverTime_stack.pdf
  docs/images/stats/nPrOverTime_stack.png
  docs/stats.md
  mkdocs.yml
Labels: allow/ci-changes

#4166 upstream-community-operators tackle-operator (0.0.3)
  upstream-community-operators/tackle-operator/0.0.3/Dockerfile
  upstream-community-operators/tackle-operator/0.0.3/manifests/tackle-operator.v0.0.3.clusterserviceversion.yaml
  upstream-community-operators/tackle-operator/0.0.3/manifests/tackle.crd.yaml
  upstream-community-operators/tackle-operator/0.0.3/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4090 upstream-community-operators ibm-block-csi-operator-community (1.6.0)
  upstream-community-operators/ibm-block-csi-operator-community/1.6.0/bundle-1.6.0.Dockerfile
  upstream-community-operators/ibm-block-csi-operator-community/1.6.0/manifests/ibm-block-csi-operator.v1.6.0.clusterserviceversion.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.6.0/manifests/ibmblockcsis.csi.ibm.com.crd.yaml
  upstream-community-operators/ibm-block-csi-operator-community/1.6.0/metadata/annotations.yaml
  upstream-community-operators/ibm-block-csi-operator-community/ibm-block-csi-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, ok-to-test, package-validated

#4079 community-operators [O] percona-xtradb-cluster-operator (1.8.0)
  community-operators/percona-xtradb-cluster-operator/1.8.0/percona-xtradb-cluster-operator.v1.8.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4169 Move usage of redhat-openshift-ecosystem/operator-test-playbooks
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_ci_index_sha.yaml
  .github/workflows/operator_release.yaml
  .github/workflows/operator_test.yaml
  .github/workflows/prepare_test_index.yaml
  .github/workflows/reviewer.yaml
  scripts/ci/op-test
  scripts/ci/op-test-cosmetics
  scripts/template/workflow/operator_ci.yaml.js2
  scripts/template/workflow/prepare_test_index.yaml.js2
  scripts/template/workflow/reviewer.yaml.js2
Labels: allow/ci-changes

#4167 community-operators tackle-operator (0.0.3)
  community-operators/tackle-operator/0.0.3/Dockerfile
  community-operators/tackle-operator/0.0.3/manifests/tackle-operator.v0.0.3.clusterserviceversion.yaml
  community-operators/tackle-operator/0.0.3/manifests/tackle.crd.yaml
  community-operators/tackle-operator/0.0.3/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4170 community-operators rhoas-operator (0.7.6)
  community-operators/rhoas-operator/0.7.6/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  community-operators/rhoas-operator/0.7.6/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  community-operators/rhoas-operator/0.7.6/manifests/rhoas-operator.clusterserviceversion.yaml
  community-operators/rhoas-operator/0.7.6/manifests/rhoas-operator.kafkaconnections.crd.yaml
  community-operators/rhoas-operator/0.7.6/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4174 upstream-community-operators azure-service-operator (1.0.24492)
  upstream-community-operators/azure-service-operator/1.0.24492/azure-service-operator.v1.0.24492.clusterserviceversion.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_apimgmtapis.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_apimservices.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_appinsights.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_appinsightsapikeys.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azureloadbalancers.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azurenetworkinterfaces.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azurepublicipaddresses.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlactions.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqldatabases.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlfailovergroups.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlfirewallrules.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlmanagedusers.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlservers.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlusers.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azuresqlvnetrules.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azurevirtualmachineextensions.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azurevirtualmachines.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_azurevmscalesets.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_blobcontainers.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_consumergroups.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_cosmosdbs.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_cosmosdbsqldatabases.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_eventhubnamespaces.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_eventhubs.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_keyvaultkeys.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_keyvaults.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlaadusers.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqldatabases.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlfirewallrules.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlserveradministrators.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlservers.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlusers.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_mysqlvnetrules.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_postgresqldatabases.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_postgresqlfirewallrules.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_postgresqlservers.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_postgresqlusers.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_postgresqlvnetrules.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_rediscacheactions.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_rediscachefirewallrules.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_rediscaches.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_resourcegroups.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_storageaccounts.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azure.microsoft.com_virtualnetworks.yaml
  upstream-community-operators/azure-service-operator/1.0.24492/azureoperator-webhook-service.yaml
  upstream-community-operators/azure-service-operator/azure-service-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#4177 community-operators keycloak-operator (14.0.0)
  community-operators/keycloak-operator/14.0.0/bundle.Dockerfile
  community-operators/keycloak-operator/14.0.0/manifests/keycloak-operator.v14.0.0.clusterserviceversion.yaml
  community-operators/keycloak-operator/14.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak-operator/14.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak-operator/14.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak-operator/14.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak-operator/14.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak-operator/14.0.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#4178 upstream-community-operators keycloak-operator (14.0.0)
  upstream-community-operators/keycloak-operator/14.0.0/bundle.Dockerfile
  upstream-community-operators/keycloak-operator/14.0.0/manifests/keycloak-operator.v14.0.0.clusterserviceversion.yaml
  upstream-community-operators/keycloak-operator/14.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/14.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/14.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/14.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/14.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/14.0.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated
