Repository operator-framework/community-operators, pull requests merged in 2021-05, with the labels that each got.

#3726 upstream-community-operators submariner (0.9.0)
  upstream-community-operators/submariner/0.9.0/submariner-gateway_rbac.authorization.k8s.io_v1_role.yaml
  upstream-community-operators/submariner/0.9.0/submariner-gateway_rbac.authorization.k8s.io_v1_rolebinding.yaml
  upstream-community-operators/submariner/0.9.0/submariner-gateway_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.0/submariner-globalnet_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.0/submariner-globalnet_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.0/submariner-globalnet_rbac.authorization.k8s.io_v1_role.yaml
  upstream-community-operators/submariner/0.9.0/submariner-globalnet_rbac.authorization.k8s.io_v1_rolebinding.yaml
  upstream-community-operators/submariner/0.9.0/submariner-globalnet_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.0/submariner-lighthouse-agent_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.0/submariner-lighthouse-agent_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.0/submariner-lighthouse-agent_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.0/submariner-lighthouse-coredns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.0/submariner-lighthouse-coredns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.0/submariner-lighthouse-coredns_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.0/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.0/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.0/submariner-networkplugin-syncer_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.0/submariner-operator_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.0/submariner-routeagent_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.0/submariner-routeagent_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  upstream-community-operators/submariner/0.9.0/submariner-routeagent_rbac.authorization.k8s.io_v1_role.yaml
  upstream-community-operators/submariner/0.9.0/submariner-routeagent_rbac.authorization.k8s.io_v1_rolebinding.yaml
  upstream-community-operators/submariner/0.9.0/submariner-routeagent_v1_serviceaccount.yaml
  upstream-community-operators/submariner/0.9.0/submariner.io_brokers.yaml
  upstream-community-operators/submariner/0.9.0/submariner.io_submariners.yaml
  upstream-community-operators/submariner/0.9.0/submariner.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/submariner/submariner.package.yaml
Labels: kubernetes-operator

#3724 upstream-community-operators pmem-csi-operator (0.9.1)
  upstream-community-operators/pmem-csi-operator/0.9.1/pmem-csi-operator.clusterserviceversion.yaml
  upstream-community-operators/pmem-csi-operator/0.9.1/pmem-csi-operator_v1_serviceaccount.yaml
  upstream-community-operators/pmem-csi-operator/0.9.1/pmem-csi.intel.com_pmemcsideployments.yaml
  upstream-community-operators/pmem-csi-operator/pmem-csi-operator.package.yaml
Labels: kubernetes-operator

#3727 upstream-community-operators redis-operator (0.5.0)
  upstream-community-operators/redis-operator/0.5.0/redis-operator.v0.5.0.clusterserviceversion.yaml
  upstream-community-operators/redis-operator/0.5.0/redis.redis.redis.opstreelabs.in.crd.yaml
  upstream-community-operators/redis-operator/redis-operator.package.yaml
Labels: kubernetes-operator

#3730 upstream-community-operators [CI] instana-agent (1.0.4)
  upstream-community-operators/instana-agent/1.0.4/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/1.0.4/instana-agent-operator.v1.0.4.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/ci.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: kubernetes-operator, openshift-started

#3732 community-operators [CI] redis-operator (0.5.0)
  community-operators/redis-operator/0.5.0/redis-operator.v0.5.0.clusterserviceversion.yaml
  community-operators/redis-operator/0.5.0/redis.redis.redis.opstreelabs.in.crd.yaml
  community-operators/redis-operator/ci.yaml
  community-operators/redis-operator/redis-operator.package.yaml
Labels: deployment-ok, ok-to-test, openshift-operator

#3733 upstream-community-operators hive-operator (1.1.2)
  upstream-community-operators/hive-operator/1.1.2/hive-operator.v1.1.2.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.2/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.1.2/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.1.2/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#3734 community-operators hive-operator (1.1.2)
  community-operators/hive-operator/1.1.2/hive-operator.v1.1.2.clusterserviceversion.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.1.2/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.1.2/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.1.2/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: deployment-ok, ok-to-test, openshift-operator

#3731 Improved modified files detection for openshift test
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#3735 upstream-community-operators couchdb-operator (1.4.3)
  upstream-community-operators/couchdb-operator/1.4.3/bundle.Dockerfile
  upstream-community-operators/couchdb-operator/1.4.3/manifests/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.3/manifests/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.3/manifests/couchdb-operator.v1.4.3.clusterserviceversion.yaml
  upstream-community-operators/couchdb-operator/1.4.3/manifests/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.3/manifests/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.3/manifests/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.3/manifests/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.3/manifests/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  upstream-community-operators/couchdb-operator/1.4.3/metadata/annotations.yaml
Labels: kubernetes-operator

#3736 Support/dockerfile detect
  .github/workflows/operator_ci.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3738 Enhance openshift test
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#3725 community-operators [N] oadp-operator (0.2.2)
  community-operators/oadp-operator/0.2.2/manifests/backup.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/oadp-operator.v0.2.2.clusterserviceversion.yaml
  community-operators/oadp-operator/0.2.2/manifests/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/resticrepository.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/restore.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/schedule.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/velero.crd.yaml
  community-operators/oadp-operator/0.2.2/manifests/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/0.2.2/metadata/annotations.yaml
Labels: allow/operator-recreate, deployment-ok, new-operator, ok-to-test, openshift-operator

#3746 Documentation improvments
  docs/packaging-operator.md
Labels: allow/ci-changes

#3748 upstream-community-operators apicast-community-operator (0.4.0)
  upstream-community-operators/apicast-community-operator/0.4.0/apicast-community-operator.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/apicast-community-operator/0.4.0/apps.3scale.net_apicasts_crd.yaml
  upstream-community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: kubernetes-operator

#3747 community-operators apicast-community-operator (0.4.0)
  community-operators/apicast-community-operator/0.4.0/apicast-community-operator.v0.4.0.clusterserviceversion.yaml
  community-operators/apicast-community-operator/0.4.0/apps.3scale.net_apicasts_crd.yaml
  community-operators/apicast-community-operator/apicast-community-operator.package.yaml
Labels: deployment-ok, ok-to-test, openshift-operator

#3743 upstream-community-operators [CI] datadog-operator (0.6.0)
  upstream-community-operators/datadog-operator/0.6.0/datadog-operator.clusterserviceversion.yaml
  upstream-community-operators/datadog-operator/0.6.0/datadoghq.com_datadogagents.yaml
  upstream-community-operators/datadog-operator/0.6.0/datadoghq.com_datadogmetrics.yaml
  upstream-community-operators/datadog-operator/0.6.0/datadoghq.com_datadogmonitors.yaml
  upstream-community-operators/datadog-operator/ci.yaml
  upstream-community-operators/datadog-operator/datadog-operator.package.yaml
Labels: kubernetes-operator

#3739 community-operators [CI] datadog-operator (0.6.0)
  community-operators/datadog-operator/0.6.0/datadog-operator.clusterserviceversion.yaml
  community-operators/datadog-operator/0.6.0/datadoghq.com_datadogagents.yaml
  community-operators/datadog-operator/0.6.0/datadoghq.com_datadogmetrics.yaml
  community-operators/datadog-operator/0.6.0/datadoghq.com_datadogmonitors.yaml
  community-operators/datadog-operator/ci.yaml
  community-operators/datadog-operator/datadog-operator.package.yaml
Labels: deployment-ok, ok-to-test, openshift-operator

#3749 Added pr test
  .github/workflows/operator_test.yaml
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3750 Fix workflow steps
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3751 Fix
  .github/workflows/operator_test.yaml
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3756 upstream-community-operators snyk-operator (1.54.0)
  upstream-community-operators/snyk-operator/1.54.0/snyk-operator.v1.54.0.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.54.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: kubernetes-operator, ready

#3755 community-operators snyk-operator (1.54.0)
  community-operators/snyk-operator/1.54.0/snyk-operator.v1.54.0.clusterserviceversion.yaml
  community-operators/snyk-operator/1.54.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: deployment-ok, ok-to-test, openshift-operator, ready

#3758 community-operators klusterlet (0.3.0)
  community-operators/klusterlet/0.3.0/klusterlet.v0.3.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, deployment-ok, ok-to-test, openshift-operator, ready

#3759 upstream-community-operators klusterlet (0.3.0)
  upstream-community-operators/klusterlet/0.3.0/klusterlet.v0.3.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator, ready

#3762 Removing labels when test is restarted
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3763 Removeing ready and deployment-ok
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3760 community-operators kogito-operator (1.6.0)
  community-operators/kogito-operator/1.6.0/Dockerfile
  community-operators/kogito-operator/1.6.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  community-operators/kogito-operator/1.6.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  community-operators/kogito-operator/1.6.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  community-operators/kogito-operator/1.6.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  community-operators/kogito-operator/1.6.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/kogito-operator/1.6.0/manifests/kogito-operator.clusterserviceversion.yaml
  community-operators/kogito-operator/1.6.0/metadata/annotations.yaml
  community-operators/kogito-operator/1.6.0/tests/scorecard/config.yaml
Labels: deployment-ok, ok-to-test, openshift-operator, ready

#3764 community-operators percona-xtradb-cluster-operator (1.8.0)
  community-operators/percona-xtradb-cluster-operator/1.8.0/percona-xtradb-cluster-operator.v1.8.0.clusterserviceversion.yaml
  community-operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  community-operators/percona-xtradb-cluster-operator/percona-xtradb-cluster-operator.package.yaml
Labels: deployment-ok, ok-to-test, openshift-operator, ready

#3765 upstream-community-operators percona-xtradb-cluster-operator (1.8.0)
  upstream-community-operators/percona-xtradb-cluster-operator/1.8.0/percona-xtradb-cluster-operator.v1.8.0.clusterserviceversion.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  upstream-community-operators/percona-xtradb-cluster-operator/percona-xtradb-cluster-operator.package.yaml
Labels: kubernetes-operator, ready

#3767 community-operators keycloak-operator (13.0.0)
  community-operators/keycloak-operator/13.0.0/keycloak-operator.v13.0.0.clusterserviceversion.yaml
  community-operators/keycloak-operator/13.0.0/keycloakbackups.keycloak.org.crd.yaml
  community-operators/keycloak-operator/13.0.0/keycloakclients.keycloak.org.crd.yaml
  community-operators/keycloak-operator/13.0.0/keycloakrealms.keycloak.org.crd.yaml
  community-operators/keycloak-operator/13.0.0/keycloaks.keycloak.org.crd.yaml
  community-operators/keycloak-operator/13.0.0/keycloakusers.keycloak.org.crd.yaml
  community-operators/keycloak-operator/keycloak.package.yaml
Labels: deployment-ok, ok-to-test, openshift-operator, ready

#3766 upstream-community-operators keycloak-operator (13.0.0)
  upstream-community-operators/keycloak-operator/13.0.0/keycloak-operator.v13.0.0.clusterserviceversion.yaml
  upstream-community-operators/keycloak-operator/13.0.0/keycloakbackups.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/13.0.0/keycloakclients.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/13.0.0/keycloakrealms.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/13.0.0/keycloaks.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/13.0.0/keycloakusers.keycloak.org.crd.yaml
  upstream-community-operators/keycloak-operator/keycloak.package.yaml
Labels: kubernetes-operator, ready

#3729 community-operators [N] [CI] crane-operator (1.4.3)
  community-operators/crane-operator/1.4.3/manifests/backup.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/backupstoragelocation.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/crane-operator.v1.4.3.clusterserviceversion.yaml
  community-operators/crane-operator/1.4.3/manifests/deletebackuprequest.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/downloadrequest.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/migration.openshift.io_directimagemigrations.yaml
  community-operators/crane-operator/1.4.3/manifests/migration.openshift.io_directimagestreammigrations.yaml
  community-operators/crane-operator/1.4.3/manifests/migration.openshift.io_directvolumemigrationprogresses.yaml
  community-operators/crane-operator/1.4.3/manifests/migration.openshift.io_directvolumemigrations.yaml
  community-operators/crane-operator/1.4.3/manifests/migration.openshift.io_miganalytics.yaml
  community-operators/crane-operator/1.4.3/manifests/migration.openshift.io_migclusters.yaml
  community-operators/crane-operator/1.4.3/manifests/migration.openshift.io_mighooks.yaml
  community-operators/crane-operator/1.4.3/manifests/migration.openshift.io_migmigrations.yaml
  community-operators/crane-operator/1.4.3/manifests/migration.openshift.io_migplans.yaml
  community-operators/crane-operator/1.4.3/manifests/migration.openshift.io_migstorages.yaml
  community-operators/crane-operator/1.4.3/manifests/migrationcontroller.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/podvolumebackup.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/podvolumerestore.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/resticrepository.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/restore.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/schedule.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/serverstatusrequest.crd.yaml
  community-operators/crane-operator/1.4.3/manifests/volumesnapshotlocation.crd.yaml
  community-operators/crane-operator/1.4.3/metadata/annotations.yaml
  community-operators/crane-operator/ci.yaml
Labels: allow/operator-recreate, deployment-ok, new-operator, ok-to-test, openshift-operator, ready

#3768 upstream-community-operators [CI] yaks (0.4.0)
  upstream-community-operators/yaks/0.4.0/instances.yaks.citrusframework.org.crd.yaml
  upstream-community-operators/yaks/0.4.0/tests.yaks.citrusframework.org.crd.yaml
  upstream-community-operators/yaks/0.4.0/yaks.v0.4.0.clusterserviceversion.yaml
  upstream-community-operators/yaks/ci.yaml
  upstream-community-operators/yaks/yaks.package.yaml
Labels: kubernetes-operator, ready

#3770 community-operators rhoas-operator (0.7.2)
  community-operators/rhoas-operator/0.7.2/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  community-operators/rhoas-operator/0.7.2/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  community-operators/rhoas-operator/0.7.2/manifests/rhoas-operator.clusterserviceversion.yaml
  community-operators/rhoas-operator/0.7.2/manifests/rhoas-operator.kafkaconnections.crd.yaml
  community-operators/rhoas-operator/0.7.2/metadata/annotations.yaml
Labels: authorized-changes, deployment-ok, ok-to-test, openshift-operator, ready

#3772 deployment-ok
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3775 community-operators [N] oadp-operator (0.2.3)
  community-operators/oadp-operator/0.2.3/manifests/backup.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/backupstoragelocation.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/deletebackuprequest.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/downloadrequest.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/oadp-operator.v0.2.3.clusterserviceversion.yaml
  community-operators/oadp-operator/0.2.3/manifests/podvolumebackup.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/podvolumerestore.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/resticrepository.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/restore.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/schedule.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/serverstatusrequest.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/velero.crd.yaml
  community-operators/oadp-operator/0.2.3/manifests/volumesnapshotlocation.crd.yaml
  community-operators/oadp-operator/0.2.3/metadata/annotations.yaml
Labels: allow/operator-recreate, deployment-ok, new-operator, ok-to-test, openshift-operator

#3778 upstream-community-operators [O] [CI] aqua (6.0.0)
  upstream-community-operators/aqua/6.0.0/aqua-operator.v6.0.0.clusterserviceversion.yaml
  upstream-community-operators/aqua/ci.yaml
Labels: allow/operator-version-overwrite, kubernetes-operator

#3777 community-operators [O] [CI] aqua (6.0.0)
  community-operators/aqua/6.0.0/aqua-operator.v6.0.0.clusterserviceversion.yaml
  community-operators/aqua/ci.yaml
Labels: allow/operator-version-overwrite, deployment-ok, ok-to-test, openshift-operator

#3781 Support/am 01
  .github/workflows/command_merge.yml
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3782 Fix
  .github/workflows/operator_test.yaml
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3783 Fixing shell script
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3784 FIxing rights
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3786 Support/am xx 01
  .github/workflows/command_merge.yml
  .github/workflows/operator_test_report_openshift_status.yaml
  .github/workflows/operator_workflow_complete.yml
  upstream-community-operators/aqua/6.0.0/aqua-operator.v6.0.0.clusterserviceversion.yaml
Labels: allow/ci-changes, kubernetes-operator

#3787 Support/am xx 02
  .github/workflows/command_merge.yml
  .github/workflows/operator_test_report_openshift_status.yaml
Labels: allow/ci-changes

#3780 upstream-community-operators [N] [CI] druid-operator (0.0.6)
  upstream-community-operators/druid-operator/0.0.6/druid-operator.v0.0.6.clusterserviceversion.yaml
  upstream-community-operators/druid-operator/0.0.6/druid.apache.org_druids.yaml
  upstream-community-operators/druid-operator/ci.yaml
  upstream-community-operators/druid-operator/druid-operator.package.yaml
Labels: allow/operator-recreate, kubernetes-operator, new-operator, ready

#3790 community-operators hive-operator (1.1.3)
  community-operators/hive-operator/1.1.3/hive-operator.v1.1.3.clusterserviceversion.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.1.3/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.1.3/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.1.3/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/1.1.3/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: deployment-ok, ok-to-test, openshift-operator, ready

#3791 upstream-community-operators hive-operator (1.1.3)
  upstream-community-operators/hive-operator/1.1.3/hive-operator.v1.1.3.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.3/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.1.3/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.1.3/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/1.1.3/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator, ready

#3794 Comment info
  .github/workflows/command_merge.yml
Labels: allow/ci-changes

#3796 Print json info
  .github/workflows/command_merge.yml
Labels: allow/ci-changes

#3797 Fix print info
  .github/workflows/command_merge.yml
Labels: allow/ci-changes

#3798 Info
  .github/workflows/command_merge.yml
Labels: allow/ci-changes

#3799 Test label
  .github/workflows/command_merge.yml
Labels: allow/ci-changes

#3804 Rename label
  .github/workflows/command_merge.yml
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_test_report_openshift_status.yaml
  .github/workflows/operator_workflow_complete.yml
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#3807 Improved label checks
  .github/workflows/command_merge.yml
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3808 Fixing pr-labels
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3809 Improved check for pr-labels in workflow complete
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3810 Fixing PR number
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3814 Giving rights to /merge
  .github/workflows/operator_test_report_openshift_status.yaml
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes, package-validated

#3811 Update ocm-2.3 channel to hive 1.1.3.
  community-operators/hive-operator/hive.package.yaml
Labels: openshift-operator

#3812 Update ocm-2.3 channel to hive 1.1.3.
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: kubernetes-operator

#3815 Changed permisions to get merge command
  .github/workflows/command_merge.yml
Labels: allow/ci-changes

#3802 upstream-community-operators instana-agent (1.0.5)
  upstream-community-operators/instana-agent/1.0.5/agents.instana.io.crd.yaml
  upstream-community-operators/instana-agent/1.0.5/instana-agent-operator.v1.0.5.clusterserviceversion.yaml
  upstream-community-operators/instana-agent/instana-agent.package.yaml
Labels: authorized-changes, installation-valiadated, kubernetes-operator, package-validated

#3816 community-operators [O] [CI] keycloak-operator (13.0.0)
  community-operators/keycloak-operator/13.0.0/keycloak-operator.v13.0.0.clusterserviceversion.yaml
  community-operators/keycloak-operator/ci.yaml
Labels: allow/operator-version-overwrite, allow/serious-changes-to-existing, installation-valiadated, ok-to-test, openshift-operator, package-validated

#3818 upstream-community-operators [CI] keycloak-operator (13.0.0)
  upstream-community-operators/keycloak-operator/ci.yaml
Labels: installation-valiadated, kubernetes-operator, package-validated

#3826 Fixed type
  .github/workflows/command_merge.yml
  .github/workflows/operator_test_report_openshift_status.yaml
  .github/workflows/operator_workflow_complete.yml
Labels: allow/ci-changes

#3825 Cvp 1962 fix links
  docs/operator-version-update.md
  docs/packaging-operator.md
  docs/pull_request_template.md
Labels: allow/ci-changes, openshift-started

#3806 community-operators istio-workspace-operator (0.3.0)
  community-operators/istio-workspace-operator/0.3.0/manifests/istio-workspace-operator.clusterserviceversion.yaml
  community-operators/istio-workspace-operator/0.3.0/manifests/maistra.io_sessions.yaml
  community-operators/istio-workspace-operator/0.3.0/metadata/annotations.yaml
  community-operators/istio-workspace-operator/0.3.0/tests/scorecard/config.yaml
Labels: installation-validated, ok-to-test, openshift-operator, package-validated

#3822 community-operators 3scale-community-operator (0.7.0)
  community-operators/3scale-community-operator/0.7.0/3scale-community-operator.v0.7.0.clusterserviceversion.yaml
  community-operators/3scale-community-operator/0.7.0/apps.3scale.net_apimanagerbackups_crd.yaml
  community-operators/3scale-community-operator/0.7.0/apps.3scale.net_apimanagerrestores_crd.yaml
  community-operators/3scale-community-operator/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  community-operators/3scale-community-operator/0.7.0/capabilities.3scale.net_backends_crd.yaml
  community-operators/3scale-community-operator/0.7.0/capabilities.3scale.net_products_crd.yaml
  community-operators/3scale-community-operator/0.7.0/capabilities.3scale.net_tenants_crd.yaml
  community-operators/3scale-community-operator/3scale-community-operator.package.yaml
Labels: installation-validated, ok-to-test, openshift-operator, package-validated

#3828 upstream-community-operators starboard-operator (0.10.2)
  upstream-community-operators/starboard-operator/0.10.2/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.10.2/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.10.2/starboard-operator.v0.10.2.clusterserviceversion.yaml
  upstream-community-operators/starboard-operator/0.10.2/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#3823 upstream-community-operators [CI] grafana-operator (3.10.1)
  upstream-community-operators/grafana-operator/3.10.1/grafana-operator.v3.10.1.clusterserviceversion.yaml
  upstream-community-operators/grafana-operator/3.10.1/grafanadashboards.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.10.1/grafanadatasources.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/3.10.1/grafanas.integreatly.org.crd.yaml
  upstream-community-operators/grafana-operator/ci.yaml
  upstream-community-operators/grafana-operator/grafana-operator.package.yaml
Labels: installation-validated, kubernetes-operator, package-validated

#3805 upstream-community-operators istio-workspace-operator (0.3.0)
  upstream-community-operators/istio-workspace-operator/0.3.0/manifests/istio-workspace-operator.clusterserviceversion.yaml
  upstream-community-operators/istio-workspace-operator/0.3.0/manifests/maistra.io_sessions.yaml
  upstream-community-operators/istio-workspace-operator/0.3.0/metadata/annotations.yaml
  upstream-community-operators/istio-workspace-operator/0.3.0/tests/scorecard/config.yaml
Labels: installation-validated, kubernetes-operator, package-validated

#3776 upstream-community-operators [N] [CI] topolvm-operator (1.0.0)
  upstream-community-operators/topolvm-operator/1.0.0/bundle.Dockerfile
  upstream-community-operators/topolvm-operator/1.0.0/manifests/topolvm-operator.clusterserviceversion.yaml
  upstream-community-operators/topolvm-operator/1.0.0/manifests/topolvmcluster.crd.yaml
  upstream-community-operators/topolvm-operator/1.0.0/manifests/topolvmlogicalvolume.crd.yaml
  upstream-community-operators/topolvm-operator/1.0.0/metadata/annotations.yaml
  upstream-community-operators/topolvm-operator/ci.yaml
Labels: allow/operator-recreate, installation-validated, kubernetes-operator, new-operator, package-validated

#3824 community-operators [CI] grafana-operator (3.10.1)
  community-operators/grafana-operator/3.10.1/grafana-operator.v3.10.1.clusterserviceversion.yaml
  community-operators/grafana-operator/3.10.1/grafanadashboards.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.10.1/grafanadatasources.integreatly.org.crd.yaml
  community-operators/grafana-operator/3.10.1/grafanas.integreatly.org.crd.yaml
  community-operators/grafana-operator/ci.yaml
  community-operators/grafana-operator/grafana-operator.package.yaml
Labels: installation-validated, ok-to-test, openshift-operator, package-validated

#3830 Fix validated typo
  .github/workflows/operator_ci.yaml
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#3753 upstream-community-operators [N] [CI] skydive-operator (0.0.49)
  upstream-community-operators/skydive-operator/0.0.1/charts.helm.k8s.io_netflowcollectors_crd.yaml
  upstream-community-operators/skydive-operator/0.0.1/charts.helm.k8s.io_skydives_crd.yaml
  upstream-community-operators/skydive-operator/0.0.1/skydive-operator.v0.0.1.clusterserviceversion.yaml
  upstream-community-operators/skydive-operator/0.0.12/netflowcollectors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/skydive-operator/0.0.12/skydive-operator.v0.0.12.clusterserviceversion.yaml
  upstream-community-operators/skydive-operator/0.0.12/skydives.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/skydive-operator/0.0.49/manifests/skydive-group.example.com_skydives.yaml
  upstream-community-operators/skydive-operator/0.0.49/manifests/skydive-operator-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/skydive-operator/0.0.49/manifests/skydive-operator-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/skydive-operator/0.0.49/manifests/skydive-operator-manager-config_v1_configmap.yaml
  upstream-community-operators/skydive-operator/0.0.49/manifests/skydive-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/skydive-operator/0.0.49/manifests/skydive-operator.clusterserviceversion.yaml
  upstream-community-operators/skydive-operator/0.0.49/metadata/annotations.yaml
  upstream-community-operators/skydive-operator/0.0.49/tests/scorecard/config.yaml
  upstream-community-operators/skydive-operator/ci.yaml
  upstream-community-operators/skydive-operator/skydive-operator.package.yaml
Labels: allow/operator-recreate, installation-validated, kubernetes-operator, new-operator, package-validated

#3803 upstream-community-operators [N] [CI] poison-pill-operator (0.0.1)
  upstream-community-operators/poison-pill-operator/0.0.1/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  upstream-community-operators/poison-pill-operator/0.0.1/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  upstream-community-operators/poison-pill-operator/0.0.1/manifests/poison-pill-manager-config_v1_configmap.yaml
  upstream-community-operators/poison-pill-operator/0.0.1/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/poison-pill-operator/0.0.1/manifests/poison-pill.clusterserviceversion.yaml
  upstream-community-operators/poison-pill-operator/0.0.1/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  upstream-community-operators/poison-pill-operator/0.0.1/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  upstream-community-operators/poison-pill-operator/0.0.1/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  upstream-community-operators/poison-pill-operator/0.0.1/metadata/annotations.yaml
  upstream-community-operators/poison-pill-operator/ci.yaml
Labels: allow/operator-recreate, installation-validated, kubernetes-operator, new-operator, package-validated

#3831 Improved recreate detection when deleted operator versions
  scripts/ci/actions-env
Labels: allow/ci-changes

#3832 Support/am xx 18
  .github/workflows/operator_test.yaml
  scripts/ci/actions-env
Labels: allow/ci-changes

#3833 Improved pr comments
  .github/workflows/command_merge.yml
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3834 Handling DCO label
  .github/workflows/operator_dco.yaml
Labels: allow/ci-changes

#3827 Green when changes outside community-operators
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes, openshift-started, package-validated

#3835 Added dco
  .github/workflows/operator_dco.yaml
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3837 Skup orange on op delete
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3838 Fix syntax
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#3839 Added tokens to workflow
  .github/workflows/operator_ci_index_sha.yaml
Labels: allow/ci-changes

#3840 fix if
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#3842 Impoved mirror check
  .github/workflows/operator_ci_index_sha.yaml
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3841 upstream-community-operators submariner (0.9.0)
  upstream-community-operators/submariner/0.9.0/submariner-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  upstream-community-operators/submariner/0.9.0/submariner-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
Labels: installation-validated, kubernetes-operator, package-validated

#3846 Improved message
  .github/workflows/command_merge.yml
Labels: allow/ci-changes

#3847 upstream-community-operators starboard-operator (0.10.3)
  upstream-community-operators/starboard-operator/0.10.3/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.10.3/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/0.10.3/starboard-operator.v0.10.3.clusterserviceversion.yaml
  upstream-community-operators/starboard-operator/0.10.3/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  upstream-community-operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#3829 community-operators assisted-service-operator (0.0.3)
  community-operators/assisted-service-operator/0.0.3/agent-install.openshift.io_agents.yaml
  community-operators/assisted-service-operator/0.0.3/agent-install.openshift.io_agentserviceconfigs.yaml
  community-operators/assisted-service-operator/0.0.3/agent-install.openshift.io_infraenvs.yaml
  community-operators/assisted-service-operator/0.0.3/agent-install.openshift.io_nmstateconfigs.yaml
  community-operators/assisted-service-operator/0.0.3/assisted-service-operator.clusterserviceversion.yaml
  community-operators/assisted-service-operator/0.0.3/extensions.hive.openshift.io_agentclusterinstalls.yaml
  community-operators/assisted-service-operator/assisted-service.package.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#3851 upstream-community-operators [CI] submariner (0.9.0)
  upstream-community-operators/submariner/ci.yaml
Labels: installation-validated, kubernetes-operator, package-validated

#3849 community-operators [CI] strimzi-kafka-operator (0.23.0)
  community-operators/strimzi-kafka-operator/0.23.0/kafkabridges.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.23.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.23.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.23.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.23.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.23.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.23.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.23.0/kafkas.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.23.0/kafkatopics.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.23.0/kafkausers.kafka.strimzi.io.crd.yaml
  community-operators/strimzi-kafka-operator/0.23.0/strimzi-cluster-operator.v0.23.0.clusterserviceversion.yaml
  community-operators/strimzi-kafka-operator/0.23.0/strimziclusteroperator.configmap.yaml
  community-operators/strimzi-kafka-operator/0.23.0/strimzientityoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.23.0/strimzikafkabroker.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.23.0/strimzikafkaclient.clusterrole.yaml
  community-operators/strimzi-kafka-operator/0.23.0/strimzitopicoperator.clusterrole.yaml
  community-operators/strimzi-kafka-operator/ci.yaml
  community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: installation-validated, ok-to-test, openshift-operator, package-validated

#3850 upstream-community-operators [CI] strimzi-kafka-operator (0.23.0)
  upstream-community-operators/strimzi-kafka-operator/0.23.0/kafkabridges.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/kafkaconnects2is.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/kafkas.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/kafkatopics.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/kafkausers.kafka.strimzi.io.crd.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/strimzi-cluster-operator.v0.23.0.clusterserviceversion.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/strimziclusteroperator.configmap.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/strimzientityoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/strimzikafkabroker.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/strimzikafkaclient.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/0.23.0/strimzitopicoperator.clusterrole.yaml
  upstream-community-operators/strimzi-kafka-operator/ci.yaml
  upstream-community-operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: installation-validated, kubernetes-operator, openshift-operator, package-validated

#3852 Support/sha mirror
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3843 community-operators mta-operator (0.0.5)
  community-operators/mta-operator/0.0.5/Dockerfile
  community-operators/mta-operator/0.0.5/manifests/windup-operator.v0.0.5.clusterserviceversion.yaml
  community-operators/mta-operator/0.0.5/manifests/windup.crd.yaml
  community-operators/mta-operator/0.0.5/metadata/annotations.yaml
Labels: installation-validated, ok-to-test, openshift-operator, package-validated

#3855 Added tokens
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3861 community-operators cert-utils-operator (1.0.5)
  community-operators/cert-utils-operator/1.0.5/Dockerfile
  community-operators/cert-utils-operator/1.0.5/manifests/cert-utils-operator-controller-manager_v1_serviceaccount.yaml
  community-operators/cert-utils-operator/1.0.5/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  community-operators/cert-utils-operator/1.0.5/manifests/cert-utils-operator.clusterserviceversion.yaml
  community-operators/cert-utils-operator/1.0.5/metadata/annotations.yaml
  community-operators/cert-utils-operator/1.0.5/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#3862 Improved dockerfile message
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3863 Fix dependency
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3856 Monitoring
  .github/workflows/operator_release.yaml
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes, openshift-started, package-validated

#3864 simulate failure to test monitoring
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3867 community-operators snyk-operator (1.55.0)
  community-operators/snyk-operator/1.55.0/snyk-operator.v1.55.0.clusterserviceversion.yaml
  community-operators/snyk-operator/1.55.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  community-operators/snyk-operator/snyk-operator.package.yaml
Labels: installation-validated, ok-to-test, openshift-operator, package-validated

#3866 upstream-community-operators snyk-operator (1.55.0)
  upstream-community-operators/snyk-operator/1.55.0/snyk-operator.v1.55.0.clusterserviceversion.yaml
  upstream-community-operators/snyk-operator/1.55.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  upstream-community-operators/snyk-operator/snyk-operator.package.yaml
Labels: installation-validated, kubernetes-operator, package-validated

#3860 Remove Crossplane from upstream community operators
  upstream-community-operators/crossplane/0.11.0/applicationconfigurations.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/buckets.storage.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/clusterpackageinstalls.packages.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/components.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/compositions.apiextensions.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/containerizedworkloads.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/crossplane.v0.11.0.clusterserviceversion.yaml
  upstream-community-operators/crossplane/0.11.0/infrastructuredefinitions.apiextensions.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/infrastructurepublications.apiextensions.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/kubernetesapplicationresources.workload.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/kubernetesapplications.workload.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/kubernetesclusters.compute.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/kubernetestargets.workload.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/machineinstances.compute.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/manualscalertraits.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/mysqlinstances.database.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/nosqlinstances.database.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/packageinstalls.packages.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/packages.packages.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/postgresqlinstances.database.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/providers.kubernetes.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/redisclusters.cache.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/scopedefinitions.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/stackdefinitions.packages.crossplane.io.yaml
  upstream-community-operators/crossplane/0.11.0/traitdefinitions.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.11.0/workloaddefinitions.core.oam.dev.yaml
  upstream-community-operators/crossplane/0.9.0/applicationconfigurations.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/buckets.storage.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/clusterstackinstalls.stacks.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/components.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/containerizedworkloads.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/crossplane.v0.9.0.clusterserviceversion.yaml
  upstream-community-operators/crossplane/0.9.0/kubernetesapplicationresources.workload.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/kubernetesapplications.workload.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/kubernetesclusters.compute.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/kubernetestargets.workload.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/machineinstances.compute.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/manualscalertraits.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/mysqlinstances.database.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/nosqlinstances.database.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/postgresqlinstances.database.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/providers.kubernetes.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/redisclusters.cache.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/scopedefinitions.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/stackdefinitions.stacks.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/stackinstalls.stacks.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/stacks.stacks.crossplane.io.crd.yaml
  upstream-community-operators/crossplane/0.9.0/traitdefinitions.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/0.9.0/workloaddefinitions.core.oam.dev.crd.yaml
  upstream-community-operators/crossplane/ci.yaml
  upstream-community-operators/crossplane/crossplane.package.yaml
Labels: allow/operator-recreate, installation-validated, kubernetes-operator, package-validated

#3858 Remove Crossplane from community operators
  community-operators/crossplane/0.11.0/applicationconfigurations.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/buckets.storage.crossplane.io.yaml
  community-operators/crossplane/0.11.0/clusterpackageinstalls.packages.crossplane.io.yaml
  community-operators/crossplane/0.11.0/components.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/compositions.apiextensions.crossplane.io.yaml
  community-operators/crossplane/0.11.0/containerizedworkloads.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/crossplane.v0.11.0.clusterserviceversion.yaml
  community-operators/crossplane/0.11.0/infrastructuredefinitions.apiextensions.crossplane.io.yaml
  community-operators/crossplane/0.11.0/infrastructurepublications.apiextensions.crossplane.io.yaml
  community-operators/crossplane/0.11.0/kubernetesapplicationresources.workload.crossplane.io.yaml
  community-operators/crossplane/0.11.0/kubernetesapplications.workload.crossplane.io.yaml
  community-operators/crossplane/0.11.0/kubernetesclusters.compute.crossplane.io.yaml
  community-operators/crossplane/0.11.0/kubernetestargets.workload.crossplane.io.yaml
  community-operators/crossplane/0.11.0/machineinstances.compute.crossplane.io.yaml
  community-operators/crossplane/0.11.0/manualscalertraits.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/mysqlinstances.database.crossplane.io.yaml
  community-operators/crossplane/0.11.0/nosqlinstances.database.crossplane.io.yaml
  community-operators/crossplane/0.11.0/packageinstalls.packages.crossplane.io.yaml
  community-operators/crossplane/0.11.0/packages.packages.crossplane.io.yaml
  community-operators/crossplane/0.11.0/postgresqlinstances.database.crossplane.io.yaml
  community-operators/crossplane/0.11.0/providers.kubernetes.crossplane.io.yaml
  community-operators/crossplane/0.11.0/redisclusters.cache.crossplane.io.yaml
  community-operators/crossplane/0.11.0/scopedefinitions.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/stackdefinitions.packages.crossplane.io.yaml
  community-operators/crossplane/0.11.0/traitdefinitions.core.oam.dev.yaml
  community-operators/crossplane/0.11.0/workloaddefinitions.core.oam.dev.yaml
  community-operators/crossplane/0.9.0/applicationconfigurations.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/buckets.storage.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/clusterstackinstalls.stacks.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/components.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/containerizedworkloads.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/crossplane.v0.9.0.clusterserviceversion.yaml
  community-operators/crossplane/0.9.0/kubernetesapplicationresources.workload.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/kubernetesapplications.workload.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/kubernetesclusters.compute.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/kubernetestargets.workload.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/machineinstances.compute.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/manualscalertraits.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/mysqlinstances.database.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/nosqlinstances.database.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/postgresqlinstances.database.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/providers.kubernetes.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/redisclusters.cache.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/scopedefinitions.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/stackdefinitions.stacks.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/stackinstalls.stacks.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/stacks.stacks.crossplane.io.crd.yaml
  community-operators/crossplane/0.9.0/traitdefinitions.core.oam.dev.crd.yaml
  community-operators/crossplane/0.9.0/workloaddefinitions.core.oam.dev.crd.yaml
  community-operators/crossplane/ci.yaml
  community-operators/crossplane/crossplane.package.yaml
Labels: ok-to-test, openshift-operator, openshift-started, package-validated

#3872 Added automerge disabled
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3873 Fix typo
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3874 slack monitoring always
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3857 community-operators [N] [CI] universal-crossplane (1.2.1-up.3)
  community-operators/universal-crossplane/1.2.1-up.3/Dockerfile
  community-operators/universal-crossplane/1.2.1-up.3/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/compositions.apiextensions.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/configurationrevisions.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/configurations.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/controllerconfigs.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-admin.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-admin.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-browse.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-edit.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-edit.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-rbac-manager.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-rbac-manager.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-view.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-view.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane.ServiceAccount.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane_aggregate-to-edit.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane_aggregate-to-view.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane_allowed-provider-permissions.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane_system_aggregate-to-crossplane.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/locks.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/providerrevisions.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/providers.pkg.crossplane.io.CustomResourceDefinition.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/rbac-manager.ServiceAccount.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/universal-crossplane-config.ConfigMap.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/universal-crossplane.1.2.1-up.3.clusterserviceversion.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-impersonator.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-impersonator.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-secret.Role.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-secret.RoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-tls.Secret.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-uxp-config.Role.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-uxp-config.RoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent.Service.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent.ServiceAccount.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-bootstrapper.ClusterRole.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-bootstrapper.ClusterRoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-bootstrapper.Role.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-bootstrapper.RoleBinding.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-bootstrapper.ServiceAccount.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/uxp-ca.Secret.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/xgql-tls.Secret.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/xgql.Service.yaml
  community-operators/universal-crossplane/1.2.1-up.3/manifests/xgql.ServiceAccount.yaml
  community-operators/universal-crossplane/1.2.1-up.3/metadata/annotations.yaml
  community-operators/universal-crossplane/ci.yaml
Labels: allow/operator-recreate, installation-validated, new-operator, ok-to-test, openshift-operator, package-validated

#3875 community-operators [R] [CI] cockroachdb (5.0.3)
  community-operators/cockroachdb/5.0.3/metadata/annotations.yaml
  community-operators/cockroachdb/ci.yaml
Labels: allow/operator-version-overwrite, allow/serious-changes-to-existing, automerge-disabled, ok-to-test, openshift-operator, package-validated

#3876 title for monitoring
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3870 community-operators infinispan (2.1.4)
  community-operators/infinispan/2.1.4/infinispan-operator.v2.1.4.clusterserviceversion.yaml
  community-operators/infinispan/2.1.4/infinispan.org_backups_crd.yaml
  community-operators/infinispan/2.1.4/infinispan.org_batches_crd.yaml
  community-operators/infinispan/2.1.4/infinispan.org_caches_crd.yaml
  community-operators/infinispan/2.1.4/infinispan.org_infinispans_crd.yaml
  community-operators/infinispan/2.1.4/infinispan.org_restores_crd.yaml
  community-operators/infinispan/infinispan.package.yaml
Labels: automerge-disabled, installation-validated, ok-to-test, openshift-operator, package-validated

#3879 monitoring 2
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3865 community-operators [R] community-windows-machine-config-operator (0.0.1 0.1.0 1.0.0 2.0.0 2.0.1)
  community-operators/community-windows-machine-config-operator/0.0.1/metadata/annotations.yaml
  community-operators/community-windows-machine-config-operator/0.1.0/metadata/annotations.yaml
  community-operators/community-windows-machine-config-operator/1.0.0/metadata/annotations.yaml
  community-operators/community-windows-machine-config-operator/2.0.0/metadata/annotations.yaml
  community-operators/community-windows-machine-config-operator/2.0.1/metadata/annotations.yaml
Labels: allow/operator-recreate, installation-failed, ok-to-test, openshift-operator, package-validated

#3877 Automerge enabled
  .github/workflows/command_merge.yml
  .github/workflows/operator_ci.yaml
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes, automerge-disabled, do-not-merge/hold, package-validated

#3869 upstream-community-operators infinispan (2.1.4)
  upstream-community-operators/infinispan/2.1.4/infinispan-operator.v2.1.4.clusterserviceversion.yaml
  upstream-community-operators/infinispan/2.1.4/infinispan.org_backups_crd.yaml
  upstream-community-operators/infinispan/2.1.4/infinispan.org_batches_crd.yaml
  upstream-community-operators/infinispan/2.1.4/infinispan.org_caches_crd.yaml
  upstream-community-operators/infinispan/2.1.4/infinispan.org_infinispans_crd.yaml
  upstream-community-operators/infinispan/2.1.4/infinispan.org_restores_crd.yaml
  upstream-community-operators/infinispan/infinispan.package.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#3882 remove test
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#3880 upstream-community-operators [CI] apicurio-registry (1.0.0-v2.0.0.final)
  upstream-community-operators/apicurio-registry/1.0.0-v2.0.0.final/apicurio-registry-operator.clusterserviceversion.yaml
  upstream-community-operators/apicurio-registry/1.0.0-v2.0.0.final/apicurio-registry-operator_v1_serviceaccount.yaml
  upstream-community-operators/apicurio-registry/1.0.0-v2.0.0.final/registry.apicur.io_apicurioregistries.yaml
  upstream-community-operators/apicurio-registry/apicurio-registry-operator.package.yaml
  upstream-community-operators/apicurio-registry/ci.yaml
Labels: installation-validated, kubernetes-operator, package-validated

#3718 Update Self-Merging documentation
  docs/contributing-via-pr.md
  docs/operator-fast-deploy.md
  docs/self-merge-updates.md
  mkdocs.yml
Labels: allow/ci-changes, do-not-merge/hold, kind/documentation, package-validated

#3878 community-operators cockroachdb (5.0.4)
  community-operators/cockroachdb/5.0.4/bundle.Dockerfile
  community-operators/cockroachdb/5.0.4/manifests/charts.operatorhub.io_cockroachdbs.yaml
  community-operators/cockroachdb/5.0.4/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  community-operators/cockroachdb/5.0.4/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  community-operators/cockroachdb/5.0.4/manifests/cockroachdb.clusterserviceversion.yaml
  community-operators/cockroachdb/5.0.4/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#3886 upstream-community-operators [CI] hive-operator (1.1.4)
  upstream-community-operators/hive-operator/1.1.4/hive-operator.v1.1.4.clusterserviceversion.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_checkpoints.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_clusterclaims.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_clusterdeployments.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_clusterdeprovisions.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_clusterimagesets.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_clusterpools.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_clusterprovisions.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_clusterrelocates.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_clusterstates.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_dnszones.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_hiveconfigs.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_machinepoolnameleases.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_machinepools.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_selectorsyncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_selectorsyncsets.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_syncidentityproviders.yaml
  upstream-community-operators/hive-operator/1.1.4/hive.openshift.io_syncsets.yaml
  upstream-community-operators/hive-operator/1.1.4/hiveinternal.openshift.io_clustersyncleases.yaml
  upstream-community-operators/hive-operator/1.1.4/hiveinternal.openshift.io_clustersyncs.yaml
  upstream-community-operators/hive-operator/1.1.4/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  upstream-community-operators/hive-operator/ci.yaml
  upstream-community-operators/hive-operator/hive.package.yaml
Labels: installation-validated, kubernetes-operator, package-validated

#3887 community-operators [CI] hive-operator (1.1.4)
  community-operators/hive-operator/1.1.4/hive-operator.v1.1.4.clusterserviceversion.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_checkpoints.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_clusterclaims.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_clusterdeployments.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_clusterdeprovisions.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_clusterimagesets.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_clusterpools.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_clusterprovisions.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_clusterrelocates.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_clusterstates.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_dnszones.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_hiveconfigs.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_machinepoolnameleases.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_machinepools.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_selectorsyncidentityproviders.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_selectorsyncsets.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_syncidentityproviders.yaml
  community-operators/hive-operator/1.1.4/hive.openshift.io_syncsets.yaml
  community-operators/hive-operator/1.1.4/hiveinternal.openshift.io_clustersyncleases.yaml
  community-operators/hive-operator/1.1.4/hiveinternal.openshift.io_clustersyncs.yaml
  community-operators/hive-operator/1.1.4/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  community-operators/hive-operator/ci.yaml
  community-operators/hive-operator/hive.package.yaml
Labels: installation-validated, ok-to-test, openshift-operator, package-validated

#3881 community-operators [CI] apicurio-registry (1.0.0-v2.0.0.final)
  community-operators/apicurio-registry/1.0.0-v2.0.0.final/apicurio-registry-operator.clusterserviceversion.yaml
  community-operators/apicurio-registry/1.0.0-v2.0.0.final/apicurio-registry-operator_v1_serviceaccount.yaml
  community-operators/apicurio-registry/1.0.0-v2.0.0.final/registry.apicur.io_apicurioregistries.yaml
  community-operators/apicurio-registry/apicurio-registry-operator.package.yaml
  community-operators/apicurio-registry/ci.yaml
Labels: installation-validated, ok-to-test, openshift-operator, package-validated

#3871 upstream-community-operators [R] [CI] cloud-native-postgresql (1.1.0 1.2.1 1.3.0 1.4.0)
  upstream-community-operators/cloud-native-postgresql/1.1.0/bundle.Dockerfile
  upstream-community-operators/cloud-native-postgresql/1.1.0/tests/scorecard/.gitignore
  upstream-community-operators/cloud-native-postgresql/1.2.1/bundle.Dockerfile
  upstream-community-operators/cloud-native-postgresql/1.2.1/tests/scorecard/.gitignore
  upstream-community-operators/cloud-native-postgresql/1.3.0/bundle.Dockerfile
  upstream-community-operators/cloud-native-postgresql/1.3.0/tests/scorecard/.gitignore
  upstream-community-operators/cloud-native-postgresql/1.4.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  upstream-community-operators/cloud-native-postgresql/1.4.0/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  upstream-community-operators/cloud-native-postgresql/1.4.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  upstream-community-operators/cloud-native-postgresql/1.4.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  upstream-community-operators/cloud-native-postgresql/1.4.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  upstream-community-operators/cloud-native-postgresql/1.4.0/metadata/annotations.yaml
  upstream-community-operators/cloud-native-postgresql/1.4.0/tests/scorecard/.gitignore
  upstream-community-operators/cloud-native-postgresql/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, package-validated

#3891 Changed autormerge latest version
  .github/workflows/command_merge.yml
Labels: allow/ci-changes

#3889 upstream-community-operators [CI] kiali (1.33.0)
  upstream-community-operators/kiali/ci.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#3892 Improvments in handling only open issue
  .github/workflows/command_merge.yml
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3888 community-operators [CI] opendatahub-operator (1.0.10)
  community-operators/opendatahub-operator/ci.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, openshift-started, package-validated

#3899 Enhance openshist test exits
  scripts/ci/openshift-deploy-core.sh
  scripts/ci/openshift-deploy.sh
Labels: allow/ci-changes

#3900 Done when authorized-changes label is set
  .github/workflows/operator_ci_labels.yaml
Labels: allow/ci-changes

#3895 upstream-community-operators [CI] apicast-community-operator (0.4.0)
  upstream-community-operators/apicast-community-operator/ci.yaml
Labels: authorized-changes, installation-validated, kubernetes-operator, package-validated

#3901 fix exit
  scripts/ci/openshift-deploy-core.sh
Labels: allow/ci-changes

#3890 community-operators [CI] kiali (1.33.0)
  community-operators/kiali/ci.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#3902 Removeing new-operator from automerge
  .github/workflows/command_merge.yml
Labels: allow/ci-changes

#3898 community-operators [N] [CI] crane-operator (1.4.3)
  community-operators/crane-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, new-operator, ok-to-test, openshift-operator, package-validated

#3897 community-operators [CI] apicast-community-operator (0.4.0)
  community-operators/apicast-community-operator/ci.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#3656 Add title to README.md file
  README.md
Labels: allow/ci-changes

#3896 community-operators [CI] 3scale-community-operator (0.7.0)
  community-operators/3scale-community-operator/ci.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#3800 community-operators community-windows-machine-config-operator (2.0.2)
  community-operators/community-windows-machine-config-operator/2.0.2/manifests/community-windows-machine-config-operator.2.0.2.clusterserviceversion.yaml
  community-operators/community-windows-machine-config-operator/2.0.2/manifests/prometheusRule.yaml
  community-operators/community-windows-machine-config-operator/2.0.2/manifests/service-monitor.yaml
  community-operators/community-windows-machine-config-operator/2.0.2/manifests/service.yaml
  community-operators/community-windows-machine-config-operator/2.0.2/manifests/windows-exporter-role.yaml
  community-operators/community-windows-machine-config-operator/2.0.2/manifests/windows-exporter-role_binding.yaml
  community-operators/community-windows-machine-config-operator/2.0.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#3906 community-operators crane-operator (1.4.4)
  community-operators/crane-operator/1.4.4/manifests/backup.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/backupstoragelocation.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/crane-operator.v1.4.4.clusterserviceversion.yaml
  community-operators/crane-operator/1.4.4/manifests/deletebackuprequest.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/downloadrequest.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/migration.openshift.io_directimagemigrations.yaml
  community-operators/crane-operator/1.4.4/manifests/migration.openshift.io_directimagestreammigrations.yaml
  community-operators/crane-operator/1.4.4/manifests/migration.openshift.io_directvolumemigrationprogresses.yaml
  community-operators/crane-operator/1.4.4/manifests/migration.openshift.io_directvolumemigrations.yaml
  community-operators/crane-operator/1.4.4/manifests/migration.openshift.io_miganalytics.yaml
  community-operators/crane-operator/1.4.4/manifests/migration.openshift.io_migclusters.yaml
  community-operators/crane-operator/1.4.4/manifests/migration.openshift.io_mighooks.yaml
  community-operators/crane-operator/1.4.4/manifests/migration.openshift.io_migmigrations.yaml
  community-operators/crane-operator/1.4.4/manifests/migration.openshift.io_migplans.yaml
  community-operators/crane-operator/1.4.4/manifests/migration.openshift.io_migstorages.yaml
  community-operators/crane-operator/1.4.4/manifests/migrationcontroller.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/podvolumebackup.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/podvolumerestore.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/resticrepository.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/restore.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/schedule.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/serverstatusrequest.crd.yaml
  community-operators/crane-operator/1.4.4/manifests/volumesnapshotlocation.crd.yaml
  community-operators/crane-operator/1.4.4/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, ok-to-test, openshift-operator, package-validated

#3905 community-operators [N] [CI] konveyor-forklift-operator (2.0.0-beta.0)
  community-operators/konveyor-forklift-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, new-operator, ok-to-test, openshift-operator, package-validated

#3904 community-operators [N] [CI] oadp-operator (0.2.3)
  community-operators/oadp-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, new-operator, ok-to-test, openshift-operator, package-validated

#3907 fix brackets
  scripts/ci/openshift-deploy-core.sh
Labels: allow/ci-changes

#3491 doc: update best practices
  docs/best-practices.md
Labels: openshift-started

#3908 Reviewers
  .github/workflows/command_merge.yaml
  .github/workflows/operator_workflow_complete.yaml
  .github/workflows/reviewer.yaml
Labels: allow/ci-changes

#3909 Fix cosmetics
  .github/workflows/reviewer.yaml
Labels: allow/ci-changes

#3910 Print info about ci yaml only
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes

#3859 upstream-community-operators [N] [CI] universal-crossplane (1.2.1-up.3)
  upstream-community-operators/universal-crossplane/1.2.1-up.3/Dockerfile
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-admin.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-admin.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-browse.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-edit.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-edit.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-rbac-manager.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-view.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane-view.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/rbac-manager.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/universal-crossplane-config.configmap.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/universal-crossplane.1.2.1-up.3.clusterserviceversion.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-impersonator.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-secret.role.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-secret.rolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-tls.secret.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-uxp-config.role.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent-uxp-config.rolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent.service.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-agent.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-bootstrapper.clusterrole.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-bootstrapper.role.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-bootstrapper.rolebinding.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/upbound-bootstrapper.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/uxp-ca.secret.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/xgql-tls.secret.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/xgql.service.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/manifests/xgql.serviceaccount.yaml
  upstream-community-operators/universal-crossplane/1.2.1-up.3/metadata/annotations.yaml
  upstream-community-operators/universal-crossplane/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, kubernetes-operator, new-operator, package-validated

#3912 Info
  .github/workflows/operator_ci.yaml
Labels: allow/ci-changes
